[2021-08-02 02:09] SQLCanuck commented on #7649
@potatoqualitee to give you an update, we also make use of the SqlServerDsc module.  However, the updated Microsoft.Data.SqlClient provided in DbaTools creates a dependency conflict.  Which means the use of localhost references in DSC code also now no longer works for SQL Server.  This makes it a much larger problem, as it would mean creating a separate DSC for every server (to remove localhost re

[2021-08-02 09:35] potatoqualitee commented on #7649
Yeah, all 3 seem like reasonable solutions. I'm not sure when Microsoft will be moving to Microsoft.Data for the PowerShell things. You may want to file an issue on the SqlServerDsc repo. One big issue, though, is that the SqlServer module is still on System.Data, so I imagine they won't be very motivated to migrate until at least the SqlServer module is updated.

[2021-08-02 10:17] #7664 closed

[2021-08-02 10:19] MikeyBronowski commented on #7504
Looks good to me :) Should we follow that template for other Get-Dba* commands, so this works nicely with Remove-Dba* cmdlts?

[2021-08-02 10:56] potatoqualitee commented on #7664
Please download the latest update! but also, something seems up with your import and i'd still like to know the details if you can share.

[2021-08-02 12:54] niphlod commented on #7528
hi @carpewil , would you give https://github.com/sqlcollaborative/dbatools/pull/7668 a try ?

[2021-08-02 14:53] carpewil commented on #7528
Wasn't 100% certain what I needed to do so let me explain the steps I took.
Using your link I opened the raw text file for the Test-DbaWindowsLogin function, copied it and pasted into the Test-DbaWindowsLogin.ps1 file on my machine. I then imported the dbatools module and ran the following along with results:

PS C:\WINDOWS\system32> Test-DbaWindowsLogin -SqlInstance MYINSTANCE -Login "DOMAIN\MYGR

[2021-08-02 15:46] #7504 closed

[2021-08-02 16:54] niphlod commented on #7528
line 253 searches for group, line 159 for users . Get-DbaADObject is an internal function, you can find it under the internals folder.

BTW, replacing the function code works but only if you have a .git folder in the module path. dbatools speeds things up with allcommands.ps1 otherwise. If a .git folder is found where dbatools.psd1 lives, allcommands.ps1 is discarded and the whole source code is l

[2021-08-02 18:41] carpewil commented on #7528
Is it just the existence of a .git folder thats needed? Or do I need to have something in the .git folder?
________________________________
From: Simone Bizzotto ***@***.***>
Sent: Monday, August 2, 2021 11:54 AM
To: sqlcollaborative/dbatools ***@***.***>
Cc: carpewil ***@***.***>; Mention ***@***.***>
Subject: Re: [sqlcollaborative/dbatools] [Bug] Test-DbaWindowsLogin searches by SAMAccountName s

[2021-08-02 18:41] kensorensen2001 opened #7669 "Write-DbaDataTable iterating row by row; not inserting input as a set"
### Verified issue does not already exist?

Yes

### What error did you receive?

No Error, but poor INSERT performance. Instead of inserting the input as a set, it is inserting to the target table row by row. This can be verified with a SQL trace, and running a count on the target table while the PS1 script executes.

I first found this with dbatools version 1.0.164, but also repro'd with version

[2021-08-02 19:08] potatoqualitee commented on #7669
Hey Ken,
Thanks for taking the time to file this issue. I noticed that you used AutoCreateTable which uses varchar(max) galore. Here's ah example for piping Get-ChildItem -File

![image](https://user-images.githubusercontent.com/8278033/127911137-ef39ebf2-9a4a-489f-a428-bfba62a8d3f1.png)

This ensures you can write with no issue but is really slow. Nevertheless, I'll take a look to see what could

[2021-08-02 19:33] potatoqualitee commented on #7669
When I run the following with a SQL trace:

`Write-DbaDataTable -SqlInstance localhost -Database tempdb -Table files -InputObject $files`

I only get two insert bulk hits for 2k rows -- starting and completing.

![image](https://user-images.githubusercontent.com/8278033/127913293-45b6e85d-61f6-4fd9-956f-b62fa8623359.png)

It is a bit slow to convert to a datatable (before it hits the db) but we've

[2021-08-02 21:54] bigbearzhu commented on #7664
Thanks I think 1.1.6 has got the issue fixed!

This is the import log for 1.1.5 when I ran `Import-Module dbatools -Verbose`. It has `Update-DbaBuildReference` alias but not the `Get-DbaBuildReference`.
[dbatools.log](https://github.com/sqlcollaborative/dbatools/files/6919812/dbatools.log)

[2021-08-02 23:24] kensorensen2001 commented on #7669
Thanks for the updates!  I'm aware of the issue with autocreate; in our case we already have the tables instantiated.

What kind of conversion time are you seeing for the marshaling and prep for the insert?  Still, that doesn't get at why we are seeing our process create a bulk insert for *each* record.

Did the ps1 script I attached work as a single batch for you?

[2021-08-03 06:19] niphlod commented on #7528
just the folder

[2021-08-03 06:37] potatoqualitee commented on #7669
It makes sense that it does it row by row if you pipe it in, we do document that it's convenient but slow. The best way to improve speed is by using `-InputObject` which you did in the second command. Since the batch size is 50000, I imagine it'll make a bulk insert call every 50k rows.

[2021-08-03 07:56] tboggiano commented on #7646
I started on my cloned repo under branch 7646, I can only get it change the backup directory which is a bummer but the outline is there if someone can figure the rest out.

[2021-08-03 08:09] potatoqualitee commented on #7646
I'll take a look, thank you!

[2021-08-03 08:58] potatoqualitee commented on #7646
Looks like it requires a restart before it shows up 👍🏼

[2021-08-03 09:02] tboggiano commented on #7646
I thought it might be something like that but I looked at configured vs running values and they were no different.  And warning ErrorLog is a read only property, so we may need to leave it out or find a different way to edit it.

[2021-08-03 09:05] potatoqualitee commented on #7646
ohh i wondered! that is done using set parameter. i didnt test that one, ill remove it.

[2021-08-03 09:08] tboggiano commented on #7646
Yeah I was trying to set all the ones that were in the same Get command

[2021-08-03 09:09] potatoqualitee commented on #7646
just removed and added a note to use Set-DbaStartupParameter for error log

[2021-08-03 09:09] tboggiano commented on #7646
👍

[2021-08-03 09:57] potatoqualitee commented on #7669
gonna close this issue as i cannot repro with the recommended method, all others are slow as expected. happy to continue talking about it, however.

[2021-08-03 09:57] #7669 closed

[2021-08-03 09:58] potatoqualitee commented on #7428
This is not possible at the moment, however I'm eager to support it and will do so once this issue is resolved: https://github.com/microsoft/sqlmanagementobjects/issues/59

[2021-08-03 09:58] #7428 closed

[2021-08-03 10:01] potatoqualitee commented on #7433
Yeah, this is against a process like yall said. I asked Lee if it's possible for an AD account and will see what he says.

[2021-08-03 10:01] #7433 closed

[2021-08-03 10:04] potatoqualitee commented on #3315
Mmm, not automated enough. Closing.

[2021-08-03 10:04] #3315 closed

[2021-08-03 10:06] potatoqualitee commented on #6511
Sure can!

![image](https://user-images.githubusercontent.com/8278033/127998030-a25b324c-3a9d-449f-ad7a-b71de1aabfae.png)

Let me see what I can do.

[2021-08-03 10:28] potatoqualitee commented on #6511
lol just saw your solution. @ACALVETT  ! thanks for that. next time, i'll read more closely. sorry this took so long to fix, 2020 blew.

[2021-08-03 11:16] ACALVETT commented on #6511
No problem! Thanks for the fix. 1 more reason to update our automation platform to the latest version of dbaTools :)

[2021-08-03 11:30] potatoqualitee commented on #7116
try now  @alvipeo, we changed the libraries a lot in v1.1.0

[2021-08-03 13:50] #7646 closed

[2021-08-03 13:51] #6511 closed

[2021-08-03 15:44] kensorensen2001 commented on #7669
Did find a resolution for this in the documentation: https://docs.dbatools.io/Write-DbaDbTableData  example 2.  It show the extraction of the data using Invoke-Query *-As DataSet*.  To get this to work I set the column names and datatypes delivered by Invoke-Query to match EXACTLY (including case sensitivity of column names) those of the target table.

Thanks for your help with this!

[2021-08-04 10:05] potatoqualitee commented on #7528
You can also download this zip: https://github.com/niphlod/dbatools/archive/refs/heads/fix/7528.zip and `import-module ./dbatools.psd1`

[2021-08-04 13:54] carpewil commented on #7528
Not working.
Tried this:
PS C:\Users\myprofile\Downloads\dbatools-fix-7528> Import-Module ./dbatools.psd1
Import-Module : The specified module './dbatools.psd1' was not loaded because no valid module file was found in any
module directory.
At line:1 char:1
+ Import-Module ./dbatools.psd1
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (./dbatools.psd1:String) [Im

[2021-08-04 15:15] SQLDBAWithABeard opened #7673 "Cant load Microsoft.Identity.Client.dll on an Ubuntu Azure DevOps Agent"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]
### Steps to Reproduce

Created a brand new Azure DevOps Pipeline in my own org using ubuntu-latest
Created a step using Azure PowerShell task

[code]

### Are you running the latest release?

Yes

### Other details or mentions

The resolution for now was to pin the Install and Import to Version 1.0.173

### W

[2021-08-04 18:57] shueybubbles commented on #7673
I think you'll either have to figure out what code in the pipeline is loading an older version of `microsoft.identity.client` and somehow reorder the loads so yours comes first, or switch to a different API that allows multiple versions of the DLL to co-exist in the process.

See https://github.com/dotnet/samples/tree/main/core/extensions/AppWithPlugin

[2021-08-04 19:05] RandyInMarin opened #7675 "Get-DbaInstanceInstallDate does not return a date for some instances"
### Verified issue does not already exist?

Yes

### What error did you receive?

A date failed to return without error.

### Steps to Reproduce

[code]
#Requires -Version '7.0'
#Requires -Module @{ ModuleName = 'DbaTools'; ModuleVersion = '1.1.6' }
Get-DbaInstanceInstallDate -SqlInstance 'xxxx\xxxx' -IncludeWindows

ComputerName       : xxxx
InstanceName       : xxxx
SqlInstance        : xxxx\xxx

[2021-08-04 19:44] SQLDBAWithABeard commented on #7673
I'll take a look tomorrow when I'm back with client. What changed between 1.0.173 and 1.1 ?
The version of the dll?

[2021-08-04 22:34] potatoqualitee commented on #7673
Yeah, I updated every library I could find, including that one. Something else I can potentially do for that library is to test if it's already loaded and load if not 🤔

[2021-08-05 05:36] SQLDBAWithABeard commented on #7673
Just created a dummy pipeline in my org which I have access to. Here is the full log

[code]

So it starts by importing the Az.Accounts module which I guess is where that dll is loaded. Which means that @shueybubbles idea of altering the order of loading wont work.

[2021-08-05 06:59] potatoqualitee commented on #7673
Thanks Rob! Can you try with the `checkassembly` branch?

[2021-08-05 07:00] potatoqualitee commented on #7673
after my tests pass 😅

[2021-08-05 07:10] potatoqualitee commented on #7673
looks good

![image](https://user-images.githubusercontent.com/8278033/128307160-bb3af7e9-f5fc-4eb8-9f02-f4f394e0cae1.png)

[2021-08-05 07:20] potatoqualitee commented on #7675
Thanks for the report! can you please test with this code from a fresh powershell session?

https://github.com/sqlcollaborative/dbatools/archive/refs/heads/Get-DbaInstanceInstallDate.zip

[2021-08-05 07:25] niphlod commented on #7528
hey @carpewil , would you be available to hop on slack and have a quick chat so we can try and solve the issue ?

[2021-08-05 09:10] SQLDBAWithABeard commented on #7673
Nope, that doesnt work

![image](https://user-images.githubusercontent.com/6729780/128324046-9f500a8e-4793-4200-931d-ef3712554de5.png)

but this on line 134

` if (-not (($assemblies.FullName | Out-String).Contains("$name,".Replace("win\", "")))) {`

Does
![image](https://user-images.githubusercontent.com/6729780/128324226-1797f534-7912-4465-ac5e-e4efbf94d2d7.png)

I get green for the Azure DevOps

[2021-08-05 09:20] potatoqualitee commented on #7673
Thank you! Will update and merge 👍🏼

[2021-08-05 10:00] #7673 closed

[2021-08-05 12:26] habibhammy opened #7679 "Connexion Issues unless FQDN name is used"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi Team,

I discovered lately that we are facing issues with the latest DBATOOLS versions (starting from v1.1.0).
Actually, I have a statistic Powershell script that runs every month. The script connects to each SQL server and get statistics over the hosted databases in it. However, the script is failing with all the

[2021-08-05 12:42] potatoqualitee commented on #7679
Thanks for the issue, @habibhammy ! I just created this discussion to explain what's going on.

https://github.com/sqlcollaborative/dbatools/discussions/7680

Fortunately, this error is new and expected as Microsoft changed their settings to be more secure, but the fix can be quick and easy.

[2021-08-05 12:42] #7679 closed

[2021-08-05 13:41] JoelMiller74 opened #7681 "Add-DbaServerRoleMember and Remove-DbaServerRoleMember"
### Summarize Command's Functionality'

It appears there are commands to add and remove Server roles, add and remove DB roles, and add/remove members from a DB role. However, there are no commands to add/remove members from server roles. I am trying to automate everything in our SQL Server cookbooks (we use Chef) using DBATools and feel this one is critical to get automated.
Thanks!

### Is there

[2021-08-05 15:07] MikeyBronowski opened #7684 "Get-DbaAgentJobOutputFile - opening output files does not work"
### Verified issue does not already exist?

Yes

### What error did you receive?

The two examples won't work as
1) the OpenFile parameter does not exist
2) FileName is not a proper name of the property
3) When the tokens are used the path is not translated into an actual file path, i.e. the output will have this
`\\localhost\$(ESCAPE_SQUOTE(SQLLOGDIR))\$(ESCAPE_SQUOTE(JOBNAME))_$(ESCAPE_SQUOTE(ST

[2021-08-05 15:32] MikeyBronowski commented on #7681
Have you tried this one for adding members to the server role?
https://docs.dbatools.io/Add-DbaServerRoleMember

[2021-08-05 16:40] JoelMiller74 commented on #7681
No. I did not know that existed. I look for the list of all commands on the commands page: https://dbatools.io/commands/
Then, I look for syntax on the docs page: https://docs.dbatools.io/
It appears that Add-DbaServerRoleMember is not on the commands page, but is on the docs page.
However, it appears that Remove-DbaServerRoleMember is missing from both.
Thanks!

[2021-08-05 16:57] niphlod commented on #7684
ahum, funny.
we have the whole logic in Get-DbaAgentJobHistory for the tokens, either we copy it or we refactor.
But the probl is that tokens are only valuable when seeing the history . I think this just makes a pair with Set-DbaAgentOutputFile, and is good only for fixed "append-only" paths, of course.
-OpenFile is not a param, so that example doesn't make sense.
The other one just for fixed path

[2021-08-05 17:23] RandyInMarin opened #7685 "Get-DbaRegServerGroup does not parse a group path"
### Verified issue does not already exist?

Yes

### What error did you receive?

There are no errors returned, but nothing is returned when a group path uses a single backslash to separate the group names.

The desired group is returned when a group path uses a double backslash to separate group names.  I don't think this is expected.

### Steps to Reproduce

[code]

[code]

### Are you running t

[2021-08-05 17:26] RandyInMarin commented on #7685
Hi.  My double \ got escaped in the above.  I'll try escaping them.

Get-DbaRegServerGroup SQLDBAPROD -Group 'Test\\\\SubTest1' |
%{write-debug ("5. Test\\\\SubTest1: Name = {0}" -f $.name) -debug}
Get-DbaRegServerGroup SQLDBAPROD -Group 'Test\\\\SubTest2' |
%{write-debug ("6. Test\\\\SubTest2: Name = {0}" -f $.name) -debug}

I see regex \\\\ escapes in the code which are required. Then there's $s

[2021-08-05 17:27] RandyInMarin commented on #7685
That worked.  Sorry for the noise.  I'll try to edit the original test.

[2021-08-05 17:52] paschott opened #7686 "Update-DbaInstance - fails with trailing "\" in Path parameter"
### Verified issue does not already exist?

Yes

### What error did you receive?

I didn't record exactly. It gave me errors about a NULL path.  When I adjusted the Path from "C:\Temp\" to "C:\Temp", the command worked fine.

### Steps to Reproduce

[code]
Run:
Update-DbaInstance -ComputerName localhost -Type CumulativeUpdate -Download -Path C:\Temp\
 --Got error (might have had path in double-quo

[2021-08-05 19:12] MikeyBronowski commented on #7684
@niphlod oh, i did not notice you there - apologies. Well, technically not you ;-)

I will raise a PR removing the examples and fixing the "old'.

[2021-08-05 19:14] MikeyBronowski commented on #7681
@JoelMiller74  you're right about the Remove-* function, it's not in the module.

@potatoqualitee can you please remind me what is the best way to update the  https://dbatools.io/commands/ page content? In the past it was WordPress, but don't think I made any changes since the migration.

[2021-08-06 10:23] potatoqualitee commented on #7685
Thank you for the report! Sure enough, the original method works in Windows PS but not PS Core. I've submitted a fix 👍🏼

[2021-08-06 10:26] potatoqualitee commented on #7675
Hey Randy, sorry, I merged and deleted the branch by the time you ran it.

I added

[code]

Can you run with `Verbose` and tell me if you see `Trying again to get Install Date for: $instance`

[2021-08-06 10:30] #7686 closed

[2021-08-06 10:42] #7685 closed

[2021-08-06 10:48] potatoqualitee commented on #7681
Thanks, @MikeyBronowski! The website is severely out of date until I figure out how to automatically update it in our publish process. Till then, it can be updated here: https://github.com/sqlcollaborative/web/tree/html/commands

[2021-08-06 15:44] mattcargile opened #7689 "Export-DbaDbRole - Normalize Export File Line Endings"
### Summarize Functionality

Convert `$prefix` to use `` `r`n `` line endings like the SQL Server uses and like the `$BatchSeperator` uses within the lines below.
https://github.com/sqlcollaborative/dbatools/blob/3359ca3afd5792bd957a12d625a43c35eaca96f3/functions/Export-DbaDbRole.ps1#L370-L379

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

[2021-08-06 18:09] yzorg commented on #7689
consider $Eol = [System.Environment]::NewLine, then "$BatchSeparator$Eol"

[2021-08-06 19:39] RandyInMarin commented on #7675
Hi Chrissy, verbose does show that it is trying again.  Changing create_date to schemadata might be all that's needed.  The following works for me.

`(Invoke-DbaQuery -SqlInstance 'ODDSERVER' -Database 'master' -Query 'SELECT schemadate FROM sysservers').schemadate`

I wonder if "Set-StrictMode -Version Latest" might help in development.

[2021-08-06 21:35] SQLGB opened #7690 "DataMasking category issue on page https://dbatools.io/commands/"
### Verified issue does not already exist?

Yes

### What error did you receive?

This is not a dbatools module code issue, but on page [https://dbatools.io/commands/](https://dbatools.io/commands/), in the Categories section, "Data Masking" appears twice.  One occurrence has a valid anchor, the other does not.

### Steps to Reproduce

N/A

### Are you running the latest release?

Yes

### Other d

[2021-08-07 10:41] andreasjordan commented on #6885
I will convert this into a discussion and also close the related pull request, but leave the branch still active.
Maybe there is a new discussion about this topic in the near future.
But as we don't see bug reports related to this, this is probably not a big issue for the users and so we don't have to take of that.

[2021-08-07 10:42] #6885 closed

[2021-08-07 11:03] andreasjordan commented on #2190
I someone is interested working on this, see #7693.

[2021-08-07 11:04] andreasjordan commented on #3806
If someone is interested working on this, see #7693.

[2021-08-07 11:04] andreasjordan commented on #3807
If someone is interested working on this, see #7693.

[2021-08-07 11:05] andreasjordan commented on #3808
If someone is interested working on this, see #7693.

[2021-08-07 11:10] andreasjordan commented on #7689
Searching the code for "`r" shows more that 20 other files which should be updated also.

[2021-08-08 13:20] potatoqualitee commented on #7675
oops! no wonder it didn't work. that change makes sense. Thank you

[2021-08-08 13:28] potatoqualitee commented on #7689
sweet, that `$eol` snippet is helpful. I couldn't figure out which one would resolve that issue. @andreasjordan would you like to do the batch?

[2021-08-08 14:09] andreasjordan commented on #7689
Yes, will do that. Do we call the variable `$eol` for end of line?

[2021-08-08 15:41] potatoqualitee commented on #7689
thank you so much! that sounds great

[2021-08-09 08:34] #7675 closed

[2021-08-09 10:43] Littlebobbytable5 opened #7698 "Move-DbaDbFile fails to move the datafile when attempting on a secondary AG."
### Verified issue does not already exist?

Yes

### What error did you receive?

Move-DbaDbFile -SqlInstance sqlNode02 -Database myDB -FileType Data -FileDestination E:\SQLData -DeleteAfterMove -Verbose
VERBOSE: [15:02:07][Get-DbaDbFile] Querying database [myDB]
VERBOSE: Performing the operation "Setting database myDB offline" on target "myDB".
VERBOSE: [15:02:07][Set-DbaDbState] Setting database

[2021-08-09 10:50] potatoqualitee commented on #7698
Thank you for the report @Littlebobbytable5 - can you try with powershell.exe and let us know if you encounter the same error?

[2021-08-09 10:59] Littlebobbytable5 commented on #7698
Just did, makes NO difference sadly, **and** I wasn't expecting any either. Because the source code **does not** handle Availability Groups. I've gone through the source code and unless I am missing something very obvious there is NO test to see if the DB id participating in AG or if the SQL instance is Primary or not.

[2021-08-09 11:12] potatoqualitee commented on #7698
Thank you for testing! @ClaudioESSilva - can you please check this out? Was it expected that it would work on the secondary? If not, we can update the docs.

[2021-08-09 11:15] Littlebobbytable5 commented on #7698
Thanks mate.
PS: https://github.com/sqlcollaborative/dbatools/blob/d2f368169408697d089fab85eda2cc9b1f516d5f/functions/Move-DbaDbFile.ps1#L182
The check here to see if the DB has gone offline just rams through, even when there is exception (see my errorlog above). It should, technically, stop executing the function IMO, but I shall leave that to the author to decide.
Once again, thank you.

[2021-08-09 14:06] carpewil commented on #7528
Sorry for the delayed response. Been a very busy last several days. I’ll have to setup an account on Slack, but that’s fine. Please let me know a good time. I’m in Central time zone

Please pardon crafty autocorrects from my “smartphone”
________________________________
From: Simone Bizzotto ***@***.***>
Sent: Thursday, August 5, 2021 2:25:33 AM
To: sqlcollaborative/dbatools ***@***.***>
Cc: carpe

[2021-08-09 15:17] andreasjordan commented on #6587
It works! PR will follow. Thank you very much.

[2021-08-10 05:14] SahFari opened #7702 "Could not install lastest CU for SQL 2019 (2019SP0CU12) using Update-DbaInstance"
### Verified issue does not already exist?

No

### What error did you receive?

Hi,
Could not install lastest CU for SQL 2019 (2019SP0CU12) using Update-DbaInstance.

We got this message: [Get-SqlInstanceUpdate] Couldn't find an exact build match with specified parameters while updating SQL2019

However, CU12 is listed as the lastest CU for 2019 on https://sqlcollaborative.github.io/builds.

I ha

[2021-08-10 09:21] andreasjordan commented on #7702
You might need to update your local build reference with `Update-DbaBuildReference`: https://docs.dbatools.io/Update-DbaBuildReference

[2021-08-10 09:32] SahFari commented on #7702
Aha, Thank you! Will test that next week, when we are going to upgrade dev environment!

Kind Regard,
/Fari

[2021-08-10 09:37] andreasjordan commented on #7702
Ok, I will close this now. If you still have problems next week, you can reopen it.

[2021-08-10 09:37] #7702 closed

[2021-08-10 10:19] #7689 closed

[2021-08-10 10:28] MikeyBronowski commented on #7684
Fixed in #7683

[2021-08-10 10:28] #7684 closed

[2021-08-10 12:16] EitanBlumin opened #7704 "[Bug] ScriptOnly cannot create file due to colon after protocol name in file path"
### Verified issue does not already exist?

Yes

### What error did you receive?

If the target SQL instance is specified as ".", then it returns error message:

[code]

If connecting to an instance via TCP, then there's no error message. But the generated script file is still not created.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

[2021-08-10 14:15] andreasjordan commented on #7704
Thanks for the bug report. As $cleaninstance is used to build the filename, I changed that variable. $instance has to stay untouched, as it is later transfered back to a [DbaInstance].

[2021-08-10 14:17] andreasjordan commented on #7704
Ups, now I see that you also reported a problem in converting $instance back to [DbaInstance]. So the pull request will not solve that problem. Will see what I can do...

[2021-08-10 14:26] andreasjordan commented on #7704
Now I added a very dirty Replace to make it work. But the command should be completly rewritten - are you interested, @EitanBlumin ?

[2021-08-10 16:59] mattcargile opened #7707 "Update-Dbatools - Cleanup Switch Current Version In Use"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

_No response_

### Other details or mentions

#### Direct Output from Powershell.exe

[code]

#### P.S.
I was using an Administrator console. I was upgrading from `1.1.9` to `1.1.10`. I want to say this worked previously because I was ru

[2021-08-10 17:35] bedgertonshc opened #7708 "GITHUB FUCKING SUCKS ASS!!!!!"
### Verified issue does not already exist?

No

### What error did you receive?

GITHUB SHOULD KISS BIG BLACK PUSS INFECTED SORES

### Steps to Reproduce

GITHUB SHOULD KISS BIG BLACK PUSS INFECTED SORES

### Are you running the latest release?

_No response_

### Other details or mentions

GITHUB SHOULD KISS BIG BLACK PUSS INFECTED SORESGITHUB SHOULD KISS BIG BLACK PUSS INFECTED SORESGITHUB SHOUL

[2021-08-10 17:45] bedgertonshc opened #7709 "Cannot be used with Invoke-PolicyEvaluation"
### Verified issue does not already exist?

No

### What error did you receive?

Invoke-PolicyEvaluation : Value cannot be null.

### Steps to Reproduce

# Doesn't work for dbatools policy:

$dbapolicies = Get-DbaPbmPolicy -SqlInstance $cmsServer -Category $cmsPolicyCategoryName
$dbapolicy = $dbapolicies[0]
Invoke-PolicyEvaluation -Policy $dbapolicy -TargetServerName "dbserver.domain.com" -AdHocPo

[2021-08-10 19:25] #7708 closed

[2021-08-10 19:32] #7709 closed

[2021-08-10 19:42] github523321 opened #7710 "Invoke-PolicyEvaluation : Value cannot be null"
### Verified issue does not already exist?

Yes

### What error did you receive?

Invoke-PolicyEvaluation : Value cannot be null.

### Steps to Reproduce

# Doesn't work for dbatools policy:

$dbapolicies = Get-DbaPbmPolicy -SqlInstance $cmsServer -Category $cmsPolicyCategoryName
$dbapolicy = $dbapolicies[0]
Invoke-PolicyEvaluation -Policy $dbapolicy -TargetServerName "dbserver.domain.com" -AdHocP

[2021-08-10 19:47] sanderstad commented on #7710
Issue has nothing to do with dbatools. Closing it

[2021-08-10 19:47] #7710 closed

[2021-08-10 20:11] potatoqualitee commented on #7707
i actually wondered how your suggestion worked because of the DLLs, and a cloned repo + other versions makes sense. i'm not sure there is a resolution to this. Would it be to skip a version?

[2021-08-10 20:11] #7704 closed

[2021-08-10 22:16] kthurberNCI opened #7712 "Connect-DbaInstance returns a reference to a DLL which does not exist"
### Verified issue does not already exist?

Yes

### What error did you receive?

Error connecting to [localhost\SQLEXPRESS]: Unable to load DLL 'Microsoft.Data.SqlClient.SNI.x86.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

### Steps to Reproduce

[code]
Installed SQL Express with instance name localhost\SQLExpress
Created database IA within SSMS
Ran the fol

[2021-08-11 07:08] #7712 closed

[2021-08-11 08:21] #6512 closed

[2021-08-11 08:21] #7072 closed

[2021-08-11 09:24] potatoqualitee commented on #7712
Please try release 1.1.11 and let me know if that works for you

[2021-08-11 12:43] kthurberNCI commented on #7712
I am not running an x86 machine, but I'll try 1.1.11 now.  Thank you for checking this for me.

[2021-08-11 13:06] kthurberNCI commented on #7712
Release 1.1.11 does the trick.  Thank you!

[2021-08-11 22:15] habibhammy opened #7716 "Issue with Connect-DbaInstance"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi Dbatools,

We are facing recently a weird issue ( since the V1.1.0 release). Actually, the "Connect-DbaInstance" command is not working anymore unless we explicitly specify the FQDN of the servers.

PS C:\> Connect-DbaInstance -SqlInstance server.domain.org

ComputerName Name                      Product

[2021-08-12 07:28] andreasjordan commented on #6498
Does anyone know how to implement this?

[2021-08-12 08:26] andreasjordan commented on #3665
I started with refactoring the command.
What kind of output would you like to be returned?

[2021-08-12 09:09] potatoqualitee commented on #3665
Thank you! I attempted to work on this but became overwhelmed. Something similar to the output of Start-DbaMigration.

[2021-08-12 09:26] potatoqualitee commented on #7716
Hey @habibhammy - thanks for the report. This is expected behavior as Microsoft has made a change with default certificates. Please check out https://github.com/sqlcollaborative/dbatools/discussions/7680 for more information.

[2021-08-12 09:26] #7716 closed

[2021-08-12 11:23] krokofant opened #7719 "Invoke-DbaQuery: Disallow specifying Database as $null"
### Verified issue does not already exist?

Yes

### What error did you receive?

I got a misleading error because my input to the command (-Database $foo) is missing.
[code]

I was trying to connect to another database which was actually not defined correctly.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Is it reasonable to add a ch

[2021-08-12 11:44] potatoqualitee commented on #7719
Hey @krokofant - thank you for the issue! I'm leaning to keeping it as is. I know in my own workflows, there are times that I may bind a null database value because otherwise, I'd have to do

`If ($Database) { Invoke-DbaQuery -Database $database } else { Invoke-DbaQuery }`

This would also be a bit of a breaking change, as it'd have the potential to break if people expect to be able to bind to nul

[2021-08-12 11:44] #7719 closed

[2021-08-12 12:21] habibhammy commented on #7716
Hi @potatoqualitee ,
Thanks a lot for your answer.
However, How can this also be the case for the servers were the SSL is not enabled and where no certificate was issued?

Many Thanks.

[2021-08-12 12:34] krokofant commented on #7719
@potatoqualitee Thanks for the response. What you say seems reasonable and too much work for too little gain. 🙂

[2021-08-12 13:38] potatoqualitee commented on #7716
If it doesn't have a certificate, that's something that we'll have to explore. They may have made more strict changes to Kerberos as well. Can you let me know if `Test-DbaSpn` shows that Kerberos is setup properly? Can you also test with `Set-DbatoolsConfigValue -FullName 'sql.connection.trustcert' -Value $true` and let us know what happens when you change that value?

@andreasjordan can you think

[2021-08-12 14:02] habibhammy commented on #7716
Hi @potatoqualitee,

The Test-DbaSPN command on the server shows :
[code]

For the second command I'm getting an error :
[code]
 Just for reference  I tried this with version V1.1.8
[code]

[2021-08-12 14:04] andreasjordan commented on #7716
It's just `Set-DbatoolsConfig`.

[2021-08-12 14:29] habibhammy commented on #7716
Hi @andreasjordan , @potatoqualitee ,

Indeed after running the command to disable the trust certificate, the connect command restart working.
[code]

[2021-08-12 18:11] mattcargile commented on #7707
Would you have to spawn another `powershell` session and then close the current session? It may not be great from a user perspective because then the original session doesn't know if the cleanup was successful. Maybe there is some create `[runspace]` method that can be used.

[2021-08-13 07:40] MikeyBronowski opened #7721 "Test-DbaWindowsLogin to accept input from Get-DbaLogin"
### Summarize Functionality

Be able to pass the logins from Get-DbaLogin into Test-DbaWindowsLogin command.

`Get-DbaLogin -SqlInstance sql01 -Login DOMAIN\Mikey | Test-DbaWindowsLogin`

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

I think Test-DbaLoginPassword works this way.

`Get-DbaLogin -SqlInstance sql01 -Login DOMAIN\Mikey | Tes

[2021-08-13 10:06] PowerDBAKlaas commented on #6538
I would agree if such a parameter made the function faster.
If not, filtering should be done with a Where-Object or Where() method.
What I see as added value is an extra property 'AppliedStatement' or something, which would be a copy of either the Grant or the Revokestatement. This would be the easiest way to select all statements that need to be saved or applied in a sync or restore process.

[2021-08-13 16:53] wsmelton commented on #6538
A param of that nature means we also have to clean up additional lines and is not just a string filter.

[2021-08-15 06:43] jeffrey-yao opened #7722 "Export-DBAUser does not contain permissions granted to a user created database role"
### Verified issue does not already exist?

No

### What error did you receive?

No error shown, but the permission grant/deny t-sql is not generated.

### Steps to Reproduce

[code]
To replicate the issue, we assume our localhost has a sql server default instance (any version above 2012 will do)
use TempDB
create role Test_role;
create table dbo.t (id int);
grant select, delete to object::dbo.t t

[2021-08-16 19:05] paschott opened #7725 "Invoke-DbaQuery SqlCredential param with windows credential not honored"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error, but when I used a query of "SELECT SUSER_SNAME()" I got my current creds instead of the ones I'd passed in.

### Steps to Reproduce

[code]
$cred = get-credential #to get alternate creds
Invoke-DbaQuery -SqlInstance servername -Query "SELECT SUSER_SNAME()" -SqlCredential $cred

# This returns my currently l

[2021-08-16 20:23] paschott commented on #7725
Tested w/ v1.0.104 on PS v5.1 and the command worked as expected.

Tested w/ v 1.0.173 on PS 7.1.4 - command returned current creds instead of my passed in credentials.
Tried with v 1.1.2 on PS v5.1 in a new session and the command returned my current credentials instead of the credentials passed in.

[2021-08-17 00:37] wsmelton commented on #7725
#7514

[2021-08-17 06:29] andreasjordan commented on #7725
I can confirm for PS 7.1.4 and the current dev branch:
![image](https://user-images.githubusercontent.com/66946165/129674868-ac8abacf-0e5b-4b7a-bb6b-3eb95b5e0bab.png)

[2021-08-17 06:31] andreasjordan commented on #7725
Same with 5.1:
![image](https://user-images.githubusercontent.com/66946165/129675230-a5838100-abe3-4abf-b77b-9fccf7a94264.png)

[2021-08-17 06:42] andreasjordan commented on #7725
This seems to be another SMO issue:
[code]
![image](https://user-images.githubusercontent.com/66946165/129676377-8146b8c0-cfee-4244-a46e-2fd46d65f506.png)

So `.GetDatabaseConnection('tempdb')` switches the context back:
https://github.com/sqlcollaborative/dbatools/blob/2e7d71fe1fcab3eb73e3c2da34f57d9c254b5694/functions/Invoke-DbaQuery.ps1#L356

[2021-08-17 07:02] andreasjordan commented on #7725
Root cause might be here:
https://github.com/sqlcollaborative/dbatools/blob/2e7d71fe1fcab3eb73e3c2da34f57d9c254b5694/internal/functions/Invoke-DbaAsync.ps1#L168

Only the ConnectionContext is aware of the different windows credential it uses, the SqlConnectionObject is not as it only has a ConnectionString with "Integrated Security=True".

I just don't know why it worked in v1.0.104...

[2021-08-17 07:05] andreasjordan commented on #7725
Oh, connection pooling causes the issue. It works with a nonpooled connection:

[code]
![image](https://user-images.githubusercontent.com/66946165/129679537-a10d9f87-6186-4c13-8b46-71864003428b.png)

[2021-08-17 07:43] andreasjordan commented on #7725
Maybe we should always force a non pooled connection when using a windows credential in Connect-DbaInstance?
Or have a config parameter for that switch in Connect-DbaInstance to set non pooled connections globally?
I don't see the point in connection pooling with our dbatools commands anyway. Where is the big benefit?

@potatoqualitee - What do you think?

[2021-08-17 09:29] potatoqualitee commented on #7725
Thanks for looking into this, Andreas. @jpomfret and @awickham10 were big into the connection pooling part and will have more insight

[2021-08-17 10:12] wsmelton commented on #7725
Connection pooling benefits that it reuse the connection to the same instance from the same machine.

Azure SQL this is very important because you exhaust the allowed resources for connections very easily if you don't.

The more connections an application causes the more resources from SQL that are consumed.

[2021-08-17 10:40] andreasjordan commented on #7725
Ok, sounds valid.
So only force non pooled connection in Invoke-DbaQuery when using windows credentials?

[2021-08-17 10:44] wsmelton commented on #7725
By default? I would say no.

If folks want to use PowerShell 7+ with this command for a different Windows Credential, just make a connection first and pass that to the Invoke command. Technically that is how it has always worked previously.

[2021-08-17 10:46] andreasjordan commented on #7725
The problem is NOT related to PS7 only, it is also a problem with PS5.1 - I have tested that.

[2021-08-17 10:55] wsmelton commented on #7725
I'm not aware of all the changes that have been made to the connect command. It worked previously in PS5.1 with no issues at all so the changes need to be evaluated to what was modified; unless this is an issue directly with SqlClient that we are using now.

[2021-08-17 11:08] Argelein opened #7727 "[Import-DbaXESessionTemplate] TargetFile and TargetFileMetadataPath parameters only work if template has event_file target defined. metadatafile property required for TargetFileMetadataPath."
### Verified issue does not already exist?

Yes

### What error did you receive?

No errors. TargetFile and TargetFileMetadataPath parameters are ignored unless the template imported has specific properties defined.

### Steps to Reproduce

[code]
It works successfully and the session with name foobar is created. Parameter TargetFilePath is ignored, as there is no event_file target at all. This is

[2021-08-17 11:28] andreasjordan commented on #7725
Ok, tested with the legacy code path - and there are no problems. So I will have a closer look.

[2021-08-17 11:55] andreasjordan commented on #7725
I think I have found the root cause: In the old code path, we do an explicit `$server.ConnectionContext.Connect()`. This changed `$server.ConnectionContext.SqlConnectionObject.State` from `Closed` to `Open`. So the `SqlConnectionObject` is connected and Invoke-DbaQuery has no problems.

But I will have to see what the downsides are. Give me some hours...

[2021-08-17 12:15] andreasjordan commented on #7725
Oh, I've written about that in the code:
https://github.com/sqlcollaborative/dbatools/blob/2e7d71fe1fcab3eb73e3c2da34f57d9c254b5694/functions/Connect-DbaInstance.ps1#L936-L953

So we can not add `$server.ConnectionContext.Connect()` back in or we loose connection pooling. So I think we need to have a non pooled connection just for the cases where the command uses the `SqlConnectionObject`, as Invo

[2021-08-18 10:56] potatoqualitee commented on #7528
greets! has anything been tested? i'd like to merge soon. thanks 🙇🏼

[2021-08-18 11:23] carpewil commented on #7528
Good morning. My apologies but I was never able to figure out how to get the update installed properly. And Simone and I were never able to link up on a time to do a Slack chat session. You guys seemed to zero in on the issue I was talking about and you obviously know a whole lot more about Powershell than myself. So I have no doubts you were able to test for my scenarios with user and group objec

[2021-08-18 19:06] BrianL-STCU opened #7729 "Importing dbatools before SqlServer in PS Core doesn't seem to work"
### Verified issue does not already exist?

Yes

### What error did you receive?

Assembly with same name is already loaded

### Steps to Reproduce

[code]

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

[code]

### SQL Server Edition and Build number

(none)

[2021-08-18 20:28] tboggiano opened #7730 "Set-DbaAgentOperator when changing email at least changes all the operators not just the one specify"
### Verified issue does not already exist?

No

### What error did you receive?

N/A

### Steps to Reproduce

[code]
Will change every operator, when I wrote this I only had one operator, so didn't text for multiple operators.
$server = "SQL01"
$OperatorName = "DBA"
$EmailAddress = "mail@mail.com"

Set-DbaAgentOperator -SQLInstance $server -Operator $operatorName -EmailAddress $EmailAddress

### A

[2021-08-19 06:16] andreasjordan commented on #7730
So you will provide a fix for that? Then it would help if you assign yourself and remove the "triage required" tag to let others know that.

[2021-08-20 00:21] tboggiano commented on #7730
Yes I will provide a fix, I'll work on over the next couple of days, maybe tonight. let figure out how to edit labels.

[2021-08-20 05:48] andreasjordan commented on #7730
No problem, have done that for you.

[2021-08-20 15:24] mcascone commented on #7514
Hi all, unfortunately this doesn't seem to be fixed in the latest release?

[code]

@potatoqualitee

[2021-08-20 15:35] andreasjordan commented on #7514
For background information please see #7725 and #7726.

As a workaround please first open a non-pooled connection with `$server = Connect-DbaInstance -SqlInstance myInstance -SqlCredential $cred -NonPooledConnection` and use this in `Invoke-DbaQuery  -database myDB -Query 'select 1' -SqlInstance $server`.

[2021-08-20 16:11] mcascone commented on #7514
@andreasjordan that works, in PS7! It feels similar to creating a `PSSession` to reuse throughout a session - I assume the `$server` connection can be treated the same way, reused without reconnecting?

[2021-08-20 16:13] andreasjordan commented on #7514
Yes.

[2021-08-20 22:55] ben-thul opened #7732 "Allow setting read-only routing list through Set-DbaAgReplica"
### Summarize Functionality

Looking through the list of options in [the docs](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-availability-group-transact-sql?view=sql-server-ver15), and comparing it with the list of options for Set-DbaAgReplica, the only one missing seems to be READ_ONLY_ROUTING_LIST.

I'd like to add a new parameter (`ReadOnlyRoutingList`?) that would allow this to b

[2021-08-21 15:56] wsmelton commented on #7707
If you spawn another session and then kill the original you lose control over that spawned session/process.

This is the way modules with client libraries work, any session on the device/server will lock those DLLs once it is loaded. `Remove-Module` nor `Uninstall-Module` will remove the lock on those files.

[2021-08-22 18:23] mattcargile commented on #7707
So `-Cleanup` should probably be removed, I suppose.

Maybe an entirely different module would be more ideal to perform the cleanup? I get that the `script` can cleanup other modules as well. It would be slightly easier with a `Cleanup-Module` cmdlet I *think*. Or is it just not worth the squeeze?

[2021-08-22 18:31] mattcargile commented on #7729
I always thought `SqlServer` and `dbatools` should be used independently within a session context. I think the idea is that `dbatools` is a drop-in replacement and upgrade from `SqlServer`.

This is the warning I get in `pwsh` when I `ipmo SqlServer` and then `ipmo dbatools`. This is the reverse order that you are showing. I get the same errors as you in `pwsh` `7.1.4` when I use your same order.

[2021-08-22 18:32] wsmelton commented on #7707
It is trying to solve an issue that is "by design" with PowerShell (Windows and Pwsh). Everyone manages that part of their environment differently (I use DSC in some to keep things clean).

Any number of things can cause PowerShell to auto-load a module so even in a different module or script it won't guarantee that it will clean up every version. I don't see this as being worth the effort to main

[2021-08-23 08:07] potatoqualitee commented on #1032
Noo i do not like this bot.

[2021-08-23 11:44] immsgbb opened #7736 "Get External Resources Definitions from Synapse SQL Serverless"
### Verified issue does not already exist?

Yes

### What error did you receive?

 I am trying to get the Data Source and File Format Definitions from synapse serverless with dbatools. But i am getting this error (Please check screenshot) and i have no clue for it. I couldn't find any example for this from documentation.

I don't know if there is another command for getting the DATA_SOURCE and FIL

[2021-08-23 11:46] wsmelton commented on #7736
I would not really expect this to function for Azure Synapse service.

[2021-08-23 12:03] mattcargile commented on #7736
Does `(Get-DbaDbTable -SqlInstance "$synapseSqlName.database.windows.net" -Database "stg" -SqlCredential $login).Script()` work?

[2021-08-23 14:03] mattcargile opened #7737 "Read-DbaXEFile - Test-Path RemoteTargetFile False Without Wildcard"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

I *think* the issue was introduced in https://github.com/sqlcollaborative/dbatools/commit/a69925a68f03e26918ff7b3628f832b481cb090c# with the removal of [lines 101 to 109](https://github.com/sqlcollabor

[2021-08-23 16:25] immsgbb commented on #7736
@mattcargile Yes it works but it is still giving me only external table definitions and not giving me Data Sources and Files Formats.

[2021-08-23 16:30] mattcargile commented on #7736
What about the method `EnumScript` or passing in `ScriptingOptions` directly into the `Script` method?

[2021-08-23 16:56] wsmelton commented on #7736
The script method, no matter how you use it, does not know about Azure-specific properties on the objects such as file formats and the data source. Those don't exist in SMO.

[2021-08-23 21:07] immsgbb commented on #7736
But according to this documentation these objects are available as SMO.

Microsoft.SqlServer.Management.Smo Namespace | Microsoft Docs<https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.management.smo?view=sql-smo-160>

From: Shawn Melton ***@***.***>
Sent: Monday, 23 August 2021 18:57
To: sqlcollaborative/dbatools ***@***.***>
Cc: Irfan Maroof ***@***.***>; Author ***@***.***>
Subjec

[2021-08-23 22:09] steixeira-stan opened #7738 "TrustServerCertificate for all cmdlets that check TLS certificate"
### Summarize Functionality

The Connect-DbaInstance cmdlet has a TrustServerCertificate parameter.  However, other cmdlets do not.  An example is Find-DbaInstance.  Executing this cmdlet against a server when the client using the dbatools module doesn't have the certificate results in a trusted certificate error.  While it's best practice to have that certificate and trust it, that is not always

[2021-08-23 22:22] steixeira-stan commented on #7738
Actually, it may have been the Get-DbaInstanceProperty cmdlet I ran into this issue on, but any cmdlet that explicitly connects to an instance would ideally have a TrustServerCertificate parameter/option.

[2021-08-24 10:12] #3665 closed

[2021-08-24 10:13] #7725 closed

[2021-08-24 12:41] immsgbb commented on #7736
@mattcargile both script and EnumScript functions are failing. Do we have documentation of these functions somewhere ?

[2021-08-24 14:27] mattcargile commented on #7736
I only looked at Microsoft docs and Get-Member output. Not much there.

I guess you could attempt to reverse engineer SSMS to see how that app generates the code.

[2021-08-24 17:01] BrianL-STCU commented on #7729
I use `Invoke-Sqlcmd` pretty extensively from **SqlServer**, which doesn't seem to exist in **dbatools**. I don't see any overlap in cmdlets between the two:

[code]

[2021-08-24 18:58] mattcargile commented on #7729
Well yeah there wouldn't be cmdlet name matching without clobbering going on. I would assume dbatools purposely made their cmdlet names different ( i.e. appending a Dba prefix to the Noun ); otherwise the user might have to use `-Prefix` within `Import-Module` to avoid clobbering.

If you want to recreate `Invoke-SqlCmd` then `Invoke-DbaQuery` is the closest. Keep in mind scripting variables would

[2021-08-24 21:43] BrianL-STCU commented on #7729
In general, most of the scripting I automate in non-dev environments just sticks with `Invoke-Sqlcmd`, so I'm not sure the additional functionality adds much, though it appears to be quite competitive in size, so I'll have to take a look. In any case, choosing different names to avoid collisions does seem to imply that importing both modules should be supported.

[2021-08-24 22:42] mattcargile commented on #7729
I gotcha. Yeah it is the underlying SMO libraries that are the same. I assume `dbatools` more gracefully handles the clash than `SqlServer`.

Also, if you want something really light weight, I would consider `Install-Module Invoke-SqlCmd2`. It is maintained [here ](https://github.com/sqlcollaborative/Invoke-SqlCmd2)by `sqlcollaborative`  and originally [here](https://github.com/RamblingCookieMonst

[2021-08-28 08:28] EitanBlumin opened #7740 "Azure SQL Elastic Jobs management"
### Summarize Command's Functionality'

With the rise in popularity of Azure SQL databases, there's also rising need in Elastic Jobs.

It would be terrific if there would've been a set of cmdlets in dbatools that would make it much easier than it currently is.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

https://techcommunity.microsoft.

[2021-08-30 20:48] chadbaldwin opened #7743 "Write-DbaDbTableData - Database Parameter warning even though it's supplied with -SqlInstance object"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Relates to this issue: https://github.com/sqlcollaborative/dbatools/issues/7587
Relates to this PR: https://github.com/sqlcollaborative/dbatools/pull/7590

### What PowerShell host was used when produc

[2021-08-30 21:29] andreasjordan commented on #7743
I think using just -SqlInstance with a Server SMO (in other words an already open connection) is a valid use case and should work. So we should think about removing the test for -Database or the thre part object name.

[2021-08-31 07:37] potatoqualitee commented on #7743
@andreasjordan -- the problem comes from the parsing of the fqdn. We need database name, but I'm not sure how to get it -- seems I tried earlier in the code

[code]

[2021-08-31 07:38] potatoqualitee commented on #7743
ahh seems i tried to early, $server doesn't exist yet. brb

[2021-08-31 08:55] #7743 closed

[2021-08-31 09:10] potatoqualitee commented on #7738
Hey @steixeira-stan, this can be set globally using `Set-DbatoolsConfig`

`Set-DbatoolsConfig -FullName sql.connection.trustcert -Value $true -Register`

[2021-08-31 09:10] #7738 closed

[2021-08-31 10:07] potatoqualitee commented on #7736
hey @immsgbb - that is indeed out of scope for us, as none of us are familiar with Syntapse and SMO appears to be causing that error.

I'd suggest asking over at https://github.com/microsoft/sqlmanagementobjects then letting us know here how we can help. They find it most useful when you build script using pure SMO and PowerShell (not referencing dbatools directly)

[2021-08-31 10:07] #7736 closed

[2021-08-31 10:08] EitanBlumin commented on #7740
I would love it if there would've been a single cmdlet responsible for setting up an Elastic Jobs Agent if it doesn't exist already.

And also the Elastic Jobs equivalent of `New-DbaAgentJob`, `New-DbaAgentJobStep`, etc.

[2021-08-31 13:15] #7730 closed

[2021-08-31 15:36] andreasjordan commented on #7737
I agree. The lines were removed with #7603. @potatoqualitee, do you remember why you removed the lines?

Here the needed code before current line 90 for reference:

[code]

[2021-08-31 15:41] andreasjordan commented on #7732
If you say "I have code working locally", can you provide the code or open a pull request to change the command?

[2021-08-31 17:21] ben-thul commented on #7732
I can. I've had a bad experience here opening a PR w/o first having a discussion in an Issue that results in "I approve this conceptually". Was trying to avoid that this time around.

[2021-08-31 21:14] ben-thul commented on #7732
@andreasjordan - I've logged a draft PR and linked this with that.

[2021-09-01 08:22] potatoqualitee commented on #7737
yeah, the new library doesnt do wildcards 😭

[2021-09-01 08:24] #7319 closed

[2021-09-01 15:23] LowlyDBA opened #7752 "New command: Set-DbaResourceGovernor"
### Summarize Command's Functionality

Will enable/disable Resource Governor on an instance and set the classifier function for it.

I'm aiming to start with these, then later build out other Set-DbaRg* commands for the remaining Resource Governor components. Feel free to assign the issue to me.

### Is there a command that is similiar or close to what you are looking for?

No

[2021-09-01 16:40] mattcargile commented on #7737
Oh no! Can this pattern be used instead?

`Read-SQLXEvent -ConnectionString "Server=.;Database=master;Trusted_Connection=True;" -SessionName perf_session`

This is [Example 2](https://docs.microsoft.com/en-us/powershell/module/sqlserver/read-sqlxevent?view=sqlserver-ps#example-2) on the Microsoft Docs.

[2021-09-01 16:58] niphlod opened #7753 "Get-DbaAgentJob, fix slowness"
### Verified issue does not already exist?

Yes

### What error did you receive?

No errors, just lots of time spent waiting for output in instances with a lot of jobs

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe), Windows PowerShell

[2021-09-01 17:00] niphlod commented on #7753
thanks to @wsuhoey for reporting, we identified two main fixes in search of "speeeeeed"

[code]

I'm going to add a merge of those two (the first avoids the complete enumeration, the second avoids SMO being the "slow-loader" guy) in the next few days.

[2021-09-01 18:30] lowlydba opened #7754 "Import issue after upgrading to v.1.1.14"
### Verified issue does not already exist?

No

### What error did you receive?

[code]

Similar issue (secondary problem) as in #7528

### Steps to Reproduce

After downloading v 1.1.14

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Importing worked as of version 1.0.156

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

[2021-09-01 18:41] #7754 closed, assigned to nobody

[2021-09-02 06:20] potatoqualitee commented on #7754
Thanks for the report! Fixing now

[2021-09-02 06:47] potatoqualitee commented on #7732
I'll be updating this, and testing the code as well. I've removed the second example, as I don't see the difference between the two. If there is a functional difference, please let me know and we can add it back.

[2021-09-02 07:56] #7732 closed

[2021-09-02 16:59] ben-thul commented on #7732
The examples are subtly different. One creates a routing list with two elements, the second creates a routing list with one element (which itself has two elements). The difference in behavior between the two from an AG standpoint is that in the first example, all r/o requests will go to the first replica in the list if it's available. If it's not, they'll go to the second replica. In the second ex

[2021-09-02 20:54] TheBardMundane opened #7758 "Set-DbaTempDbConfig - Allow Reduction of the Number of TempDB Files"
### Summarize Functionality

Currently, if the existing number of TempDB files is greater than the calculated configuration, Set-DbaTempDbConfig does not make any changes and, instead, returns a warning.  The description for the command states, "No functions that shrink or delete data files are performed. If you wish to do this, you will need to resize tempdb so that it is "smaller" than what the

[2021-09-03 08:42] potatoqualitee commented on #7732
interesting! please feel free to add it back with that explanation in the example text

[2021-09-03 10:48] SportsTribution opened #7759 "Import-DbaCsv seems to handle NoHeaderRow incorrectly"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hello,

Import-DbaCsv helped me a lot so far. But it seems to me there is a logical flaw with NoHeaderRows

suppose I have a Table example
`CREATE TABLE example (A char,B char);`

And I want to insert csv's without a header, like
"c","d"
"c","d"

Now, if I run
`Import-DbaCsv -Path "example.csv" -SqlInstance Instance

[2021-09-03 13:55] LowlyDBA commented on #7752
Pivoting from `Enable-DbaResourceGovernor` and `Disable-DbaResourceGovernor` to a single `Set-DbaResourceGovernor` to be able to cover setting the Classifier Function for RG as well as the enabled status. I think this makes more sense since these are the only two main configuration areas for Resource Governor

[2021-09-07 10:29] Fabaderheld opened #7762 "Write-DbaDbTableData ignores -SQLCredential"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Exception: Error connecting to [[mssql-impimba-1.imp.univie.ac.at]]: Cannot open database "Database" requested by the login. The login failed.
                        Login failed for user 'domain\myuser'.
                         ---> Microsoft.Data.SqlClient.Sq

[2021-09-07 10:36] andreasjordan commented on #7762
Could you please add `-NonPooledConnection` to `$Instance = Connect-DbaInstance -SqlInstance $SQLServer -SqlCredential $SQLCredential -Database $SQLDataBase`? That might be a quick fix for that. Will try to find time to have a closer look later.

[2021-09-07 10:38] Fabaderheld commented on #7762
Sorry I tried it already doesn't help either.

[2021-09-07 10:39] andreasjordan commented on #7762
And I think I mixed two issues - sorry for that.

[2021-09-07 10:46] andreasjordan commented on #7762
Does it work if you use `-SqlInstance $SQLServer -SqlCredential $SQLCredential` with `Write-DbaDbTableData` and do not use `Connect-DbaInstance` yourself?

[2021-09-07 10:56] andreasjordan commented on #7762
In your verbose output, this line is missing:
[code]

So are your sure to be on the latest version?

[2021-09-07 11:02] andreasjordan commented on #7762
Sorry for all the small messages...

I think we discussed this earlier - will try to link the issue.

The problem is here:
[code]

The different windows user is not part of the ConnectionString - so your use case is just impossible. Use a SQL Server Login or run the PowerShell session under the target windows account.

[2021-09-07 11:08] andreasjordan commented on #7762
Here is the issue: https://github.com/sqlcollaborative/dbatools/issues/6618

[2021-09-07 11:11] andreasjordan commented on #7762
I think we should change the documentation to say that this command only works with SQL Logins or integrated security, NOT with a different windows login.

[2021-09-07 11:25] Fabaderheld commented on #7762
Thanks Andreas, I read through this  issue but was under the impression it should work now with Windows Creds. We will work around this somehow.
regards
Fabian

[2021-09-07 11:37] andreasjordan commented on #7762
Hi Fabian,

I wanted to solve that issue as well, but in the end could only solve the issue with the database context. And looking at the code again, I don't see a way to solve this. Using a different windows account while connecting with Connect-DbaInstance uses some magic inside of the SMO library. But every time we use other libraries like Microsoft.Data.SqlClient.SqlBulkCopy here in this comma

[2021-09-07 13:58] WeyardWiz opened #7763 "Enable Azure Blob Storage as backup path"
### Summarize Functionality

We are attempting logshipping using the `Invoke-DbaDbLogShipping` command.
Basically we want to store backups on Azure Blob storage, yet `Invoke-DbaDbLogShipping` requires a `$BackupNetworkPath`. The closest I was to this was Azure File Shares but unfortunately port 445 is blocked it seems so I cant utilize that.

Please create the ability to choose Azure Blob Storage

[2021-09-07 13:59] andreasjordan commented on #7762
Ok, some more time digging in diffs - I think I have implemented a solution in this commit:
https://github.com/sqlcollaborative/dbatools/commit/c5413f8e914e74b6d2287fec9152e62cfd350540#diff-1c01f27614f67c2c9b6e9e242800a40280c9c380d049d4e1057ec31f003498bd

But it got accidently overwritten in some later change. Will open a pull request soon to put it back in.

[2021-09-07 14:06] andreasjordan commented on #7762
Fabian, maybe you can change that line in your allcommands.ps1 and have a try.

[2021-09-07 14:32] andreasjordan commented on #7762
Great to hear that! Und viele Grüße nach Österreich...

[2021-09-07 17:14] niphlod commented on #6230
jm2c: if you try and change the service account from the sql server configuration, even "it" doesn't set the relevant perms on the private key, if they were specifically granted to the previous user.
So it's a "bug" in WMI.
TBF, IMHO what usually happens at least in recent mssql setups is that the setup is happy to place the service user where is needed using the well known (but virtual) NT SERVIC

[2021-09-09 06:31] ft3411 opened #7769 "Statements produced with get-dbapermission quoted improperly"
### Verified issue does not already exist?

Yes

### What error did you receive?

The securable is not quoted properly. So neither the RevokeStatement nor the GrantStatement can be executed.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (pow

[2021-09-10 14:59] andreasjordan opened #7770 "Get-DbaDbTable does not work on Azure without access to master"
### Verified issue does not already exist?

Yes

### What error did you receive?

The server principal 'myUser' is not able to access the database "master" under the current security context.

### Steps to Reproduce

This is the example code from the question on slack:
[code]

### Are you running the latest release?

Yes

### Other details or mentions

Get-DbaDbTable uses `$InputObject += Get-DbaD

[2021-09-10 15:23] niphlod commented on #7770
I think this happened before and in order to avoid changing everything, we should make sure (and state somewhere in written form) that targeting Azure sql db needs always a pre-built `Connect-DbaInstance .... -Database` to be passed around.

[2021-09-10 15:29] andreasjordan commented on #7770
Good idea.

[2021-09-10 15:38] LowlyDBA opened #7771 "New Commands: New/Set/Remove-DbaResourcePool"
### Summarize Command's Functionality'

Hot on the heels of https://github.com/sqlcollaborative/dbatools/issues/7752 to configure the Resource Governor on instances, these functions will provide the necessary functionality to configure resource pools for the RG feature.

I will hopefully be posting up a PR for these shortly.

### Is there a command that is similiar or close to what you are looking

[2021-09-10 21:47] scottrcaldwell opened #7772 "Get-DbaDbBackupHistory -Last fails when executed against an instance with log-shipping secondary databases"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Management.Automation.RuntimeException: You cannot call a method on a null-valued expression.
                           at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcContext, Exception exception)

[2021-09-13 07:57] RJAF001 opened #7773 "Set-DbAgentJob -Schedule with -WhatIf not working correctly"
### Verified issue does not already exist?

Yes

### What error did you receive?

Executing Set-DbAgentJob using -Schedule with -WhatIf resulted in schedules being added to jobs, rather than the typical -WhatIf behaviour of nothing actually changing.

### Steps to Reproduce

[code]

[2021-09-13 08:16] #7762 closed

[2021-09-13 08:20] #7752 closed

[2021-09-13 08:33] potatoqualitee commented on #7737
that seems like a solid solution, @mattcargile. ill check it out

[2021-09-13 13:58] ekholve opened #7775 "New-DbaAvailabilityGroup no longer works as expected"
### Verified issue does not already exist?

Yes

### What error did you receive?

If initial backup is not taken prior to New-DbaAvailabilityGroup command:

_WARNING: [16.24.25][New-DbaAvailabilityGroup] Failed to add databases to Availability Group. | Error connecting to [CLUS01N02\INS01]: All replicas are configured to use automatic seeding, but the
 database [MasterBAG] was never backed up. Ple

[2021-09-13 14:07] andreasjordan commented on #7775
Thanks for reporting this. I'm just about to setup the lab for this and will come back to you soon.

"Performs backup to NUL if seeding mode is automatic" is a leftover in the documentation, I will remove or rephrase this.

[2021-09-13 15:04] andreasjordan commented on #7775
Ok, found the bug and have a fix. Will open a pull request shortly.

[2021-09-13 16:33] andreasjordan commented on #7773
Thanks for reporting this bug - will open a pull request with a fix shortly.

[2021-09-13 16:47] andreasjordan commented on #7772
Hi @potatoqualitee - this was your change in #7583. Can you have a look? I have no idea what the problem is.

[2021-09-14 06:18] ekholve commented on #7775
Excellent! Thanks a lot for your help on this matter.

[2021-09-14 09:22] potatoqualitee commented on #7772
I'm not sure either. Perhaps `$tlogStartDsn` should just be null? @Stuart-Moore do you have any ideas?

[2021-09-14 09:25] potatoqualitee commented on #7772
I probably tried that, though, and had conversion issues 🤔

[2021-09-14 09:27] potatoqualitee commented on #7772
yep, my first commit didn't have the else. i'll try else `$tlogStartDsn = $null`

[2021-09-14 10:26] #7775 closed

[2021-09-14 10:27] #7769 closed

[2021-09-14 10:28] #7773 closed

[2021-09-14 10:39] potatoqualitee commented on #7772
hey @scottrcaldwell can you try changing it to this

[code]

let me know if that works for you. if not, ill put the old way back

[2021-09-14 10:41] BilliousBT commented on #7759
It looks like "$columns = $reader.GetFieldHeaders()" executes whether -NoHeaderRows is specified or not and when you try to import into an existing table without that column name it aborts.

[2021-09-14 11:51] potatoqualitee commented on #7772
reverting to old code and adding a comment, can't get any attempts to work

[2021-09-14 13:19] potatoqualitee commented on #7772
k, back to bigint error on https://ci.appveyor.com/project/sqlcollaborative/dbatools/builds/40759625/job/qerdkmqtvieou0vk

Will revert back to old code and put a note about trying

[2021-09-14 14:14] scottrcaldwell commented on #7772
Do you still need any testing from me?

On Tue, Sep 14, 2021 at 8:20 AM Chrissy LeMaire ***@***.***>
wrote:

--
Thanks,

Scott Caldwell

[2021-09-14 15:24] andreasjordan commented on #7772
Can you do one test and change

[code]

to just

[code]

Maybe even change line 326 from `$tlogStartDsn = ($diffDb.FirstLsn -as [bigint])` to `$tlogStartDsn = $diffDb.FirstLsn`.

Where are the variables used?
`$tlogStartDsn` might be set as `$tlogStartDsn = ($diffDb.FirstLsn -as [bigint])` in line 326, or as `[bigint]$tlogStartDsn = $fullDb.FirstLsn.ToString()` in line 338.
It is used in lines 346

[2021-09-14 15:40] andreasjordan commented on #7772
Oh, I was wrong. FirstLsn is from a SQL statement, so it can be null - but then it will be [DBNull], and thus the test has to be different....

Or we don't test for null and use try catch, but assign in the catch block:

[code]

should be

[code]

[2021-09-14 15:47] andreasjordan commented on #7772
@scottrcaldwell Having a look at your original issue: The error is in line 343 - which is empty in the original version. What's in the line that causes "You cannot call a method on a null-valued expression"?
And can you get all the backup history (so without -Last) and see if you have any empty FirstLsn?

[2021-09-14 16:10] andreasjordan commented on #7772
Ok, sorry for all the messages - still trying to solve this.

So `$fullDb.FirstLsn` is probably $null if there is no full backup. Then the `continue` makes sense as it skips a step and continues with the next database.

I add this after line 319 to test for that:
[code]

See also the linked draft pull request.

Maybe that solves your problem - or at least get a bit closer to the root cause.

[2021-09-14 16:37] scottrcaldwell commented on #7772
@andreasjordan I reverted the function back to the original 1.1.15 code and added your bit after line 319. The function now returns the correct backup history for online databases and nothing for databases in restoring mode. It looks like this solved it.

[2021-09-14 19:04] #7528 closed

[2021-09-14 19:14] #7772 closed

[2021-09-14 20:32] christophorosp opened #7781 "Test-DbaLastBackup will not respect -MaxSize param"
### Verified issue does not already exist?

Yes

### What error did you receive?

Using the param -MaxSize with a MB value gets ignored and the script proceeds restoring a DB irrespective of the size restriction

![image](https://user-images.githubusercontent.com/63105088/133329221-fa42a163-98d2-4679-aefb-41606966a116.png)

![image](https://user-images.githubusercontent.com/63105088/133329489-6b5b

[2021-09-14 20:58] RandyInMarin opened #7782 "Get-DbaSsisExecutionHistory - Add SqlInstance and PackageVersion properties to the output"
### Summarize Functionality

We have 3 SSIS servers that have the same packages.  If I use Get-DbaSsisExecutionHistory to get the history from all three at once, I can't tell which instance is the source of the record.  I would also like to know the version of the package just in case the same version is not deployed to the 2 production instances.

### Is there a command that is similiar or close

[2021-09-15 05:40] andreasjordan commented on #7781
Code is looking good.

Test is done via `if ($MaxSize -and $MaxSize -lt $totalsize)` in line 420 with `$totalsize = ($restorelist.BackupSize.Megabyte | Measure-Object -Sum ).Sum` (line 418) and `$restorelist = Read-DbaBackupHeader -SqlInstance $destserver -Path $lastbackup[0].Path -AzureCredential $AzureCredential` (line 416).

Problem is that `$restorelist` and `$totalsize` are never used again a

[2021-09-15 05:47] andreasjordan commented on #7781
I can not reproduce this:

[code]

Can you please provide your output of the command?

[2021-09-15 06:11] andreasjordan commented on #7782
I don't have an evironment with SSIS running, so I can not help here. But if you provide the needed code or even change the command and open a pull request, I can assist. Adding SqlInstance is no problem, we can copy the code from other commands that add these properties via SQL:
[code]

[2021-09-15 06:14] andreasjordan commented on #7782
Which columns (with which aliases) would you like so see?
https://docs.microsoft.com/de-de/sql/integration-services/system-views/catalog-packages-ssisdb-database?view=sql-server-ver15

[2021-09-15 06:18] andreasjordan commented on #7782
How can we join catalog.packages to catalog.executions? Primary key of packages is not part of executions - or am I missing something? Do we need an outer join in case a package is dropped and we still want to see the executions?

[2021-09-15 06:55] niphlod commented on #7782
not really sure, would need to confirm, but executions has project_lsn, which you can tie to object_versions.object_version_lsn. The fact is that as soon as you don't keep envs perfectly "in sync", the "third modification deployed to project xxx" doesn't have the same lsn in different environments, and there's no way
 between multiple envs to know "it's the same package" ............ you'd need to

[2021-09-15 07:13] christophorosp commented on #7781
@andreasjordan , verified that its working as expected

What's confusing is that it first copies the file to the specified CopyPath and only after, it checks for file size. Hence for huge DB's, this takes quite a long time.
I incorrectly assumed that it tried to restore the DB, especially after automating and having it run against a list of Servers with -MaxSize in place.

Is it possible to check

[2021-09-15 07:30] andreasjordan commented on #7781
Yes, we can probably move the test to line 346 just before the test for $CopyFile. @potatoqualitee - as you are the author, what do you think?

[2021-09-15 07:58] potatoqualitee commented on #7781
sounds good to me 👍🏼

[2021-09-15 09:10] andreasjordan commented on #7781
Ok, opened a pull request for that.

[2021-09-15 09:29] SportsTribution commented on #7759
`if ((-not $KeepOrdinalOrder -and -not $AutoCreateTable) -or ($quotematch -match "'" -or $quotematch -match '"')) {`
should in my opinion be replaced by
`if ((-not $KeepOrdinalOrder -and -not $AutoCreateTable) -or ($quotematch -match "'" -or $quotematch -match '"')  -and (-not $NoHeaderRows)){`
I'm just not secure enough in PowerShell, nor Pull request to try it myself.
Right now I can fix my prob

[2021-09-15 14:14] mjbarlow1985 opened #7786 "Set-DbaDbQueryStoreOption & model database"
### Verified issue does not already exist?

No

### What error did you receive?

No Error.

I would like to enable Query Store on model DB using this command, however, I am unable to because its is hard coded into $excludedb variable.

This is a valid requirement if we want all user databases thereafter to apply the default Query Store options configured in model DB.

_It would be nice if it was e

[2021-09-16 16:55] scottrcaldwell opened #7788 "Sync-DbaLoginPermission fails on instances with read-only databases at destination"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Exception: Failed to update database "DatabaseName" because the database is read-only. ---> Microsoft.Data.SqlClient.SqlException: Failed to update database "DatabaseName" because the
                        database is read-only.
                           at Mi

[2021-09-16 19:29] LynnDavis66 opened #7789 "Read-DbaXEFile returns error Could not load file or assembly 'netstandard"
### Verified issue does not already exist?

No

### What error did you receive?

PSMessageDetails      :
Exception             : System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or
                        one of its dependencies. The system cannot find the file specified.
                        File n

[2021-09-18 03:01] Szeraax opened #7790 "Unable to import module in local azure function session"
### Verified issue does not already exist?

Yes

### What error did you receive?

ERROR: Could not import C:\Users\...\AppData\Local\AzureFunctions\AzureFunction\ManagedDependencies\210918024623427.r\dbatools\1.1.18\bin\smo\coreclr\Microsoft.SqlServer.XE.Core.dll :
MethodInvocationException: C:\Users\...\AppData\Local\AzureFunctions\AzureFunction\ManagedDependencies\210918024623427.r\dbatools\1.1.

[2021-09-18 03:11] Szeraax commented on #7790
I've now tested it in the azurefunction\Modules\dbatools folder instead of managed dependency and it also fails to import the module.

[2021-09-18 03:15] Szeraax commented on #7790
Removing this line from the file allows the module to import: https://github.com/sqlcollaborative/dbatools/blob/development/internal/scripts/libraryimport.ps1#L60 under managed dep and Modules folder for the azure functions host.

[2021-09-18 12:44] #7781 closed

[2021-09-19 00:46] wsmelton commented on #7790
That library is required for the XE functions to operate.

What Azure Functions runtime are you using for your deployment?

[2021-09-19 01:04] Szeraax commented on #7790
Local.settings.json:

"FUNCTIONS_EXTENSION_VERSION": "~3",

[2021-09-19 01:17] wsmelton commented on #7786
This is a limitation of SMO which both Set and Get commands are utilizing.

Even if we remove the filter for the model database, you are still not able to get or set that setting. SMO is filtering out the database just like SSMS does.

![image](https://user-images.githubusercontent.com/11204251/133912253-bac39b01-f56b-48ee-a60f-20795faa6d7c.png)

Complete removal of the exclusion for all system da

[2021-09-19 01:35] wsmelton commented on #7782
The `project_version_lsn` will be the project version you see from the UI in SSMS.

Ref query: https://www.sqlmatters.com/Articles/Checking%20the%20Version%20and%20Build%20Number%20of%20an%20Installed%20SSIS%20Package.aspx

[2021-09-19 06:51] mjbarlow1985 commented on #7786
OK thanks for looking into this.

I did notice the SMO limitation for the 'Get.ps1' but i didnt notice it for the 'Set.ps1' and thought we could just exclude model.

[2021-09-20 03:53] wsmelton commented on #7789
Can you expand on what you mean by this statement with exact repo steps?

[2021-09-20 04:09] wsmelton commented on #7740
For proper support with Azure services would it not be advisable to use their commands and workflows for this process?

https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-powershell-create

[2021-09-20 06:00] EitanBlumin commented on #7740
@wsmelton , the same thing could be said about any other task implemented by dbatools.

For proper support with SQL Server would it not be advisable to use their commands and utilities for any process?

The answer is: Of course!

But wouldn't it be awesome if dbatools made it so much easier and accessible?

[2021-09-20 09:03] potatoqualitee commented on #7790
is there an environmental variable or something that i can check to avoid that import on azure functions? like shawn mentioned, there will be loss of functionality for XE commands

[2021-09-20 09:06] potatoqualitee commented on #7789
I think we need to add a test for the path in the parameters, in this case ` \win-sdpasql-001\C$\LoginAudit\` will not exist because of that dollar sign. it needs to be enclosed in single quotes.

[2021-09-20 09:14] potatoqualitee commented on #7789
Then again, that is an unable to load assembly, not unable to find file 🤔

[2021-09-20 09:34] potatoqualitee commented on #7789
can you try this in a PowerShell console and not ISE, @LynnDavis66 ? Sometimes the ISE has issues that we cannot overcome and this works for me in the PowerShell console with a similar PowerShell version.

what other modules do you have loaded? (`Get-Module | select name | clip`)

[2021-09-20 12:07] wsmelton commented on #7740
I prefer to use automation tools that give more consistent deployment options such as ARM and Bicep. The same use case as to whether you use DSC or dbatools to deploy SQL Server. They each have their purpose but for Azure resources, I'd chose the stronger tooling 🤷🏻 .

In any case, this would not be something dbatools would not do as Chrissy already stated it would be in a separate module.

Micros

[2021-09-20 12:15] wsmelton commented on #7790
@Szeraax I'm assuming you are trying to run this locally or is this function already deployed to the worker instance?

Can you provide your `local.setting.json` so we can try and replicate it?

[2021-09-20 12:18] EitanBlumin commented on #7740
Well, yes, but we didn't get this far by preferring to stick with existing MS tooling, right?

[2021-09-20 14:40] potatoqualitee opened #7792 "Reset-DbaAdmin - Add TrustCertificate"
### Verified issue does not already exist?

Yes

### What error did you receive?

all kinds of uncaught errors once i got the cert error

### Steps to Reproduce

run reset-dbadmin on a sql instance where the cert name does not match the given name

### Are you running the latest release?

Yes

### Other details or mentions

reset-dbadmin should be as resilient as possible and this will help

### W

[2021-09-20 17:49] LynnDavis66 commented on #7789
Hi,
I tried running the code in a console only environment and received the same error.  I uninstalled the current version of DBATools and installed version 1.0.124. That fixed the issue and I no longer receive the error. I downloaded the latest version 1.1.19 and installed it and the error is there again. I am having to install manually as our system policy does not allow Internet access from our

[2021-09-20 19:04] wsmelton commented on #7789
Since you are using sqlserver module are you doing these test in separate processes? Meaning a new process to test dbatools and a new process to test sqlserver module?

Can you also let us know what .NET framework versions are installed on the server the tests are executed on?

[2021-09-20 19:08] LynnDavis66 commented on #7789
Here is the code and results I have been using to test.
Lynn

Here is the code I’m testing with. If I use the read-dbaxefile command, it errors out. If I use the native read-sqlxevent it does not error out.
  $Serverq = 'Win-bisssql-d01.msha-inc.com'

$Files = Get-ChildItem -Path \\$Serverq\C$\LoginAudit\<file://$Serverq/C$/LoginAudit/> -Recurse
     Foreach($F in $Files)
     {
     $Name = $F.na

[2021-09-20 19:15] LynnDavis66 commented on #7789
No, I’m not using separate processes.
.net is shown below.
Thanks,
Lynn

***@***.***

From: Shawn Melton ***@***.***>
Sent: Monday, September 20, 2021 3:04 PM
To: sqlcollaborative/dbatools ***@***.***>
Cc: Davis, Lynn A ***@***.***>; Mention ***@***.***>
Subject: Re: [sqlcollaborative/dbatools] Read-DbaXEFile returns error Could not load file or assembly 'netstandard (#7789)

---------------------

[2021-09-20 20:15] wsmelton commented on #7789
I don't see the dot net versions. GitHub truncates emails being sent.

Please perform your test in a process that doesn't have sqlserver module loaded.

[2021-09-20 23:05] RandyInMarin commented on #7782
I think the schema is a bit confusing.  The catalog views and internal objects can be scripted out to get clues.  It appears that every lsn is from the object_version_lsn identity column in [internal].[object_versions] table and is for a project.  The problem is that the [catalog].[packages] view provides the project_id and not the lsn.  However, the base table [internal].[packages] does have the

[2021-09-21 07:00] potatoqualitee commented on #7789
perhaps i can set a config to use `sqlserver\Read-SqlXEvent` but that may cause conflicts afterwards since dbatools and sqlserver aren't compat. the old version works bc we hadn't updated the SMO library and could still use the DLL method instead of the command 🤔  It will be interesting to see the .net version.  please run `[System.Runtime.InteropServices.RuntimeInformation]::get_FrameworkDescript

[2021-09-21 07:36] potatoqualitee opened #7797 "Add non-default, non-c2 traces to export-dbainstance"
### Summarize Command's Functionality

that is all

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

_No response_

[2021-09-21 12:54] LynnDavis66 commented on #7789
.NET Framework 4.7.3820.0
Thanks,
Lynn

From: Chrissy LeMaire ***@***.***>
Sent: Tuesday, September 21, 2021 3:01 AM
To: sqlcollaborative/dbatools ***@***.***>
Cc: Davis, Lynn A ***@***.***>; Mention ***@***.***>
Subject: Re: [sqlcollaborative/dbatools] Read-DbaXEFile returns error Could not load file or assembly 'netstandard (#7789)

---------------------------------------------------------------

[2021-09-21 21:47] Szeraax commented on #7790
I've been unable to reproduce this issue in my homelab compared to my work
computer, which uses lots of stuff like software restriction policies. Even
using the default local.settings.json doesn't work in my work environment
under a new project. I'm going to close this issue and will re-open if I am
able to reproduce locally. Thank you all!

On Mon, Sep 20, 2021 at 6:16 AM Shawn Melton ***@***.***

[2021-09-21 21:48] #7790 closed

[2021-09-22 07:10] #7771 closed

[2021-09-22 21:43] LowlyDBA opened #7801 "New Commands - New/Set/Remove-DbaRgWorkloadGroup"
### Summarize Command's Functionality

To create, set, and remove workload groups. Paired with the recently done #7771 and #7752 for Resource Governor and Resource Pools.

Please assign to me and I'll work on a PR.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-09-24 14:20] mattcargile commented on #7737
I did try this solution with `pwsh` and it only works on the XE file that isn't currently being written to. Here is the `ErrorRecord`.

[code]

When I attempt this solution, it appears I can only view the live feed as the data is written to the file and to my `pwsh` session. Is the only solution to read the actively written file to wait for it to rollover or stop the session?

[2021-09-24 15:09] MarkIannucci opened #7806 "Import-DbaCsv 's automap functionality doesn't work with pipe delimited files going into existing tables"
### Verified issue does not already exist?

Yes

### What error did you receive?

`Couldn't auto create ColumnMap :(`

Followed by:

`File: Encounter_SubServiceLine.txt error message: Error connecting to
[myserver]: Input string was not in a correct format.`

### Steps to Reproduce

[code]
Returns one row per character.  For automap functionality, we want it to return one row per delimiter + 1

##

[2021-09-25 21:09] #7786 closed

[2021-09-25 21:26] wsmelton commented on #7770
A blog post on the dbatools site is the best way to get that announcement out.

[2021-09-27 09:17] #7806 closed

[2021-09-27 17:59] wsuhoey opened #7810 "Stop-DbaService (Get-DbaService) Silent parameter"
### Verified issue does not already exist?

Yes

### What error did you receive?

\Modules\dbatools\1.1.21\allcommands.ps1:74955
 Line |
74955 |              $InputObject = Get-DbaService @serviceParams
      |                                            ~~~~~~~~~~~~~~
      | A parameter cannot be found that matches parameter name 'Silent'.
VERBOSE: Performing the operation "Stopping Service" on t

[2021-09-27 18:10] wsuhoey opened #7811 "Stop-DbaService add "Safely" parameter when using -Type Agent"
### Summarize Functionality

I had a need to shutdown SQL Server Agent, but only when there are no Agent Jobs running.
So I had this thought of having a loop check the count of jobs running, and when the .Count is 0, then do Stop-DbaAgent.

I had asked this question in the Slack:

[code]

With the help of @niphlod and @ben-thul and @alevyinroc , we came up with a simple (not foolproof) way of doin

[2021-09-27 18:34] wsuhoey opened #7812 "Missing firewall commands on dbatools.io/commands"
### Verified issue does not already exist?

Yes

### What error did you receive?

dbatools.io/commands does not show any of the 3 new firewall commands:
[code]

I'm guessing they should be under the `Security and Encryption` category, if not a new or other category?

NOTE: The commands do appear successfully in docs.dbatools.io

### Steps to Reproduce

Navigate to dbatools.io/commands.
Do a CTRL+F

[2021-09-27 19:04] wsmelton commented on #7811
How long should we wait? If you have a job running an index rebuild online that was working on a 2GB PK that could take hours to roll back if we kill that job.

I would recommend having the parameter check if jobs are running, if they are throw a warning that jobs are running and then stop. The user should know which jobs can be stopped safely and which ones cannot be.

[2021-09-27 19:38] wsuhoey commented on #7811
I'm confused by your question,  I didn't say anything about killing jobs?

[2021-09-27 20:07] wsmelton commented on #7811
Your state waiting until a job is no longer running. Whether we kill the job or not same issue applies.

If I have a job running that is hung or doing a rollback the job would be in a non stopped state until it finished.

I don't see a reason to wait, if they provide the flag and we find jobs running then throw a warning and stop.

[2021-09-27 20:34] wsuhoey commented on #7811
That's where a -Wait and -MaxTimeout would come into play (Niph's idea to have a max). We wait for as long as the user specifies between checks, up to the max the user specifies.

[2021-09-27 22:21] niphlod commented on #7812
ping @ClaudioESSilva that should be "the boss" of the commands page. @potatoqualitee sooner or later we should use docs for the command list (better reorganizing tags, maybe) ? keeping commands in sync "by hand" is a daunting task.

[2021-09-28 08:11] jarole opened #7815 "Update-DbaServiceAccount with cluster"
### Verified issue does not already exist?

No

### What error did you receive?

WARNING: [12:30:17][Update-DbaServiceAccount] Exception calling ".ctor" with "1" argument(s): "Method not found: 'System.String System.String.Format(System.IFormatProvider, System.String, System.Object, System.Object)'."

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details o

[2021-09-28 13:15] potatoqualitee commented on #7815
Thank you for the report @jarole. Any chance you take a look, @nvarscar ? 🙇🏼

[2021-09-28 13:20] potatoqualitee commented on #7812
agreed @niphlod - I've wanted to automate it based on tags. I can work on tags -- redo them based on the webpage. and make the first tag align with the webpage category.

AvailabilityGroups, BackupAndRestore, etc. Then after that, make an action step and add it to my release thing.

[2021-09-28 13:21] potatoqualitee commented on #7810
Thanks @wsuhoey ! @nvarscar can you take a look at this as well? Man, `Silent`, what a throwback!

[2021-09-28 13:24] potatoqualitee commented on #7810
i found the issue, will submit a fix

[2021-09-28 18:59] #7810 closed

[2021-09-29 01:58] nvarscar commented on #7815
Could you run the command with `-Verbose` and from the same console where you ran the command run the following:

[code]

If  `$error[0]` contains a different error, try `$error[1]`.
Please post all the output.

[2021-09-29 07:44] MikeyBronowski commented on #4990
@andreasjordan I am looking into this one. Might want to assign it to me.

[2021-09-29 08:53] jarole commented on #7815
**Legend**:
NODE1 - name of the active node
NODE2 - name of passive node (stopped SQL service)
SQLCLUSTER - virtual name of the clustered instance

Command has been tested in various ways, executed from both of the nodes, with different results.
We are trying to change password on the passive node NODE2 first, using `-NoRestart` parameter to achieve minimal downtime.

Update-DbaServiceAccount **WO

[2021-09-29 11:33] MikeyBronowski commented on #4990
One question about parameter aliases.

Get-DbaDbMailProfile cmdlet uses "Profile" which is an automatic variable in PowerShell ([$PROFILE](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_automatic_variables?view=powershell-7.1#profile)):

https://github.com/sqlcollaborative/dbatools/blob/c8b825a5fc65031b7635202e77274765b43b2416/functions/Get-DbaDbMailProfil

[2021-09-29 13:50] andreasjordan commented on #4990
I think we can add an alias "Name" to the parameter as we did in some other commands as well.

[2021-09-29 16:23] andreasjordan opened #7819 "Get-DbaDatabase not failing on non existing database"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error - that is the problem.
Because Get-DbaDatabase is used by other commands like Set-DbaDbOwner, those commands also raise no error.

Is this the intended behaviour?

If not, the fix would not be so easy - we would have to completly rewrite this part:
https://github.com/sqlcollaborative/dbatools/blob/c8b825a5fc

[2021-09-29 16:46] niphlod commented on #7819
"give me a db with that name" --> not there --> not an error.
"set the owner of the db with that name" --> not there --> not an error.

IMHO the user needing to error out when the input data is not consistent with the "desired target" should just check if things exists beforehand.

[2021-09-29 16:51] niphlod commented on #7819
as to "how to behave on Set-" commands, it's another story, usually they do error out (by "PS standards") when the "thing" you want to "set" doesn't exist.

[2021-09-29 17:01] niphlod commented on #7819
Adding instead of editing: on the "let's error out if what you want to set didn't go through" side, this is also bad design https://github.com/sqlcollaborative/dbatools/blob/90474c562c7696c8957c38e8becbb4ca408f53a8/functions/Set-DbaDbOwner.ps1#L106-L109 . Continuing that way, you target a db that exists, but the set can't go through with it.
The correct way is https://github.com/sqlcollaborative/d

[2021-09-30 13:11] AdieBe opened #7820 "Find-DbaLoginInGroup - error with query on instance with local groups"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/84837285/135460195-6a37482f-641e-4289-a68c-1badd8f443cd.png)

### Steps to Reproduce

[code]
Find-DbaLoginInGroup -SqlInstance instance_name "domain\account" -Verbose

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### Wha

[2021-09-30 13:14] niphlod commented on #7820
Confirmed, I guess nobody thought about Groups that are local on the box running Sql Server ... we'll skip over them.

[2021-09-30 14:47] MikeyBronowski opened #7822 "Get-DbaDbMailAccount & Get-DbaDbMailProfile to return Account-Profile link details"
### Summarize Functionality

In SSMS it's possible to see database mail accounts configured for the database mail profile
![image](https://user-images.githubusercontent.com/13431760/135473593-17af9836-90d5-42c6-83dc-183d8781501c.png)

Similar to details in

`select * from msdb.dbo.sysmail_profileaccount`

I would propose adding this functionality to either Get-DbaDbMailAccount or Get-DbaDbMailProf

[2021-09-30 19:52] mrdenny opened #7823 "Custom roles in master database aren't synced when doing a sync of everything"
### Verified issue does not already exist?

Yes

### What error did you receive?

When doing full sync from one server to another, a custom role in the master database was skipped.

### Steps to Reproduce

[code]
Start-SqlMigration -Source db1 -destination db2 -exclude databases

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host wa

[2021-09-30 19:55] mrdenny opened #7824 "Database mail passwords aren't synced"
### Verified issue does not already exist?

Yes

### What error did you receive?

SQL Mail was unable to send email until the password was reentered

### Steps to Reproduce

[code]
Start-SqlMigration -source db1 -destination db2 -exclude databases

### Are you running the latest release?

Yes

### Other details or mentions

The password in this case was 30+ characters. As soon as the password was

[2021-10-01 06:15] andreasjordan opened #7825 "Use Save-DbaKbUpdate to download SQL Server 2016 SP3"
### Summarize Functionality

Let's start with a list of all links/files for SQL Server 2016 SP3 and SQL Server 2019 CU12 as shown by `Get-DbaKbUpdate`:

![image](https://user-images.githubusercontent.com/66946165/135573433-c9dc7a81-6020-4aa2-8626-cc041f10833a.png)

Difference is, that after the architecture "x64" there is no "_", but the language added with a "-", so this test fails if `-All` is n

[2021-10-01 14:32] iampeterdaniels commented on #7825
I was able to manually download the SqlServer2016SP3-x64-enu_<guid>, but my vote would be that the code handle these cases.  Wondering if they also affect SPs for 2014, 2012, etc.

[2021-10-01 15:30] andreasjordan opened #7827 "Update-DbaBuildReference fails on first run"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/66946165/135646955-58b628bc-75f7-48a7-82f0-629e03ca316f.png)

Only first run is affected, second works.

Will have a look later and provide a fix for that.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_

[2021-10-01 23:22] wsmelton commented on #7824
Password length would not apply here as we do not have access to copy the password with SMO. We do a call to the `Script()` method for the profiles and accounts which is generating the SQL code to recreate it.

The output of the Script method in SMO will not output the password assigned to the mail account. A migration process would have to include going into SSMS to actually update that as SMO do

[2021-10-01 23:25] wsmelton commented on #7823
Related #2441

[2021-10-01 23:36] wsmelton commented on #7819
It is by design. If you were to change it would require backward support because that would break a number of scripts in the wild.

This is the pattern we use on all of our Get functions, and is also the pattern used in PowerShell coding. Get functions should not output anything if the filter of the object is used to find it. The warning we do in `Get-DbaDatabase` was put there because it made use

[2021-10-01 23:46] wsmelton commented on #7815
Just to cover the bases would you mind testing this from `PowerShell.exe` process as well?

[2021-10-04 06:24] jarole commented on #7815
The result is the same from Powershell_ISE and also from PowerShell.exe

[2021-10-04 07:08] nvarscar commented on #7815
Let's try to narrow this down to WMI/SMO. Replace variables as necessary:
[code]

The above should theoretically throw the same error. I think, it needs to be executed in an elevated console, but that might be the localhost-only requirement. Just in case, try both.

[2021-10-04 07:33] jarole commented on #7815
Your'e right, it throws the same error.
We always run the commands in elevated console (but for this case I tested both - no difference)

[code]

[2021-10-04 12:12] wsmelton commented on #7815
@jarole are you running this from a node on the cluster?

If so what version of .NET Framework do you have installed?

[2021-10-04 12:53] jarole commented on #7815
@wsmelton , yes I run this from a cluster node. The result depends on which node I run the command from. As described in my second post https://github.com/sqlcollaborative/dbatools/issues/7815#issuecomment-929975030

tldr;
- when running from **passive** node (changing password on the **passive** node) = the error occures
- when running from **active** node (changing password on the **passive** no

[2021-10-04 13:49] wsmelton commented on #7815
As of version 1.1.0 release ([ref](https://github.com/sqlcollaborative/dbatools/releases/tag/v1.1.0)) the module requires .NET 4.6.2 to be installed on your server. Would you be able to install that on one of the nodes and retest?

[2021-10-04 14:23] jarole commented on #7815
Thank you.
Next days, it is not possible, but once installed I will test and inform you.

[2021-10-04 18:09] #4990 closed

[2021-10-04 18:10] #7820 closed

[2021-10-04 19:55] potatoqualitee commented on #7824
This _might_ be possible, but would possibly require decryption like with Linked Servers and Credentials. I wanted to explore it in the past but never got around to it bc i fear the math. Perhaps next time I get some motivation I'll take a look and explore, let's keep this one open.

[2021-10-04 23:20] bwiggins10 opened #7831 "Add-DbaAgDatabase Method Invocation Failure"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Management.Automation.RuntimeException: Method invocation failed because [System.Object[]] does not contain a method
                        named 'op_Division'.
                           at System.Management.Automation.ParserOps.CallMethod(IScriptExtent errorPo

[2021-10-05 05:02] andreasjordan commented on #7831
Thanks for reporting, will have a look.

[2021-10-05 06:50] andreasjordan commented on #7831
For a workaround, you can disable the reporting of the seeding operation with:
[code]

[2021-10-05 07:44] andreasjordan commented on #7819
Thanks for the discussion, that helped me a lot.
I will close this now, as there is no code change needed.

[2021-10-05 07:44] #7819 closed

[2021-10-05 07:52] #7831 closed

[2021-10-06 07:58] Nkansas opened #7839 "LogShipping Error"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi,

I've implented Log Shipping in 2 servers (SRVSQL023 - SRVSQL024, both have SQL2016 SP3).
But, I still have errors : no synchronization in the secondary server.
Do I miss something by executing scripts ?

![image](https://user-images.githubusercontent.com/25858346/136160714-0207bd24-e4db-4ad4-b556-c19df1f4f4f1.pn

[2021-10-06 08:49] #7827 closed

[2021-10-06 16:04] MikeyBronowski opened #7842 "New-DbaRgResourcePool - examples don't work straightaway"
### Verified issue does not already exist?

Yes

### What error did you receive?

CC: @LowlyDBA as the author of #7794

The two examples won't work - they prompt for adding mandatory parameters

[code]

[code]

Even though I provide the parameters I still get the warning
`New-DbaRgResourcePool -SqlInstance $s1 -ResourcePool DeadPool -MaximumCpuPercentage 90 -MaximumMemoryPercentage 90`

The warnin

[2021-10-06 18:15] LowlyDBA commented on #7842
The first two issues are from a lack of default values - addressed in the above PR. The second one is coming from the `Set-` function that had an improper range for `MaxIOPSPerVolume` defined - also fixed in the PR.

[2021-10-06 20:34] mattcargile opened #7846 "Get-DbaDatabase - No Backup Since Doesn't Return Dbs Without Any Backup"
### Verified issue does not already exist?

Yes

### What error did you receive?

Not applicable. The Output is empty when I would expect to see the database without a backup.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

It appears there may need to be a check here for "empty" `$dabs`?

https://github.com/sqlcollaborative/dbatools/bl

[2021-10-07 14:35] MikeyBronowski opened #7848 "Remove-DbaRgResourcePool - errors when piped in from Get-DbaRgResourcePool with -SqlCredential"
### Verified issue does not already exist?

Yes

### What error did you receive?

It is on a container where I use SQL Authentication and pass it via SqlCredential.
[code]

### Steps to Reproduce

[code]
`Get-DbaRgResourcePool -SqlInstance $s1 -SqlCredential $credential -Type "Internal" | Where-Object { $_.IsSystemObject -eq $false -and $_.Name -eq 'DeadPool'} | Remove-DbaRgResourcePool`

Seems li

[2021-10-10 18:20] Nkansas opened #7852 "DBAreports error"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi,

I cannot install dbareports.
I've an error but the account "Service_SQL" has all rights needed.
Can someone help me please ?

![image](https://user-images.githubusercontent.com/25858346/136707864-19190a09-d126-420d-a75c-9a113a848881.png)

![image](https://user-images.githubusercontent.com/25858346/136707935-3ba5

[2021-10-11 16:57] habibhammy opened #7853 "Get-DbaDbState command not working with SQL 2000 version"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi dbatool Team,

Is it possible to update the command Get-DbaDbState so it can take in charge the SQL 2000 servers.
It is actually not taking in charge this version, I've double checked the code and it is due to the SQL Query used as it only uses the [sys.databases] table.

Here is below the error I get:

[code]

If

[2021-10-12 14:21] devondba opened #7854 "Get-DbaDbRestoreHistory - additional restore point info request"
### Summarize Functionality

Request to include the stop at point in the restore operation or the backup start point if no stop at passed. This will then provide enough info to ascertain the point in time the database has been restored to.

Included:

backup_start_date as BackupStartDate
stop_at as StopAt
combination of the two to provide the LastRestorePoint - being either the stop_at point or th

[2021-10-12 14:42] #7842 closed

[2021-10-12 16:29] jyipks opened #7857 "Backup-DbaDatabase - ReplaceInName doesnt work properly for multiple DBs"
### Verified issue does not already exist?

Yes

### What error did you receive?

No errors, however if you look at the output below, only the "master" database is getting ReplaceInName applied, while it is not applying to msdb
[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when p

[2021-10-14 02:34] alevyinroc opened #7860 "Backup-DbaDatabase fails on macOS when connecting to a Windows-hosted instance"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Running pwsh on macOS, attempting to back up a database residing on an instance hosted on Windows. Path specified for the backup is local to the SQL Server instance. Everything works fine when executed

[2021-10-14 10:54] martinaraftery opened #7861 "Invoke-DbaDbPiiScan not matching pattern due to white space in Table column"
### Verified issue does not already exist?

Yes

### What error did you receive?

Created a custom json pattern file to search for a Drivers License Number in a DB. It failed to find an instance in a table due to the field being a character field which included white space after the number.

Modifying the following line in your code (Line 340) to trim the contents of the column:
FROM

$query = "SE

[2021-10-14 11:37] potatoqualitee commented on #7861
Thanks for the report! @sanderstad can you take a look?

[2021-10-15 07:41] sanderstad commented on #7861
Sure no problem at all

[2021-10-15 21:07] utirpan opened #7864 "Set-DbaDbCompression error when multiple databases"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [15:55:11][Set-DbaDbCompression] Compression failed for localhost - [DB1] | Error connecting to [localhost]: Method invocation failed because [System.Management.Automation.PSObject] does not contain a method named
 'op_Addition'.
WARNING: [15:55:11][Set-DbaDbCompression] Compression failed for localhost - [D

[2021-10-16 09:01] potatoqualitee commented on #7013
I think this will be easy to address and will reopen for myself in the future

[2021-10-16 16:26] wsmelton opened #7865 "VS Code + PS Ext's Integrated Terminal no longer loads dll file"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/11204251/137594934-6b966dcc-8245-47a6-926c-6e16d0a47583.png)

Import-Module: The specified module 'C:\git\dbatools\bin\dbatools.dll' was not loaded because no valid module file was found in any module directory.

### Steps to Reproduce

Start debugging session or ope

[2021-10-16 16:28] wsmelton commented on #7865
Switch Ext to use Windows PowerShell and it imports with no issues.

[2021-10-16 23:53] wsmelton opened #7867 "Appveyor build changes"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/11204251/137604854-0d5dfa93-55c9-4b93-88d2-9faa44cdb44c.png)

### Steps to Reproduce

N/A - this is issue with Appveyor runs

### Are you running the latest release?

Yes

### Other details or mentions

https://github.com/sqlcollaborative/dbatools/commit/588e3cbce6bb

[2021-10-17 19:50] potatoqualitee opened #7869 "Get-DbaDatabase + Azure [ bug report ]"
### Summarize Functionality

I can't submit a bug report anymore. Not sure what is going on. It never allows me to click Submit New Issue.

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

Get-DbaDatabase -SqlInstance $server
WARNING: [21:13:07][Invoke-QueryRawDatabases] Failure | Error connecting to [dbatoolstest.database.windows.net]: You

[2021-10-17 20:49] wsmelton commented on #7865
PR on folder restructuring it cleared up but couldn't figure out which path update fixed it.

[2021-10-17 22:04] wsmelton opened #7870 "Test"
### Verified issue does not already exist?

Yes

### What error did you receive?

Test

### Steps to Reproduce

[code]

### Are you running the latest release?

_No response_

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

Test

### SQL Server Edition and Build number

Test

### .NE

[2021-10-17 22:04] #7870 closed

[2021-10-17 22:07] wsmelton commented on #7867
This run from a current PR also shows the failure but a different error message:

https://ci.appveyor.com/project/sqlcollaborative/dbatools/builds/41175424/job/4yclemy7kr3vhtty

![image](https://user-images.githubusercontent.com/11204251/137646669-b80767f0-05de-4356-b0bc-dc0a0ca6b154.png)

[2021-10-18 09:21] #7857 closed, assigned to nobody

[2021-10-18 09:34] #7848 closed, assigned to nobody

[2021-10-18 10:57] jayparry opened #7872 "Move-DbaDbFile syntax error in SQL when logical filenames have dashes"
### Verified issue does not already exist?

Yes

### What error did you receive?

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Exception: Incorrect syntax near '-'.
                        Incorrect syntax near the keyword 'with'. If this statement is a common table expression, an xmlnamespaces clause or a change tracking context clause, the previous

[2021-10-18 13:55] RendSpun opened #7874 "Install-DbaInstance Error with tools feature"
### Verified issue does not already exist?

Yes

### What error did you receive?

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Exception: Feature Tools(SSMS) is not supported on SQL2019
TargetObject          :
CategoryInfo          : NotSpecified: (:) [Write-Error], Exception
FullyQualifiedErrorId : dbatools_Install-DbaInstance,Stop-Function
ErrorDetails

[2021-10-18 23:54] mattcargile opened #7875 "Get-DbaDbBackupHistory - Missing Database In Output Because Duplicate database_guid"
### Verified issue does not already exist?

Yes

### What error did you receive?

No Errors. Database isn't within the output even though there is a backup due to sharing the same `backupset.database_guid`.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Link to `JOIN`.

https://github.com/sqlcollaborative/dbatools/blob/ce44026aa49f6ce9

[2021-10-19 00:09] mattcargile opened #7876 "Issues Forms - PowerShell Host Version Sample Code"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/74641867/137822538-49053e7f-50b2-4c5c-9fb9-d0143bfa269b.png)

The code in the above screenshot doesn't appear to output the correct information. It outputs the text `System.Management.Automation.PSVersionHashTable` instead of the below.

[code]

### Steps to Reproduc

[2021-10-21 02:49] paschott opened #7877 "Invoke-DbaQuery - allow header row if empty result set returned"
### Summarize Functionality

Sometimes we need to generate a file that includes a header row of the columns that would be present, even if there is no data to accompany them. I'd like to see a parameter allowing that as an option to the Invoke-DbaQuery function.

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

Invoke-DbaQuery will generate

[2021-10-21 06:46] niphlod commented on #7877
it's not really a matter of what we do, rather that PS pipeline has nothing able to represent a zero-length results "with headers only" (which translates to a collection of properties, whose "names" are what you're looking for).
`"" | Select col1, col2, col3, col4, col5`  may SEEM to achieve what you want, but would be indistinguishable from a result with a single row with all values empty.
You ca

[2021-10-21 14:09] andreasjordan commented on #7875
Hi Matt, thanks for reporting this - I just opened a pull request for that.

[2021-10-21 16:01] mattcargile opened #7881 "Invoke-DbaWhoIsActive - Invalid Query For -*FilterType Params With CS Collation"
### Verified issue does not already exist?

Yes

### What error did you receive?

Basic Powershell Core message is `WARNING: [10:36:43][Invoke-DbaWhoIsActive] Invalid query.`

Full error output.

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

#### Additional Error Information

I used a trace to grab the code. Here is a better er

[2021-10-21 16:12] mattcargile opened #7882 "Copy-DbaDatabase - DetachAttach Same Instance Can't Access Local Drive"
### Verified issue does not already exist?

Yes

### What error did you receive?

Powershell Core Basic Ouput:
[code]

Full `$Error` output:
[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Spoke with @andreasjordan on Slack. Here is his note from Slack.

_Quick fix for me was do remove the internal function Join-AdminUnc inside o

[2021-10-21 16:29] andreasjordan commented on #7882
Hi @potatoqualitee - can you have a look?
First of all: Do you think this is a valid use case for the function?
Then: Do we need the "command-internal" function Join-AdminUnc with the extra test of "$script:sameserver -or (-not $script:isWindows" which results in returning the local path instead of an unc path.

[2021-10-21 17:15] mattcargile commented on #7881
It looks like `As` is an `Alias` for `-Filter`. That seems a bit weird in the context of other cmdlets in dbatools. I like both of your ideas though. It would be nice to have an `-As` similar to `Invoke-DbaQuery`. Not sure how the `SingleValue` input would be handled in this case.

[2021-10-21 17:20] andreasjordan commented on #7881
Good hint, we should not use the original
[code]
but
[code]

[2021-10-22 13:28] #7876 closed, assigned to nobody

[2021-10-22 17:19] andreasjordan opened #7884 "Install-DbaWhoIsActive - Use Save-DbaCommunitySoftware to download latest version?"
### Summarize Functionality

Do we want to use Save-DbaCommunitySoftware to download the lastest version of sp_WhoIsActive?

At the moment, we use Save-DbaCommunitySoftware for:
* MaintenanceSolution: SQL Server Maintenance Solution created by Ola Hallengren (https://ola.hallengren.com)
* FirstResponderKit: First Responder Kit created by Brent Ozar (http://FirstResponderKit.org)
* DarlingData: Eri

[2021-10-22 18:27] jarole opened #7885 "Update-DbaServiceAccount with Failover Cluster -NoRestart not applied"
### Verified issue does not already exist?

Yes

### What error did you receive?

no error, but unexpected behavior when using `-NoRestart` parameter

SQL Agent msg:
`SQLAgent$ service stopping due to a stop request from a user, process, or the OS...`

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

When using `Update-DbaServiceAccount`

[2021-10-24 15:58] pcamelio opened #7888 "Install-DbaSqlWatch - PermissionDenied on CommandLine.dll when run multiple times from the same Powerhell ISE"
### Verified issue does not already exist?

Yes

### What error did you receive?

Start PowerShell ISE (whatever the mode - admin or not)
Running **Install-DbaSqlWatch** multiple times from the same PowerShell ISE session give the following error msg
[code]
but the install works successfully.

If the Powershell ISE is restarted, same behaviour.

### Steps to Reproduce

[code]

### Are you running

[2021-10-25 21:34] lowlydba opened #7889 "ISE Runspace Cleanup Issues"
### Verified issue does not already exist?

Yes

### What error did you receive?

This is a bit of a specific scenario and I don't 100% understand why it is a problem, but I've tested this extensively and am positive this is the source of the problem. It was introduced by #7619

When running our custom Powershell Core module plugins in Ansible, scripts that utilize `Invoke-DbaQuery` (all other com

[2021-10-26 08:53] #7889 closed, assigned to andreasjordan

[2021-10-26 11:08] #7885 closed, assigned to nobody

[2021-10-26 23:11] moss12344 opened #7896 "Enhance copy-dbacredential for cryptographic providers"
### Summarize Functionality

I am trying to copy a credential. The copy-dbacredential works fine except the credential I am trying to copy was created with the FOR CRYPTOGRAPHIC PROVIDER - the cyyptographic provider info for the credential does not copy over to the new server. I've looked at the code (ps1) for copy-dbacredential and of course it does not include the FOR CRYPTOGRAPHIC PROVIDER. Can

[2021-10-27 06:59] AGregersen opened #7897 "Invoke-DbaQuery gives overload error for SQLCommand when specifying port on sql instance"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [08:50:13][Invoke-DbaQuery] [udv-kb-sql4,4133] Failed during execution | Error connecting to [udv-kb-sql4,4133]: Cannot find an overload for "SqlCommand" and the argument count: "2".

### Steps to Reproduce

[code]
Invoke-DbaQuery -SqlInstance "udv-kb-sql4,4133" -Query "select * from sys.databases"

### Are

[2021-10-27 07:20] #7897 closed, assigned to nobody

[2021-10-27 13:51] lowlydba opened #7898 "Standardize ConnectionModeInSecondaryRole options in Add-DbaAgReplica"
### Summarize Functionality

Update `Add-DbaAgReplica` to have the same SSMS-oriented parameter choices as `New-DbaAvailabilityGroup`, etc. as done in https://github.com/sqlcollaborative/dbatools/issues/5211:

https://github.com/sqlcollaborative/dbatools/blob/5419d910a60aec2cabbd5ee0553ae638e1606090/functions/Add-DbaAgReplica.ps1#L140

vs.

https://github.com/sqlcollaborative/dbatools/blob/5419d91

[2021-10-28 08:43] #7898 closed, assigned to nobody

[2021-10-28 08:46] #7846 closed, assigned to nobody

[2021-10-28 08:47] #7888 closed, assigned to andreasjordan

[2021-10-29 12:01] sau666thebeast opened #7905 "Backup-DbaDatabase with -Verify is not using given -SqlCredential for Step Restore-DbaDatabase"
### Verified issue does not already exist?

Yes

### What error did you receive?

AUSFÜHRLICH: [11:52:04][Backup-DbaDatabase] Setting Default timestampformat
AUSFÜHRLICH: [11:52:04][Connect-DbaInstance] String is passed in, will build server object from instance object and other parameters, do some checks and then return the server object
AUSFÜHRLICH: [11:52:04][Connect-DbaInstance] authentication

[2021-10-29 12:40] Zhunya opened #7906 "BUG: ConvertTo-DbaTimeLine - ABC.html:47 Uncaught ReferenceError: google is not defined"
### Verified issue does not already exist?

Yes

### What error did you receive?

Uncaught SyntaxError: Invalid or unexpected token
Uncaught ReferenceError: google is not defined
    at ABC.html:47

Line 47 in resulting HTML - google.charts.load('43', {'packages':['timeline']});

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No respon

[2021-10-30 10:53] andreasjordan commented on #7906
This is most likely a problem with the googe code, as "Uncaught SyntaxError: Invalid or unexpected token" is from loader.js, which is loaded by "<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>", which is exacly as documented here: https://developers.google.com/chart/interactive/docs/gallery/timeline

So we can not do anything about it. Maybe @marcingminski h

[2021-10-30 10:56] marcingminski commented on #7906
Hi, This has not been "touched" for a few years so there is a chance that Google changed their framework and it broke. I was not aware of it but I will take a look at it this weekend.

[2021-10-30 11:04] andreasjordan commented on #7905
The problem is most likely inside of Connect-DbaInstance.

`-SqlCredential` does not need to be passed to `Restore-DbaDatabase`, as ` $server` is passed in which is the already connected Server SMO. But as a different `-Database` is passed in, `Connect-DbaInstance` needs to change the database context. This step seems to fail in a way that the copied context has lost the credential information.

W

[2021-10-30 11:48] andreasjordan commented on #7905
I don't see a reason for `Restore-DbaDatabase` using `-Database master` while connecting. Issue does not accur when removing this, so I will open a pull request for that.
@Stuart-Moore Can you please have a look at this? Maybe you know the reson to force the master database.

[2021-10-30 11:56] andreasjordan commented on #7905
One additional hint for future readers:

Using `-SqlCredential` with an AD account works, but has some limitations. There is a lot of magic happening inside of the used DLL. One limitation is the one relevant here: We can not copy the connection context (needed when changing the database without permanently changing the passed in Server SMO) so some commands may fail.

As a workaround try to start

[2021-10-30 13:00] andreasjordan commented on #7881
Just opened a pull request for that. Can you test that, @mattcargile ?

[2021-10-30 13:10] andreasjordan commented on #7860
`Find-DbaOrphanedFile` also uses `[IO.Path]::GetFullPath` and should be changed as well.

[2021-10-30 13:30] andreasjordan commented on #7860
I just removed the code and it works "on my machine". But I have a windows only environment. Maybe you can test the changes in your environemnt? Will open a pull request so that you can see the changes.

[2021-10-30 13:54] andreasjordan commented on #7852
Sorry to say, Install-DbaReports is not a dbatools command, but from https://github.com/sqlcollaborative/dbareports.
@SQLDBAWithABeard is the author, maybe he can help?

[2021-10-30 14:05] #7852 closed

[2021-10-30 15:26] andreasjordan commented on #7788
I have testet with version 1.0.137 and get errors with that version as well, if I have read-only databases.
But I don't know what your expectations are. I can not change permissions on a read only database, so the destination database must not be read-only.
Maybe it helps if you run the command with `-Verbose` and provide the output. This way I can see which step fails, because `Sync-DbaLoginPermi

[2021-10-30 15:41] andreasjordan commented on #7722
I think this is by design. Only directly granted permissions are exported.
To export the permissions granted to a database role, we have `Export-DbaDbRole`.

@potatoqualitee please reopen if I'm wrong.

[2021-10-30 15:41] #7722 closed

[2021-10-30 15:43] andreasjordan commented on #7515
@Stuart-Moore Do you have an eye on this?

[2021-10-30 15:57] andreasjordan commented on #7727
@kirzas Are you able to provide a pull request with the proposed changes?
@potatoqualitee Can you as the author of the command have a look at this issue?

[2021-11-01 07:40] christophorosp opened #7912 "Test-DbaLastBackup: Add -FileStreamDirectory (similarly with Restore-DbaDatabase)"
### Summarize Functionality

As per title, is it feasible to differentiate DataDirectory from FileStreamDirectory and introduce a new parameter (-FileStreamDirectory ) like the one on Restore-DbaDatabase (-DestinationFileStreamDirectory) command?

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

Restore-DbaDatabase offers this functionality

[2021-11-01 08:46] #7792 closed

[2021-11-01 08:48] #7853 closed

[2021-11-01 08:56] #7881 closed

[2021-11-01 09:01] potatoqualitee commented on #7905
I would assume that a connect to master was forced bc a person's default database may be the one they're trying to replace, and connecting to master was safest as it won't be the one that's being restored.

Since this changes an important behavior (perhaps with this change, people will need to use `Force` more or something), can we scope it more? Check for sqlcredential and further, AD not matchin

[2021-11-01 09:13] andreasjordan commented on #7905
We could use `-Database master` in `Backup-DbaDatabase` - this way the database context does not have to be changed, because it is already set to master. But have not tested yet - will try later today.

[2021-11-01 09:42] potatoqualitee commented on #7727
yeah! i remember that this was on my todo list, but it was kinda challenging, so I put it off (xml or text parsing) :/ would be happy to review a PR.

[2021-11-01 09:52] andreasjordan commented on #7905
Already updated the pull request, will try to do a test later.

[2021-11-01 10:20] andreasjordan commented on #7905
Tested. Works.

[2021-11-01 10:21] andreasjordan commented on #7905
Tested. Works.

[2021-11-01 13:28] #7860 closed

[2021-11-01 13:29] #7905 closed

[2021-11-01 13:58] #7884 closed

[2021-11-01 15:00] jrobiii opened #7913 "Example 3 for Find-DbaInstance does not work in PowerShell Core (v7.1.4)"
### Verified issue does not already exist?

Yes

### What error did you receive?

Find-DbaInstance: The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the parameters that take pipeline input.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### O

[2021-11-01 18:13] sau666thebeast commented on #7905
Thank You gerat work

[2021-11-02 20:27] pcamelio opened #7914 "Uninstall-dbasqlwatch - Drop error due to cross reference"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi,

Uninstall-DbaSqlWatch failed due to cross reference:

Error message:
[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell ISE (powershell_ise.exe)

### Po

[2021-11-03 19:10] chightow opened #7916 "Error 8623 Get-dbadbbackuphistory"
### Verified issue does not already exist?

No

### What error did you receive?

it's just an error when you have a ton of backup setIDs since the modules using in ( 1,2,3,4,... 60000)  dbatools doesn't bubble the error up but I know that's what it was. Just switched over to a temp table instead and the command works as expected.

### Steps to Reproduce

$Sqlinstance = "YourSqlInstance"
$DB = "you

[2021-11-03 19:43] chightow commented on #7916
it's the same error you'd get if you had a ton of values in a "IN" clause.

$arr = (1..10000000)
$q = 'select 1 from master.sys.databases where 0 in (' ($arr -join ',') + ');'
invoke-dbaquery -sqlinstance blah -query $q

[2021-11-03 20:15] alevyinroc opened #7918 "Backup-DbaDbCertificate should warn on missing certificate"
### Summarize Functionality

When backing up a database certificate by name, if the named certificate does not exist, a warning should be thrown telling the user.

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

Test the results of `Get-DbaDbCertificate` against the passed-in name(s) and if things don't match up, write a warning out inform

[2021-11-04 15:27] jeffincognito opened #7921 "Restore-DBADatabase hangs if a partial uploaded BAK file exists"
### Verified issue does not already exist?

Yes

### What error did you receive?

I'm working on a project to move a database into an azure environment daily for reporting. The file transmission happens through SFTP and as the file is uploaded, it's given a '.bak.part' file extension.
This failed one day as the timing of the upload crossed the restore script and the process hung.  I was able to ma

[2021-11-05 13:39] SportsTribution commented on #7759
Thanks guys!

[2021-11-05 13:47] potatoqualitee opened #7922 "Add-DbaRegServer adds dupes"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

i didnt specify a sqlinstance so this shouldn't attempt to add to localhost. This will only happen with pipes, probably.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Win

[2021-11-05 14:00] potatoqualitee commented on #7922
jk! my $psdefaultparaemetervalues were filled

[2021-11-05 14:00] #7922 closed

[2021-11-06 08:55] #7301 closed

[2021-11-06 10:30] andreasjordan commented on #7921
As the files are not locally to the PowerShell session but locally to the SQL Server instance, we use `xp_dirtree` to get a list of files and pass them to `Read-DbaBackupHeader` to get the backup information.

So first thing that you could do to help us is to try only `Read-DbaBackupHeader` with a short list of files including the "part" file, to see if this hangs as well. The command uses runspac

[2021-11-06 10:44] andreasjordan commented on #7913
I just installed PowerShell Core 7.1.5 and there it works. If you can still reproduce the issue, please reopen.

[2021-11-06 10:44] #7913 closed

[2021-11-06 11:14] potatoqualitee commented on #7921
I'm impressed that SMO can read a partially uploaded file! `bak.part` seems like an ideal filename to exclude in our process.

[2021-11-06 11:15] #7914 closed

[2021-11-06 11:16] #7874 closed

[2021-11-06 13:12] andreasjordan commented on #7921
Have a look at the linked pull request.

[2021-11-06 13:31] wsmelton commented on #7921
I would caution against filtering out explicit file extensions. SQL Server nor Azure have anything to do with those files being named `bak.part` (nothing documented that I could find).

SQL Server allows you to name any backup file what you want. I can create a backup file as `dont.deleteme` and it will try to restore it. Restore header is used for that purpose to validate it is a valid, formatted

[2021-11-06 14:39] andreasjordan commented on #7921
Thanks Shawn for your feedback, you have a very valid point here.
So after that, I would vote for closing this issue as "works as designed". So the user would have to test the files for beeing all valid.

[2021-11-06 17:47] Stuart-Moore commented on #7921
Yes. By design restore looks at all files passed into it. Over the years I've come across a lot of stupid file extensions on backups, and even some without.

Maybe a note/example in the help to show filtering the files passed into the command?

[2021-11-06 17:48] Stuart-Moore commented on #7905
Yes, the restore using master was exactly for that reason.

[2021-11-07 22:08] wsmelton commented on #7877
Yeah this is a limitation of objects in PowerShell.

[2021-11-07 22:08] #7877 closed

[2021-11-08 01:57] fabiopennisifmg opened #7930 "Add Modify Date to Get-DbaAgentJob"
### Summarize Functionality

Add existing ModifyDate property (in Microsoft.SqlServer.Management.Smo.Agent) to Get-DbaAgentJob

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Simple change required in Get-DbaAgentJob cmdlet.

Line 157 of Get-DbaAgentJob.ps1 (tack on new property)
$defaults = 'ComputerName', 'InstanceName', 'SqlInstance', '

[2021-11-08 16:36] DBAgnew opened #7932 "Unexpected Write-DbaDBTableData behavior between ISE and Command"
### Verified issue does not already exist?

No

### What error did you receive?

Hello,

I have code that works perfectly in powershell_ise but gets an error in the command line. Both powershell_ise and the command line (dos prompt) are running in elevated rights (Admnistrator).

I have provided the powershell version, a snipped of the error (it just repeats per value attempted to insert - so no n

[2021-11-08 17:31] mattcargile opened #7935 "Get-DbaDatabase - No*Backup* Params Output Db If Mismatched Case In T-SQL Command"
### Verified issue does not already exist?

Yes

### What error did you receive?

Error wasn't received. Database with a backup was output when when the `-No*Backup*` params are used. I _think_ this occurs due to the below two lines, namely the `-cnotin` code. The `msdb.dbo.backupset.database_name` respects the case used in the T-SQL command.

https://github.com/sqlcollaborative/dbatools/blob/1dfc

[2021-11-08 18:02] Kurama2121 opened #7936 "Install-dbaFirstresponderkit not updating scripts"
### Verified issue does not already exist?

Yes

### What error did you receive?

I updated the dbatools module and then ran the install-dbaFirstresponderkit and it shows as updated in the powershell module, but when I went to check their versions they were still the old version of the code. I ran the scripts manually from brents github and they updated fine.

### Steps to Reproduce

Install-Modul

[2021-11-08 18:24] andreasjordan commented on #7936
An old version is still in the local cache. To update the cache, use `-Force` or use the command https://docs.dbatools.io/Save-DbaCommunitySoftware

[2021-11-08 18:41] Kurama2121 commented on #7936
Thank you, didnt realize the force would do that.

[2021-11-08 18:41] #7936 closed

[2021-11-09 13:12] #7916 closed

[2021-11-11 12:56] reitse opened #7938 "Dead link in the documentation"
### Verified issue does not already exist?

No

### What error did you receive?

404 when clicking on the http://docs.dbatools.io/Invoke-DbaWhoisActive link on the commands page.

### Steps to Reproduce

website: go to commands, search for Invoke-DbaWhoIsActive and click on the link.

The link goes to http://docs.dbatools.io/Invoke-DbaWhoisActive, it should be http://docs.dbatools.io/Invoke-DbaWho

[2021-11-11 16:46] Geo-Ron opened #7939 "Set-DbaStartupParameter: Issue configuring trace flags on new instance [Cannot convert value "-T1118" to type "System.Int32"]"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]
WARNING: [17:02:33][Set-DbaStartupParameter] Unable to gather current startup parameters | Error connecting to [<INSTANCE>]: Cannot convert value "-T1118" to type "System.Int32". Error: "Input string was not in a correct format."

### Steps to Reproduce

[code]

WARNING: [17:21:03][Set-DbaStartupParameter] Una

[2021-11-11 22:55] AndersLarzzon opened #7940 "Invoke-DbaDbDataMasking - Poor performance"
### Verified issue does not already exist?

Yes

### What error did you receive?

When having the HasUniqueIndex = true in the datamasking config file that triggers a creation of temptable where column values for columns to mask is generated.  for a table of 200 000 rows it took 5 days to generate firstname and last name.

### Steps to Reproduce

[code]
PS D:\Applications\PowerShell\Scripts\DBATOO

[2021-11-11 23:07] AndersLarzzon opened #7941 "Invoke-DbaDbDataMasking - Leftovers when running datamasking"
### Verified issue does not already exist?

Yes

### What error did you receive?

when running Invoke-DbaDbDataMasking the command creates a column: MaskingID in the table that is masked if it does not have a primary key.
This column seems not to be removed when datamasking is done

it also creates this column when using the -WhatIf parameter.

Expected behavior 1:
When using -WhatIf no changes to

[2021-11-11 23:20] AndersLarzzon opened #7942 "Invoke-DbaDbDataMasking - setting a static value and point out a an prepopulated randomized file."
### Summarize Functionality

When using the datmaking with a filterquery that is not respected
Would be nice to be able to use staticvalue parameter in the config-file

adding parameter StaticValue = "GDPR-Masking" works but sets every row in the table eg it does not respect the FilterQuery ? I think that might bee a bug? In my world it should respect the filtering query.
Also if trying to set the

[2021-11-12 07:50] Geo-Ron commented on #7939
Issue has been resolved in 1.1.34.
The issue was in Get-DbaStartupParameter

I am sorry for creating this issue.

[2021-11-12 07:50] #7939 closed

[2021-11-12 17:18] habibhammy opened #7943 "Write-DbaDbTableData failing with TIMESPAN values"
### Verified issue does not already exist?

Yes

### What error did you receive?

HI All,

I need your help please.
I'm developping a PS Script that is doing some statistics and monitoring on the SQL infra in my company...
I'm trying to copy the jobs history to a centrale datawarehouse from the source server.
I'm doing a select on the source server and getting the database in the below sql types :

[2021-11-12 17:20] andreasjordan opened #7944 "Install-DbaWhoIsActive - Use new filename sp_WhoIsActive.sql"
### Summarize Functionality

See: https://github.com/amachanic/sp_whoisactive/releases

Starting this release, the filename changed from who_is_active.sql to sp_WhoIsActive.sql.
We have to change the command, but still support the old name as someone might still use an old version in the local cache.

I will take care of this in the next days.

### Is there a command that is similiar or close to w

[2021-11-12 17:33] niphlod commented on #7943
hum, .net timespan can also be GREATER than 24 hours, which is the max value for time(7), hence not the correct type.
You'd be much better off extracting starttime and doing a dateadd to it with the duration to extract the "endtime", so you can account for durations greater than 24 hours

[2021-11-12 18:06] habibhammy commented on #7943
hmmmm I fully understand your point.
But for me it is ok if I could import the data as nvarchar to the SQL server database ....
The problem is that SQL Server is refusing the match TimeSpan<==>NVarChar ....

Also many be I'm wong in my analysis and that the error is not linked to this ...
Can you please double check :D

[code]

[2021-11-12 18:48] chightow commented on #7935
fix is straight forward.  SQL doesn't allow two databases with the exact same characters to be on the same server i.e. [Test] and [TEST]. but [Test] and [ Test] can.

Not sure why cnotin was used, it doesn't need to be case sensitive. and Get-DBABackupHistory explodes when you've got a databses with the same name, but one has a leading space anyways so it would blow up differently.

$array = @(" h

[2021-11-14 14:06] andreasjordan commented on #7938
Thanks for reporting this. As the webpage "https://dbatools.io/commands/" is not generated automatically: @potatoqualitee - can you do the change manually?

[2021-11-14 14:28] andreasjordan commented on #7932
Sorry, I cannot reproduce the issue. Can you please shorten the code to smallest possible to show the error?

[2021-11-14 14:36] andreasjordan commented on #7930
The property you are looking for is part of the returned object - just not part of the default properties to display. I personally think that the DateLastModified is not needed so often to put it in the defaults.

[2021-11-15 00:49] fabiopennisifmg commented on #7930
Hey, yes indeed, it's actually in there, sorry my bad. Yeah agreed, no need to add it to defaults. Cheers

[2021-11-15 00:49] #7930 closed

[2021-11-15 08:46] #7912 closed

[2021-11-15 08:47] #7944 closed

[2021-11-15 14:49] utirpan commented on #7864
How to tell the version of dbatools?

[2021-11-15 14:51] andreasjordan commented on #7864
`Get-Module -Name dbatools`

[2021-11-15 14:59] utirpan commented on #7864
"Get-Module -Name dbatools" returns blank (nothing)

[2021-11-15 15:01] andreasjordan commented on #7864
First import the module. Or execute `Get-Module -Name dbatools -ListAvailable`, that will show all installed versions.

[2021-11-15 15:02] utirpan commented on #7864
Directory: C:\Users\SQLAdmin\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.1.24     dbatools                            {Select-DbaObject, Set-DbatoolsConfig, Add-DbaAgDatabase, ...

[2021-11-15 15:03] andreasjordan commented on #7864
Ok, not the latest version, but not too old.
Can you reproduce the error and then run `Get-DbatoolsError`?

[2021-11-15 15:05] utirpan commented on #7864
Working on it, will post results as soon as I can...

[2021-11-15 16:34] utirpan commented on #7864
PS C:\Users\ut> Get-DbatoolsError

CategoryInfo          : InvalidOperation: ([TESTDB1]:PSObject) [Write-Error], Exception
ErrorDetails          : Error connecting to [10.10.4.4]: Method invocation failed because [System.Management.Automation.PSObject] does not contain a method named 'op_Addition'.
Exception             : System.Exception: Error connecting to [10.10.4.4]: Method invocation failed

[2021-11-15 16:36] utirpan commented on #7864
To reproduce this error, make sure $InputObject has multiple tables from multiple databases. If you have objects from 1 single database it is not erroring out.

[2021-11-15 17:28] andreasjordan commented on #7864
It is difficult for me to setup a lab for that.
Can you run the command with `-Verbose` to see what the last verbose message before the failure is? And use `-EnableException` to fail at the first error and not continue with the other databases.

[2021-11-15 17:30] andreasjordan commented on #7864
Most likely it is line 69839 in the allcommands.ps1:
[code]
 Can you change the line and remove the "+" from "+="?

[2021-11-15 19:39] utirpan commented on #7864
I will work on that and let you know...

[2021-11-16 03:36] lancasteradam opened #7951 "Remove-DbaLinkedServer: Add option to drop logins along with the linked server"
### Summarize Functionality

As [requested ](https://github.com/sqlcollaborative/dbatools/pull/7393#issuecomment-870915736) by @garyhampson it would be helpful for the Remove-DbaLinkedServer to have a param that specifies the logins should be dropped.

This could be done using a -Force param and will call $linkedServer.Drop($true)

### Is there a command that is similiar or close to what you are l

[2021-11-16 10:02] wsmelton commented on #7938
The documentation now resides under sqlcollaborative/web and anyone can submit a PR to address dead links.

[2021-11-16 10:02] #7938 closed

[2021-11-16 10:05] wsmelton commented on #7935
If you are in an instance with case sensitive collation you can have a database with the same name but different casing.  That is why we use a case sensitive comparison operator in PowerShell.

[2021-11-16 13:45] chightow commented on #7935
[get-DbaSqlInstanceCollationStringCompareTools.txt](https://github.com/sqlcollaborative/dbatools/files/7546742/get-DbaSqlInstanceCollationStringCompareTools.txt)

@wsmelton
that's Not any more Accurate than using in.

Would this be helpful, since it gives you an accurate string comparison for any given Collation

[2021-11-16 14:07] wsmelton commented on #7935
I'm not referring to comparing an array to a single value. I'm only talking about case-sensitive comparison. In that there is a significant difference between using `-notin` vs `-cnotin`. By default PowerShell comparison operators `in`, `eq`, etc are all non-case comparisons. When you using any of them prefixed with `c` then it turns it to do a case-sensitive comparison. So there is a strong diffe

[2021-11-16 15:06] chightow commented on #7935
PR  andreas approved uses collation Check, to decide whether or not to do -cin  or -in

it's still wrong though.

waiting for it to be merged or for them to tell me to do it the way that handles all collations correctly.

Prior to pull it handled CS_WS_AS  Correctly only Maybe the KS ones too , but I don't have any of those.

as currently approved  handles CI_WS_AS, CS_WS_AS correctly

But it's st

[2021-11-16 15:16] wsmelton commented on #7935
If it is still wrong why are you not submitting a PR to completely fix it?

[2021-11-16 15:17] chightow commented on #7935
well I've never submitted a new Module Is what I have fine?

[2021-11-16 15:19] wsmelton commented on #7935
[code]

The above, looking at your text file, is excessive and won't scale with large environments.

[2021-11-16 15:30] chightow commented on #7935
is it the in function or equals, or that they're Methods on a PscustomObject?
Or just that the names terrible?

Function

[2021-11-16 15:31] wsmelton commented on #7935
The problem with using SMO's `StringComparer` is that depends on `Microsoft.SqlServer.Management.SqlParser` I believe which was not ported to dotnet core. So not sure if using that will end up getting different results based on culture and dotnet version running on a given machine.

I'm also not fond of using collation checks // @potatoqualitee @andreasjordan // because those are going to give dif

[2021-11-16 15:34] wsmelton commented on #7935
The function you have @chightow is performant in it is creating a new object based on the input. `Get-DbaDatabase` is already a function that has performance issues natively from SMO enumeration. I think newer versions of SMO they are improving this but there are some environments I've touched it just can't be used.

If you have an internal function that has to iterate over each input and then use

[2021-11-16 15:37] andreasjordan commented on #7935
My point of view:
On case insensitive instances (should be most cases) users can run the backup command with different case for the same database, so data in msdb has different (case) values for the same database. So comparing should be case insensitive too.
On case sensitive instances (probably edge case) users might be creating two databases with the "same" name - or don't they? (Don't have a ca

[2021-11-16 15:39] chightow commented on #7935
@wsmelton  I'll check, I think it's in .net core got to start up wsl.

[2021-11-16 15:42] wsmelton commented on #7935
The library we depend upon for SMO is packaged with the module. You can find them in the bin\smo directory.

[2021-11-16 15:49] mattcargile commented on #7935
I was playing with `Get-StringComparer()` in `pwsh` and it was working. I've got `.NET 6.0.0`.

[2021-11-16 16:27] chightow commented on #7935
@wsmelton

So basically this is the reason

"""
create table #Collations
( [name] varchar(255), [ceq works] bit, [eq works] bit, [neither work] bit default 0  )

insert into #Collations
( [name], [ceq works], [eq works] )
SELECT name, case when name like '%_BIN%'
or (name like '%_CS%' and name like '%_AS%' and name like '%_KS%' and name like '%_WS%') then 1 else 0 end as [ceq works],
case when nam

[2021-11-16 17:32] chightow commented on #7935
Don't think I even need a real instance for it to work

would this be better?

Function Get-DbaCollationEquals
{
	param( [string]$Collation, [string]$String1, [string]$string2,[Microsoft.SqlServer.Management.Smo.Server]$SqlInstance )
	if ( -not $SqlInstance ) {
		$SqlInstance = New-Object -TypeName Microsoft.SqlServer.Management.Smo.Server
	}
	return $SqlInstance.getStringComparer($Collation).Comp

[2021-11-16 17:49] wsmelton commented on #7935
We are trying to solve something that is a non-issue here. Just revert the comparison operator back to `-notin` and we fix this issue. Collation is irrelevant for this direct issue because the comparison is being done in PowerShell, **not** in SQL Server.

We have no reason to try and perform string comparisons based on collation in SQL Server when the data is being compared within PowerShell's pr

[2021-11-16 18:03] mattcargile commented on #7935
So then the case of having two databases where one is named `Test` and one is `TEST` on a CS Collation wouldn't be covered? I would assume this situation is mostly impractical in a production instance.

To your point @chightow, I would assume you wouldn't derive the functions and use the already derived `$server` object in the function `Get-DbaDatabase`.

[2021-11-16 18:10] chightow commented on #7935
@mattcargile
Just depends on what you want to work

-in  is faster than Get-DbaCollationIn by about 130ms on comparing an array with 32767k elements

`
$start = [long] 1
$end = [long] 32767
$number = @()

while ($start -lt $end){
	$Number = $number + @('1')
	$start = $start + 1
}
Measure-Command { '0' -in $number }
measure-command { Get-DbaCollationIN '0' -in $number }
`
probably can make it go fa

[2021-11-16 18:13] mattcargile commented on #7935
I think we are missing each other. I'm just talking about how to incorporate the spirit of your functions into `Get-DbaDatabase` as opposed to general performance of the comparison outside of the applicable dbatools function.

[2021-11-16 18:13] wsmelton commented on #7935
If we change it back to `-notin` then we cover both, again collation is irrelevant.

[2021-11-16 18:15] mattcargile commented on #7935
Well wouldn't it give inconsistent results between these databases if one was backed up and one wasn't. It would remove both of them from the output when only one of them was backed up.

[2021-11-16 18:21] wsmelton commented on #7935
You are not going to resolve nor should we be responsible for every possible variation. If a DBA chose to build a SQL Server instance with case-sensitive collation and then chose to create a database as `TEST` and one as `Test`...that is on them and they should have known better.

I see no justification for adding in overly complex string comparison to something that is a bad practice from the sta

[2021-11-16 18:24] wsmelton commented on #7935
If we find more than one database when trying to gather the last backup date we should throw out a warning and not include the data at that point. If we cannot consistently pull a last backup date it should not be provided at all.

We are talking about a single property on the Database SMO object, that we are adding for convenience to try and match the functionality in SSMS. If we cannot do that o

[2021-11-16 18:31] chightow commented on #7935
https://github.com/sqlcollaborative/dbatools/pull/7945/commits/53494e30fd3c192836968667b1b100a6f161d6a9

is just the change from cin to In, Added the Collation check, because of @andreasjordan's points about _CS collations.
thought about why it wasn't giving correct results for _AS collations or  _WI collations

started playing with getstringcomparer() and it gave the expected results which is why

[2021-11-16 19:43] potatoqualitee commented on #7935
I always prefer considering all use-cases if possible. If technology such as case sensitivity allows a DBA to create a database named `TEST` and a database named `test`, that is a valid use-case that we can aim to support, especially if we have contributors who are eager to discuss and address the problem.

While I agree that matching in PowerShell can be a suitable solution, it seems that there i

[2021-11-16 20:03] potatoqualitee commented on #7939
No problem, glad you found the fix!

[2021-11-17 01:39] dvenardos opened #7955 "Add constructor to DbaInstanceParameter to accept an object with PropertyName of SqlInstance of type string."
### Summarize Functionality

DbaInstanceParameter does not accept an object with a PropertyName of SqlInstance.
For example the following cannot be passed as SqlInstance into dbatools commands:

$sqlInstance = Get-DbaService -Type Engine | Select-Object -Property @{Name = 'SQLInstance'; Expression = {$_.ComputerName + '\' + $_.InstanceName}}

$sqlInstance = Find-DbaInstance -ComputerName $env:COMP

[2021-11-17 02:06] dvenardos commented on #7955
@FriedrichWeinmann

[2021-11-17 09:44] potatoqualitee commented on #7941
Thanks for reporting this! @sanderstad can you please take a look?

[2021-11-17 11:24] andreasjordan commented on #6230
@potatoqualitee - What do you think?

[2021-11-17 15:39] cpurules opened #7956 "Restore-DbaDatabase - WithReplace does not respect destination data directories"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error as the command completes successfully but does not behave as expected.

Expected behavior: the database is restored and the data files reside in the appropriate location on the appropriate drive, i.e. where they already were:
- AdventureWorks -> S:\Data\AdventureWorks_Restored.mdf
- AdventureWorks_Index -> I

[2021-11-17 16:10] andreasjordan commented on #7956
Thanks for reporting this.

Here is the relevant code from Format-DbaBackupInformation:

[code]

Looks like `'' -ne $DataFileDirectory` is `$true` and so `$RestoreDir = $DataFileDirectory` is set.

Will continue to analyse...

[2021-11-17 16:17] andreasjordan commented on #7956
Does it work correctly without `-WithReplace`? At the moment I cannot see the link to `-WithReplace`.

[2021-11-17 16:25] andreasjordan commented on #7956
Ok, I can reproduce the issue. But this may be by design. When `-ReuseSourceFolderStructure` is used, the files should be placed in the correct directory.

[2021-11-17 16:30] andreasjordan commented on #7956
Code from Backup-DbaDatabase says:

[code]

So you have to use `-ReuseSourceFolderStructure` in case you have a data file in a non-default directory.

Will close this, but you can reopen it, if you have further questions.

[2021-11-17 16:30] #7956 closed

[2021-11-17 16:37] cpurules commented on #7956
We need to use -WithReplace because the target database already exists, at least in this scenario.

I see.  I think I skipped over this because I was interested in destination folder structure rather than source folder structure - even though it appears per the docs that the combination of `-ReuseSourceFolderStructure` **and** `-WithReplace` will actually do what I was hoping for.

I just tested a

[2021-11-17 16:44] andreasjordan commented on #7956
@Stuart-Moore : What do you think about adding more information to the description?

The parameter ReuseSourceFolderStructure has this documentation: "By default, databases will be migrated to the destination Sql Server's default data and log directories. You can override this by specifying -ReuseSourceFolderStructure. The same structure on the SOURCE will be kept exactly, so consider this if you'

[2021-11-17 17:20] andreasjordan opened #7957 "Update-DbaBuildReference: Add parameter LocalFile for offline update"
### Summarize Functionality

Add a parameter `-LocalFile` like in `Save-DbaCommunitySoftware` to support environments without internet connection to be able to update the local cache of the build reference from a file share.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Will open a pull request for that...

[2021-11-17 19:23] potatoqualitee commented on #6230
oh, sure! that looks reasonable

[2021-11-18 02:14] cpurules opened #7959 "Restore-DbaDatabase - WithReplace combined with ReuseSourceFolderStructure does not respect destination folder structure"
### Verified issue does not already exist?

Yes

### What error did you receive?

`WARNING: [20:39:58][New-DbaDirectory] Failure | xp_create_subdir() returned error 3, 'The system cannot find the path
specified.'`

### Steps to Reproduce

Consider a backup file AdventureWorks.bak for a database AdventureWorks on server Server1, which has 3 data files in the following locations:
- AdventureWorks (P

[2021-11-18 06:34] andreasjordan commented on #7959
I would say: If you want to use the **destination** folder structure, don't use the parameter Reuse**Source**FolderStructure.
But on the other hand, the documentation might not be clear enough for every user. Maybe @Stuart-Moore can help you, as he is the author of the command.

[2021-11-18 09:31] #7951 closed

[2021-11-18 16:38] Pierpa opened #7961 "Copy-DbaDatabase not works on macos"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : Microsoft.SqlServer.Management.Smo.SmoException: Microsoft.Data.SqlClient.SqlError: Directory lookup for the file "R:\mount\SQL_Data\E:\mount\Data\My_DB.mdf" failed with the ope
                        rating system error 123(The filename, directory name, or volume labe

[2021-11-19 10:43] #7957 closed

[2021-11-19 18:04] abndrew82 opened #7963 "Possible issue with DBATools and Defender"
### Verified issue does not already exist?

Yes

### What error did you receive?

Did not see this posted, but installed DBATools today and Defender is blocking execution as a Trojan
![Dbatools](https://user-images.githubusercontent.com/6509648/142669719-54a40b03-b15a-4d09-b3c1-82f5d9268ed6.PNG)

Figure it's a false positive but probably needs to be investigated.

### Steps to Reproduce

[code]
Im

[2021-11-20 03:02] lancasteradam opened #7964 "New command: Get-DbaLinkedServerLogin"
### Summarize Command's Functionality

Utility command for obtaining the linked server logins from a linked server.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Basic getter function that can accept instance, linked server, and names of the logins to return.

[2021-11-20 11:36] andreasjordan opened #7966 "Get-DbaNetworkConfiguration -OutputType Certificate only works with remote connection"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error, just no output - when remote connection is not forced.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe)

### PowerShell Host Version

-

[2021-11-20 11:43] andreasjordan commented on #7966
New verbose on PSCore:
[code]

New verbose on powershell.exe:
[code]

[2021-11-20 11:46] andreasjordan commented on #7966
Found the reason:

On PSCore:
VERBOSE: [12:40:24][Invoke-ManagedComputerCommand] Local connection attempt to sql01 failed. Connecting remotely.

On powershell.exe, "direct WMI" is used - but this way we cannot read the registry.

Will try to force remote connection in any case...

[2021-11-20 12:50] andreasjordan commented on #7966
Oh, I made a big mistake with the last change to Get-DbaNetworkConfiguration - I mixed WMI-Access and Registry-Access. Will try to sort my thoughts here so I can ask the other contributors for help...

Before the change, Get-DbaNetworkConfiguration only selected properties that are available over the wmi class and we used `$wmi = New-Object Microsoft.SqlServer.Management.Smo.Wmi.ManagedComputer $i

[2021-11-22 06:58] Zhunya opened #7968 "Change way how Get-DbaDbFile and Get-DbaDbFileMapping get data"
### Summarize Functionality

When the database status is not `Normal`, let's query the system view `master.sys.master_files` instead of reporting an error.

[code]

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-11-22 07:16] Zhunya opened #7969 "Get-DbaDbUser - new parameter User and Login"
### Summarize Functionality

Add these two parameters to line up with Get-DbaLogin behavior.

-Login <String[]>
        List user(s) that has matching login(s). If unspecified, all users will be processed.

-User <String[]>
        The user(s) to process. If unspecified, all users will be processed.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical D

[2021-11-22 14:11] wsmelton commented on #7968
Querying `sys.master_files` would require more permissions than the command requires currently.

[2021-11-22 14:32] Zhunya opened #7971 "New-DbaDbUser - specify default schema for user"
### Summarize Functionality

Specify default schema for new users with new parameter `DefaultSchema`

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-11-22 14:43] Zhunya commented on #7968
We are database administrators, we have all the necessary rights 💯

[2021-11-22 15:05] wsmelton commented on #7968
You cannot make an assumption that (1) every user of our module is a DBA nor (2) has the explicit permissions to perform their job in any given environment.

The command as-is if we assume SMO only queries `sys.database_files` only requires public role to the database. Adding a query to `sys.master_files` will require one of the following explicit permissions on **all databases**:

- CREATE DATABA

[2021-11-22 17:36] mattcargile commented on #7707
It is still relevant issue. I would guess this parameter should be removed at this point.

[2021-11-22 20:13] Zhunya commented on #7968
Yes, sorry, wrong assumptions. Then check if the user has the necessary rights, in case the database is inaccessible?

[2021-11-22 20:32] wsmelton commented on #7968
Updated, worded wrong as those are instance level permissions.

[2021-11-23 06:35] andreasjordan commented on #7966
@potatoqualitee / @niphlod / @wsmelton : If you have some time to look at this, I would be very happy to have your feedback.

[2021-11-23 08:52] potatoqualitee commented on #7966
I don't mind mixing and matching protocols. `Remote Registry` requires a port outside of WinRM to be open, however, so when I need to read the registry, I login remotely via Invoke-Command2. Perhaps for your local to work, you just need to be running as admin?

[2021-11-23 10:36] francesco1119 commented on #6316
It would be great if we could also Export the Data Classification

[2021-11-24 09:22] #7966 closed

[2021-11-24 09:24] #7964 closed

[2021-11-24 11:04] andreasjordan commented on #7963
Let me post a link to this tweet for reference: https://twitter.com/psdbatools/status/1462187003366285317
Will close this as it should be fixed by now.

[2021-11-24 11:04] #7963 closed

[2021-11-24 14:37] AEaston99 opened #7981 "New-DbaDatabase + (Test-Bound) - DataFileSuffix & LogFileSuffix Don't trigger advancedconfig or using default"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/60107806/143074726-9631cf5b-795a-448c-bcb6-57a255ac4130.png)

When using DataFileSuffix or LogFileSuffix it does not work as it is not included in an if statement using test-bound. From my testing.
There are multiple issues in this post so please read this fully.

##

[2021-11-24 17:34] lancasteradam opened #7982 "New command: Get-DbaLinkedServerLogin"
### Summarize Command's Functionality

Utility command for creating a new login for a linked server.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Basic command that can accept the params for a new login for a linked server.

[2021-11-26 11:12] andreasjordan commented on #7981
Thanks for reporting this and the analysis to the root cause.

@potatoqualitee - As far as I can see, the "advanced" switch was introduced to be able to support SQL Server 2000. What about adding `DataFileSuffix`, `LogFileSuffix` and `SecondaryDataFileSuffix` to the `if` in line 176, but in line 261 we don't test for `$advancedconfig` but `$server.VersionMajor -gt 8` to only exclude this configura

[2021-11-26 20:16] cmuncan opened #7987 "Append output to existing file for New/Set-DbaAgentJobStep"
### Summarize Functionality

when creating a job step, our shop has the default setup for SQL Agent steps to Append output to existing file.  This way if you run multiple times, you add to the output file without losing the previous run(s)

now I don't know if this can be incorporated into `Set-DbaAgentJobOutputFile` but perhaps should be added there too?

![image](https://user-images.githubuserco

[2021-11-26 20:19] cmuncan commented on #7987
It looks like to set this after the fact it would be along the lines of:

EXEC msdb.dbo.sp_update_jobstep @job_id=N'<job id here>', @step_id=3 ,
		@flags=2

[2021-11-28 14:35] #7861 closed

[2021-11-29 18:58] cmuncan commented on #7987
nevermind. I see that this is handled by the Flag parameter. ignore my foolish feature request ;)

[2021-11-29 18:58] #7987 closed

[2021-11-30 17:36] andreasjordan commented on #7981
New suggestion: What about adding `DataFileSuffix`, `LogFileSuffix` and `SecondaryDataFileSuffix` to the if in line 176, but not changing line 261. That would not break all the tests we have and would only change the behavior for those who used one of the other advanced parameters.
Will update the pull request...

[2021-11-30 18:14] andreasjordan commented on #7981
One test still fails, but before fixing that I would like to get some feedback.

[2021-11-30 18:48] Shashtsoh opened #7994 "Get-DBAProductKey fails on named clustered instances"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [11:36:59][Get-DbaProductKey] Error occurred while establishing connection to @{ComputerName=<server>; InstanceName=<instancename>; SqlInstance=<FCI Cluster Resource Name>; Hive=HKLM; Path=Software\Microsoft\Microsoft SQL Server\MSSQL13.<instancename>; RegistryRoot=HKLM:\Software\Microsoft\Microsoft SQL Serv

[2021-11-30 19:41] Shashtsoh commented on #7994
Looks like the root issue is on Lines 77-82 of get-dbaregistryroot.  That logic block assumes that the value pulled for vsroot for a cluster is all that is needed to connect to the instance, so it skips the code that would append the instance name.

There is an advanced property that specifies whether the instance is clustered or not.  I think we may be able to leverage that to determine whether t

[2021-11-30 22:54] Shashtsoh commented on #7994
Suggested fix - this works for me in my environment.  This only changes the value of the SQLInstance field on return.  It should retain all previous functionality while fixing the bug.

Change lines 77-82 of get-dbaregistryroot from:

To this:

[2021-11-30 23:17] u0545288 commented on #7994
Fix works!!! Great bug find! Hoping this gets fixed in DBATools soon, thanks for posting this!

[2021-12-01 06:42] andreasjordan commented on #7994
Thanks for reporting this and thanks for the fix - will open a pull request soon.

[2021-12-01 08:55] #7971 closed

[2021-12-01 09:10] #7969 closed

[2021-12-01 09:46] #7994 closed

[2021-12-01 10:27] AEaston99 commented on #7981
Not sure if it's my feedback your requesting, but I'll give it anyway. Firstly thanks for your rapid response on this! So is your solution to remove the defaults completely? For my use case, this is fine as I will always set this to our naming convention. However, I could see how this could be bad for the average joe.

It's just a note. But, I believe no DBAtools scripts will work using defaults t

[2021-12-01 15:59] andreasjordan commented on #7981
Thanks for the feedback - now I'm waiting for @potatoqualitee to share her ideas...

[2021-12-02 10:57] danbuntu opened #8002 "Write-DbaDbTableData breaks json data on import"
### Verified issue does not already exist?

Yes

### What error did you receive?

Nested json imports as '......' and not as the json string

### Steps to Reproduce

[code]

My source Sdata is coming from a a json api feed. The feed includes other sections of JSON within it - nested json.

When the above powershell is run the nested json parts  (courses and qualifations) are imported as '......'.

[2021-12-02 13:45] tboggiano opened #8003 "Get-DbaAgReplica add Availability Group to output"
### Summarize Functionality

When returning basic information for all AGs on one server it would be helpful to see the AG name to you can write a ForEach to cycle through the replicas and AGs to for example set them all to synchronous mode.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

It's just a matter of adding one field.  I would be

[2021-12-02 15:47] #7935 closed

[2021-12-02 18:26] alevyinroc commented on #7906
@marcingminski have you had a chance to check on this? I'm experiencing this with the current version of dbatools as of 2021-12-01

[2021-12-03 07:09] andreasjordan opened #8007 "Install-DbaInstance - Default collations"
### Summarize Functionality

The command `Install-DbaInstance` uses hard coded default collations for both AS and SQL:
ASCOLLATION = "Latin1_General_CI_AS"
SQLCOLLATION = "SQL_Latin1_General_CP1_CI_AS"

https://github.com/sqlcollaborative/dbatools/blob/d07ba1e1d8b5b41ef58587a5481a7cddbb31d7fa/functions/Install-DbaInstance.ps1#L570-L595

As I don't use Analysis Services, I will now only talk about

[2021-12-03 07:35] niphlod commented on #8002
let's start with the basics, your input is a json, Qualifications column in there is a JSON object, not a string, what would you like for Write-DbaDbTableData to do ?

[2021-12-03 08:54] danbuntu commented on #8002
I would like to store that json object as an nvarchar in a field called Qualifications.

Then when our import routines run they will loop through each row in the table processing each field. The Qualifications field will be used as an object or converted into a hashtable and each entry it processed.

[2021-12-03 09:35] niphlod commented on #8002
yeah, so you'd need to pass to write-dbadbtabledata the json string representation of the innermost json object for Qualifications

[2021-12-03 14:40] olegstrutinskii opened #8009 "Remove-DbaDatabase - no leftovers must stay behind"
### Summarize Functionality

Let Remove-DbaDatabase not just remove the database but and delete: files, backup, and restore history.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Replicate option `Remove` behavior from context menu SSMS for a database.

- [ ] Delete backup and restore history
- [ ] Delete files from SQL Server disk
- [:h

[2021-12-03 15:57] Zhunya commented on #7968
The proposed change to `Get-DbaDbFile` may be very useful in a scenario where the database is restored with some randomness in file names:

- 04:00 - *First Job* - FULL `DB_COPY` Restore
  - We have dynamic file names supplied here with help of `DestinationFileSuffix` and current date and time - `$destinationFileSuffix = "_NIGHT_$(Get-Date -Format 'yyyyMMddHHmm')"`
  - NoRecovery - $True
- 08:00 -

[2021-12-05 22:16] Andy-VG opened #8013 "dbatools.io / github Slack Invite expired"
### What error did you receive?

**This link is no longer active**
To join this workspace, you’ll need to ask the person who originally invited you for a new link.

### Steps to Reproduce

Navigate to https://dbatools.io/slack or https://github.com/sqlcollaborative/dbatools/issues/new/choose

Both refer to Slack invites that are expired.

### Other details or mentions

This was previously resolved

[2021-12-06 00:45] techvslife opened #8014 "Error: " strong-name signing is not supported on this platform ""
### Verified issue does not already exist?

Yes.

### What error did you receive?

When using dbatools to backup a SQL server database's code (using dacpac, but same error using SMO only), I'm getting a "strong-name signing is not supported on this platform" error--probably due to updating to Powershell 7.2 (64 bit, on windows 10), or some other .net 6.0 update.  (The code worked fine before the l

[2021-12-06 09:22] andreasjordan commented on #8013
@potatoqualitee - can you have a look?

[2021-12-06 09:57] potatoqualitee commented on #8013
I updated it just last week, it should be resolved. let me check again.

[2021-12-06 10:23] potatoqualitee commented on #8013
Okay so it seems in order to make this work (for my reference)

1. The "forever" links only work for 2000 invitees.
2. Once a link expires, it has to be deactivated
3. Then recreate it
4. Then update

I'm having issues tho, and still gotta get into Cloudflare. i need 2fa to get in, so it'll be a lil bit. Sorry slack makes this a horrible experience; they aren't interesting in hosting communities a

[2021-12-06 11:50] AEaston99 opened #8015 "New-DbaDatabase - Unlimited Max Size"
### Summarize Functionality

Currently I do not see a way that I can set the database file max to unlimited. I would like this to be possible. One way I thought of doing this is by setting up a way that if the user inputs the max to be 0 then the script will take this and make the database unlimited file max.

### Is there a command that is similiar or close to what you are looking for?

No

### T

[2021-12-06 12:01] andreasjordan commented on #8015
Have you tried just to not use the parameter PrimaryFileMaxSize? That should use the value from model, which is unlimited if you havn't changed it. So: I don't see a need for a change here...

[2021-12-06 12:10] AEaston99 commented on #8015
Hello, thank you for your time. Yes this works for my issue.

[2021-12-06 12:10] #8015 closed

[2021-12-06 12:49] potatoqualitee commented on #8013
K should be fixed now! The link will be good for another 2k users, which generally takes about 5 months. I'll keep an eye on it till then.

[2021-12-06 12:49] #8013 closed

[2021-12-07 10:25] #7981 closed

[2021-12-07 14:18] tboggiano commented on #8003
Nevermind I installed the newest version and it was there.

[2021-12-07 14:18] #8003 closed

[2021-12-08 09:51] #8007 closed

[2021-12-08 23:04] Zhunya opened #8019 "Wrong Last restored result"
### Verified issue does not already exist?

Yes

### What error did you receive?

Incorrect data about the last restored file.

### Steps to Reproduce

[code]

Perform sequential database restore:
* full(1)
* diff(2)
* TLOG
* full(1)

Run: `Get-DbaDbRestore-History .. -Last`

`Get-DbaDbRestoreHistory` returns the value of the last restored TLOG file.

|restore_history_id|backup_set_id|restore_date

[2021-12-09 10:20] DanielSalisbury opened #8021 "Find-dbaorphanedfile doesn't work with instances that have TEST in the name."
### Verified issue does not already exist?

No

### What error did you receive?

Exception calling "GetFullPath" with "1" argument(s): "The given path's format is not supported."
At C:\Users\daniel.s\Documents\WindowsPowerShell\Modules\dbatools\1.1.35\allcommands.ps1:17865 char:52
+ ...                $valid += [IO.Path]::GetFullPath($(Format-Path $file))
+

[2021-12-10 16:15] unclebiguns opened #8022 "Copy-DbaAgentJob does not copy tabs this happened some point between versions 1.0.88 and 1.1.31"
### Verified issue does not already exist?

Yes

### What error did you receive?

I did not receive an error, but we have a process that compares jobs between servers to alert us if a job has been changed on the primary replica of an AG and not on the secondary replicas.  This process compares everything about the job including the text of the command.  This job sends us an email listing jobs with

[2021-12-14 11:02] #8019 closed

[2021-12-14 11:03] #7918 closed

[2021-12-14 17:06] SQLCanuck opened #8024 "Set-DbaTempdbConfig file sizes get adjusted before path is updated, which can result in disk full errors"
### Verified issue does not already exist?

Yes

### What error did you receive?

I received a not enough free space available error, when using Set-DbaTempdbConfig to both change the paths and adjust sizing for the new disk.

Currently I am using the workaround of running the command once with a very small size to update the path, then a second time to adjust sizing.

### Steps to Reproduce

# Re

[2021-12-19 15:38] lancasteradam opened #8026 "New command: Remove-DbaLinkedServerLogin"
### Summarize Command's Functionality

Utility command for removing a linked login from a linked server.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Basic command that can accept the params to remove a linked login from a linked server.

[2021-12-20 08:10] andreasjordan commented on #8024
The code just puts together some `ALTER DATABASE tempdb` commands and executes them.
So I don't see a way to help you here, as the path change needs a restart to take affect - which is not part of the command.

So your workaround is the correct way to work in this situation.

[2021-12-20 08:44] andreasjordan commented on #8022
I can confirm.

[code]

Will have a look at the code for `.Query()` and try to find the root cause....

[2021-12-20 09:11] andreasjordan commented on #8022
@potatoqualitee - I'm a bit lost here. It looks like we don't use "$script:PSModuleRoot\bin\type-extensions.ps1" anymore, as line 1088 in dbatools.psm1 is commented out. Should we delete this line and the file? But where is the code for `.Query()` and `.Invoke()` now?

[2021-12-20 09:14] andreasjordan commented on #8022
Ok, found it: It is in xml\dbatools.Types.ps1xml. And there is this code:

[code]

So we are replacing tabs with spaces - but why?

[2021-12-20 09:15] andreasjordan commented on #8022
Ups, that was the code for the database SMO, but the code for the server SMO also replaces tabs with spaces...

[2021-12-20 09:53] andreasjordan commented on #8021
I had a look at the code - but I don't see the problem.

Can you insert a new line with a logging message just before the failing line 17865?
[code]

So the code should look like this:

[code]

Then run `find-dbaorphanedfile -SqlInstance "nnnnTEST01\nnnnn" -Verbose` and we can have a look at the file that causes the command to fail.

[2021-12-20 10:05] andreasjordan commented on #8014
Can you just try to connect to the instance with named pipes?
[code]

Or do you want to connect using TCP/IP to the localhost? Then use `$sql_server = $env:COMPUTERNAME`.

[2021-12-20 10:16] DanielSalisbury commented on #8021
find-dbaorphanedfile -SqlInstance "nnnnTEST01\nnnnn" -verbose
VERBOSE: [10:16:01][Connect-DbaInstance] String is passed in, will build server object from instance object and other parameters, do some checks and then return the server object
VERBOSE: [10:16:01][Connect-DbaInstance] authentication method is 'local integrated'
Exception calling "GetFullPath" with "1" argument(s): "The given path's fo

[2021-12-20 10:16] andreasjordan commented on #8009
Hi @Zhunya - What left over files do you mean? I think all files are beeing deleted.

We could also remove the backup and restore history as SSMS suggests by default.
That would be `Remove-DbaDbBackupRestoreHistory -SqlInstance $db.Parent -Database $db.Name` after a successful drop. Is that want you suggest? What name should the parameter get?

[2021-12-20 10:19] andreasjordan commented on #8021
You need not only change the file allcommands.ps1 but also reload the module - best by opening a brand new powershell session.

[2021-12-20 10:24] potatoqualitee commented on #8022
ah yes, that was my change. it was required because the new library crashed when there were tabs, though I can't recall how I discovered the issue :/ I have no idea what a solution should be.

[2021-12-20 10:27] DanielSalisbury commented on #8021
apologies, but I am not sure I am following what you are requesting from me?

[2021-12-20 10:28] andreasjordan commented on #8022
I think the "Replace" is very dangerous as it would also effect strings in queries and can cause wrong results.

[2021-12-20 10:31] andreasjordan commented on #8021
I see two options here:
1. You change the code on your side to include a verbose message to help us to detect the problem.
2. We include the verbose message on our side and you wait for the next release to include the message.
At the moment I don't have an idea on how the name of the instance (in you example it is the name of the server - correct?) can cause this issue.

[2021-12-20 10:36] DanielSalisbury commented on #8021
I did what was requested above and I posted the results

not sure what else I can do

feel free to close it by all means.

[2021-12-20 10:37] #7959 closed

[2021-12-20 10:39] andreasjordan commented on #8021
My problem is that I don't see the new message taking effect. The is no line with "Testing" in your output.
Does the command work on all your other instances except the one with the name "TEST" in the servername?

[2021-12-20 10:41] potatoqualitee commented on #8022
I understand but  my hand was forced. Do you have an alternative proposal?

[2021-12-20 10:41] DanielSalisbury commented on #8021
it works on any instance that doesn't have "test" in the name that is correct, that's the only thing consistent.

[2021-12-20 10:44] potatoqualitee commented on #8022
You can see my struggles in the commits of this PR: https://github.com/sqlcollaborative/dbatools/pull/7540

[2021-12-20 10:45] andreasjordan commented on #8022
Can you move the Replace to the code that calls .Query()?

As a quick fix for this issue here we can just use the original `.ExecuteWithResults` instead on `Query`. Or even better: Use `ExecuteNonQuery`.

[2021-12-20 10:48] andreasjordan commented on #8021
The question is: Correlation or Causality?

[2021-12-20 11:02] potatoqualitee commented on #8022
Right now in tests, im removing the replaces one by one to see which one is problematic

[2021-12-20 17:45] andreasjordan commented on #7940
@sanderstad - can you have a look at this? Thanks.

[2021-12-20 17:47] andreasjordan commented on #7869
Can you still reproduce this?

[2021-12-20 20:51] sanderstad commented on #7940
It's on my radar and haven't had a chance yet

[2021-12-20 21:39] potatoqualitee commented on #7869
let' see: https://ci.appveyor.com/project/sqlcollaborative/dbatools/builds/41959307

[2021-12-20 22:41] #7869 closed

[2021-12-20 22:41] potatoqualitee commented on #7869
nope, can't repro any longer 👍🏼

[2021-12-21 08:52] andreasjordan commented on #6663
Hi @sanderstad - can we remove the bogus folder?

[2021-12-21 08:53] #6690 closed

[2021-12-21 08:55] andreasjordan commented on #7013
Let me change this from a bug to a feature request...

[2021-12-21 08:59] andreasjordan commented on #7515
Do we still want to try to solve this? Or is the root cause a very rare situation and not worth the effort? Will close this in a few days if there are no dissenting votes.

[2021-12-21 09:03] andreasjordan commented on #7727
Hi @kirzas - are you still around? Would you like to work on that?

Will change this from a bug to a feature request...

[2021-12-21 09:07] andreasjordan commented on #7737
Are there any new ideas about this?

[2021-12-21 09:13] andreasjordan commented on #7770
Will change this from a bug to a documentation issue...

[2021-12-21 09:15] andreasjordan commented on #7788
Hi @scottrcaldwell - I will close this for now, but we can reopen if you still want to work on this.

[2021-12-21 09:15] #7788 closed

[2021-12-21 09:18] andreasjordan commented on #7789
Are there any new ideas about this?

[2021-12-21 09:20] potatoqualitee commented on #7737
I'm having a hard time concentrating enough to solve the issue, as it's pretty complex :/

[2021-12-21 09:20] potatoqualitee commented on #7789
This one as well. Solution seems complex :/

[2021-12-21 09:21] andreasjordan commented on #7824
Let me remove the "long" from the title, as I think no passwords are synced. And I will change it from a bug to a feature request.

[2021-12-21 09:21] potatoqualitee commented on #7515
I'll defer to @Stuart-Moore

[2021-12-21 09:23] potatoqualitee commented on #7824
Agreed, perhaps an immediate solution to this particular issue is documentation. I still have no idea how to decrypt these passwords as I've yet to see it mentioned elsewhere.

[2021-12-21 09:24] potatoqualitee commented on #6663
I'm kind of leaning to at least it gives us something instead of nothing? Perhaps we can just add a note at the top that it's a reference that is known to be out of date.

[2021-12-21 09:28] andreasjordan commented on #6663
Good idea, then we can close this issue.

[2021-12-21 09:29] sanderstad commented on #6663
We could do that. At the moment I'm totally swamped. When I get the time I will look into improving the documentation

[2021-12-21 09:30] sanderstad commented on #7941
It's on my radar, Alex and I already talked about it.

[2021-12-21 09:30] andreasjordan commented on #7839
Thanks @devondba for your detailed answer. I will close this for now as @Nkansas does not seem to have additional questions. But we can reopen if needed.

[2021-12-21 09:30] #7839 closed

[2021-12-21 09:32] andreasjordan commented on #7864
Hi @utirpan have you had a chance to test that?

[2021-12-21 09:41] andreasjordan commented on #7865
Hi @wsmelton - is this fixed now? I can not reproduce the issue.

[2021-12-21 09:43] andreasjordan commented on #7867
What can we do here?

[2021-12-21 09:44] andreasjordan commented on #7882
Hi @potatoqualitee - can you have a look?

[2021-12-21 09:48] andreasjordan commented on #7906
Hi @marcingminski - any new information?

[2021-12-21 09:49] andreasjordan commented on #7921
I will change this from a bug to a documentation issue...

[2021-12-21 09:51] andreasjordan commented on #7932
Hi @DBAgnew - I will close this for now, but we can reopen if you can provide code to help us reproduce the issue.

[2021-12-21 09:51] #7932 closed

[2021-12-21 09:57] andreasjordan commented on #7943
The `-AutoCreateTable` feature is not meant to be perfect but only a quick option for typical cases. If you want to improve it, feel free to code that and open a pull request.
So I will close this for now, but we can reopen and label it as a feature request if you want to work on that.

[2021-12-21 09:57] #7943 closed

[2021-12-21 09:59] andreasjordan commented on #7961
Hi @potatoqualitee - do you use MacOS?

[2021-12-21 10:00] andreasjordan commented on #8002
@danbuntu is this issue resolved?

[2021-12-21 11:13] Pierpa commented on #7961
Hi @andreasjordan yes i use MacOs (catalina version: 10.15.7)

[2021-12-21 13:32] mattcargile commented on #7737
I haven't thought about the issue since my last posts. It appears one can't read the active,live xel file on the newer builds of SMO or at least the build we have in dbatools. Not sure if we can include multiple builds so we can use the Queryable Events library. Otherwise I just pipe the files directly to the Read cmdlet. Maybe there could be a feature to stop the session and then read the files a

[2021-12-21 16:18] utirpan commented on #7864
No I have not, but I believe I pinpointed the code with the problem. There is no enumeration (for loop) in the code it coded to expect 1 item only.  And once you pass multiple tables it is choking, I will provide more info as soon as I can.

[2021-12-21 16:30] wsmelton commented on #7865
Does not seem to happen in PS 7.2.1, and latest version of Insiders + Ext for me.

[2021-12-21 16:30] #7865 closed

[2021-12-21 16:33] wsmelton commented on #7867
How the library is built during Appveyor setup would need to be adjusted.

I'd personally like to move the library project to it's own project on GitHub so we can build and test it separately (using GitHub Actions). Then setup an action to publish it as a formal Nuget. Not an overnight change though :shrug:.

[2021-12-21 16:34] wsmelton commented on #7867
If I recall from last looking at it the version of dotnet SDK we point at is wrong. Our library does not support dotnet 5.0.

[2021-12-21 21:37] marcingminski commented on #7906
Hi, just tested this, installed the latest dbatools version 1.1.44, ran the following:

[code]

and it worked with no issues, I am able to see the charts so unable to reproduce the error. Can you please attach your HTML file so I can debug yours? Thanks.

Here's mine, just change the extension from txt to HTML:
[DbaAgentJobHistory.html.txt](https://github.com/sqlcollaborative/dbatools/files/775830

[2021-12-21 22:07] #8022 closed

[2021-12-21 22:10] potatoqualitee commented on #7865
woo!

[2021-12-21 22:12] potatoqualitee commented on #7961
@andreasjordan I do. @Pierpa is the destination server a windows machine?

[2021-12-22 04:23] techvslife commented on #8014
Thanks, but that change made no difference. The error does not lie in the connection, but apparently in the need to upgrade some part of dbatools to support .net 6.0. Others have been running into this issue, for example:
https://githubmemory.com/repo/microsoft/DacFx/issues/33

[2021-12-22 06:03] Zhunya commented on #8009
Hi @andreasjordan
After `Remove-DbaDatabase` finishes, it always leaves database files on the file system.
Yeah, it will be nice to have backup/restore history deleted, parameter name may sound like `RemoveBackupHistory`

[2021-12-22 06:18] andreasjordan commented on #8009
Very strange, the files are deleted on my system. Can you run the command with verbose to see which of the different ways is used?

[2021-12-22 06:23] andreasjordan commented on #8014
Ok, I see. Don't know if (or when) we plan to support .NET 6.0 - maybe @potatoqualitee can help?

[2021-12-22 06:43] andreasjordan commented on #7906
Thanks @marcingminski for your help. I think it was an encoding problem. I have a HTML-file that throws the error. But after converting it to ANSI with Notepad++, it works.

So ` -Encoding ASCII` seems to be the key here.

@Zhunya can you try that?

[2021-12-22 07:41] andreasjordan commented on #6498
As I don't have an environment to test this and not enough knowlegde to implement it, I will step back and de-assign myself.

[2021-12-22 07:57] Pierpa commented on #7961
Hi @potatoqualitee . Yes the destination server is a windows machine.

[2021-12-22 22:15] techvslife commented on #8014
Thank you. --Presumably more and more people will run into this issue as they upgrade to .net 6.0, so it probably will eventually get fixed. It may also be that one would have to wait for Microsoft to release an upgrade to dacpac -- that's also discussed in the dacpac link I sent (I think the fix is now only in pre-release):
https://githubmemory.com/repo/microsoft/DacFx/issues/33
But there may be

[2021-12-23 12:16] potatoqualitee commented on #8014
oof, that blows. we try our hardest to maintain backwards compatibility because so many people are stuck in older environments. .NET 6 is far higher than our current requirement. I imagine a possible solution to this is to include two versions of dacfx -- and load the newer one when someone has a higher version of .NET. I think it will still be compatible with our current version of SMO, but it'll

[2021-12-23 12:17] potatoqualitee commented on #7961
I have an idea about what this could be, but it'll be after the holidays till I have the capacity to take a look. Thank you for the report! I'll keep this issue as unread.

[2021-12-23 14:44] janszedc opened #8035 "Potential Memory Leak Issue"
### Verified issue does not already exist?

Yes

### What error did you receive?

I am not receiving an error, but my memory will quickly (or sometimes slowly over many hours) go to 100% when using DBATools in unison with Powershell Universal.

![image](https://user-images.githubusercontent.com/49908138/147255916-ba4398fa-4681-43d9-9469-ecc1eb1e1f8c.png)

In the image above, my memory is not spike

[2021-12-23 15:45] mattcargile opened #8036 "Find-DbaStoredProcedure - CR Line Ending Output On StoredProcedureFullText Property"
### Verified issue does not already exist?

Yes

### What error did you receive?

Error wasn't received. Due to how the split is happening on typical Windows installations, there is an "orphan" `CR` character.

https://github.com/sqlcollaborative/dbatools/blob/27bc0adb3357fd5933dd2c285970039a7fe3895c/functions/Find-DbaStoredProcedure.ps1#L144

Maybe we can take some of the philosophy from this [is

[2021-12-23 15:59] niphlod commented on #8036
this is multifold .... sprocs can have LF, CR or CRLF in their bodies and then there's the EOL on "client" side.
Usually if whitespace lines are not a problem this can be circumvented splitting on everything server-side and joining client-side according to the OS. In this case .... I don't really know

[2021-12-23 16:13] mattcargile commented on #8036
Ah, right. Would it be reasonable to check the OS server side and split based on that? It seemed like the intent of the output was to have the line endings removed and in place would be an array of lines?

[2021-12-23 17:22] niphlod commented on #8036
the reality is that the interface exposed right now just doesn't cut the deal. the sproc is a blurb of text, inputted by whoever edited it the last time with their convention.
Exposing line numbers on PS's side is a side-benefit when everybody agrees on line endings, but a PITA otherwise. Would have been the same PITA if someone asked to turn tabs into spaces or viceversa.
So IMHO the sproc should

[2021-12-23 17:33] psott commented on #8035
I'm also affected. My dashboard heavily relies on dbatools (99% Invoke-DbaQuery and
Write-DbaDbTableData) .Current workaround is to restart the PU service every night.

Is it possible to disable dbatools logging? At least to check if it is the cause?

[2021-12-23 17:36] mattcargile commented on #8036
Right, I get that. It was how I was assuming the output would be anyway.

I was grabbing this property as a somewhat quicker way than clicking through SSMS to script it out.

[2021-12-24 07:47] techvslife commented on #8014
Thank you.  (--I wonder if there is a way to force this to work on any form of powershell 7.2 installation--but probably not, as I believe powershell 7.2 is .NET 6.0 based.)

[2021-12-24 21:20] potatoqualitee commented on #8035
Thanks for the feedback, everyone. @adamdriscoll i saw that you did some debugging and discovered that our logging wasn't releasing memory. Can you share that here so I can share @FriedrichWeinmann who created our logging?

@psott sorry you're having to restart each night. I believe you can disable logging with:

[code]

[2021-12-27 19:44] TheSQLGuru opened #8037 "Copy-DBAAgentJob Failing Using "servername\instancename,port" as Destination"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [13:13:33][Copy-DbaAgentJob] Error occurred while establishing connection to AAEXTTESTDB | Object reference not set to an instance of an object.

### Steps to Reproduce

[code]
Copy-DbaAgentJob -Destination "servername\instancename,portnumber" -DisableOnDestination -Source aatestdb

### Are you running the l

[2021-12-28 01:16] luke-mckee-ol opened #8254 "Install-DbaMaintenanceSolution CleanupTime specified without InstallJobs flag"
In the documentation for [Install-DbaMaintenanceSolution](https://docs.dbatools.io/Install-DbaMaintenanceSolution) a number of the examples specify the CleanupTime parameter but not the InstallJobs parameter. When you run one of those, e.g. `Install-DbaMaintenanceSolution -SqlInstance $instance -Database $db -BackupLocation $location -CleanupTime 72` you receive the warning  `WARNING: [12:10:46][I

[2021-12-28 01:59] mikeblas opened #8039 "Website has broken link for function list"
### Verified issue does not already exist?

No

### What error did you receive?

404

### Steps to Reproduce

1. Someone told me about dbatools.io.  I don't know what it is.
2. Visit dbatools.io.
3. I end up going to "getting started" at https://dbatools.io/getting-started/
4. There, I see "over 500 ... commands included".  I click that link.

BUG#1) I end up at this address:  https://dbatools.io/

[2021-12-28 02:05] mikeblas opened #8040 "Website displaying raw JavaScript"
### Verified issue does not already exist?

Yes

### What error did you receive?

`' } cmdlist = new List('cmdlist', options, values); var index_url = '/dbatools-index.json?v=' + new Date().toISOString().substring(0,10) var current_cmd = document.location.href.split('/') current_cmd = current_cmd.pop() || current_cmd.pop() var allcmds = jQuery.getJSON(index_url, function(data) { var basetags = ''

[2021-12-28 07:36] niphlod commented on #8040
@potatoqualitee , seems like a closing tag is missing

[2021-12-28 20:49] mattcargile opened #8043 "Get-DbaRegServer - Name/ServerName Support Wildcards"
### Summarize Functionality

It would be convenient to write the below:

`Get-DbaRegServer CMS -Name '*serv*', '*ws1'`

instead of

`Get-DbaRegServer CMS | Where-Object { $_.Name -like '*serv*' -or $_.Name -like '*ws1' }`

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

I've explored the web and found the `[SupportsWildCards()]` [attribute]

[2021-12-28 22:22] mikeblas commented on #8040
Here's what I see:
![rawCode](https://user-images.githubusercontent.com/6632219/147611357-5cbcb778-3b3f-4a48-82c3-0931b646da60.png)

[2021-12-29 09:49] KlugerSteffen opened #8044 "New-DbaComputerCertificate fails if DNS parameter has more than 254 chars"
### Verified issue does not already exist?

Yes

### What error did you receive?

Exception calling "Format" with "2" argument(s): "Format specifier was invalid."
At C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.145\allcommands.ps1:52890 char:36
+ ...  -gt 127) { [String]::Format("{0:X2}", 128 + ($hex.Length / 2)) + $he ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-12-29 15:08] KlugerSteffen commented on #8044
Workaround:
Certficate can be generated by get-certificate https://docs.microsoft.com/en-us/powershell/module/pki/get-certificate?view=windowsserver2019-ps

But result and behaviour is slightly different - however encrypted Connections seem to work.
- Sql Server Configruation Manager does not show the certificate
- SAN Extention is not marked critical

[code]

[2021-12-30 09:43] KlugerSteffen commented on #8044
seems to be a transscription of
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/ff625722(v=ws.10)
But the "if mod 2" to get even digits is missing in Powershell

[code]

[2021-12-30 09:45] #6230 closed

[2021-12-30 13:45] alevyinroc commented on #7906
`Out-File -encoding UTF8` also works. Thanks for the tip @andreasjordan!

[2021-12-30 16:59] KlugerSteffen commented on #8044
Suggested solution.

[code]

[2022-01-02 01:56] i7slegend opened #8046 "After exception in the Export-DbaScript ScriptingOptionsObject doesn't revert to previous (user-passed) values"
### Verified issue does not already exist?

No

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

When call the function Export-DbaScript with parameter ScriptingOptionsObject and something go wrong (throw exception or something) in the moment of script object then object's values (ScriptingOptionsO