[2020-12-23 17:43] wsmelton commented on #6738
@gregsauer83 if you have an issue with the command please open a new issue and provide all the requested details.

[2020-12-23 17:43] #6738 closed

[2020-12-24 10:30] andreasjordan commented on #7052
@wsmelton : Good idea. Coded that - have a look.

[2020-12-28 14:33] #7052 closed

[2020-12-28 14:37] #6927 closed

[2020-12-28 14:38] #7027 closed

[2020-12-29 12:12] anwioc opened #7055 "[Bug] Copy-DbaLogin doesn't sync/copy 'enforce password policy' or 'enforce password expiration'"
### Report
We are using dbatools version 1.0.112.

We are running several AlwaysOn Clusters (2017 & 2019) and just discovered that Copy-DbaLogin cmdlet does not sync or copy the the password policy or expiration of sql login users.

If you set the password policy and/or expiration for an sql user and execute following command nothing happens:
copy-DbaLogin -source Server1\Instance1 -Destination Se

[2020-12-29 16:00] wsmelton commented on #7055
The login already exist on the replica instance?

[2020-12-29 18:53] SquirrelAssassin opened #7056 "[Bug] connect-dbainstance or invoke-invokedbaquery is taking upward of 40 seconds to connect"
### Report

#### Host used

-  powershell.exe

#### Errors Received

Something changed in this latest version, the connect-dbainstance takes upwards of 40 seconds to connect.  This is a problem because were running azure watcher tasks that have to complete in under 30 seconds.

I switch back to the good old classes and everything is done in under 1 second.

Here is what I ended up doing that works

[2020-12-29 19:05] wsmelton commented on #7056
I'm afraid more tracing will be needed from your SQL Server instance and the environment because the timing of those two commands is mainly driven by the environment (network, DNS, auth process).

The `Connect-DbaInstance` for me works and I get a connection within 827ms:
![image](https://user-images.githubusercontent.com/11204251/103307632-2bb45680-49d6-11eb-8c02-4a44616ea49e.png)

It is that fas

[2020-12-29 22:34] MCTSQL opened #7057 "Copy-DbaDbTableData isn't passing credentials to calls to Invoke-DbaQuery"
There are 4 calls to Invoke-DbaQuery within Copy-DbaDbTableData, currently lines 376, 385, 405, 449.
These 4 calls are missing input parameter credentials, causing the calls to default to the current user's permissions instead of using the passed-in credentials of $SqlCredential and $DestinationSqlCredential.

[2020-12-29 23:12] wsmelton commented on #7057
The credentials are passed as they should be when the server objects are created via Connect-SqlInstance:

Server variable https://github.com/sqlcollaborative/dbatools/blob/7b0e4127c3d42b828be3ee4be3c3637c820fe073/functions/Copy-DbaDbTableData.ps1#L305

Destserver variable https://github.com/sqlcollaborative/dbatools/blob/7b0e4127c3d42b828be3ee4be3c3637c820fe073/functions/Copy-DbaDbTableData.ps1#L

[2020-12-29 23:12] #7057 closed

[2020-12-30 02:19] SquirrelAssassin commented on #7056
You would have to give me something to test, or produce.

It’s very consistent against a sql cluster.

I want to like this tool but every flipping time I attempt to use it for anything it breaks,
 time, after time, after time, like clockwork.  Something in the code changes and breaks something else.  No checks are done.   What’s 1500 functions if none of them are reliable for more then a few month

[2020-12-30 02:34] wsmelton commented on #7056
I'm not following. You created the issue stating connections and queries are taking seconds or minutes to run.

SMO itself has overhead whether you are using our module or raw SMO. The SqlClient does much  less work because all it does is connect and run the command you provide, nothing else. Many of our functions include validations, checks, and some prep depending on the function. A basic connec

[2020-12-30 02:36] SquirrelAssassin commented on #7056
I stoped reading after line two.  I spent more time using this tool and figuring out it sucks then just writing it some other way.  Done with this tool.

[2020-12-30 02:36] #7056 closed

[2020-12-30 03:28] wsmelton commented on #7056
...For those that find this later on.

It is advised when using our module to test before updating to the latest release. I commonly hard-code a version check for importing the module explicitly in my scripts; especially those provided as solutions to customers/clients. Use of the module in Azure Automation allows you to specify a version as well and stick to using that version. This prevents unne

[2020-12-30 05:42] pcinque commented on #6855
I have the same issue. Any progress on this issue?

[2020-12-30 05:50] wsmelton commented on #6855
The command was not originally meant to be used with Azure SQL DB. The command will have to be written to support Azure SQL specifically.

PRs are welcome if anyone wants to add support for this.

[2020-12-30 06:27] anwioc commented on #7055
yes, the login already exists.

if you create a new user and sync it to the other replica, the login attributes are copied..

[2020-12-30 07:03] wsmelton commented on #7055
In order to accomplish that with the Copy command you have to use the Force parameter so it overwrites the login to update those properties. We only "sync" permissions the properties of login are not synced in that manner.

[code]

Alternate you might look at `Sync-DbaAvailabiltyGroup` that we added some time back specifically for use with AGs and getting objects synced between replias.

[2020-12-30 07:14] anwioc commented on #7055
Thanks for your reply.
We don't use the -Force parameter anymore because one time it did force delete all users from secondary replica and cancelled all further copy action by itself.

After that we couldn't connect to the replica anymore and had to make a disaster recovery.
These are customer sql servers with SLA contracts and the outage was bad.

I hope you understand the circumstance.

[2020-12-30 07:45] wsmelton commented on #7055
The only scenario I'm aware of that will halt processing on the command is when you use Force we are dropping the login, but to do that we have to kill any active session it may have. If we are not able to kill the session the drop attempt will cause a message to be thrown that can kill the processing. If the logins are being used on the secondaries then no the use of the Force parameter is not go

[2020-12-30 07:55] anwioc commented on #7055
Thanks for your help.
I will consult with my team how we proceed.

[2020-12-30 07:55] #7055 closed

[2020-12-30 13:23] SQLDBAWithABeard opened #7058 "[Bug] New-DbaDacProfile does not include the connection string"
### Report

dbatoolsMoL writing the DevOps chapter - There is no connection string available in the produced publish profile :-(

#### Host used

- [X] powershell.exe
- [X] ISE
- [X] VS Code
- [Windows Terminal ] Other (please specify)

#### Errors Received

No Error received
![image](https://user-images.githubusercontent.com/6729780/103353780-a7c7a080-4aa1-11eb-8f1b-959c4f146f8c.png)

#### Steps

[2020-12-30 17:10] MCTSQL opened #7061 "[Bug] Copy-DbaDbTableData appears to ignore passed-in credentials"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#1. open powershell.exe or VS Code terminal with normal user credentials 'domain\user'
#2. get admin credentials
$Admin=Get-Credential #domain\user-sa
#3. use admin credentials in call to Copy-DbaDbTableData
Copy-DbaDbTableData -SqlCredential

[2020-12-30 17:16] Stuart-Moore commented on #7044
Yep, what the gents above say. You may get a moving bar if you're restoring more than 10-20 files as it'll do >2 loops through the runspaces.

[2020-12-30 17:21] niphlod commented on #7061
j2mc: is the problem here that domain\user has not access to the dest ?

[2020-12-30 17:52] #7058 closed

[2020-12-30 17:58] wsmelton commented on #7061
You will need to provide a credential for your destination server, your repo steps do not show one was provided. If the desire is to use the admin credential for both it would have to be called as such:

[code]

[2020-12-30 18:01] wsmelton commented on #7061
I do see the error is wrong and we have the wrong variable referenced.

https://github.com/sqlcollaborative/dbatools/blob/51abc180f1d4fb0f9de475e2274aab43f9e03cb4/functions/Copy-DbaDbTableData.ps1#L354-L359

This should have `$Destination` instead of `$instance`. The reason why the warning message is missing the instance name:

[2020-12-30 18:06] niphlod commented on #7061
Yup, spotted another One on the online docs. Both credential param have the
same description (prolly a cutAndPaste)

Il mer 30 dic 2020, 19:01 Shawn Melton <notifications@github.com> ha
scritto:

[2020-12-30 18:12] wsmelton commented on #7061
@niphlod you can update the branch I have on the PR if you'd like.

[2021-01-02 18:43] #6744 closed

[2021-01-02 20:51] potatoqualitee commented on #6998
While we are at it, if we can do public/private instead of functions/internal, i'd dig. i do want to make 100000% sure everyone keeps their commit messages and attribution though

[2021-01-02 21:21] #7035 closed

[2021-01-02 22:46] wsmelton commented on #6998
Commit history is kept intact by the git database file. GitHub may or may not always read that information in when you are viewing the history of the file, but it is there.

[2021-01-02 23:00] lancasteradam commented on #6743
@Ncedia, I tried the scenario and it is working for me. I suggest running the [Update-Dbatools](https://docs.dbatools.io/#Update-Dbatools) command to ensure you have the latest build. If the issue still persists we'll need you to run the command with -Verbose and post the output here along with the command arguments being used.

[2021-01-02 23:05] wsmelton commented on #6998
@Stuart-Moore @FriedrichWeinmann @nvarscar

Any opinion on moving the project for the library to a dedicated repository?

We can get a formal build process setup and have a GitHub Action run it. Would also allow us to publish it to the Nuget gallery if we wanted to, then just have the module pull it down in a build process or something.

[2021-01-02 23:42] nvarscar commented on #6998
I'm fine with that. I don't think there is a good reason to ship the C# source code with the module, as there are plenty 3rd party libs that are shipped with the module already. One more wouldn't make a difference. Having a base lib moved to its own repo - with a build pipeline and unit teats (if any) sounds like a good plan.

[2021-01-03 00:51] wsmelton commented on #6998
There is so much breaking in our tests just from moving the source code of the module 🦀

<img src="https://media.giphy.com/media/5t9wJjyHAOxvnxcPNk/giphy.gif" width="480" height="401" />

[2021-01-03 00:58] wsmelton commented on #6998
The import process itself breaks because of it...

![image](https://user-images.githubusercontent.com/11204251/103469598-76aed080-4d2c-11eb-846a-3ec7b9daaeeb.png)

<img src="https://media.giphy.com/media/Z5eFxoKjf218c/giphy.gif" width="360" height="272" />

[2021-01-03 07:58] jpomfret commented on #7035
Thanks folks!

[2021-01-08 17:21] eliassal commented on #4903
Hi, can you please tell me how to force Get-DbaService not to use FQDN but use instead only computer name. I have a lab where 3 sql servers VMs are behind a router and not part of my domain, they are on their own domain and everything communicates correctly. When I ping each VM it  responds correctly and can connect in SSMS using name or IP. When I run

`Get-DbaService -Credential $winCred -Comput

[2021-01-08 22:20] pagerwho opened #7068 "[Bug] Get-DbaDbEncryption returns error "Cannot bind argument to parameter 'FilterScript' because it is null"
### Report

Using powershell.exe, pwsh.exe and VSCode running the command below results in an error.

Command:
[code]
Error:
[code]

During a debug session using dbatools version 1.0.120 I found that the following line of Get-DbaDbEncryption appears to be the culprit.

[code]
Modifying the above to the lookup method below resolved the error condition.

[code]

#### Host used

- [X] powershell.exe

[2021-01-09 21:34] #1009 closed

[2021-01-09 21:50] #7038 closed

[2021-01-11 02:42] alevyinroc opened #7072 "New function: Update-DbaMaintenanceSolution"
### Summary of new feature

Presently, `Install-DbaMaintenanceSolution` supports installing from scratch and replacing an existing installation. In the case of replacing an existing solution, the `CommandLog` table is dropped and re-created. This may present a problem for environments where this table is used for auditing, long-term monitoring of maintenance activity, etc.

**Proposed:** Create a

[2021-01-11 05:38] wsmelton commented on #7072
Optimal method of to stop having install command drop a currently existing table. It should throw a warning and do nothing.

The procedures already support updating before all the scripts do for Ola is "alter procedure".

This was discussed in detail in #6457

[2021-01-11 07:55] saxet77 opened #7073 "copy-DBAdbTableData in Parallel Timeout"
Hi,

Try your great cmdlet copy-DBDbTableData on a 210M rows tables in parallel (x2) into a heap table do to accelerate the process, but I get a timeout error on the second connection after 4 min and I don't understand why ?
Seems te bulkCopyTimeout parameter set on 5000 sec

The Error:

WARNING: [08:14:17][Copy-DbaDbTableData] Something went wrong | The wait operation timed out

Following my 2 sc

[2021-01-12 23:44] wsmelton opened #7079 "New Command: Invoke-DbaAzDbTips"
### Summary of new feature

In conjunction with microsoft/azure-sql-tips#27

Command wrapper of the T-SQL script provided. Follow a similar process that we do with [Invoke-DbaDianosticQuery](https://github.com/sqlcollaborative/dbatools/blob/master/functions/Invoke-DbaDiagnosticQuery.ps1). We ship a version of the scripts within the module but for this one, I'd likely opt to only pull it from the s

[2021-01-13 01:45] #6801 closed

[2021-01-13 01:52] wsmelton commented on #7073
Please open a new bug report and provide the details requested in our template.

[2021-01-13 01:52] #7073 closed

[2021-01-13 12:41] GreenArmchair opened #7081 "Copy-DbaDatabase fails for database in named instance that is part of an availability group"
Hi

I'm using Copy-DbaDatabase to copy a database from a named instance that is part of an availability group.

The source database is backed up successfully to the shared storage.
But the Get-DbaDbBackupHistory call is failing to return any result-groups. I think it's attempting to look in the default instance rather than the named instance?

Copy-DbaDatabase works fine for a database in a defaul

[2021-01-13 18:13] keithmauerman opened #7082 "Remove-DbaDbMirror examples and code seems wrong"
the examples on documentation and in code all show Set-DbaDbMirror -SqlInstance localhost and no mention of using remove-dbadbmirror. Please check into it and advise

[2021-01-13 18:31] niphlod commented on #7082
code seems to do "the right thing" , see https://github.com/sqlcollaborative/dbatools/blob/master/functions/Remove-DbaDbMirror.ps1#L87 . It's just examples that are referring to another function, prolly a copy/paste mistake.

[2021-01-13 18:53] keithmauerman commented on #7082
agreed but can we get the examples correct?

On Wed, Jan 13, 2021 at 10:31 AM Simone Bizzotto <notifications@github.com>
wrote:

[2021-01-14 14:08] wsmelton commented on #7082
A PR is welcomed to help update those with verified examples @keithmauerman

[2021-01-16 02:14] #7068 closed

[2021-01-16 03:46] #1806 closed

[2021-01-16 03:53] #6839 closed

[2021-01-16 03:55] #6855 closed

[2021-01-16 04:42] #6745 closed

[2021-01-17 23:26] lancasteradam opened #7088 "Set-DbaLogin - add validation for -Unlock to ensure a password was provided and provide a -Force option"
### Report
Set-DbaLogin - add validation for -Unlock to ensure either a password was provided or -Force was specified

While working on #7004 it was noticed that when -Unlock is used without a password that no error message is returned and the login is still locked.

A possible fix can be seen here:  https://github.com/sqlcollaborative/dbatools/pull/7087/files/7127b1c70d9ad43de2d5fa412ab4e9ea485f5

[2021-01-17 23:43] lancasteradam opened #7089 "Set-DbaLogin - the -MustChange param requires check_policy and check_expiration to be enabled"
### Report
Set-DbaLogin - the -MustChange param requires check_policy and check_expiration to be enabled

While working on #7004 it was noticed that the -MustChange param requires the policy related params to be set to true. The MS documentation has a mention of this:  https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-login-transact-sql?view=sql-server-ver15#remarks

Suggested code chang

[2021-01-17 23:52] lancasteradam opened #7090 "Set-DbaLogin - add a param for check_expiration (SMO PasswordExpirationEnabled)"
### Report
Set-DbaLogin - add a param for check_expiration (SMO PasswordExpirationEnabled)

While working on #7004 it was noticed that the caller does not have the ability to set the PasswordExpirationEnabled property.

Suggested code changes are here:

**New param**
https://github.com/sqlcollaborative/dbatools/pull/7087/files/7127b1c70d9ad43de2d5fa412ab4e9ea485f57f5#diff-419523c18ac6bcaa3c3134c4b

[2021-01-18 00:17] wsmelton commented on #7089
`if ((Test-Bound MustChange) -and ((Test-Bound PasswordPolicyEnforced -Not) -or (Test-Bound PasswordExpirationEnabled -Not))) {`

The fact that the settings are required to be enabled on the login is fine, but we can't enforce this by requiring them to provide the additional parameters in the same call. They may not know it's required and the password they are setting could not work if the policy

[2021-01-18 00:22] wsmelton commented on #7088
Do we also provide the ability to do this without having to change the password?

[2021-01-18 21:26] #7004 closed

[2021-01-18 21:58] wsmelton commented on #6998
@lancasteradam FYI this is in the works. I'm going to try and get the PR merged this coming week.

Once that is done all forks of the repository will have to be updated. The cleanest way to do this:

[code]
This does a force reset instead of a merge, so the commit history stays cleaner.

[2021-01-18 22:15] lancasteradam commented on #7088
Unfortunately that isn't possible due to the syntax for the alter login command. The unlock is associated with the 'password_option' of the syntax:  https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-login-transact-sql?view=sql-server-ver15#syntax

There is the known workaround of turning on/off the policy enforcement to unlock a login, but I don't recommend putting that into the command.

[2021-01-18 22:24] lancasteradam commented on #6998
@wsmelton, ok, sounds good, thanks.

[2021-01-18 22:31] wsmelton commented on #6998
@potatoqualitee so renaming folders for public/private breaks our configuration structure in the module. I'm also seeing the TEPP breaks even after I've updated folder path references. I'm not sure if @FriedrichWeinmann can look at what I have in that or could say why this would break?

I get various messages about a function we have set as public, but lives in the private functions path (`Join-Db

[2021-01-19 00:25] FriedrichWeinmann commented on #6998
Heya @wsmelton ,
it's approaching 2am here so I can't really make the time to take a look right now.
Guessing what's happening here based on memory (been some time and lots of other PowerShell in my head in the meantime, sorry), but those function-files were explicitly loaded as individual files for tasks that were offloaded into background runspaces.

So, if you rename the folders, it won't find

[2021-01-19 01:01] wsmelton commented on #6998
I updated the paths where all files is referencing `\internal...` or `\functions...` so at a loss where it could be hidden.

[2021-01-19 01:06] wsmelton commented on #7088
I would recommend we add this option, because it is done in practice, and offering the ability for admins to unlock an account in circumstances that the password can't be changed would be beneficial.

[2021-01-19 01:21] wsmelton commented on #7088
SMO does not allow it based on that method used (we don't use T-SQL for this command that I recall). If they do not provide the password a warning can be provided that to unlock either provide a secure password or the `-Force` parameter.

We do not currently use `-Force` in this command and this would offer the ability to provide a sensible workaround when they don't want to change the password bu

[2021-01-19 01:58] wsmelton commented on #6998
I did notice the whole check for `.git` method with import by files is no longer valid with the new folder structure. The next plan for our build process will address this and make a moot point I believe (if I can get the approval on the next plan 🙊 ) .

[2021-01-19 03:17] lancasteradam commented on #7088
ok, thanks for the feedback. I'll look into these.

[2021-01-19 03:19] wsmelton commented on #6998
Got it all figured out.

[2021-01-19 03:23] lancasteradam commented on #7089
ok, thanks, I agree that sounds much better.

[2021-01-19 11:52] GreenArmchair commented on #7081
Apologies, the latest version of the code works

[2021-01-19 11:52] #7081 closed

[2021-01-19 13:22] wsmelton opened #7101 "[Bug] Get-DbaPermission tests failure"
The test is unstable and continues to fail in Appveyor runs due to recent changes that were made to it.

@lancasteradam can you look at this section of the test that you added? The context block is failing most commonly on test runs in Appveyor with PRs now:
[code]

https://github.com/sqlcollaborative/dbatools/blob/2329ce5720adb7c59e73ff232804b3d8cfaa348d/tests/Get-DbaPermission.Tests.ps1#L112-L12

[2021-01-19 14:45] lancasteradam commented on #7101
yes, I'll take a look

[2021-01-19 15:16] lancasteradam commented on #7101
@wsmelton, is there a way I can debug this in the appveyor environment? I've tested on my local machine with SQL 2016, 2017, and 2019 and it works fine. I think the problem may be in the BeforeAll section.

[2021-01-19 16:25] wsmelton commented on #7101
There was a way to temporarily access the VM that appveyor is running the test on... But I've never tried it.

[2021-01-19 20:06] #7101 closed

[2021-01-22 07:46] miguelmolgar opened #7107 "[Bug] Write-DbaDbTableData - Fully Qualified Tablename includes database name for Azure SQL Databases"
### Report

#### Host used

- [ ] powershell.exe
- [x] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

$SqlInstance is a name like 'azuresqlserver', without the domain part 'database.windows.net'. Our DNS translates it into an Azure vnet IP used by a private end point configured for that Azure SQL Server.
[code]
Output:
[code]
With the same va

[2021-01-23 18:13] wsmelton commented on #6662
Confirmed this issue is with any backup path being used, type of backups won't matter:

![image](https://user-images.githubusercontent.com/11204251/105610256-55ae2e00-5d74-11eb-92f0-f9cd21591091.png)

![image](https://user-images.githubusercontent.com/11204251/105610262-5e9eff80-5d74-11eb-97eb-94f95b2e51bf.png)

[2021-01-23 18:14] wsmelton commented on #6662
@Stuart-Moore could you check this when you get some free time?

[2021-01-24 20:19] iampeterdaniels opened #7109 "[Bug] Get-DbaDBFile does not return info on FILESTREAM files"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

none

#### Steps to Reproduce

`Get-DbaDbFile -SqlInstance <myinstance> -Database VisionFILES`

#### Expected Behavior

I expected to see output of the FILESTREAM file(folder) that I see in sys.database_files

#### Actual Behavior

I only saw output for ROWS and LOG type_des

[2021-01-24 20:23] iampeterdaniels commented on #7109
Associated with PR 7108:
https://github.com/sqlcollaborative/dbatools/pull/7108

[2021-01-25 16:41] vieiradaniel92 opened #7111 "Update-DBAInstance doesn't apply security patches"
Hi, there's been a recent SQL Server security patch provided by MS across most versions of SQL.

When running Update-DBAInstance (version 1.0.137), the local dbatools-buildref-index.json picks up the security patch but Get-SQLInstanceUpdate returns with "Already latest version".

Using SQL Server 2017 as an example. My server is version 13.0.5850, the security patch is newer at version 13.0.5865

[2021-01-25 16:50] wsmelton commented on #7111
Security patches are not considered updates from the sense of "latest build" therefore we don't flag them as such. Microsoft references them in a similar fashion as being `CUx+GDR` (where x is the latest CU for the release of SQL Server).

Installation of security patches is done using the `-KB` parameter by design.

Reference #7092 discussion as well.

[2021-01-25 16:50] #7111 closed

[2021-01-26 05:28] dvenardos opened #7112 "Get-DdaRegServer | Move-DbaRegServer InputObject does not contain ParentServer property after calling Get-RegServerParent"
dbatools version 1.0.137
PS C:\Users\dvenardos.REALSOFTWARE> Get-DbaRegServer -SqlInstance vssqlcms01\sql17 -ServerName vsOfficeTSDB -Group Unclassified | Move-DbaRegServer -Group Test
WARNING: [20:53:49][Move-DbaRegServer] Test not found on

---------------
The object returned from the internal function Get-RegServerParent is not null, but does not have the ParentServer property, therefore, the g

[2021-01-26 06:29] dvenardos commented on #7112
It is really weird, it is like PowerShell is making a deep copy of the object passed into Get-RegServerParent.
PS C:\Users\dvenardos.REALSOFTWARE> $rs = Get-DbaRegServer -SqlInstance vssqlcms01\sql17 -ServerName vsOfficeTSDB -Group Unclassified

PS C:\Users\dvenardos.REALSOFTWARE> $parentserver = Get-RegServerParent -InputObject $rs -Verbose
VERBOSE: Assigned InputObect to Parent.
VERBOSE: ParentC

[2021-01-26 20:13] lancasteradam commented on #7112
@dvenardos, I've updated the documented example for Move-DbaRegServerGroup. It should read:

Get-DbaRegServerGroup -SqlInstance sql2017 -Group HR\Development| **Move-DbaRegServerGroup** -NewGroup Web

I also double checked on my local instance and these commands worked fine:

Get-DbaRegServer -SqlInstance localhost -Name 'localhost\SQL2017' | Move-DbaRegServer -Group Web
Get-DbaRegServerGroup -Sql

[2021-01-26 23:25] dvenardos commented on #7112
@lancasteradam, it may be because I have two instances of vsOfficeTSDB which is why I am specifying the group in the Get-DbaRegServer call. If I leave the group parameter it doesn't fail until it tries to complete the move.

Get-DbaRegServer -SqlInstance vssqlcms01\sql17 -ServerName vsOfficeTSDB | Move-DbaRegServer -Group Test

WARNING: [15:22:13][Move-DbaRegServer] Failed to move vsOfficeTSDb to

[2021-01-27 00:56] lancasteradam commented on #7112
@dvenardos, I see what you mean. With that constraint 'UQ_sysmanagement_unique
_server_name_per_group' it does impose uniqueness per group. You could try using the -Group param for Get-DbaRegServer and that might help. Another thought is that if you have a unique naming convention then that should allow the registered servers to be moved around more easily.

[2021-01-27 14:56] darren-abbott opened #7114 "Restore-DbaDatabase -sqlInstance parameter"
The documentation for Restore-DbaDatabase states that the -sqlInstance parameter is "The target SQL Server instance or instances" which I read as it implying that it can accept multiple instances in a list, to restore a backup to multiple servers in one command.  However, entering more than one instance makes the command fail.  Doesn't look like the code loops through a list of instances so maybe

[2021-01-27 18:30] lancasteradam commented on #7114
@darren-abbott, thanks for mentioning this. I've submitted a PR to fix the documentation. The -SqlInstance param only accepts a single instance for this command.

[2021-01-28 07:40] dvenardos commented on #7112
@lancasteradam, that is the defect that I am reporting. When I use the command below I get the reported error.
Get-DbaRegServer -SqlInstance vssqlcms01\sql17 -ServerName vsOfficeTSDB -Group Unclassified | Move-DbaRegServer -Group Test

[2021-01-28 14:11] alvipeo opened #7116 "[Bug] PowerShell 7 and Publish-DbaDacPackage => Could not load file or assembly Microsoft.Build, Version=15.1.0.0"
$PSVersionTable.PSVersion (Windows 10 x64)

Major  Minor  Patch  PreReleaseLabel BuildLabel
----- | ----- | ----- | --------------- ----------
7      1      1

I took the script from here - [using dacpac functions to clone sql server databases](https://dbatools.io/clone/). Go to **Full Script**.

When running it I get the following exception:

 Line |
87345 |          throw $records[0]
      |

[2021-01-28 14:20] alvipeo commented on #7116
I just checked, it works for:

[2021-01-28 23:02] lancasteradam commented on #7112
@dvenardos, thanks for clarifying that. I was able to duplicate the problem so I'm looking into it.

[2021-01-29 09:58] fvanderhaegen opened #7118 "Get-DbaOrphanUser returns also users of type 'SQL User without login'"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Execute Get-DbaDbOrphanUser on a database that contains an user of type 'SQL User without login'

#### Expected Behavior

Users of that type shouln't be listed in the resultset.
Such users can be used in the context of 'Execute as'

#### Actu

[2021-01-30 09:34] mkellerman commented on #6210
Sorry to jump in, but this Issue has become stale. And no idea the current state of the issue. I use Invoke-DbaQuery in some scripts, and provide it with a $SqlInsance object returned by the Connect-DbaInstance. I have 30-50 connections established lingering around on my local mssql dev db, where only my single script is running.

Can this be avoided?

[2021-01-31 01:10] lancasteradam commented on #7118
@fvanderhaegen, so far I'm not able to duplicate this issue using the latest dbatools code.
![Get-DbaDbOrphanUser](https://user-images.githubusercontent.com/68036988/106371760-26bc2d00-631d-11eb-98c7-ec42e7a67556.png)

Could you provide more details on how to setup the scenario? You could provide the output of this query:

[code]

Or run these commands:

[code]

[2021-02-01 07:12] fvanderhaegen commented on #7118
@lancasteradam: this are the results of the requested t-sql command:

SidLength UserName   principal_id type  authentication_type LoginName
----------- ------------- ------------- ----- ---------------------- -------------
16             MyUser        5                  S       1                               NULL

This is a printscreen out of ssms:
![image](https://user-images.githubusercontent.c

[2021-02-01 11:06] fvanderhaegen commented on #7118
Apparently something was wrong with my installation of dbatools.
When I removed the module (+ reboot) and did a clean install the user didn't reappear in the result of Get-DbaDbOrphanUser.

[2021-02-01 11:06] #7118 closed

[2021-02-01 13:37] wsmelton commented on #6553
Please provide a csv file that receives this error so that we can probably reproduce it.

[2021-02-01 16:32] dsolodow commented on #6553
[completed_learners.zip](https://github.com/sqlcollaborative/dbatools/files/5905209/completed_learners.zip)

Here you go.

[2021-02-02 01:24] pgdanes opened #7119 "[Bug] Set-DbaAgentSchedule - Unable to set monthly schedule that recurs on every Nth day of the month"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
None

#### Steps to Reproduce

With existing monthly schedule created to recur on the 1st day of every month:
[code]

#### Expected Behavior
![image](https://user-images.githubusercontent.com/11003459/106538916-09af7600-6538-11eb-94dd-336b0f45211f.png)

#### Actual Behavior
!

[2021-02-02 01:30] pgdanes commented on #7119
This may have a similar solution as #6677

[2021-02-02 06:19] pgdanes commented on #7119
Unsure what I was doing wrong but this has self resolved for me.

[2021-02-02 06:19] #7119 closed

[2021-02-02 21:02] LeonardRutkowski opened #7120 "Additional File Paths on Set-DbaTempDbConfig"
Allow multiple file paths on function Set-DbaTempDbConfig

We currently have some instances, where the tempdb files are spread across multiple volumes. The current function allows for entry of number of files needed, but only 1 file path.

This is some sample code, I used for a previous configuration script I used. I am currently writing one, using dbatools module.
# Create the tempdb data files
W

[2021-02-05 14:00] joshcorr commented on #6548
Still not working as of version 1.0.137

[2021-02-05 16:03] lancasteradam opened #7122 "[Bug] Import-DbaCsv - update error handling for mismatch on database name"
### Report
As mentioned by @sandscap-sc in this posting below the error handling for the mismatched database name scenario needs to be updated for consistency:

https://github.com/sqlcollaborative/dbatools/pull/7064#pullrequestreview-583902038

The current code works since it is doing a "not equal" check. However, for consistency reasons it should be updated to check the CurrentDatabase property.

[2021-02-08 16:26] lancasteradam opened #7126 "New commands: New-DbaDbSchema and Get-DbaDbSchema"
### Summary of new feature

Add new commands to create and get db schemas.

### Proposed technical details (if applicable)

Basic commands that enable creation of schemas and the ability to find schema. Using the Get-DbaDbSchema would allow a caller to do other actions such as altering or dropping the schema.

A follow-on feature request could be to use New-DbaDbSchema from New-DbaDbTable if the s

[2021-02-09 02:00] lancasteradam opened #7127 "[Bug] Invoke-DbatoolsFormatter does not remove tabs inside of block comments"
### Report
Invoke-DbatoolsFormatter does not remove tabs inside of block comments. A recent example of this occurring is here: https://ci.appveyor.com/project/sqlcollaborative/dbatools/builds/37651989/job/69odyjbc5t0vghpq

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Steps to Reproduce
1. Add tab characters to the documentation section of a comman

[2021-02-09 13:35] gpollokoff opened #7129 "[Bug] Repair-DBAOrphanUser with RemoveNotExisting returns error on Windows Logins"
### Report

#### Host used

- [X ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]
PowerShell Version        : 5.1.18362.1171
dbatools latest installed : 1.0.133
Culture of OS

[2021-02-09 13:36] gpollokoff opened #7130 "[Bug] Repair-DBAOrphanUser with RemoveNotExisting returns error on Windows Logins"
### Report

#### Host used

- [X ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
Execute the following:

Repair-DbaDbOrphanUser -SqlInstance sql1 -Users 'domain\group name' -Database dbname -RemoveNotExisting

#### Expected Behavior

Expected group to be removed from database as it is no longer a valid login.

#### Actual

[2021-02-09 13:37] #7129 closed

[2021-02-09 13:37] gpollokoff commented on #7129
duplicate

[2021-02-11 03:02] lancasteradam commented on #7130
@gpollokoff, could you provide more details on the setup of the orphaned user and also run the command with -Verbose? I tried duplicating the issue with an orphaned windows user and an orphaned windows group and the error did not occur.

Looking at the code it seems the "Incorrect syntax" error possibly came from the drop user statement from Remove-DbaDbOrphanUser. There may be a path through the

[2021-02-11 09:08] ChrisZIT opened #7133 "[Bug] dbatools also tries to connect with current user if credentials are given"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
Using dbatools I get errors on side of MSSQLSERVER that login failed.
[code]
On my powershell scripts I don't get any error.

#### Steps to Reproduce

- run the script with a user which don't have permissions on database.
- In the credentials enter an user which has permissio

[2021-02-11 13:26] pshore73 opened #7158 "Existance Check Create User"
Export-DBALogin currently does an "IF USER NOT EXISTS" check when creating logins to the instance, which is great.  However, in generating the TSQL file it does not put a similar check around the create user statement, which when coupled with a restore/refresh we run into errors at times.

My request is simple, can that check be added to the SQL file generation?

Thanks!

[2021-02-11 14:13] gpollokoff commented on #7130
Here is the setup:
1.  Create windows user login
USE [master]
GO
CREATE LOGIN [LOE\sluser-win] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
GO

2.  Create database user from login
  USE [DBAAdmin]
GO
CREATE USER [LOE\sluser-win] FOR LOGIN [LOE\sluser-win]
GO
USE [DBAAdmin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LOE\sluser-win]
GO
USE [DBAAdmin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LOE\sluse

[2021-02-11 16:06] lancasteradam commented on #7130
Thanks @gpollokoff  for that additional info. I've added a PR with a proposed fix.

[2021-02-11 16:46] lostsole opened #7135 "Enhance Test-DbaBuild to include all Components of SQL Server"
### Summary of new feature

Enhance Test-DbaBuild to include all Components of SQL Server, SSAS, SSIS and SSRS.

### Proposed technical details (if applicable)

From this URL:https://www.mssqltips.com/sqlservertip/3549/inventory-sql-server-services-version-and-edition/
Something like this that returns all the inventory and build of all SQL components.

### Latest version of dbatools as of writing

[2021-02-11 16:47] andreasjordan commented on #7133
I will try to reproduce this on my lab.
Have you tried the new code path as well? See Example 17 at https://docs.dbatools.io/#Connect-DbaInstance
You can also use "-Debug" with that code path to see a lot of details that would help me to understand what is going on.

[2021-02-12 09:04] ChrisZIT commented on #7133
## error during connection

I don't know why but I also get an error if I create the connection with `Connect-DbaInstance`.
I will change this in issue above. Maybe it was my mistake so that any cache was used.

## Inspect error with -Debug

I've run the connect with `-Debug`:
[code]

Here the output, I also commented the observerd behaviour on sql server.

[code]

## sql.connection.experimental

[2021-02-12 10:16] andreasjordan commented on #7133
Hi Chris, that helps.

Some background info about the connection methods: "local sql" is SQL Server Authentication, so sending username and password to the sql server. "local ad" is Windows Authentication, so using the current windows security context to connect.

As you are running powershell as "AD\wsuser" and want to connect as "AD\adminuser", the security context has to be changed at the clien

[2021-02-12 11:17] andreasjordan commented on #7133
I did some testing in my lab:

[code]

I get the same error you get, but only when there is no delay between creation of domain account and sql server login. If I drop and recreate the login, it works again.

Can you drop and recreate the login?

[2021-02-12 14:02] andreasjordan commented on #7133
I had a second look: My error says "DEBUG: [12:13:09][Connect-DbaInstance] Can't connect to SRV1 | Login failed for user 'COMPANY\adminuser'." - so the context switch was successful, only the login was not found. So your problem is maybe not related to the login at the sql server.

[2021-02-12 14:14] andreasjordan commented on #7133
First of all: Sorry for all the messages. But now I can reproduce your problem.

I have created a new ad user without login on the sql server:

[code]

I have started a powershell with that account and then tried to connect - and I get the same error messages.

When I create a login for AD\wsuser at the sql server, it works again.

Sorry to say, I don't have an idea. It might be a problem inside t

[2021-02-14 21:18] lancasteradam opened #7137 "Import-DbaCsv, Write-DbaDbTableData: add the integer wrap fix from PR 7046"
### Report
The integer wrap fix from PR #7046 needs to be integrated into the Import-DbaCsv and Write-DbaDbTableData commands.

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
Integer wrap occurs when large data imports/migrations are done.

#### Steps to Reproduce
Import or migrate more than 2,147,483,647 using Import-DbaCsv and Writ

[2021-02-15 03:47] SamWalkerRxSense opened #7139 "Get-DbaDependency gets stuck in loop when InputObject has a circular reference."
### Report

Get-DbaDependency gets stuck in loop when InputObject has a circular reference.

#### Host used
Name             : Visual Studio Code Host
Version          : 2020.6.0
InstanceId       : 447ac6de-6823-4100-86ee-ae7ba383d496
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : en-US
CurrentUICulture : en-US
PrivateData      : Microsof

[2021-02-15 09:13] #7090 closed

[2021-02-15 17:24] #7122 closed

[2021-02-15 17:26] #7127 closed

[2021-02-15 17:27] #7130 closed

[2021-02-15 18:11] #7114 closed

[2021-02-15 20:26] #7137 closed

[2021-02-16 08:31] #7107 closed

[2021-02-17 07:13] jpomfret opened #7140 "New commands: Set-DbaDbSchema and Remove-DbaDbSchema"
### Summary of new feature
Following on from the addition of #7125 to complete the set of schema functions.
- Set-DbaDbSchema
- Remove-DbaDbSchema

### Proposed technical details (if applicable)
Add functionality to update schema properties (owner, anything else that can be set?) and to drop schemas.

[2021-02-17 12:19] tboggiano commented on #3359
Is there a code branch for this I might be able to take over and work on this, this will help me out with a presentation I'm doing and replace a SQL script with dbatools?

[2021-02-17 19:53] #7126 closed

[2021-02-18 16:52] cvillegashak opened #7143 "Watch-DBALogin - Add the ability to target a single SQL instance"
### Summary of new feature

Add the ability to target a single SQL instance or enumerate a PS object of SQL instances through this command. Flesh out the documentation on this command.

### Proposed technical details (if applicable)

Instead of forcing a text file to be used or a CMS server add the ability to explicitly point to a single SQLInstance or input object of SQLInstances. If this isn't p

[2021-02-19 00:02] lancasteradam commented on #7139
Thanks @SamWalkerRxSense for the detailed report on this issue.

[2021-02-19 01:20] kozloski opened #7145 "[Bug] Update-DbaInstance can fail because Invoke-Command2 can leave orphaned PSRemote sessions on target server"
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

[code]

#### Expected Behavior
Expect Update-DbaInstance to complete successfully with no errors.

#### Actual Behavior
Update-DbaInstance fails with an error message indicating the the maximum number of concurrent shells quota on the target

[2021-02-19 05:35] karsoncheungsonos commented on #6976
I am running dbatool version1.0.139.  I am getting the same issue with "Installation failed with exit code -1073741515",
Remove-Item : Cannot find path 'C:\Users\UserName\AppData\Local\Temp\Configuration_ServerName_2016.ini' because it does not exist.  At C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.139\allcommands.ps1:41795 char:13
Commands like
a.  install-DbaInstance -Path D:\ -Versi

[2021-02-19 10:35] Kevin-S-Lewis opened #7146 "Copy-LinkedServer as SQL Server agent "Console not elevated, but elevation is required" and Export-LinkedServer "Can't connect to registry on [remoteServer]"
I think I have found a way round not requiring local admin on the local or remote server when using either of these two commands Copy-LinkedServer or Export-LinkedServer. I am also unsure as to why "Test-ElevationRequirement -ComputerName" is included within the Copy-LinkedServer when its not in Export-LinkedServer.

I would like a bypass option for Test-ElevationRequirement within the command Cop

[2021-02-19 13:26] octaviancretu opened #7147 "[Bug] Copy-DbaDBMail setting wrong SMTP Server during copy"
### Report
While running Copy-DbaDbMail -Source $instanceSource -Destination $instanceDestination , The target e-mail accounts will contain as a target server the server name of the SQL Server destination instance instead of the SMTP Server name. This has been tested with dbatools version 1.0.106

Additionally SMTP authentication properties are not being copied.

#### Host used

- [x ] powershell.

[2021-02-19 17:33] kozloski opened #7148 "Configuration setting to bypass Initialize-CredSSP"
### Summary of new feature

Create a configuration setting to bypass initialization of CredSSP authentication by `Initialize-CredSSP`.
Allow CredSSP authentication to be used, but only using the existing configuration already in place.

The reason I am proposing this is because CredSSP configuration is managed by Group Policy in my organization, and does not need to be managed by dbatools. If I ru

[2021-02-19 18:05] andreasjordan commented on #7133
Today I worked on this again.

Here is my current script for setup and test:

[code]

I can also run a powershell under the account COMPANY\NormalUser and switch context from there:

[code]

And here is the script to cleanup:

[code]

So @ChrisZIT , can you please tell us if you still have this problem? Otherwise please close this issue.

[2021-02-19 20:32] marclancy commented on #7036
Yes, the reportingservicestools module covers downloading items from a report server.

For a particular item: `Out-RsCatalogItem` or `Out-RsRestCatalogItem`
For all items in a folder: `Out-RsFolderContent` or `Out-RsRestFolderContent`

The two REST commands will also download items that are not reports, datasources or datasets (eg PowerBI reports or Excel files)

The module is very actively mainta

[2021-02-19 21:17] nvarscar commented on #7148
This could be something more simple, like a switch to the command that would disable the forced CredSSP configuration.
Or even better, the command could actually _test_ CredSSP connectivity before trying to configure it.

[2021-02-19 21:36] kozloski commented on #7148
I like the test-before-config approach, it has value.
That would probably get me most of what I want.
Coupled with a switch parameter to the calling commands, that would do...

But the idea of being able to disable the function globally and tell dbatools to *never touch this thing* really appeals to me.

Adding parameters (I'm assuming to the functions that call Initialize-CredSSP, like `Install-D

[2021-02-20 08:36] #7145 closed

[2021-02-20 11:42] #7112 closed

[2021-02-20 15:43] lancasteradam opened #7153 "New-DbaDbTable - create the schema if it doesn't exist"
### Summary of new feature

The New-DbaDbTable command currently will return an error if the caller specifies a schema that does not exist. This feature request would allow for the schema to be created automatically.

### Proposed technical details (if applicable)
Modify the New-DbaDbTable command so that it checks if the schema exists and if not then create it.

### Latest version of dbatools as

[2021-02-20 21:46] #6533 closed

[2021-02-21 17:28] wsmelton commented on #7148
This needs to be a configuration item that the user explicitly enables, default it to false to never touch CredSSP configuration.

Exactly, many environments strongly control the use of CredSSP since it passes creds in cleartext. We should not modify the configuration of a client or server without the user explicitly allowing it.

[2021-02-21 21:11] nvarscar commented on #7148
This would break backwards compatibility and force users to configure CredSSP manually, which is an overhead for a lot of the userbase.

This command was written to ease up those things, and I would not want it to go into the direction where users need to RTFM and perform extra actions before they can use it. Test before configure, allow users to disable CredSSP configuration globally - both can (

[2021-02-21 21:23] wsmelton commented on #7148
What purpose does either command need CredSSP to start with? We are only doing one hop (client to server, or I can almost bet most users including deployments I've done with this are running it locally on the given servers to install). However, I am not aware of any rule we have for maintaining backward support in any command for changes; we have already done this in some commands since the 1.0 re

[2021-02-21 21:24] wsmelton commented on #7036
I do not see enough need to try and cover functionality in dbatools that the SSRS module should be (or already is) more than capable of handling.

Closing.

[2021-02-21 21:24] #7036 closed

[2021-02-21 21:25] nvarscar commented on #7148
Double hop to the network share with setup files.

[2021-02-21 21:25] wsmelton commented on #3359
@tboggiano I'm not aware of any activity, so you are more than welcome to start working on something if you would like.

You can create a **draft** PR if you would like to have it reviewed as you work on it.

[2021-02-21 21:29] wsmelton commented on #7148
Utilizing a PSSession config can remove the need for CredSSP just for that purpose. https://4sysops.com/archives/solve-the-powershell-multi-hop-problem-without-using-credssp/

I would consider this method less intrusive than changing trusted host configurations.

[2021-02-21 21:32] nvarscar commented on #7148
That method is already used as a failback when CredSSP is not functioning. Passing credentials as plain text through an unprotected connection should be a bigger security threat than a CredSSP protocol. Which is why there is a separate Confirm popup when the function is preparing to switch to that method.

[2021-02-21 21:40] wsmelton commented on #7148
Is-what-it-is then. Having the control at the module level we ensure more control from my use cases and make it something I'd recommend for customers I deal with now.

[2021-02-21 23:59] kozloski commented on #7148
To make myself clear: I'm not proposing any change to the current/default behavior here. Only a configuration option that I can use to opt-out of the default.

[2021-02-22 13:01] GLoeffler14 opened #7161 "New-DBADirectory does not work on multiple servers, and returns "directory already exists" when it does not"
### Report

#### Host used

- [X] powershell.exe
- [X] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Provide a list of steps to reproduce and any code required. Sanitize code if needed.
$Server1 = '10.95.XX.XXX'
$RSServer = '10.95.XX.XXX'
New-DbaDirectory -SqlInstance $Server1,$RSServer -Path "C:\diagnostics" -Verbose

#### Expected Behavior

[2021-02-22 13:42] omicronx90 opened #7162 "[Bug]Import-dbacsv locks csv file if the file can not be imported"
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

[code]

#### Expected Behavior
I should be able to move the file that could not imported when an error was thrown

#### Actual Behavior

I get a file in use error when trying to move the file in the catch statement

[code]
### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Pl

[2021-02-22 18:32] nvarscar commented on #7162
Please add Expected Behavior and Actual Behavior as per issue template

[2021-02-23 04:01] omicronx90 commented on #7162
I have updated the template is the update ok ?

[2021-02-23 23:55] kozloski opened #7166 "[Bug] Invoke-Parallel internal function throws error on PowerShell 7"
### Report

The `Invoke-Parallel` internal function fails on PowerShell 7 when called with the `-ImportModules` switch due to a call to `Get-PSSnapIn`, which is not present in PowerShell 7.

This causes public functions (`Install-DbaInstance`, `Update-DbaInstance`) to fail when calling `Invoke-Parallel -ImportModules`.

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [X] Other ( pws

[2021-02-23 23:56] kozloski commented on #7166
This could be as simple as testing for the presence of the `Get-PSSnapIn` command using `Get-Command`.
PR coming shortly.

[2021-02-24 11:06] Kevin-S-Lewis opened #7168 "[Bug] Get-DbaAgReplica -SqlInstance Dave -EnableException"
### Report

Get-DbaAgReplica with the EnableException parameter does not bubble the errors as expected and instead outputs as warnings.

#### Host used

powershell.exe

#### Errors Received

No error bubbled as Get-DbaAgReplica does not pass EnableException value through to Get-DbaAvailabilityGroup. Should Get-DbaAgReplica use the additional "-EnableException:$EnableException" when calling Get-Dba

[2021-02-25 18:33] ghost opened #7173 "Import-DbaCsv "FirstRow" Feature"
### Summary of new feature

I need to import files that have a description in the first few lines of the the file.  The description is followed the header.  I have to alter the file to remove the first few lines with the unwanted description.  It sure would be nice if there was an option to skip the first few lines so that I did not have to alter the file.  With BULK INSERT this is implemented via

[2021-02-26 19:01] lancasteradam commented on #7147
@octaviancretu, I'm able to see the issue however it is transient in nature because the command does complete the transfer of the mail server info. Here is the code workflow:

In the Process block the account info is transferred before the mail server.
https://github.com/sqlcollaborative/dbatools/blob/9e76c051b70295f9de49502211313bc9e173054c/functions/Copy-DbaDbMail.ps1#L387-L393

An interesting p

[2021-02-27 22:12] lancasteradam commented on #7168
@Kevin-S-Lewis, thanks for mentioning this. I've uploaded a PR with a proposed fix. As a workaround in the interim you could use a pipeline command like this:

`Get-DbaAvailabilityGroup -SqlInstance host1 -EnableException | Get-DbaAgReplica`

[2021-02-28 09:56] atultandon1981 commented on #5241
I have experienced the same issue, on further investigation i found the issue to be with one of the data types, Its GUIDs. Couple of ways to resolve the issue
1. Make sure destination table has the correct data type for GUID columns then insert the data by default -AutoCreateTable switch creates table with data type nvarchar(max) and while insertion GUIDs failed to do the data type conversion.
2.

[2021-02-28 21:31] #7082 closed

[2021-03-01 07:41] jpomfret commented on #6850
Hey @MikeyBronowski - it looks like this is now resolved, would you agree?

[2021-03-01 07:43] #7140 closed

[2021-03-01 07:48] MikeyBronowski commented on #6850
Yeah. Looks good

[2021-03-01 12:25] BMS-DZPB opened #7176 "Inoke-DbaQuery with multiple result sets"
Hey all:)

I'm struggling to get this working...

Executing a Stored Procedure with Inoke-DbaQuery which returns multiple result sets with at least one row each.
I'm only receiving the e first set as output...

`$test | Invoke-DbaQuery -Database master -Query '[POB_Dataload].[GetAllServiceUser]' -CommandType StoredProcedure`

Best

Matthias

[2021-03-01 12:27] andreasjordan commented on #7176
Have a look at the parameter -As

[2021-03-01 12:58] BMS-DZPB commented on #7176
Wow, that was quick and exactly what I needed!
Thanks @andreasjordan :)

Stupid me didn't see the solution right in front of my eyes...

[2021-03-01 16:18] andreasjordan commented on #7176
No problem, glad I could help.

[2021-03-01 16:18] #7176 closed

[2021-03-01 16:29] lancasteradam opened #7177 "Modify the name of the Schema param for New-DbaDbSchema and Get-DbaDbSchema"
### Summary of new feature

Update the name of the schema param to be 'Schema' instead of 'SchemaName' for New-DbaDbScheme and Get-DbaDbSchema. This is for consistency reasons with the other commands related to schemas.

### Proposed technical details (if applicable)

Minor change to param names. These are new commands so the risk of major interruption to end users should be low.

### Latest versi

[2021-03-02 20:56] #7177 closed

[2021-03-03 18:08] robertmcdaniel commented on #5751
Is it possible to get the CheckSum and VerifyOnly added to the copy-dbadatabase for the backup/restore option?

[2021-03-03 18:28] Kurama2121 opened #7179 "Issue with Start-DBAMigration task"
Trying to use the Start-DBAMigration task but it fails in a few places. I have attached the script output and the different logs requested from the report issues page. Let me know what else you need.

This is the full text of the command im trying to run

[2021-03-05 21:01] #7166 closed

[2021-03-06 15:07] lancasteradam opened #7180 "Add commands to manage sequence objects"
### Summary of new feature
Add commands to manage and interact with sequence objects .

### Proposed technical details (if applicable)
Add the typical commands for CRUD operations on sequence objects as well as a command to obtain the next sequence value for usage in scripting.

### Latest version of dbatools as of writing
1.0.139

[2021-03-06 15:49] #7088 closed

[2021-03-07 00:10] lancasteradam commented on #7179
@Kurama2121, can you retry using Powershell 5.1? The usage of Powershell 7 might be a factor here.

Also, when creating a bug report please use the [template](https://github.com/sqlcollaborative/dbatools/issues/new?assignees=&labels=bugs_life&template=Bug_Report.md&title=%5BBug%5D) to fill out the required sections and don't attach any files with company-specific error output. I recommend you imme

[2021-03-07 05:09] Kurama2121 commented on #7179
It worked, thank you. Sorry thought powershell 7 was preferred.

[2021-03-07 05:09] #7179 closed

[2021-03-09 13:28] thierryvandurme opened #7182 "Obfuscate the password in the connectionstring"
### Summary of new feature

Saving connection object in variable displays password when using SQL authentication (only when displaying the variable right after connecting)
$sqlLogin = Get-Credential
$connection = Connect-DbaInstance -SqlCredential $sqlLogin -SqlInstance .... -SqlConnectionOnly
$connection
==> includes password in clear-text

### Proposed technical details (if applicable)

Would it

[2021-03-09 17:34] RandyInMarin commented on #7162
This is an annoying issue during development because closing PowerShell ISE does not release the file lock.  When the ISE is closed, the ISE window is closed but the process is still open with the lock.  Somehow this issue prevents the process from closing normally.  As a work around, this script will close the orphaned powershell ise processes and release the locks.

`Get-Process -Name 'powershel

[2021-03-10 05:25] vkayar7 opened #7184 "[Bug] Set-DbaDbQueryStoreOption command is not Excluding the System Database MSDB when executed"
### Report

#### Host used

- [ ] powershell.exe
- [ 1] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
Set-DbaDbQueryStoreOption -SqlInstance ServerName -AllDatabases -State ReadWrite -CaptureMode AUTO -MaxPlansPerQuery 200 -MaxSize 1024 -StaleQueryThreshold 30 -CleanupMode AUTO -FlushInterval 900 -CollectionInterval 60 -WaitStatsCaptureMode O

[2021-03-10 14:08] LeonardRutkowski opened #7185 "Issue with Test-DbaSPN"
The Test-DbaSPN generation of the SPN seems to be incorrect, for the RequiredSPN variable.
The SPN for the instance name is correct, but the one for the port is incorrect.
MSSQLSvc/computername.domain.local:instancename - this is correct
 MSSQLSvc/#partialcomputername#portnumber.domain.local:portnumber - this is incorrect.
Should be: MSSQLSvc/computername.domain.local:portnumber
I'm using this is

[2021-03-10 15:26] lancasteradam commented on #7182
@thierryvandurme, that is expected behavior for SQL auth. After calling $connection.Open() the password will no longer be visible in clear text:

https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/protecting-connection-information#use-persist-security-infofalse

https://www.codykonior.com/2018/11/03/smo-leaks-sqlcredential-passwords-in-clear-text/

Have you considered using Windows auth

[2021-03-10 17:27] lancasteradam commented on #7184
@vkayar7, thanks for reporting this issue. I recommend for security purposes that you edit the bug description and remove the ComputerName and SqlInstance values under the "Actual Behavior" section.

Kind regards,
Adam

[2021-03-10 18:42] niphlod commented on #7184
Ahem .... QueryStore can be enabled against MSDB... https://www.sqlskills.com/blogs/erin/sql-server-query-store-default-settings/ . So the function is working as intended ...

[2021-03-10 18:44] niphlod commented on #7184
btw, big thanks to @lancasteradam who's contributing like crazy 🕺 👏

[2021-03-10 19:09] vkayar7 commented on #7184
@niphlod sorry my bad, I was not knowing that and it's not visible on SSMS so I thought it's same for MSDB as other System Db's. Closing the bug.

[2021-03-10 19:09] #7184 closed

[2021-03-10 19:17] lancasteradam commented on #7184
Thanks @niphlod, much appreciated! It makes sense that msdb would be usable in QueryStore given the general query patterns against it. I'll close the PR.

[2021-03-10 21:03] cmuncan opened #7187 "[Bug] Issue with New-DbaAgentOperator & Remove-DbaAgentOperator"
### The issue has 2 parts to it.

**Part 1 - Creating a new operator**
I just tried the following to create a temporary operator as follows:

[code]
but I'm getting this output:

[code]

Apparently you must specify `-PagerDay Everyday` in order for the function to work but that should not be a requirement.

You should be able to create the operator by specifying just an operator name.  the rest sh

[2021-03-11 09:49] #7148 closed

[2021-03-11 09:50] #7139 closed

[2021-03-11 09:51] #7161 closed

[2021-03-11 09:52] #7158 closed

[2021-03-11 09:53] #7162 closed

[2021-03-12 13:12] thierryvandurme commented on #7182
@lancasteradam Windows authentication is not an option in my specific case. But thanks for the reply and references!

[2021-03-12 13:12] #7182 closed

[2021-03-13 02:36] lancasteradam opened #7189 "[Bug] Import-DbaCsv - RowsCopied in result object still has integer wrap problem"
### Report
While fixing #7137 I missed a spot in Import-DbaCsv. The object that is returned to the caller has the RowsCopied attribute which contains the final row count. As shown in the screenshot it is still subject to the integer wrap issue.

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
![dbatools import csv result object](https

[2021-03-13 22:50] lancasteradam commented on #7185
@LeonardRutkowski, based on the description it seems that the instance name is also contained within the computer name. For example, 'SQL2016' is in two places in this string:

MSSQLSvc/STAGINGSQL2016.dbatools.io:SQL2016

The code does a string replacement of the instance name and replaces it with the port number, so as an example with port 54000 the result would be:

MSSQLSvc/STAGING54000.dbatool

[2021-03-14 15:13] LeonardRutkowski commented on #7185
Hi Adam,
Your fix seems to have resolved the issue. I am currently using version 141, so I'm assuming the fix will be in the next, or future version.
I wasn't sure how to do the instructions you mentioned in 7165, so I updated the code from the PR into the 141 installed ps1 file.

Thanks for the quick assist.

Regards,
Leonard Rutkowski
Database Administrator
***@***.******@***.***>
Work: 704-749-

[2021-03-14 15:15] LeonardRutkowski commented on #7185
FYI,
We are currently installing SQL 2019, so you may want to update the SQL version switch, but this isn't affecting me, at the moment.

Regards,
Leonard Rutkowski
Database Administrator
***@***.******@***.***>
Work: 704-749-2762
Mobile: 704-207-5009

From: Adam Lancaster ***@***.***>
Sent: Saturday, March 13, 2021 5:51 PM
To: sqlcollaborative/dbatools ***@***.***>
Cc: Leonard Rutkowski ***@***.*

[2021-03-14 19:51] lancasteradam commented on #7185
@LeonardRutkowski, great catch on that SQL 2019 display string, thanks for that. I added that piece to the PR. I recommend you edit your replies [here](https://github.com/sqlcollaborative/dbatools/issues/7185) to remove the text starting from your email signature to the end of the postings for security/privacy reasons.

[2021-03-15 14:13] francesco1119 commented on #6886
Update: the subscribe page is still there and users are still hitting the 405 error.
Just provide an alternative like an RSS feed or other subscribe method

[2021-03-15 16:59] GrabASalad opened #7192 "Issue with Copy-DbaDatabase with 3 destination servers"
when using Copy-DbaDatabase to copy a database to 3 destination servers the third server errors as it adds the backup devices twice then complains that the number is wrong.

here is the debug output...

DEBUG: [15:04:07][Connect-DbaInstance] Starting process block
DEBUG: [15:04:07][Connect-DbaInstance] Starting loop for 'DestinationSQLServer3': ComputerName = 'DestinationSQLServer3', InstanceName

[2021-03-15 20:19] cmuncan opened #7193 "[Bug] New-DbaAgentOperator default values not correct"
Attempting to use the `New-DbaAgentOperator` to create a "dummy" email operator.  We use this for completion of jobs so that any job that is run can email the person who requested it.  for instance, I would traditionally create a "dummy" operator like this:

[code]

When I attempt to do the same with the `New-DbaAgentOperator` I initially coded it as such:

`New-DbaAgentOperator    -SqlInstance $c

[2021-03-15 20:33] cmuncan opened #7194 "[Bug] New-DbaAgentJob -Force option drops schedule?"
Attempting to use the `New-DbaAgentJob`.  the process I currently have is:

1. Create new operator 'New-DbaAgentOperator -Force'
2. Create new schedule 'New-DbaAgentSchedule -Force'
3. Create new job 'New-DbaAgentJob -Force'

If neither of the 3 exist, then it works without issue.

If however the job initially existed, the `New-DbaAgentJob with -Force` appears to drop the schedule too when it shou

[2021-03-16 12:26] kjwalker opened #7195 "[Bug] Copy-DBADatabase not continuing"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]
 It is expected to exist as we are "continuing."

#### Steps to Reproduce

`Copy-DbaDatabase -Source OldProd -Destination NewProd -Database DBNAME -UseLastBackup -BackupRestore -NoRecovery`

New diff/tlog backups are taken in-between commands.

`Copy-DbaDatabase -Sour

[2021-03-16 14:56] lancasteradam commented on #7193
@cmuncan, this appears to be a duplicate of #7187. The pull request submitted for #7187 has not yet been merged and released.

[2021-03-16 20:44] Cparks1996 opened #7197 "Issue with Invoke-DbaQuery looping and variables"
I seem to be running into trouble when I am looping through an array ($vmnames) which is just a list of server names from my Azure environment.

foreach ($vmname in $vmnames)
{
    invoke-dbaquery -SqlInstance $sqlInstance -Database $databasename -SqlCredential $cred -SqlParameters @{ vmname = $vmname} `
    -Query "delete from dbo.AzureAvailableServers where [Server Name] = @vmname"
}

The error

[2021-03-16 20:49] niphlod commented on #7197
Try a .toString() on the value of sqlparams, it seems that the "native"
value type is a tad bit too exotic

Il mar 16 mar 2021, 21:44 Cparks1996 ***@***.***> ha scritto:

[2021-03-16 21:07] Cparks1996 commented on #7197
Well that resolved that issue but then I get:

"Failure | Timeout expired. The timeout period elapsed prior to obtaining a connection from the pool."

I thought that if I ran "Clear-DbaConnectionPool" that would resolve it but no luck.

[2021-03-16 21:08] Cparks1996 commented on #7197
Also I will note that a colleague of mine recommended I use the dbatools module instead of sqlserver so I am still new to how this all works on the backend and what the certain error messages mean and how to troubleshoot.

[2021-03-16 23:25] lancasteradam commented on #7194
@cmuncan, I recommend you remove your email address from the posting above (in the error message output).

Yes, "New-DbaAgentJob -Force" will drop the schedule when the existing job is removed. This is consistent with the default behavior in SSMS for unused schedules.

While troubleshooting this I noticed that pre-connected instances lead to caching issues with job schedules that have been deleted

[2021-03-16 23:40] lancasteradam commented on #7192
@GrabASalad, can you share the command(s) that you used and any other steps needed to duplicate the problem?

[2021-03-17 02:15] cmuncan commented on #7194
Thank you I've removed it.  Oops

I noticed this also and that was my solution too to do 1 Connect-DbaInstance and then pass that to each call with `-SqlInstance`.

[2021-03-17 07:01] andreasjordan commented on #7197
Can you please prove that? It should be a list of strings, but it seems to be something different.

`$vmnames[0].GetType()`

[2021-03-17 12:09] ml222 opened #7198 "Issue with Update-DbaInstance"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Since the server specified as target when running Update-DbaInstance is using a service account with a registered HTTP SPN causing WinRM issues, to get things to work this command is issued:

`Set-DbaToolsConfig -Name 'psremoting.pssessionopt

[2021-03-17 14:31] Cparks1996 commented on #7197
Each instance in the array is a string I just checked. I also was not referencing the .Name property in my -SqlParameters flag which was throwing it.

I think I have everything resolved now.

[2021-03-17 17:43] niphlod commented on #7197
perfect, if so close the issue ;-)

[2021-03-17 18:00] LowlyDBA commented on #5889
_shakes fist at stale bot_

This is very much still a bug :(

I'm happy to make the quick-fix.

Would ya'll like/need additional tests around this? If so, I may not have the bandwidth to go that deep for a few weeks.

[2021-03-18 02:48] lancasteradam commented on #7195
@kjwalker, I tried the scenario and I think your proposed fix is correct based on how this command is written. The -Continue documentation in [Copy-DbaDatabase](https://docs.dbatools.io/#Copy-DbaDatabase) says that it only does transaction log restores. Feel free to create a pull request with that fix.

In order to do the diff restoration you could use the Backup-DbaDatabase | Restore-DbaDatabase

[2021-03-18 16:31] cmuncan opened #7199 "[Bug] New-DbaAgentJobStep does not allow on failure go to step ID 1"
I am creating a new job and the first step is a step which is never executed, it is an internal data capture step that should only run in the event of an error.

So the process is I add a first catch all on failure step.  then I add all other steps.  For each other step, the on failure should point back to the first step.  When doing this though, I get an error as shown below

#### Host used

- [

[2021-03-18 17:55] cmuncan commented on #7199
my workaround for this:

add a dummy step as step 1, then the collect step as step 2, followed by the actual steps to be executed.
[code]
lastly followed by
[code]

[2021-03-18 20:14] cmuncan opened #7200 "[Bug]New-DbaAgentJobStep StepId does not increment"
When using `New-DbaAgentJobStep`I insert multiple steps the stepID does not increment.

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

#### Steps to Reproduce

[code]

Result **$AgentStep**
[code]

#### Expected Behavior
Should insert the steps and step id increments

#### Actual Behavior
all steps have the same ID (2 in this case) so when added to the j

[2021-03-18 20:26] cmuncan opened #7201 "[Bug]Set-DbaAgentJobStep does not set OnSuccessAction QuitWithSuccess"
When using `Set-DbaAgentJobStep` I am setting the final step in the job's OnSuccessAction to be QuitWithSuccess.  The -Verbose flag is used and it shows "Finished changing job step(s)" but when I check the SQL agent job itself, no changes happened.

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

#### Steps to Reproduce

[code]

Result
[code]

#### Expect

[2021-03-19 23:51] lancasteradam commented on #7192
The command to duplicate the issue is:

`Copy-DbaDatabase -Source "source server" -Destination "destination1", "destination2", "destination3" -Database dbname -BackupRestore -WithReplace -SharedPath "shared backup path"

[2021-03-22 09:11] krokofant opened #7204 "[Bug] Get-DbaKbUpdate not working"
### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)
- [x] PowerShell 7

#### Errors Received

[code]

#### Steps to Reproduce
[code]

#### Expected Behavior
To get the URL to the update

#### Actual Behavior
No url received. The url query looks broken `?updateid=downloadInformation[i].updateID`
[code]

### Environmental information
PowerShell Versi

[2021-03-22 10:02] krokofant commented on #7204
Same results on 1.0.141

[2021-03-22 10:26] krokofant commented on #7204
Seems to work if the POST search url is changed to https:
`http://www.catalog.update.microsoft.com/DownloadDialog.aspx` to `https://www.catalog.update.microsoft.com/DownloadDialog.aspx`

@wsmelton Could you review this change? 😊

[2021-03-22 21:47] cvillegashak opened #7206 "Encountering error stating "The given ColumnMapping does not match up with any column in the source or destination.""
### Report

Write-DbaDbTableData with -AutoCreateTable or without it as well halfway through leads to an error stating: "The given ColumnMapping does not match up with any column in the source or destination." There isn't much as far as details past this and when I review the table and output it should be writing the entire datatable. Even using a -WhatIf I can see that the command should succeed.

[2021-03-23 18:49] lancasteradam commented on #7200
@cmuncan, thanks for mentioning this issue and #7199. The underlying problem is that the SMO agent job object does not automatically reflect changes. It needs to be reacquired from the server after an update has been made to the job steps. I've added PR #7209 to address this in New-DbaAgentJobStep. In the meantime, for your scenario you could ensure the agent job object is reacquired after each up

[2021-03-24 17:57] jpomfret commented on #6553
Hey @dsolodow, @dpo007 and @csdunaway could you test out PR #7210 and let me know if it fixes your issues - and that there are no regressions!

Thanks

[2021-03-25 16:13] Dang3rM0us3 opened #7211 "[Bug] Invoke-DbaQuery Method invocation failed because [System.Uri] does not contain a method named 'New'."
### Report

Invoke-dbaquery throws a method invocation error when using the "-file" parameter on PSVersion 4 or lower.

This can be fixed by changing line 205 in the function
https://github.com/sqlcollaborative/dbatools/blob/ce5a0cd0578ffb506f68b2b1c90701844d69d3ea/functions/Invoke-DbaQuery.ps1#L205

from: if (Test-PsVersion -Is 3) {
to: if (Test-PsVersion -Maximum 4) {

#### Host used

- [x] powe

[2021-03-27 18:26] andreasjordan opened #7214 "[Bug] Get-DbaServerRoleMember - Update of $login.Role not correct"
This code:

[code]

will set the property only to the last role in the loop. So the information is not correct if the login is member of more than one role.

Is it really necessary to change the login object here? I discovered the function by chance and actually find it quite nice, but it should then better be integrated directly into Get-DbaLogin and contain an array of the roles.

Get-DbaDbRoleM

[2021-03-27 18:38] andreasjordan opened #7215 "[Bug] Get-DbaLogin - Parameter Login has wrong type"
Declaration is `[object[]]$Login,`, but usage is `$serverLogins = $serverLogins | Where-Object Name -in $Login` - so the only possible type is a `[string[]]`.

Please correct me if I'm wrong.

There are other commands, that declare `[object[]]$Login,`...

[2021-03-29 03:48] BoJackem23 opened #7219 "[Bug]"
### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

#### SQL Server:

[code]

[code]

[2021-03-29 03:57] BoJackem23 opened #7220 "E"
# ❤️ I'm using dbatools

If you (or your company) are using dbatools - please let us know. We'd love to hear from you!

dbatools is a community driven project, which means it's not maintained by a company. If you would like to help dbatools - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about dbat

[2021-03-30 13:32] andreasjordan commented on #7214
Here is the link to the code:
https://github.com/sqlcollaborative/dbatools/blob/bad1bca39ae535130b70d87f9c297d3f5cde3a9a/functions/Get-DbaServerRoleMember.ps1#L150-L160

I thought about it and now I probably understand the reason. Objects of type Login are to be returned so that they can be piped to other commands. In addition, however, the information about the role in which the login is a member

[2021-03-30 13:41] #7220 closed

[2021-03-30 13:45] #7197 closed

[2021-03-30 13:47] andreasjordan commented on #7133
Hi @ChrisZIT , are you still out there?

[2021-03-30 13:54] awickham10 commented on #7214
That makes sense to me. Permanently modifying $server.Logins seems like an unintended side effect. Another option could be cloning the object instead of adding then removing properties. I'll let @potatoqualitee weigh in. If she's good with it are you going to make that change or would you like me to?

[2021-03-30 13:55] SQLDBAWithABeard commented on #7215
Hiya, Thank you for examining the code and raising a question. This is stated in the guidelines for parameters as a requirement for all parameters.

https://github.com/sqlcollaborative/dbatools/wiki/standards#parameters

Is this causing any issues?

[2021-03-30 14:11] andreasjordan commented on #7215
I have tried to use Get-DbaServerRoleMember and passed a complete Login object into parameter -Login - as it is also of type [object]. Get-DbaServerRoleMember passed this just forward to Get-DbaLogin inside.

My code that returns nothing:

[code]

My code that works fine:

[code]

When we don't use [object[]] but [string[] for the -Login parameters, that would be more obvious.

[2021-03-30 14:12] andreasjordan commented on #7215
And where in the guidelines is the [object[]] requirement exactly?

[2021-03-30 16:08] SQLDBAWithABeard commented on #7215
Yes, that is definitely a bug but in Get-DbaServerRoleMember not accepting the login object correctly.

The guidelines say all parameters should accept multiple objects. It's maybe a little vague.

[2021-03-30 16:41] andreasjordan commented on #7215
Maybe it's only the documentation. In other commands (like Get-DbaAgentJobHistory), the documentation says "The name of the XXX", in Get-DbaServerRoleMember and in Get-DbaLogin it only says "The login(s) to process."
But in Get-DbaLastBackup also the documentation says "Specifies one or more database(s) to process" for [object[]]$Database, later using it in `Where-Object Name -In $Database`.

Are

[2021-03-31 07:08] Zhunya commented on #7044
Think this might be closed as resolved.

[2021-03-31 07:08] #7044 closed

[2021-03-31 10:08] ChrisZIT commented on #7133
Hello @andreasjordan , I don't had to much time to give this issue attention. Sorry.

I'm don't have the permission to create and remove users in AD cause of the policy in our company. To contact a colleague to test it, the problem is not big enough for me.

I created a workaround. (We also have a similar snippet for scripts which need to be started as admin if they don't.)
I restart the script if

[2021-03-31 19:15] andreasjordan commented on #7133
Thanks for sharing your workaround. I will close this issue then. You can reopen it anytime, if you would like to work on this again.

[2021-03-31 21:28] OsirisDBA opened #7224 "Add support for Multiserver Job Administration"
### Summary of new feature

SQL Server contains the facilities to manage job's centrally and deploy them across multiple target servers. This can be found in SQL Server Management Studio by right clicking on SQL Server Agent and choosing Multi Server Administration. Adding the ability to manage this in powershell would be helpful for migrations.

I'd anticipate this being a series of commands to p

[2021-04-01 14:32] SQL-Dude commented on #7204
changing line 144 to https  doesn't seem to work for me.  I still get the same error.

[2021-04-01 16:06] #7194 closed

[2021-04-01 16:06] cmuncan commented on #7194
misunderstanding of how it all hangs together.  after it was explained.  fully understand now and closing the request

[2021-04-02 04:49] davidgulotta opened #7226 "[Bug] Invoke-DbaDbShrink - Issue with handling larger db files due to Int32 data type. Needs to be Int64."
In current form, unable to handle DB files over the capacity of Int32.

[2021-04-02 17:49] krokofant commented on #7204
@SQL-Dude If you edited it locally, did you edit the `allcommands.ps1` file or the source file? When installed the command is loaded from the compiled `allcommands.ps1` file.

[2021-04-02 18:07] dgates82 opened #7227 "Invoke-DbaQuery ignores -queryTimeout parameter and hangs indefinitely"
### Report

#### Host used

- [x ] powershell.exe
- [x ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

None - Powershell script hangs instead of timing out the query as expected

#### Steps to Reproduce
[code]

#### Expected Behavior
The query to timeout after 15 seconds and return an error

#### Actual Behavior
The query continued to run until manually canceled (after 2 ho

[2021-04-02 20:56] ben-thul opened #7228 "Add functionality to Remove-DbaLogin to also remove mapped users in databases"
### Summary of new feature

Currently, calling `Remove-DbaLogin` will leave orphaned users in databases, requiring a second step to remove (now orphaned) users from any databases that login was in. I would like a parameter on `Remove-DbaLogin` that, if passed, would remove any user mapped to the login to be dropped to also be dropped.

### Proposed technical details (if applicable)

* User discove

[2021-04-04 07:22] #7153 closed

[2021-04-04 07:24] #7180 closed

[2021-04-04 07:31] #7089 closed

[2021-04-04 07:34] #7189 closed

[2021-04-04 07:34] #7185 closed

[2021-04-04 07:38] #7204 closed

[2021-04-04 12:32] potatoqualitee opened #7229 "Appveyor rerun of failed jobs"
We have like 10 jobs that run per each commit. Sometimes a single job will fail because the runner was overloaded. If you run it again, it'll work.

I'd like to set up something that re-runs failed jobs up to 3 times.

Then we can get something beautiful like this, that I did manually.

![image](https://user-images.githubusercontent.com/8278033/113508817-781dae00-9552-11eb-8ec4-55996bd3c805.png)

[2021-04-04 13:05] #7120 closed

[2021-04-04 13:10] #7168 closed

[2021-04-04 13:17] #7192 closed

[2021-04-04 13:17] #7195 closed

[2021-04-05 12:09] #7199 closed

[2021-04-05 12:09] #7200 closed

[2021-04-05 16:23] andreasjordan opened #7231 "[Bug] Invoke-Command2 - $runspaceId not used in session name"
While investigating some issues with commands that use Invoke-Command2, I had a look at the names of the PSSessions and was   surprised that the names did not contain the RunspaceId.

The name is generated here:
https://github.com/sqlcollaborative/dbatools/blob/80a5c1cd7fd5b501df30760f9cfacc1e62c5be91/internal/functions/Invoke-Command2.ps1#L80-L84

The following underline is interpreted as part of

[2021-04-05 16:25] andreasjordan commented on #7231
Sorry to say, @kozloski : #7149 has introduced this bug...

[2021-04-05 16:35] andreasjordan commented on #7228
I like this idea. I you need someone to review the code, let me know.

[2021-04-05 16:38] ben-thul commented on #7228
Thanks, @andreasjordan. Looking for greenlight from a project maintainer before proceeding. Once I have that, I'll make sure to mention this issue in the PR which should link it here.

[2021-04-05 16:44] andreasjordan opened #7232 "Enable "-WarningAction SilentlyContinue" for commands that work remote like Set-DbaPrivilege"
I would like to call `Set-DbaPrivilege -ComputerName $computerName -Type IFI -WarningAction SilentlyContinue` to suppress the warning "WARNING: [...] already has Instant File Initialization Privilege on [...]".

The command uses Invoke-Command2 and inside the scriptblock there are lines with `Write-Warning` - so there might not be an easy solution.

Is there a general interest in this feature?

[2021-04-05 19:24] nvarscar commented on #7231
Woops. Yeah, this needs to be fixed.

[2021-04-08 10:16] niphlod commented on #7229
lemme see what I can throw at it

[2021-04-08 14:49] SicilianNajdorf opened #7238 "Get-DbaMemoryCondition - WARNING: [16:39:27][Get-DbaMemoryCondition] Issue collecting data | Arithmetic overflow error converting expression to data type int."
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

#### SQL Server:

[code]

[code]

[2021-04-10 21:43] lancasteradam commented on #7227
@dgates82, I debugged the code and it appears to be working as expected.

How much data is returned from your query?

In the second note of the [remarks section](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlcommand.commandtimeout#remarks) of the CommandTimeout property it mentions that the timeout is reset for each read call.

This sample code helps to illustrate what the d

[2021-04-14 06:10] #7187 closed

[2021-04-14 06:29] jpomfret commented on #7226
Thanks for the bug report @davidgulotta - in future please don't remove the bug report template from the issue - it's really useful when fixing issues to have as much information about the scenario as possible.

Thanks @lancasteradam for more excellent bug squashing work!

[2021-04-14 06:35] #6553 closed

[2021-04-14 08:16] #7238 closed

[2021-04-14 09:53] Ant-Green opened #7242 "Add SQLServerVersions to Install-DbaFirstResponderKit"
### Summary of new feature

Brent provides a SQLServerVersions.sql script as part of the first responder kit which we use in order to ensure we have installed the latest patches for SQL as part of yet another way to comply with CIS checks etc.

This script is missed as it doesn't start "sp_" in the FRK repo so the $sqlScripts param doesn't get the script populated.

What are the thoughts of adding

[2021-04-14 11:17] niphlod commented on #7242
nothing against even if we have our own buildreference

[2021-04-14 12:15] Ant-Green commented on #7242
Thanks it's as a double, triple check we do as part of the CIS standards that all builds should have the latest SP/CU and as it's all driven by T-SQL, we utilise the table provided in the FRK.

What option would be preferred, optional install switch or just bundle the script into the full release?

[2021-04-14 15:04] niphlod commented on #7242
right now it installs everything and there isn't a "what-to" selector so I'd go for full, if that's the only thing missing

[2021-04-15 06:55] AGregersen opened #7243 "Support for startup scripts in Start-DbaMigration"
### Summary of new feature

Currently the Start-DbaMigration doesn't migrate the configuration of Startup scripts - meaning those scripts configured to run at SQL Server startup won't run on the new server.
I don't know if it's a commonly used feature in SQL, but Microsoft AX Dynamics 2012R3 use it to ensure special permissions on tempdb.

### Proposed technical details (if applicable)

It should

[2021-04-15 19:02] lancasteradam commented on #7206
@cvillegashak, so far I'm not able to duplicate the problem. Do you have more specific steps to duplicate the problem?

I tried the following:

[code]

Have you considered using the [Copy-DbaDbTableData](https://docs.dbatools.io/#Copy-DbaDbTableData) command? It allows a query to be used and is simpler and more efficient.

[2021-04-15 19:08] cvillegashak commented on #7206
Hey Adam! Thanks so much for the response. Yep, that’s what I ended up doing and it worked like a charm. ☺ This issue can be closed.

[http://webdownload.hunton.com/esignature/HAKLogo.png]
Christian Villegas
Enterprise Systems Engineer
cvillegas@HuntonAK.com<mailto:cvillegas@HuntonAK.com>
p
404.888.4201
m
404.416.6035

Hunton Andrews Kurth LLP
Bank of America Plaza, St 4100
600 Peachtree Street, N

[2021-04-15 19:08] #7206 closed

[2021-04-15 19:39] lancasteradam commented on #7206
@cvillegashak, that is great to hear. Just an fyi, for security precaution you should edit your previous reply on GitHub and remove the info starting from your email signature to the end of your post:  https://github.com/sqlcollaborative/dbatools/issues/7206#issuecomment-820666649

This is one of the drawbacks to using the email reply feature. It's safer to open the page in GitHub and enter the re

[2021-04-15 19:41] cvillegashak commented on #7206
Done. Thanks for the heads up! :)

[2021-04-18 03:10] potatoqualitee opened #7245 "CodeCov Hack - We were not compromised"
We have some codecov code in our repo but it was disabled long ago.

@niphlod can you triple check with me?

https://github.com/sqlcollaborative/dbatools/blob/development/tests/appveyor.pester.ps1#L167

[2021-04-18 05:54] #7226 closed

[2021-04-18 13:19] andreasjordan commented on #7231
Have my lab back online and will code that today...

[2021-04-18 15:14] #7242 closed

[2021-04-18 15:16] #7201 closed

[2021-04-18 16:09] #7231 closed

[2021-04-18 16:46] jpomfret commented on #7229
This would be amazing ❤️

[2021-04-18 16:49] jpomfret commented on #7193
Closing this sine #7187 is now fixed and this is a duplicate. Please reopen if you are still having issues.

[2021-04-18 16:49] #7193 closed

[2021-04-19 06:30] niphlod commented on #7229
something is ready ^_^

[2021-04-19 06:39] niphlod commented on #7245
AFAIK only the bash uploader was involved, and we do not use it. We generate the coverage data and upload it via pure powershell.

[2021-04-19 18:15] #7143 closed

[2021-04-21 19:28] sdecker commented on #6210
@mkellerman It's a little hacky but you can Clear-DbaConnectionPool until this bug is fixed.

[2021-04-21 19:33] sdecker commented on #6210
@TheRockStarDBA To be clear this bug affects any function in DbaTools that uses Connect-DbaInstance or the internal wrapper Connect-SqlInstance.

[2021-04-21 20:04] sdecker commented on #6210
@andreasjordan  I'm testing with 1.0.145 and the issue still persists as noted by the original repro case from @Jaykul

[2021-04-21 20:25] andreasjordan commented on #6210
Have you used the experimental code path (see last example in the docs)?

Am 21.04.2021 22:04 schrieb sdecker ***@***.***>:

@andreasjordan<https://github.com/andreasjordan> I'm testing with 1.0.145 and the issue still persists as noted by the original repro case from @Jaykul<https://github.com/Jaykul>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2021-04-21 20:43] sdecker commented on #6210
I did not use the experimental code path. Sorry missed that. I will try it now. But I also found that the problem goes away if I add  $server.ConnectionContext.Disconnect() at the end of the
        foreach ($instance in $SqlInstance) {
section.

[2021-04-21 21:19] sdecker commented on #6210
@andreasjordan I confirm that with sql.connection.experimental I cannot reproduce the simple use case on the same DB.  I'm going to setup 200 DBs on my test setup now because I think it will still fail with more than 100 unique DBs on Azure Sql. Basically in which case all functions that use create a connection themselves need to use the $newConnection logic like Test-DbaRestoreVersion implements.

[2021-04-22 05:55] devendra2108 opened #7253 "Get-DbaDbOrphanUser Improvement"
### Summary of new feature
Cater for group membership validation of Orphan users

### Proposed technical details (if applicable)
It would be nice to check if the proposed orphan user is member of a group which exist at the instance level, As of now this user gets marked as an orphaned user

### Latest version of dbatools as of writing
1.0.142

[2021-04-22 07:07] andreasjordan opened #7254 "[Bug] https://docs.dbatools.io/#Connect-DbaInstance - layout is broken"
Have a look at the page https://docs.dbatools.io/#Connect-DbaInstance and you know what I mean...

[2021-04-22 07:10] andreasjordan commented on #6210
@sdecker You can do that with:
[code]

My plan is to set this code path as the default later. So please give feedback if there are any problems or limitations with this setting.

[2021-04-22 07:11] niphlod commented on #7254
yup, definitely.

[2021-04-22 22:03] sdecker commented on #6210
Sorry for not being clear. I know how to make the experimental feature permanent on my system. I was asking what I can do to help move it from experimental to the installed default. I am pleasantly surprised that this experimental fix also works with connection to mutliple DBs with other commands like Get-DbaDbSpace

$SecurePW = ConvertTo-SecureString 'Just4Now' -AsPlainText -Force
foreach($c in 1

[2021-04-23 05:59] andreasjordan commented on #6210
Hi @sdecker : Thanks for your offer to help!

Have a look at the source code at https://github.com/sqlcollaborative/dbatools/blob/master/functions/Connect-DbaInstance.ps1 and search for "TODO". There are still some questions we have to answer and some decisions we have to make.
Then we need the final ok from @potatoqualitee .

[2021-04-23 11:07] CarrieAnne opened #7257 "[Bug] Set-DbaAgListener - errors updating a listener port"
### Report
With Set-DbaAgListener it should be possible to change the port the AG group listener is using.

The following issues were identified:

* The pipeline parameter is expecting a type AvailabilityGroup but the output from Get-DbaListener (as per example) is AvailabilityGroupListener, and the foreach loop is expecting $InputObject to be AvailabilityGroupListener

* Passing the Listener para

[2021-04-26 07:57] Ant-Green opened #7264 "[Bug] - dbatools.io / github open chat link expired for the Slack Invite"
Not a module bug.

Slack link is no longer valid

https://dbatools.io/slack and the link in the GitHub to open chat all return an expired link/

[2021-04-26 13:35] RangaSQL opened #7265 "Could not connect because the maximum number of ''1'' dedicated administrator connections already exists"
Get-DbaAvailabilityGroup -SqlInstance ListnerName | Sync-DbaAvailabilityGroup

I use the above command to sync AlwaysOn nodes. "ListnerName" is the always-On listener. The commands works great, but see this message in the sql log everytime this is run.

Could not connect because the maximum number of ''1'' dedicated administrator connections already exists

[2021-04-27 02:39] mkellerman opened #7266 "[Bug] Write-DbaDbTableData Transaction was deadlocked on tempdb table"
Docker container with PowerShell 7.1.3 (linux), dbatools 1.0.137, and python3 3.8.5.

My workflow consists of using python to collect data, produce a json file, and have Powershell massage the data, and push it to SQL Server.

After establishing a connection to SQL Server, I first clone the destination table in [tempdb] using a guid to randomize the temp destination table:
[code]

Then I Write-Dba

[2021-04-27 06:39] niphlod commented on #7266
Are you sure it doesn't deadlock on the merge that comes after ? it is quite bonkers indeed that a randomly generated tempdb table gets deadlocked on inserting data.

[2021-04-27 14:10] mkellerman commented on #7266
100% sure. When it works, I see an additional verbose msg for Invoke-BulkCopy.

VERBOSE: [13:42:31][Write-DbaDbTableData] FQTN processed: [tempdb].[dbo].[tg_message_media_af41c603-be15-4f79-b34f-ba75be1eefec]
VERBOSE: [13:42:31][Invoke-BulkCopy] Importing in bulk to [tempdb].[dbo].[tg_message_media_af41c603-be15-4f79-b34f-ba75be1eefec]

And we are talking about inserting a few rows ( between 1 and

[2021-04-27 16:29] #7254 closed

[2021-04-27 18:56] danikuci1 opened #7267 "[Bug] Get-DbaAgReplica doesn't return accurate ComputerName property"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

no error is generated

#### Steps to Reproduce

I've tested this on a few AG so I'm fairly confident it isn't an environment issue.

Given an AG with two (or more) replicas, running `Get-DbaAgReplica -SqlInstance MyInstance` returns the appropriate number of objects. However

[2021-04-28 12:46] zikato opened #7268 "[Bug] Get-DbaDbOrphanUser returns fake positives for windows logins when login and user name don't match"
### Report

#### Host used

- [X ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Create login from Windows
Create Database with a user from login (user must have a different name than login)
Run `Get-DbaDbOrphanUser`

#### Expected Behavior

Show no orphaned users.
Function Get-DbaDbOrphanUser should check user - login m

[2021-04-28 18:04] dpo007 commented on #6553
Unfortunately I never got to test this before release.  v1.0.145 is busted, it won't read the column headers properly to decipher field names.

See: https://github.com/sqlcollaborative/dbatools/issues/6553#issuecomment-636018497

If that's the actual fix for what I'm seeing (and I think it is) it's not in v1.0.145, it (line 559) is still just:

`$firstline -split $Delimiter | ForEach-Object- {$Col

[2021-04-30 13:44] Jedelahu commented on #6372
I’m having a similar error using Copy-DbaLinkedServer. It works but does set off SQL alert “Severity 020 Fatal Error in Current Process”  with the message of;

 “DESCRIPTION:	Could not connect because the maximum number of '1' dedicated administrator connections already exists. Before a new connection can be made, the existing dedicated administrator connection must be dropped, either by logging o

[2021-04-30 17:40] cmuncan opened #7271 "[Bug]Connect-DbaInstance can't connect to Azure SQL or SQL MI"
### Report
We are working on the migration to that fancy fluffy stuff up in the sky.  As of now, we have a mixed bag of SQL: SQL Server (on prem & VM), Azure SQL, & SQL MI.  Now that we have Azure SQL & MI, I need to be able to connect holistically, regardless of what my SQL type is!  I figured, based on the documentation in `Connect-DbaInstance` that I could do it, but unfortunately I was getting

[2021-04-30 19:05] #7264 closed

[2021-05-01 21:44] wsmelton commented on #7267
This is because we auto-populate that property on all of our commands based on the parent instance of the SQL Server instance the code is executed against.

https://github.com/sqlcollaborative/dbatools/blob/7d0b20f844ee07482242aed483b36c91ca87fef6/functions/Get-DbaAgReplica.ps1#L92

The `ComputerName` property itself is not part of SMO and is a property that you could call proprietary to dbatools

[2021-05-03 09:02] andreasjordan commented on #7271
I did some research on this, but I don't have a solution yet.

Based on the experimental code path we do the following:
[code]

The object $connInfo has a property named "AccessToken" with type "Microsoft.SqlServer.Management.Common.IRenewableToken" and thus only takes a renewable token and not an access token generated with `Get-AzAccessToken -ResourceUrl https://database.windows.net`.

We have a

[2021-05-03 09:22] andreasjordan commented on #7271
Maybe @shueybubbles can help?

[2021-05-03 11:46] jpomfret commented on #7268
Hey @zikato are you able to test that PR for me please?

[2021-05-03 11:50] jpomfret commented on #7228
Sounds like a good idea to me - only think I'm not sold on is having the param take normal\forced to control force on underlying `Remove-DbaDbUser` - I can see why we'd want it, just not sure on that implementation.

Saying that though, I don't have a better idea at the moment, I'll think on it - but overall love the feature!

[2021-05-03 12:29] zikato commented on #7268
I can try (probably tomorrow though). Is it just cloning the PR, importing the module from PR instead of my normal modules and running it?

[2021-05-03 12:49] jpomfret commented on #7268
I usually do this to pull a specific PR\branch down into a local branch, check that out and then import the psd1 from the git repo.
[code]
Let me know if you need any help.

[2021-05-03 13:26] shueybubbles commented on #7271
There are a variety of issues to sort out here. It looks like you are mixing up AAD Password auth and AAD Interactive (aka MFA).  I don't know how Connect-DbaInstance works, but successful use of AAD auth for SQL depends on several factors.

The main factor is which version of SMO you have. If you are using a 161 version built on Microsoft.Data.SqlClient, you can pretty much rely on the client to

[2021-05-03 14:14] andreasjordan commented on #7271
Thanks for the quick response.

I think one problem might be that dbatools still uses an old version of the smo. The file properties show "15.0.18218.0" - is that the version?

Is there any documentation with the constructor of Microsoft.SqlServer.Management.Common.IRenewableToken?

[2021-05-03 14:20] shueybubbles commented on #7271
It's an interface so it doesn't define a constructor. The basic doc is at https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.management.common.irenewabletoken?view=sql-smo-160

If you provide an implementation to `ServerConnection`, it will call your `GetAccessToken` method before opening the `SqlConnection`.

[2021-05-03 14:28] andreasjordan commented on #7271
Thanks, now I think I understand. But that is too much .NET coding and beyond my skills.
@potatoqualitee : Who in the team could help here?

[2021-05-03 20:39] niphlod commented on #7271
I think the best "connected" here in this regards are @potatoqualitee  and @wsmelton

[2021-05-03 20:50] wsmelton commented on #7271
Support for MFA was pulled from the module year or so back because we had issues including the required DDL files for Azure. They had conflict with VS Code that caused users issues and it has not been revisited since then.

[2021-05-03 20:53] wsmelton commented on #7271
SMO itself does not handle direct auth to Azure AD with MFA. I'm not aware it can handle the Azure SQL auth options either, that is something SSMS deals with if I recall.

[2021-05-03 21:36] potatoqualitee commented on #7271
thanks, everyone. i have a few things backlogged that i have to work on, including integrating some much needed work done by @niphlod. I'll take a look at replacing SMO to see if it can work. @wsmelton is right, we removed mfa due to dll conflicts https://github.com/sqlcollaborative/dbatools/pull/5873

[2021-05-04 08:46] philippfrenzel commented on #5342
Hi, how is the status of this feature? Any progress? Thanks in advance

[2021-05-04 13:34] AEaston99 opened #7273 "The Ability to Change file names when using New-DbaDatabase"
### Summary of new feature
To be able to change the file names in the New-DbaDatabase. Preferably as a parameter on the script.
* Clear/concise description of what the problem is that the new feature can solve.
The issue is that, not being able to set the file names means that we cannot follow our company's naming convention.
For example, in my company we have a very large estate. And I am designi

[2021-05-04 13:59] zikato commented on #7268
I still had some false positives, I think it's case sensitive - because it returned "orphaned" users that had different casing between login and user.

Is there a reason why it's not mapped using SID? Or why does the login created from Windows have special treatment from the other logic?

[2021-05-04 20:44] seanwhitepc opened #7275 "[Bug] Export-DbaDbRole Not Including Roles For Multiple Databases Specified With -ExcludeFixedRole"
### Report

#### Host used

- [X] powershell.exe
- [X] ISE
- [X] VS Code
- [ ] Other (please specify)

#### Errors Received

No errors.

#### Steps to Reproduce

`Export-DbaDbRole -SqlInstance InstanceGoesHere -Database Databases,Go,Here -ExcludeFixedRole  -FilePath ".\Instance.DatabaseRoles.sql"`

#### Expected Behavior

The file "Instance.DatabaseRoles.sql" would have the user-created database r

[2021-05-05 09:29] #7257 closed

[2021-05-05 09:48] #7268 closed

[2021-05-05 10:02] andreasjordan opened #7276 "[Bug] Connect-DbaInstance - $isAzure is not initialised"
Just a picture to tell the story:

![image](https://user-images.githubusercontent.com/66946165/117124441-9caab700-ad98-11eb-8219-9332e90bd7d9.png)

Reason:
$isAzure is only set when Azure is detected:
https://github.com/sqlcollaborative/dbatools/blob/6be79ae78be8477f14210cf514a6ad50e199d9ce/functions/Connect-DbaInstance.ps1#L883-L902

So if $azure is set outside of the command to $true, this value

[2021-05-05 13:09] #7276 closed

[2021-05-05 17:11] andreasjordan opened #7278 "[Bug] Restore-DbaDatabase - SMO not updated"
This problem is not limited to this command, but applies to all commands that do not perform the change by means of SMO but by SQL.
The problem occurs only when the SMO is reused.

To show this, I use this code:

[code]

![image](https://user-images.githubusercontent.com/66946165/117181336-663f5d00-add5-11eb-81df-f7824a135082.png)

So I create a server SMO `$server` and use it for Restore-DbaDatab

[2021-05-05 17:19] andreasjordan commented on #7278
To not update the SMO if it was newly created inside of Restore-DbaDatabase (when $SqlInstance is just a string and not an SMO) and thus would be destroyed a few milliseconds later anyway, we could probably test like this:
[code]

[2021-05-05 17:51] andreasjordan opened #7279 "[Bug] Connect-DbaInstance - SMO is reused even if -NonPooledConnection is used"
The behavior can be shown very well at the command Install-DbaMaintenanceSolution, because it absolutely needs a connection with the option NonPooledConnection (to reuse a temp table).

I use this code:
[code]

![image](https://user-images.githubusercontent.com/66946165/117185833-8c1b3080-adda-11eb-9a4b-6d7f74e754de.png)

In a first step I will update the new code path of Connect-DbaInstance to te

[2021-05-05 18:03] andreasjordan opened #7280 "[Bug] Install-DbaMaintenanceSolution - Returns PSCustomObject even when failing"
Let's reuse a picture:

![image](https://user-images.githubusercontent.com/66946165/117187767-8f172080-addc-11eb-8c57-988330daef94.png)

https://github.com/sqlcollaborative/dbatools/blob/7dbfb513351653aa1ba3a9ae0ffe8d9983ad1afc/functions/Install-DbaMaintenanceSolution.ps1#L406-L434

Lines 429-434 have to be moved after line 424, so inside of the try-catch.

Will open a pull request for that tomorr

[2021-05-05 21:58] goforebroke opened #7281 "[Bug] Install-DbaFirstResponderKit LocalFile"
### Report

#### Host used

- [X ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Install-DbaFirstResponderKit -SqlInstance "SQL1" -Database DBALocal -LocalFile C:\temp\SQL-Server-First-Responder-Kit-main.zip

#### Expected Behavior

Expect command to unzip first responder kit files to C:\Users\YOURUSERNAME\AppData\Local\

[2021-05-06 13:03] SicilianNajdorf opened #7282 "Export-DbaCredential returning credential_id instead of credential_identity when choosing to exclude password"
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Export-DbaCredential -SqlInstance server -ExcludePassword -FilePath mypath\cred.txt

#### Expected Behavior

In the result, WITH IDENTITY = should show the name of the credential - Basically the value of the credential_identity column in sys.

[2021-05-06 13:20] niphlod commented on #7282
note to self/fixer, when you need the password we go and take credential_identity from sys.credentials, while without password we take $server.Credentials.Id. We should instead pick $server.Credentials.Name .

[2021-05-06 13:51] SicilianNajdorf commented on #7282
I'm no expert but are you referring to this column?

![image](https://user-images.githubusercontent.com/82165401/117309683-f091ca80-ae82-11eb-9280-785357de58c4.png)

[2021-05-06 14:14] niphlod commented on #7282
ahem, not really.
this
![image](https://user-images.githubusercontent.com/122119/117313063-d9a0a780-ae85-11eb-9a38-36c09b430abc.png)

which, under the gui, triggers this

`CREATE CREDENTIAL [cred_name] WITH IDENTITY = N'cred_identity', SECRET = N'pass1'`

maps to this
![image](https://user-images.githubusercontent.com/122119/117313123-e8875a00-ae85-11eb-9121-0281249b62cd.png)

[2021-05-06 14:59] andreasjordan commented on #7281
Hi, where did you get the zipfile from?
It looks like it's the zipfile your get from Brent directly.
The difference is: The zipfile the command downloads from GitHub has all files inside a directory called "SQL-Server-First-Responder-Kit-$Branch", the zipfile from Brent has all files in the root directory of the zipfile.

To get the correct file from GitHub use:
[code]

[2021-05-06 15:10] SicilianNajdorf commented on #7282
That's what I mean - I think.
The value in credential_identity is what's missing from the exported script...

![image](https://user-images.githubusercontent.com/82165401/117321757-b679f600-ae8d-11eb-873f-f225b3c8d499.png)

The SAS key one is missing SHARED ACCESS SIGNATURE and the credential for page blobs is missing the name in the identity field.

Forgive me if all this is a long winded way of s

[2021-05-06 15:26] niphlod commented on #7282
as long as it's confirmations, it's all ok :D
but even if they weren't, it's always best to triplecheck.

[2021-05-06 15:31] andreasjordan opened #7285 "[Bug] Export-DbaDbRole - wrong variable / wrong assignment"
Just by looking at the code, this looks wrong:

https://github.com/sqlcollaborative/dbatools/blob/c99e522842badabb98d41159dd98b11a8a8110ba/functions/Export-DbaDbRole.ps1#L329-L336

Line 331: The variables `$roleName` and `$userName` are not assigned in the code and should be replaced by those in line 333.
Line 333: This might need a `+` to use `+=` as in line 331.

@sqllensman : Can you please hav

[2021-05-06 15:53] andreasjordan commented on #7275
Hi,
I think this is the expected behavior.

Have a look at the documentation:

The content of every database is written to the same file. So you want to add `-Append` or use `-Path` instead of `-FilePath`.

[2021-05-06 16:05] MikeyBronowski opened #7286 "[Bug] Get-DbaDbSequence | Remove-DbaDbSequence does not work"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

[code]

#### Expected Behavior

Removes the selected sequence

#### Actual Behavior

[code]

When I put the name I get this error:
[code]

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

[code]

[2021-05-06 16:14] andreasjordan opened #7287 "[Bug] Export-DbaDbRole - incorrect verbose message"
@sqllensman : Please have a look at this code:

https://github.com/sqlcollaborative/dbatools/blob/c99e522842badabb98d41159dd98b11a8a8110ba/functions/Export-DbaDbRole.ps1#L383-L395

When `-FilePath` is used, `$outputFileName` in the verbose message is based on `$outputFileName = $instanceName.Replace('\', '$') + '-' + $databaseName.Replace('\', '$')`, but instead `$FilePath` is used:

![image](http

[2021-05-06 16:16] MikeyBronowski opened #7288 "[Bug] New-DbaDbSequence gives warning for dbo"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

[code]

#### Expected Behavior

Create the sequence without warnings and trying to create dbo schema

#### Actual Behavior

Gives the warning as it was trying to create the schema. It does not happen when the -Schema dbo is not provided

###

[2021-05-06 16:22] andreasjordan commented on #7286
This command only acceptes a database SMO as pipeline input:

[code]

This would have to be changed to `[object[]]` and then the code would have to test for the object type and act accordingly.

Will you provide a pull request for that?

[2021-05-06 16:31] MikeyBronowski commented on #7286
Great, thanks @andreasjordan . Happy to do so. Any other tests that might be useful here?

[2021-05-06 16:35] andreasjordan commented on #7286
No, I don't think so.

[2021-05-06 16:45] andreasjordan commented on #7288
You already found the missing `-IncludeSystemSchemas`, don't you?

[2021-05-06 16:49] MikeyBronowski commented on #7288
Yup. In the new-dbadbaschema

I'll try it out within the sequence command

[2021-05-06 16:49] MikeyBronowski commented on #7286
Cheers for the quick response and comments

[2021-05-07 12:39] #7282 closed

[2021-05-07 12:43] #7288 closed

[2021-05-07 14:39] andreasjordan commented on #7273
I like this feature.

I had a look at the code and it is not very flexible. Maybe we can add a parameter that takes an array of hashtables that host the information like in the CREATE DATABASE command? This way the user has full contol over the filename, but on the other hand has to build the filenames beforehand.
Just an idea...

If you need help, let me know.

[2021-05-07 15:48] andreasjordan commented on #7266
Some ideas:
* Don't use `-NoTableLock`
* Use a non pooled connection: `$server = Connect-DbaInstance -SqlInstance $SqlInstance -NonPooledConnection ; Write-DbaDbTableData -SqlInstance $server ...`

[2021-05-07 16:48] andreasjordan commented on #7267
`Replica` is just the same as `Name` and is just a string.

But you can use the type `[DbaInstance]` to split `Name` and then use `ComputerName` from that type:
[code]

[2021-05-07 17:09] andreasjordan commented on #7214
Just changed it to output a PSCustomObject. That should work well.

[2021-05-07 21:54] MikeyBronowski opened #7295 "Get-DbaDbSequence Remove requirement to provide the name, database, etc - more fexible"
### Summary of new feature

* Clear/concise description of what the problem is that the new feature can solve.

Currently the function requires very specific information in order to return sequence. Would be great if we could have something like Get-DbaDbRole where providing the SqlInstance it gets all the objects, but we could also use -Name, -Schema filters to filter out the results.

Additional

[2021-05-08 16:03] andreasjordan opened #7299 "Install-DbaInstance / Invoke-DbaAdvancedInstall - Get complete content of summary.txt"
### Summary of new feature

Until changed in January 2020 via #6308 / #6309, `$output.Log` contained the complete content of the summary.txt. This was changed to improve content of output on failures. I understand this and agree here, but with this feature request I want to focus on the output on success.
There I would like to have the complete content of summary.txt to be able to save it on the l

[2021-05-08 17:21] wsmelton commented on #7299
The change on my PR was actually made to clean up success because the content when successful has no benefit.

Unless the content has changed now?

[2021-05-08 18:29] andreasjordan opened #7300 "[Bug] Install-DbaInstance / Invoke-DbaAdvancedInstall - $output.Log is not a string but a PSObject with match result"
Because of this:

https://github.com/sqlcollaborative/dbatools/blob/f6dd5fb1fd75073ff59c0fe7fd7afd7b4b0b31e2/functions/Invoke-DbaAdvancedInstall.ps1#L131

the property Log is not the string we are interested in ("  Exit message:                  A computer restart is required. You must restart this computer before installing SQL Server.") but a MatchInfo object.
So just displaying $output.Log does

[2021-05-08 18:35] andreasjordan opened #7301 "[Bug] Install-DbaInstance / Invoke-DbaAdvancedInstall - No test for pending reboot because of file rename"
I tried to install an instance and the install failed with: "A computer restart is required. You must restart this computer before installing SQL Server." which was not detected by Test-PendingReboot because it was a PendingFileRenameOperations, but here the `-PendingRename` is missing:

https://github.com/sqlcollaborative/dbatools/blob/f6dd5fb1fd75073ff59c0fe7fd7afd7b4b0b31e2/functions/Invoke-Dba

[2021-05-08 20:37] wsmelton opened #7302 "[RPC] Rewrite the dbatools library into PowerShell class"
### Summary of new feature

Convert the dbatools library (contents of `dbatools.dll`) into a PowerShell Class. This would include converting the tests in the VS project into formal Pester tests as well (believe this is doable without much fuss/work).

### Proposed technical details (if applicable)

Use of PowerShell classes would mean the formal support of dbatools would be moved to Windows PowerS

[2021-05-08 21:27] wsmelton opened #7303 "[Bug] Two copies of Bogus.dll in the module"
### Report

PR #5331 added `Bogus.dll` but we also have this file living under our 3rd-party folder folder [bin/libraries/third-party/Bogus](https://github.com/sqlcollaborative/dbatools/tree/development/bin/libraries/third-party/Bogus).

I do not find anywhere explicitly loading the DLL from either location so I would assume it is inherited in some fashion.

#### Errors Received
N/A

#### Expected

[2021-05-08 21:28] wsmelton commented on #7303
@sanderstad pretty sure the data generator command you added is what needs this dll file? Are you aware which file is being used so we can clean up the other one?

[2021-05-09 07:37] nvarscar commented on #7301
This is a feature requested in #6412 - to skip the pending file rename check. This might have been an issue on a user's end last time, but there's no way to tell since it was so long ago. If you want this re-enabled, I'd suggest locking it behind a dbatools config value.

[2021-05-09 07:40] nvarscar commented on #7300
Yeah we definitely should have a string there. Please open a PR if you're willing to :)

[2021-05-09 07:43] nvarscar commented on #7299
`Summary` is misleading, you'd expect a short message in a Summary property, not a few KB of text. `LogFileContent` is great, go ahead with the change.

[2021-05-09 14:34] wsmelton commented on #7299
Many terms we have can be considered misleading but in terms of SQL Server those that do installs know what that summary file would contain. Calling it SummayLog to be more clear if needed.

Calling it log something, which log will it be? We could be providing the details, summary, or any number of other logs that exists in that bootstrap folder.

Just saying.

[2021-05-09 23:50] mattcargile opened #7305 "[Bug] Command Param Line Ending Handling New-DbaAgentJobStep, Set-DbaAgentJobStep"
### Report

When using the `-Command` parameter outside ISE or VS Code, the "new line" character is represented as a ``"`n"`` while the GUI in SQL Server Management Studio (SSMS) expects ``"`r`n"``. This creates a non conforming view between what SSMS shows and output from these cmdlets.

This may not make sense as a fix with the whole Windows vs Linux world. And with what I have read about pwsh s

[2021-05-10 06:44] andreasjordan commented on #7301
What about changing Test-PendingReboot to Test-DbaPendingReboot and export the command. Then I could run it before the install command and use the parameters that fit for my case?

[2021-05-10 07:41] andreasjordan commented on #7300
That would be a breaking change because `$output.Log` would change the type. If someone now uses `$output.Log.Line` to get the string, that would fail. As `Log` is missleading in my eyes, I would like to add `$output.ExitMessage` and put the string there.
Then I see two possibilities:
* Remove `$output.Log`.
* Still fill `$output.Log` like before (with the MatchInfo object) and maybe remove it lat

[2021-05-10 18:20] nvarscar commented on #7301
I think the last time the discussion around it was that this functionality should not be something that we offer to the users, but since you have a real life use case, maybe it's time to revisit it. This should be a decision coming from maintainers, but if anyone asked me, I'd be fine with opening up this utility function to the public.
Meanwhile, you can use the code from said function to check f

[2021-05-10 18:38] nvarscar commented on #7299
SummaryLog is also ok, doesn't make much of a difference to me. You can also use `Add-Member -Type AliasProperty` to maintain backwards compatibility when you're renaming a property.

[2021-05-10 20:43] andreasjordan commented on #7301
@potatoqualitee : What do you think?

[2021-05-10 20:44] andreasjordan commented on #7300
Ok, I've updated the branch and opened the pull request.

[2021-05-11 03:36] nvarscar commented on #7301
In fact, I think @niphlod has a point: this might as well be controlled by a switch in both Update-DbaInstance and Install-DbaInstance. Something like `-NoPendingRenameCheck`. If that's how we agree it should work then we should re-enable that check by default and let users control it.

[2021-05-11 14:52] goforebroke commented on #7281
You are correct, I downloaded from Brent directly. Once I downloaded from the correct location, I installed without any issues

[2021-05-11 14:52] #7281 closed

[2021-05-11 15:14] andreasjordan commented on #7301
To get an overview, here some code fragments:

https://github.com/sqlcollaborative/dbatools/blob/98d48909d1853e34f73d31bb3399ec3598151985/functions/Install-DbaInstance.ps1#L166-L167

https://github.com/sqlcollaborative/dbatools/blob/98d48909d1853e34f73d31bb3399ec3598151985/functions/Install-DbaInstance.ps1#L278

https://github.com/sqlcollaborative/dbatools/blob/98d48909d1853e34f73d31bb3399ec359815

[2021-05-11 22:27] RandyInMarin opened #7312 "Get-DbaRegServer -Debug:$false Triggers Debug Messages"
I'm using $DebugPreference = 'Continue' to debug my script.  I can't suppress debug messages from the cmdlets called by Get-DbaRegServer.  It might be something with how Write-Message is used instead of Write-Debug.  This issue might not be isolated to just these cmdlets.  It likely to applies to verbose and information level messages.  The issue applies to both 5.1 and 7.1 versions of PowerShell.

[2021-05-12 21:04] nvarscar commented on #7301
That's intended.

I can't prove (or disprove) that it was an edge case, even though it looks like one. And just because it's less code change, it doesn't mean that it's a better user experience. Switches are exposed to the user, while config parameters you need to know about and look into source code to be able to make use of them. If you really want this to be a config parameter, you can code it

[2021-05-13 09:09] AEaston99 commented on #7273
I don't want to over complicate this. I'm not 100% sure what you mean here.
Would a string value parameter not work?
As the first time it is used here is  `$logname = $dbName + "_Log"` on line 303
Could this not be changed to `$logname = $dbName + "_" + $SQLLogName` for example
with then [String]$SQLLogName being a parameter?

[2021-05-13 09:35] andreasjordan commented on #7273
Yes, a string value parameter would work. But you need two, one for data an one for log, don't you?

I can not guarantee that it will be merged, but go ahead and open a pull request.

[2021-05-13 10:00] andreasjordan commented on #7214
I'll try to organize my thoughts a bit: We are dealing with two different types of SMOs here: logins and roles. However, the return of the command is a list of all the mappings between SMOs of these two types. Thus, if a login is a member of two roles, the login SMO is returned twice, with only one role in each case in the Role property. So each of these two returned SMO is false, because it conta

[2021-05-13 10:08] andreasjordan commented on #7301
To be clear: I want this to be a config parameter to not introduce more command parameters. I see your point in having a new switch parameter to all the commands. If you are willing to code that, please do that. I'm not willing to do that because I don't have enought time. If you are happy with the current implementation, we can just close this issue. I have learned a lot about how the command wor

[2021-05-13 10:10] andreasjordan commented on #7287
@potatoqualitee : Should we wait to feedback from the author or should I try to fix this?

[2021-05-13 10:10] andreasjordan commented on #7285
@potatoqualitee : Should we wait to feedback from the author or should I try to fix this?

[2021-05-13 18:48] nvarscar commented on #7301
Sure, no pressure. I initially thought you wanted to contribute, but I can (and will, at some point) do that on my own too :)

[2021-05-13 18:51] nanoDBA opened #7314 "[Bug] Install-DbaMaintenanceSolution returns Success when target database does not exist"
### Report
Install-DbaMaintenanceSolution returns a successful result when the target database does not exist.

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
Assign a database that does not exist for the **Database** parameter.
[code]
[code]

#### Expected Behavior

Results should not indicate a Succ

[2021-05-13 18:58] nvarscar commented on #7302
As someone who used Powershell classes as a basis for a module, it's doable, but a bit painful. There are quite a few limitations with PS classes, including not being able to use them in command line after module import, not being able to assign such classes to function parameters, interfaces can be inherited one at a time, events support is non-existent, and so on.
C# lib makes it easier to use,

[2021-05-13 19:11] andreasjordan commented on #7314
Please have a look at #7280 and #7283 - already merged so will be part of next release.
Should fix your issue as well - but we can keep this open until next release of dbatools.

[2021-05-13 19:20] nanoDBA commented on #7314
@andreasjordan That's fantastic - thank you!

[2021-05-13 20:07] wsmelton commented on #7302
They can be assigned to function parameters.

[2021-05-13 21:07] nvarscar commented on #7302
Yeah, as long as they are defined in one file. If you dotsource-load your classes, they are no longer recognized. Here's an example: https://gist.github.com/nvarscar/2b14868fec577b5c1ecab70b4df06da4

Seems like this can be achieved using "Using module" command. I doubt anyone knows about this :D  I definitely didn't. Thanks for the link btw. But also, from the very same article:

[2021-05-13 21:20] wsmelton commented on #7302
Believe me 😉 it does not require one file it is all in how you import them for your module.

https://github.com/thycotic-ps/thycotic.secretserver/blob/453e552d913ff507ea088052b73b8a804e9006cb/src/Thycotic.SecretServer.psm1#L1-L19

[2021-05-13 21:21] wsmelton commented on #7302
Yes, it would be a breaking change to migrate this to a PowerShell class. In that breaking change will require the users to learn something knew 🥳

[2021-05-13 21:52] #6850 closed

[2021-05-13 23:14] GrumpyVader opened #7315 "Please Add functions to create and remove Replication Publisher and Subscriber"
Currently there is no available functions in DBATools to add or remove Distributor, Publisher or Subscribers for replication. These function would be helpful in configuring replication in SQL environments.

[2021-05-14 06:51] #7295 closed

[2021-05-14 08:57] #7279 closed

[2021-05-14 09:04] potatoqualitee commented on #7214
That does make sense. Perhaps we can add a column like SMOLogin and SMORole? If agreed, I'm happy to merge after changes 👍🏼

[2021-05-14 09:04] #7299 closed

[2021-05-14 09:04] #7300 closed

[2021-05-14 09:06] andreasjordan commented on #7214
That is a good idea. I will try this.

[2021-05-14 10:05] andreasjordan commented on #7214
It works, please have a look.

[2021-05-14 12:46] wsmelton commented on #7315
Please use the proper issue template.

[2021-05-14 12:46] #7315 closed

[2021-05-14 12:51] andreasjordan commented on #7314
Please update to 1.0.148 and test.

[2021-05-14 12:52] wsmelton commented on #7312
Please use the proper issue template.

If you do not want the debug messages to show up do not specify the debug parameter and you will not see them.

[2021-05-14 12:52] #7312 closed

[2021-05-14 13:02] wsmelton commented on #7271
Only because I've helped a developer support this authentication type in our software at work but in order to fully support `Integrated Azure Active Directory` and the other authentication requires some .NET magic to be done. SMO itself does not include support for these authentication types explicitly because it is part of Azure AD and not a authentication mechanism owned by SQL Server. (Hence th

[2021-05-14 13:08] andreasjordan commented on #7271
Have a look at the workaround the original poster is using:

[code]

So `Invoke-Sqlcmd` is accepting an accesstoken generated by `Get-AzAccessToken`. I have tried that myself - it works. But `Invoke-Sqlcmd`is the only command from SqlServer that supports this. Sadly it is closed source - I would really like to see the source code...

[2021-05-14 13:11] wsmelton commented on #7271
That is where the use of `IRenewableToken` comes into play, if I recall. Want to say there is an issue or PR we used to work through some of this in the repo but I've forgotten a good portion of it and would have to go test it again.

[2021-05-14 13:14] andreasjordan commented on #7271
But the accesstoken in $token is not renewable, but only a string that is valid for one hour.

[2021-05-14 13:14] shueybubbles commented on #7271
You should be able to set `$server.ConnectionContext.SqlConnectionObject.AccessToken` to $token before the connection is opened.  That's basically what invoke-sqlcmd does.

[2021-05-14 13:15] andreasjordan commented on #7271
I have tried that. but `$token` is a string, and `$server.ConnectionContext.SqlConnectionObject.AccessToken` needs a `IRenewableToken`.

[2021-05-14 13:17] wsmelton commented on #7228
If you go by our normal convention from previous years (no clue if we still enforce this now) then `Remove-DbaLogin` would not be in scope to have it call `Remove-DbaUser`. The default answer is the module's intent is for providing the tools to create the needed scripts for DBAs (or the whoever wears the hat) to perform management needs. This would fall into we have the two remove commands that ca

[2021-05-14 13:18] shueybubbles commented on #7271
`SqlConnectionObject` is an instance of [SqlConnection](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection)

[2021-05-14 13:22] wsmelton commented on #7271
Yeah, @shueybubbles I recall this is stuff @potatoqualitee and myself hit when we were trying to figure some of this out back in 2019 to support it all. We never could figure out the whole interface to that IRenewableToken because it also didn't make sense why that property requires an object that is for renewing a token itself.

That is what drove us to use the Azure DLLs, but then the issue with

[2021-05-14 13:23] andreasjordan commented on #7271
Ok, it is a string. I will try to find my scripts again...

[2021-05-14 13:30] andreasjordan commented on #7271
I found a script again.

I have tried this:
[code]

And got this:
Exception setting "AccessToken": "Cannot set the AccessToken property if the 'Integrated Security' connection string keyword has been set to 'true' or 'SSPI'."

[2021-05-14 13:33] wsmelton commented on #7271
This is the issue we captured most of our notes in #5445

[2021-05-14 13:33] shueybubbles commented on #7271
`IRenewableToken` only exists because we needed some way for SSMS 17 to provide tokens for SMO connections and because the the first implementation of AAD auth in `System.Data.SqlClient`  didn't have any such callback mechanism of its own. In .Net 4.7.2 you can register your own [token provider](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlauthenticationprovider.setprovider

[2021-05-14 13:35] shueybubbles commented on #7271
@andreasjordan  you'll probably have to construct your ServerConnection using a SqlConnection.
[code]

[2021-05-14 14:19] andreasjordan commented on #7271
Some things work...

[code]
works.

[code]
returns the correct login who generated the token and "Microsoft SQL Azure (RTM) - 12.0.2000.8 ..." as the version.

[code]

Displays "SQL_Latin1_General_CP1_CI_AS" and "SQL Azure", but failes the .Query() with "Exception calling "Query" with "1" argument(s): "You cannot call a method on a null-valued expression.""

[2021-05-14 14:27] andreasjordan commented on #7271
Is our [Microsoft.SqlServer.Management.Smo.Server] to old and incompatible?

[2021-05-14 14:32] andreasjordan commented on #7271
Ok, .Query() is only added by dbatools and not working here. Will try to implement this in dbatools and come back to you later. Thanks for the help.

[2021-05-14 15:31] wsmelton commented on #7271
The `Query()` method is added via PowerShell Types. https://github.com/sqlcollaborative/dbatools/blob/development/xml/dbatools.Types.ps1xml It is setup as an alias.

[2021-05-14 15:40] jpomfret commented on #7279
Hey @awickham10 - does this help your issues with temp tables?

[2021-05-14 15:42] andreasjordan commented on #7271
Thanks.
Now I know where the error is commming from: `($this.Databases[$Database].ExecuteWithResults($Query)).Tables[0]` does not work because `.Databases` throws "...Failed to connect to server...".
`($this.ConnectionContext.ExecuteWithResults($Query)).Tables[0]` works.

[2021-05-14 15:47] andreasjordan commented on #7271
I think `.Query()` never worked on Azure SQL Database. Can someone test? If so, do we want to fix?

[2021-05-14 16:22] RandyInMarin commented on #7312
With cmdletbinding, it is legal to set the value of a common parameter switch.  For example, "-debug", "-debug:$true", and "-debug:$false" are all legal syntax.  However, these are not treated correctly.

I normally debug only my script.  I use "-debug:$false" on a 3rd party cmdlets unless I am specifically debugging the 3rd party cmdlet.  If coded properly, a cmdlet will honor the value passed.

[2021-05-14 16:25] niphlod commented on #7271
prolly because azure needs a connection directly to the database and with onprem usually we connect to master and then change from there. If there's previous knowledge that this is in fact azure, an "if" sounds good.
I don't think a lot of peoples use or know .Query(), but it's useful for internal function that needs elaborate batches to run as they run in SSMS .

[2021-05-14 16:27] RandyInMarin commented on #7312
FYI  I just clicked new issue again and got the template list.  I have no idea how it got skipped the last time.

[2021-05-14 16:27] andreasjordan commented on #7271
Is one of you able to test my new branch and give feedback?

[2021-05-14 16:41] niphlod commented on #7271
I don't have MI access but Azure for sure: what should I test specifically ? will do ASAP

[2021-05-14 17:22] wsmelton commented on #7312
That is part of the logging system we have in the module. You can create a bug report if you would like for this but not sure how fast we will be able to address it.

[2021-05-14 17:28] RandyInMarin commented on #7312
I will create a bug report.  If the logging is in one place, then at least it's not a function by function fix.  Thanks.

[2021-05-14 17:53] mattcargile opened #7317 "[Bug] Watch-DbaXESession - Cannot Convert XEStore To DbaInstanceParameter"
### Report

When cmdlet is used like Example 1 ( `Watch-DbaXESession -SqlInstance sql2017 -Session system_health` ) I receive an error like the below. I've run the cmdlet in this fashion on remote servers and on localhost.
[code]
#### Workaround
I am able to work through this by piping the session object from `Get-DbaXESession`

[code]

#### Host used

- [x] powershell.exe
- [x] ISE
- [x] VS Code

[2021-05-14 18:19] andreasjordan commented on #7271
Try to follow the new example. I also don't have a MI, just Azure SQL Database. @cmuncan do you have a managed instance?

[2021-05-14 18:29] mattcargile commented on #7317
After looking at it a little bit more. I **think** the issue may be related to the `$server` variable being reset in the `foreach` loop on line 79082 in the allcommands.ps1 file. Or maybe `Get-DbaXeSession` isn't able to process the `$xesession.Parent`.

Here is a link to the function ps1 file.
[https://github.com/sqlcollaborative/dbatools/blob/de024aaa616fe37de7c8eedb796a2352ab08529a/functions/Wa

[2021-05-14 19:19] RandyInMarin opened #7318 "[Bug] CmdletBinding common parameter preference switch values ignored"
### Report

The value of some "cmdletbinding common parameter" preference switches are ignored when passed to a cmdlet.  For example, "-debug", "-debug:$true", and "-debug:$false" are all legal syntax, but are all treated as $true and debug message are emitted.

Setting $WarningPreference = 'SilentlyContinue' is treated as Inquire.  Passing -WarningAction:SilentlyContinue is also treated as Inquir

[2021-05-14 19:21] RandyInMarin commented on #7318
Links of interest, maybe.

It is an interesting and old topic. I wish I had more time to explore it. There is a twist for modules.

https://devblogs.microsoft.com/scripting/weekend-scripter-access-powershell-preference-variables/
https://stackoverflow.com/questions/4301562/how-to-properly-use-the-verbose-and-debug-parameters-in-a-custom-cmdlet/20830886#20830886
https://developer42.wordpress.com/20

[2021-05-14 19:30] cmuncan commented on #7271
I do MI. I can test it out on Monday. What exactly is the test though?

________________________________________

Chris Muncan

Canadian Engineering Services | Database Engineer

E    ***@***.******@***.***>

M   519 897 6292<tel:519%20897%206292>

Log A Jira Ticket To Request Assistance from Database Engineering Team<https://cpcnissgwp01.americas.manulife.net:23800/secure/CreateIssue.jspa?pid=311

[2021-05-14 20:37] andreasjordan commented on #7271
If you can checkout this (https://github.com/sqlcollaborative/dbatools/tree/ConnectDbaInstance_Azure_Token) branch, you can try to follow the new example and use Connect-DbaInstance with AccessToken with the same token you use in your workaround.

[2021-05-15 01:57] wsmelton commented on #7317
Does it work if you don't use `localhost` and the actual server's hostname instead?

[2021-05-15 02:00] wsmelton commented on #7317
This may not be something we can properly support and instead need to require a session be provided. Based on how the XEStore works

https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.management.xevent.xestore?view=sql-smo-150

[2021-05-15 02:26] mattcargile commented on #7317
It doesn't work if I use the hostname either.

[2021-05-15 02:32] mattcargile commented on #7317
Hmm. I don't quite understand that XEStore class. Isn't there a way to just pass in the SqlInstance name instead on failed line where it starts with $status instead of XEStore.Parent? I may misunderstand the way the function is working though.

[2021-05-15 02:38] wsmelton commented on #7317
The `Microsoft.SqlServer.Management.XEvent.Session` namespace has the Parent property that is the proper instance name. If you pass in the `SqlInstance` then we are building an XEStore object:

https://github.com/sqlcollaborative/dbatools/blob/de024aaa616fe37de7c8eedb796a2352ab08529a/functions/Watch-DbaXESession.ps1#L82-L86

Purely on the class documentation it does not appear the `Microsoft.SqlSe

[2021-05-15 12:07] andreasjordan commented on #7318
If it comes to messages, I think @FriedrichWeinmann is the one to involve here. Very interesting topic, I will follow here, but can not contribute.

[2021-05-15 12:24] andreasjordan commented on #7317
Just a wild guess, but with #7284 we introduced a `.Clone()` at the end of `$SqlConn = $server.ConnectionContext.SqlConnectionObject` to prevent some problems with another command. Maybe that would help here as well.

[2021-05-15 12:28] FriedrichWeinmann commented on #7318
Dang, all of my crimes revealed ...
It's been four years now, will need to investigate, which I lack the time for today. Scheduling a time slot tomorrow.

[2021-05-15 12:55] andreasjordan commented on #7317
From the message `Cannot convert value "XEStore(Server='localhost')" to type "Sqlcollaborative.Dbatools.Parameter.DbaInstanceParameter[]"` I would think that $server is not a Server SMO as expected but of type "XEStore". So line `$server = $xesession.Parent` is ok for piped in output from Get-DbaXESession, but not from the code if lines 82 to 86.
My lab is down as it is weekend, but we could use G

[2021-05-15 12:57] andreasjordan commented on #7317
One last thing: As the errror is raised trom the ctahc block, it would be interesting where the error originally happend. Prpbably line 117 with `$server.ConnectionContext.ConnectionString`.

[2021-05-15 16:02] andreasjordan opened #7319 "We should really remove Connect-SqlInstance and replace it with Connect-DbaInstance"
This is the only code inside of Connect-SqlInstance:

https://github.com/sqlcollaborative/dbatools/blob/de024aaa616fe37de7c8eedb796a2352ab08529a/internal/functions/Connect-SqlInstance.ps1#L58-L75

For already created SMOs (`$SqlInstance.InputObject.GetType().Name -eq 'Server'`) to Azure (`$SqlInstance.InputObject.DatabaseEngineType -eq "SqlAzureDatabase"`) it does test for `$AzureUnsupported` and

[2021-05-16 16:05] wsmelton commented on #7319
It would have been around 4 years ago, but use of that parameter was removed from the functions we had it in. You should not find any function calling it with the internal or public function.

[2021-05-16 16:52] cmuncan commented on #7271
@andreasjordan  I was able to execute the test successfully.

[code]

### output
[code]

[2021-05-16 18:24] andreasjordan commented on #7319
Let me do a little bit of research for you:
https://github.com/sqlcollaborative/dbatools/blob/048a3d8dd9d343125e6c474ce095924c5bbd5f39/functions/Get-DbaDbExtentDiff.ps1#L90
https://github.com/sqlcollaborative/dbatools/blob/048a3d8dd9d343125e6c474ce095924c5bbd5f39/functions/Install-DbaMaintenanceSolution.ps1#L303

But I have to correct myself: As "-NonPooled" is recognized as a short form of "-NonP

[2021-05-16 18:30] wsmelton commented on #7319
Please ensure you are looking at current code because the use of that parameter is not used anywhere.

[2021-05-16 18:59] andreasjordan commented on #7319
Links were generated from current development branch and the GitHub website. So this is actual code. You will find these lines in your allcommands.ps1 as well.

And please don't let us talk about the technical details of NonPooledConnection here. We don't have any issues related to that at the moment.

[2021-05-16 19:01] andreasjordan commented on #7319
About Connect-SqlInstance: I would really like to hear arguments for this function.

[2021-05-16 19:04] andreasjordan commented on #7271
@cmuncan Thank you very much.

[2021-05-16 19:25] andreasjordan commented on #7317
I added some debug messages and they show that the parent of $xesession is of type "Microsoft.SqlServer.Management.XEvent.XEStore" and not a Server SMO as expected.

[2021-05-16 19:29] andreasjordan commented on #7317
The .Parent is added here:
https://github.com/sqlcollaborative/dbatools/blob/048a3d8dd9d343125e6c474ce095924c5bbd5f39/functions/Get-DbaXESession.ps1#L106

So I think we should use Get-DbaXESession inside of Watch-DbaXESession to handle piped input the same way as parameter input. Will open a pull request for that.

[2021-05-16 19:46] niphlod commented on #7271
@andreasjordan : works on Azure too

[2021-05-16 19:53] andreasjordan commented on #6885
I have just seen the solution in Watch-DbaXESession:
https://github.com/sqlcollaborative/dbatools/blob/048a3d8dd9d343125e6c474ce095924c5bbd5f39/functions/Watch-DbaXESession.ps1#L63-L72

We have to use the two different ParameterSetName 'instance' and 'piped'. That prevents the use of both ways to start the command.

[2021-05-16 20:08] wsmelton commented on #7319
They are no arguments for or against it. We simply never made the full jump to get rid of it because there was no real need to have the Azure support parameter in the public function, at least with the same functionality. That is only reason it is still around.

Make the change in the public function to have the Azure support parameter supported as close as we can in a PR first. This will let us d

[2021-05-16 20:33] andreasjordan commented on #7319
Ok, will work on that after #7316 is merged.

[2021-05-17 11:22] potatoqualitee commented on #7319
i recall trying to move away from it and there was some reason that we didn't. but i can't recall the problem at this moment. so please be open to changing back to sqlinstance in the remote future 😅

[2021-05-17 11:23] #7271 closed

[2021-05-17 13:11] andreasjordan opened #7323 "[Bug] Connect-DbaInstance - Test for AzureUnsupported not working"
While moving the test for AzureUnsupported from Connect-SqlInstance to Connect-DbaInstance, I found out that the test is currently not working correctly.

The test is only working, if $SqlInstance is already a Server SMO.

Test is possible with Get-DbaLogin and Set-DbaLogin. Both commands use -AzureUnsupported in the connect, but Get-DbaLogin is working against an Azure Instance, only Set-DbaLogin

[2021-05-17 13:13] andreasjordan commented on #7319
Chrissy and Shawn, can you please have a look at #7323 ? I need a decision on that before I can continue to work on this.

[2021-05-17 14:02] wsmelton commented on #7323
So one step I think would be good to take first @potatoqualitee is to get on the latest version of SMO. Previously we have been told by tools team that SMO does not know much about Azure SQL in most classes that I recall. This [Overview of SMO](https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/overview-smo) shows Applies To now with Azure SQL checked. Is there

[2021-05-17 18:12] nanoDBA commented on #7314
Bug persists in new version.
![image](https://user-images.githubusercontent.com/10198778/118536570-e345cd00-b719-11eb-97b9-663e73e26420.png)

[2021-05-17 18:15] nanoDBA commented on #7314
Bug seems to persist in new version.
![image](https://user-images.githubusercontent.com/10198778/118536946-56e7da00-b71a-11eb-9420-72f9f88ce070.png)

[2021-05-17 18:25] nanoDBA commented on #7314
Tested again with PowerShell 7.1.3 - same result.
![image](https://user-images.githubusercontent.com/10198778/118538073-b7c3e200-b71b-11eb-8884-db92f5192b63.png)

[2021-05-17 18:31] SQLCanuck opened #7325 "[Bug] Set-DbaTempDbConfig resizing occurs before change of path resulting in filled disk"
#### Steps to Reproduce

$hashTableArguments = @{
	SqlInstance    = "localhost"
        DataFileSize   = 81920
        LogFileSize    = 20480
        DataFileGrowth = 512
        LogFileGrowth  = 512
        DataPath       = "D:\MSSQLSERVER\TempDbData"
        LogPath        = "D:\MSSQLSERVER\TempDbLog"
}

Set-DbaTempdbConfig @hashTableArguments

#### Expected Behavior

Expected TempDB file locati

[2021-05-17 19:40] andreasjordan commented on #7314
Will look at this early tomorrow morning.

[2021-05-18 05:10] andreasjordan commented on #7314
Found the reason, will open a pull request shortly.

[2021-05-18 07:33] andreasjordan commented on #7325
The command only generates and executes a set of "ALTER DATABASE tempdb MODIFY FILE" or "ALTER DATABASE tempdb ADD FILE" commands.
Changing the size will be done immediatly (and does not need a restart), but changing the location is only done with a restart of the instance. The next start of the instance will create the files in the new location.
As the restart is not part of the command, it is cu

[2021-05-18 07:38] andreasjordan commented on #7325
So I would like to close this as "no bug" / "works as designed". If you would like to have the command handle the restart and the cleanup, you could open a feature request and optionally provide a pull request with the necessary code changes.

[2021-05-18 07:41] andreasjordan commented on #7318
Maybe this is related: #7232

[2021-05-18 07:49] andreasjordan commented on #7019
Was fixed with #7034.

[2021-05-18 07:49] #7019 closed

[2021-05-18 13:16] SQLCanuck commented on #7325
@andreasjordan thank you for the clarification on the behavior.  I have confirmed splitting the actions into two separate calls of Set-DbaTempDbConfig with a restart in-between gives the desired effect.

[2021-05-18 13:24] andreasjordan commented on #7325
Great. Please come back here for further issues or visit us on slack: https://sqlcommunity.slack.com/ssb/redirect

[2021-05-18 13:24] #7325 closed

[2021-05-18 16:15] andreasjordan commented on #7267
I will close this as "no bug" / "works as designed", but you can reopen it if you have further questions.

[2021-05-18 16:15] #7267 closed

[2021-05-18 16:25] andreasjordan commented on #7275
I will close this as "no bug" / "works as designed", but you can reopen it if you have further questions.

[2021-05-18 16:25] #7275 closed

[2021-05-18 16:38] andreasjordan commented on #7265
Can you run command with -Verbose to get an idea there this happens?
You could also use -Exclude to exclude some of the objects from the sync to find out which objects cause this.
Probably its "LinkedServers" or "Logins" who need the DAC.

[2021-05-18 16:39] andreasjordan commented on #7227
I will close this as "no bug" / "works as designed", but you can reopen it if you have further questions.

[2021-05-18 16:39] #7227 closed

[2021-05-18 16:43] andreasjordan commented on #7198
@nvarscar : Have you had a look at this?

[2021-05-18 16:57] andreasjordan commented on #7147
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 16:57] #7147 closed

[2021-05-18 16:58] andreasjordan commented on #7116
Sorry to say, but not all commands work on PowerShell 7. So I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 16:58] #7116 closed

[2021-05-18 17:00] #7109 closed

[2021-05-18 17:09] #7061 closed

[2021-05-18 17:18] andreasjordan commented on #7029
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:18] #7029 closed

[2021-05-18 17:19] andreasjordan commented on #7013
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:24] andreasjordan commented on #6960
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:24] #6960 closed

[2021-05-18 17:25] andreasjordan commented on #6956
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:25] #6956 closed

[2021-05-18 17:26] andreasjordan commented on #6955
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:26] #6955 closed

[2021-05-18 17:26] andreasjordan commented on #6923
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:26] #6923 closed

[2021-05-18 17:27] andreasjordan commented on #6922
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:27] #6922 closed

[2021-05-18 17:30] andreasjordan commented on #6908
Hi @tonyfountain :

Hi @tonyfountain : That is possible now and even part of the normal installation.

I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:30] #6908 closed

[2021-05-18 17:40] andreasjordan commented on #6896
Hi @PowerDBAKlaas : Using AccessToken is on its way: #7316
And please use the new code path in Connect-DbaInstance, see Example 17 at https://docs.dbatools.io/#Connect-DbaInstance
Feedback for that is highly welcome.

I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:44] andreasjordan commented on #6826
I will close this for now, but you can reopen it if you have further questions.

[2021-05-18 17:44] #6826 closed

[2021-05-18 19:13] andreasjordan commented on #4322
This is very stale. Is the problem still reproducible?

[2021-05-18 20:03] #7211 closed

[2021-05-18 20:11] #7317 closed

[2021-05-18 20:17] #7214 closed

[2021-05-18 20:28] #7314 closed

[2021-05-18 20:34] rfeldman1 opened #7332 "[Bug] Repair-DbaInstanceName does not work in SQL 2019"
#### Host used: powershell.exe

[2021-05-18 21:06] nvarscar commented on #7198
No, but I'm looking into it now, thanks for the pageout.

[2021-05-18 21:16] nvarscar commented on #7198
The most fitting source of an issue (timeline-wise) is https://github.com/sqlcollaborative/dbatools/commit/5c6f66d821c38fd228a18e57c69a8230ec4e8ad4 which changed the way the sessions are stored. This commit had an undiscovered (at the time issue), that was later fixed in https://github.com/sqlcollaborative/dbatools/pull/7247 . I'm wondering if it's related.
Can you confirm that the issue is still

[2021-05-19 05:54] andreasjordan commented on #7332
Let me first copy some info from slack:

Rita Feldman  20:05 Uhr
Repair-DbaInstanceName does not seem to work in SQL 2019 CU10. The function tries to rename a SQL instance but it renames it to the old name.  The following are the log messages:
DEBUG: 205 | [18:18:59][Repair-DbaInstanceName] sp_dropserver 'OLDINSTANCENAME'
DEBUG: 214 | [18:19:00][Repair-DbaInstanceName] sp_addserver 'OLDINSTANCENAM

[2021-05-19 06:44] andreasjordan commented on #5380
I will close this for now, but you can reopen it if you have further questions.

[2021-05-19 06:44] #5380 closed

[2021-05-19 06:45] #5896 closed

[2021-05-19 06:52] andreasjordan commented on #5913
Sorry, has been lost from sight. Is this still a problem? Who can I work with on this?

[2021-05-19 06:53] andreasjordan commented on #5915
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 06:53] #5915 closed

[2021-05-19 06:55] andreasjordan commented on #5966
Hi @wsmelton - is this still a problem or can we close it?

[2021-05-19 07:24] andreasjordan commented on #6125
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 07:24] #6125 closed

[2021-05-19 07:26] andreasjordan commented on #6210
I will close this for now, but you can reopen it if you have further questions.

[2021-05-19 07:29] andreasjordan commented on #6211
I hope all problems from this issue can be addressed by using the new features of https://docs.dbatools.io/#Connect-DbaInstance explained in examples 17 and 18:

Example: 17
PS C:\> Set-DbatoolsConfig -FullName sql.connection.experimental -Value $true
PS C:\> $sqlcred = Get-Credential sqladmin
PS C:\> $server = Connect-DbaInstance -SqlInstance sql2014 -SqlCredential $sqlcred
PS C:\> Invoke-DbaQuer

[2021-05-19 07:31] andreasjordan commented on #6246
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 08:12] #6347 closed

[2021-05-19 08:18] andreasjordan commented on #6406
@gh-ttgo Are you still around here? I would like to work on this command but I need you to test it. Just say hello here I will start working on it.

[2021-05-19 08:23] andreasjordan commented on #6454
@Tottenham84 Sorry, has been lost from sight. Can you give me a quick hello here if you would like to work with me so solve the problem?

[2021-05-19 08:34] andreasjordan commented on #6459
@jpomfret Can you have a look at this?

[2021-05-19 08:36] andreasjordan commented on #6502
I will close this for now, but you can reopen it if you have further questions.

[2021-05-19 08:36] #6502 closed

[2021-05-19 08:39] andreasjordan commented on #6518
Works now, closing.

[2021-05-19 08:39] #6518 closed

[2021-05-19 08:41] andreasjordan commented on #6519
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 08:41] #6519 closed

[2021-05-19 08:42] andreasjordan commented on #6524
@sanderstad Are you working on this?

[2021-05-19 08:44] andreasjordan commented on #6528
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 08:44] #6528 closed

[2021-05-19 08:45] andreasjordan commented on #6535
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 08:45] #6535 closed

[2021-05-19 08:54] andreasjordan commented on #6543
@peedeeboy Sorry, has been lost from sight. Is this still a problem? If you like to open a PR, please do so. I don't know which of the two approaches is better, maybe @FriedrichWeinmann can have a look and choose.

[2021-05-19 08:58] gh-ttgo commented on #6406
Hi @andreasjordan ,

Yes, glad if I can contribute.

Regards

[2021-05-19 09:02] andreasjordan commented on #7265
See #6372 for the root cause of this. Will close this here as a duplicate.

[2021-05-19 09:02] #7265 closed

[2021-05-19 09:02] andreasjordan commented on #6555
See #6372 for the root cause of this. Will close this here as a duplicate.

[2021-05-19 09:11] andreasjordan commented on #6372
`Copy-DbaLinkedServer` is started by `Start-DbaMigration` and `Sync-DbaAvailabilityGroup`. Both commands have a parameter `-Exclude` where you can exclude objects from syncing. If you don't have linked servers or if you don't need to sync them regularly, you can use `-Exclude LinkedServers` to work around this problem.

I will close this as "no bug" / "works as designed", but you can reopen it if

[2021-05-19 09:11] #6372 closed

[2021-05-19 09:26] andreasjordan commented on #6556
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 09:28] andreasjordan commented on #6567
Hi @kaysauter can you give me an update on this?

[2021-05-19 09:44] kaysauter commented on #6567
Hi @andreasjordan my understanding is that someone of the dbatools team will take care of it - see answer by @wsmelton on Jun 8 2020. So, I'm not involved in fixing this. Sorry.
Kind regards, Kay

[2021-05-19 09:47] andreasjordan commented on #6617
Sorry, has been lost from sight. Is this still a problem?

[2021-05-19 09:54] andreasjordan commented on #6677
Sorry, has been lost from sight. Is this still a problem with the current version?

[2021-05-19 09:55] andreasjordan commented on #6685
I will close this as "no bug" / "works as designed", but you can reopen it if you have further questions.

[2021-05-19 09:55] #6685 closed

[2021-05-19 09:56] andreasjordan commented on #6703
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 09:56] #6703 closed

[2021-05-19 09:57] andreasjordan commented on #6743
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 09:57] #6743 closed

[2021-05-19 10:00] #6762 closed

[2021-05-19 10:04] andreasjordan commented on #6663
@sanderstad Do you know something about this website?

[2021-05-19 10:08] andreasjordan commented on #6522
Sorry, has been lost from sight. Is this still a problem with the current version?

[2021-05-19 10:18] andreasjordan commented on #6397
@wsmelton will you open a PR for that or should we close this?

[2021-05-19 10:19] #6370 closed

[2021-05-19 10:20] andreasjordan commented on #6367
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-05-19 10:20] #6367 closed

[2021-05-19 10:23] andreasjordan commented on #6319
@potatoqualitee is this still an issue?

[2021-05-19 10:25] #6617 closed

[2021-05-19 10:30] andreasjordan commented on #6008
Can you please try Connect-DbaInstance with the new code path (example 17 at https://docs.dbatools.io/#Connect-DbaInstance):

[code]

[2021-05-19 10:36] andreasjordan commented on #6768
I will close this for now, but you can reopen it if you have further questions.

[2021-05-19 10:36] #6768 closed

[2021-05-19 10:39] andreasjordan commented on #6606
As -AgCheck is deprecated I will close this.

[2021-05-19 10:39] #6606 closed

[2021-05-19 10:44] rajaster commented on #6522
I've no idea.. I completed the project last year and not tried again.

On Wed, 19 May 2021, 11:08 Andreas Jordan, ***@***.***> wrote:

[2021-05-19 10:47] #6522 closed

[2021-05-19 12:15] andreasjordan commented on #6664
Hi @lostsole - are you still working on this? Do you need any help with the PR?

[2021-05-19 12:16] andraptor commented on #5913
Yeap, the problem is still relevant for me. I can work with you on this

[2021-05-19 12:18] wsmelton commented on #6211
Experimental features of not a fix for use of the command.

If they fix it then make them default or remove the use of experimental. Invoke command also handles connections different and not aware any changes have been made to that command.

Once the experimental features or no longer experimental then gross can be closed a fixed.

[2021-05-19 12:20] andreasjordan commented on #5913
Great. Can you provide some info about your setup? Like OS version and language, SQL Server version and language, how the AG is setup up (I don't know if this is relevant) and what command fails with what message? Then I will try so set this up in my lab.

[2021-05-19 12:24] andreasjordan commented on #6561
Is now public, so I close this.

[2021-05-19 12:24] #6561 closed

[2021-05-19 12:28] andreasjordan commented on #5901
There is not much discussion here - @potatoqualitee should we close this and leave it like it is?

[2021-05-19 12:32] andreasjordan commented on #5514
I think that is implemented, so I will close.

[2021-05-19 12:32] #5514 closed

[2021-05-19 12:36] wsmelton commented on #5901
Leave, still a todo item.

[2021-05-19 12:55] andraptor commented on #5913
[Get-DbaAvailabilityGroup.xlsx](https://github.com/sqlcollaborative/dbatools/files/6508793/Get-DbaAvailabilityGroup.xlsx)
[Get-DbaInstanceProperty.xlsx](https://github.com/sqlcollaborative/dbatools/files/6508794/Get-DbaInstanceProperty.xlsx)

Command:
### PS C:\Users\usr1> Get-DbaAvailabilityGroup -SqlInstance localhost | Export-DbaScript

[code]

[2021-05-19 13:31] andreasjordan commented on #4344
Sometimes, things take little longer...

[2021-05-19 13:33] Stuart-Moore commented on #7278
Yes, 320 is a hack as SMO doesn't support everything people want dbatools to suppor so we end up having to script it instead
That sounds like a good plan. For a lot of people they won't notice the small overhead over the restore.

It you shove it at the end of the Restore-DbaDatabase 'wrapper' then it will be called in all cases, even if we add new ones. Or, you could just target the scripted ones

[2021-05-19 13:36] andreasjordan commented on #7278
Ok, I'll open a PR for that.

[2021-05-19 14:06] andreasjordan commented on #7278
Putting it at the end worked well.

[2021-05-19 15:51] andreasjordan commented on #7332
Can you run this and provide the output?
[code]

[2021-05-19 16:38] rfeldman1 commented on #7332
This is the output where DCALCPSG001 is a new machine name and 02WORKPROC02 is an old machine name.

ComputerName                : DCALCPSG001
ComputerNamePhysicalNetBIOS : DCALCPSG001
DomainInstanceName          : 02WORKPROC02
Name                        : DCALCPSG001
NetName                     : DCALCPSG001

[2021-05-19 16:45] andreasjordan commented on #7332
Thanks, I think I have fix for that. Will update the pull request soon.

[2021-05-19 16:48] rfeldman1 commented on #7332
That's awesome!  Thank you for such a prompt response to this issue!

[2021-05-19 16:53] andreasjordan commented on #7332
If you are able to install this branch you can test: https://github.com/sqlcollaborative/dbatools/tree/7332_RepairDbaInstanceName
Otherwise you would have to wait until @potatoqualitee merges and releases a new version.

[2021-05-19 17:06] andreasjordan opened #7337 "[Bug] Repair-DbaInstanceName - test for Warnings not correct"
Test-DbaInstanceName fills the property Warnings with "N/A" if there are no warnings:

[code]

But Repair-DbaInstanceName tests for empty string or $null:

[code]

So: Do we want to change Test-DbaInstanceName to send $null or do we want to change Repair-DbaInstanceName to test for "N/A"?

[2021-05-19 17:30] andreasjordan commented on #7266
@mkellerman Do you have a chance to try my ideas?

[2021-05-19 17:55] mkellerman commented on #7266
Not yet. I added some pauses in my script, and that has stopped the issue from occurring. I'll remove them and test.

-NoTableLock was added later on, but it was having those errors prior to be adding it.

Will retest and get back to you. Thanks

[2021-05-19 22:44] rfeldman1 commented on #7332
@andreasjordan, I've tested https://github.com/sqlcollaborative/dbatools/tree/7332_RepairDbaInstanceName and it's working perfectly.  Thank you again for the prompt fix.  Do you know when it will be incorporated into an official release?

[2021-05-20 05:15] andreasjordan commented on #7332
Thanks for the feedback. Will probably take some days but not weeks to build a new version.

[2021-05-20 06:12] andreasjordan commented on #6178
Hi @erikdarlingdata - just provided a pull request for that.

[2021-05-20 06:19] andreasjordan commented on #6148
Will work on this when #7334 is merged.

[2021-05-20 06:29] andreasjordan commented on #6157
Solution is to send both credentials to Get-DbaTcpPort, so line will be:
[code]
Will work on this after #7334 is merged.

[2021-05-20 06:43] andreasjordan commented on #6061
@GilchristT Are you still around here?
I would like to work with you on that issue.
As you don't want the directories to be created, we have to make sure that `Test-DbaPath -SqlInstance $server -Path $LogFilePath` and `Test-DbaPath -SqlInstance $server -Path $DataFilePath` return `$true`.
The variables are filled with `$DataFilePath = (Get-DbaDefaultPath -SqlInstance $server).Data` and `$LogFilePa

[2021-05-20 11:38] andreasjordan commented on #3659
Good idea.
Would not work for piped input as there the process block only sees one database at a time and has no idea how many follow.
But I will have a look at it.
As it is a backup command: What does @Stuart-Moore say?

[2021-05-20 11:44] andreasjordan commented on #1533
I think as we have a command called Copy-DbaDataCollector, this can be closed.

[2021-05-20 11:44] #1533 closed

[2021-05-20 11:55] andreasjordan commented on #3665
You mean like in Copy-DbaAgentJob (because they are both started by Sync-DbaAvailabilityGroup)?
I will have a look at that.

[2021-05-20 12:25] andreasjordan commented on #3690
If the problem is inside of [Microsoft.SqlServer.Management.XEvent.XEStore]::SaveSessionToTemplate, then I don't see how we can help here.
Have you tried to use `Export-DbaXESession`?

I will close this for now, but you can reopen it if you have further questions.

[2021-05-20 12:25] #3690 closed

[2021-05-20 12:37] #3857 closed

[2021-05-20 12:54] andreasjordan commented on #3073
This issue has a Feature label - but I don't see the needed feature here. Can we close this?

[2021-05-20 12:57] andreasjordan commented on #2400
As the link is not working anymore, I will close this.
@potatoqualitee : If you find the website again, please reopen or open a new issue.

[2021-05-20 12:57] #2400 closed

[2021-05-20 12:59] andreasjordan commented on #2451
Is this still a problem with current versions of SQL Server?

[2021-05-20 13:07] #3073 closed

[2021-05-20 13:09] andreasjordan commented on #3873
As we only use the SMO method `$server.DeleteBackupHistory($odt)` deviding this into batches would involve getting the olders entry and calculation of suitable intermediate dates (`$odt = (Get-Date).AddDays(-$KeepDays)`) and running them in a foreach loop.
@amon09 If you really want this, reopen this issue and submit a pull request for that.

[2021-05-20 13:09] #3873 closed

[2021-05-20 13:13] andreasjordan commented on #3917
@dbaduff : As this is very old, can you test with current version of dbatools? Otherwise I would close this.

[2021-05-20 13:45] andreasjordan commented on #3080
Interesting feature.

We only need info returned from Get-DbaDatabase:

[code]

Do we agree on Get-DbaDbFileMap as the name of the new command?

[2021-05-20 14:47] andreasjordan commented on #4774
As we only use $server.ReadErrorLog() (https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.management.smo.server.readerrorlog) if no LogNumber is supplied, this seems to be a bug within the SMO.
As we are a bit behind with the SMOs, I think its useless to open an issue against the SMO.
But I can add a workaround to loop through all the files.
We could get the actual number with $server

[2021-05-20 15:09] andreasjordan commented on #4916
Yes, maybe it's time for a new command `Set-DbaXESession`.

But you can do it like this:
[code]

[2021-05-20 15:18] andreasjordan commented on #4883
@BeginTry Some things change within the command, so please make sure the issue is still the same with the current version of dbatools. If so, please reopen this issue and we will have a look.

[2021-05-20 15:18] #4883 closed

[2021-05-20 15:20] #5029 closed

[2021-05-20 15:20] #4876 closed

[2021-05-20 15:25] andreasjordan commented on #5327
Good idea. Maybe align Get-DbaClientProtocol and the new commands with Get-DbaTcpPort.

[2021-05-20 15:43] andreasjordan commented on #3519
Hi @wsuhoey : Do you remember this? Would you like to work on this again?

[2021-05-20 15:59] andreasjordan commented on #5276
I had a look at the code and did not find a .Rename but a New-DbaLogin with the newname  inside of Copy-DbaLogin.
So I will close this.
Please reopen if I'm wrong.

[2021-05-20 15:59] #5276 closed

[2021-05-20 16:03] andreasjordan commented on #5739
It's already part of the Database SMO:
https://docs.microsoft.com/de-de/dotnet/api/microsoft.sqlserver.management.smo.database.lastgoodcheckdbtime?view=sql-smo-160
@potatoqualitee : What do you want to do with it?

[2021-05-20 16:42] #6004 closed

[2021-05-20 16:49] andreasjordan commented on #6015
Is this maybe already implemented?

[2021-05-20 16:50] andreasjordan commented on #5888
I will close this for now, but you can reopen it if you have further questions.

[2021-05-20 16:50] #5888 closed

[2021-05-20 17:01] andreasjordan commented on #1656
Just what to note that Get-DbaSqlLog now is Get-DbaErrorLog.

I personally would leave both in place.
@niphlod : Do you still want to work on this or can we close?

[2021-05-20 17:19] andreasjordan commented on #3170
I'll have a look...

[2021-05-20 17:23] andreasjordan commented on #3450
Looks interesting...

[2021-05-20 17:29] andreasjordan commented on #3542
Maybe I have time to build that command in the (near) future. Or is someone else working on that?

[2021-05-20 17:38] andreasjordan commented on #3893
Should be only a small change, will try.
@marcosfreccia : Still interested? Could you help with a test at your side?

[2021-05-20 18:46] andreasjordan commented on #6700
Was fixed with #7236, so closing.

[2021-05-20 18:47] #4610 closed

[2021-05-20 18:56] andreasjordan commented on #1032
Just thinking about how often you want to run this? Daily? Hourly?
Shouldn't a server level trigger be the better option?

[2021-05-20 19:00] andreasjordan commented on #1913
Hi @niphlod - still working on this?

[2021-05-20 19:07] andreasjordan commented on #6817
Maybe together with the change from Connect-SqlInstance to Connect-DbaInstance (#7319)

[2021-05-20 19:08] andreasjordan commented on #6831
@FriedrichWeinmann - Is this already implemented?

[2021-05-20 19:14] andreasjordan commented on #6953
I will close this for now, but you can reopen it if you have further questions.

[2021-05-20 19:14] #6953 closed

[2021-05-20 19:18] wsmelton commented on #6831
No, requires a change to our library code.

[2021-05-21 06:51] andreasjordan commented on #3665
Command is now named Sync-DbaLoginPermission
Internal function Sync-Only is not called with all parameters
More work and testing needed

[2021-05-21 12:41] andreasjordan commented on #5919
@ttoennies
Please have a look at my proposed changes in #7349. Will they meet your requirements?

[2021-05-21 15:27] andreasjordan commented on #4964
Hi @AndulRehman1982 - having the User SMO in the output will help you. Here an example:

[code]

[2021-05-21 18:09] andreasjordan commented on #6454
@Tottenham84 : Great to hear from you.
Can you do me a favor and retest with the current version of dbatools and also try the new code path inside of Connect-DbaInstance?
You activate the new code path by `Set-DbatoolsConfig -FullName sql.connection.experimental -Value $true`. This will be valid for the current powershell session only.

I will have a look at this issue when I've setup my lab with

[2021-05-21 18:11] andreasjordan commented on #6406
@gh-ttgo It'll take some day, but it's on the list...

[2021-05-21 18:19] andreasjordan commented on #5913
It'll take some days, but it's on the list...

[2021-05-21 18:23] ttoennies commented on #5919
Yes, this looks like a great solution.  Thank you!

[2021-05-21 18:23] #5919 closed

[2021-05-21 19:35] Tottenham84 commented on #6454
Hi Andreas,

I've tested utilizing the latest version (I did update-dbatools to get
latest version) and still have the same issue.
---------
PS D:\> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.1.3
PSEdition                      Core
GitCommitId                    7.1.3
OS                             Microsoft Windows 1

[2021-05-22 10:32] andreasjordan commented on #6538
I'm not sure if this is still a request for a new feature.
@L3onard80 : Do you still want to have the new parameter `-Permission`?
At all that have taken part in this issue: Is there a request for a feature inside of the discussion that I've missed? Please repeat here to plan futher steps.
Thanks.

[2021-05-22 10:50] andreasjordan commented on #6299
Ok, I will open a PR to add the AzureUnsupported flag and then close this.

[2021-05-22 10:54] andreasjordan commented on #6209
I can have a look at the code and rewrite it - but I cannot test it. If anyone says "I'll test", then I'll code.

[2021-05-22 11:04] andreasjordan commented on #5900
What a cool old-style website. I haven't found any info about how to submit articles. Have you?

[2021-05-22 11:14] andreasjordan commented on #5846
Do you think of a new command that can just report the steps? Or a command that tests the individual steps and guids the user to the next step?

[2021-05-22 11:15] andreasjordan commented on #5839
As changelog is not used anymore - shall we close?

[2021-05-22 11:26] andreasjordan commented on #5781
As [application roles](https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/application-roles) don't have members, `Add-DbaDbRoleMember` is the wrong command for that.
You just want to grant permissions - and we don't have a command for that at the moment.

[2021-05-22 11:38] andreasjordan commented on #5678
@Angrboda2 Can you provide a litte more technical detail? Maybe some code that shows the needed transformation? Then we can try to build a command around it.

[2021-05-22 13:09] #5363 closed

[2021-05-22 13:10] #6595 closed

[2021-05-22 13:11] #6178 closed

[2021-05-22 13:11] #7332 closed

[2021-05-22 13:12] #4774 closed

[2021-05-22 13:12] #4344 closed

[2021-05-22 13:14] #7278 closed

[2021-05-22 13:14] erikdarlingdata commented on #6178
@andreasjordan WOOHOO! Thank you!

[2021-05-22 13:15] #6805 closed

[2021-05-22 13:16] #6603 closed

[2021-05-23 06:59] #7285 closed

[2021-05-23 06:59] #7287 closed

[2021-05-23 07:48] #3659 closed

[2021-05-23 13:19] #7303 closed

[2021-05-23 16:43] andreasjordan opened #7358 "[Demo] Using WMI to replace SQL Server Configuration Manager"
I put some lines of code together to show how to work with the WMI class to replace SQL Server Configuration Manager.

This is part of my work on Get-DbaTcpPort and Set-DbaTcpPort.

I only use dbatools to get the needed libraries with the class `Microsoft.SqlServer.Management.Smo.Wmi.ManagedComputer`.
So even if you don't want to use dbatools, you can use most parts of the code.

[code]

[2021-05-23 16:46] andreasjordan commented on #3170
To get an idea of how we can solve this, I've created a demo: #7358

[2021-05-23 16:48] andreasjordan commented on #5327
To get an idea of how we can solve this, I've created a demo: #7358

[2021-05-23 17:00] jpomfret commented on #7323
Here's the reference to update SMO @potatoqualitee.

@andreasjordan - SMO is now updated in development after #7352

[2021-05-23 17:00] andreasjordan commented on #5327
Demo is WMI only at the moment, will have to get into CIM...

[2021-05-23 17:14] andreasjordan commented on #7323
@wsmelton said:

In #6299 @potatoqualitee asid:

I think we should still use the AzureUnsupported flag to fail a command as soon as it tries to connect to Azure, regardless of a good error message from the SMO.

Concerning this issue the question is:
Should Get-DbaLogin still have the AzureUnsupported flag?
To be clear: At the moment, the flag is not active (because of this bug) and the command wo

[2021-05-24 12:41] potatoqualitee commented on #5839
I think this is a good idea for GitHub actions. I'd like to explore when I have time/motivation.

[2021-05-24 13:31] andreasjordan commented on #4678
We are not so sure if this is really needed and how the feature should be exactly working.

So I will move the code from my pull request here for the start of a discussion.

[code]

[code]

[code]

[2021-05-24 14:17] andreasjordan opened #7359 "[Bug] Link in documentation of Invoke-DbaQuery not valid"
This link is dead: http://powershell.org/wp/forums/topic/dealing-with-dbnull/
It's part of the parameter documentation for `-As` in `Invoke-DbaQuery`.

[2021-05-24 17:13] NReilingh commented on #7359
I wonder if this is the intended content at a new location? https://forums.powershell.org/t/dealing-with-dbnull/2328/2

[2021-05-24 17:13] andreasjordan opened #7360 "[Demo] Tips for working with Invoke-DbaQuery"
On [Slack](http://dbatools.io/slack), people often ask how Invoke-DbaQuery can process multi-part scripts or commands with more than one result set. Here are a few examples.

But first I would like to introduce a few tools and give tips that every user of dbatools should know.

In general: Store the return of the commands in variables. Because otherwise the output of the commands simply ends up on

[2021-05-24 17:16] niphlod commented on #7360
maybe https://github.com/sqlcollaborative/dbatools/discussions/categories/show-and-tell ?

[2021-05-24 17:19] andreasjordan commented on #7360
Great idea, that's the better place: #7361

[2021-05-24 17:19] #7360 closed

[2021-05-24 17:20] #7358 closed

[2021-05-24 17:29] andreasjordan commented on #7359
Yes, could be. If you plan to update more of the documentation then change this link as well.

[2021-05-24 18:26] tboggiano opened #7363 "[Bug] - Rename-DbaLogin won't rename logins not mapped inside a db"
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
Rename_DbaLogin -SQLInstance dbatools2 -Login sa -NewLogin newlogin

#### Expected Behavior
sa account to be renamed successfully without the need to remapped logins in the databases.

#### Actual Behavior
Failure because it tries to remap the

[2021-05-24 18:53] tboggiano commented on #7363
You can use Set-DbaLogin and it work, but it seems this should work on both commands, I could be wrong though.

[2021-05-24 20:35] #4964 closed

[2021-05-25 07:39] andreasjordan commented on #6406
Ok, I had a look, also at Test-DbaDiskAllocation.

First of all: @wsmelton is correct, the commands don't behave like documented. Furthermore the output is not dbatools standard and not the same in both commands (ComputerName vs. Server for example). They also don't use suitable internal commands and should be rewritten in some parts. I also found some minor issues in the verbose output.

Now to t

[2021-05-25 07:50] andreasjordan commented on #6511
Hi @ACALVETT : This issue was closed by the stale bot. Can you still reproduce this? Then please reopen the issue and we can try to analyse it.

[2021-05-25 08:12] andreasjordan commented on #6498
@ClaudioESSilva Can you please have a look at this and suggest a name for the config parameter?
@FriedrichWeinmann / @wsmelton / @jpomfret : I'm not a CIM or WMI expert, so please review this if you are. And have a look at the linked issue that was closed by the stale bot - Do we have an issue with having WMI as fallback of CIM?

[2021-05-25 10:50] andreasjordan commented on #6600
Hi @shaddy02 : Can you run `Resolve-DbaNetworkName -ComputerName XYZ` with `XYZ` as the computer name only like in the wrong UNC path? Then tell me, which of the output information would be correct as to build the UNC path with.

[2021-05-25 13:57] andreasjordan commented on #7363
This is not so easy - there are more issues with this command.

The reason the command is failing is a "bug" in line 125: `$user = $db.Users[$Login]`

So `$user` is only set, if the user in the database has the same name as the login in the instance. This is the case in most situations, so this was not reported earlier.
Because of the empty `$user` the use of `$user.Rename($NewLogin)` in line 131

[2021-05-25 14:02] #7359 closed

[2021-05-25 14:08] wsmelton commented on #6600
@andreasjordan best fix for this is to stop using remote paths and do calls locally to the server (`Invoke-Command2` calls). That removes the need to do any type of looking or check on UNC paths. We do local checks of this nature in  other commands I recall instead of remote UNC or the admin share.

Which I'm sure to do this will require restructuring a good bit of how the command works. It could

[2021-05-25 14:25] andreasjordan commented on #6600
The UNC path is needed for the `Start-BitsTransfer` which is propably way faster that copying over PSSession. And we would need to open a session from the destination to the source server. We can not be sure that this works as good as opening a session from the server with dbatools to both the source and destination.

I think the actual implementation works for most cases, so I would not rewrite t

[2021-05-25 14:49] wsmelton commented on #6600
Unless it has changed, the use of Starts-BitsTransfer is not that efficient considering if a user runs the command from their local workstation the network path of copying a file from a source to target, the file still has to traverse the client workstation. Versus if you copy a file from, locally, the source instance (via Invoke-Command2) directly to the target instance that will enhance the perf

[2021-05-25 15:23] andreasjordan commented on #7337
@potatoqualitee Can you decide?

[2021-05-25 15:43] alexsinkevich opened #7373 "[Bug] when two instances of PowerShell are running Set-DbaDbCompression the script fails"
### Report

#### Host used

- [ ] powershell.exe
- [ x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

#### SQL Server:

[code]

[code]

[2021-05-25 15:50] alexsinkevich opened #7374 "[Feature] when two instances of PowerShell are running Set-DbaDbCompression the script fails"
### Report

#### Host used

- [ ] powershell.exe
- [x ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

When  using Set-DbaDbCompression in two different PowerShell windows and I get error like they interfere with each other, so one of the sessions fails, even though they are doing the compression on different databases.
#### Expected Behavior

[2021-05-25 15:50] andreasjordan commented on #7373
Please provide the two command lines you are running in parallel.

[2021-05-25 15:51] alexsinkevich commented on #7373
All the info was provided in a re-submitted bug : #7374. This is one can be closed as incomplete.

[2021-05-25 15:51] #7373 closed

[2021-05-25 15:51] alexsinkevich commented on #7373
All the info was provided in a re-submitted bug : #7374. This is one can be closed as incomplete.

[2021-05-25 15:53] alexsinkevich commented on #7374
@niphlod   from DBATools slack channel had mentioned this:
the table is on tempdb, so ....... it blocks. https://github.com/sqlcollaborative/dbatools/blob/90474c562c7696c8957c38e8becbb4ca408f53a8/functions/Test-DbaDbCompression.ps1#L289

[2021-05-25 15:53] wsmelton commented on #6600
We can create a new issue I guess or maybe discussion to find out what interest there are in supporting various scenarios.

If the PR you have for this fixes this specific issue, then let it ride and leave the command as-is until interest matches the effort required. I have not seen anyone really bring up our limited support for SQL + Linux.

[2021-05-25 15:54] niphlod commented on #7374
yeah, I can take care of it in the next few days

[2021-05-25 15:57] andreasjordan commented on #6600
I'm a bit afraid to break things for other users if we now use the full name.  And I don't know which of DNSHostEntry, FQDN or FullComputerName would be the best to use. Can you have a look at the PR?

[2021-05-25 16:10] andreasjordan commented on #7374
Thanks for the info. So the question is: Can we move from global temp tables to temp tables? Or: Do we generally want to allow two sessions to run Test-DbaDbCompression in parallel?

Have you tried to seperate Test-DbaDbCompression from Set-DbaDbCompression? So first running both Test-DbaDbCompression one after the other and saving the result in a variable (or even a file with `| ConvertTo-Json`)

[2021-05-25 16:40] andreasjordan commented on #5308
@pgriffith1 Are you still around? Please leave a message.

[2021-05-25 16:46] niphlod commented on #7374
the easiest fix just to be sure dbatools is not the culprit is not using fixed names for temp tables.
the thing is, sp_estimate_data_compression_savings was not made to run parallel.
If you have large enough dbs, and the queries take some time to run, it creates an inter-lock on

[code]

with one blocking the other. One of the two gets terminated by the deadlock monitor.
So no, you can't parallel-

[2021-05-25 16:54] wsmelton commented on #6600
I don't have access to customer environments anymore to see what property returns what. Using FQDN vs DNS name can vary based on how their AD and DNS works. I've hit some environments where FQDN for a UNC path did not work and had to use just the server name.

Considering no one else has reported the issue I would hold of making any changes until this is upvoted to indicate it actually needs to be

[2021-05-25 16:56] #6792 closed

[2021-05-25 16:58] alexsinkevich commented on #7374
I believe with running it this way, we will just switch the blocking from Set-DbaDbCompression to Test-DbaDbCompression running in parallel, won't we?

[2021-05-25 17:08] niphlod commented on #7374
nope, if you run test-dbacompression on all of your dbs serially

[code]

then you can run your "usual" parallel, just doing in one process
[code]

and in the other
[code]

[2021-05-25 17:39] alexsinkevich commented on #7374
that is actually a problem, as the databases refresh requests (followed by compression) are coming at different time, sometimes in parallel, and ideally the process should be able to handle it

[2021-05-25 17:43] niphlod commented on #7374
Go tell Microsoft about it...we can't really touch their sprocs. If you're
responding to external events that you can't manage, you need to implement
a singleton and queue at least the part that fetches the reccomendations.

Il mar 25 mag 2021, 19:39 alexsinkevich ***@***.***> ha
scritto:

[2021-05-25 19:38] L3onard80 commented on #6538
Hi Andreas, the posts above gave me a workaround solution (that works, btw) but yes, i think having a parameter for the command is really helpfull.

[2021-05-25 19:56] niphlod commented on #7374
the more I think of it the more I like the way it is.
We *could* check if the temp table is there before starting, but it could potentially end in a waiting loop, and nobody wants to wait potentially forever.
And that's a job for a higher level function, or a "dbasolution" project (it's maybe 4 lines of code on top of what's readily available).
Wanna keep simple and don't wanna think about managin

[2021-05-25 20:11] niphlod commented on #6600
JM2C, the "correcter" version is indeed FullComputerName.
Hard (time sensitivity being an issue) to resolve, but it works also on disjoint domains.

As for the "best method for transfer"..... I hope anyone doing -DetachAttach does it from either the source or the destination, not from a jump server.
As for copying big files over PSSession (does it really work when transferring files from Windows t

[2021-05-25 21:27] alexsinkevich commented on #7374
haha, feature, not a bug. that is funny.

anyways, I have tried using the following two scripts in parallel and the results were the same
script 1:

$SQLInstance  = 'MyServer'
$DBName = 'MyDB1'

$testCompression = Test-DbaDbCompression -SqlInstance $SQLInstance  -Database $DBName
Set-DbaDbCompression -SqlInstance $SQLInstance  -Database $DBName -InputObject $testCompression -CompressionType Recomm

[2021-05-25 21:28] alexsinkevich commented on #7374
maybe if that temp table is a local table (not a global temp table) it might work? i am willing to test

[2021-05-25 21:31] niphlod commented on #7374
not a bug of dbatools, it's a "bug" of sp_estimate_data_compression_savings , which we have no control upon.
we may add a feature of dbatools, if we wanna go around it.

back to you:
Did I get correctly that you're running in two separate shells, but at the same time
[code]

[2021-05-25 21:36] niphlod commented on #7374
btw, if you wanna hop on the Slack channel the conversation may be speedier

[2021-05-25 22:08] niphlod commented on #7374
note for the reader: solution on looping was provided via Slack. if it works, we may add an example to clarify parallel usage.

[2021-05-26 05:57] #6148 closed

[2021-05-26 05:57] #6157 closed

[2021-05-26 06:00] #6299 closed

[2021-05-26 12:30] gh-ttgo commented on #6406
I have just tested this on a machine with three instances and from today's perspective the output looks correct. Indeed, as far as I can remember, the output I gave initially was from _one disk_ with _two partitions_ - but of course it makes perfect sense to report the partitions as it is those we want to have properly aligned...
Sorry if I wasted your time there.

[2021-05-26 12:38] andreasjordan commented on #6406
No problem. As we discovered some problems with the documentation of this command, I will leave this issue open until we fixed this.

[2021-05-26 14:13] andreasjordan commented on #4906
Just tried that in the current version and it works.
@mqunbar : Can you please try and tell us if it works for you?

[2021-05-26 14:27] WidCed opened #7377 "[Bug] Restore-DbaDatabase -RestoreTime date formatting error between fr/US"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Restore-DbaDatabase -SqlInstance $SqlInstance -Path $BackupPath -DatabaseName $DatabaseName -WithReplace -DestinationDataDirectory $DestDataDir -DestinationLogDirectory $DestLogDir -MaintenanceSolutionBackup -RestoreTime "2021-05-26 14:00"
##

[2021-05-26 14:35] niphlod commented on #7377
does this happen if you pass

[code]

?

i.e. a full-blown datetime rather than a string

[2021-05-26 14:41] #3893 closed

[2021-05-26 14:42] WidCed commented on #7377
Yes I get the same behaviour when I pass a datetime to the command.

Maybe it's the same issue as #6483 ?

[2021-05-26 14:45] andreasjordan commented on #7377
ToPointInTime of the restore SMO is a string. I think we had issues like that and fixed a lot of them. Try to find the change...

[2021-05-26 14:45] #6683 closed

[2021-05-26 14:52] andreasjordan commented on #7377
Line 251 of Invoke-DbaAdvancedRestore:
$restore.ToPointInTime = $RestoreTime
Maybe change to something like:
$restore.ToPointInTime = $RestoreTime.Tostring("yyyy-MM-dd HH:mm:ss.fff", [System.Globalization.CultureInfo]::InvariantCulture)
But I don't know what format is needed.

[2021-05-26 15:13] niphlod commented on #7377
ouch. ISOish (minus the localization) should work. yyyy-MM-ddTHH:mm:ss.fff is the "less error prone" of the whole bunch.

[2021-05-26 15:51] andreasjordan commented on #6600
Ok, just found a good workaround, so I will close the pull request.

If we first create the server SMO, we can change the property ComputerName to the FullComputerName:
[code]
VERBOSE: [17:45:39][Start-SqlFileTransfer] Copying \\SRV1.Company.Pri\C$\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\test01.mdf for test01.
VERBOSE: [17:45:39][Start-SqlFileTransfer] Copying \\SRV1.Company.

[2021-05-26 16:29] andreasjordan commented on #6605
Hi @FriedrichWeinmann - do you remember this?

[2021-05-26 19:48] mattcargile opened #7379 "[Feature] Update-DbaTools - Cleanup switch"
### Summary of new feature

Add a `-Clean` switch which would run something like the below script. It would be nice to have it all happen in one command as opposed to have to run the two commands and open multiple powershell sessions.

[code]

### Proposed technical details (if applicable)

See above. [Link ](https://tkwj.com/2020/04/clean-up-your-dbatools) discussing how to use. [Link](https://gi

[2021-05-26 20:25] alexsinkevich commented on #7374
The looping did not work :(

[2021-05-26 20:57] niphlod commented on #7374
back to slack and drawing board

[2021-05-27 04:48] #6406 closed

[2021-05-27 04:49] #6847 closed

[2021-05-27 04:51] #7215 closed

[2021-05-27 05:15] RobinPhilipThomas opened #7380 "[Feature] Get-DbaBackupInformation - Add Size property to FileList"
### Summary of new feature

Add the file `Size` to the `FileList` property of the command.

### Proposed technical details (if applicable)

Currently the `FileList` property is collected using `Read-DbaBackupHeader` but when the `FileList` property is built it only includes the `LogcalName, `PhysicalName` and `Type`. Feature request would be adding the `Size` to that array.

![image](https://user-

[2021-05-27 05:46] potatoqualitee opened #7381 "[Bug] Get-DbaAgBackupHistory uses .Where ()"
This is only compat with PS4+ and we support 3+. Needs to change to | Where

[2021-05-27 08:06] andreasjordan commented on #7381
Will take care.

[2021-05-27 08:35] SQLDBAWithABeard commented on #7215
Thank you @andreasjordan

[2021-05-27 09:50] andreasjordan commented on #7380
It is returned, but it is not part of the default properties.

[2021-05-27 10:14] andreasjordan commented on #7377
Have a look at #6452 - some Culture settings change ":" to "." so we added this.

[2021-05-27 12:58] niphlod commented on #7377
yup, that's surely a bit to add. I was making a point towards making the format string insert the "T" between date and time parts.

you posted
`$RestoreTime.Tostring("yyyy-MM-dd HH:mm:ss.fff", [System.Globalization.CultureInfo]::InvariantCulture)`

I posted

`yyyy-MM-ddTHH:mm:ss.fff`

What I was trying to say is use

`$RestoreTime.ToString("yyyy-MM-ddTHH:mm:ss.fff", [System.Globalization.CultureIn

[2021-05-27 13:02] andreasjordan commented on #7377
And I have totally overlook that. Not sure about the "T" - we have to try. Do you have time to test this?

[2021-05-27 16:48] niphlod commented on #7377
someone already did extensive tests
https://itsalljustelectrons.blogspot.com/2017/07/STOPAT-And-Date-Formats.html
@drewfurgiuele is cited on the bottom.

tl:dr: there's no clear indication on what format is the gold standard, but ISOish with T ends up with success most of the times

[2021-05-27 17:17] mrlmachado opened #7383 "[Feature] Add CommandTimeout parameter to Copy-DbaDbTableData"
### Summary of new feature

Add CommandTimeout parameter to Copy-DbaDbTableData

### Proposed technical details (if applicable)

NA

### Latest version of dbatools as of writing

1.0.153

[2021-05-28 21:31] lauraberanek opened #7387 "How should restore-dbadatabase work with subfolders in -path"
From the help for restore-dbadatabase (https://docs.dbatools.io/Restore-DbaDatabase) it says this:
-Path
Path to SQL Server backup files. Paths passed in as strings will be scanned using the desired method, default is a non recursive folder scan Accepts multiple paths separated by ',' Or it can consist of FileInfo objects, such as the output of Get-ChildItem or Get-Item. This allows you to work wi

[2021-05-29 00:54] IgorB-PlanetArt commented on #2378
Import-Module : Could not load file or assembly 'file:///C:\Program Files (x86)\Microsoft SQL Server\110\Tools\PowerShell\Modules\dbatools\bin\dbatools.dll' or one of its
dependencies. Operation is not supported. (Exception from HRESULT: 0x80131515)
At C:\Program Files (x86)\Microsoft SQL Server\110\Tools\PowerShell\Modules\dbatools\bin\library.ps1:83 char:21
+                     Import-Module -N

[2021-05-29 08:54] #7381 closed

[2021-05-29 09:57] andreasjordan commented on #7387
As I have no time to solve this today, I will write down what I've done so far:

`Restore-DbaDatabase` uses `Get-DbaBackupInformation` to expand the `$Path` into all the individual files used to do the restore.
The line that is hit normally is:
`$bh = Get-DbaBackupInformation -SqlInstance $RestoreInstance -Path $file`
Where `$file` is `$Path` if you only use one string in `$Path`.

Here clearly th

[2021-05-29 15:45] lauraberanek commented on #7387
Thank you!

[2021-05-29 16:02] lauraberanek commented on #7387
In case it helps, I will share a little more what I am doing.  I am receiving full backups nightly and tlog backups every 15 minutes from a vendor.  I have a powershell script that copies the files from their SFTP site and saves them to a network drive.  I have a folder for tlogs and a folder for fulls (I started having them all in one and then split them out because restore-dbadatabase was failin

[2021-05-29 16:56] andreasjordan commented on #7387
What about having the two directories side by side? For including the full backup you can use both directories with Restore-DbaDatabase, as the Path parameter accepts an array of paths.

[2021-05-30 17:21] lauraberanek commented on #7387
Yes, I definitely can do that.  That is actually my backup plan and maybe that is what I should do.  I just wanted to understand why this wasn't working since the DirectoryRecurse parameter sounded like it would work for me when wanting to start by restoring the full backup.

[2021-05-31 09:21] #3170 closed

[2021-05-31 12:01] catadumitru opened #7389 "Get-DbaDbColumn and Get-DbaDbPrimaryKey"
### Summary of new feature
Being able to get column names from a table and more importantly the PrimaryKey(s) of a table.
### Latest version of dbatools as of writing
1.0.153
* Please provide the latest released version of dbatools module.
1.0.153

[2021-05-31 14:50] potatoqualitee opened #7391 "Create user survey for dbatools"
Curl has a user survey. Doing something similar could be useful for things we'd like to know.

![screencapture-docs-google-forms-d-e-1FAIpQLSdxYX1HDX4r2OS811-f-bsFIerLdUPwD-yVO9qpD0GwYj82Og-viewform-2021-05-31-16_47_33](https://user-images.githubusercontent.com/8278033/120210476-1e72f080-c230-11eb-9012-889cc8785718.png)

![screencapture-docs-google-forms-d-e-1FAIpQLSdxYX1HDX4r2OS811-f-bsFIerLdUPwD