[2021-05-31 17:27] lancasteradam commented on #6196
As discussed [here ](https://github.com/sqlcollaborative/dbatools/pull/7392#issuecomment-851578750) the "set" workflow does not seem to be allowed by SMO.

[2021-05-31 17:37] andreasjordan commented on #5913
Ok, this seems to be a bug inside of the SMO - but I think I have  a workaround:

Just use the `.Script()` method of the AG once. This will return the same script as `Export-DbaScript` will do, but with `Export-DbaScript` you have more option.

So instead of:
[code]

Use this:
[code]

[2021-05-31 17:50] andreasjordan commented on #6454
I would like you to try separating the connection to the server from gathering of information.

So instead of `Get-DbaAgReplica -SqlInstance <server>` try to do two steps:
[code]
I would like to know which command timed out.

If you get `$server`, you could also try to get `$server.AvailabilityGroups` and `$server.AvailabilityGroups.AvailabilityReplicas`, which is what the commands basically do.

[2021-05-31 17:52] andreasjordan commented on #6196
So I will close this now.

[2021-05-31 17:52] #6196 closed

[2021-06-01 09:59] andraptor commented on #5913
Great! It works for me.
But why wouldn't you just add this call inside Export-DbaScript function? It also works without additional strings in a code which may confuse consumers of this function who are not familiar with this workaround

Like this:
![image](https://user-images.githubusercontent.com/42578146/120303953-fdfe7100-c2d7-11eb-88fb-dd2112125321.png)

Thank you!

[2021-06-01 10:05] andreasjordan commented on #5913
Good idea. I'll open a pull request for that later and we see what the others think.

[2021-06-01 12:25] LeSnowTiger commented on #5913
I agree with @andraptor. A temporary fix in the Export-DbaScript would be the best option until the bug inside SMO gets fixed.

[2021-06-01 17:18] wsmelton commented on #5913
Has anyone tested on the latest release of SMO? (And no we are not on the latest release in our module.)

If so and the issue still exists we can submit a bug report to MS via the sql tools repo; that is where SMO bug reports are managed. (Don't have the repo link handy but it is called sqltools or something of that nature.)

[2021-06-02 01:48] janszedc opened #7397 "[Bug] Copy-DbaDbTableData hangs SELECT query when script is 'cancelled' in Powershell ISE"
#### Host used

- [ ] powershell.exe
- [X] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

No errors.

#### Steps to Reproduce

Copy-DbaDbTableData -SqlInstance stage -Destination dev -Database myDB -Table myPartitionedTable

#### Expected Behavior

Clicking 'stop' in the ISE should kill the SELECT query

#### Actual Behavior

The SELECT query remained on the server for 10+ d

[2021-06-02 02:10] wsmelton commented on #7397
We do not control the functionality of the stop button in the PowerShell ISE. You can potentially have the same behavior using CTRL+C in a PowerShell session.

This command as well does a bulk copy of data so killing the command does not guarantee the transaction is killed. This is the nature of PowerShell working with SQL Server. We have `Get-DbaProcess` and `Stop-DbaProcess` for you to manage th

[2021-06-02 02:10] #7397 closed

[2021-06-02 05:55] andreasjordan commented on #5913
I don't have the time to figure out how to get the latest SMO to work.
And I once had an issue with the SMO (#7010) and opened an issue there: https://github.com/microsoft/sqlmanagementobjects/issues/40
But it is still open and I don't think they will ever work on it... so I will not open other issues there.

[2021-06-02 07:59] wsmelton commented on #5913
SMO code for that issue has been around for years and won't be a simple PR and publish like a module. They are likely still researching and testing. (They don't track all their work in GitHub.)

I'm not referring to replacing SMO in the module. You can install the NuGet package and build the command workflow to test if the object state is the same in the newer version. I don't work with or have ea

[2021-06-02 08:04] andreasjordan commented on #5913
I'll let my pants down for a moment: I haven't managed to set up NuGet in my lab yet, shame on me. But I will try again, sometime...

[2021-06-02 12:16] wsmelton commented on #5913
There is no setup for NuGet required. Simply download the latest package from the NuGet Gallery: https://www.nuget.org/packages/Microsoft.SqlServer.SqlManagementObjects Then strip the code from our commands to see if it can be done both with the latest release and outside of our module.

If you go into SSMS, drill into the AG folder, right-click and verify if `Generate Scripts` is an option. It is

[2021-06-02 13:13] LeSnowTiger commented on #5913
@wsmelton "Generate Script" is not an option. In fact there is not even a "Tasks" option:

![image](https://user-images.githubusercontent.com/11633064/120485869-cb767600-c3b4-11eb-81ab-16c880d63f71.png)

[2021-06-02 13:20] wsmelton commented on #5913
Yeah, that never hit me originally, but since that is the case `Export-DbaScript` will have to either know it can't support a given object or detect it in some way (doubt this is possible), and if it can't then revert to the `Script()` method of the input object.

[2021-06-02 13:57] ALZDBA opened #7400 "export-dbaRegServer generate filename with datetime format mmddyyyyHHmmss"
Please use [Sqlcollaborative.Dbatools.Utility.DbaDateTime](Get-Date)
( **yyyyMMddHHmms**) so the the result file name will be sortable according to its date-time part in the name.

https://github.com/sqlcollaborative/dbatools/blob/51648dfa8a8e009ecade69bec50a19ea939a803a/functions/Export-DbaRegServer.ps1#L95

[2021-06-02 14:52] andreasjordan commented on #7400
I'm a fan of ISO dates - so yes from my side.
@potatoqualitee : Do you think this will be a breaking change because people might have build own logic around the filename? If I have your ok, I will provide a pull request for that.

[2021-06-02 15:57] SQLDBAWithABeard commented on #7400
I wasnt certain that the class gives a filename suitable value in my brief searching, If not then I think an ISO date format makes sense

[2021-06-03 17:01] wsmelton commented on #6962
Code coverage is now functioning in Pester.

[2021-06-04 08:37] andreasjordan commented on #5913
The pull request is on its way...

[2021-06-04 09:53] andreasjordan commented on #7400
DbaDateTime has no nice method to get the iso format, so I just changed the format a bit and moved the year up front.

[2021-06-04 09:55] andreasjordan commented on #7380
Hi @RobinPhilipThomas , can you please give feedback if you need more help on this? If not, please close the issue.

[2021-06-04 10:03] andreasjordan commented on #7389
Using `Get-DbaDbTable` you can do this:

[code]
![image](https://user-images.githubusercontent.com/66946165/120784852-d227f900-c52c-11eb-83a1-fe75a3c781de.png)

What else would you like to have?

[2021-06-04 10:39] conseilit commented on #6703
Hi Andreas

Same issue here.
Parameters are NULL, running the command from VSCode (Powershell and PowerShell Integrated) and also from PowerShellIse.

Install-DbaMaintenanceSolution -SqlInstance xxxxxx -Database "_DBA" -CleanupTime 504 -InstallJobs -LogToTable -ReplaceExisting

PowerShell 5.1
Dbatools 1.0.153

Using the profiler, all parameters have default values but the default database.

![imag

[2021-06-04 10:39] andreasjordan commented on #7377
@WidCed Are you able to use this branch and test the change?
https://github.com/sqlcollaborative/dbatools/tree/7377_RestoreDbaDatabase_RestoreTime

[2021-06-04 10:47] andreasjordan commented on #6703
Sorry @conseilit , can you please go into more detail what the problem is?

[2021-06-04 11:44] andreasjordan commented on #7400
Now I use the dbatools config value "formatting.uformat".

[2021-06-04 11:51] andreasjordan commented on #6703
Maybe you have an old version of the script in the local cache. Please use `-Force` to get the latest version from github.

[2021-06-04 12:01] conseilit commented on #6703
Hum, strange, the Maintenance Solution Repo has not changed for 5 months. And i'm creating many instances / month using teh same ps1 script ....

By the way, using the -Force solves the issue.
Thanks

[2021-06-04 14:22] WidCed commented on #7377
Hi,

It works:

[code]

Output:

[code]

Thank you very much !

[2021-06-04 15:55] andreasjordan commented on #6724
Most of my ideas are now part of #7407, so I will close this.

[2021-06-04 15:55] #6724 closed

[2021-06-04 17:02] #7374 closed

[2021-06-04 22:17] andreasjordan commented on #6600
I will close this for now, but you can reopen it if you have further questions.

[2021-06-04 22:17] #6600 closed

[2021-06-04 22:19] andreasjordan commented on #6061
I will close this for now, but you can reopen it if you have time to work on this.

[2021-06-04 22:20] andreasjordan commented on #5308
I will close this for now, but you can reopen it if you have time to work on this.

[2021-06-04 22:21] andreasjordan commented on #4906
I will close this for now, but you can reopen it if you have further questions.

[2021-06-04 22:21] #4906 closed

[2021-06-04 22:24] andreasjordan commented on #4322
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-06-04 22:24] andreasjordan commented on #6008
I will close this for now, but you can reopen it if you have time to work on this.

[2021-06-04 22:24] #6008 closed

[2021-06-05 00:44] wsmelton commented on #6543
There has been no fix applied to our logging system to resolve this to date that I'm aware of. The issue still exists and is constant if you leave a Windows PowerShell session open.

![image](https://user-images.githubusercontent.com/11204251/120874628-2e127200-c56d-11eb-8f27-cd782c6a9c0c.png)

[code]

[2021-06-05 08:41] andreasjordan commented on #6061
Hi Shawn, do you have the time and the infrastructure to work on this? I would be happy to assist, but I don't have the time to set up this scenario in Azure.

[2021-06-05 08:45] andreasjordan commented on #6543
Hi Shawn, thanks for showing the behavior.
So the questions is: How can we technically solve this? Who has the time and the knowledge to work on this?

[2021-06-05 08:54] andreasjordan commented on #6662
There are variables used that were never set. I'll have a look if I find some useful information to display ...

[2021-06-05 09:20] andreasjordan commented on #6662
I think this message was not changed when moving to using the SMO functions to generate the restore scripts. Now we don't have easy access to those information anymore. And the individual restore steps are all inside this one ShouldProcess block.
So I will just change this to a more general message to close this bug.
If you would like more granular WhatIf messages, a lot more work would need to be

[2021-06-05 09:33] andreasjordan commented on #6662
Ok, found an easy way to display the filenames.

[2021-06-05 09:59] andreasjordan commented on #5036
I had a look today and will report my findings here:
* `$ReplaceDbNameInFile` is passed from `Restore-DbaDatabase` to `Format-DbaBackupInformation`.
* At `Format-DbaBackupInformation` there is the `ForEach-Object` that changes the passed in backup history with `$_.PhysicalName = $_.PhysicalName -Replace $History.OriginalDatabase, $History.Database`.
* `Restore-DbaDatabase` is designed to not take

[2021-06-05 12:11] GilchristT commented on #6061
Sorry folks, I've been up to my eyebrows lately. Happy to try to help but I'm having bother even getting connected to my SQL Managed Instance using DBATools (it's been a while since I've used the tools).

I've updated to DBATools 1.0.153. Running on a fully patched Windows 2019 server with PowerShell 7.1.3 and .NET 4.8 installed.

I'm trying example 13 from the Connect-DbaInstance documentation.

[2021-06-05 12:13] GilchristT commented on #6061
Sorry folks, just reviewed my original post and realised that I was using a local SQL instance at the time, not managed instance. I realise that probably changes the whole thing.

[2021-06-05 12:13] andreasjordan commented on #5036
The problem is one step ahead of that:
* In `Restore-DbaDatabase`  `$BackupHistory` is initialized with `$BackupHistory = @()` in the begin block.
* Then then piped in backup history is "kind of copied" to `$BackupHistory`, but the "copy" via `$BackupHistory += $F | Select-Object *, ...` is only copiing the first level. The FileList is an array of hashtables, and that leads to only copiing the ref

[2021-06-05 12:17] andreasjordan commented on #5036
Sorry, forgot to build a new branch, so it is included in #7410.

[2021-06-05 12:20] andreasjordan commented on #6061
About connecting to Azure: Have a look at the last example, we have a brand new feature in the new code path.

[2021-06-05 12:34] andreasjordan commented on #6053
Hi @cookiemonsterdba : Are you still around here? I will try to set up a cluster and try to solve this.

[2021-06-05 12:37] andreasjordan commented on #6246
Hi Shawn, what do we want to do with this issue?

[2021-06-05 12:48] andreasjordan commented on #6270
I disagree here. Allowing multiple object types piped in makes the commands complex and may introduce a lot of bugs.
A New-Dba* command should at maximum allow pipeline input from the object one level above in the SMO hierarchy, so New-DbaDbUser should only allow pipeline input from Get-DbaDatabase.

I will correct the documentation and remove the wrong example, then closing this issue.

If someon

[2021-06-05 12:55] andreasjordan commented on #6397
Hi Shawn, can you tell me a litte bit about your plans on this issue?

[2021-06-05 13:16] andreasjordan commented on #6493
Hi @DBAdminDB ,

this code should take care of that:
https://github.com/sqlcollaborative/dbatools/blob/5cd29095b0847a1ca97d3b3da58674b88d12d612/internal/functions/Update-SqlPermission.ps1#L211-L214
https://github.com/sqlcollaborative/dbatools/blob/5cd29095b0847a1ca97d3b3da58674b88d12d612/internal/functions/Update-SqlPermission.ps1#L299-L302

Can you run the command with `-Verbose` and tell me if y

[2021-06-05 13:20] andreasjordan commented on #6587
How can we work on this?

[2021-06-05 13:20] andreasjordan commented on #6677
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-06-05 13:20] #6677 closed

[2021-06-05 13:28] wsmelton commented on #6543
No clue but we can't close issues just because no one can work on it.

[2021-06-05 13:34] andreasjordan commented on #6543
I agree. But having old bug reports that have not been worked on for months is not a good reputation for a project. We should provide escalation rounds for such cases to find an expert for these issues.

[2021-06-05 13:36] andreasjordan commented on #6543
Maybe label all these as "hard-fix" and have a look at them all together the the "senior" contributors?

[2021-06-05 13:58] andreasjordan commented on #6753
I just altered the regex, that should help.

[2021-06-05 14:04] andreasjordan commented on #6897
Sorry, has been lost from sight. Is this still a problem with the current version?

[2021-06-05 14:11] wsmelton commented on #6543
Hold up, the reputation of a project can never be determined by the issue count on GitHub. We are an open-sourced project, not a product company. If folks are judging based on that all I can tell them is "they are doing it wrong" 😉.

In some areas that is the author, but contributors come and go based on availability (and interest). Many that started on this project are not available as much anymo

[2021-06-05 15:00] andreasjordan commented on #7033
I think the problem is about disabling a protocol after a failure:

VERBOSE: [14:35:11][Get-DbaService] Getting SQL Server namespace on DESKTOP-4GBJ93T
VERBOSE: [14:35:11][Get-DbaCmObject] [desktop-4gbj93t] Accessing computer using Cim over DCOM - Success
VERBOSE: [14:35:11][Get-DbaService] Getting Cim class SqlService in Namespace ComputerManagement15 on DESKTOP-4GBJ93T.
VERBOSE: [14:35:11][Get-D

[2021-06-05 15:47] andreasjordan commented on #7033
I added a verbose message to show which services were found in which namespace. All services are found in the highest namespace, the lower namespaces only report services with version equal or lower that the version of the namespace.

So I think it is totally useless to collect information from all namespaces.

I will introduce a hidden config to change this behavior so we can test this in the fie

[2021-06-05 16:00] wsmelton commented on #7033
SSCM when multiple versions will only work generally using the highest version.

I don't think a hidden config is needed, it is waste of processing to go through every version found when we could pick the highest version and use it to query the machine, I would think.

[2021-06-05 16:03] andreasjordan commented on #7033
OK, thanks for the quick response. PR is nearly finished, so I will remove the config now.

[2021-06-05 16:26] andreasjordan commented on #7033
I had a SQL Server 2017 and 2019 installed, so I have namespaces 15 and 14. But I removed the instances and only have SQL Server 2016 and 2014 left on the maschine. That is the verbose output based on by pull request:

PS C:\Git\dbatools> Get-DbaService -ComputerName SRV1 -Verbose | ft

VERBOSE: [18:24:03][Resolve-DbaNetworkName] Resolving SRV1 using .NET.Dns GetHostEntry
VERBOSE: [18:24:03][Resol

[2021-06-05 17:40] andreasjordan commented on #6890
Oh yes, a lot of issues with this command. Will do a complete rewrite, may take some days...

[2021-06-05 18:12] andreasjordan commented on #6567
Hi Kay,

you know, June 2020 is one year ago. So "someone of the dbatools team" will maybe take care of this issue in 2022 or so...
At the moment I don't have PS7 installed, so I can not test this. But if you can run the command with `-Verbose` and provide the output ... we maybe get closer to fixing it.

But if you personally are fine with the command not working on PS7 - sorry for bothering you,

[2021-06-05 18:48] wsmelton commented on #6567
The command cannot be used in PowerShell 7. To properly fix this will require changing how we import commands as we likely have others that fall into this category and the way we import does not account for use with .NET vs dotnet Core with PowerShell 7. We focus only on platform (Windows vs Linux) in our import process.

[2021-06-06 01:12] #7383 closed

[2021-06-06 01:15] #6567 closed

[2021-06-06 02:58] wsmelton opened #7415 "[RPC] Remove the use of Select-DefaultView"
### Summary of new feature

Replace the use of `Select-DefaultView` (internal function used for controlling the "default" output of commands) with proper (I'd say best practice) use of format and view ps1xml files.

### Proposed technical details (if applicable)

In and of itself if you have not authored modules before the use of `<module>.format.ps1xml` and `<module.types.ps1xml` are a bit more c

[2021-06-06 03:00] wsmelton commented on #6316
This will have to be done via T-SQL. There is no documentation publicly that shows SMO has support for Data Classification.

[2021-06-06 03:10] wsmelton commented on #4647
Pulled script to get line information, adjusted where it will run on Codespaces or Windows-based machines. Updated the list to current codebase as of this posting.

[2021-06-06 04:38] #7377 closed

[2021-06-06 04:39] #7400 closed

[2021-06-06 10:33] andreasjordan commented on #7415
I think this is a good idea and a good way for me to learn new powershell stuff.
So if you need someone to code or someone to review changes - just say hello and I join the team.
It might be worth looking at the various default properties of the commands in advance, perhaps to change some of them to match others.

[2021-06-07 12:56] andreasjordan opened #7417 "[Bug] Invoke-DbaDbDataMasking - Parameter ConnectionTimeout (and others?) not used"
Hi @sanderstad , hava a look at Invoke-DbaDbDataMasking: I don't see $ConnectionTimeout anywhere beeing used. Have not checked the other parameters...

[2021-06-07 13:07] jrobiii commented on #6008
Sorry that I didn't get back to @andreasjordan.

I tried it again with Example 17.  With only the username (no domain) supplied to the `Get-Credential` I received "Login failed for <SA_User>", but when I supplied both the domain and user parts it worked.

I'll check with the rest of my team on the feasibility of using `Set-DbatoolsConfig -FullName sql.connection.experimental -Value $true` in produ

[2021-06-07 13:53] rscottcovington opened #7418 "Missing Version in Build Reference"
### Report

#### Host used

- [ ] powershell.exe
- [x ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

PowerShell Version        : 5.1.14393.4402
dbatools latest installed : 1.0.153
Culture of OS             :

[2021-06-07 13:57] rscottcovington commented on #7418
Apparently I didn't fill in the template correctly as all the info didn't show up.
Executing: $Results+=Test-DbaBuild -SqlInstance $s -latest -Update
Checked latest json file and it has incorrect info for SQL 2017 CU24.  Should be version 14.0.3391.2 but it shows 14.0.3390.

[2021-06-07 15:38] niphlod commented on #7418
will do a PR shortly to fix.

[2021-06-09 08:16] andreasjordan opened #7424 "[Bug] Get-DbaPermission integration test failes very often on AppVeyor"
There seems to be a problem with the test for this command or the way AppVeyor runs them. Can we do anything about this?
If not, just close this.

[2021-06-09 12:27] #7418 closed

[2021-06-09 12:30] #6270 closed

[2021-06-09 13:10] potatoqualitee commented on #2378
Hey @IgorB-PlanetArt - can confirm that the newest version still works on 2012/v3

![image](https://user-images.githubusercontent.com/8278033/121360416-b198de00-c934-11eb-9535-f1f6cef8ed3a.png)

try downloading it again and be sure to `Unblock-File` against all the files

[2021-06-09 16:35] andreasjordan opened #7425 "Connect-DbaInstance - Be able to use server SMO and change ApplicationIntent or StatementTimeout"
As with NonPooledConnection or Database, when I start Connect-DbaInstance with an already connected server SMO as SqlInstance, then I would like to get a new server SMO back, that uses my given ApplicationIntent or StatementTimeout.

Should be implemented the same way as with Database or NonPooledConnection, so the resulting code should look like this:
[code]

The paramater ApplicationIntent is us

[2021-06-09 16:36] andreasjordan opened #7426 "Connect-DbaInstance - Be able to decide which source property should be used as the property ComputerName"
I would like to be more flexible choose the suitable ComputerName for my environment.

Current rule: Use $server.NetName, but if $server.NetName is empty or we are on Azure or Linux, use $instance.ComputerName

Examples:
If I'm in a fairly normal environment, the default is fine. But when I'm only working with Azure databases, maybe I would like to not use the long `$instance.ComputerName` "MyAzur

[2021-06-09 16:38] andreasjordan opened #7427 "Connect-DbaInstance - Introduce a new property FullComputerName"
I like to have a short ComputerName as the typical first output property of dbatools commands. But on the other side, some of our commands need a full qualified name to use it in UNC paths or while connecting to a computer.

Therefor I would like to have a new property FullComputerName with a similar setup like ComputerName in #7426.

To achieve this, I propose the following code:

[code]

I would

[2021-06-09 16:59] andreasjordan commented on #5966
Another question: As we now have the solution with the parameter -AccessToken in Connect-DbaInstance, maybe remove that function from dbatools?

[2021-06-09 17:08] andreasjordan commented on #6548
As we recently updated the binaries - can you try one more time?

[2021-06-09 17:12] andreasjordan commented on #6897
I think this is duplicate of #6548, so I will close this one.

[2021-06-09 17:12] #6897 closed

[2021-06-09 19:26] andreasjordan commented on #6548
Thanks for the quick response.
So workaround is still to install SSMS 17?
I'm not an ddl-expert but I will try to find a solution.
But maybe we have see this as a known limitation and update the documentation accordingly.

[2021-06-10 00:18] joshcorr commented on #6548
Considering that [SSMS 17 is no longer receiving updates](https://docs.microsoft.com/en-us/sql/ssms/support-policy?view=sql-server-ver15) (and I don't have any environments where we still have it installed), my opinion is document that it is no longer supported and remove it in a future release. I don't think we should rely on DLLs we don't (and can't) include in the Module.

If we want to support

[2021-06-10 06:12] andreasjordan opened #7428 "Support for replication commands without SSMS 17 installed"
This issue is related to these commands:
* Export-DbaRepServerSetting
* Get-DbaRepDistributor
* Get-DbaRepPublication
* Get-DbaRepServer
* Test-DbaRepLatency

All of these commands need the following libraries:
* Microsoft.SqlServer.Replication.dll
* Microsoft.SqlServer.Rmo.dll

But Replication.dll has dependencies and need Microsoft.SqlServer.Smo.dll with Version=14.0.0.0, but we now ship version

[2021-06-10 06:21] andreasjordan commented on #6548
I have opened pull request #7429 for that - maybe you have time to have a look.

[2021-06-10 07:52] #6548 closed

[2021-06-10 12:03] andreasjordan commented on #6890
I opened the pull request (as a draft) - you can have a look at the proposed code if you like: #7430.

[2021-06-11 07:15] catadumitru commented on #7389
I also found a way to get the data needed in the end.
I was suggested to request this as a new command in the dbatools slack channel.
But I guess it's not that important if you can achieve your results with the current commands.

Thanks!

[2021-06-11 07:15] #7389 closed

[2021-06-11 08:04] #7033 closed

[2021-06-11 10:18] potatoqualitee commented on #4647
oh, wow thats awesome, @wsmelton ! thank you

[2021-06-11 10:19] potatoqualitee commented on #4647
What I do now instead of resolve-path which i think can throw errors? is Join-Path with ChildItem

[2021-06-11 10:44] potatoqualitee opened #7433 "Get/Set-DbaPrivilege commands"
Right now, we export settings to file then import the file from command line. Lee Holmes offers a much cleaner way to do this in his 🔥  blog post:

https://www.leeholmes.com/adjusting-token-privileges-in-powershell/

[2021-06-11 10:51] joshcorr commented on #4647
Yeah! That is what I was doing last time I was fixing stuff. 😀

https://github.com/sqlcollaborative/dbatools/commit/92b0e28af60437213c3252b8037715f79c8d318d

[2021-06-11 11:25] andreasjordan commented on #7433
But this is enabling the privilege for a process. We want to grant the privilege to an account. I think this is something different.

[2021-06-11 16:10] wsmelton commented on #4647
`[IO.Path]::Combine()`

This will perform better and is easier to read in most cases:

[code]

You just pass in each director make you want to join. Supported in all current versions of dot NET.

[2021-06-12 03:12] wsmelton commented on #5966
This command is used by `Connect-DbaInstance` so it won't be removed. This can be closed as we do not support PowerShell 6 now.

[2021-06-12 03:12] #5966 closed

[2021-06-12 08:54] andreasjordan commented on #7427
This might also help working on #5988.

[2021-06-13 10:52] i7slegend opened #7434 "Support SqlParameter class for Invoke-DbaAsync SqlParameters argument"
### Summary of new feature

* Support initiliaze class sqlparameter as stored procedure parameter. It's can be useful to execute a stored procedure which returns result via output variable.

### Proposed technical details (if applicable)

* https://docs.microsoft.com/ru-ru/dotnet/api/system.data.sqlclient.sqlparameter?view=dotnet-plat-ext-5.0
* https://docs.microsoft.com/ru-ru/dotnet/api/system.da

[2021-06-14 08:26] andreasjordan commented on #6053
I've taken that proposed change from @sqllensman , but changed Resolve-NetBiosName to affect all commands using Resolve-NetBiosName at once.

[2021-06-14 08:32] cookiemonsterdba commented on #6053
Hola!
Thanks… I can try the patch in one of my clusters
SaludosAlfonso

Enviado desde Yahoo Mail para iPhone

El lunes, junio 14, 2021, 10:26 a. m., Andreas Jordan ***@***.***> escribió:

I've taken that proposed change from @sqllensman , but changed Resolve-NetBiosName to affect all commands using Resolve-NetBiosName at once.

—
You are receiving this because you were mentioned.
Reply to this ema

[2021-06-14 08:39] andreasjordan commented on #6053
I even have a workaround for you that should work right now without waiting for the new release of dbatools:
[code]

[2021-06-14 08:47] andreasjordan commented on #6246
I had another look at this, and in the future we will not support the use of `-Tenant` any more.
We introduced `-AccessToken` as a new way to use advaned authentication methods with azure, see the last example at https://docs.dbatools.io/Connect-DbaInstance.

[2021-06-14 09:37] andreasjordan commented on #6618
Hi @jpomfret - I had a look at this and I think the problem is here:
https://github.com/sqlcollaborative/dbatools/blob/fd4b4e53c90503d89ba902aead0cb7d164ef35fa/functions/Write-DbaDbTableData.ps1#L522

We use the wrong constructor. See:
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlbulkcopy

We use `SqlBulkCopy(String, SqlBulkCopyOptions)` but should use `SqlBulkCopy(SqlConne

[2021-06-14 10:00] potatoqualitee commented on #6397
Seems we have code to support `8C5E7FDA-E8BF-4A96-9A85-A6E23A8C635C` in Test but not Set.

I believe this can be solved by

[code]

[2021-06-14 10:13] potatoqualitee commented on #6543
Thanks everyone for working on this! I agree with Shawn in that some issues should be able to be left open, even if we don't have the current expertise or time to address it. My hope is that people judge the project by its usefulness and not by an issue count.

At the same time, I looooooooooove when the number of issues is reduced and I think a low issue count is an incredible goal to work toward

[2021-06-14 10:24] potatoqualitee commented on #6587
I'm not sure they are licensing it the same way anymore -- I am unable to get a Product Key for Enterprise 2019 to even test.

![image](https://user-images.githubusercontent.com/8278033/121877905-694e3700-cd0b-11eb-90ea-3fd3e384eb1b.png)

We may have to just stop support at 2017.

[2021-06-14 10:54] andreasjordan commented on #6397
We already set the powerplan based on the Guid (see #6679 for all the details - I was involved but forgot about it).
I had a look at Get-DbaPowerPlan, Test-DbaPowerPlan and Set-DbaPowerPlan - and I would like to implement some changes to reduce duplicate code. Get-DbaPowerPlan is getting all powerplans from the computer but returning only the active. So Test-DbaPowerPlan needs to get all the plans

[2021-06-14 11:22] wsmelton commented on #6246
We will continue to support that because there is no valid reason not to.

The parameter you speak of required more effort on the users part when dealing with Azure. Why?

[2021-06-14 11:37] andreasjordan commented on #6246
Sorry for closing this issue. Will leave it open, but I can not work on this anymore.

[2021-06-14 11:41] Tottenham84 commented on #6454
Hey Andreas,

Sorry for the late reply. The Connect-DBAInstance is what times out.

PS D:\Users\<user>> pwsh
PowerShell 7.1.3
Copyright (c) Microsoft Corporation.

https://aka.ms/powershell
Type 'help' to get help.

PS D:\Users\<user>> $server = Connect-DbaInstance -SqlInstance <server>
Exception:
D:\Users\jproca\<user>\PowerShell\Modules\dbatools\1.0.149\allcommands.ps1:88694
 Line |
88694 |

[2021-06-14 11:48] andreasjordan commented on #6587
Does 2014 show this key? 82YJF-9RP6B-YQV9M-VXQFR-YJBGX
If so, I might have the answer...

[2021-06-14 11:51] wsmelton commented on #7363
The command scope is for the Login rename only, there is no reason to touch the User databases because a rename does not change the SID for a SQL Login. Renaming a Windows Login requires the name provided has to be the SID that it matches in AD, which not sure if this has any effect on the users in the database or not.

![image](https://user-images.githubusercontent.com/11204251/121887804-d0a0c280

[2021-06-14 14:50] andreasjordan commented on #6587
I've installed some versions with product keys and can confirm that the command does not show the correct keys for SQL 2016 and newer. So I would suggest to change the code to test for the version and stop on 2016 and newer.
This product was already mentioned in this issue: http://www.nirsoft.net/utils/product_cd_key_viewer.html
If someone wants to contact the developer to ask for help, feel free

[2021-06-14 14:59] andreasjordan commented on #6454
If we agree that the problem is located inside me SMO - than there is nothing we can do.
I have written a blog post that might help here: https://blog.ordix.de/dbatools-a-simple-database-query-with-invoke-dbaquery
(Nearly) all commands take the input from SqlInstance and pass it on to Connect-DbaInstance. If you pass in a server SMO (that you get from Connect-DbaInstance), it is only just returned

[2021-06-14 14:59] andreasjordan commented on #6454
If you agree I would close this issue.

[2021-06-14 15:35] andreasjordan commented on #7363
But documentation says:
"Rename-DbaLogin will rename login and database mapping for a specified login. There are times where you might want to rename a login that was copied down, or if the name is not descriptive for what it does.It can be a pain to update all of the mappings for a specific user, this does it for you."

So update the documentation and the code to not touch users anymore?

[2021-06-14 16:26] Tottenham84 commented on #6454
Andreas,

I don't agree. Please see below with some ideas.

Could you update the call to connect-dbainstance to always use multisubnet
failover flag? I don't think this will hurt performance of a listener that
has only 1 ip address?

Or

Can you provide a switch param MULTISUBNETFAILOVER
 for AG related functions? Right now for get-dbaavailabilitygroup calls the
internal function connect-sqlinstan

[2021-06-14 16:45] wsmelton commented on #6454
The ability for you to control the connection settings and then pass that to our commands it intentional and by design.

Environmental issues cannot be predicted for everyone, which is what this sounds like it is specific to your AG configuration. I don't see any reason right off to add a parameter for this, especially across all our AG commands.

[2021-06-14 16:53] andreasjordan commented on #6454
We have some parameters for Connect-DbaInstance that have defaults fetched from config parameters. Maybe we can add that for MultiSubnetFailover as well? But as this switch just adds ";MultiSubnetFailover=True" to the connection string, we can also add a config parameter for `-AppendConnectionString` and you fill it with ";MultiSubnetFailover=True" - that would have the same result and would maybe

[2021-06-14 19:39] sanderstad commented on #6524
Sorry it has been soo busy. Will pick this up right away

[2021-06-14 19:48] sanderstad commented on #6524
@NathanLifshes sorry for the very late reply. If this is still an issue, could you supply an example JSON file for me?

[2021-06-14 21:51] sanderstad commented on #6690
The point for this command is to find data that matches the regex strings.

As far as I know there is not an easy option to know if a regex contains a not or not and generate an if statement based on that outcome.

[2021-06-15 07:40] leifei87 opened #7439 "How to Disable TCP dynamic Ports at SQL Server 2016 use dbatools"
How to Disable TCP dynamic Ports at SQL Server 2016 use dbatools?

[2021-06-15 07:52] andreasjordan commented on #7439
There is a brand new command for that: https://docs.dbatools.io/Set-DbaNetworkConfiguration

[2021-06-15 09:26] andreasjordan commented on #6454
I will change this from a bug report to a feature request.
As I have an open pull request for Connect-DbaInstance I will wait for this to be merged and then start working on this.

[2021-06-15 09:32] andreasjordan commented on #5988
@potatoqualitee - if you would like me to replace `Resolve-NetBiosName` with `Resolve-DbaNetworkName` in all commands, give me a sign.

[2021-06-15 12:19] #7417 closed

[2021-06-15 16:44] Tottenham84 commented on #6454
Thank you @andreasjordan  and @wsmelton for your help on this.
Justin

[2021-06-15 18:15] JP-MB opened #7440 "Get-DBaComputerSystem Pipeline sql result"
the following command doesn't success
 Invoke-DbaQuery -SqlInstance 'xxxxx\SQLS02'  -Query 'SELECT distinct top 1 [ComputerName] FROM [DBA_Maintenance].[dbo].[Repos_instances-prod-NLVCP]'|Get-DbaComputerSystem
but the following  yes:
echo WWIN0281P | Get-DbaComputerSystem

What is the issue with data produced by sql request . Which step to introduce between the sql result and pipeline ?
rgds
JP

[2021-06-15 18:17] JP-MB commented on #7440
PS C:\Users\a-xxxxxx> Invoke-DbaQuery -SqlInstance 'xxxxx\SQLS02'  -Query 'SELECT distinct top 1 [ComputerName] FROM [DBA_Maintenance].[dbo].[Repos_instances-prod]'|echo |Get-DbaComputerSystem
Get-DbaComputerSystem : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the para

[2021-06-15 21:28] niphlod commented on #6587
did someone forked us without telling back ? @andreasjordan can you try this https://gist.github.com/mtrimarchi/f56e3865bad8c4578def6d2c5586a1e6/revisions

[2021-06-15 21:36] niphlod commented on #6587
found also:
- https://github.com/virajds/VBS_and_PowerShell/blob/20e31fa1088780ed5e3db8782d9e4e26e70ecc5d/PowerShell/Get-SQLserverKeyV2.ps1
- https://github.com/MEM-Zone/sccm-zone.com/blob/b3acfd7e833f5aef383b63671c39c40ee01715a2/Reporting/Software/SW%20SQL%20Server%20Products/HWI%20EXT%20SQL%20Server%20Products.mof

[2021-06-15 21:57] niphlod commented on #7440
Get-DbaComputerSystem accepts a "rich" instance object or a plain string that can pipelined to it.
Alternatively, you can use the -ComputerName parameter.

Now, the output from the query is an **object** whose property ComputerName is the string you may pass to Get-DbaComputerSystem

I think you may fix it with
[code]

[2021-06-15 21:59] #7440 closed

[2021-06-16 05:24] #7439 closed

[2021-06-16 06:58] andreasjordan commented on #6587
Sorry, @niphlod - it does not work.
The first link uses "$basepath\130\Tools\...", but there is not product key in that branch.
The second link just uses the code we currently use.
The third link uses the path like the first one.

I installed a developer edition and a standard edition with product key of sql server 2019. The difference in registry is clearly the "DigitalProductID", that probably s

[2021-06-16 07:46] andreasjordan commented on #6587
Our current implementation returns: 8T4GB-D6YJ8-H43HX-VFWGM-43PPF (which is definitly wrong)

[2021-06-16 16:55] mscirri opened #7443 "Find-DbaLoginInGroup: Include DB Users with no SQL Server Login"
### Summary of new feature

Find-DbaLoginInGroup does not account for DB Users with no SQL Server Login.  I would like this function to be updated to account for these objects.

### Proposed technical details (if applicable)

I tried to do this myself at first, without realizing how many of the required functions are not exposed.  Below is my version of the function with the new code clearly marke

[2021-06-16 20:20] wsuhoey opened #7444 "[Bug] Start-DbaAgentJob verbose output "Cannot convert value" error for job step"
### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [X] Other (please specify) pwsh.exe

#### Errors Received

[code]

[code]

#### Steps to Reproduce

`Start-DbaAgentJob -SqlInstance $server -SqlCredential $creds -Job $jobname -Wait -WaitPeriod 60 -Verbose`

#### Expected Behavior

Display proper job step.

#### Actual Behavior

Error output, and blank or empty variable out

[2021-06-16 21:07] wsuhoey commented on #3519
Hi Andreas. I still haven't had an opportunity to re-visit this. If you want to take it over feel free to do so. Hopefully the code I have thus far works for you.

[2021-06-16 22:42] niphlod commented on #7443
would you make a practical example ? Find-DbaLoginInGroup from the description basically unrolls AD groups defined on the instance to know what specific users have access. In what sense then "does not account for DB Users with no SQL Server Login" ?

[2021-06-16 23:08] niphlod commented on #7444
ouch. there's a nicer way but the interface is wonky . will work on that if you can wait a few days.

[2021-06-17 06:42] andreasjordan commented on #3519
Don't know if I find time. Just had a walk through all issues and pinged some people. Maybe I start with just the firewall rules for engine, dac and browser.

[2021-06-17 13:41] niphlod commented on #7444
@wsuhoey : would you give this a whirl ? https://github.com/sqlcollaborative/dbatools/pull/7445

[2021-06-17 15:37] gbargsley opened #7448 "[Bug] Write-DbaDbDataTable does not work in latest version"
### Report
I have a process that runs database validation using Test-DbaLastBackup to test restores and dbcc.  I moved this to a new server recently and installed the latest version of dbatools (1.0.155).  The process started failing on the Write-DbaDbTableData command that I have at the end of my process to store the results to a database table.

I did some research and found if I force the last

[2021-06-17 16:10] mscirri commented on #7443
Sure thing.   Here is the scenario that I faced.

I have a server with 3 logins:

1. MEESEEKS\mscirri  (Windows User)
2. MEESEEKS\Data_Analytics  (Windows Security Group)
3. MEESEEKS\Operations  (Windows Security Group)

That server has a single database with 4 users:

1. MEESEEKS\mscirri  (Windows User)
2. MEESEEKS\Data_Analytics  (Windows Security Group)
3. MEESEEKS\Operations  (Windows Security

[2021-06-17 16:11] andreasjordan commented on #7448
Can you check if the structure of $results changed? Maybe use `-Database tempdb` and `-AutoCreateTable` and compare the two tables.

[2021-06-17 16:15] andreasjordan commented on #7448
Do you remember this change?https://github.com/sqlcollaborative/dbatools/commit/6bfef61aff21ad3f7c73967f0eb801a603b05e7b#

It added an output column...

[2021-06-17 18:37] wsuhoey commented on #7444
I realize I *should* know this, but how do I test the updated code? Do I edit the code in Start-DbaAgentJob.ps1 or do I find the section in allcommands.ps1? I don't normally do this :)

[2021-06-18 00:57] gbargsley commented on #7448
You are indeed correct.  I added that output, and my table did not like it.  Thanks for the help.

[2021-06-18 00:57] #7448 closed

[2021-06-18 07:03] niphlod commented on #7443
the whole point is testing Logins, not Users ... also, I *think* that if MEESEEKS\Finance isn't defined as login, you wouldn't get it as a result, so the thing you get back doesn't match what I'd expect. I'd think MEESEEKS\Finance is like an orphan user, added to the db at some point but later on was removed as a login. What am I missing here ?

[2021-06-18 12:23] #6506 closed

[2021-06-18 12:25] #6053 closed

[2021-06-18 12:35] #5917 closed

[2021-06-18 12:35] #6420 closed

[2021-06-18 12:35] #6464 closed

[2021-06-18 12:38] #6753 closed

[2021-06-18 13:04] #7444 closed

[2021-06-18 14:20] mscirri commented on #7443
Oh, I messed up my example.   "Finance" was supposed to be operations.  I have corrected it

[2021-06-18 14:27] mscirri commented on #7443
So there are use cases where you would setup a DB user and not give them a SQL Server login.  This is just one article I fund but there seems to be a few:  https://blog.learningtree.com/sql-server-users-without-logins/

If there is a function that does the exact same thing for these types of database users, then I am fine just making another call and  merging my results.   Get-DbaDbOrphanUser woul

[2021-06-18 14:29] niphlod commented on #7443
ok, now it aligns with what I'd expect. That being said, back to the drawing board .... MEESEEKS\Finance is a user, not a login.
Why would you expect Find-DbaLoginInGroup to catch up on that ?
The base point of Find-DbaLoginInGroup is to unroll who has access to and why.
In you case, do users belonging to MESEEKS\Finance have access to the database ?

[2021-06-18 14:35] mscirri commented on #7443
They do.    I see your point with how the function is named that it is not intuitive to think that it would include these database users.    Does it make more sense to request an update to Get-DbaDbOrphanUser to (optionally) walk the Active Directory chain to get the individual User accounts in the same manner that Find-DbaLoginInGroup does?   Is there another way to do this with existing function

[2021-06-18 14:48] niphlod commented on #7443
I normally prune every orphan right off the bat.
Are you saying that MEESEEKS\Finance defined on the db as a user but not as a login grants access no matter what to the db ?

[2021-06-18 14:55] mscirri commented on #7443
Right, but if it is not a true orphan and it was done like that for a reason, then I have to leave it and be able to audit the access granted to the users in that group.  If in the end I can just trim that all down that would be great, but for now, I need to understand who has access to what in my environment for compliance purposes.

I am not sure I understand your question.

[2021-06-18 15:00] niphlod commented on #7443
find-dbaloginingroup tells you who has access WHEN YOU RUN IT. If MEESEEKS\Finance is an orphan, users of it do not have access till someone adds MEESEEKS\Finance as login. If this is true, then Find-DbaLoginInGroup is running as expected. If we all agree on the fact that till AD groups aren't logins no access is granted, we can move on and find whatever is needed to support your usecase, which if

[2021-06-18 15:33] #6890 closed

[2021-06-18 15:37] mscirri commented on #7443
OK. I see what you are saying.   And if you cannot tell if the user is a Windows Group or Windows User without a server login then my little code addition won't work and this thing would need a LOT more effort to meet the objective.

But I still go back to the intentional creation of a database user with no server Login.   It is not always indicative of a user that needs to be pruned. I go back to

[2021-06-18 15:48] niphlod commented on #7443
yup, but this means that you need to inspect what runs on the db to know if it's a proper and valid orphan or not.
impersonation is a whole concept outside the scope of dbatools, and, again, an audit there has to be made on the application rather than on the db.
Once again, the culprit is the fact that you're relying on an app+sql behaviour you know of, that sql (and dbatools) doesn't.
That is a u

[2021-06-18 16:00] mscirri commented on #7443
That is a fair assessment.   I will close this request.

[2021-06-18 16:45] wsuhoey commented on #7444
Confirmed fixed in `1.0.158`

[2021-06-19 12:30] potatoqualitee opened #7449 "[Bug] SMO issues / missing types"
I'm writing a release builder and it outputs help. When attempting to run this on a clean Windows runner, which doesn't have SQL Server installed, it fails.

https://github.com/potatoqualitee/releases/runs/2864802867?check_suite_focus=true

[code]

This is because the SMO isn't loading properly and the types are used in the param() ala `[Microsoft.SqlServer.Management.Dmf.PolicyStore]$Whatever,`

[2021-06-19 13:37] potatoqualitee commented on #7449
Ahh! I was using pwsh 7. So I just need to move those PBM commands to noncoresmo collection and `Data.SqlClient.SqlConnectionColumnEncryptionSetting` needs to be changed to `psobject` in `New-DbaConnectionStringBuilder`

[2021-06-20 17:14] m4ss1m0g opened #7451 "[Bug] Export-DbaScript with -NoPrefix Append always"
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

#### Errors Received
Launching export multiple time when using `-NoPrefix` on `Export-DbaScript` the command always append to file

#### Steps to Reproduce

[code]

#### Expected Behavior
The output are the same

#### Actual Behavior
The DDL is listed twice

### Environmental information
PowerShe

[2021-06-21 06:35] #5036 closed

[2021-06-21 06:35] #6662 closed

[2021-06-21 08:35] andreasjordan commented on #7245
Can this be closed?

[2021-06-21 08:42] #7424 closed

[2021-06-21 14:15] #7443 closed

[2021-06-21 16:57] andreasjordan commented on #7451
Oh, there are some other issues around using `-ScriptingOptionsObject` like not saving `$soAppendToFile = $ScriptingOptionsObject.AppendToFile` before changing it.
Will try to provide a fix in the next hours or days (if no one else wants to do this).

[2021-06-21 17:19] andreasjordan commented on #7451
The line under "Notes" is not hit, because `$scriptBatchTerminator` will be false...

[2021-06-22 06:37] #7449 closed

[2021-06-22 10:14] #7286 closed

[2021-06-22 10:19] #7451 closed

[2021-06-22 10:24] potatoqualitee commented on #7245
yep!

[2021-06-22 10:24] #7245 closed

[2021-06-22 10:38] potatoqualitee opened #7456 "Add Set-DbaDbFileSize"
This is a good candidate to add, I've wanted it myself

https://github.com/sqlcollaborative/dbadisa/blob/master/public/Set-DbsDbFileSize.ps1

Would need a corresponding Get

[2021-06-22 10:39] potatoqualitee commented on #7243
Agreed! I think I tried this before and ran into a snag (not a huge one, just one I didn't have time for). But it would be good to add.

[2021-06-22 10:40] potatoqualitee commented on #6319
Yes, likely.

[2021-06-22 11:51] potatoqualitee commented on #6397
Sounds good! `-All` or `-List` works for me. List is used by Get-ExecutionPolicy but All works too.

[2021-06-22 11:53] potatoqualitee commented on #5308
I'll ask @sanderstad if he can turn his change into a PR

[2021-06-22 12:10] potatoqualitee commented on #5308
Will auto-close once the PR has been merged 🥳  Thanks everyone for your followups.

[2021-06-22 13:04] potatoqualitee commented on #7337
Please change Repair-DbaInstanceName to test for "N/A" 👍🏼

Sorry I hadn't checked my notifications for months 😬

[2021-06-22 13:09] potatoqualitee commented on #5739
oh la la! gotta make sure our SMO version is high enough. But either approach works.

[2021-06-22 13:13] potatoqualitee commented on #3080
Good command name, but does `Get-DbaDbFile` not fit the bill?

![image](https://user-images.githubusercontent.com/8278033/122930569-62a76b80-d36c-11eb-8ab9-49b198055cbc.png)

[2021-06-22 13:15] andreasjordan commented on #3080
We need that hash that is returned in FileMap.

[2021-06-22 13:16] potatoqualitee commented on #2451
Most places aren't updated on current versions so if it's good enough for old ones and interesting to you, I'm very open to it.

[2021-06-22 13:17] potatoqualitee commented on #3080
oh ah! sorry, I skipped to the bottom. k, sounds good!

[2021-06-22 13:20] potatoqualitee commented on #5901
Still agree with myself 😅  Also, kudos for adding aliases to our docs, @niphlod !

[2021-06-22 13:29] potatoqualitee commented on #6923
@andreasjordan - what do you think about Disconnect-DbaInstance? Tho I'm not sure it's even possible with connection pooling.

[2021-06-22 13:31] potatoqualitee commented on #7279
I'll ping @awickham10 on twitter! I'm curious too and know that I hadn't checked my notifications in a long time.

[2021-06-22 13:32] andreasjordan commented on #6923
Sometimes I do some tests - but I have not found a way that works. Last idea: It's a dbatools background task - maybe @FriedrichWeinmann has an idea.

[2021-06-22 13:32] potatoqualitee commented on #7214
ur the best 💯 !

[2021-06-22 13:35] potatoqualitee commented on #6923
What if we kept a $script:connected = @{} hashmap in psm1, add to it in Connect-DbaInstance and then Disconnect sends those explicit closes? I used to have hangs but I haven't in a long time.

[2021-06-22 13:36] potatoqualitee commented on #7285
udabess

[2021-06-22 14:02] awickham10 commented on #7279
No dice.

![image](https://user-images.githubusercontent.com/7840633/122938587-e21f4580-d340-11eb-8d91-51c1525509ff.png)

[2021-06-22 14:06] andreasjordan commented on #7279
Do you use the new code path? `Set-DbatoolsConfig -FullName sql.connection.experimental -Value $true`

Do you use the option `-NonPooledConnection` with `Connect-DbaInstance`?

[2021-06-22 14:18] awickham10 commented on #7279
I did not. Here's another attempt. I set experimental, registered it, restarted PowerShell instance, verified experimental still set, connected with `-NonPooledConnection`.

First try - invalid object even though AutoCreateTable was specified
[code]

Second try - oh it does exist?
[code]

Third try - didn't specify AutoCreateTable, but it doesn't exist
[code]

[2021-06-22 14:21] andreasjordan commented on #7279
Ok, thanks. I'll have a look.

[2021-06-22 15:11] potatoqualitee commented on #7044
yes indeed this is fixed 👍🏼

[2021-06-22 15:12] potatoqualitee commented on #7279
Thank you @andreasjordan 🥳

[2021-06-22 15:12] andreasjordan commented on #7279
The short answer is: Write-DbaDataTable does not work with temp tables....

[2021-06-22 15:17] potatoqualitee commented on #5342
No progress yet, @philippfrenzel. But now that I'm vaccinated, I have a lot more energy and will take a look. I'll assign it to me so that I can take a look when I get a burst of motivation. if anyone else wants it before I get to it, they are welcome to take it.

[2021-06-22 15:19] awickham10 commented on #7279
Haha yes... see [this line](https://github.com/sqlcollaborative/dbatools/blob/982d4eb3cad9e1b095c0fcbad415e0174f93df8f/functions/Write-DbaDbTableData.ps1#L522
). Write-DbaDbDataTable establishes a new connection for the bulk copy instead of using the SMO connection.

I proposed [this change](https://github.com/sqlcollaborative/dbatools/pull/7009/commits/a52287c8ce4b96849371e3edcd622e66525e3b81) as

[2021-06-22 15:20] potatoqualitee commented on #7229
haha niph gave it to me but i was not motivated. I need to find this again, sorry for the delay Simone!

[2021-06-22 15:24] andreasjordan commented on #7279
Yes, see #6618 where I had a similar idea.

[2021-06-22 15:24] potatoqualitee commented on #6998
I do remove the source code before shipping! 🚢  I like the idea, but likely won't do it myself.

[2021-06-22 15:25] andreasjordan commented on #7279
The other problem is, that `$smo.Databases['tempdb'].Tables` does not show me the temp table...

[2021-06-22 15:25] #6998 closed

[2021-06-22 15:29] andreasjordan commented on #7279
@awickham10 : I don't have time to day to look into that deeper. So can you please open a new issue for Write-DbaDbDataTable not working this temp tables? Then I can have a look in the next days if I find a solution.
But I have found: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/afa06d0a-c81a-405c-b7f2-51dbbef2ca3d/accessing-temporary-tables-using-smo?forum=sqlsmoanddmo

[2021-06-22 15:29] potatoqualitee commented on #6618
I imagine Jess is busy - she is writing the book right now, please feel free to take it, @andreasjordan !

[2021-06-22 15:38] awickham10 opened #7459 "[Bug] Write-DbaDbTableData doesn't work with temp tables"
### Report
#### Host used
- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [x] Other (please specify) - pwsh.exe

#### Errors Received
[code]

#### Steps to Reproduce
[code]

#### Expected Behavior
Create a temporary table with two columns (Id, ProcessName) and data from `$processes`.

#### Actual Behavior
Temporary table is created but data is not loaded due to the bulk copy coming in on a differen

[2021-06-22 15:39] awickham10 commented on #7279
Done! Thanks @andreasjordan.

https://github.com/sqlcollaborative/dbatools/issues/7459

[2021-06-22 15:42] andreasjordan commented on #7459
After reading #7009 again I think this will be solvable, but it will not be easy.
It is a lot related to how we open the connection with Connect-DbaInstance.
So I would like to work on this after the new code path in Connect-DbaInstance is the default one.

[2021-06-22 15:58] Vanguard-52236 commented on #7266
Please close this issue. We have unfortunatly moved away from using dbatools. Thank you for all your help.

[2021-06-22 15:59] mkellerman commented on #7266
Please close this issue. We have unfortunatly moved away from using dbatools. Thank you for all your help.

[2021-06-22 16:01] #7266 closed

[2021-06-22 16:27] potatoqualitee commented on #6316
New SMO is in!

[2021-06-22 16:33] potatoqualitee commented on #5327
is this done? or done with set?

[2021-06-22 16:35] andreasjordan commented on #5327
I'll have a look later this week.

[2021-06-22 16:36] potatoqualitee commented on #5900
naw, it went offline too, ill just close.

[2021-06-22 16:36] #5900 closed

[2021-06-22 19:48] andreasjordan commented on #6618
There was a related problem reported on Slack, so I opened #7460 ...

[2021-06-22 20:18] jstexasdba opened #7461 "Write-DbaDbTableData kills number of connections to Azure SQL DB running in Azure Automation Runbooks"
Write-DbaDbTableData kills (sky rockets) the number of connections to Azure SQL DB running in Azure Automation Runbooks. This ultimatly gives error:

 It does not seem to be closing the connections of the bulk insert. This is in a non-hybrid environment.

[2021-06-22 21:16] pgriffith1 commented on #5308
I apologize for not being more helpful.  I've not had the opportunity to
work with log shipping recently.

On Tue, Jun 22, 2021 at 8:10 AM Chrissy LeMaire ***@***.***>
wrote:

[2021-06-23 05:54] andreasjordan commented on #7461
Can your share the powershell code you use?

[2021-06-23 06:27] potatoqualitee commented on #5308
No problem, @pgriffith1 ! thanks for filing the issue and letting us know.

[2021-06-23 07:05] #5308 closed

[2021-06-23 07:28] potatoqualitee commented on #7427
The resolve command can be slow as heck (best case, 550ms, worst case 15 seconds), so this should not be a default unless it uses `-Turbo`. Best case, Turbo adds 136ms.

[2021-06-23 07:36] niphlod commented on #7427
yah, it needs to be done only if strictly needed, i.e. needing to interact with the underlying server and not when playing with sql only. Turbo reports wrong data in some cases, so I won't add it by default

[2021-06-23 07:39] potatoqualitee commented on #7427
So true! I forgot your network resolves it wrong.

[2021-06-23 07:39] andreasjordan commented on #7427
I can remove the ability to use Resolve-DbaNetworkName - just wanted to show what can be possible.

[2021-06-23 07:40] potatoqualitee commented on #5988
Yeah, let's do it. @niphlod you agree? Will this change suit your environment?

[2021-06-23 07:47] niphlod commented on #7427
it if was laaaaazy instead, like it gets resolved only if you explicitely call up FullComputerName as a prop, then it may be a good thing.

[2021-06-23 08:11] andreasjordan commented on #7427
Do you know how to code a lazy property? We can not change the original class, but only add properties. But I just really wanted it for special situations and thus hide it behind a config. But if a user has an issue related to that we can ask to activate this config and test without shipping new code.

[2021-06-23 08:24] niphlod commented on #5988
unless some command specifically needs netbios, yeah, resolve-dbanetworkname does the same thing, adding the "domain" parts, and it does the best it can.

[2021-06-23 08:36] niphlod commented on #7427
recap for everybody:
the thing is, design-wise, a SQL instance doesn't know anything about the fqdn of the server it is running on.
resolving it is expensive.
commands needing to interact with the underlying server should use always resolve-dba... because there's no other way around it.
skilled developers complained about the expensiveness of resolve-dba.. when not needed (i.e. they're sure netbio

[2021-06-23 09:39] niphlod commented on #7427
and just for fun, this snippet works for lazy properties https://gist.github.com/jstangroome/3522474 . not sure if PS3 can do it.

[2021-06-23 16:16] jstexasdba commented on #7461
`$endAddDays = -2

    Write-Output "Run started"
    # Authenticate with your Automation Account
    $VaultName = "keystore"
    $credential = Get-AutomationPSCredential -Name 'AutomationAccount'

    $destinationserver = Get-AutomationVariable -Name "ProdServer" #Imports the SQL Server Name from the Automation variable.
    $Database = Get-AutomationVariable -Name "ProdDB"
    $waiverstable = 't

[2021-06-23 17:01] andreasjordan commented on #7461
I can reproduce the issue with this code:

[code]

But with the new version from #7460 there is no issue anymore.

[2021-06-23 17:07] andreasjordan commented on #7461
With the latest commit I added a new verbose message:
[code]

This should tell you, if you really use the new version.

[2021-06-23 18:05] jstexasdba commented on #7461
Your branch?

[2021-06-23 18:06] andreasjordan commented on #7461
Yes, this branch: https://github.com/sqlcollaborative/dbatools/tree/WriteDbaDbTable_Improvements

[2021-06-23 18:49] jstexasdba commented on #7461
FYI, I had to click on view JSON to get that message as the job stayed in suspended mode.

[2021-06-23 18:50] andreasjordan commented on #7427
So: What's the solution we can all agree on?
I don't need the `if ($object -eq 'resolve') { ... }` part, but I would like to have the FullComputerName property and I would like to change all commands that do `Resolve-DbaNetworkName` to first check if FullComputerName is larger that ComputerName and in that case just use FullComputerName.
Two pros:
* Speed up commands that do not need to run `Resol

[2021-06-23 18:53] andreasjordan commented on #7461
The change is not merged and not released. You can only use it if you are able to get a specific branch from GitHub.
I don't work with Azure Automation, so I can not tell you if or how that would work.
But I just opened the pull request for review. Maybe @potatoqualitee  has time to review, merge and release.

[2021-06-23 19:13] #6618 closed

[2021-06-23 19:26] andreasjordan commented on #7461
The new release is 1.0.163 and includes the fix for your problem - hopefully it helps.

[2021-06-23 19:45] potatoqualitee commented on #7461
yep, that should work! if it doesn't, please feel free to reopen this issue 🥳

[2021-06-23 20:00] potatoqualitee commented on #7459
yeah, this one is going to be rough.

![image](https://user-images.githubusercontent.com/8278033/123160345-5a375980-d46e-11eb-8db9-d79954ab3b6e.png)

[2021-06-23 21:10] potatoqualitee commented on #7415
I'm open to it but we need the ps1xml files to support aliases and I'm not sure if it does 👍🏼

[2021-06-23 21:14] wsmelton commented on #7415
- Format.ps1xml controls table view
- Types.ps1xml controls aliasing properties

Example:

https://github.com/thycotic-ps/thycotic.secretserver/blob/ced9e007c1fbcc1eccd973c270e3c2ae1247ea14/src/Thycotic.SecretServer.Types.ps1xml#L3-L15

Which we already use [a Types file](https://github.com/sqlcollaborative/dbatools/blob/development/xml/dbatools.Types.ps1xml) as that is what lets you add Script me

[2021-06-23 21:18] potatoqualitee commented on #7302
So sorry, this is not something I'm open to. I just talked on a Legacy Code podcast about being proud of supporting PS3 ;)

I am aware of people who still have to use PS3 and I don't want to abandon them for PS Classes, which have been described as "painful" and "half-baked".

I very much enjoy coding for 5.1+ and do so in all of my other modules, but cannot budge on dbatools, at least for 1.x.

W

[2021-06-23 21:18] #7302 closed

[2021-06-23 21:24] jstexasdba commented on #7461
I updated the module to the current dev version and running the test code Andreas wrote in a runbook, I am still seeing the same thing. 😥

[2021-06-23 21:24] potatoqualitee commented on #6319
doing this one rn

[2021-06-23 21:52] potatoqualitee commented on #7173
In the interim, you can possibly do something like `(Get-Content C:\temp\file.csv | Select-Object -Skip 3) | Write-DbaDataTable`

[2021-06-23 21:54] potatoqualitee commented on #7146
Interesting, we can add a dbatools config value to skip the requirement and then add it to `Test-ElevationRequirement`

[2021-06-23 21:55] potatoqualitee commented on #7026
LOL, salad is the best 🥗 . I'll check to see if the DLL we use supports explicit linebreaks

[2021-06-23 22:10] potatoqualitee commented on #7026
So I'm reading through the code and this will likely be the part

[code]

From [the StreamReader docs](https://msdn.microsoft.com/en-us/library/system.io.streamreader.readline(v=vs.110).aspx), it says that:

What is your type of linebreak? Is it possible that altering the `-Encoding` would help?

[2021-06-23 22:41] potatoqualitee commented on #6899
https://www.nuget.org/packages/CsvHelper/ looks good

[2021-06-23 23:03] potatoqualitee commented on #4810
Yeah I guess it wouldn't be interactive, we'd just create a `$server` object using something like `Connect-DbaDacInstance`? Then the person just keeps reusing it?

[2021-06-23 23:03] potatoqualitee commented on #7415
sweet, works for me

[2021-06-23 23:08] potatoqualitee commented on #7415
Actually, thinking about it more...

we use a lot of generic pscustomobjects with select-defaultview and that won't be able to be modified without adding a type to the object and that'd probably undo all the time saved.

Another huge problem I see is that sometimes we want to see more from a database object in one command than another. Having a universal type wouldn't be good there unless we can s

[2021-06-24 01:25] wsmelton commented on #7415
Easy peasy, adding `PSTypeName` property to the PSCustomObject allows you to reference it in a format or types file (primary use of it). [See more](https://docs.microsoft.com/en-us/powershell/scripting/learn/deep-dives/everything-about-pscustomobject?view=powershell-7.1#pstypename-for-custom-object-types).

[2021-06-24 08:46] potatoqualitee commented on #7415
😱  crazy easy!! how cool. how do we handle when different types need different outputs? Just skip those types?

[2021-06-24 08:49] potatoqualitee commented on #7427
Just tested @niphlod's code and it works in PS3 👍🏼

[2021-06-24 09:22] andreasjordan commented on #7415
If you need a hand full of commands to test this - I would suggest the Remove-DbaDb* commands, as they need a global rewrite to align the output anyway.
And for a command that returns an SMO, maybe Get-DbaEndpoint is a good candidate, as it is not so important but good to test with.

[2021-06-24 11:02] niphlod commented on #7427
@andreasjordan : on the "cache that" argument: clustered instances may disagree with you. Aliased ones too. Does it happen regularly ? no. Does it happen, sometimes ? yes.

I agree Resolve-Dba.. is slow, but please remember that a 2sec slowdown on resolve-dba.. on a Copy-DbaDatabase taking 30 sec to run a backup/restore or to detach/move/attach is negligible rather than popping out an error if you

[2021-06-24 12:09] andreasjordan commented on #7427
@niphlod You have very good points. So yes, caching is no good. And yes, the time is not the point. I had a look at the commands that use Resolve-* and I think it's totally ok there.

Will think about it one more night and potentially close it. Thanks for the feedback.

Maybe it's better to address the special cases inside of Resolve-DbaNetworkName with a lookup hashtable in the configuration to s

[2021-06-24 13:07] potatoqualitee opened #7467 "[Bug] - Investigate ServiceBrokerEnum dll failure on linux"
Linux - may have to reach out to Microsoft to see if that hasn't been ported to Core.

[code]

[2021-06-24 13:08] #6422 closed

[2021-06-24 13:09] andreasjordan commented on #7461
There are two things you can play with:

You can first connect with `$server = Connect-DbaInstance -SqlInstance XX -SqlCredential YY -Database ZZ` and then use `$server` as `-SqlInstance` in `Write-DbaDbTableData`. You don't need `-SqlCredential` there, because `$server` is a connected server SMO.

And you can use the new code path inside of `Connect-DbaInstance` with adding this line once in your

[2021-06-24 13:57] #6319 closed

[2021-06-24 16:03] jstexasdba commented on #7461
That did the trick!

[2021-06-24 16:03] #7461 closed

[2021-06-24 16:05] andreasjordan commented on #7461
Great to hear that. Thanks for the info.

[2021-06-24 16:33] andreasjordan commented on #7426
@potatoqualitee / @niphlod - we had a very good exchange of ideas on #7427 - so I would like to have the same here.

[2021-06-24 18:44] #5881 closed

[2021-06-24 20:05] potatoqualitee commented on #7467
k done! researched and reported

[2021-06-24 20:05] #7467 closed

[2021-06-25 15:32] potatoqualitee commented on #7461
Which solution worked for you @jstexasdba ?

[2021-06-25 15:56] potatoqualitee commented on #2220
This is done eh? 🥳  If not, we can create pester tests to detect

[2021-06-25 16:00] niphlod commented on #2220
yup, in addition, tagging helps building the tag cloud of docs.dbatools.io. It _could_ replace https://dbatools.io/commands/ which is maintained by hand by @ClaudioESSilva

[2021-06-25 16:04] potatoqualitee commented on #2220
OH!! i love that idea! that's a perfect use of tags!

[2021-06-27 17:45] #7427 closed

[2021-06-28 23:45] wsmelton opened #7470 "[Bug] Get-DbaService - false error no services found in relevant namespaces"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

1. Run `Get-DbaService` either in the context of an account or passing Credential
2. Ensure the account or credential used does not have valid permissions to the target endpoint

#### Expected Behavior

Provide more clear message of why servi

[2021-06-29 07:50] andreasjordan commented on #7470
Oh, thanks, I have only tested the positive case. Do you have time to provide a pull request? If not give me a sign and I will try to find some time this week.

[2021-06-29 08:55] fabiopennisi opened #7473 "[Bug] PSRemoting.PsSession.UseSSL not working with Get-DbaCmObject"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
[code]

#### Steps to Reproduce

1. You'll need a server behind a firewall, configure WinRM HTTPS on that server
2. Punch a hole in the firewall to allow traffic from the client (where dbatools is installed) to the destination server - port 5986 for WinRM https. Ma

[2021-06-29 09:58] andreasjordan commented on #7473
The author of that command is @FriedrichWeinmann , will ping him on Slack.

[2021-06-29 10:01] andreasjordan commented on #6493
I will close this for now, but you can reopen it if this is still an issue with the current version.

[2021-06-29 10:01] #6493 closed

[2021-06-29 10:25] andreasjordan commented on #6587
Opened a pull request to add a warning. Or do we want the command to fail for newer versions?

[2021-06-29 11:25] potatoqualitee commented on #6587
yeah you can just set a notification that is a warning that says "Command does not support xyz", thank you 🙇🏼

[2021-06-29 12:01] andreasjordan commented on #6587
Now it looks like this:
![image](https://user-images.githubusercontent.com/66946165/123793862-80338280-d8e2-11eb-9674-533a6567688f.png)

[2021-06-29 13:22] potatoqualitee commented on #6587
perfect!

[2021-06-29 17:29] #6587 closed

[2021-06-30 06:17] #7337 closed

[2021-06-30 07:50] potatoqualitee commented on #7426
Yes, can @wsmelton, @jpomfret and @niphlod please respond? I'm leaning to yes and just use the FQDN, if provided, by default.

[2021-06-30 07:57] niphlod commented on #7426
jm2c: if playing with a sqlinstance, just use whatever smo gives you back, no reason to meddle in between.

[2021-07-01 03:51] wsmelton commented on #7473
That configuration was added for a different purpose and is not implemented for CMI queries. It is only used with the `Invoke-Command2` which all that configuration does is set the call to `New-PSSession` to use the parameter `-UseSSL` (not unique to dbatools usage).

Fix for this should be fairly simple by just adding a check for that config to the `Invoke-Command` call's parameter:

https://gith

[2021-07-01 03:59] wsmelton commented on #7428
The likely reason it still requires SSMS 17 is that Microsoft changed how the DLLs are shipped and installed on Windows. SSMS 18+ no longer installs the DLLs for SMO/RMO in the GAC, they are kept in the program folder with the software. So the method we are using to try and load the library won't' work anymore.

Moving all to the latest release of SMO could potentially fix it all and get everythin

[2021-07-01 04:04] wsmelton commented on #7433
This won't persist to the machine's policy, it is a session-based token @potatoqualitee You can set the tokens and then run `whoami /priv` to see that for your session in PowerShell. Open another session or `Start-Job` process and the privilege won't exist.

This won't remove us still having to use `secpool` utility in Windows sadly.

[2021-07-01 04:04] wsmelton commented on #7433
It might be good for a `Set-DbaProcessPrivilege` command though 🤔

[2021-07-01 14:44] andreasjordan commented on #7470
I had a look and I think this is not so easy. First of all the general design of the command is not optimal.
But the main problem is that this call can fail for different reasons:

[code]

If I use an account that has no rights, I get:

[code]

If I query a server that has no SQL Server installed, I get:
[code]

So I would like to test the connection first with:
[code]

We could also use `Test-Dba

[2021-07-01 16:53] andreasjordan opened #7479 "[Bug] Get-ObjectNameParts does not parse 'database..table'"
![image](https://user-images.githubusercontent.com/66946165/124161048-3c38ad00-da9d-11eb-9900-3a1f263b2edc.png)

The regex is not able to work with ".." as a replacement for ".dbo." - and a fix is not that easy with just the regex I think.

Are there any reasons against using PARSENAME?
https://docs.microsoft.com/de-de/sql/t-sql/functions/parsename-transact-sql

[2021-07-01 17:00] andreasjordan commented on #7479
@niphlod - do you have an idea?

[2021-07-01 17:05] niphlod commented on #7479
'..' is a bad idea overall, but parsename is definitely not smarter than regex. should be doable but I'd need a few testcases

[2021-07-01 17:06] andreasjordan commented on #7479
And PARSENAME needs a connection to an instance - and we don't have that here.

[2021-07-01 17:14] andreasjordan commented on #7473
@fabiopennisi can you the test the branch of the linked pull request?

[2021-07-01 17:24] andreasjordan commented on #7479
Maybe use the $fixChar idea again: Replace ".." by ".$fixChar2." and then later test $chema for beeing $fixChar2 and in that case set it to "dbo" and remove $fixChar2 from database and table.

[2021-07-01 17:38] niphlod commented on #7479
the point here is that I don't know how functions depending on this are able to accept a schema as `''` vs `$null` vs `dbo` .
whoever passes dbname..tablename should get back "dbo" as schema no matter what, taunting us requesting to return `''` or `$null` is ... unacceptable ?

if that's the case, the regex can't do anything to match, as there's nothing to match, so....

[code]

should be "the fix

[2021-07-01 17:40] andreasjordan commented on #7479
Have a look at my pull request. I could not resist shortening the existing code a bit...

[2021-07-01 17:41] niphlod commented on #7479
seems longer than needed, and less readable ... why the whole [regex]::Unescape("\u$($hexStr)") ?
that being said, this function needs tests asap.

[2021-07-01 17:46] andreasjordan commented on #7479
Haven't seen that - will shorten again. And I will try to add some tests.

[2021-07-01 17:50] niphlod commented on #7479
on top of the usual suspects, `dbo.[Table_.1]`, `[db.name].dbo.[Table_.1]` and `[dbname]..[Table_.1]`

[2021-07-01 17:51] ben-thul commented on #7479
Implying that the schema for 'db..obj' should be dbo isn't correct - it should be the default schema of the executing user.

[code]

[2021-07-01 18:01] niphlod commented on #7479
I knew supporting '..' was going to be a PITA ^_^

[2021-07-01 18:02] andreasjordan commented on #7479
Oh, missed that. But $schema could not be set to $null because this would be later changed to "[]" - right?
So what to do? Send a warning that we set the schema to "dbo" (which would be correc t in 99% of the cases)?

[2021-07-01 18:03] niphlod commented on #7479
nope. should raise a warning that ".." is not supported.

[2021-07-01 18:10] niphlod commented on #7479
alternatively, review all down-level usage to see how they manage an empty schema (i.e. `''`).
Aaaand, on the top of my head, add a test even for `foo.[test..table]` and `foo..[test..table]` .
Because on the "warning" route, it doesn't suffice to look for `..` .

[2021-07-01 18:38] andreasjordan commented on #7479
Ok, maybe step by step:
* At the moment "database..table" is parsed wrong - so we can only make it better.
* We have to do some magic to detect ".." - I propose the same magic as for "]]".
* We have to decide on what Get-ObjectNameParts should return as property Schema. Choices are $null or "dbo", $null would be correct, "dbo" better than it is now.

[2021-07-01 20:05] JoeAtMsft opened #7481 "[Bug]Add-DbaAgDatabase does not honor SqlCredential"
Add-DbaAgDatabase was recently re-written and the re-write does not honor the passed in SqlCredential parameter.
https://github.com/sqlcollaborative/dbatools/commit/c864b791ad360d954a93edc065c691e117714a2e

When Add-DbaAgDatabase calls Test-DbaAvailabilityGroup, it should pass along the SqlCredential parameter if one was passed into Add-DbaAgDatabase at runtime.

This change breaks automation scen

[2021-07-01 20:26] andreasjordan commented on #7481
Thanks for finding this, fix is on it's way...

[2021-07-02 07:08] #7481 closed

[2021-07-02 07:09] #7479 closed

[2021-07-02 07:14] #7459 closed

[2021-07-02 07:14] fabiopennisi commented on #7473
Hey guys,

Thanks so much for looking at this.

I'm a little confused at the moment, hoping you can please bear with me,
I'll eventually get there...

If I may, I'm going to go back a step to explain what I'm trying to achieve.

Our Sql Servers are mostly behind firewalls. They've been configured with
WinRM HTTPS (port 5986). The relevant firewall rules are in place to allow
traffic from particula

[2021-07-02 07:59] fabiopennisifmg commented on #7473
I see, by setting Set-DbaToolsConfig -Name 'psremoting.pssession.usessl' -Value $true, the underlying Invoke-Command2 will will automatically add the -UseSSL parameter. So I understand what Shawn was saying about that - makes sense.

If you can still please answer my questions above; about how I'll get the underlying Get-DbaCmObject to use the PowerShellRemoting region of code (assuming it's the c

[2021-07-02 09:40] andreasjordan commented on #6503
Stumbled across this again. I'm not sure I understand it correctly. You have three servers, SRV1, SRV2 and SRV3. You start PowerShell in SRV1, run an `Enter-PSSession -ComputerName SRV2` to get to SRV2 and there you have dbatools installed and run `Get-DbaRegistryRoot -ComputerName SRV3` to get the information about the instances installed on SRV3.
If so, maybe a double-hop problem?

[2021-07-02 09:43] andreasjordan commented on #6663
@niphlod Because it is in the docs-domain: Do you know something about this website?

[2021-07-02 09:47] andreasjordan commented on #7198
@ml222 Can you please test with the latest version?

[2021-07-02 11:45] niphlod commented on #6663
need to ping @potatoqualitee , was a onetime generation done 2 years ago. https://github.com/sqlcollaborative/docs/blob/master/bogus/index.md

[2021-07-02 11:46] andreasjordan commented on #7481
@JoeAtMsft - New version is released...

[2021-07-02 11:47] wsmelton commented on #6503
Would not have been a double-hop issue, WinRm gives a different error for those.

[2021-07-02 11:47] #6503 closed

[2021-07-02 12:02] andreasjordan commented on #4810
Or just having a new switch `-DAC` for Connect-DbaInstance?
Or just be able to use `$dacServer = Connect-DbaInstance -SqlInstance 'ADMIN:SRV1'`?

[2021-07-02 12:07] andreasjordan commented on #4810
But we already #6831 ... (maybe close this as duplicate?)

[2021-07-02 13:28] andreasjordan commented on #7363
@potatoqualitee Can you have a look at this?

[2021-07-02 13:41] potatoqualitee commented on #6663
thanks for the report, @headspeak. i barely remember this one. @sanderstad is it still useful for your commands?

[2021-07-02 14:01] potatoqualitee commented on #7363
submitted a PR!

[2021-07-02 19:26] JoeAtMsft commented on #7481
@andreasjordan, thanks for the quick turnaround!

[2021-07-03 03:18] #7470 closed

[2021-07-03 08:19] #7473 closed

[2021-07-03 11:46] #7425 closed

[2021-07-03 11:46] #7426 closed

[2021-07-03 15:52] andreasjordan commented on #7323
As the test for AzureUnsupported is working in the new code path of Connect-DbaInstance and we are about to use the new code path as default in a few weeks, I see no benefit in changing the old code path.
So I will close this.

[2021-07-03 15:52] #7323 closed

[2021-07-03 16:39] pradeep14333 opened #7487 "Add-DbaAgDatabase not processing step5 (Tested in Microsoft SQL Server 2014 (SP3-CU4-GDR) (KB4583462) - 12.0.6433.1 (X64))"
Add-DbaAgDatabase -SqlInstance $PrimaryReplica -AvailabilityGroup $AvailabilityGroup -Database $TargetDB -SharedPath $AlwaysOnBackupPath -Verbos
VERBOSE: [12:24:06][Test-DbaAvailabilityGroup] Database [TestDB] will need a restore on replica SecondaryReplica1.
VERBOSE: [12:24:06][Add-DbaAgDatabase] Test for prerequisites returned 1 databases that will be joined to the Availability Group AG_TestGrou

[2021-07-03 16:41] pradeep14333 commented on #7487
I am using the version 1.0.164

[2021-07-03 20:13] #7487 closed

[2021-07-04 06:58] #6397 closed

[2021-07-04 07:59] #7363 closed

[2021-07-04 08:43] #7456 closed

[2021-07-05 13:25] kaysauter opened #7491 "Import-DbaCSV doesn't create table by default or documentation is wrong."
### Report
According to documentation in the first example here https://docs.dbatools.io/#Import-DbaCsv,

[code]

is supposed to create a table, "Since a table name was not specified". However it seems that this is not the case and the documentation explains for -AutoCreateTable the following:

| Alias                |
| --------------- | ----- |
| Required         | false |
| Pipeline           |

[2021-07-05 13:39] andreasjordan commented on #7491
Thanks for the issue. Yes, the first example is missing the `-AutoCreateTable`. Maybe have a look at the other examples as well - maybe there are more bugs. Would be nice If you can provide a pull request.

[2021-07-05 13:41] kaysauter commented on #7491
If you've got any suggestions on tests I should do, let me know. I'm currently updating dbatools for PoSh 5 to test that as well.

[2021-07-05 13:42] kaysauter commented on #7491
Just a small question though: the PR should be for documentation for for the the PoSh code within dbaTools?

[2021-07-05 13:43] andreasjordan commented on #7491
For the documentation inside of the command. The website is based on that. So pull againt this repo here.

[2021-07-05 18:54] andreasjordan commented on #7491
As I said in the liked pull request: I now think this is no bug. Can we close this?

[2021-07-05 18:56] kaysauter commented on #7491
@andreasjordan if you're asking me, I'm ok with that.

[2021-07-05 18:58] #7491 closed

[2021-07-05 20:37] potatoqualitee opened #7494 "[Bug] - Connect-DbaInstance - exception not caught"
[code]

[2021-07-05 20:41] potatoqualitee commented on #7494
After I set the experimental, I still have the issue. This should all be caught with the Warning

[code]

[2021-07-05 20:44] potatoqualitee commented on #7494
Probably ignore! This may be an issue on my end, brb

[2021-07-05 20:48] potatoqualitee commented on #7494
K, it's not in a try catch but i'm not sure it needs to be. This happened because my import-module dbatools was super messed up from a bad copy/paste

[2021-07-05 20:48] #7494 closed

[2021-07-05 21:51] potatoqualitee commented on #7434
I like that, thank you for the suggestion. We'll be working on Invoke-DbaQuery soon and this seems like a great addition.

[2021-07-06 06:52] andreasjordan commented on #6543
@peedeeboy : Thanks for your work on this, https://github.com/sqlcollaborative/dbatools/issues/6543#issuecomment-633255928 seems to solve the problem. As you see in the linked pull request, I mainly followed your second approach.

Sorry for not trying this earlier.

[2021-07-06 07:35] #6543 closed

[2021-07-06 07:40] ksl28 opened #7498 "[Bug] Remove-DbaDbUser - failed with: Constructor on type 'Microsoft.SqlServer.Management.Smo.SqlObjectUnion' not found"
### Report
Remove-DbaDbUser gives an exception message, if executed through Powershell Core.
The user is still dropped, but it generates an exception.

#### Host used

- [ X] powershell.exe
- [ X] ISE
- [ X] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Remove-DbaDbUser -SqlInstance SQLInstance -Database "Database-Name" -User "SomeUserName"

#### Expe

[2021-07-06 08:45] andreasjordan commented on #7498
This is a problem of the SMO we use. See:
https://github.com/microsoft/sqlmanagementobjects/issues/2
https://github.com/microsoft/sqlmanagementobjects/issues/48

Both are closed, issue should be fixed with SMO version 161.40241.8 and newer.
@potatoqualitee - do you see a chance to use these SMO instead of those from SqlServer?

[2021-07-06 09:04] ClaudioESSilva opened #7499 "[Bug] Get-DbaRandomizedValue doesn't generate BIGINT values"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

No error.

#### Steps to Reproduce
Run

[code]
It will not generate any value

#### Expected Behavior

Generate a bigint value

#### Actual Behavior
No value is output

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]
PowerShell

[2021-07-06 09:14] BoHu1977 opened #7500 "Test-DBATempDbConfig"
The Test-DBATempDbConfig command checks if trace flag 1118 is set. But for SQL Server 2016 and onwards versions this trace flags is not longer required. But if you run the cmdlet it will show in the output, if the SQL server is 2016 or above, that you have te set the trace flag.

Is it possible for SQL Server 2016 and above the output will show that the trace flage is set correctly.
Below a exampl

[2021-07-06 09:49] andreasjordan commented on #7500
Whoever works on this, please see https://github.com/sqlcollaborative/dbatools/issues/6509 also.

[2021-07-06 10:21] #6459 closed

[2021-07-06 10:59] #7499 closed

[2021-07-06 11:23] ClaudioESSilva opened #7503 "[Bug] Invoke-DbaDbDataMasking not honoring "Persisted" property value on config file"
### Report
After generating a DataMaskingConfig file we can edit it to change some property values. I was recently playing with the `Deterministic` property, which uses the same masked value on all matches.

Assume I have the persisted property of the JSON config file with the value of "true".

1. When my config has just one column, the persisted value is honoured, and the values being masked are

[2021-07-06 11:24] ClaudioESSilva commented on #7503
@sanderstad do you have time to take a look?
Thanks!

[2021-07-06 13:21] potatoqualitee commented on #7498
I've found it very challenging in the past, but will try it. Let's see.

[2021-07-06 13:39] potatoqualitee commented on #7498
Yeah, unfortunately, I have no clue how to get the SMO library in the nuget to work.

![image](https://user-images.githubusercontent.com/8278033/124609536-ff3f3280-de6f-11eb-97d6-70e07fb5e986.png)

The best way is to replace them with the SMO that @Matteo-T generates with a magic formula 😅

[2021-07-06 13:54] potatoqualitee commented on #4810
good call!

[2021-07-06 13:54] #4810 closed

[2021-07-06 14:34] potatoqualitee commented on #7473
Thank you,the fix is now in the gallery!

[2021-07-06 14:47] wsmelton commented on #7473
@fabiopennisi in the latest release this will apply to `Get-DbaCmObject` now as well.

[2021-07-06 15:28] MikeyBronowski opened #7504 "[Get-DbaDbUdf] filtering on object name and schema name without using Where-Object"
### Summary of new feature

* Clear/concise description of what the problem is that the new feature can solve.

Currently, the Get-DbaDbUdf command returns all the objects, unless we filter out by database (Database, ExcludeDatabase) or system objects (ExcludeSystemUdf).

There is no way to filter it by name or schema name other than Where-Object. There are more functions like that.

Examples wher

[2021-07-06 15:40] andreasjordan commented on #7504
Maybe we can take all the Get-DbaDb* commands, have a look and propose one pattern for all of them. It would be really nice if similar commands have similar interfaces.
Do you see one or two commands that have a very good design?

[2021-07-06 16:01] MikeyBronowski commented on #7504
I will have a look, but definitely, one pattern would be great. At the moment it is a mixture of different approaches, so while we are going to unify Remove-* functions it would be great to do it with the relevant Get-* as well.

There were recently created new functions for Synonyms/Sequences/Schemas. Maybe that's a start, as probably there were most recent discussions on those.

[2021-07-06 20:55] wsmelton commented on #7380
A few notes on addressing this request that would have to be done.

- [Read-DbaBackupHeader](https://github.com/sqlcollaborative/dbatools/blob/development/functions/Read-DbaBackupHeader.ps1) needs to have the Size parameter modified to type `[DbaSize]` so it can display a readable size and include the unit.

This is done here: https://github.com/sqlcollaborative/dbatools/blob/08b9fbafbd749be5d1ae5

[2021-07-06 21:00] wsmelton commented on #7232
This would require removing the use of the messaging system for the most part because it manipulates the streams in PowerShell. You can try redirecting the stream but not sure that works with exactly either because of the message system in the module.

[code]

[2021-07-07 00:58] wsmelton commented on #904
Pretty sure most of these are covered that we can with SMO. Copy command wise I'm not aware that many have asked for the objects we don't include, so far. Those are better tracked by creating issues for them individually.

[2021-07-07 00:58] #904 closed

[2021-07-07 01:02] #1656 closed

[2021-07-07 02:14] wsmelton opened #7506 "[Bug] Copy-DbaLogin - KillActiveConnection parameter help incorrect"
### Report

Unless I'm reading this wrong, we state that `-Force` has to be used with `KillActiveConnection`:

https://github.com/sqlcollaborative/dbatools/blob/08b9fbafbd749be5d1ae5827cb26c490f21d4e9c/functions/Copy-DbaLogin.ps1#L63-L64

Checking where that parameter hits though we are not checking if `-Force` was provided.

https://github.com/sqlcollaborative/dbatools/blob/08b9fbafbd749be5d1ae58

[2021-07-07 02:16] potatoqualitee commented on #7506
Agreed, it doesn't need to be tied to force

[2021-07-07 02:19] wsmelton commented on #7506
Fix for this issue is removing the reference to `-Force` in the verbose and parameter CBH.

[2021-07-07 02:48] wsmelton commented on #1824
A starting point @potatoqualitee

https://gist.github.com/wsmelton/236d12e907f18359adeff57acb512371

I have really no idea how to add a blog post to the site being hosted on GitHub.

[2021-07-07 02:50] wsmelton commented on #1824
We can probably create this issue on the doc site now that it is hosted on GitHub if needed. Closing this one for now though.

[2021-07-07 02:50] #1824 closed

[2021-07-07 03:00] wsmelton commented on #918
Not sure of the possibility on this one. The query Grant has for that `QueryCost` table does not actually work for me on 2019, throws an error on max depth of XML nodes.

Query: https://www.scarydba.com/2017/02/20/estimated-costs-queries/

Which I believe plans have changed in some versions to add more detail so not sure a query to hit the XML of the execution plans would be doable in a clean mann

[2021-07-07 03:02] wsmelton commented on #1913
Closing, if we want to revisit can open a new issue.

[2021-07-07 03:02] #1913 closed

[2021-07-07 03:04] wsmelton commented on #1005
I'm not really seeing likelihood of this command coming to fruition. I have not seen anyone asking about it and it is unique, environmental setup to need an SPN for a listener as well. Not sure we could build an setup to fully develop it properly.

[2021-07-07 03:07] wsmelton commented on #1137
Replication objects are a black hole for most of us, let alone trying to figure out how RMO is used for the task. Right now this is not on the roadmap to support. If we come back around to it a new issue can be created.

[2021-07-07 03:07] #1137 closed

[2021-07-07 03:09] #2220 closed

[2021-07-07 03:15] potatoqualitee commented on #1005
this one seems kind of fun, tho. once windows 11 comes out, im gonna swap machines and setup use OftenOn to test AG stuff https://codykonior.github.io/OftenOn/

[2021-07-07 07:58] jdelombaert opened #7508 "New/Set-DbaAgentSchedule - can't set FrequencyType to Daily and a recurrence interval of X day(s)"
Via SSMS you can set a schedule with a FrequencyType of Daily and an a recurrence of X day(s).
If I try to set this via the New/Set-DbaAgentSchedule cmdlet, it always uses 1 day of recurrence for Daily.

Example:
New-DbaAgentSchedule -SqlInstance INSTANCENAME -Job 'JOBNAME' -Schedule 'SCHEDNAME' -FrequencyType Daily -FrequencyInterval 5 -StartTime 131313 -Force

Result should be: Occurs every 5 da

[2021-07-07 08:07] andreasjordan commented on #1005
This project looks very interesting - but is a bit stale. And it needs specific versions of some modules:
[code]

[2021-07-07 08:19] potatoqualitee commented on #1005
I've run it before and it worked without a hitch. I literally just executed just one command and my lab was all setup 45 mins later. It even downloaded the ISOs I needed 🤩  One of the coolest projects I've played with. I think he added sql 2017 a while back.

[2021-07-07 10:32] potatoqualitee commented on #7508
Thank you, I'll ask @sanderstad to take a look

[2021-07-07 11:57] AdieBe opened #7512 "Update-DbaInstance Authentication error"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
[code]

#### Expected Behavior
I expected that my account would be used top successfully authenticate to access the files in the local share.
The account I am using to authenticate is a local admin account, and was used to create the share.

T

[2021-07-07 14:14] potatoqualitee commented on #6896
@PowerDBAKlaas - I'm revisiting this functionality now and that is as designed. Tenant uses SqlCredential for clientid and secret, as all 3 are required when the connection is not coming from azure. We do have a `-Tenant` flag that you can use in lieu of using configs, otherwise you will indeed have to set Tenant to null.

I'm looking into MFA now 🥳

[2021-07-07 14:20] potatoqualitee commented on #1824
yeah i need to finish migrating to GH instead of the kludgy way i did it. that is on the agenda by end of year. sorry for the hold up.

[2021-07-07 14:52] potatoqualitee opened #7513 "[Bug] Need to remove instances of ::new()"
Hopefully this can be replaced with `ArgumentList`
![image](https://user-images.githubusercontent.com/8278033/124781436-b062cd00-df43-11eb-894d-c77e42adb02f.png)

[2021-07-07 19:13] sanderstad commented on #7503
@ClaudioESSilva  Can you include the config you're using?

[2021-07-07 21:12] mcascone opened #7514 "[Bug] Invoke-DbaQuery not using SqlCredential with windows login in PowerShell 7"
### Report
`Invoke-DbaQuery` does not use the `-SqlCredential` param in PS7

#### Host used

- [x] powershell.exe
- [x] ISE
- [x] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

This command works in PS 5.1:
[code]

It does NOT work in PS7:

[code]

#### Expected Behavior

dba query succeeds exactly like in PS 5.1

#### Actual Behavior

I get an auth er

[2021-07-08 05:23] saxet77 opened #7515 "[Bug]: Get-DbaDbBackupHistory (Break in LSN chain)"
### Report

#### Host used

- [ ] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]
#### Steps to Reproduce
[code]
Restore Script provide by SSMS 'Restore/Database/Script'

#### Actual Behavior

Restore Script provide by DBATools (missing 1 log file)

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

###

[2021-07-08 05:26] saxet77 commented on #7515
Expected Behavior
RESTORE DATABASE [TODELETE] FROM  DISK = N'\\oddo.fr\db_bck\TH3-DB-BCK\SQL\VOL_S2_MSB_SQLBCK_L21\XDATLWMUT0105$X_BOX_FR105_1\Database1\FULL\20210706\XDATLWMUT0105$X_BOX_FR105_1_Database1_FULL_20210706_222601_1.bak',  WITH  FILE = 1,  NORECOVERY,  NOUNLOAD,  STATS = 5
RESTORE LOG [TODELETE] FROM  DISK = N'\\oddo.fr\db_bck\TH3-DB-BCK\SQL\VOL_S2_MSB_SQLBCK_L21\XDATLWMUT0105$X_BOX_FR

[2021-07-08 05:27] saxet77 commented on #7515
Expected Behavior generate from the SSMS 'Database/Restore/Script'

Actual behavior generated by DBATools (seems missing 1 log file)

[2021-07-08 09:25] andreasjordan commented on #7232
What about not having this message as a warning? Is it really a warning that this feature is already enabled?
So I now think that the solution in this special command is to move the message from WARNING to VERBOSE.
For a more general solution: Maybe my implementation of getting messages from the scriptblock in Set-DbaNetworkConfiguration is a good role model?

[2021-07-08 12:54] andreasjordan commented on #7514
Can you please try that with the new code path for connections? Enable it in that session with:
Set-DbatoolsConfig -FullName sql.connection.experimental -Value $true

[2021-07-08 12:58] andreasjordan commented on #7512
If -Path is a network share, the access is tested from the machine executing the command. Please use a "normal" local Path starting with a drive letter - then the test is skipped.

[2021-07-08 13:25] andreasjordan commented on #7508
It is always set to 1:
https://github.com/sqlcollaborative/dbatools/blob/d81f07cc176102dda4c48ae620953d0f62ed3cb6/functions/Set-DbaAgentSchedule.ps1#L217-L227

[2021-07-08 13:28] saxet77 commented on #7515
![Capture d’écran 2021-07-08 à 15 20 56](https://user-images.githubusercontent.com/29759165/124929060-7b688000-e000-11eb-875b-643aaa769d81.png)

Include the msdb..backupset table extract for the database/log backup LSN.
DatabaseBackupLSN are the same for the backup database and the missing backup log.
Peharps it's the problem ...

[2021-07-08 13:58] wsmelton commented on #7232
Yeah I'd say in ScriptBlocks we only use verbose messages to allow user to still control that side.

[2021-07-08 14:02] andreasjordan commented on #7232
Then I'll open a PR to change WARNING to VERBOSE.

Then later on we can discuss changing all the verbose messages inside of script blocks to just collect them in an array and pass it out. Then we can use our message framework to display them.

[2021-07-08 14:26] mcascone commented on #7514
Sorry, but that didn't change anything:

[code]

[2021-07-08 14:30] wsmelton commented on #7232
There is not very easy and clean way to capture verbose messages. They are not treated the same as error and warning messages.

[2021-07-08 14:36] andreasjordan commented on #7514
What type is $sqlservers? Is it a string? Or something you got from Connect-DbaInstance?
Does `Connect-DbaInstance -SqlInstance $sqlservers -SqlCredential $cred` work?

[2021-07-08 14:54] andreasjordan commented on #7515
Currently I can not reproduce this. I just had a look at the code: BackupDatabaseLSN is not used.

[2021-07-08 14:55] andreasjordan commented on #7515
Does it return the correct script if you don't use -RestoreTime?

[2021-07-08 15:04] andreasjordan commented on #7515
If you look at $ListBackupFile - the file is missing already there - correct?

[2021-07-08 15:09] andreasjordan commented on #7515
Sorry for all the messages - I think I found the problem...

[2021-07-08 15:37] andreasjordan commented on #7515
@saxet77 - Can you please verify that you get the correct result from `Get-DbaDbBackupHistory` if you add `-IncludeCopyOnly`, so using `$ListBackupFile = Get-DbaDbBackupHistory -SqlInstance Server1 -Database Database1 -last -IncludeCopyOnly`?

@Stuart-Moore - Can you tell me more about this part?
https://github.com/sqlcollaborative/dbatools/blob/d81f07cc176102dda4c48ae620953d0f62ed3cb6/functions/G

[2021-07-08 15:49] andreasjordan commented on #7515
About your situation:
The full backup finished after the log backup started, but before the log backup finished. That's why the missing log backup has a different DatabaseBackupLSN than the other log backup and then CheckpointLSN of the full backup.
Because of that, the missing log backup is not been taken into account.

[2021-07-08 16:02] mcascone commented on #7514
`sqlservers` is just a string:

[code]

similar result with the `Connect` cmd: works in 5, fails in 7:
[code]

[2021-07-08 16:09] andreasjordan commented on #7514
So the account in $cred is an AD account? In that case the powershell session is not able to switch the security context before connecting with integrated security. So this might be an issue with the way powershell is installed or started. There is not much we can do about this.
As a workaround you can try to run powershell "as different account" and use the mydomain\my-service-account - have you

[2021-07-08 16:27] mcascone commented on #7514
I'm not sure I understand. It works perfectly in PowerShell 5, with the explicitly set `SqlCredential`. Why doesn't the same command work in PowerShell 7?

[2021-07-08 16:31] andreasjordan commented on #7514
Ok, I will go into detail. But first confirm, that $cred holds a domain account. Correct?

[2021-07-08 16:32] mcascone commented on #7514
Thanks. Yes, it's an AD account.

[2021-07-08 16:41] andreasjordan commented on #7514
So $cred holds username and password. Inside of Connect-DbaInstance (you can have a look at the source code) we store these information in the SMO (Server Managed Object - a class inside of a dll from Microsoft) to handle the connection.

The thing with connecting as anonther domain account is: The username/password is not transfered to the computer with the instance, but instead inside of your po

[2021-07-08 16:44] mcascone commented on #7514
So since it works in 5 but not in 7, are you suggesting I should log an issue against [PowerShell 7](https://github.com/PowerShell/PowerShell)?

[2021-07-08 16:46] andreasjordan commented on #7514
It's maybe not PowerShell itself but the SMO. Let's wait if @wsmelton has an idea.

[2021-07-08 17:42] #7232 closed

[2021-07-08 17:45] mcascone commented on #7514
I just noticed this: Is it correct?

[code]

[2021-07-08 17:47] andreasjordan commented on #7514
Don't know, @potatoqualitee - please have a look.

[2021-07-08 17:48] potatoqualitee commented on #7514
That is indeed correct. One is our DLL and one is our module.

This seems like an SMO Core issue, which would not be a PowerShell team issue but rather the sql server team at https://github.com/microsoft/sqlmanagementobjects.

There's a new version of SMO coming out likely within the next 24 hours, so we'll take another look once that's been released.

[2021-07-08 17:58] mcascone commented on #7514
I really appreciate your attention to this!

[2021-07-08 22:39] wsmelton commented on #7514
The `Invoke-DbaQuery` function depends on the Connection Context being passed to `Invoke-DbaAsync` which is an internal function. The server connection we create contains that property. We take the connection created by `Connect-DbaInstance` for this purpose:

https://github.com/sqlcollaborative/dbatools/blob/35fa1b5884a9a8b9108cb5306f487c07f094b350/functions/Invoke-DbaQuery.ps1#L352-L373

The `Co

[2021-07-09 04:33] saxet77 commented on #7515
@andreasjordan to answer your questions :
- Without the -RestoreTime same problem
- The missing log file is present in the $ListBackupFile
-  Same problem with -IncludeCopyOnly

[2021-07-09 05:25] saxet77 commented on #7515
@andreasjordan, I will use -IncludeCopyOnly in my script.

You think it's need a fix on the Get-DbaDbBackupHistory cmdlet ?

[2021-07-09 05:57] andreasjordan commented on #7515
Yes, we have to fix Get-DbaDbBackupHistory. Your case (first log backup started before full finishes but finishes after full) is a rare case and thus has not seen in tests until now.
I don't understand the code difference between having IncludeCopyOnly set and not set yet. Buit I see using `-IncludeCopyOnly` as a workaround for you and I will try to find time to dig deep into that or maybe @Stuart

[2021-07-09 07:23] saxet77 commented on #7515
@andreasjordan

I remade my tests and put you on the wrong issue:
- Get-DbaDbBackuphistory always return the "missing" log file with or without -IncludeCopyOnly parameter

but error is in the restore script generation command :

$RestoreScript = $ListBackupFile | Restore-DbaDatabase -SqlInstance YDATLWTST0030 -DatabaseName TODELETE -RestoreTime '2021-07-07 01:17:15' -WithReplace -OutputScriptOnly

[2021-07-09 07:57] andreasjordan opened #7518 "Connect-DbaInstance - Use SqlCredential to login as a service principal"
Starting with 1.0.170, it is again possible to connect to an Azure SQL Database with a service principal.
At the moment, the code uses `-Tenant` to get the tenant id and `-SqlCredential` to get the service principal id and the secret.
When using `Connect-DbaInstance` directly, it is no problem to add `-Tenant`, but using other commands that use `Connect-DbaInstance` internally, they only use `-Sql

[2021-07-09 08:09] #1917 closed

[2021-07-09 08:29] andreasjordan commented on #7515
Can you add `-StopAfterGetBackupInformation -GetBackupInformation backupInformation` to the command? Then the variable `$backupInformation` is filled with the backups that would be restored.
I would like to know if the "missing log backup" is included there or not. So to have an idea where it gets filtered out.

[2021-07-09 08:56] potatoqualitee commented on #7514
But wait, I'm confused. How does it work in PS5.1 but not PS7, even with the same code path?

[2021-07-09 08:58] andreasjordan commented on #7514
Maybe inside of the SMO, there are different paths for each PS version?

[2021-07-09 09:03] potatoqualitee commented on #7514
Yeah, I'm wondering if it was changed in Core. If it hasn't been fixed in the next SMO update that we get, I'll file a bug.

[2021-07-09 09:31] andreasjordan commented on #7508
We have two problems here:
* New- and Set- are not aligned in the way they test for valid FrequencyInterval when FrequencyType is Daily.
* The validate set for FrequencyInterval limits the number of days when FrequencyType is Daily.

So lets start with the later one and discuss what we want as valid options.

The parameter is defined in New- as:
[code]

The parameter is defined in Set- as:
[code]

[2021-07-09 09:43] andreasjordan commented on #7508
Is maybe "ArgumentCompleter attribute" a way?
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions_advanced_parameters

[2021-07-09 10:23] potatoqualitee commented on #7508
ArgumentCompleter can work, but that's for newer versions of PowerShell, so in this case, we use our internal TEPP to ensure it works with psv3.

That would be done in the `#region Explicit TEPP` region of `insertTepp.ps1` with `Register-DbaTeppArgumentCompleter`

[2021-07-09 12:07] wsmelton commented on #7514
https://github.com/sqlcollaborative/dbatools/blob/35fa1b5884a9a8b9108cb5306f487c07f094b350/internal/functions/Invoke-DbaAsync.ps1#L143-L156

[2021-07-09 12:10] andreasjordan commented on #7514
But that is only used with `-As PSObject` or `-As PSObjectArray`.

[2021-07-09 12:12] wsmelton commented on #7518
How will you know you need to use a token and the tenant to connect to every Azure SQL service? If I'm in a federated Azure AD I can login to Azure SQL using `domain\username` or `username@domain` format as well. What decides which way to go?

[2021-07-09 12:15] wsmelton commented on #7514
`Invoke-DbaAsync` does not have the physical ability to use a SQL Connection with a Windows Account. SqlClient itself does not support it and the internal command is not using anything with SMO.

[2021-07-09 12:17] andreasjordan commented on #7518
If you have a username and password - everything works like before.

Only if you don't have that but only an ID-Secret-Combination for a service principal - then you have to get a token. I just want to change the way to get this token.

[2021-07-09 12:21] andreasjordan commented on #7514
Maybe `Invoke-DbaQuery` / `Invoke-DbaAsync` need an update to better handle connections. It is on my list as soon as we only have the new code path in `Connect-DbaInstance` - so maybe later this year.

[2021-07-09 12:26] saxet77 commented on #7515
the $backupinformation variable own the "missing" log file take at 20210707_004018
<img width="1622" alt="Screenshot 2021-07-09 at 14 21 42" src="https://user-images.githubusercontent.com/29759165/125077496-74ee0d00-e0c1-11eb-9345-bb45ccbe211f.png">

[2021-07-09 12:35] andreasjordan commented on #7515
So here the $FilteredBackupHistory (that is what is in your $backupinformation) is still including the "missing log backup":
https://github.com/sqlcollaborative/dbatools/blob/879021234ae8730f4550d75f1ee43397b6b673a7/functions/Restore-DbaDatabase.ps1#L705

`Test-DbaBackupInformation` is then building an internal `$DbHistory` which is passed to `Test-DbaLsnChain` and failes there because of the miss

[2021-07-09 12:38] andreasjordan commented on #7515
Can you please run the command that fails with `-Verbose` - maybe that output helps us.

[2021-07-09 14:03] potatoqualitee commented on #7514
🤔  I wonder if Microsoft.Data.SqClient supports it!

[2021-07-09 14:07] niphlod commented on #7514
IMHO it either never works or it works. It's true that sqlclient doesn't support creating a connection impersonating a different user, but technically we do something a little bit different, which is to pass sqlcommand an already opened connection. Is it documented as supported ? not really. But, again, it either works or it doesn't, can't be a "spotty" pattern where for some it works and for othe

[2021-07-09 14:19] wsmelton commented on #7514
Yep, and to really know why there is a difference between Windows PS and PS 7 would require internal knowledge of many things MS will never share with us 😁

[2021-07-09 14:25] potatoqualitee commented on #904
I can convert this to a discussion, but I want to keep it all in one place at least for the reminder.

[2021-07-09 14:33] potatoqualitee commented on #7518
I am hesitant to change something that we've had since 1.0 and would prefer keeping it as is.

Storing the tenant is useful and requires a very intentional registration to make it permanent. I disagree with Klaas' objection and believe the end-user should null it out either in the config or in the params. Alternatively, we can take advantage of `AuthenticationType` and add `SqlAuthentication` and

[2021-07-09 14:45] potatoqualitee commented on #7518
Alternatively, we can evaluate $SqlCredential.UserName for GUID format and if Tenant config + GUIDy Username, then use an AccessToken. If Tenant is a bound parameter, always use SqlCredential for a token.

COPILOT IS SO AWESOME. It just suggested this for me

![image](https://user-images.githubusercontent.com/8278033/125096004-0450eb80-e0d5-11eb-97a7-f2a857730983.png)

[code]

[2021-07-09 15:32] saxet77 commented on #7515
$RestoreScript = $ListBackupFile | Restore-DbaDatabase -SqlInstance YDATLWTST0030 -DatabaseName TODELETE -RestoreTime '2021-07-07 01:17:15' -WithReplace -OutputScriptOnly -ReplaceDbNameInFile -TrustDbBackupHistory -Verbose; #-StopAfterGetBackupInformation -GetBackupInformation backupInformation

[restore-dbadatabase.verbose.txt](https://github.com/sqlcollaborative/dbatools/files/6792439/restore-db

[2021-07-09 15:46] mcascone commented on #7514
I really, really appreciate the deep dive into this and all the attention you all have paid to it. Where does all of this leave us?
- L144 from [@wsmelton's post](https://github.com/sqlcollaborative/dbatools/issues/7514#issuecomment-877139171) looks very much like a possible cause.
- Does PS7, SMO, or somewhere else need an issue logged for this?
- Do we need to wait for it to get to the top of @a

[2021-07-09 15:59] andreasjordan commented on #7515
Thanks for the verbose output - but I still don't see where the log backup gets filtered out. We have to wait for @Stuart-Moore - maybe he has an idea.

[2021-07-09 16:00] andreasjordan commented on #7514
L144 is not executed in your case...

[2021-07-09 16:02] andreasjordan commented on #7514
If `Connect-DbaInstance -SqlInstance $sqlservers -SqlCredential $cred` does not work, the issue has nothing to do with `Invoke-DbaQuery`.

[2021-07-09 16:24] mcascone commented on #7514
What I mean is, there's a difference in the code for PS5 and PS7.

[2021-07-09 16:36] wsmelton commented on #7514
L144 won't apply based on the example command you are running @mcascone. It is only when you are using the `-As` object.

If you run the example code I provided you can see if the Connection object in PS7 is not showing you the `ConnectAsUserName`. As Simone noted it has done this process from day one, very likely it has never worked in PS7 and likely never will.

The workaround for PS7 if you nee

[2021-07-10 07:28] potatoqualitee commented on #7514
@andreasjordan has been making a lot of advancements with the way he connects to SQL Server. I've got faith we can figure this out but it may take some help from Microsoft if it's a bug fix. I'm still waiting for the new SMO to be published.

Until then, another potential workaround is to use `$server.Query()`

[code]

That should work unless you've got some advanced parsing in your scripts.

[2021-07-10 11:58] andreasjordan commented on #7514
As `Connect-DbaInstance` is the failing part (https://github.com/sqlcollaborative/dbatools/issues/7514#issuecomment-876559833), `.Query()` is not a possible workaround.
Only possibility I see is starting the session using the target account (https://github.com/sqlcollaborative/dbatools/issues/7514#issuecomment-877312474).

[2021-07-10 12:03] wsmelton commented on #7514
If the user need for the run as doesn't have access to master then the login attempt will fail. Was it tested with specifying the database when you run connect command?

[2021-07-10 16:15] Stuart-Moore commented on #7515
@andreasjordan
DatabaseBackupLSN is the LSN of the last 'real' full backup taken before the current backup was taken.

CheckpointLSN is usuallly the same as FirstLSN and is the LSN to which the backup would be restored to. It's rare to not have them be the same but it can happen

Reading those 2 lines I can't remember why they're different. Again, i expect it was another edge case that cropped up

[2021-07-10 19:02] mcascone commented on #7514
Yes, I specify the database name in the command.

[2021-07-11 02:24] wsmelton commented on #7513
Why is there a need to remove these references? I can tell you the use of that in `Invoke-DbaQuery` has no replacement using a parameter like `-ArgumentList`.

Is there some reason this syntax needs to be removed?

[2021-07-11 09:43] #7518 closed

[2021-07-11 10:25] andreasjordan commented on #5895
With that latest version, it does now - so I will close this.
We don't have an example for that, because Set-DbaPowerPlan in running Test-DbaPowerPlan itself to get all the information needed - so this is not the recommanded usage.

[2021-07-11 10:25] #5895 closed

[2021-07-11 10:27] #6896 closed

[2021-07-11 10:33] potatoqualitee commented on #7513
yeah, it isn't supported by psv3 but so far, the other format works!

![image](https://user-images.githubusercontent.com/8278033/125191732-3df43480-e244-11eb-8d1d-5e881b1e93be.png)

[2021-07-11 10:51] Stuart-Moore commented on #7515
sorry, mucked up the Markdown in the last comment. Pleae could you upload:
`$ListBackupFile |  Export-CliXml -Depth 5 -Path c:\somewhere\file.xml`

I can fake something if needed, but having 'real' data will make sure we have a proper test to stop it coming back again

[2021-07-11 12:09] #7506 closed

[2021-07-11 14:46] andreasjordan opened #7525 "Connect-DbaInstance - changing format of $SqlCredential.UserName"
While working on https://github.com/sqlcollaborative/dbatools/discussions/7490#discussioncomment-990420 I wondered why we change "DOMAIN\user" to "user@DOMAIN".

I just copied that from the old code path to the new code path. The old path says:
https://github.com/sqlcollaborative/dbatools/blob/b52e18d5f25d932b1d785589a6ffa0b4fd402541/functions/Connect-DbaInstance.ps1#L1391-L1418

Because in my tes

[2021-07-11 15:01] potatoqualitee commented on #7525
I'm having a hard time remember the specifics, but it may be that it helped with LDAP or SQL on Linux.

[2021-07-11 16:25] saxet77 commented on #7515
Hi Stuart,
No pbl, Let me know if you have all information to your test in the join file.

[ListBackupFile.zip](https://github.com/sqlcollaborative/dbatools/files/6797260/ListBackupFile.zip)

[2021-07-11 16:29] andreasjordan commented on #7514
Maybe that helps finding the root cause: https://github.com/sqlcollaborative/dbatools/discussions/7490#discussioncomment-990420

[2021-07-11 16:39] wsmelton commented on #7525
Ldap and Azure SQL.

[2021-07-11 16:46] potatoqualitee commented on #7514
Ohh, can repro. This will be fun.

![image](https://user-images.githubusercontent.com/8278033/125203327-3b133700-e278-11eb-923c-0e93a13b4281.png)

![image](https://user-images.githubusercontent.com/8278033/125203331-40708180-e278-11eb-9ca2-8ef18296e615.png)

[2021-07-11 16:53] potatoqualitee commented on #7525
So true, some parts of Azure SQL required it too and I like things uniform.

![image](https://user-images.githubusercontent.com/8278033/125203575-3438f400-e279-11eb-96db-92fb3c550061.png)

This conversion does not impact PowerShell Core, btw. Here is the code w/o any transformations, still failing.

[2021-07-11 16:55] potatoqualitee commented on #7525
Weirdly, non-core SMO does not return any TrueLogin

![image](https://user-images.githubusercontent.com/8278033/125203630-7f530700-e279-11eb-869c-099a05d587bc.png)

[2021-07-11 17:03] potatoqualitee commented on #7514
Look what I found! 🤔

[code]

https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlcredential?view=dotnet-plat-ext-5.0

Going investigate

[2021-07-11 17:57] potatoqualitee commented on #7525
Ugh, so close

[code]

![image](https://user-images.githubusercontent.com/8278033/125205368-2176ed00-e282-11eb-8682-58f40946c00a.png)

[2021-07-11 18:14] andreasjordan commented on #7525
This is only for SQL Logins not for integrated security:
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlcredential
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.credential

[2021-07-11 18:19] potatoqualitee commented on #7525
Doh! That makes sense

[2021-07-11 18:25] potatoqualitee commented on #7525
Ahh, turns out this is a limitation of .NET and impersonation is not supported until a super high SMO version ( 161.42121.15-msdata) that it will be pretty hard to get to since I have limited understanding of SMo and how to keep the library smaller the way sqlserver does

https://github.com/microsoft/sqlmanagementobjects/issues/6

[2021-07-11 18:28] andreasjordan commented on #7525
So that is the root cause for #7514.

[2021-07-11 18:28] potatoqualitee commented on #7525
Yep, we'll have to catch an attempt to use another cred + Core and stop function, letting them know it wont be supported for  a whiel

[2021-07-11 18:44] wsmelton commented on #7525
That SMO version is pretty old, from August of last year. The latest release of SMO is `161.46367.54`.

[2021-07-12 08:49] #7513 closed

[2021-07-12 08:49] andreasjordan commented on #7525
As my initial question (Why do we change "DOMAIN\user" to "user@DOMAIN"?) was answered ("LDAP and Azure SQL"), I will close this.
Please put all the information about using windows logins with PowerShell Core here, as this is the related issue: #7514.

[2021-07-12 08:49] #7525 closed

[2021-07-12 08:51] andreasjordan commented on #7514
Will open a PR with a test shortly.

[2021-07-12 09:02] potatoqualitee commented on #7508
I've gone ahead and added and tested it. Note that TEPP has to be loaded during the first time you import dbatools, so after switching to this branch, completely close your powershell then restart.

[2021-07-12 09:03] potatoqualitee commented on #7508
Oh, in the PR I mean, it has not been merged or published

[2021-07-12 15:16] potatoqualitee opened #7527 "[Bug] New-DbaConnectionString breaks at some point"
Something is up here. I'm looking into the differences in connstring between Microsoft.Data and System.Data connstrings and this was the output

[code]

This is true in dev as well.

[2021-07-12 15:32] carpewil opened #7528 "[Bug] Test-DbaWindowsLogin searches by SAMAccountName string instead of ObjectSID"
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

#### Expected Behavior

#### Actual Behavior

### Environmental information

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
Please provide the output of the below script

[code]

#### SQL Server:

[code]

[code]

[2021-07-12 15:33] potatoqualitee commented on #7527
gonna fix this in my SMO branch

[2021-07-12 15:36] carpewil commented on #7528
No error was received, just false-positive results in a few cases where SAMAccountName had changed in AD

[2021-07-12 15:44] mattcargile opened #7529 "[Bug] Reset-DbaAdmin - On Remote Execs Could Not Resolve IP And AddressList.IPAddressToString"
### Report

Remote executions of this cmdlet fail with below.
`WARNING: [23:50:27][Reset-DbaAdmin] Could not resolve SqlServer IP or NetBIOS name | The specified operator requires both the -Property and -Value parameters. Provide values for both
parameters, and then try the command again.` [I think this issue was introduced on Line 197 made within this commit. ](https://github.com/sqlcollaborative

[2021-07-12 16:11] SQLGB opened #7530 "[Bug] DbaDateTime error via Get-DbaRunningJob"
### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce
Run Get-DbaRunningJob against any server with jobs which are running.

#### Expected Behavior
Output with no errors.

#### Actual Behavior
Output with errors.

### Environmental information
#### PowerShell:
[code]

#### SQL Server:

[code]

[c

[2021-07-12 18:00] andreasjordan commented on #7529
Long time ago... - I probably have not tested this very well.

I think we can just use Resolve-DbaNetwokName to replace a lot of lines...

But I found other issues, so this will take some time. Will better test this now.

[2021-07-12 18:22] andreasjordan commented on #7529
Ok, the "other issues" where in my environment. Opened a pull request.

[2021-07-12 18:34] mattcargile commented on #7529
Thanks! I did find when I ran the command locally, I couldn't get the DOMAIN\Group assignment to work either. I had to use a DOMAIN\User. Here is the output. Not sure if I should open another report or not.

![image](https://user-images.githubusercontent.com/74641867/125338177-80397680-e315-11eb-9179-61e026a80f2e.png)

Here is the applicable `$Error`.

[code]

[2021-07-12 20:31] andreasjordan commented on #7529
I will look at that tomorrow. No need to open a new issue.

But google says "it's by design": https://www.google.com/search?q=cannot+use+alter+login+with+the+enable+or+disable+argument+for+a+windows+group

So we would have to catch the error and use a workaround.

[2021-07-12 20:34] andreasjordan commented on #7512
@AdieBe - are you still around? Have you tried a "normal" local path?

[2021-07-13 00:51] potatoqualitee commented on #7530
I cannot repro. Can you close all of your PowerShell sessions and try again and let us know if it continues? And if so, also, can you paste how you're running the command with your server names redacted?

merci

[2021-07-13 02:47] SQLGB commented on #7530
I'm doing some additional testing to see if I can find a commonality between servers in my environment where the error occurs; it seems to happen on some but not all.  I'll share what I find.

[2021-07-13 04:54] SQLGB commented on #7530
I see the issue on 19 of 122 instances in my environment, but haven't yet found what those 19 instances have in common.  I did learn that it doesn't matter if any jobs are running at the time you run the command.  As far as running the command goes, it's just
````Get-DbaRunningJob -SqlInstance MySqlInstance````

[2021-07-13 06:44] andreasjordan opened #7536 "[Bug] dbatools-buildref-index.json - SQL Server 2017 CU10 has wrong KB number"
https://github.com/sqlcollaborative/dbatools/blob/b5a127553f36853c523c17317a92f037e6ee871d/bin/dbatools-buildref-index.json#L4158-L4162

Our build reference lists SQL Server 2017 CU10 as "KB4293805", but it should be "KB4342123".
https://support.microsoft.com/en-us/topic/kb4342123-cumulative-update-10-for-sql-server-2017-2271df58-6742-1587-003c-b697f8da0a71

Can someone please double check?

[2021-07-13 08:17] #7508 closed

[2021-07-13 08:21] #7536 closed

[2021-07-13 08:23] #7529 closed

[2021-07-13 08:25] andreasjordan commented on #7529
Ok, @mattcargile - please open a new issue about DOMAIN\Group. Does not need to be very detailed, just copy you comment with the screenshot.

[2021-07-13 08:26] potatoqualitee commented on #7530
interesting!  🤔  i'll ping @wsmelton to see if he has ideas

[2021-07-13 08:47] andreasjordan commented on #7319
A suggestion: I would like to start with a small group of commands and change from Connect-SqlInstance to Connect-DbaInstance for these. For this I propose all Get-DbaDa* commands. What do you say @potatoqualitee @wsmelton ?

[2021-07-13 08:54] andreasjordan commented on #6817
@FriedrichWeinmann Have you had time to work on this? Can I help?

[2021-07-13 09:45] potatoqualitee opened #7538 "Catch uncaught exceptions"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]
Then here too, researching fix now
[code]
### Steps to Reproduce

[code]
Migrating from 2008 to 2012 on a super old machine running PSv3

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (

[2021-07-13 09:49] andreasjordan commented on #7538
Oh, first issue with the new template. But no lable was set...

[2021-07-13 10:05] potatoqualitee commented on #7538
I researched the PSv3 issue with `Invoke-DbaBalanceDataFiles` and it ran successfully from the command line, so I assume this is just an issue with PSv3 being old.

`[Microsoft.SqlServer.Management.Smo.Database[]]$InputObject = Get-DbaDatabase -SqlInstance sql2012 -Database random-1002356297 -SqlCredential $sqlcredential`

[2021-07-13 13:04] wsmelton commented on #7530
This error would indicate that the query returns multiple job IDs, which when I tested was not happening since a job in SQL Agent can only run one instance of itself at a time. So how that is happening on the 19 servers is intriguing and what would need to be researched (comparing between a good one and one of those 19).

I had it get the job results for all jobs at once to prevent executing a que

[2021-07-13 13:23] potatoqualitee commented on #7530
Worst case, we just do a `| Select -First 1`

[2021-07-13 13:33] SQLGB commented on #7530
I will check some of these things and update soon.  I forgot to mention earlier that this behavior is a recent change in my environment; prior releases of dbatools did not do this.

[2021-07-13 14:06] SQLGB commented on #7530
I ran Shawn's T-SQL query on a number of instances.  When run against any of the 19 affected servers, yes, there are duplicate records with the same JobId.  The duplicate JobId's have different StartDate values from one another or have a StartDate of NULL.  This does not seem to occur on the other servers.

[2021-07-13 14:46] SQLGB commented on #7530
The issue does not occur in versions of dbatools prior to 1.0.171.  I downgraded one of my installations to 1.0.170 and it does not occur with that version.

[2021-07-13 15:05] potatoqualitee commented on #7530
ohh i love the new release system. we can see exactly what was changed between the two https://github.com/sqlcollaborative/dbatools/releases/tag/v1.0.171

[2021-07-13 15:27] potatoqualitee opened #7541 "Sign DLL"
### Summarize Functionality

Ohh we can sign the DLL too, putting that on my todo list

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-07-13 17:18] wsmelton commented on #7530
Do easy fix seems to be adjust filter in the loop to include excluding where start execution is null.

Can add that this afternoon

[2021-07-13 17:30] mattcargile opened #7543 "Reset-DbaAdmin - Cannot use ALTER LOGIN with ENABLE or DISABLE for DOMAIN\Group"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Creating at request of @andreasjordan in [this comment](https://github.com/sqlcollaborative/dbatools/issues/7529#issuecomment-878884504).

When I ran the above command locally, I couldn't get the DOMAI

[2021-07-13 18:17] potatoqualitee commented on #7543
We can probably  just catch that and ignore since it'll be pretty hard to detect if it's a group or not.

[2021-07-13 18:36] mattcargile opened #7544 "Invoke-DbaQuery - SqlInstance Position 0 For ParameterSetNames"
### Summarize Functionality

I discussed a little bit about this in the dbatools slack and I was encouraged by @andreasjordan to create this feature request and, of course, I would love to see this as a feature.

From using many of the cmdlets, I enjoy being able to using SqlInstance/ComputerName as the default first non explicitly defined parameter with a position equal to 0. When I attempt this

[2021-07-13 20:31] potatoqualitee opened #7545 "Connect-DbaInstance, Failed to generate SSPI Context"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

Setup the docker containers from dbatools.io/docker, then execute the following in PowerShell Core
[code]

### Are you running the latest release?

Yes

### Other details or mentions

This was also broken with the old code path *AND* the old SMO

### What PowerShell host was used when

[2021-07-13 20:55] potatoqualitee opened #7546 "Connect-DbaInstance - Property NonPooledConnection cannot be changed or read after a connection string has been set."
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

PS 7 on Windows

### SQL Server Edition and Build number

docker

[2021-07-13 21:17] potatoqualitee opened #7547 "ConvertTo-DbaXESession - Path issue"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

Run this from a Linux pwsh host -- works on Windows

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

ps7

### SQL Se

[2021-07-14 06:45] niphlod commented on #7528
@carpewil : can you please elaborate a bit on the topic ? Are you having laying around the same samaccountname with different SIDs ?

[2021-07-14 09:10] AdieBe commented on #7512
@andreasjordan  yes I am still around - the server I reported this on has since been manually updated, so I will need to find another server to test this on. Please bear with me for a day or 2 on this, thanks.

[2021-07-14 10:17] carpewil commented on #7528
@niphlod Obviously you cannot have multiple accounts with the same SAMAccountName at the same time. Let me provide a couple of situations where the cmdlet provided false positives for orphaned SQL logins. The first was with an AD user account. Our naming convention for SAMAccountName uses a portion of the users last name and a portion of the first name. We have a developer who got married a couple

[2021-07-14 10:48] niphlod commented on #7528
Yeah, gotcha, perfectly clear, thanks a lot for taking the time to explain
your scenario.

Il mer 14 lug 2021, 12:17 carpewil ***@***.***> ha scritto:

[2021-07-14 10:53] andreasjordan commented on #7546
[code]
opens the new connection and thus has to be the last change and not the first made in the copied connection context.

[2021-07-14 12:29] andreasjordan commented on #7545
Ok, I need to setup docker for this - will take some time...

Googleing leads to this most times: https://support.microsoft.com/en-us/topic/how-to-troubleshoot-the-cannot-generate-sspi-context-error-message-03d15ff2-e062-e023-272c-d5cd413c37b3

I'm not the Kerberos expert...

[2021-07-14 12:35] #7547 closed

[2021-07-14 12:51] potatoqualitee commented on #7545
Kerberos only comes into play when Windows Auth is used -- in this case, SQL Auth was used. So the issue will be with SMO or SqlClient 🤔

[2021-07-14 13:00] potatoqualitee commented on #7545
Ohh, the debug was super helpful!

[code]

The connstring changes from username and pass to integrated security

[2021-07-14 13:01] potatoqualitee commented on #7545
YAY, this is an issue with another command, brb

[2021-07-14 13:02] potatoqualitee commented on #7545
This was a problem with the calling command, not `Connect-DbaInstance` 👍🏼 Will fix in a new PR

[2021-07-14 13:02] #7545 closed

[2021-07-14 13:35] potatoqualitee opened #7552 "Commands with potential SQL Auth issues"
### Verified issue does not already exist?

Yes

### What error did you receive?

Commands with potential issue as they were passed `$instance` instead of `$server` and without `-SqlCredential $SqlCredential`

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this erro

[2021-07-14 13:37] potatoqualitee opened #7553 "Check for SSIS Compat"
### Verified issue does not already exist?

Yes

### What error did you receive?

Now that we've got new SMOs, I still need to investigate the change's impact on the SSIS commands before 1.1.0

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (p

[2021-07-14 14:16] andreasjordan commented on #7543
This is the code block that is failing:

``´
if ($pscmdlet.ShouldProcess($instance, "Enabling $Login")) {
	Write-ProgressHelper -StepNumber ($stepCounter++) -Message "Ensuring login is enabled"
	$sql = "ALTER LOGIN [$Login] ENABLE"
	if (-not (Invoke-ResetSqlCmd -instance $instance -Sql $sql)) {
		Write-Message -Level Warning -Message "Couldn't enable login."
	}
}
[code]

[2021-07-14 15:48] Stuart-Moore commented on #7515
Going go need a bit more info please, was concentrating on the restore side to much. Could you dump out the raw backup history for me please? Will need something like:
`Get-DbaDbBackupHistory -sqlinstance x -database y -since '10/07/2021 21:10' | Export-CliXml -path -depth 5 ./some.xml`

Sorry for the delay, time is being eaten up by a large migration atm.

[2021-07-14 16:02] #7552 closed

[2021-07-14 16:19] #7543 closed

[2021-07-14 16:34] potatoqualitee commented on #7514
This one is fixed in dev 👍🏼  will release in about 5 days. it's a whopping library change so i want to make sure it's very tested.

[2021-07-14 16:34] #7514 closed

[2021-07-14 16:40] potatoqualitee commented on #7498
fixed in dev! will release to ps gallery in about 5 days after thorough testing

![image](https://user-images.githubusercontent.com/8278033/125659896-722101fe-9f2c-495d-a5b2-b9066c64943a.png)

[2021-07-14 16:40] #7498 closed

[2021-07-14 16:45] potatoqualitee commented on #6246
This should be fixed with changes in dev, so long as Tenant is not used. If that is not the case once 1.1.0 is released (in about 5 days), please reopen. I've been able to connect to Azure SQL DB no problem with Windows auth.

[2021-07-14 16:45] #6246 closed

[2021-07-14 16:49] potatoqualitee commented on #6210
This is finally fixed in dev! 🥳  will release to PS Gallery in 5 days, after testing

[2021-07-14 16:49] #6210 closed

[2021-07-14 16:49] potatoqualitee commented on #6211
This is finally fixed in dev! 🥳  will release to PS Gallery in 5 days, after testing

[2021-07-14 16:49] #6211 closed

[2021-07-14 18:50] saxet77 commented on #7515
Hi,

Find the compressed .xml file asked from the following command:
Get-DbaDbBackupHistory -sqlinstance XDATLWMUT0105 -database DB_LDW_BHF -since '2021-07-10 21:10:00' | Export-CliXml -depth 5 -path D:\Temp\ListBackupFile.20210714.xml

[ListBackupFile.20210714.zip](https://github.com/sqlcollaborative/dbatools/files/6818296/ListBackupFile.20210714.zip)

[2021-07-15 06:18] andreasjordan commented on #6524
Additional info: The parameter `-MaxValue` of `Invoke-DbaDbDataGenerator` is not used in the code, so this should be added as well.

[2021-07-15 06:22] andreasjordan commented on #6524
I found only one usage of `.MaxValue`:
https://github.com/sqlcollaborative/dbatools/blob/12cde5c5785901ce70627a9a7f2c19e7cc65a184/functions/Invoke-DbaDbDataGenerator.ps1#L375-L384
But this is only used for the datatype "date".
And even here: The value of `$nowmin` and `$nowmax` is only set here and not used outside of this code block.

[2021-07-15 06:27] andreasjordan commented on #6524
Ok, I have a config to test - will provide a pull request.

[2021-07-15 06:41] #7527 closed

[2021-07-15 06:47] potatoqualitee commented on #7544
This seems reasonable 👍🏼

[2021-07-15 07:09] AdieBe commented on #7512
well this is annoying - now all my servers have been patched for this time around (not using dbatools, just the standard installer).
I don't have that many...
I'll most likely need to wait till the next round of applying CU's patching in 2 months to try this out again.
If this issue should be closed in the meantime, please let me know.

[2021-07-15 07:42] andreasjordan commented on #7512
I will close this now, but you can just reopen it if you face the problem again.

[2021-07-15 07:42] #7512 closed

[2021-07-15 09:15] #7538 closed

[2021-07-15 09:58] andreasjordan commented on #6976
I think the key here is the property `.IsLocalHost`. You have already noticed, that `Invoke-DbaAdvancedInstall` does not get `$true` here, but `$false` and thus copies the file. I think because of the used copy mechanism, the file is deleted.

So let's see what `Invoke-DbaAdvancedInstall` does:
[code]

And what is `$ComputerName`? It is `[string]$ComputerName` in the param block of `Invoke-DbaAdva

[2021-07-15 10:23] #7544 closed

[2021-07-15 10:48] potatoqualitee commented on #7318
@FriedrichWeinmann we were able to solve a couple other problems, but this one seems beyond all of us. Would you have time to take a look this weekend?

Thank you 🙇🏼

[2021-07-15 10:50] potatoqualitee commented on #7318
We're doing a 1.1.0 release next Monday and would love to have this fixed. I cleaned up the version mismatch thing btw so that won't be in the module anymore. Also, I upgraded the library to Visual Studio 2019

[2021-07-15 11:25] JPRuskin commented on #7318
I may be wrong (sorry if so), but (for debug, at least) would it work to change this line:

https://github.com/sqlcollaborative/dbatools/blob/90474c562c7696c8957c38e8becbb4ca408f53a8/bin/projects/dbatools/dbatools/Commands/WriteMessageCommand.cs#L348

`WriteMessageCommand` is setting `_isDebug` using `.ContainsKey("Debug")` (which evaluates to true when `-Debug:$false` is used) rather than the val

[2021-07-15 11:53] mcascone commented on #7514
Amazing! What a display of talent and collaboration! Thank you all!

[2021-07-15 12:34] potatoqualitee commented on #7318
Thank you, @JPRuskin ! That was so kind of you. If I don't hear back from Fred, I'll try it out this weekend after a pot or two of coffee 😅

[2021-07-15 12:36] #7530 closed

[2021-07-15 14:11] #7273 closed

[2021-07-15 14:20] #7434 closed

[2021-07-15 14:29] Stuart-Moore commented on #7387
@potatoqualitee @wsmelton  Executive decision time I'm afraid

Would you like me to:
a) Make reality match the documentation
b) Make the documentation match reality?

Option a may well affect users with existing scripts, and as this is the first time it's been raised I'm assuming most people haven't noticed or have just worked around it

[2021-07-15 14:32] potatoqualitee commented on #7387
I'm leaning make docs match reality, how about you?

[2021-07-15 14:37] andreasjordan commented on #7387
I also would vote for "b = just change the documentation".

[2021-07-15 14:40] potatoqualitee commented on #7387
✔️  sweet, let's do that.

[2021-07-15 15:42] Stuart-Moore commented on #7387
great, just double checking reality before comitting

[2021-07-16 07:23] #6976 closed

[2021-07-16 07:39] potatoqualitee commented on #5454
Hello, we now release on a regular basis to GitHub 👍🏼  Each time we release to the PowerShell Gallery, the same build script adds it here as well, so feel free to watch releases only!

[2021-07-16 07:39] #5454 closed

[2021-07-16 07:40] potatoqualitee commented on #918
Thank you shawn, will close.

[2021-07-16 07:40] #918 closed

[2021-07-16 11:43] andreasjordan commented on #3080
@potatoqualitee : As you are creating a lot of new commands at the moment: Can you take my code (https://github.com/sqlcollaborative/dbatools/issues/3080#issuecomment-845136694) and create the command around it?

I would think we only need parameters -SqlInstance, -SqlCredential and -Database, maybe allow piped input from Get-DbaDatabase as well.

[2021-07-16 12:30] andreasjordan commented on #6237
This was fixed some versions ago:

![image](https://user-images.githubusercontent.com/66946165/125947783-ec3fde8d-f920-4c79-ba25-8e942d119a99.png)

So I will close this.

[2021-07-16 12:30] #6237 closed

[2021-07-16 12:37] andreasjordan commented on #6241
@Skodaddy - As #5036 is now solved, can you please retest with the latest version?

[2021-07-16 12:46] andreasjordan commented on #6330
I don't see this message in the current version - so I will close this.

[2021-07-16 12:46] #6330 closed

[2021-07-16 12:52] andreasjordan commented on #7229
Fixed by #7569?

[2021-07-16 12:52] #7229 closed

[2021-07-16 13:13] niphlod commented on #7229
hopefully, it solves the same problem from within instead of from outside.

[2021-07-16 13:25] carpewil commented on #7528
I had found a SQL function that converted the varbinary value that SQL stores for the Windows (AD) SID back to a valid AD objectSID value. I took it and cobbled together the PS function below to convert the value to an AD objectSID which can then be used to for the account lookup instead of the SAMAccountName string value. Im sure there's a more efficient way to write this. But hopefully it helps.

[2021-07-16 13:32] niphlod commented on #7528
theoretically this is already done by SMO, but thanks for the input in case it'll be a problem

[2021-07-16 13:43] potatoqualitee commented on #7229
It does! I have 3 reported failures with just one test! So it tries it again 🥳

[2021-07-16 13:46] potatoqualitee commented on #3080
I can indeed 👍🏼

[2021-07-16 13:58] andreasjordan commented on #5566
@potatoqualitee - What is the issue here? Maybe solved with the new Connect-DbaInstance?

[2021-07-16 15:38] potatoqualitee commented on #5566
@andreasjordan - seems we had to `Connect-DbaInstance` to `Write-DbaDataTable`, will have to check if that is still true

[2021-07-16 16:17] #1936 closed

[2021-07-16 16:19] #1377 closed

[2021-07-16 16:19] #6524 closed

[2021-07-16 21:22] LowlyDBA opened #7574 "[Bug] - Add-DbaAgDatabase's new use of Test-DbaAvailabilityGroup is too aggressive"
### Verified issue does not already exist?

Yes

### What error did you receive?

Availability Group AG_MyDatabase not found on replica [server_b].

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Module Version: 1.0.173

----

It looks like the issue is when `Test-DbaAvailabilityGroup` is called by `Add-DbaAgDatabase` via `New-DbaAvaila

[2021-07-17 09:56] andreasjordan commented on #7574
Hi @LowlyDBA , thanks for reporting this. Will take care of it. Do you have a workaround? Like first building the AG without databases and than run `Add-DbaAgDatabase` after some seconds?

[2021-07-17 09:59] andreasjordan commented on #7574
Best fix would be to change Add-DbaAgReplica to wait for a successful join before returning.

[2021-07-17 13:46] andreasjordan commented on #7574
It seems not a matter of time but of missing SMO refresh. Because the SMO generated by New-DbaAvailabilityGroup is reused with Add-DbaAgDatabase and thus Test-DbaAvailabilityGroup - an up to date status of the SMO is important.

[2021-07-17 17:28] LowlyDBA commented on #7574
That makes sense! Thanks for diagnosing. I was checked out after spending
all day thinking it was something on my infrastructure's end 😅

On Sat, Jul 17, 2021, 9:46 AM Andreas Jordan ***@***.***>
wrote:

[2021-07-17 18:57] #7574 closed

[2021-07-18 09:28] potatoqualitee commented on #7318
I believe this has been addressed by @JPRuskin's changes 👍🏼  We'll be releasing to the PowerShell Gallery in a couple days. Got a few more days of testing.

[2021-07-18 09:28] #7318 closed

[2021-07-18 16:01] Stuart-Moore commented on #7387
PR in to fix this - https://github.com/sqlcollaborative/dbatools/pull/7580 - could you read through the new help section and see if it matches up with how you see the command working just to sense check it please

[2021-07-18 16:45] Stuart-Moore commented on #7515
Think i now have a fix for this, but it's failing a single test.  Need to rebuild my local test rig to work out why.

[2021-07-18 17:37] potatoqualitee commented on #7387
Thank you @Stuart-Moore !

[2021-07-18 19:12] #7553 closed

[2021-07-18 19:12] #7541 closed

[2021-07-18 19:25] potatoqualitee commented on #4916
I like the opt-in ease and safety of this, I'll create this now, to include updating the help

[2021-07-18 20:29] #3080 closed

[2021-07-19 08:13] potatoqualitee commented on #4747
Nah

[2021-07-19 08:13] #4747 closed

[2021-07-19 08:39] potatoqualitee commented on #4647
Combine is awesome! I just passed 5 paths and it combined it beautifully

[2021-07-19 08:48] potatoqualitee commented on #4647
Seems that pwsh on Linux is now more forgiving, well, ever since... 2016?  https://github.com/PowerShell/PowerShell/issues/570

![image](https://user-images.githubusercontent.com/8278033/126131489-6559be5c-f47a-447c-8b47-9c3e05c96123.png)

I'm seeing a lot of command that do work on Linux that use `\`

[2021-07-19 10:54] #4916 closed

[2021-07-19 12:19] potatoqualitee commented on #6454
hey all -- we just updated our SMO a whole major version. We haven't released it to the PowerShell Gallery yet, but if you're able to test with the development branch, that will be helpful to us. I've got some hope that this will be addressed with our major changes.

[2021-07-19 12:40] jesusnac opened #7586 "Set-DbaDbState.ps1 -force failing with restricted permissions"
### Verified issue does not already exist?

Yes

### What error did you receive?

[Edit-DatabaseState] Failed to set 'XXX' to RESTRICTED_USER

Fail come from this bit on Edit-DatabaseState

                if ($immediate) {
                    # this can be helpful only for SINGLE_USER databases
                    # but since $immediate is called, it does no more harm
                    # than t

[2021-07-19 12:41] potatoqualitee opened #7587 "Write-DbaDataTable ignores when Database is in $connstring"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe)

### PowerShell Host Version

Name                           Value
----

[2021-07-19 12:51] potatoqualitee commented on #7587
Oh! That's what I meant here: https://github.com/sqlcollaborative/dbatools/issues/5566 Closing that one since this has more info

[2021-07-19 12:52] potatoqualitee commented on #5566
Figured it out, it's better documented here, closing this one but addressing the issue: https://github.com/sqlcollaborative/dbatools/issues/7587

[2021-07-19 12:52] #5566 closed

[2021-07-19 13:42] potatoqualitee opened #7588 "Connect-DbaInstance - warning is too chatty"
### Verified issue does not already exist?

No

### What error did you receive?

`Additional parameters are passed in, but they will be ignored`

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

$PSVersionTa

[2021-07-19 13:45] potatoqualitee commented on #7588
So the way I'm testing -- `-Database` is being passed in. I can see why it'd be helpful to accommodate anyone who wants to simplify and use `-Database` instead of keeping it in the connstring. Perhaps we can accommodate.

[2021-07-19 13:47] andreasjordan commented on #7588
What do you have in `$connstring`?

[2021-07-19 13:53] potatoqualitee commented on #7588
Connstring has Database, then to get around a parsing issue, I have to force `$PSBoundParameter.Database`. I can see just ignoring in the warning or readjusting the db.

[2021-07-19 13:54] potatoqualitee opened #7589 "ManagementObject commands"
### Summarize Functionality

Maybe this can help on Linux

[code]

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

_No response_

[2021-07-19 13:56] andreasjordan commented on #7588
Ok, will try later today.

[2021-07-19 14:25] potatoqualitee commented on #7588
I'm done with my PR, I'll take are of this request 👍🏼

[2021-07-19 14:42] #7387 closed

[2021-07-19 15:02] mattcargile commented on #7587
I was just looking at this. I was passing in output from `Connect-DbaInstance` into `-SqlInstance`. And the aforementioned cmdlet wasn't picking up the `-Database` parameter passed in through `Connect-DbaInstance`.

Thanks for the report.

[2021-07-19 15:11] potatoqualitee commented on #7587
Should be fixed once my PR gets merged 🥳  I'll test with your use-case as well.

[2021-07-19 15:22] mattcargile commented on #7587
Thanks. I was wondering for the [if block](https://github.com/sqlcollaborative/dbatools/blob/7954aed2054ba708c9eae8e7dd7b151dc3142574/functions/Write-DbaDbTableData.ps1#L215) on `Write-DbaDbTableData`, how is `$server` derived? Does it come from the `[DbaInstanceParameter]`?

[2021-07-19 19:37] #4647 closed

[2021-07-19 20:04] #7587 closed

[2021-07-19 20:05] #7588 closed

[2021-07-19 21:54] potatoqualitee opened #7592 "Remove-DbaAgDatabase - wrong docs"
### Verified issue does not already exist?

Yes

### What error did you receive?

Bad docs

![image](https://user-images.githubusercontent.com/8278033/126232219-f0b287ac-0430-46cf-94df-ebe239b88baa.png)

### Steps to Reproduce

none

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows Power

[2021-07-20 06:13] #7592 closed

[2021-07-20 06:43] potatoqualitee commented on #5678
This is a fun idea! We wrap our commands our @spaghettidba's XESmartTarget, so this would first have to be a request on his repo at https://github.com/spaghettidba/XESmartTarget, then we could add support once he adds support

[2021-07-20 08:27] #7589 closed

[2021-07-20 08:29] potatoqualitee opened #7594 "Get-DbaXESession not parsing Linux paths well"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

Needs a `Test-LinuxOS` or whatever that command is

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

na

### SQL Serv

[2021-07-20 10:43] potatoqualitee opened #7596 "Get-ErrorMessage needs cleanup"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

latest

### SQL Server Edition and Build number

docker

[2021-07-20 10:56] spaghettidba commented on #5678
Hi! XESmartTarget can write to Graylog using a response type like GelfTcpResponse, which writes directly to the graylog server. We also have a [TelegrafAppenderResponse](https://github.com/spaghettidba/XESmartTarget/wiki/TelegrafAppenderResponse) to write to InfluxDb, which is very similar to ElasticSearch on that regard. If you describe the way you would like the data, I can implement it in XESma

[2021-07-20 17:04] #6891 closed

[2021-07-20 17:06] #7596 closed

[2021-07-20 17:26] potatoqualitee commented on #7594
fixed

[2021-07-20 17:26] #7594 closed

[2021-07-20 21:18] MikeLa1234 opened #7598 "Update-DbaInstance doesn't have an option to use -UseSSL"
### Summarize Functionality

 I can not use Update-DbaInstance on Windows 2019 servers.  Additional security is configured that requires WinRM to connect with the UseSSL option.   There is no option available in Update-DbaInstance to do this currently.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-07-20 21:40] nvarscar commented on #7598
We should introduce -UseSSL switch to our internal `Invoke-Command2` function and expose this switch in Update/Install-DbaInstance commands.

[2021-07-21 06:21] andreasjordan commented on #7598
`Invoke-Command2` has `-UseSSL`, which has a default from `Get-DbatoolsConfigValue -FullName 'PSRemoting.PsSession.UseSSL' -Fallback $false`.

So @MikeLa1234 - you can try setting this config with:
[code]

This will live in your session only. To persist it, use:
[code]

[2021-07-21 06:41] potatoqualitee commented on #7428
Yeah, i tried this on a computer with zero SQL and it bails. I'm actually considering `dbatools.replication` and `dbatools.ssis` with their own sets of extra DLLs and libraries. But until then, I did ask for some updated replication commands https://github.com/microsoft/sqlmanagementobjects/issues/59

Shawn you know any non-NDA date of SSMS 19?

[2021-07-21 07:52] #3519 closed

[2021-07-21 08:08] potatoqualitee commented on #5839
sweet, check it out https://github.com/sqlcollaborative/dbatools/releases.atom i'll ping @wsuhoey

[2021-07-21 08:08] #5839 closed

[2021-07-21 08:16] potatoqualitee commented on #5767
I'm not so sure -- ppl seem happy with copy-dbadbtabledata. Maybe this would be copy-dbadbtable instead?

[2021-07-21 08:22] potatoqualitee commented on #3637
I love this and have wanted something similar. I'll work on it.

[2021-07-21 08:25] potatoqualitee commented on #3637
Right now, this is in my Core profile

[code]

Perhaps I can mix and match that with our config tool.

[2021-07-21 08:27] niphlod commented on #3637
yup, found out about psdefaultparameters on 2019.

[2021-07-21 08:27] potatoqualitee commented on #3637
lol, wait we can create two commands to hand hold

[2021-07-21 09:12] potatoqualitee commented on #3665
ohh we did add a progress bar at least. i can see why i keep procrastinating this one. there's a lot of permissions to output, including jobs

[2021-07-21 09:14] potatoqualitee commented on #5277
nah

[2021-07-21 09:14] #5277 closed

[2021-07-21 09:17] potatoqualitee commented on #7135
I don't think we track individual components, unless their version matches up with the SQL Server version. If so, this would be doable and interesting. What you think, @jpomfret ?

[2021-07-21 10:27] #5988 closed

[2021-07-21 12:37] potatoqualitee opened #7601 "Read-DbaXEStream"
### Summarize Command's Functionality'

From https://docs.microsoft.com/en-us/answers/questions/380528/does-microsoftsqlserverxeventxelitexeliveeventstre.html

[code]

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-07-21 12:39] wsmelton commented on #7428
Afraid not.

[2021-07-21 12:39] potatoqualitee commented on #7601
More code, also try against Azure

[code]

[2021-07-21 12:39] potatoqualitee commented on #7601
And against databases

[2021-07-21 13:32] #5541 closed

[2021-07-21 15:30] wsuhoey commented on #5839
OOOOOoooooOOOOOOooooOOOooo :D

[2021-07-21 15:46] Stuart-Moore commented on #7515
Ok, so this is getting annoying. Passes fine locally:
![image](https://user-images.githubusercontent.com/5613670/126518581-1a1cddc8-996b-4bdb-b4df-4db890076e42.png)

But fails in Appveyor.

Trying to rdp in and it appears to not be liking the password.  Is it not just the one in appveyor.yml anymore? (@andreasjordan  or @potatoqualitee  can you help here?)

[2021-07-21 16:32] potatoqualitee commented on #7515
oh sorry, ill msg you on twitter, stuart

[2021-07-21 17:06] potatoqualitee opened #7602 "Connect-DbaInstance - .ctor error on Linux using alt Windows Auth"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

I believe this can be accomplished using `kinit`. I'll try real quick. If it works, we can just detect if `$isLinux` or `$isMacOs` plus Windows Auth attempt and let ppl know to use `kinit`. I'll commen

[2021-07-21 17:29] wsmelton commented on #7602
We can remove the `exe` if needed because it is the same host.

[2021-07-21 19:04] potatoqualitee commented on #7602
To connect as an alternative Windows/AD user, Linux users will have to use `kinit`, which is available from `sudo apt install krb5-user`.

![image](https://user-images.githubusercontent.com/8278033/126544965-68174006-3bb6-4c9e-bc9d-d25010004007.png)

I'll update `Connect-DbaInstance` to catch attempts.

[2021-07-21 19:25] potatoqualitee commented on #7601
this is done! I didnt realize we had Watch-

[2021-07-21 19:25] #7601 closed

[2021-07-21 19:47] potatoqualitee commented on #6488
Yeah, Lumenworks only allows a char as seen here: https://github.com/phatcher/CsvReader/blob/master/code/LumenWorks.Framework.IO/Csv/CsvReader.cs#L36

I'll have to rewrite the whole command with a new library to accommodate a lot of our requests, it's on my agenda but it's pretty tough to do, so it may be a bit.

[2021-07-21 19:56] potatoqualitee commented on #4560
nah

[2021-07-21 19:56] #4560 closed

[2021-07-21 19:57] potatoqualitee commented on #3917
No response and it's years old, so closing.

[2021-07-21 19:57] #3917 closed

[2021-07-21 20:11] #5391 closed

[2021-07-21 20:25] #7602 closed

[2021-07-21 20:33] potatoqualitee commented on #7598
I believe that @andreasjordan's solution is the proper solution for all commands that require SSL, and that we should not add an extra param to `Update-DbaInstance`. I'm open to change, but will close this one as solved.

[2021-07-21 20:33] #7598 closed

[2021-07-21 20:40] potatoqualitee commented on #2300
This is updated on an ongoing basis, as recently as March 24th. But it looks hard to parse.

https://github.com/ktaranov/sqlserver-kit/blob/master/SQL%20Server%20Trace%20Flag.md

[2021-07-21 21:32] potatoqualitee commented on #6241
Considering closed, if that is not the case, please let us know and we can reopen

[2021-07-21 21:32] #6241 closed

[2021-07-22 07:45] #7586 closed

[2021-07-22 07:45] #7380 closed

[2021-07-22 11:18] potatoqualitee commented on #2451
yeah, dave's thing is super specific. I was thinking more about using EMERGENCY mode

https://blog.netnerds.net/2011/07/sql-server-surefire-restore-method-for-connection-hammered-databases/
https://www.sqlskills.com/blogs/paul/checkdb-from-every-angle-emergency-mode-repair-the-very-very-last-resort/

[2021-07-22 11:21] potatoqualitee commented on #2451
I'll close this for now. If anyone thinks it's worthwhile, please feel free to comment.

[2021-07-22 11:21] #2451 closed

[2021-07-22 11:21] #5387 closed

[2021-07-22 12:55] Stuart-Moore commented on #7515
Gah, it's a bug with 2008r2! That's why it works fine for me.

For some reason 2008r2 returns 3 rows of history, others return 4. Both result sets are restoreable though, so that's all that really matters.  will fix up tests and push it back up

[2021-07-22 13:01] potatoqualitee commented on #7515
haha awesome work! 🚒

[2021-07-22 13:05] Stuart-Moore commented on #7515
Yeah, that was confusing the heck out of me. The good news is that the filtering of all back up history is done by select-dbabackupinformation, so we should have consistency between get-dbadbbackuphistory and the restore stack.

@saxet77 Really sorry for the delay on this one.  Would you be able to take this new branch for a spin and see if it fixes your issue. I think it should, but would be grea

[2021-07-22 13:28] potatoqualitee commented on #7515
Thanks, @Stuart-Moore ! I'll wait for your PR to release 1.1.0 💯

[2021-07-22 13:55] saxet77 commented on #7515
Hi @Stuart-Moore, no problem for the delay.
Not very familiar with githup "how can I take this new branch" to validate the fix on my side ?
Thks

[2021-07-22 14:10] Stuart-Moore commented on #7515
I can walk you  through it. Do you have any git experience? You won't need much but just means i know where to target things

[2021-07-22 19:12] potatoqualitee commented on #7515
Is the fix in the dev branch? if so, it can be downloaded from https://dbatools.io/devzip

[2021-07-22 20:14] Stuart-Moore commented on #7515
Not yet. Worst case I can share a one drive link to a zip of the lsnbreak branch.

Sent from a mobile device so apologies for any spolling mistakes

[2021-07-22 20:32] potatoqualitee commented on #7515
Ahh there's the branch! Here's the zip

https://github.com/sqlcollaborative/dbatools/archive/refs/heads/lsnbreak.zip

[2021-07-23 04:18] saxet77 commented on #7515
Thks, got the zip file.
tests in progress ... ;)

[2021-07-23 05:49] potatoqualitee commented on #7515
sweet! looking forward to hearing back

[2021-07-23 07:11] Stuart-Moore commented on #7515
Great, and I’ve learnt a new Github feature as well 👍

Cheers
Stuart
On 23 Jul 2021, 06:49 +0100, Chrissy LeMaire ***@***.***>, wrote:

[2021-07-23 07:27] potatoqualitee commented on #7515
Through the website, you can select the branch, then click on the green button and copy the link from Download zip 👍🏼

[2021-07-23 10:33] potatoqualitee opened #7611 "Get-DbatoolsError"
### Summarize Command's Functionality'

Instead of asking people to do `$error[0]`, we can offer `Get-DbatoolsError` and default to `[0]` or, my fav `Select-Object -First 1`

Then offer `-All`, `-First`, `-Skip`, and `-Last`

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2021-07-23 12:29] #7611 closed

[2021-07-23 13:59] saxet77 commented on #7515
running with the 1.0.173 version and the same problem ;(

PS C:\Users\fblondin_bst> get-module -name dbatools

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.0.173    dbatools                            {Select-DbaObject, Set-DbatoolsConfig, Add-DbaAgDatabase, Add-DbaAgListener...}

[2021-07-23 17:15] potatoqualitee commented on #7515
hey @saxet77  - please close out powershell entirely then `Import-module C:\wherever\to\the\dir\dbatools.psd1 -Force`

[2021-07-23 19:32] wsuhoey commented on #7611
What if we need a few more errors? For example `$error[1]` and `$error[2]`, how would we handle that?
Would `-First` and `-Last` have a numerical parameter along with them? like `-First 3` or `-Last 3` to get the first 3 (oldest) errors in the stack and the last 3 (most recent) errors?

[2021-07-23 23:59] potatoqualitee commented on #7611
Right, @wsuhoey! -First 3 -Skip 1 etc. or -All then post process.

[2021-07-24 08:56] saxet77 commented on #7515
Hi @potatoqualitee ,

I followed your advice and remake my test, but same break LSN error
(providing an export of $ListBackupFile
[ListBackupFile.20210724.xml.txt](https://github.com/sqlcollaborative/dbatools/files/6872133/ListBackupFile.20210724.xml.txt)
)
# Get backup history from the SourceInstance msdb database
$ListBackupFile = Get-DbaDbBackupHistory -SqlInstance xxxxxxxx -Database xxxxxxx -S

[2021-07-24 14:46] potatoqualitee commented on #7515
bummer. thank you for the files, tho. they may be able to help stuart 💯

[2021-07-25 10:09] ClaudioESSilva commented on #7503
Sorry for the delay @sanderstad

Here is the example I'm trying to use.

[code]

[2021-07-26 06:51] fabiopennisifmg opened #7613 "Get-DbaCmObject - PowerShellRemoting with SSL Not Working"
### Verified issue does not already exist?

No

### What error did you receive?

No error, unexpected behaviour.

VERBOSE: [14:50:46][Get-DbaCmObject] Configuration loaded | Cache disabled: False
VERBOSE: [14:50:46][Get-DbaCmObject] [xxx.xxx.local] Retrieving Management Information
WARNING: [14:50:46][Get-DbaCmObject] [xxx.xxx.local] Unable to find a connection to the target system. Ensure the nam

[2021-07-26 07:25] potatoqualitee commented on #7613
hey @fabiopennisifmg - can you confirm that you're using dbatools 1.1.0?

[2021-07-26 07:46] fabiopennisifmg commented on #7613
Hey @potatoqualitee, thanks for reaching out. Yup got version 1.1.0

[2021-07-26 07:47] potatoqualitee commented on #7613
Thank you! I'll ask @andreasjordan to take a look.

[2021-07-26 09:36] andreasjordan commented on #7613
I was able to recreate the problem. The fix works for me.
As it is only one line you can try to do the change in your local allcommands.ps1 in line 21331 and retest.
Please always open a new PowerShell, as information about failed connections are cached.

[2021-07-26 09:41] andreasjordan commented on #7613
@FriedrichWeinmann - While working on this, I found this as the initial setting:
[code]

So only `CimRM` and `CimDCOM` are enabled, `WMI` and `PowerShellRemoting` are disabled. Can you tell me more about the reason they are disabled?

[2021-07-26 10:33] #7613 closed

[2021-07-26 13:16] potatoqualitee commented on #7243
haha, awesome @wsmelton already wrote this one and it is included in `Start-DbaMigration` as well. Check out `Copy-DbaStartupProcedure`

[2021-07-26 13:16] #7243 closed

[2021-07-26 15:20] andreasjordan opened #7617 "Background runspaces let PowerShell ISE stay in background on GUI close"
### Verified issue does not already exist?

Yes

### What error did you receive?

PowerShell ISE process lives in background after GUI is closed. And so all active SQL Server connection still stay alive until machine is rebooted or manually closed via task manager.

### Steps to Reproduce

To reproduce the issue, you only need to import the module. No other command needs to be run:
[code]

To clos

[2021-07-26 15:55] andreasjordan opened #7618 "TEPP ([Sqlcollaborative.Dbatools.TabExpansion.TabExpansionHost]::Cache) not updated"
### Verified issue does not already exist?

Yes

### What error did you receive?

After initial fill of cache, there seems to be no more updates.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

After we know why the cache is not updated, we should also find a way to update part of the cache:
* Updating database after New-DbaDatabase or

[2021-07-26 16:09] andreasjordan commented on #7617
I added this to dbatools.psm1 and it helped:

[code]

But it is only based on the Notes of the documentation of Remove-Module. Maybe there is a better solution. Maybe other steps are needed as well.

[2021-07-26 16:58] wsmelton commented on #7617
Remove-Module is known to never completely remove a module from the session, the nature of using a module with C# class library. As well, the ISE is a bug in its own right and won't ever be fixed by MS. Hence the reason it should not be used.

[2021-07-26 21:06] FriedrichWeinmann commented on #7613
WMI is plain old Get-WmiObject
Uses the same Tech as CimDCOM, but worse data and different client libraries.
You'd only want to use that if you have .NET Framework trouble. Also won't work on PS6+

PowerShellRemoting is using Invoke-Command to execute Get-WmiObject on the remote host.
This would only be viable if you must use WinRM but the CIM Component on the remote system is unable to talk with

[2021-07-26 23:00] goodrichbl commented on #6587
@andreasjordan a bit late on this, but I ran into same issue with SQL 2016+ product key decode nearly 2 years ago and after a few days of searching ran into a blog/forum post that seems to work for the SQL 2016+ keys I've tried it on.  Sorry I have no documentation of where the original post was from, but here is the "de-code" c# code it contained...

                bool isNKey = ((regBinary[14]

[2021-07-27 01:21] fabiopennisifmg commented on #7613
Hey @andreasjordan,
Yes that fixes it for us. Thanks for looking at it.

To clarify what is happening here...
At present, there is no way to force a call with Get-DbaCmObject to use CimRM with SSL (HTTPS - WinRM port 5986). In my original bug/request (#7473) I incorrectly assumed that the 'psremoting.pssession.usessl' set to true would force the use of SSL and therefore WinRM HTTPS. @wsmelton corr

[2021-07-27 06:19] potatoqualitee commented on #7617
I do agree with Shawn -- we agreed as a team a while back not to support ISE because it's so buggy and funky and no longer supported by Microsoft. However, I am open to merging the pull request.

[2021-07-27 06:22] #7617 closed

[2021-07-27 06:35] potatoqualitee commented on #7613
Thanks for the confirmation! The fix is now included in 1.1.1 💯

[2021-07-27 06:36] potatoqualitee commented on #7613
@ClaudioESSilva -- this will be important to mention in the book.

[2021-07-27 06:51] potatoqualitee commented on #7618
I recall that i asked for caching not to occur because the way we'd implement it is that it would reach back to the server and people were not really happy that we were polling. The best we could offer is to re-poll in commands that change things but that will slow things down for tabbing that people may or may not use. Or perhaps we can set up a config that's the caching temperament like Aggressi

[2021-07-27 06:51] potatoqualitee commented on #7618
Listing as not a bug because it's as designed.

[2021-07-27 08:01] andreasjordan commented on #7618
I opened a draft PR to show an idea that works.

[2021-07-27 08:22] potatoqualitee commented on #7618
I dig! No extra calls back to the db as an added bonus!

[2021-07-27 08:23] potatoqualitee commented on #7618
You may want to consider making it a function with the cache name plus the new value, so it'll be easier to call over and over

[2021-07-27 08:28] andreasjordan commented on #7618
Yes, an internal function would be best. I first wanted to see if this is a way we want to go.
It would be needed in the main New- commands and maybe also in the Remove- commands.
Plus Restore-DbaDatabase.

[2021-07-27 12:12] andreasjordan commented on #6587
That is basically the code we use. Only difference is this `isNKey`. It changes the resulting key - but does not return the correct key.

[2021-07-27 12:39] Stuart-Moore commented on #7515
Take 2. Would you mind taking this new version for a spin. It seems to work on the 'msdb' I've hacked together from the files, but need to know it works with a proper one please

https://github.com/sqlcollaborative/dbatools/archive/refs/heads/lsnbreak.zip

[2021-07-27 14:28] goodrichbl commented on #6587
Interesting..  It has returned the correct key for the SQL 2016+ product keys that we've tried.  I just confirmed also that it returned the correct key for the  registry value you noted on June 16 above.  "The registry value is: 1b 11 00 00 00 00 ac 84 00 a7 d3 62 f2 f3 0b 00"  and it returned PMBDC-FXVM3-T777P-N4FY8-PKFF4 as expected.  Is there a different one you tried that it's failing on?

[2021-07-27 14:31] andreasjordan commented on #6587
Oh, just played a bit with plain PowerShell. Maybe I made a mistake. Do you have only the C# code or PowerShell code also?

[2021-07-27 14:34] goodrichbl commented on #6587
Only in C# currently, but I'll update and give it a try in PS and post results (good or bad) on here afterwards.

[2021-07-27 15:06] saxet77 commented on #7515
Sorry ;(
Same error message with this new version.

[2021-07-27 15:57] andreasjordan commented on #7618
Created Add-TeppCacheItem and used it in:
* Invoke-DbaAdvancedRestore
* New-DbaAgentJob
* New-DbaAgentSchedule
* New-DbaAvailabilityGroup
* New-DbaDatabase
* New-DbaLogin

Next step is to create Remove-TeppCacheItem and use it in the Remove- commands.

Feeback about naming of command and parameters is welcome.

[2021-07-27 16:13] goodrichbl commented on #6587
Sorry busy meeting day, but here is a quick and dirty PS script to demo the decode modifications from either registry or hard-coded numeric array values (sample contains your June 16 encoded values).  Let me know if this works or if you experience other issues, as it is possible it is not 100% accurate.  As previously stated, I did not create the modifications and just used what someone else poste

[2021-07-27 16:48] andreasjordan commented on #7618
Ok, Remove- is added...

[2021-07-27 17:18] potatoqualitee commented on #7618
Nice! What do you think about `Update` instead of `Add`?

[2021-07-27 17:25] andreasjordan commented on #7618
The cache as a whole is updated, but the individual item is added. So I used `Add` and `Remove`.

I would use `Update` if we just pass in `$server` and `Type` and all the items are fetched from the Server SMO.

[2021-07-27 17:52] ClaudioESSilva opened #7623 "E-mail on pii-patterns file with wrong MaskingType and SubType"
### Verified issue does not already exist?

No

### What error did you receive?

No error but the data is not coherent.

[code]

The `MaskingType` property should be `Internet` and the `MaskingSubType` should be `Email`.

Problem here:
https://github.com/sqlcollaborative/dbatools/blob/c9cb67704f5c3c4089309fdf5f91356b42de790a/bin/datamasking/pii-patterns.json#L129-L130

### Steps to Reproduce

[cod

[2021-07-27 21:33] leetrobotz opened #7627 "Error when running 'invoke-dbaquery' in Powershell 7.1.3"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [15:08:38][Invoke-DbaQuery] [Prod2] Failed during execution | Cannot find an overload for "SqlCommand" and the argument count: "2".

InvalidOperation: C:\Program Files\PowerShell\Modules\dbatools\1.1.1\allcommands.ps1:90205
 Line |
90205 |          throw $records[0]
      |          ~~~~~~~~~~~~~~~~~
      |

[2021-07-27 21:34] Tottenham84 commented on #6454
Hey Chrissy,

I've tested the dev branch and I'm still hitting the same error.

Thank you,
Justin

On Mon, Jul 19, 2021, 8:20 AM Chrissy LeMaire ***@***.***>
wrote:

[2021-07-27 23:05] #7623 closed

[2021-07-27 23:25] potatoqualitee commented on #7627
Hey @leetrobotz -- I think something may  be up with your machine. I cannot repro your issue.

![image](https://user-images.githubusercontent.com/8278033/127239930-5ac38c7c-7780-40a0-b1a4-d045274cfd69.png)

Oh, but I also don't use the `SqlServer` module. It does conflict with our own. Make sure you close your pwsh session and only import dbatools so that there won't be a library conflict between

[2021-07-27 23:30] potatoqualitee commented on #6454
Nooooooooo 😭  K, ill submit a PR to add MultiSubnetFailover to our configs like we do with other connect parameters

[2021-07-27 23:42] paschott opened #7630 "Import-DbaCsv not honoring column names for automatic mapping"
### Verified issue does not already exist?

Yes

### What error did you receive?

No errors received, just wrong results

### Steps to Reproduce

[code]
Import-DbaCsv -Path c:\test\test1.csv -sqlinstance localhost -database TestImports -Table TestCsvImport -AutoCreateTable
#  Verify results
Import-DbaCsv -Path c:\test\test1.csv -sqlinstance localhost -database TestImports -Table TestCsvImport -Tru

[2021-07-28 00:26] potatoqualitee commented on #7630
Thanks for the report and detail! Looks like [a lot of work has been done on the command](https://github.com/sqlcollaborative/dbatools/commits/development/functions/Import-DbaCsv.ps1) since 1.0.4, this may take a lil bit to resolve.

[2021-07-28 00:29] potatoqualitee commented on #7623
Thanks Claudio! 🥳

[2021-07-28 02:26] potatoqualitee commented on #7630
jk, found it! the fix will be in tomorrow's release 👍🏼

[2021-07-28 02:29] Tottenham84 commented on #6454
Thank you Chrissy. You're the best! Been following you for many years now.
Amazing what you do for the community.

Justin

On Tue, Jul 27, 2021, 7:30 PM Chrissy LeMaire ***@***.***>
wrote:

[2021-07-28 02:30] potatoqualitee commented on #6454
Thank you, Justin! You made my day 😊

[2021-07-28 06:55] #6454 closed

[2021-07-28 07:20] #7630 closed

[2021-07-28 07:31] potatoqualitee commented on #6553
This is fixed fa sho in v1.1.2

[2021-07-28 07:45] potatoqualitee commented on #7627
gonna close this because im prettttttty sure it's sqlserver. if you continue to have issues, i'll reopen.

[2021-07-28 07:45] #7627 closed

[2021-07-28 08:01] potatoqualitee commented on #7379
hey matt -- please test this code https://github.com/sqlcollaborative/dbatools/pull/7633

[2021-07-28 08:29] potatoqualitee commented on #7198
@ml222 we've changed a bit in remoting since your issue. if you continue to have issues, please let us know and we'll reopen this issue.

[2021-07-28 08:29] #7198 closed

[2021-07-28 08:30] #6962 closed

[2021-07-28 08:44] potatoqualitee commented on #7026
Yeah, I think Encoding will address the issue.

https://docs.microsoft.com/en-us/visualstudio/ide/encodings-and-line-breaks?view=vs-2019

Please test with that and let us know if that doesn't address your issue. If so, I'll reopen this issue.

[2021-07-28 08:44] #7026 closed

[2021-07-28 10:23] #7618 closed

[2021-07-28 13:40] #6853 closed

[2021-07-28 14:03] leetrobotz commented on #7627
Argh, I swear I tested that. We were back and forth on disabling our profiles and installing/importing/upgrading/removing modules all afternoon.
I tried it again in a clean Powershell this morning and it works fine. Sorry.

[2021-07-28 14:16] potatoqualitee commented on #7627
great news for us 😊

[2021-07-28 14:21] #6790 closed

[2021-07-28 18:09] mattcargile commented on #7379
Thanks Chrissy! I'm wondering how best I should test this.

One concern is that `cleanup.ps1` requires dbatools to _not_ be loaded. When `Update-Module` is running, dbatools would be loaded.

Additionally, once I pull down the `clean` branch, I won't be able to update to a future version because I am on a newest version?

Lastly, would a run of `Update-Dbatools` from the cloned `clean` branch upda

[2021-07-28 18:46] mattcargile commented on #7379
It worked great! No issues. My concerns weren't warranted.

[2021-07-28 21:27] potatoqualitee commented on #7379
sweet, good to hear! i couldnt test at all bc i dont have it i installed and i didnt want it to delete my repo. I'll merge 😄

[2021-07-28 21:28] #7379 closed

[2021-07-28 21:28] #7146 closed

[2021-07-28 22:13] #2908 closed

[2021-07-28 22:38] potatoqualitee commented on #6664
Looks like this has been resolved 👍🏼  https://github.com/sqlcollaborative/dbatools/blob/development/functions/Export-DbaLogin.ps1#L499

[2021-07-28 22:38] #6664 closed

[2021-07-28 22:46] potatoqualitee commented on #6594
This issue could be worded more kindly (please leave out things like "no excuses" next time) but the command is good and I'll add it 👍🏼

[2021-07-28 23:04] potatoqualitee commented on #6590
Yeah, it can get complex and ultimately, I tried but I just don't think this is within the scope of the command. I'd recommend a mix of Find-DbaBackup and Remove.

[2021-07-28 23:04] #6590 closed

[2021-07-28 23:11] potatoqualitee commented on #6676
This looks really cool but it's late and I'm not super grasping what is needed. Can you please check out this framework and let me know if it's supported? https://www.nuget.org/packages/CsvHelper/

That one is currently maintained, unlike phatcher and I'm hoping to switch to it when I've got the time.

[2021-07-28 23:53] wsmelton commented on #6676
I use that library in another project, very easy to get going but I don't go indepth with it yet.

https://github.com/thycotic-ps/thycotic.secretserver/blob/291317b288c167bd38ca177dfe77b4f93d008b45/src/Thycotic.SecretServer/cmdlets/logging/StartTssLogCmdlet.cs#L86

[2021-07-29 00:33] potatoqualitee commented on #4601
mmm too many dependencies and not xplat :(

[2021-07-29 00:33] #4601 closed

[2021-07-29 00:36] potatoqualitee commented on #6073
Yeah, upon second thought, I think this is better suited to be handled by choco or winget

[2021-07-29 00:36] #6073 closed

[2021-07-29 00:43] potatoqualitee commented on #3542
sweet, this is done 🔥 🚒

[2021-07-29 00:43] #3542 closed

[2021-07-29 00:45] potatoqualitee commented on #5327
yah, it's done with `-EnableProtocol` 🥳

[2021-07-29 00:45] #5327 closed

[2021-07-29 09:38] #6817 closed

[2021-07-29 10:12] potatoqualitee commented on #920
yeah, So in this case, shawn, it would be `Get-DbaXESession -SqlInstance sql2014 -Session System_Health | Read-DbaXEFile`

[2021-07-29 10:12] #920 closed

[2021-07-29 11:32] potatoqualitee commented on #6661
Thanks for using `Export-DbaInstance` 🥳  I found the SMO reference and added a command + support for Export-DbaInstance. It will be included in the next release sometime this week.

[2021-07-29 12:24] wsmelton commented on #7618
This is a big no-no unless the user has the ability to not allow this to happen. Users that have large environments or flat out don't even care about the cache are going to take a hit on the performance of this command now because we are updating a cache for a server that could have hundreds of databases on it.

A user can also disable TEPP using TabExpansion.Disable but if this internal command d

[2021-07-29 12:25] potatoqualitee commented on #7618
He doesn't do call backs -- he adds and removes single strings. I dig it.

[2021-07-29 12:57] #5901 closed

[2021-07-29 14:47] tboggiano opened #7646 "Change default location backup, data, and log"
### Summarize Command's Functionality'

Change the default locations for backups, data, and logs

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

Here is a sample script for backups:

Add-Type -AssemblyName "Microsoft.SqlServer.Smo"
$server = New-Object Microsoft.SqlServer.Management.Smo.Server($env:ComputerName)
$server.Properties["BackupD

[2021-07-29 17:55] #6015 closed

[2021-07-29 17:56] #6661 closed

[2021-07-29 17:58] #6831 closed

[2021-07-29 18:21] SQLCanuck opened #7649 "Test-DbaTempDbConfig fails when using localhost for instance"
### Verified issue does not already exist?

Yes

### What error did you receive?

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Exception: The target principal name is incorrect --->
                        Microsoft.Data.SqlClient.SqlException: A connection was successfully established with the
                        server, but then an error occurred during

[2021-07-29 19:30] potatoqualitee commented on #7649
hey @SQLCanuck - it looks like you're using Network Encryption and the wrong hostname? Are you forcing network encryption? Can you try it with the name associated with the certificate? ]

[2021-07-29 19:39] SQLCanuck commented on #7649
Hi @potatoqualitee,
Yes we do force network encryption, though it is being executed locally on the server.  The execution will work if I use the server name, however it does work using localhost if I use a version before 1.1.0

[2021-07-29 19:47] potatoqualitee commented on #7649
ah sweet, i think it's because the updated libraries we now use are more mature and less forgiving -- I'm surprised it worked before. I will close this as not a bug and recommend using the required hostname. Alternatively, adding localhost to your certificate SAN may work as well (tho I'm not so sure that'd be recommended if it does work)

[2021-07-29 19:47] #7649 closed

[2021-07-29 19:47] SQLCanuck commented on #7649
@potatoqualitee
Appears this may be a more general regression issue.  I quickly tested Get-DbaDefaultPath and again it fails for localhost when using 1.1.0 or above, but works for version 1.0.173

[2021-07-29 19:49] SQLCanuck commented on #7649
@potatoqualitee  thanks for the information.  May I suggest updating the documentation, as localhost is used in a lot of it, or place a note regarding the limitations when using encryption.

[2021-07-29 19:51] SQLCanuck commented on #7649
I feel that this should work though, as using localhost has no issues via SSMS when locally on the server of course.

[2021-07-29 20:07] potatoqualitee commented on #7649
SSMS is still using the older SMO and we're using the newer SMO, so I imagine SSMS's behavior will change in the future as well when they make the switch.

Ahh yes, from https://productsupport.red-gate.com/hc/en-us/articles/360014370757-The-target-principal-name-is-incorrect

So you can make an initial connection using `$server = Connect-DbaInstance -SqlInstance localhost -TrustServerCertificate`

[2021-07-29 20:14] SQLCanuck commented on #7649
Thank you for all the information and assistance!  In my case I will simply swap the code to use $env:ComputerName in place of localhost.  I was mostly concerned there may have been a regression bug introduced.

[2021-07-29 20:25] potatoqualitee commented on #7649
oh! we already support it

`Set-DbatoolsConfigValue -FullName 'sql.connection.trustcert' -Value $true -Register`

[2021-07-29 21:24] potatoqualitee commented on #7646
Sounds good. this would be `Get-DbaDefaultPath`

[2021-07-30 06:19] QuadmanSWE opened #7651 "Running New-DbaDbSnapshot with an sa account from a linux container on wsl2 against a SQL Server 2019 Express instance on the host runs into a file activation error"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Exception: Error connecting to [host.docker.internal]: A file activation error occurred. The physical file name 'C:/Program Files/Microsoft SQL Server/MSSQL15.SQLEXPRESS/MSSQL/DATA/C:\Program Files\Microsoft SQL Server\MSSQL15.ss' may be incorrect. Diagnose and c

[2021-07-30 06:23] QuadmanSWE commented on #7651
If it is of help in debugging, I can publish the docker image I am running the command on to docker hub and give instructions on how to set it up to express running on the host.

[2021-07-30 07:56] #7651 closed

[2021-07-30 11:42] potatoqualitee commented on #5899
haha what, no

[2021-07-30 11:42] #5899 closed

[2021-07-30 11:44] potatoqualitee commented on #5884
Should we do `[System.Net.WebRequest]::GetSystemWebproxy()` with a config option to disable?

[2021-07-30 11:46] potatoqualitee commented on #6360
ooo this looks fun! i'll take a look

[2021-07-30 11:57] potatoqualitee commented on #6536
Yeah this is a super advanced command in that creating sessions from scratch is near impossible which is why I put a lot of emphasis on our XETemplate commands. Will close because `New-DbaXESession` is only for people who really know what they are doing and won't benefit from any example I can come up with.

[2021-07-30 11:57] #6536 closed

[2021-07-30 11:59] potatoqualitee commented on #6581
@tonyfountain - I'm up for you adding it and asking @Stuart-Moore to perform a code review that ensures each of the downstream commands also have the support

[2021-07-30 12:04] potatoqualitee commented on #7228
I agree with Shawn, this really feels like a two-command scenario. It does seem like people want it, however. So if it can be done well and the PR contains tests, I'm open to a few of us reviewing it and agreeing if it's an ideal implementation. Until then, I'm going to close this issue but if anyone submits a PR, feel free to still reference the issue.

[2021-07-30 12:04] #7228 closed

[2021-07-30 12:10] potatoqualitee commented on #3314
I'm gonna say we are going to let it go 😬

[2021-07-30 12:10] #3314 closed

[2021-07-30 12:11] potatoqualitee commented on #2410
These haven't been updated in years and I'm not sure I understand the value. Closing.

[2021-07-30 12:11] #2410 closed

[2021-07-30 12:12] potatoqualitee commented on #1599
We can use the Xel reader to make stuff pretty now. Maybe I'll do this with my new 💣  Azure Container Instances

[2021-07-30 12:26] andreasjordan commented on #6605
@potatoqualitee - I can open a PR for this. Where do you want the inital config to be set? There are currently some files with "Set-DbatoolsConfig". Do you want a new file for AG config or add it to an already existing file?

[2021-07-30 12:30] andreasjordan commented on #6061
I think I cannot help - will unassign.

[2021-07-30 12:31] andreasjordan commented on #5775
@potatoqualitee What do you think? Maybe I find time to create the command.

[2021-07-30 12:33] andreasjordan commented on #6540
@potatoqualitee - I would like to have your feedback on this.

[2021-07-30 12:41] potatoqualitee commented on #6605
yep, you can open a new AG config, thank you 🙇🏼

[2021-07-30 12:44] potatoqualitee commented on #6061
i'll take a look 👍🏼

[2021-07-30 12:48] potatoqualitee commented on #5775
I'm not so sure about most `Test` commands nowadays because we moved a lot of that functionality into dbachecks. I'm leaning no. @wsmelton, what do you think?

[2021-07-30 12:49] potatoqualitee commented on #6540
yep, seems good to me!

[2021-07-30 12:52] andreasjordan commented on #5775
Oh yes, haven't thought about dbachecks - would also see it there. If someone does not what to install dbachecks, they can use the code from the original post.

[2021-07-30 12:56] potatoqualitee commented on #6520
Yeah, we might revisit this in dbatools 3.0 but RDS presents a challenge because a lot of us that work on dbatools have Azure accounts to test, but not RDS. And azure is also desirable because there's just so much SQL support there. It would be a huge time investment to ensure things work across 3 clouds and my only hope right now is that dbatools 2.0 will support Azure even better.

So closing th

[2021-07-30 12:56] #6520 closed

[2021-07-30 12:58] potatoqualitee commented on #5775
Agreed, will close unless shawn feels strongly about it.

[2021-07-30 12:58] #5775 closed

[2021-07-30 13:02] potatoqualitee commented on #4678
I've considered this type of command a number of times and always think it's best to just use `Get-DbaDatabase -Database` and see if it's null or presents problems. I agree with my past self again today and will suggest that in lieu of a new command 😅

[2021-07-30 13:02] #4678 closed

[2021-07-30 13:28] wsmelton commented on #5775
Not sure about this statement, we have just north of 40 test commands in the module currently. Conversations I've been on at least we have never used dbachecks as the litmus deciding what Test commands we added either.

The general use of Test functions in this module is for the purpose of best practice. We include a Recommended property on most of the ones for this purpose. Those configurations t

[2021-07-30 13:38] wsmelton commented on #6061
This will require moving things around in creating a database because we check for the folder path and directory to be there, we create it if it does not exists or "we can't find it".

To prevent breaking (and confusion) I'd recommend tying this to a set of parameters for Azure Blob Storage:

[code]

[2021-07-30 13:41] andreasjordan commented on #6605
I'm not sure about the parameters of Set-DbatoolsConfig, so can @FriedrichWeinmann please have a look at the linked PR?

[2021-07-30 13:42] wsmelton commented on #1599
Ref #920 that was closed as being the users can utilize `Get-DbaXESession -SqlInstance sql2014 -Session System_Health | Read-DbaXEFile`

Same applies to this, it is the same session to read along with the one for the AG health.

[2021-07-30 17:11] andreasjordan commented on #6498
Hi @potatoqualitee - can you have a look? Thanks.

[2021-07-30 17:12] SQLGB opened #7659 "[Bug] errors with StartDate in Get-DbaRunningJob"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

This is a follow-up to issue #7530.

Not sure if the fix for that was intended to fully or only partially address the issue I have, but I still get lots of errors like those shown below when I run the

[2021-07-30 17:19] andreasjordan commented on #7659
[code]

Maybe `.StartDate` is not `$null`, but `[DBNull]`...

[2021-07-30 17:23] andreasjordan commented on #7659
Or a language issue? What are the locale settings?

[2021-07-30 17:25] andreasjordan commented on #7659
Ok, I had a look at the other issue - it's en-us, so should not be the problem.

[2021-07-30 17:25] SQLGB commented on #7659
Yes, it is us_english.

[2021-07-30 17:34] andreasjordan commented on #7659
The data is based on that query:
[code]
Can you run that and have a look if there are unusual values in [StartDate]?

[2021-07-30 17:35] SQLGB commented on #7659
Here's the output from one server...

[code]

[2021-07-30 17:38] SQLGB commented on #7659
Output from another server...
[code]

[2021-07-30 17:38] andreasjordan commented on #7659
You run the command against a lot of servers. Can you run them one by one to see if you have the problem with all servers?

[2021-07-30 17:39] SQLGB commented on #7659
Yes, I've done that; same results if multiple or single server input.

[2021-07-30 17:39] andreasjordan commented on #7659
Ok, I can't see a problem with the dates...

[2021-07-30 17:40] andreasjordan commented on #7659
Now I see it: We try to convert an array....

[2021-07-30 17:45] andreasjordan commented on #7659
@wsmelton / @potatoqualitee - We filter by `$_.JobId -eq $currentJobId` - but that returns an array and not a single execution. So we would have to add ` | Order-Object | Select-Object -First 1` to get only one. The first? Or the last?

[2021-07-30 17:46] andreasjordan commented on #7659
As some StartDates are way back in history - we like the last one, don't we?

[2021-07-30 17:47] SQLGB commented on #7659
@andreasjordan thanks for the analysis.  Also, thanks for that unrelated fix about cleaning up the ISE environment on close.

[2021-07-30 18:05] andreasjordan commented on #7659
If you can change the allcommands.ps1, you can try to find the line with `$agentJobStartDate =` (this is unique) and change it like in the linked pull request. That would help us to see if the fix works.

[2021-07-30 18:29] SQLGB commented on #7659
I think I correctly edited the allcommands.ps1 file and tested with that edit.

Looks like the change fixes the issue on instances where a job has multiple dates, but on some other instances where NULL is reported for the date, the error (or a similar error) is returned.

Here's the output of your jobs query from earlier from one of these servers will NULL job start dates...
[code]

On those serve

[2021-07-30 18:41] andreasjordan commented on #7659
Ok, removed the test for $null - will add that back in...

[2021-07-30 18:43] andreasjordan commented on #7659
Please test with `$agentJobStartDate = [DbaDateTime]($jobExecutionResults | Where-Object { $_.JobId -eq $currentJobId -and $null -ne $_.StartDate } | Sort-Object StartDate -Descending | Select-Object -First 1).StartDate`.

[2021-07-30 18:43] SQLGB commented on #7659
Testing...

[2021-07-30 18:49] SQLGB commented on #7659
Still getting the invalid cast error.

[code]

[2021-07-30 18:54] andreasjordan commented on #7659
But now we have the [DBNulll]...

Try `$agentJobStartDate = [DbaDateTime]($jobExecutionResults | Where-Object { $_.JobId -eq $currentJobId -and [System.DBNull]::Value -ne $_.StartDate } | Sort-Object StartDate -Descending | Select-Object -First 1).StartDate`...

[2021-07-30 18:55] andreasjordan commented on #7659
I will filter this in the SQL... give me some minutes...

[2021-07-30 18:58] andreasjordan commented on #7659
Ok, have a look at the pull request - there is an new line in the SQL.
This will be my last try today - here in germany it's time for a wine...

[2021-07-30 19:02] SQLGB commented on #7659
The line 162 fix seems to address everything by itself, but I will try with the new line 130 as well.

[2021-07-30 19:08] SQLGB commented on #7659
I added the new line 130 as well, and the results still look good.  Thanks for your time today and have a good evening.

[2021-07-31 00:15] #7659 closed

[2021-07-31 00:29] #6605 closed

[2021-07-31 01:41] #5163 closed

[2021-07-31 05:30] potatoqualitee commented on #6498
Sounds good. Should we add a sane default?

[2021-07-31 08:11] andreasjordan commented on #6498
I would take 60 seconds as the default.

[2021-07-31 12:01] andreasjordan commented on #7504
I copied the functionality from Get-DbaDbSynonym as implementing 3-part-names is more complex.
Please have a look at the pull request and give feedback.

[2021-07-31 13:45] andreasjordan commented on #7500
Was fixed with #7356.

[2021-07-31 13:45] #7500 closed

[2021-08-01 09:47] #6540 closed

[2021-08-01 11:51] ACALVETT commented on #6511
Hi,

Yes i can reproduce on my home Windows 10 by running

`Set-DbatoolsConfig -FullName computermanagement.type.disable.wmi -value $false
Set-DbatoolsConfig -FullName computermanagement.type.disable.cimdcom -value $true
Set-DbatoolsConfig -FullName computermanagement.type.disable.cimrm -value $true

Get-DbaOperatingSystem  |Select-Object LastBootTime
`

Reproduced using Versiob 1.1.5

[2021-08-01 12:02] andreasjordan commented on #6511
@potatoqualitee Can you reproduce this?

[2021-08-02 01:07] bigbearzhu opened #7664 "No Get-DbaBuildReference alias for Get-DbaBuild in latest releases"
### Verified issue does not already exist?

No

### What error did you receive?

Get-DbaBuildReference : The 'Get-DbaBuildReference' command was found in the module 'dbatools', but the module could
not be loaded. For more information, run 'Import-Module dbatools'.

### Steps to Reproduce

Run `Get-DbaBuildReference`

### Are you running the latest release?

Yes

### Other details or mentions

In d