[2018-06-19 12:30] road42 opened #3698 "Set-/Test-DbaDbCompression aborting on SqlServer 2014"
## Steps to Reproduce

[code]

## Expected Behavior

Should compress or test the database.

## Actual Behavior

The commands try to select
[code]
See commit [480d268](https://github.com/sqlcollaborative/dbatools/commit/480d26864eca7cb67b14d2bae27422217c771eb4), but the column only exists in SQL Server 2016++

[code]
## Environmental data

 - PowerShell:
[code]
 - SQL Server:
[code]

[2018-06-19 13:04] jpomfret commented on #3698
Will look into it! Thanks

[2018-06-19 15:48] potatoqualitee opened #3703 "Backup-DbaDatabase wrong url for azure"
Running latest version:

[code]

results in
[code]
need to do a replace on that last \

[2018-06-19 16:41] digitalohm opened #3704 "Restore-DbaDatabase, smarter checks when -MaintenanceSolution is passed"
---
name: Feature request/idea :bomb:
about: Suggest a new feature or enhancement

---

### Summary of new feature

* When there are multiple full backup files in the directory there should exist a flag so that the most recent is the one picked for reading headers.  This is using the -MaintenanceSolution flag.

We've run into the error:

BackupDiskFile::OpenMedia: Backup device '\\a\storage\path\a

[2018-06-19 16:56] Zhunya commented on #3704
Please, can you give us examples in which you got errors in restore process.

We still have one nasty bug in Test-DbaBackupInformation (I maybe wrong on
exact name) some times it's gives errors in LSN chain, but SSMS builds
chain just fine on same files set.

On Tue, 19 Jun 2018, 19:41 Digital Ohm, <notifications@github.com> wrote:

[2018-06-19 16:56] potatoqualitee commented on #3704
`Get-DbaBackupHistory -Last -SqlInstance sql2017 -Database dbatoolsci_agroup | Restore-DbaDatabase -SqlInstance sql2017 -WithReplace` should also work

[2018-06-19 17:52] niphlod commented on #3704
halt. this doesn't reflect what was discussed on Slack. I will try to explain better because it actually makes sense ...

When restore-dbadatabase does not have info from history, but just the path, it resolves to scan each and every file and only AFTER it selects the chain (the process of selection and even the retrieval from msdb history can be buggy or not, but there are definitely other issues

[2018-06-19 18:38] #3703 closed

[2018-06-19 19:13] digitalohm commented on #3704
I'm a little confused here, do you still want me to add my example scenario with error code?

[2018-06-20 08:59] bawedy opened #3709 "Unable to filter DbaDateTime data types with Powershell DateTime data types"
### Before submitting a bug report:

This issue occurred on the latest stable version of DBATools and was also reproduced by Simone Bizzotto

## Steps to Reproduce

`Get-DbaLastBackup -sqlinstance sqlinstance | where-object {($_.LastFullBackup -lt (Get-date).AddDays(-1) -and $_.LastDiffBackup -lt (Get-Date).AddDays(-1)  -and $_.LastLogBackup -lt (Get-Date).AddDays(-1) )}`

## Expected Behavior

I

[2018-06-20 09:38] Zhunya commented on #3704
Please don't add new switch, just change logic in `Get-DbaBackupInformation`
Tрis behavior, with Ola Maintenance Solution and RDD, discussed many times with Stuart, but he refused to implement it.

[2018-06-20 09:40] Zhunya commented on #3683
do this related to #3704 ?

[2018-06-20 10:36] niphlod commented on #3683
yeah, it's related, this as a duplicate. @Tonyw72 , look into #3704 for further updates.

[2018-06-20 10:36] #3683 closed

[2018-06-20 10:37] niphlod commented on #3709
@FriedrichWeinmann , @zippy1981 : is this a shortcoming on Sqlcollaborative.Dbatools.Utility.DbaDateTime ?

[2018-06-20 10:38] digitalohm commented on #3704
so are we saying that we should just use:

Get-DbaBackupHistory -Last -SqlInstance sql2017 -Database dbatoolsci_agroup | Restore-DbaDatabase -SqlInstance sql2017 -WithReplace

or that this issue should be fixed somewhere else?  or that its not an issue?

[2018-06-20 10:49] Zhunya commented on #3704
@digitalohm this is one approach you can use:
[code]

[2018-06-20 12:28] niphlod commented on #3704
we all get there are ways to speed up the process but one of the goodies of PS is (also) in this case to NOT have any recorded backup history whatsoever. There's really no point of having -MaintenanceSolution if you need to scan the whole fileset.

[2018-06-20 15:45] kbullen-nha opened #3713 "Dba-GetOrphanedUser returns message with all servers when unable to connect to a specific server"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

## Expected Behavior

return l

[2018-06-20 18:52] niphlod commented on #3713
nailed it!

[2018-06-20 19:11] niphlod commented on #597
easily solvable via `Invoke-DbaWhoIsActive -SqlInstance foo -FormatOutput 0 | Out-GridView`

[2018-06-20 19:11] #597 closed

[2018-06-20 19:13] niphlod commented on #804
I'd vote for closing this in a few days if nobody pops up. So much has been changed regarding direct access to the underlying system that this is probably already solved. @gbargsley : still having issues ?

[2018-06-20 19:21] niphlod commented on #1002
this would probably need a bit of rework. we have *agentstep* function that deal with agent steps, and introduced within find-dbaagentjob the ability to search for steps.... we would need a find-dbaagentjobstep at this point more than introducing a feature on the "parent" ... Also, dunno if the requirement still stands because right now you can do `Get-DbaAgentJobStep -Sqlinstance foo | Where SubS

[2018-06-20 19:27] niphlod commented on #1224
we track this via code reviews. I think we all don't need a reminder that this a goal for us... feel free to reopen if you feel strongly about it

[2018-06-20 19:27] #1224 closed

[2018-06-20 19:27] niphlod commented on #1083
we got it.

[2018-06-20 19:27] #1083 closed

[2018-06-20 19:38] niphlod commented on #1586
again, tackling this via code reviews. Don't think this should remain opened, but happy to leave it if @potatoqualitee or @wsmelton ping me here :P

[2018-06-20 19:42] niphlod commented on #1585
if this is a rule, can a notepad ++ god like @potatoqualitee go ahead and rename all ? it's not the first massive rename we face. Basically anything in this list ("containing database but not 'ending' in 'database')

`Find-DbaCommand * | where commandname -like '*database*' | where commandname -notlike '*database'`

[2018-06-20 19:45] niphlod commented on #1692
@FriedrichWeinmann : I do not think this is still valid, can you please close this if it has already been solved ?

[2018-06-20 19:47] niphlod commented on #1771
cannot replicate, but feel free to reopen if this happens in the latest release too

[2018-06-20 19:47] #1771 closed

[2018-06-20 19:48] niphlod commented on #1825
@potatoqualitee : this is an easy fix.........

[2018-06-20 19:50] potatoqualitee commented on #1771
also our newest version will give you a far more informative error message

[2018-06-20 19:51] niphlod commented on #1136
not done yet .... maybe @zippy1981 can give a hand here ?

Basically

[Sqlcollaborative.Dbatools.Utility.DbaTime]'08:00'

would need to happen without errors.

[2018-06-20 19:52] niphlod commented on #1880
this was due to bad connection handling in older versions of the module. Closing as I can't replicate it for some time now.

[2018-06-20 19:52] #1880 closed

[2018-06-20 19:57] wsmelton commented on #1586
It was primarily for the commands that had not been updated...fairly sure we got them all but not 100%.

[2018-06-20 19:59] wsmelton commented on #1002
From need I would say it is still there as it was asked about today, mind you for the copy command:

[code]

[2018-06-20 19:59] niphlod commented on #1896
fixed.

[2018-06-20 19:59] #1896 closed

[2018-06-20 20:05] niphlod commented on #1002
that's about copy, and category.  find-dbaagentjob has the -Category parameter.... this issue was about job *steps* and their type

[2018-06-20 20:19] #3713 closed

[2018-06-20 20:35] wsmelton commented on #1002
True dat. We can just close this one.

On Wed, Jun 20, 2018, 3:05 PM Simone Bizzotto <notifications@github.com>
wrote:

[2018-06-20 21:00] zippy1981 commented on #1136
I'll try to find time. It should not be hard.

I think the answer would probably involve `TypeConverter` @FriedrichWeinmann if you want to look at how that works. I mean assuming you can't just make a simple constructor that takes a string and DateTime.TryParse or whatever.

[2018-06-20 21:06] #1002 closed

[2018-06-20 21:06] FriedrichWeinmann commented on #1136
You can do just that Justin, I'd go with the constructor route. Just managed to finish a commission and don't have the head for it tonight, so I'm not going to complain if you pick it up. Otherwise I'll deal with it tomorrow after work.

[2018-06-20 21:37] niphlod commented on #1136
while there take a look also to #3709 , I think is related to DLL code too

[2018-06-20 21:45] FriedrichWeinmann commented on #3709
Ah drat, I friggin' hate that issue :(
Apologies for the hassle, PowerShell has a hardcoded comparison logic for datetime that ... requires some careful workarounds. Basically, order matters when it comes to the operators:

[code]

This will work without an error.
Unfortunately, given that even Bruce Payette couldn't find a way around this, the only way to remove order sensitivity from datetime co

[2018-06-21 08:59] #1216 closed

[2018-06-21 11:01] bawedy commented on #3709
Both, thanks very much for looking into this and for the explanation.
 I'll close the issue now

Thanks again

[2018-06-21 11:01] #3709 closed

[2018-06-21 11:51] SQLDBAWithABeard opened #3718 "Add timestamp to restore-dbadatabase output"
Request at SQLGrillen - Add the start and end times (or duration) to the restore output

Should be easy enough to add to https://github.com/sqlcollaborative/dbatools/blob/development/functions/Restore-DbaDatabase.ps1#L581

[2018-06-21 13:06] Stuart-Moore commented on #3718
Somewhere around here would be better
https://github.com/sqlcollaborative/dbatools/blob/development/functions/Invoke-DbaAdvancedRestore.ps1#L316

Rob's link is just for WITH RECOVERY ;)

remember that you've often gotten > 1 restores per db, so you'd need to
work out what you actually want to return when (ie; for each restore (full,
diff, log), or adding a wrapper container around all the restores

[2018-06-21 18:58] niphlod commented on #1909
is this still valid after the latest additions to the logging framework ?

[2018-06-21 18:58] niphlod commented on #1853
fixed

[2018-06-21 18:58] #1853 closed

[2018-06-21 18:59] niphlod commented on #1957
is this still happening @potatoqualitee  ?

[2018-06-21 19:06] niphlod commented on #1958
@Zhunya : how would you get data from an unaccessible database ?

[2018-06-21 19:06] niphlod commented on #1980
@FriedrichWeinmann : is this still valid ?

[2018-06-21 19:14] niphlod commented on #1998
we do not support the dot notation ATM to identify instances in any command. typing localhost is not that big of a deal and to keep everything "sane" we ruled to avoid this "possibility". Sorry

[2018-06-21 19:14] #1998 closed

[2018-06-21 19:16] niphlod commented on #2064
already fixed, skips unaccessible databases now

[2018-06-21 19:17] niphlod commented on #2064
nope. it skips, but with a warning. PR coming soon

[2018-06-21 19:22] niphlod commented on #2061
closed via https://github.com/sqlcollaborative/dbatools/pull/3296

[2018-06-21 19:22] #2061 closed

[2018-06-21 19:49] niphlod commented on #2074
closed via https://github.com/sqlcollaborative/dbatools/pull/2075

[2018-06-21 19:49] #2074 closed

[2018-06-21 19:50] niphlod commented on #2135
although I feel we still have a long way to go for logging, I'm closing this as it won't probably ever get enough traction since I'm the only "pusher" :P
Thanks all for all the efforts and keeping up with me.

[2018-06-21 19:50] #2135 closed

[2018-06-21 19:51] niphlod commented on #2148
@wsmelton : with all the changes done to our "build system" I feel we can close this now, I can't repro

[2018-06-21 19:51] #2036 closed

[2018-06-21 19:53] #2173 closed

[2018-06-21 19:54] niphlod commented on #2239
@wsmelton : I feel like this can be closed but you're the absolute master of *-dbaspconfigure .... I'll leave you the option ^_^

[2018-06-21 19:56] #2458 closed

[2018-06-21 20:02] #2239 closed

[2018-06-21 20:03] #2148 closed

[2018-06-21 20:05] wsmelton commented on #1909
I'm not aware it has been fixed. On most commands the stop-function calls need to have the Exception flag added and `$_.Exception.InnerException.InnerException.InnerException` so the proper error gets output.

Although just thinking now I think @potatoqualitee did do a commit that changed around how the inner exception is found and output.

[2018-06-21 20:22] niphlod opened #3723 "DbaInstanceParameter should accept '.\instancename'"
related to https://github.com/sqlcollaborative/dbatools/issues/1998

[2018-06-22 12:58] Tonyw72 commented on #3679
There was a discussion on Slack a while back about the -NoDatabase switch for the copy login, just never opened an Issue on GitHub for it

I renamed the file, cleaned up the params and comment header.

[2018-06-22 18:38] Tonyw72 commented on #2909
Just saw this...

I added a -Path parameter to Install-DbaMaintenanceSolution here:
https://github.com/Tonyw72/dbatools/tree/Add-Path-to-Install-dbaMaintenanceSolution

[2018-06-23 08:32] wsmelton opened #3728 "Ola Solution install mismatch on parameters and/or output"
### Before submitting a bug report:

I'm on 0.9.357 and not aware that the command for installing the solution has changed process.

## Steps to Reproduce

[code]
Error states to use `Solution All` and `InstallJobs Create`. If you actually use `-InstallJobs Create` just with the command it is prompting for a credential. So if I use the following I get prompted with a credential prompt where `Creat

[2018-06-25 07:49] fvanderhaegen commented on #3522
I managed to solve the problem by adjusting allcommands.ps1 and to make sure the DAC was made by IP address and not made by dns name.

[2018-06-25 07:53] wsmelton opened #3729 "Get-DbaWaitStatistic - Paul's query was updated"
### Summary of new feature

Additional wait types were added by Paul that can be ignored so the command should be updated to match.

<blockquote>My waits script updated with 5 new wait types to ignore: Wait statistics, or please tell me where it hurts <a href="https://t.co/l4by8NnQIK">https://t.co/l4by8NnQIK</a> <a href="https://twitter.com/hashtag/sqlserver?src=hash&amp;ref_src=twsrc%5Etfw">#sqls

[2018-06-25 10:29] #2528 closed

[2018-06-25 10:34] #2064 closed

[2018-06-25 11:02] #3718 closed

[2018-06-26 07:57] #437 closed

[2018-06-26 18:32] alevyinroc opened #3732 "Get-DbaDBSnapshot errors on dbo.sysdatabases"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior
New DB snapshot cr

[2018-06-26 18:33] alevyinroc commented on #3732
I have the beginnings of a patch but it needs a decision point to distinguish between `sys.databases` (2008+) and `dbo.sysdatabases` (2005)

[2018-06-26 18:59] niphlod commented on #3732
dang! fn_virtualfilestats is not there in 2005 either.

[2018-06-26 19:09] potatoqualitee commented on #3732
those useful error messages tho 😍

[2018-06-26 19:40] potatoqualitee commented on #3732
aw wait that second error message blows 😂 . yay, i needed an example, thank you

[2018-06-27 05:04] #2379 closed

[2018-06-27 05:07] FriedrichWeinmann commented on #2252
Closing this issue, as likely fixed and not enough information to hunt it down if it isn't

[2018-06-27 05:07] #2252 closed

[2018-06-27 05:13] FriedrichWeinmann commented on #2424
It is compliant by now, thank you to all who contributed

[2018-06-27 05:13] #2424 closed

[2018-06-27 07:17] #3729 closed

[2018-06-27 08:33] potatoqualitee opened #3734 "Restore-DbaDatabase and AzureCredential"
I've received two bug reports about the same issue regarding AzureCredential. Anyone have time to take a look? Should be a straightforward fix, prolly.

[code]

[2018-06-27 10:13] potatoqualitee commented on #3732
@niphlod - i found fn_virtualfilestats  worked well in my version of sql2005. @alevyinroc -thanks for reporting this error, im gonna go ahead and submit a PR since i just wrote about it and im eager to resolve.

[2018-06-27 10:33] niphlod commented on #3732
memory failed me, sorry

[2018-06-27 15:52] awickham10 opened #3737 "Get-DbaSqlProductKey - SqlInstances Parameter"
### Before submitting a bug report:
- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior
Return versions onl

[2018-06-27 15:53] awickham10 commented on #3737
Maybe SqlInstances needs to be renamed to ComputerName and a new SqlInstance parameter needs to be added that is more in alignment with the rest of the commands.

[2018-06-27 19:38] awickham10 opened #3740 "Remove-DbaDbSnapshot Force Prompting"
### Before submitting a bug report:
- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior
Remove snapshot, dro

[2018-06-27 19:41] awickham10 commented on #3740
We just updated from 0.9.342 to 0.9.360 and this changed. We were just using -Force, now we have to remove -Force and add -Confirm:$false. I'm not sure if this was expected behavior change or not.

[2018-06-28 11:43] SQLDBAWithABeard opened #3742 "Remove-DbaLogin -Force fails when user is logged in"
### Before submitting a bug report:

- [ X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X ] Verified this bug is not already reported in an issue
- [X ] Verified errors are not related to permissions
- [X ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

As user that needs to be dropped connect t

[2018-06-28 15:05] fvanderhaegen opened #3746 "copy-dbacredential not copying correct password in SQL Server 2016 SP2"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Copy-DbaCredential -Source $sourceInstance -Des

[2018-06-29 15:20] wsmelton commented on #1641
I'm going to close this as no one else has weighed in whether this will be implemented.

I'm more of the belief to use export commands to output the current security in those target databases (in QA) before copying the database over. Once it is copied then you can reapply your logins and users.

Adding that level of function to the the database command is out of scope for me.

[2018-06-29 15:20] #1641 closed

[2018-07-01 15:07] #3742 closed

[2018-07-02 03:38] wsmelton commented on #3746
@fvanderhaegen it is documented in the help on the pre-requisites that have to be in place for this to properly decrypt the password. It is basically a best effort but in most cases we are restricted in making it work 100% of the time.

If you run it from the source machine it generally works properly as it is able to decrypt the password. (e.g. Utilizing `Invoke-Command` would allow you to remote

[2018-07-02 03:40] wsmelton commented on #3737
This is a command that has never had our new standards applied so it needs a large amount of work.

[2018-07-02 03:42] wsmelton commented on #3737
Ha, it is even still using the write commands for verbose, does not use the CMS commands or object type...would almost say that needs to be completely rewritten to utilize more commands and internal functions we have available now... // @potatoqualitee

[2018-07-02 19:05] SQLGB opened #3752 "Build number 11.0.7469 missing from buildref"
## Bug Report

### General Troubleshooting steps

- [x] Verified running the latest release of dbatools?
- [x] Verified errors are not related to permissions?
- [x] Can duplicate in new/clean PowerShell session (clean = `powershell -NoProfile`)?

### Version Information
 - Operating System (Name|Version): Windows Server 2012 R2 Standard
 - PowerShell Version: 5.1.14409.1005
 - SQL Server (Edition|

[2018-07-02 21:57] DrewTittle opened #3754 "Install-DbaMaintenanceSolution fails download step when running against >15-20 instances"
### Before submitting a bug report:

- [x ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x ] Verified this bug is not already reported in an issue
- [x ] Verified errors are not related to permissions
- [ x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

Install agai

[2018-07-02 22:10] frank687 commented on #3754
We should make this act more like the install-dbawhoisactive and allow for a localfile parameter

[2018-07-02 22:43] #3752 closed

[2018-07-03 13:50] ShaunJStu opened #3756 "Export-DbaSpConfigure does not retain original "show advanced options" setting"
Export-DbaSpConfigure always resets the "show advanced options" setting to zero, regardless of what it was set to prior to execution. The cmdlet should not leave the setting in a different state than when it started.

[2018-07-04 00:11] gbargsley opened #3760 "Add a -NoMemory parameter to Start-DbaMigration"

[2018-07-04 00:14] gbargsley opened #3761 "Start-Migration leaves db’s as Readonly on destination"
I have now done 12 migrations with the same parameters and one is -SetSourceReadOnly. While it sets the source read only it also leaves the destination in read only after migration is complete.

[2018-07-04 00:16] gbargsley commented on #3761
Already reported.

[2018-07-04 00:16] #3761 closed

[2018-07-04 10:51] #3704 closed

[2018-07-04 22:53] JanMulkens commented on #2714
Just thanking myself for being awesome and making this a public comment so I could find it again...

This still isn't solved, the DLL's are still read only and the only way I can reinstall dbatools while offline is by killing all powershell processes (so not only closing the windows).
Nowadays I do this a bit more drastic using:
`get-process | Where-object ProcessName -like 'powershell*' | stop-pr

[2018-07-04 23:15] wsmelton commented on #2714
This is an issue with ISE and not the module itself. Nothing we can do about it truth be told.

[2018-07-05 19:43] bootrider commented on #2991
Any one have news regarding this issue?

it is still present in the version 0.9.369

I can confirm that in version 0.9.76 it does not happen

[2018-07-06 14:47] ShaunJStu opened #3769 "Copy-DbaDatabase not reporting restore progress"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Run Copy-DbaDatabase to copy a database from o

[2018-07-06 15:22] potatoqualitee commented on #3760
i ran into this issue as well but this is part of spconfigure.

[2018-07-06 15:31] ShaunJStu commented on #3769
I updated dbatools and the restore progress bar now displays. Note that the dbatools module version number never changed. It was 0.9.369 before I updated and 0.9.369 after I updated.

[2018-07-06 15:31] #3769 closed

[2018-07-06 15:59] gbargsley opened #3770 "Add ability to set the Dump Directory using Set-DbaStartupParameter"
---
name: Feature request/idea :bomb:
about: Suggest a new feature or enhancement

---

### Summary of new feature

* Clear/concise description of what the problem is that the new feature can solve.

### Proposed technical details (if applicable)

* e.g. Blog post reference that shows example code or functionality

### Latest version of dbatools as of writing

* Please provide the latest released

[2018-07-06 23:14] potatoqualitee opened #3771 "Select-DefaultView impacts performance"
I'm using Select-DefaultView in another module that I'm writing and I was like "why is this call so slow?" when I switched from `Select-DefaultView` to `Select-Object`, it was 10000x faster :(

Since Select-DefaultView is something we use so much, any optimizations to it would be welcomed

[2018-07-06 23:14] potatoqualitee commented on #3771
I don't recall if Select-DbaObject will solve this, it may

[2018-07-07 03:17] zippy1981 commented on #3771
![image](https://user-images.githubusercontent.com/146930/42406294-b925e0bc-8172-11e8-9a0d-af76d7e09af8.png)

[2018-07-07 04:32] zippy1981 commented on #3709
@FriedrichWeinmann I added some overloads and made the implicit casts explicit. I will add some pester tests later.

https://github.com/zippy1981/dbatools/tree/testing/DateTimeBase

Then this happened:

<img width="831" alt="image" src="https://user-images.githubusercontent.com/146930/42406792-e1bf2b64-817c-11e8-969e-bc6cdecd838a.png">

I need to overload -lt and -gt.

Explict casts in C# work imp

[2018-07-07 06:53] FriedrichWeinmann commented on #3709
Well ... hate to say it, but the equality test does work just fine (wasn't too specific there)
All operators that use `.CompareTo()` (such as `-gt` or `-le`) are the problem.

[2018-07-07 07:09] FriedrichWeinmann commented on #3771
Hi Chrissy,

would you mind being a bit more specific than `10000x faster`?
Specific, measured performance results really do have their place ^^

That said: No surprise, Sherlock!
`Select-DefaultView` uses lots of `Add-Member` calls.

If all you want is to add some renamed properties, then yes, Select-Object or Select-DbaObject will far outperform it.
If it's about adding the PSStandardMembers ...

[2018-07-07 23:48] tboggiano commented on #3770
Mike Fal has a function for this could be utilized http://www.mikefal.net/2015/12/15/set-sqlstartupparameters-powershell-module/.

[2018-07-09 11:44] potatoqualitee opened #3775 "Add support for results of Get-DbaSqlService to [dbainstance]"
![image](https://user-images.githubusercontent.com/8278033/42448620-760305be-8319-11e8-9b49-6e62a6c2703c.png)

merci!

potentially @FriedrichWeinmann or @zippy1981 can take a look?

[2018-07-09 17:18] FriedrichWeinmann commented on #3775
Heya Chrissy,

could easily do this. In fact had already looked into it ... and decided against it!
Thing is: `Get-DbaSqlService` returns many objects if you do not properly filter it:
- Multiple services per instance (including default instance)
- Some global services for all instances

Important to note: `[DbaInstance]` can always only look at a single object and does not know what came before o

[2018-07-09 18:29] zippy1981 commented on #3775
@FriedrichWeinmann for part of the answer, what if every object returned by `Get-DbaSqlService` set some sort of NoteProperty so that `Get-DbaDatabase` and other methods would know to skip those services?

Also, why must it throw, why not Write-Warning?

[2018-07-09 18:43] FriedrichWeinmann commented on #3775
Because that would need to be implemented in every single command. All 400+ of them and all the new ones. I do not consider this to be worth the effort - onetime and continuing forwards.

Because the parameter class is not a function and only has two ways to communicate: Throw an exception (= conversion failed) or don't (= conversion worked).
All current code works on that premise and assumption.

[2018-07-09 23:52] elfgirl opened #3777 "Get-DbaBackupHistory - Value was either too large or too small for an Int32"
### Before submitting a bug report:

- [ X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X ] Verified this bug is not already reported in an issue
- [X ] Verified errors are not related to permissions
- [ X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Second DB in a list of Databases. Size is

[2018-07-10 09:35] maroliict commented on #3769
We found that when running start-DbaMigration from a script (as part of an automation project),  the copy-dbadatabase does show a progress indicator which it can't (no screen). We went in the copy-dbadatabase  script and added a # in front of line 273. After this the backup as well as the restore did finish properly.

It would come in handy if we could surpress those progress indicators.

[2018-07-11 14:53] niphlod commented on #3771
well, it also depends on how the call is made, remember that with a lot of results just passing down the `|` has a noticeable performance hit.

[2018-07-11 16:59] nvarscar opened #3780 "Invoke-DbaSqlQuery fails to use proper Windows credentials"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior

foo\foobar all th

[2018-07-11 17:02] Zhunya commented on #3780
You did not specified credentials in last `invoke-dbasqlquery`

[2018-07-11 17:04] #2966 closed

[2018-07-11 17:09] nvarscar commented on #3780
That's actually a typo. Thanks for noticing - fixing it now.

[2018-07-11 17:40] nvarscar commented on #3780
Just to clarify, the issue is still there, the typo was in my initial comment, not the actual code that causes the issue.

[2018-07-11 20:27] nvarscar opened #3784 "Backup-DbaDatabase disrupts script execution if server is not available"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior
Return a warning a

[2018-07-11 21:59] dragonwolf83 commented on #3771
Is `Select-DefaultView` primary use case to set the PSTypeName and PSStandardMembers? There are some better ways to do that with a standard `Select-Object`.

`Add-Member` is likely the root cause. When you use it to add properties one-by-one, it takes a huge hit.

[2018-07-12 01:36] joshcorr commented on #2217
Still working on Get-DbaTcpPort 😩

[2018-07-12 06:00] #3784 closed

[2018-07-12 09:41] Zhunya commented on #3777
@elfgirl what version you use - `(Get-Module dbatools).Version`

[2018-07-12 09:43] Zhunya commented on #3777
I think this fixed in #3504

[2018-07-12 11:39] wsmelton commented on #1472
This was not approved to incorporate into the job commands we already have so will it be created as a new maybe `Invoke` command, or just close this request?

[2018-07-12 18:23] elfgirl commented on #3777
I think you are right. After coming back to this, all DBs are restoring now.

[2018-07-12 18:23] #3777 closed

[2018-07-12 19:35] potatoqualitee commented on #1823
oh, this is done 👍

[2018-07-12 19:35] #1823 closed

[2018-07-13 08:16] Stuart-Moore opened #3792 "Make Test-DbaWindowsLogin parse computer accounts properly"
---
name: Make Test-DbaWindowsLogin parse computer accounts properly :bomb:
about: Currently doesn't parse domain computer accounts, so makes my dbachecks reports look ugly against SCCM and othe systems

---

### Summary of new feature

This shouldn't happen:
![image](https://user-images.githubusercontent.com/5613670/42680350-b08d1628-867c-11e8-8779-18a64ac1576c.png)

### Proposed technical detail

[2018-07-13 14:14] psluke commented on #1823
@potatoqualitee - do you mean that it's considered to be solved and 'go' statements are now supported e.g. by Invoke-Sqlcmd2 ?

[2018-07-13 15:49] potatoqualitee commented on #1823
yes, @psluke  - I believe it was @niphlod who added it

[2018-07-13 17:43] ChrisTuckerNM commented on #3369
I've forked and begun work on this.

[2018-07-15 15:50] #3792 closed

[2018-07-16 02:07] wsmelton commented on #1712
I'm working on building out a project on GitHub. I'm going to create issues for the remaining commands so I can keep up with it all better and add them to a card on the project.

[2018-07-16 02:11] wsmelton commented on #1712
Project created for tracking issues on new commands: https://github.com/sqlcollaborative/dbatools/projects/7

Going to close this one out for right now.

[2018-07-16 02:11] #1712 closed

[2018-07-16 02:13] wsmelton opened #3799 "New Command: Get-DbaAGBackupHistory"
Command will need to provide the ability to pull backup history from all replicas involved in the AG, irrespective of the backup preference.

Original issue: #1712

[2018-07-16 02:18] wsmelton opened #3800 "New Command: Add-DbaAgDatabase"
Command for simply adding a database to a provided AG.

Initial thought would be that this may only add it to the provided instance (validating primary role). If the secondary replica is provided (from validation) it adds more code to have to validate all the things involved; not sure that needs to be in this one command.

Original issue: #1712

[2018-07-16 02:20] wsmelton opened #3801 "New Command: Add-DbaAgListener"
Command to add a listener to an Availability Group.

Would need to determine how to handle adding the IP in multi-subnet and what SMO will support.

Original issue: #1712

[2018-07-16 02:21] wsmelton opened #3802 "New Command: Add-DbaAgReplica"
Command to add replicas to the Availability Group, this one will assume the AG is already created.

The initial thought is to have the New AG-Group command handle adding the initial primary replica (just initial). It will all be based and updated on how SMO handles it.

Original issue: #1712

[2018-07-16 02:23] wsmelton opened #3803 "New Command: New-DbaAgGroup"
The main meat of the process will be in this command to build the AG on the initial primary replica.

On first round will need to determine how to manage complex setups and the various features in AG creation now with seeding and 2017's option for a read-only replica setup.

Original issue: #1712

[2018-07-16 02:24] wsmelton opened #3804 "New Command: New-DbaEndpoint"
Supporting command for AG creation as an endpoint has to be created before anything.

We will likely need other supporting commands around granting permissions for the endpoint, or this could just be handled in the new AG group command (unknown at this time).

Original issue: #1712

[2018-07-16 02:27] wsmelton opened #3805 "New Command: Set-DbaAgPrimary"
Command to initiate failover of an AG and change the role.

May rename this to just `Set-DbaAgRole` or something better that does not include having "primary" in the name.

Original issue: #1432

[2018-07-16 02:28] #3805 closed, assigned to nobody

[2018-07-16 02:32] wsmelton commented on #755
I think all of this was taken care of...we have `Get-DbaAgDatabase` that returns the databases involved in an AG. Whether the piping support is there that was mentioned in this issue, not 100% on.

[2018-07-16 02:39] wsmelton opened #3806 "New Command: Test-DbaAgHealth"
Command that validates certain areas of the AG configuration (may need something other than "health" in the name).

Initial it would validate things like making sure the AG XE session is enabled and running on all replicas.

Other various checks can be added as known.

Original #1712

[2018-07-16 02:41] wsmelton opened #3807 "New Command: Get-DbaAgHealth"
Command to pull information from say the XE Health session of the AG. Need to determine whether it would only be tied to the instance/replica passed in, or try and pull data from all replicas.

May also reference the tiger teams repository on XE to see what information they pull in the T-SQL queries. This particular command would not likely be tied to SMO.

Original #1712

[2018-07-16 02:41] wsmelton opened #3808 "New command: Get-DbaAgReplicaState"
Command to validate the health of a given replica in the AG. Should have basic output but will be utilized in the command that handles failing over the AG to another replica/changing the role.

Original #1712

[2018-07-17 06:46] psluke commented on #1823
Unfortunately, I still receive "incorrect syntax near 'GO'" running: [Re-Index WSUS DB](https://gallery.technet.microsoft.com/scriptcenter/6f8cde49-5c52-4abd-9820-f1d270ddea61). Module-Version is '0.9.358'... is this working for anyone?

[2018-07-17 06:56] niphlod commented on #1823
use the get-help, luke

[2018-07-17 07:21] psluke commented on #1823
@niphlod - I don't get it, I'm sorry... Do you want me to post a message log or sth else?

[2018-07-17 07:52] potatoqualitee commented on #1823
lol i think he was making a star wars joke. Please try with the latest version - 0.9.375. If it's not working, I may have forgotten to import his changes from the original repo. Let me know and I'll have it fixed today if it's broken.

[2018-07-17 07:59] niphlod commented on #1823
pskenobi says "invoke-sqlcmd2 needs -ParseGo"

[2018-07-17 17:08] wain13001 opened #3816 "dbatools is loading an assembly reference of the wrong version"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior
I expect to get a

[2018-07-17 17:32] potatoqualitee commented on #3816
Thank you for the report. I don't know enough about the way DLLs load, @FriedrichWeinmann could you provide some insight?

[2018-07-17 18:19] wsmelton opened #3817 "Get-DbaAgReplica - Add custom property for secondary connections"
### Summary of new feature

A bug that [has already been reported](https://feedback.azure.com/forums/908035-sql-server/suggestions/32902525-cannot-join-database-to-ag-using-gui-if-replica-sq) when dealing with an instance that is on a non-default port does not contain enough information to make a connection to that secondary just from the Name property.

A property would need to be added that look

[2018-07-17 20:02] nvarscar commented on #3817
Endpoint URL points towards the hadr DATABASE_MIRRORING endpoint, which does not accept any connections other than AG synchronization, so that port is pretty much useless for our case. So far, I failed to discover a way of learning the custom TCP port of the secondary server in AG, except, maybe, WMI or CIM2 query to the secondary server - but that's not going to be trivial: somehow the script sho

[2018-07-17 21:21] FriedrichWeinmann commented on #3816
Well, dbatools brings its own copy of the SIS library in version 14. You can _also_ load the older version by explicitly calling the full name as you do, but it appears to default to using the newer version.

If you forgo your Add-Type call, will it work or does it produce the same error?

[2018-07-18 02:14] wain13001 commented on #3816
if I comment out the Add-Type, I still get the error so long as dbatools has any sort of reference before getting to the Integration services assignment.  Of course if I comment out both the dba tools and the add-type I get an error of no such class type found.

[2018-07-18 13:27] jpomfret opened #3820 "Invoke-DbaDatabaseShrink - Math for PercentFreeSpace doesn't work per fileType"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior
I would expect th

[2018-07-18 13:31] ChristopherSerre opened #3821 "Copy-DBADatabase - Improved output and runtime info"
---
name: Feature request/idea :bomb: Copy-DBADatabase - Improved output and Runtime info
about: Suggest a new feature or enhancement

---

### Summary of new feature
Improved output for successful or failed migrated databases (including missing)

### Proposed technical details (if applicable)
Example of a migration via Copy-DBADatabase
Copy-DBADatabase -Source Xxx -Destination Yyy -BackupRestore

[2018-07-18 13:33] SQLDBAWithABeard opened #3822 "Get-DbaSpConfigure not returning all configurations in SQL 2017"
### Before submitting a bug report:

- [X ] Ensure you are able to reproduce it on the latest released version (_we release often_)
Script     0.9.375    dbatools
- [ X] Verified this bug is not already reported in an issue
- [X ] Verified errors are not related to permissions
- [X ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

I was looki

[2018-07-18 13:59] wain13001 commented on #3816
I've discovered that so long as I add all of the SQL 2014 assemblies/import SQLPS before I reference anything with dbatools, PoSH grabs things correctly, and I have no errors.  So that's at least a functional workaround.

[2018-07-18 18:33] potatoqualitee commented on #3080
please do 👍

[2018-07-18 20:23] niphlod commented on #3780
just as a sidenote for the "casual bugreader", turns out that the problem sits in connect-sqlinstance. we'll keep this open till it gets fixed

[2018-07-18 20:52] niphlod commented on #3740
okay, behaviour definitely changed. IMHO if -Force is passed, no confirm should be needed. Also, -Confirm should just need to be used in tandem with -Whatif, as requiring to pass -Confirm:$false just looks stupid. I thought we agreed on this a long time ago, but just to confirm (pun intended): is what I just said still valid ? @potatoqualitee , @wsmelton , @FriedrichWeinmann , others ......

[2018-07-18 21:53] potatoqualitee commented on #3740
i agree that -Confirm:$false blows but ive kinda been accepting it lately. I do agree that this is an issue that needs to be better handled but i havent figured out how yet. -Force, probably should change the confirmpreference, perhaps

[2018-07-18 23:31] wsmelton commented on #3740
You have confirm because it has `SupportShouldProcess` there is no way around that because we require it for commands of this nature.

Can't you adjust the the requirement to confirm by setting the `ConfirmImpact` or something?

[2018-07-19 10:55] potatoqualitee commented on #3740
Remove is drastic and I'd prefer the confirmation stay in like Remove-DbaDatabase. However, I see how it's not as drastic as removing a database. If we do make changes, we can leave in all the confirmation support, but remove the high impact.

[2018-07-19 10:55] potatoqualitee commented on #3740
alternatively, we can make false set the confirm prefs to chill

[2018-07-19 11:43] SQLDBAWithABeard opened #3826 "Get-DbaSQLService reporting no services when there are!"
### Before submitting a bug report:

- [ x] Ensure you are able to reproduce it on the latest released version (_we release often_)
0.9.375

Also on a different machine using 364

- [X ] Verified this bug is not already reported in an issue

There is no SSRS on this machine so not  #3349

- [X ] Verified errors are not related to permissions
- [X ] Can reproduce in a clean PowerShell session (_cle

[2018-07-19 11:44] SQLDBAWithABeard commented on #3826
Assigning Fred as CL thinks it maybe a CM issue

[2018-07-19 14:46] wsmelton commented on #3740
The same could he said is I'm using remove why do I need to supply force parameter at all?

You can just confirm to false for the same effect.

[2018-07-19 15:00] potatoqualitee commented on #3740
Force is used to kill connections. $db.Drop() will fail if connections exist.

[2018-07-19 15:17] niphlod commented on #3740
right! kay then

Il giorno gio 19 lug 2018 alle ore 17:00 Chrissy LeMaire <
notifications@github.com> ha scritto:

[2018-07-19 19:12] ChrisTuckerNM commented on #3080
Questions:
1) Should the command be called with multiple SqlInstance values, what would the behavior be?
2) Does select-object @{Name="name"; Expression={$_.LogicalName}},@{Name="value"; Expression={$_.PhysicalName}} cover the requirement?

[2018-07-20 07:06] Stuart-Moore commented on #3080
Morning,
1- Good question. Personal preference would be for a custom object along the lines of:
[PSCustomObject]@{
ComputerName
InstanceName
Database
MappingHash
}

Whilst this usecase doesn't really support multiple dbs (Restore won't use hash for moves atm if more than 1 db is specified, though that's not a breaker, so it could be implement post this) this one would be consistent with dbatools p

[2018-07-20 07:16] githubsqltoolsse commented on #3754
I had a similar problem on one of our test servers, while it is working perfect on other servers. After some investigation i found that this code block is causing the problem:

$temp = ([System.IO.Path]::GetTempPath()).TrimEnd("\")
$zipfile = "$temp\ola.zip"

# Start the download
$url = "https://github.com/olahallengren/sql-server-maintenance-solution/archive/master.zip"
try {
	Start-BitsTransfer

[2018-07-20 10:10] niphlod commented on #3080
I don't think is good to change result format via a single switch.
Instead of changing behaviour and result format at this point I'd go for splitting an internal function that fetches the info per database (and can be reused by restore-dbadatabase) and is used within get-dbadatabasefile to give the same result as it is now.

[2018-07-20 10:32] niphlod commented on #3080
I don't expect much user would need it as it's really easy to build that up starting from get-dbadatabasefile straight. Get-DbaDatabaseFileMap as internal sounds good.

[2018-07-20 10:38] Stuart-Moore commented on #3080
Yeah, I vaguely remember that was the gist of the slack conversation.
`Get-This | Select-This | Format-That`
but was seen as too tricky by the other party.

Maybe just add examples to the CBH for restore-dbadatabase under the Filemapping parameter help and Get-DbaDatabaseFile in the example sections?

[2018-07-20 10:59] marioanton opened #3830 "Bug at Remove-DbaAgentJobStep since no sqlCredential is passed across and cmdlet fails to execute"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]
New-DbaSqlAgentSteps -Settings $Setting

[2018-07-20 11:51] ChrisTuckerNM commented on #3080
I'm advocating an example in CBH too.

[2018-07-20 11:52] frank687 commented on #3754
Unfortunately my windows test system suffered a hard drive failure and I
have been on family vacation. I hope to get back and redo the work next week

On Fri, Jul 20, 2018, 03:16 Perre <notifications@github.com> wrote:

[2018-07-20 11:55] ChrisTuckerNM commented on #3369
Complete and in PR/Merge.  Ready to close?

[2018-07-20 11:56] potatoqualitee commented on #3369
totes!

[2018-07-20 11:56] #3369 closed

[2018-07-20 12:34] niphlod opened #3832 "Get-DbaSsisExecutionHistory, various goodies"
### Summary of new feature
- It sorely misses a -Since to filter out old executions
- It should not use string interpolation when building the query
- It has no tests

### Proposed technical details (if applicable)

Use parameters to avoid SQL Injections

### Latest version of dbatools as of writing

0.9.376

[2018-07-20 12:34] niphlod commented on #3832
I can work on this if @ChrisTuckerNM doesn't want to chime in

[2018-07-20 12:47] ChrisTuckerNM commented on #3832
I've been hunting my next prey in issue land, I can do this one if there aren't any higher priority items that a new guy would be good for..  Thoughts?

[2018-07-20 14:35] niphlod commented on #3832
@ChrisTuckerNM : we're not LIFO nor FIFO. We're "do it if you like it" :P (to be on the safe side, tell you're working so you don't cross anyone else)

[2018-07-20 14:39] ChrisTuckerNM commented on #3832
Taking this one.

[2018-07-20 20:03] #3740 closed

[2018-07-20 21:07] potatoqualitee opened #3837 "Inconsistent output for migration commands"
probably a good "Already exists on destination" across the board would do. There are descriptions other columns so we dont need to re-specify "Job already exists"

![image](https://user-images.githubusercontent.com/8278033/43025193-8349c4e6-8c0c-11e8-8626-de14662c13ba.png)

[2018-07-20 22:58] wsmelton commented on #3516
What was wrong with the previous implementation?

[2018-07-23 18:34] ChrisTuckerNM commented on #3080
Taking myself off this till we understand what..

[2018-07-23 20:54] nvarscar opened #3845 "Add -Continue support for Copy-DbaDatabase and Start-DbaMigration"
---
name: subj
about: Enable the option to pre-stage the database restores before using Copy-DbaDatabase and Start-DbaMigration

---

### Summary of new feature

* Enable the support of the scenario, when user wants to pre-stage the database restore (due to database size probably) and then use Copy-DbaDatabase/Start-DbaMigration to proceed with recovery from recent t-log backup(s) to perform the m

[2018-07-24 08:10] marioanton commented on #3830
Got the fix in place. Will be raising a PR soon

[2018-07-24 08:21] #3845 closed

[2018-07-24 13:57] nvarscar commented on #3816
From [here](https://stackoverflow.com/questions/47707197/how-to-tell-new-object-is-from-which-version-of-assembly?rq=1):

So I guess this is behavior by default.

PS. SSIS is a bastard kind of dll, which only works with respective version of SSIS Server without any backward compatibility. I really dislike that decision, which not only complicates life when working with Powershell, but also prevent

[2018-07-24 14:02] niphlod commented on #3816
having just the right executable installed on every server just to deploy packages without auto-upgrading them does not qualify as mildly..... ;-)

[2018-07-24 14:08] nvarscar commented on #3837
What if in addition to unifying the Notes property, the status itself will also reflect that?  Successful/Failed/Skipped/Exists. Although, I'm not sure if Skipped is used on other occasions at all.

[2018-07-24 19:05] nvarscar commented on #3817
After spending some time researching the DMVs and SMO, I can only confirm that there is no information on what port the secondary instance(s) is listening on. If we're going to go with the road of assumptions, it should be something like this:
[code]
The other way around would be to use the ManagedComputer object and to get the current IP port from the remote machine(s):
[code]

[2018-07-25 15:33] #3516 closed

[2018-07-25 15:34] #3832 closed

[2018-07-26 14:34] Zhunya opened #3852 "Remove-DbaDatabase - remove backup/restore history for database"
### Summary of new feature

* Cleanup `msdb` Backup and Restore history when database removed

[2018-07-27 11:56] Zhunya opened #3855 "Restore-DbaDatabase and DIFF when database in recovery mode"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

When for some re

[2018-07-27 12:20] Stuart-Moore commented on #3855
What is the redo_start_lsn of the database after you've restored the full? It shouldn't overflow.  `Get-RestoreContinuableDatabase` will get it for you (it's what Restore uses internally).

Maybe we need a dbatools type of [LSN] to make sure it's the same .Net one as the backuphistory object user?

Second one should fail more gracefully, I can put something in for that.

[2018-07-27 13:44] Stuart-Moore commented on #3855
The backuphistory LSN properties are BigInt as well, so shouldn't be that. Having the LSN would be useful

[2018-07-27 13:52] Zhunya commented on #3855
FULL bak LSNs:
[code]
DIFF bak LSNs
[code]

redo_start_lsn (according to `sys.master_files`)

`338266000000954500001`

[2018-07-27 18:46] Sobbie opened #3856 "Invoke-DbaDiagnosticQuery Result Error"
### Before submitting a bug report:

- [X ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X ] Verified this bug is not already reported in an issue
- [X ] Verified errors are not related to permissions
- [X ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
To reproduce this error you will run the fo

[2018-07-27 19:08] garethnewman opened #3857 "New Command: Test-DbaTempDbConfiguration (test if all files are the same size)"
Test-DbaTempDbConfiguration test if all files are the same size

[2018-07-30 14:07] Grzy7316 opened #3860 "MessagesToOutput crashes Transcripts"
## Steps to Reproduce
Run any Sql Command using InvokeDbaSqlQuery  with the -MessagesToOutput switch

[code]

Invoke-DbaSqlQuery -SqlInstance $SqlServer  -Database $Database -Query $QueryString -Credential $AccessCredential -MessagesToOutput

[code]
Stop-Transcript : An error occurred stopping transcription: The host is not currently transcribing.
[code]

[2018-07-30 15:46] niphlod commented on #3860
hum. what about -Verbose ?

[2018-07-31 15:05] hfleitas opened #3861 "Copy-DBALogin warn if copied across a sysadmin login"
---
name: Warning when Login Copied as sysadmin to destination :bomb:
about: enhancement
---

### Summary of new feature
Copy-DBALogin -Source Server1 -Destination Server2 -Login contoso\hfleitas, sqlapp1, readuser

Display...
Warning: sysadmin contoso\hfleitas copied to Server2 successfully.

### Latest version of dbatools as of writing
0.9.382
* Please provide the latest released version of dbat

[2018-07-31 15:44] alevyinroc opened #3862 "New function: Invoke-DbaDbIndexRebuild"
### Summary of new feature

Create a new function Invoke-DbaDbIndexRebuild which can rebuild one or more indexes on a collection of tables. Should allow for passing collections of tables, databases, index names and require `-AllDatabases` if no databases are passed. Should also allow for various index rebuild options like online rebuilds, etc.

Allow for reorgs as well.

This may eventually be cal

[2018-07-31 17:27] niphlod commented on #3861
Why should it warn when you are the one requesting a copy?

Il mar 31 lug 2018, 17:08 Hiram Fleitas <notifications@github.com> ha
scritto:

[2018-07-31 17:35] hfleitas commented on #3861
because you dont know it was sysadmin to begin with and you just added a sysadmin to another box by and perhaps you would like to know about it so you can lower that login's permissions on the destination svr.

[2018-07-31 18:41] niphlod commented on #3861
If you have those concern you should check beforehand what login are you
going to copy. Remind that dbatools is all about tooling, and it's not
named dbasolutions for a reason (as in: there is no complete solution that
is ok for everyone). Another user may ask for a warning to be raised if a
login is dbcreator, and soon enough you have the output littered with
warnings.

Copy-item copies. That's w

[2018-07-31 20:43] nvarscar opened #3864 "New Feature - Clone login with all DB-level permissions included"
---
name: New feature - clone a certain login including all the DB-level permissions :bomb:
about: Either a new function, or a new switch in New-DbaLogin to get permissions from each database of the source login and apply them to a new login.

---

### Summary of new feature

* Right now there is no certain way of cloning user permissions fully. Sync-DbaLoginPermissions only does so on the login l

[2018-07-31 20:49] nvarscar commented on #3864
I'm ready to do the coding part, but will need help to decide what's the best approach here

[2018-07-31 21:12] niphlod commented on #3852
nah, at this point better to weed out and separate to remove-dbadbhistory

[2018-07-31 21:37] niphlod commented on #3864
IMHO the less regex magic the better. I'm notoriously not good at naming convention but I'd say that this is a good candidate for:
 - new-dbalogin -Sqlinstance dest (creates a shallow login, just to be overwritten)
 - get-dbalogin -sqlinstance source
 - Set-dbalogin -sqlinstance -dest -name theshallowfrombefore
It's funny, but indeed there are a lot of steps involved, and almost all of our copy-sm

[2018-08-01 15:07] hfleitas commented on #3861
I know what to do before-hand and after, plus how to pipe one function to another. This is just a feature enhancement recommendation to make the tool better. Some of the other functions in the project already do this very well without having to call multiple ones, and we don't consider that littering its actually very useful information that can be controlled by another context switch/param (-Show

[2018-08-01 15:45] hfleitas commented on #3861
Closing

[2018-08-01 15:45] #3861 closed, assigned to nobody

[2018-08-01 19:06] jrob24 opened #3866 "Import-DbaCsvToSql Locking the csv file"
Running version 0.9.382 and after I use Import-DbaCsvToSql the csv file is locked until the powershell console is closed. Is this to be expected? I need to clean up the csv file after import but unable too since the file is locked.

[2018-08-01 19:31] RatanGithub opened #3867 "Export-DbaScript generating output without GO statemen"
### Before submitting a bug report:

- [ ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [ ] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

## Expected Behavior

The expe

[2018-08-01 20:35] #3754 closed

[2018-08-01 20:37] jrob24 commented on #3866
Ok I think I found where the issue is occurring. In the end block lines 1309-1311, the $oleconn.close and $reader.close methods are both missing ( )'s so I added those. Also if you dont use Safe mode then the $oleconn and $oldcmd connections will never get created. Therefore they will throw an error and never execute the $reader.close() method leaving the file locked. I believe some if statements

[2018-08-01 20:42] potatoqualitee commented on #3866
great find! would you be able to submit a PR with your updates? 🏅 if so, i can publish the bug fix within a couple hours.

[2018-08-01 20:56] jrob24 commented on #3866
Working on that now

[2018-08-01 21:38] potatoqualitee opened #3871 "Remove FileStream Check in Restore-DbaDatabase / Test-DbaBackupInformation"
From Slack
[code]

Please remove the filestream check. We can let invalid filestream restores fail as any other failure such as disk out of space.

merci 🙇

[2018-08-01 22:00] ben-thul commented on #3871
Knowing that I'm likely to be eaten by a Grue in the process, I can try taking a swing at making the necessary change later this week/this weekend.

[2018-08-02 00:50] #3871 closed

[2018-08-02 12:03] Zhunya commented on #3852
Tooomuch functions =) but I'm agree =)

[2018-08-02 12:03] #3852 closed

[2018-08-02 12:14] Zhunya opened #3873 "Remove-DbaDbBackupRestoreHistory"
---
Remove-DbaDbBackupRestoreHistory :bomb:
---

### Summary of new feature

* Removes backup and/or restore history for database from `msdb` history tables

### Proposed technical details (if applicable)

* `-Type` — maybe `Backup`, `Restore` or `Both/All/Any`
* `-KeepDays` — removes data older than <specified> days, w/o delete data older than 30 days (as in most maintenance jobs)

### Latest ver

[2018-08-02 12:39] potatoqualitee commented on #3873
yess. tho i think perhaps it should be, and forgive me, but `Remove-DbaDbBackupRestoreHistory `

[2018-08-02 12:46] Zhunya commented on #3873
Please NO!!! not that long =)

[2018-08-02 12:49] potatoqualitee commented on #3873
LOL I'm sorry but.. History of what, its existence? Some data that needs to be trimmed? The new name is harrifyingly long but the old command name isn't accurate enough.

[2018-08-02 12:49] Zhunya commented on #3873
Done

[2018-08-02 19:44] #3866 closed

[2018-08-02 21:03] #3398 closed

[2018-08-03 10:40] mdumdei opened #3878 "Copy-DbaAgentJob maintenance plan check has error"
Line 142 in the GitHub source for Copy-DbaAgentJob has an error - at least on my system:

  $MaintenancePlanName = $sourceServer.Query($sql).MaintenancePlanName

This fixes it:
 $MaintenancePlanName = $sourceServer.Databases.Item("msdb").Query($sql).MaintenancePlanName

Query doesn't like running against the server, wants a database.

[2018-08-03 10:46] mdumdei commented on #3878
Actually, I used:
$MaintenancePlanName = $sourceServer.Databases.Item("msdb").Query($sql).Name

[2018-08-03 10:48] mdumdei commented on #3878
n/a

[2018-08-03 18:19] jrob24 opened #3879 "Import-DbaCsvToSql does not allow null values for int or datetime data type"
### Before submitting a bug report:

- [*] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [*] Verified this bug is not already reported in an issue
- [*] Verified errors are not related to permissions
- [*] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

  Import-DbaCsvToSql -Csv PathToCsv -Schema db

[2018-08-05 07:43] sqllensman commented on #3867
I was reviewing this Bug and it this can be done by adding a BatchSeparator variable
.This can default to an empty string and only be added if it is non-empty

Also looking at this the examples

(1) The example
Get-DbaAgentJob -SqlInstance sql2014 | Export-DbaJob -Passthru | ForEach-Object { $_.Replace('sql2014','sql2016') } | Set-Content -Path C:\temp\export.sql

is clearly wrong and needs to use

[2018-08-06 11:32] sqllensman commented on #3867
Further testing of this command and the reported bug indicate that only reliable method to produce usable scripts for objects is to
(a) UtiliseScripting Options via New-DbaScriptingOption
(b) Set the ScriptBatchTerminator option to true
(c) Set the FileName property

The ScriptBatchTerminator appears to only be used if the output is directed to a file

Without this the Script option in SMO appears

[2018-08-06 17:15] #3855 closed

[2018-08-07 23:10] therealcode opened #3882 "Test-DbaMaxMemory to other domain computer fails due to trying to use original domain"
Version: 0.9.384

## Issue
When on **DOMAIN1** and trying to use **Test-DbaMaxMemory** on a server on **DOMAIN2** - the domain credentials supplied are ignored and it uses the domain credentials the PS session is on.

However, this works fine when using **Test-DbaPowerPlan**.

## Reproducible Example
Example from PS Session on **DOMAIN1**:
PS: `Test-DbaMaxMemory -SqlServer APP01 -Credential DOMAIN

[2018-08-08 06:16] Stuart-Moore commented on #3882
You appear to be just providing usernames, you need to pass a PsCredential object:
[code]

[2018-08-08 18:49] therealcode commented on #3882
The above also doesn't work. It still returns the alternate domain as an error.
## Attempt With Suggested
`$cred = Get-Credential` (**DOMAIN2**\ADMIN_USER + PW on prompt)
`Test-DbaMaxMemory -SqlServer APP01 -Credential $cred`

## Result
`WARNING: [13:41:54][Test-DbaMaxMemory] Failure | Login failed for user 'DOMAIN1\ADMIN_USER'.`

## More Info
After passing my original input - a pop-up opens to en

[2018-08-09 18:04] ColinDouglas92 opened #3884 "[New Command] Test-DbaRepLatency"
### Summary of new feature

* Returns replication latency for transactional replication. **Test-DbaRepLatency** will help a user determine the time it takes for a transaction to travel from the publisher to the distributor, as well as how long it takes the corresponding transaction to travel from the distributor to the subscriber. These latency metrics can help the user determine the bottleneck in

[2018-08-10 03:45] amon09 commented on #3873
A `-Batch` parameter would a good addition to prevent msdb transaction log from bloating up (Especially when system databases are on C and there is no growth limit set).

[2018-08-10 13:33] pollusb opened #3885 "-NoFixedRole vs -ExcludeFixedRole"
---
name: Feature request/idea :bomb:
about: Suggest a new feature or enhancement

---

### Summary of new feature

It's not a bug but parameters for Get-DbaDbRole and Get-DbaRoleMember are not consistent

### Proposed technical details (if applicable)

[code]

### Latest version of dbatools as of writing

0.9.380

[2018-08-10 13:42] potatoqualitee commented on #3885
ty, Exclude is the new "no", so get-dbadbreole is accurate.

[2018-08-10 13:45] pollusb opened #3886 "Restore-DbaDatabase does not work on SQL 2000"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior
restore database

[2018-08-10 13:49] pollusb commented on #3494
I just tested this and it's working as of 0.9.380. I think we can close this now

[2018-08-10 13:49] #3494 closed

[2018-08-10 13:49] potatoqualitee commented on #3494
ty!

[2018-08-10 17:48] pollusb commented on #3885
Do we need to create an alias with the old parameter name?

[2018-08-12 20:33] potatoqualitee commented on #3886
great to know, lemme check and repro

[2018-08-12 20:37] potatoqualitee opened #3888 "Error Messages are not helpful"
hey @FriedrichWeinmann, the error messages are back to not as useful and I can't fix it with my PS1 scripting skills. Can you take a look, please? Attached is a screenshot and a support package.

![image](https://user-images.githubusercontent.com/8278033/44006194-8b70ba32-9e1b-11e8-9739-166bfdf18294.png)

[dbatools_support_pack_2018_08_12-10_37_01.zip](https://github.com/sqlcollaborative/dbatools/

[2018-08-12 20:41] potatoqualitee opened #3889 "Backup-DbaDatabase not working with SQL Server 2000"
![image](https://user-images.githubusercontent.com/8278033/44006194-8b70ba32-9e1b-11e8-9739-166bfdf18294.png)

I added the usual backup/restore suspects. If anyone doesn't want to be assigned, please DM me and I'll keep you off in the future 🌮

[2018-08-12 20:42] potatoqualitee commented on #3889
Confirmed working on 2005 and above

[2018-08-12 20:45] potatoqualitee opened #3890 "disabling spelled wrong in backup-dbadatabase"
disabiling should be disabling

[2018-08-13 02:06] ColinDouglas92 opened #3891 "[New Command] Get-DbaRepPublication"
### Summary of new feature

* Displays all publications for a server. **Get-DbaRepPublication** will help a user determine what publications reside on a server. This command will also be helpful to piggyback from for future replication commands.

**Syntax**

Get-DbaRepPublication [-SqlInstance] <DbaInstanceParameter[]> [[-Database] <Object[]>] [[-SqlCredential] <PSCredential>][[-PublicationType] <

[2018-08-13 12:08] deanwest commented on #3734
@potatoqualitee I have tested the Restore-Dbadatabase on version 0.9.385 and I have been able to restore from azure blob when specifying the URL for the restore.

![image](https://user-images.githubusercontent.com/34652355/44030040-7069dd36-9ef7-11e8-893e-dd8976c52a3f.png)

When I provide a list of URL's for to Restore-Dbadatabase, the restore process fails on Test-DBABackupInformation stating tha

[2018-08-13 16:18] nvarscar commented on #3889
Are we still supporting SQL 2000? Even Microsoft doesn't.
Anyways, since I don't have 2000 instance around, I would put a couple suggestions here, as I can't test it properly.
1) Remove slash before the file name. It seem to not matter at all for SQL that I have around - both `BACKUP ... TO DISK '\file.bak'` and `BACKUP ... TO DISK 'file.bak'` have the same result. Is it the same for SQL2000? If s

[2018-08-13 17:58] potatoqualitee commented on #3891
yep, looks fab! thank you. just be sure to include our basic 3 - computername, instancename, sqlinstance plus Database, Name, Type

I think we should change Replication to Rep. what yall say? Similar to our move from Database to Db

[2018-08-13 20:51] ColinDouglas92 commented on #3891
Yup, I agree with you on the name change! I'll make those edits and send these on up within the next couple days; still playing around with writing some unit tests with Pester. Thanks!

[2018-08-14 20:52] potatoqualitee commented on #3891
:bananadance:

[2018-08-15 08:44] marcosfreccia opened #3893 "Extend Parameter options of Test-DbaLastBackup"
---
Extend parameters on Test-DbaLastBackup :bomb:
---

### Summary of new feature

* Bring the parameter ReuseSourceFolderStructure from Restore-DbaDatabase to Test-DbaLastBackup. This facilitates the restore of databases with multiple data files spanned across different disks to keep a consistent restore test.

### Proposed technical details (if applicable)
* Already implemented here: https://gi

[2018-08-15 14:38] Stuart-Moore commented on #3886
If someone want to get MS to patch their old backup header format that would be so great :)

Back in the mists of time the headers of sql backup files contained less header than they do now. 2 of the missing ones being ones we rely on to sort out complex scenarios (DatabaseBackupLSN and RecoveryForkID). Compare Read-DbaBackupHeader output for more that are missing/different

As we can't easily tes

[2018-08-15 14:47] potatoqualitee commented on #3886
Copy-DbaDatabase relies on Restore-DbaDatabase, is there a way to move the logic that makes Copy-DbaDatabase work to Restore-DbaDatabase? I know 2000 is old, but people still use it. and I'd consider Backup and Restore the core commands of the whole toolset; I wouldn't like to lose support for 2000.

[2018-08-15 15:29] potatoqualitee commented on #3886
that sounds like a good enough solution, we can warn them with the commands to run if the server is 2k and the inputobject is not backuphistoryinformation?

[2018-08-16 10:24] olegstrutinskii opened #3895 "Invoke-DbaDbShrink - speed changes"
### Summary of new feature

1. Make things faster, change default function behaviour to do not gather index statistics and don't update usage statistics.

* ExcludeIndexStat > AnalyzeIndexStat
* ExcludeUpdateUsage > UpdateUsage

2. Shrink files in one FG to the same size

[2018-08-16 10:27] Zhunya commented on #1883
This was implemented

[2018-08-16 10:42] Zhunya commented on #3027
Closing... all fine now.

[2018-08-16 10:42] #3027 closed

[2018-08-16 10:43] Zhunya commented on #2674
Cloosind

[2018-08-16 10:43] #2674 closed

[2018-08-16 10:50] Stuart-Moore commented on #3886
OK. If I can get a local sql2000 instance on my laptop I'll work on it
tomorrow (film selection on the flight looks dull).
On Wed, 15 Aug 2018 at 16:31, Chrissy LeMaire <notifications@github.com>
wrote:

[2018-08-16 10:55] Zhunya commented on #2073
Closing

[2018-08-16 10:55] #2073 closed

[2018-08-16 11:33] potatoqualitee commented on #3895
i like #2 but would like input from the team on #1

[2018-08-16 12:56] Zhunya opened #3896 "Test-DbaSqlBuild - report *not* recognized version in returning object"
### Summary of new feature

* Return standard object for any unusual version same as for other version states

### Current state

* warning has no instance name, if there a lot of them, we don't know which instance had mismatched version.

[code]

### Proposed technical details (if applicable)
Include information in compliant object for problematic instance.

[code]

### Latest version of dbatools

[2018-08-16 20:37] sethmgray opened #3897 "Backup-DbaDbCertificate fails when providing a value to path parameter."
## Steps to Reproduce

[code]

[2018-08-17 01:13] samuelthan commented on #3471
I think i'm in the same boat. However it's triggered using invoke-dbaloggshipping

My environment = SQL Server 2017 Web Edition @ Windows 2016 Server

[code]

This is the command i used
`Invoke-DbaLogShipping -SourceSqlInstance $sourceServer -DestinationSqlInstance $destinationServer -Database $database -BackupNetworkPath "\\networksharedpath1\logshipping"  -CompressBackup -GenerateFullBackup -Cop

[2018-08-20 03:57] wsmelton commented on #1355
@potatoqualitee I think we have already addressed this one have we not?

[2018-08-20 05:28] wsmelton commented on #3879
Just as a note `WriteToServer` is a built-in method of bulk copy in .NET, nothing we have control over directly outside of setting options. You can see more on [keeping nulls](https://docs.microsoft.com/en-us/sql/relational-databases/import-export/keep-nulls-or-use-default-values-during-bulk-import-sql-server?view=sql-server-2017) in the documentation.

[2018-08-20 05:29] #804 closed

[2018-08-20 05:32] wsmelton commented on #728
Closing this issue out as I'm not sure it is still on the ballet to be added to dbatools. As well I would state that the schemazen repo is abandoned considering it has had no changes in almost 3 years.

[2018-08-20 05:32] #728 closed

[2018-08-20 05:32] wsmelton commented on #728
If it needs to be reopened by all means.

[2018-08-20 05:33] wsmelton commented on #596
Closing this as I believe all the XE commands that have been added meet the requirements discussed.

[2018-08-20 05:33] #596 closed

[2018-08-20 05:41] wsmelton commented on #560
Because the codeplex project site has been archived adding the code to that stored procedure here before it is lost:

[usp_ssiscatalog.sql.txt](https://github.com/sqlcollaborative/dbatools/files/2301234/usp_ssiscatalog.sql.txt)

[2018-08-20 05:43] wsmelton commented on #566
I'm not sure this is still desired?

@potatoqualitee is this referring to something like code noted here: https://www.mssqltips.com/sqlservertip/2999/different-ways-to-find-sql-server-object-dependencies/ ?

[2018-08-20 16:37] pollusb commented on #3886
@Stuart-Moore. I've worked hard to get a VM up with Win2003 and SQL2000 on Hyper-V. Now, my VM is running but I can't get access via remote-desktop because I get an activitation warning because no way of activating the software anymore. If you have any good hint on how I can get around this problem I would be very happy.

As for Copy-DbaDatabase, you can copy from and to the same 2K instance ?

[2018-08-20 17:23] parulsmaddar opened #3905 "EnableException not showing errors"
**Backup-DbaDatabase** -SqlInstance $sqlinstance -Databases $dbname -BackupDirectory $backupfolderlocation -EnableException:$true

Running the PS script with the above command in TFS (with Fail On Standard Error enabled)
##**Expected behaviour**
 Throw an exception when an incorrect argument  (e.g. sqlinstance that doesn't exist) is passed

##**Actual Behaviour**
The task gives no error and the de

[2018-08-21 09:33] githubsqltoolsse opened #3908 "Install-DbaMaintenanceSolution doesn't install."
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

The latest versi

[2018-08-21 10:15] potatoqualitee commented on #3908
Can confirm, our apologies. Let me look into this

[2018-08-21 10:51] potatoqualitee commented on #3908
@githubsqltoolsse can you check out my PR and let me know if it works for you?

https://github.com/sqlcollaborative/dbatools/issues/3908

[2018-08-21 11:46] githubsqltoolsse commented on #3908
Sorry I'm new to github and to contributing to DBATools. What is the easiest way of testing a PR?

[2018-08-21 11:57] #3908 closed

[2018-08-21 12:00] potatoqualitee commented on #3908
No problem, the easiest way will be to get it from the gallery, like usual. Let me upload it real quick (my test cases workedfor me)

[2018-08-21 12:04] potatoqualitee commented on #3908
k please update to the newest version of dbatools, close your session, reopen and try again

[2018-08-21 12:18] #3905 closed, assigned to nobody

[2018-08-21 16:57] parulsmaddar commented on #3905
Hi @potatoqualitee  , thanks for your reply. Due to some reason EnableException with -ErrorAction Stop also doesn't throw any error. However, if I use $WarningPreference = "Stop" with a try catch, then it works in the expected way and throws error.
Could there be any specific reason for this behavior?

[2018-08-21 18:34] wsuhoey opened #3911 "ConvertTo-DbaTimeline does not escape special characters"
### Before submitting a bug report:

- [0.9.391] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

HTML file

[2018-08-22 07:16] githubsqltoolsse commented on #3908
Thank you. Works perfect now.

[2018-08-22 09:49] Zhunya commented on #3820
This can be closed?

[2018-08-22 09:55] potatoqualitee commented on #3908
awesome news :D

[2018-08-22 09:56] potatoqualitee commented on #3820
totally thank you

[2018-08-22 09:56] #3820 closed

[2018-08-22 09:58] Zhunya opened #3914 "Invoke-DbaDbShrink - not shrinking at all"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Expected Behavior
Database shrunk to

[2018-08-22 15:05] pmsousa opened #3916 "Databases with same name on multiple instances"
## Steps to Reproduce

- 2 SQL Server instances (non related, different systems/servers) – inst1 e inst2;
- Both instances have SharePoint BD’s, thus you have BD’s  with common names (i.e.: SharePoint_Config, WSS_Logging, WSS_Content, etc.)

powershell
[code]

## Expected Behavior

The expected behavior should be a timeline for each database, with no aggregation by database name or an added column

[2018-08-22 16:24] dbaduff opened #3917 "get-dbabackupinformation recursing folders when it shouldn't"
in 0.9.391 on sqlserver 2016 running Get-DbaBackupInformation without the -DirectoryRecurse switch still recurses directories.

### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [ ] Can reproduce in a cle

[2018-08-23 08:36] Zhunya commented on #3917
The idea behind the scene - read anything we have in the path, get all valid SQL Server backups files and build restore chain.

[2018-08-23 09:25] #2879 closed

[2018-08-23 09:34] Stuart-Moore commented on #3886
Afraid I've no idea on that. Can you connect via SSMS remotely?

I ended up mocking SQL2k in the pester tests so didn't spin up an instance in the end.

I don't believe Copy-DbaDatabase supports that in general (ie; for any sql version, not just 2k), though it could be implement if the Powers That Be (@potatoqualitee) want it?

[2018-08-23 10:15] tomekpiekos opened #3919 "Restore-DbaDatabase - restore fails when database name ends with "trn""
## Steps to Reproduce

[code]

## Actual Behavior
When, during directory scan, one of database ends with "trn", script fails to execute with error:

[code]

I've found a line in Get-XpDirTreeRestoreFile.ps1 with error:
line 45:    `if (($path -like '*.bak') -or ($path -like '*trn')) {`

there should be something like ($path -like '*.trn')
and verification if $path points to file, not directory.

E

[2018-08-23 11:02] tomekpiekos commented on #3919
It seems all functions are duplicated also in allcommands.ps1
I changed line 92039 to:
    if ((($path -like '*.bak') -or ($path -like '*.trn')) -and (Test-Path -Path $path -PathType Leaf)) {
and issue has been resolved

[2018-08-23 11:17] boosi83 commented on #3698
It seems the issue still persist. I'have taken the SQL code outside and the object validation is prior any WHERE clause regarding SQL version check.
I have fixed on my own and seems to be working properly by wrapping the commands in EXEC()

IF @sqlVersion >= '12'
    BEGIN
        -- remove memory optimized tables
        EXEC('DELETE tdc
        FROM ##testdbacompression tdc
        INNER JOIN sy

[2018-08-23 12:00] boosi83 commented on #3698
This is using Version 385 but @SQLDBAWithABeard made it working on SQL 2014.
[code]

[2018-08-23 13:08] Stuart-Moore commented on #3917
Hi, what is the full command line you're using? `DirectoryRecurse` only applies if you've specified `NoXpDirTree`  (documented in the comment based help)

you can hide the warnings as well,  just use `-WarningAction SilentlyContinue`, and if you want to silence them but still be able to review then add `-WarningAction SilentlyContinue -WarningVariable warnvar`. All the warnings will be in `$warnva

[2018-08-23 13:10] Stuart-Moore commented on #3919
Commands are duplicates into allcommands.ps1 at build time to speed up the module import.

Modify the function file and put in a PR, we have instructions - https://github.com/sqlcollaborative/dbatools/wiki/Your-First-Pull-Request

Always good to have more people contributing code :+1:

[2018-08-23 13:35] gamarcon opened #3920 "Copy Data from table and create on DestinationDatabase"
Hello,
I am trying to find a solution to copy a table and create it on the -Destination / -DestinationDatabase, please.

I am using:

Get-DbaTable -SqlInstance "Machine1" -Database DBA -Table "Table01" | Copy-DbaTableData -Destination "Machine2\PANDA" -DestinationDatabase PANDA01 -DestinationTable "Table01"

But the since the table is not created on the destination, I get error message: WARNING: [

[2018-08-23 14:17] potatoqualitee commented on #3826
hey @FriedrichWeinmann - would you be able to take a look? we're having a few reported issues

[2018-08-23 16:25] SQLDBAWithABeard commented on #3698
Only tested on SQL2012, SQL 2014, SQL2016 and SQL2017

[2018-08-23 16:32] SQLDBAWithABeard opened #3923 "Get test-dbadbcompression to have a table flag or a top N in table size"
### Summary of new feature

With databases with many many tables it can take a fair time for this beautiful command to run so @boosi83 and I think that it would be good to either specify a table or even better choose the top X in table size to be tested

### Latest version of dbatools as of writing

0.9.392

[2018-08-23 17:52] SQLcyclopedia opened #3925 "Copy-DbaDatabase - Add "-OutputDatabaseName" variable"
---
name: Copy-DbaDatabase - name your destination database
---

### Summary of new feature
To be able to make a copy of the database on the same instance, it would be useful to be able to rename the destination database.

### Proposed technical details (if applicable)
Add "-OutputDatabase" or "-DestinationDatabase" variable - if used, this overwrites default of same name.

### Latest version of d

[2018-08-23 17:58] SQLcyclopedia opened #3926 "Copy-DbaDatabase - add functionality to allow schema-only copy"
---
name: Copy-DbaDatabase - add functionality to allow schema-only copy
---

### Summary of new feature
Currently struggling to find an automated way to perform this task using SSMS/Powershell. Existing dbatools "Copy-DbaDatabase" command only copies database.

Performing 'Tasks > Generate Scripts > Advanced Options > Schema Only' is very manual.

Obviously we could deploy ReadyRoll project but i

[2018-08-23 19:02] #3889 closed

[2018-08-23 19:41] jpomfret commented on #3698
Just pulled down the latest development branch and set\Test-DbaDbCompression is working on 2008R2, 2012, 2014, 2016 and 2017. I don't see any recent changes to the code though, am I missing something? Is it tripping on a specific object type?

[2018-08-23 19:51] jigarblakhani opened #3927 "Feature enhancement"
Requesting function called get-clusterstatus -sqlinstance

that invokes
invoke-command -cn xxxxxx {get-clusternode}

[2018-08-23 19:52] SQLDBAWithABeard commented on #3698
It was erroring when parsing,  on the encryption type column I think.  It did the same when we pulled the tsql into SSMS

@boosi83 watched your session at ps power hour and wanted to try it. He can give more info I expect

[2018-08-23 19:53] jigarblakhani opened #3928 "Feature enhancement"
Requesting function called get-clusterstatus -sqlinstance

that invokes
invoke-command -cn xxxxxx {get-clusternode}

this is very useful when you want to run across multiple clusters hundreds in this case; after dr test fallback my cluster services were down that caused sql servcer AG to be in resolving state.

[2018-08-23 19:53] jigarblakhani commented on #3927
duplicate

[2018-08-23 19:53] #3927 closed

[2018-08-23 20:44] MikeyBronowski commented on #3698
@jpomfret I will give it a try tomorrow and let you know. Can you tell me where I can find the dev branch?

[2018-08-23 20:54] jpomfret commented on #3698
The version of code I tested showed no changes in the last month so laest module version should be the same. Can you screenshot the error? (redact any sensitive data). I'll be online tomorrow if you want to chat on slack.

[2018-08-23 21:04] MikeyBronowski commented on #3698
@jpomfret It was very similar to the first error in this thread, however I've got warning:

Warning:
Invalid column name 'encryption_type'
Invalid column name 'is_node'
Invalid column name 'is_edge'

[2018-08-23 21:10] #3914 closed

[2018-08-24 08:12] Zhunya commented on #3895
Add:
3. Shrink only `-LogicalFileName`
4. Shrink only `-FileGroup`

[2018-08-24 08:28] gamarcon commented on #3920
Hello

In case anyone is struggling with the same feature, I got a very helpful answer at: [https://stackoverflow.com/questions/51987244/dbatools-copy-data-from-table-and-create-on-destinationdatabase]

Hope it helps!

[2018-08-24 08:29] #3920 closed

[2018-08-24 11:07] jpomfret commented on #3698
I'm having trouble replicating this error.
Can you do `Get-Module` and see which version of dbatools you're using. Also you're running against SQL Server 2014, is that correct? Are the databases in 2014 compat mode (not sure that affects this but just curious.)

@SQLDBAWithABeard were you able to replicate the error @MikeyBronowski is getting?

[2018-08-24 17:30] sqlpadawan opened #3931 "Find-DbaDbGrowthEvent - Unable to write results to database table for multiple servers"
### Before submitting a bug report:

- [x ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x ] Verified this bug is not already reported in an issue
- [x ] Verified errors are not related to permissions
- [x ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

Would expect

[2018-08-24 23:20] parulsmaddar commented on #3905
It was a issue with the sleepygary version. EnableException shows the desired behaviour with v0.9.393

[2018-08-25 08:11] potatoqualitee commented on #3905
thanks for the info. ill do a new github release shortly. in general, if possible, I'd stick with syncing to the PowerShell Gallery. It's updated almost daily 👍 Sometimes multiple times per day.

[2018-08-25 09:42] MikeyBronowski commented on #3698
I ran some tests on my other machine with SQL 2016 with db matching cmpt_lvl.
Script     0.9.393    dbatools

1. VSCode has two outputs for my server:

Using <localhost>
**Test-DbaDBCompression -SqlInstance _localhost_ -Database Football**
WARNING: [10:36:03][Test-DbaDbCompression] Unable to query localhost - [Football] | Invalid column name 'is_node'.
Invalid column name 'is_edge'.

Using <actual

[2018-08-25 11:08] potatoqualitee commented on #3698
I am unable to repro any issues with sql2014. And I noticed, @MikeyBronowski that ISE works for you but Code does not. I have no idea how Code could mess up a T-SQL query, but is this possible?

What happens when you open up plain ol powershell.exe and use that?

[2018-08-25 11:09] potatoqualitee commented on #3698
@SQLDBAWithABeard - shall we just copy/paste that code above that you provided?

[2018-08-25 12:52] SQLDBAWithABeard commented on #3698
@jpomfret I was sat next to Mikey so I saw it.

It was also happening in SSMS with the raw T-SQL

@cl if it doesn't cause any issues then we could. Also on the prod machine we were using this was happening in ISE. So is a bit odd no-one else can repro

[2018-08-25 12:56] jpomfret commented on #3698
Man that is so strange. I had added some logic so depending on version it checked diff cols.. with the idea it doesn't look for cols that don't exist yet. I'll try and pull out the sql later and see if i can break it.

[2018-08-26 11:58] SQLDBAWithABeard opened #3933 "Test-DbaDbCompression doesnt work with SQL Auth"
### Before submitting a bug report:

- [ X] Ensure you are able to reproduce it on the latest released version (_we release often_)
0.9.393
- [ X] Verified this bug is not already reported in an issue
- [ X] Verified errors are not related to permissions
- [ X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

## A

[2018-08-26 15:50] SQLDBAWithABeard commented on #3933
Sho thing

[2018-08-26 20:16] #3933 closed

[2018-08-27 16:07] alevyinroc opened #3936 "Find-DbaUnusedIndex documentation doesn't match code"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Via conversation on Twitter, learned that the

[2018-08-27 19:28] #3867 closed

[2018-08-27 21:43] olegstrutinskii opened #3938 "File groups, files and data manipulation commands"
### Summary of new feature
Manage `FILEGROUP`s, data/log files, move data between data files and `FILEGROUP`

#### FILEGROUP
Get Info, create new, change parameters, delete

Suggested name - `New`|`Delete`|`Get`|`Set`/`-DbaDbFilegroup`

#### FILES
`Get-DbaDatabaseFile` - we already have this one
- Create one file, create files in batch with the same size, growth size and maxsize
- Delete, delete w

[2018-08-28 13:00] sqllensman commented on #3926
What exactly would be scope of this command. I have used the Export-DbaScript to script out most database objects and save the results into a Git repository.

Are you just wanting the Database objects DDL or do you also want User permissions?

[2018-08-28 13:17] potatoqualitee commented on #3926
Yeah, I'm thinking this is out of scope as well, since we also have the Dacpac commands that can handle it, too. You can use Export-DbaScript or Export-DbaDacpac, New-DbaPublishProfile and Publish-DbaDacpac.

[2018-08-28 14:04] wsmelton opened #3939 "Set MaxDop and Memory fail on sysadmin credential passed via parameter"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Actual Behavior

Receive warning tha

[2018-08-28 14:38] VolkerBachmann commented on #3938
Filegroup and Files looks good for me, move Data with Invoke-DbaDbShrink? is this not confusing with the shrink?
Thanks, Volker

[2018-08-28 15:12] Zhunya commented on #3938
You have two options to move data - partitions/indexes and DBCC SHRINK EMPTYFILE

[2018-08-28 15:29] potatoqualitee opened #3941 "Backup-DbaDatabase, add NO_COMPRESS for encrypted dbs"
Had a comment:

Basically, compression will never work with encrypted dbs, so we should warn and stop if -Compress is used or pull an Ola and do NO_COMPRESS no matter what (and warn).

[2018-08-28 16:51] #3939 closed

[2018-08-28 16:58] #3919 closed

[2018-08-28 17:37] SQLcyclopedia commented on #3926
Not sure how I missed these Dacpac commands.

Ending up creating a custom script using Powershell and SMOs based on:

https://www.red-gate.com/simple-talk/sql/database-administration/automated-script-generation-with-powershell-and-smo/

Will see if dacpac commands offer similar flexibility/outcome.

Thanks. Feel free to close for now.

Sent from my iPhone

[2018-08-29 08:46] potatoqualitee commented on #3926
thanks for the feedback! we'll be publishing an article today about the dacpac commands, check out dbatools.io/subscribe if you wanna receive it in your inbox.

[2018-08-29 08:46] #3926 closed

[2018-08-29 08:49] potatoqualitee commented on #3926
as an fyi, you can accomplish the same as the redgate article by using `Export-DbaScript` and `New-DbaScriptingOption` You can read more here: https://dbatools.io/happy-belated-world-backup-day/

[2018-08-29 09:32] garethnewman opened #3945 "Issue restoring diffs with Restore-Dba-Backups"
# sql server 2016 dev edition - windows 10
# backup and restore with no recovery, later we want a diff
Backup-DbaDatabase -SqlInstance server1 -Database (Get-Content C:\temp\dbs.txt) -BackupDirectory "\\server2\Backup" -Type Full | Restore-DbaDatabase -SqlInstance server2 -NoRecovery
# make a diff backup and restore it
Backup-DbaDatabase -SqlInstance server1 -Database (Get-Content C:\temp\dbs.txt)

[2018-08-29 09:41] Zhunya commented on #3945
Please add `-Continue` switch!

[2018-08-29 09:44] Stuart-Moore commented on #3945
Use the -continue switch on the diff restore.

On Wed, 29 Aug 2018 at 10:32, garethn <notifications@github.com> wrote:

[2018-08-29 09:56] garethnewman commented on #3945
thanks guys, i'll try it.

[2018-08-29 09:59] garethnewman commented on #3945
I got a bunch of access denied messages but the diff restore worked. Thanks! :)

[code]

[2018-08-29 10:01] Zhunya commented on #3945
That your server-side errors, please check if SQL Server service account
has access to file system where your backup files stored

[2018-08-29 10:04] garethnewman commented on #3945
Yes I thought that but the restore worked so I figured it must have access?

[2018-08-29 10:04] potatoqualitee commented on #3945
I'm going to fix this issue with a better warning brb

[2018-08-29 13:42] potatoqualitee opened #3947 "user reported error with Copy-DbaExtendedEvent"
I have this error when I use Copy-DbaExtendedEvent on my source on SQL Server 10.50 (10.53.6000)

New-Object : Exception calling ".ctor" with "1" argument(s): "Operation not supported on version 10.50.6000."
At C:\Program Files\WindowsPowerShell\Modules\dbatools\allcommands.ps1:7543 char:24
+         $sourceStore = New-Object  Microsoft.SqlServer.Management.XEvent.XEStore ...
+ ~~~~~~~~~~~~~~~~~~~

[2018-08-29 13:42] potatoqualitee commented on #3947
I'll either catch this gracefully or failback to tsql

[2018-08-29 16:09] SQLcyclopedia commented on #3926
I've been unable to achieve this using the out of the box dbatool.io commands mentioned. I'm looking for more flexibility in defining the database objects to copy and outputting/deploying as part of a single build script. For example, one of my requirements is not scripting database users - these may be in a different domain to the machine deploying script to causing failures.

As I feel this woul

[2018-08-29 17:11] pollusb commented on #3886
I wrote a simplier version of restore-database that does not bother with dbatools internal commands. This version works great with SQL2K. Should I submit a new fonction called Restore-DbaDatabase2K ?

[2018-08-29 17:13] niphlod commented on #3698
By any chance could it be dependant on database version rather than sql
version?! ;-) jm2c

Il dom 26 ago 2018, 15:21 Rob Sewell <notifications@github.com> ha scritto:

[2018-08-29 17:14] nvarscar opened #3948 "Add support for importing and exporting BACPAC packages"
---
name: Add support for BACPAC packages :bomb:
about: Add support for the bacpac command line parameters in the SqlPackage.exe call: /Export and /Import
Can be added to the existing command as a -Type parameter, but will probably need a cmd rename

---

### Summary of new feature

Add an option to use a simpler solution (bacpac) if the task is just clone the database - without all the complicati

[2018-08-29 17:15] #549 closed

[2018-08-29 17:15] #3884 closed

[2018-08-29 17:16] wsmelton commented on #3891
@ColinDouglas92 in the PR if you will update the issue related to the PR it will auto close these for us. The template for PRs should include this line where you can link the PR number ` Bug fix (non-breaking change, fixes #)`, just put the number directly after that `#` character.

[2018-08-29 17:16] #3891 closed

[2018-08-29 17:27] jpomfret commented on #3698
Can you replicate it @niphlod ? I tried with changing the compat level and still didn't get the errors/

[2018-08-29 17:48] pollusb commented on #3886
It doesn't
[code]

[2018-08-29 19:03] potatoqualitee commented on #3886
oo, k, sounds good. can you detect and take care of it in copy-dbadatabase too?

[2018-08-29 19:06] potatoqualitee commented on #3886
also detect and inform on restore-dbadatabase please? 🙇

[2018-08-29 19:59] #3010 closed

[2018-08-30 09:41] Stuart-Moore commented on #3886
Copy-DbaDatabase already works, adding another option gives more pathways to fix if we add something (eg; I'm vaguely looking at the copying across the same instance request).

If it's being called from within Restore-DbaDatabase, it either needs to support **ALL** the options, or warn the user if they've called it with options that aren't supported. Just informing as it does now avoids those issu

[2018-08-30 09:44] Stuart-Moore commented on #3917
Going to leave this a week to see if we get a reply, but my testing shows it's working the way CBH claims it should

[2018-08-30 09:45] Stuart-Moore commented on #3925
Sort of looking into this. The 2 options I'm looking at are:
Single Db - replace old name with new name in all files
Multi DB - Offer the choice to prepend a string to all Db names and FileNames

[2018-08-30 12:59] niphlod commented on #3698
Nope,was a wild guess

Il mer 29 ago 2018, 19:27 Jess Pomfret <notifications@github.com> ha
scritto:

[2018-08-30 13:27] potatoqualitee opened #3951 "Install-DbaMaintenanceSolution: Issue from Slack"
Unsure if this was fixed, but I had it in my queue and wanted to make an issue
[code]

[2018-08-30 14:58] dbaduff commented on #3917
Yeah, sorry. I should have checked back sooner. I thought I had included the full command. it was "Get-DBABackupInformation -SqlInstance <<servername>> -path <<URLPATH>>

I was not using `NoXpDirTree` but here's my argument. I have a directory with backup files in it, in a subdirectory I have documents, log files, whatever. When I run the above command it recurses to the lower directory and throws

[2018-08-30 16:02] Stuart-Moore commented on #3941
OK, so appveyor doesnt offer TDE (as it's express).

Should I:
a) delete the test
b) comment out the test so we have it for future reference if needed

[2018-08-30 16:06] niphlod commented on #3941
hum. express does not have agent and we surely have agent-based tests .... maybe try on the 2016-2017 instances ?

[2018-08-30 16:16] potatoqualitee commented on #3941
yeah 2016 and 2017 are Developer Edition 👍

[2018-08-30 16:19] potatoqualitee commented on #3941
thanks for taking a look btw!

[2018-08-30 16:37] Stuart-Moore commented on #3941
Will it causes issues with the pester grouping if I have 1 sql2016 test in the backup tests? All the others are 2008.

Is the balancing thing still a thing?

[2018-08-30 16:42] niphlod commented on #3941
If I did the work well, it selects within the matrix the needed env. We do
not balance among the matrix, we just run what can we run where it can run.

We also provisioned the organization in order to support multiple test
files per function, will the need arise to have a function tested in
multiple envs (check the wiki for naming convention, or ask me directly)

Il gio 30 ago 2018, 18:37 Stuart M

[2018-08-30 18:20] nvarscar opened #3953 "Stdout filestream buffer prevents Export-DbaDacpac from completing"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

## Expected Behavior
Completed

[2018-08-30 20:16] #3941 closed

[2018-08-30 20:17] #3953 closed

[2018-08-31 11:54] potatoqualitee opened #3956 "standardize configuration command names"
this is nasty

![image](https://user-images.githubusercontent.com/8278033/44911638-dee9e380-ad27-11e8-856a-67163e17a1bb.png)

We should match things up, except for maybe SpConfigure

[2018-08-31 11:54] potatoqualitee commented on #3956
I vote for Config, what yall think

[2018-08-31 12:14] gbargsley commented on #3370
No sir.  Have been deep in another project at the moment.

[2018-08-31 12:16] chrgraefe commented on #3370
Perhaps I can put some effort in this feature. I will switch to slack for further discussion

[2018-08-31 12:31] wsmelton commented on #3956
I'd vote for the following changes:

- `Set-DbaTempdbDbConfiguration` > `Set-DbaTempdbFile`
- `Test-DbaTempDbConfiguration` > `Set-DbaTempdbFile` (and yes `db` should be lowercase 😁 )

[2018-08-31 12:33] potatoqualitee commented on #3956
lol agreed on the lowercase, except where does that leave Get-DbaTempdbConfig. and i know it's strictly file messing right now, but gneeral config will allow us to expand if we wanna

[2018-08-31 12:34] wsmelton commented on #3956
What would you need to expand?

[2018-08-31 12:35] wsmelton commented on #3956
As of 2016 there are no trace flags to config for tempdb usage, and the file count themselves are already configured for you upon installation according to best practices. After 2012 is dropped those two commands are actually mute.

[2018-08-31 12:35] potatoqualitee commented on #3956
trace flags, potentially.  even if we don't, we'd still be left with an incomplete set. TempDbFile, TempDbFile, TempDbConfig

[2018-08-31 13:53] Stuart-Moore commented on #3925
Got this working with BackupRestore, as a bonus can now self copy to an instance:

copy-dbadatabase -Source localhost\sql2016 -Destination localhost\sql2016 -Database copytest -NewName instancecopy -BackupRestore -NetworkShare c:\temp

Hopefully get DetachAttach working over the next couple of days

[2018-08-31 15:02] wlansdowne commented on #3951
Hi, I'm encountering the same overall issue from what it looks like. I'm running 'Install-DbaMaintenanceSolution' (with the -InstallJobs parameter) which runs fine.  I'm then immediately using 'Set-DbaAgentJob' and 'New-DbaAgentSchedule' to edit/schedule the created jobs.  It only works about 20% of the time without warnings whereas in most cases some or all of the commands will give warnings like

[2018-08-31 16:30] potatoqualitee commented on #3951
thats useful info, thank you

[2018-08-31 16:41] laoki opened #3958 "Restore-DbaDatabase does not apply new diff backups"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

Was expecting th

[2018-08-31 17:48] stevenksco opened #3960 "test-dbalastbackup -copyfile give error: Cannot convert value to type System.String.."
PS C:\WINDOWS\system32> test-dbalastbackup -sqlinstance {remote} -Destination {local} -CopyFile -database model
WARNING: [10:44:09][Test-DbaLastBackup] Failed to copy backups for model on {remote} to  - Cannot process argument transformation on parameter 'filepath'. Cannot convert value to type System.String..

The command works until I try to use Copyfile.

thanks,

steve

[2018-08-31 18:33] Stuart-Moore commented on #3958
Unfortunately Diffs don't work like that I'm afraid.

You can restore 1 and only one on top of a full. Then it's t logs only.

That's a sql server thing we can't work around.
On Fri, 31 Aug 2018 at 17:41, laoki <notifications@github.com> wrote:

[2018-08-31 20:11] laoki commented on #3958
Stuart,

I was able to restore the additional file using SSMS.

This is the result using get-dbarestorehistory after restoring the file using SSMS:

![image](https://user-images.githubusercontent.com/25819430/44933801-c89c5180-ad40-11e8-81f4-c95b2548651f.png)

[2018-09-01 07:31] Stuart-Moore commented on #3958
So you can. Show you where the phrase about assume comes from.

But, you don't need to. Diffs are based off a full backup and contain all
the changed pages since that backup. The last one contains the first so
you're repeating yourself restoring multiples. Just restore the latest and
save yourself a restore.

So there's no need to support this as if you'd fed all the backups in we'd
have Skipped t

[2018-09-01 22:05] potatoqualitee commented on #3960
was able to replicate, thanks, will take a llok

[2018-09-02 03:40] wsmelton commented on #3938
Please check other issues before creating new ones. There are multiple issues around filegroup commands and balancing data between files.

[2018-09-02 03:43] #2357 closed

[2018-09-02 03:44] wsmelton commented on #3938
Moving data between files already exist. #2357

[2018-09-02 07:45] #2914 closed

[2018-09-02 07:45] #3960 closed

[2018-09-02 08:33] potatoqualitee commented on #3951
dang, i am unable to see from the code why it wouldnt work and i cant repro. how about you @sanderstad ?

[2018-09-02 13:29] SQLcyclopedia commented on #3925
Hi Stuart,

Perhaps the title isn’t quite concise but the main aim of this thread was to produce a .bak that could be configured with a different name and/or as a schema-only copy. Is this something you’ve considered?

Sent from my iPhone

[2018-09-02 14:35] Stuart-Moore commented on #3925
I'm implementing exactly what you asked for in the issue

You can't create a '.bak' with a different database name as you'd need to rewrite the SQL Storage engine. SQL Server takes care of that bit.  What we do other is a wide range of restoring that backup with different names, prefix or suffix via Restore-DbaDatabase.

Schema only, that'd be and export/import thing in dbatools terms, and isn't m

[2018-09-02 17:31] #3911 closed

[2018-09-02 19:40] SQLcyclopedia commented on #3925
Apologies Stuart, clearly I was hungover or half asleep writing this.

Getting confused with another issue I raised.

This sounds great 👍🏼

Sent from my iPhone

[2018-09-02 19:41] Hipposterous opened #3964 "[Test-DbaDbCompression] Typo in version warning"
The word Compression has a typo:

[code]

[2018-09-03 07:06] githubsqltoolsse commented on #3951
I think the first question might come from my question in slack, but that's not an issue anymore.

I figured out that If I ran the commands directly from command line or from a script with nothing else in the scripts, The commands worked. But when included as a part in my installation scripts, they didn't work. So something else in my script apparently, broke something. I also noticed that when ru

[2018-09-03 07:11] potatoqualitee commented on #3951
thank you both so much for this feedback. We do not support dbatools and sqlserver/sqlps because there's essentially a conflict.

@wlansdowne - if you can, use Microsoft's `SqlServer` module instead of `SQLPS`. They fixed a bunch of stuff and continue to develop it, unlike SQLPS.

[2018-09-03 15:39] sqllensman opened #3965 "Add Commands to collect latch stats, spinlock_stats, virtual_file_stats and waiting_tasks."
---
Currently dbatools includes a command Get-DbaWaitStatistic based on Paul Randal's post "Wait statistics, or please tell me where it hurts".
This collects data from sys.dm_os_wait_stats

Similar performance information is available for:

sys.dm_os_latch_stats
sys.dm_os_spinlock_stats
sys.dm_io_virtual_file_stats

For completeness and consistency these should also be available
---

### Summary o

[2018-09-03 16:08] sqllensman commented on #1165
This appears to be fixed .

The code now includes a filter for the Sessions and the above example returns no output.

[2018-09-03 20:22] gbargsley opened #3966 "Failure to Build Restore chain quick enough"
### Before submitting a bug report:

- [X ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [ ] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
We use the Ola backup solution.  I am trying t

[2018-09-04 01:01] #1165 closed

[2018-09-04 06:48] Stuart-Moore commented on #3966
You're pushing in 2 weeks worth of backups,. This is nothing to do with your 5 minute backups (I do those as well), just that you're pushing in too much data.

Unless you're really only taking a full backup every 2 weeks can you prefilter:

`Gci c:\path | ?{$_.LastWriteTime -lt (Get-date).adddays(-3) | restore-dbadatabase.........`

Or you can use Get-DbaBackupHistory:

`Get-DbaBackupHistory......

[2018-09-04 09:01] sqllensman commented on #3548
As the pull request has been merged can this be closed?

[2018-09-04 09:31] #3548 closed

[2018-09-04 12:04] gbargsley commented on #3966
So all of my backups are stored in the file path and we use Ola's backups.  I need to do a point in time restore of 09/01/2018 @ 4:00am.  Using your suggested method, how would I scan the folder or the MSDB backup history to build the restore chain to this point in time.  We store 14 days of backups in our backup paths.

[2018-09-04 13:00] Stuart-Moore commented on #3966
OK, need to ask some questions about your back schedules to answer that. Feel free to submit false info, but please make sure it's in the right ballpark and rebase my answers based on what you've provided.

To filter the files I'd need to know when you take the full backup as that's the earliest file  you need. For a restore to a Saturday on my larger systems I know I'd need to pull the Full from

[2018-09-04 13:15] gbargsley commented on #3966
We take a full weekly on Sunday at 4:00am. We take diffs every other day at 4:00am and tlogs every 5 minutes. Our fulls take between 4 and 6 hours to complete.

So the example I am working with this month was yesterday I needed to start a restore that was for a point in time of 09/01/2018 at 4:00am. So I pointed the restore function to my backup folder. And it seemed that before the function could

[2018-09-04 13:35] Stuart-Moore commented on #3966
Yes, or think about your overall backup strategy. I have a policy that I have to have a FULL restore chain on disk, ie for any full backup I must have all the diffs and logs up till now on disk. This is my DR plan, so if we lose a prod server I can recover without having to go back to tape/archive. So my backups are removed after the next full is taken and only up to that full.

In your case a fil

[2018-09-04 14:42] wlansdowne commented on #3951
Hi All -

I've only been able to initially test a few times, but can report back that after completely removing references to 'SQLPS' to prevent importing the module and converting everything else over to using DBAtools equivalents I'm no longer seeing warnings like I was.  I don't believe I'd have been able to do several test runs and not encounter them, so this appears resolved/mitigated.  Shoul

[2018-09-04 17:08] stevenksco opened #3968 "test-dbalastbackup -copyfile -maxmb 2 issues"
Test-DbaLastBackup -SqlServer $s.Instance -Destination $TestServer -copyfile -MaxMB 500

1) the files aren't cleaned up for the databases that are skipped due to size.  I think that section of code could be moved down 6 lines
2) if a database is skipped due to size, all the rest of the databases are skipped.  I think it's because the $restoreresult variable isn't initialized in the loop.

[2018-09-05 02:27] wsmelton commented on #1546
Updated output that catches scheduled Policies:

![image](https://user-images.githubusercontent.com/11204251/45067523-476af480-b089-11e8-9754-546f67518518.png)

That to your liking @potatoqualitee ?

[2018-09-05 02:45] wsmelton commented on #1546
Found additional issue on the logic. When the policy is scripted out it will try to create the condition with it, so it either needs to skip doing conidiations of a policy is provided...or I just add in dropping the condition in the policy block.

Thoughts?

[2018-09-05 06:01] #3402 closed

[2018-09-05 06:02] #3925 closed

[2018-09-05 06:48] potatoqualitee commented on #1546
ahh yeah, that makes sense,

[2018-09-05 07:38] sqllensman commented on #3890
Looking at the example code for all functions there are quite a number with spelling or grammar errors.
There are also examples where the code and the description do not match. While I am happy to make the necessary minor changes should these be done via a single pull request or with separate requests per function?

[2018-09-05 07:55] sqllensman commented on #3528
This bug report was converted into request for new command. As the new command was created Issue 3548 can this now be closed?

[2018-09-05 07:58] potatoqualitee commented on #3528
yes indeed thank you, will close now

[2018-09-05 07:58] #3528 closed

[2018-09-05 07:58] potatoqualitee commented on #3528
btw, renamed Get-DbaResourceGovernorClassiferFunction to Get-DbaRgClassiferFunction

[2018-09-05 08:55] labyrinthsystems opened #3972 "Restore-DbaDatabase apply log backups with -FileMapping"
Version 0.9.399
Have an existing database in full recovery. Using the latest full backup, restore it as a copy of that database. Use -FileMapping to provide the new physical files. Leave it in no recovery to restore transaction logs from the existing database to the newly restored database. Like log shipping.
Issue is that -FileMapping does not seem to work with -Continue parameter as the error me

[2018-09-05 12:14] niphlod commented on #3890
If they are just related to help you can issue a PR with a few functions
in. Wr wanna be agile even in layman's terms, so try to envision that for
the PR to be easily merged it should be also easy to review..
Balance the number of included files with that bit in mind (I'd say no more
than 10 on top of my head)

Il mer 5 set 2018, 09:38 Patrick Flynn <notifications@github.com> ha
scritto:

[2018-09-05 13:13] Stuart-Moore commented on #3972
Having problems replicating this one.

![image](https://user-images.githubusercontent.com/5613670/45095131-336cd480-b115-11e8-8693-34be43d55cdf.png)

[code]

Which I'm pretty sure mirrors your logic. And it's working as expected.

Thats in ps V4, I just need to try and find a PS4 box to try it on as well to confirm.

[2018-09-05 16:56] sqllensman commented on #2897
The following query will return the requested information:

select
	SERVERPROPERTY('MachineName') as ComputerName,
	Coalesce(SERVERPROPERTY('InstanceName'), 'MSSQLSERVER') AS InstanceName,
	SERVERPROPERTY('ServerName') as SqlInstance,
	DB_NAME() as [Database],
	Schema_Name(o.schema_id) + '.' + o.name as [Name],
	Case
		WHEN CHARINDEX('Who Is Active? v', sm.definition) > 0 THEN SUBSTRING(sm.definit

[2018-09-05 21:35] sqllensman commented on #3923
What would be a suitable name for the TopN parameter?

[2018-09-05 21:50] MikeyBronowski commented on #3923
Get-DbaTopResourceUsage uses -Limit however it has 'TOP' in the function name.

[2018-09-06 07:33] #3890 closed

[2018-09-06 14:09] potatoqualitee opened #3982 "Website will need major updates after this PR"
tho the amount of time it'll take to update it might be better investing in some kind of automated markdown system

[2018-09-06 14:35] niphlod commented on #3982
it'll be. let's say weekend-ish beta ready

[2018-09-06 14:58] potatoqualitee commented on #3982
Thanks so much! In the blog post, I'll let people know we have a beta site on the way to address our website being outdated ❤️  /cc @gbargsley (niph will be doing it dynamically instead of requiring your intervention)

[2018-09-06 15:03] gbargsley commented on #3982
Ok, sorry I could not be more help.

[2018-09-06 16:33] garethnewman commented on #3958
+1 I'd like to have this, not sure how much effort will be involved though.

[2018-09-06 16:36] labyrinthsystems commented on #3972
Hi @Stuart-Moore ,
![20180906](https://user-images.githubusercontent.com/17836420/45171743-1c081700-b1fb-11e8-84a3-86135e7f54c0.png)
I think I'm doing the exact same as you, I can't quite believe it! I'm on dbatools version 0.9.381.
I wouldn't rule out that I'm doing something stupid though

[2018-09-06 17:00] Stuart-Moore commented on #3958
It's done. I'm just trying to replicate another issue to put in the same
pr. If I can't do that tonight I'll push up the fix anyway for tomorrow
morning.
On Thu, 6 Sep 2018 at 17:33, garethn <notifications@github.com> wrote:

[2018-09-06 17:06] garethnewman commented on #3958
amazing, thanks Stuart,

[2018-09-07 08:43] sqllensman commented on #3923
Get-DbaQueryExecutionTime uses the parameter MaxResultsPerDb. If the limit is to apply per database then I would think this would be more consistent.
Also when determining the Top N by table size should we
(a) Rank by TotalSpace
(b) Rank by UsedSpace
(c) Rank by Row count

Finally should this be done at
(1) Table level
(2) Index level
(3) Partition level

[2018-09-07 17:07] sqllensman commented on #3671
The Parameter names have been updated but in Test-DbaLogShippingStatus the data set that is returned is still having a reference to BackupThresshold and RestoreThresshold

While these could be updated to more accurately reflect the actual names from sys.sp_help_log_shipping_monitor  (backup_threshold and restore_threshold) this would be a breaking change.

[2018-09-07 17:55] wsmelton commented on #3671
You use aliasing on the parameters for temporary support of the old parameter names.

[2018-09-07 17:56] wsmelton commented on #3671
Oh you mean property names? That can be handled with the default view command, it allows you to alias the property name as `Database as DatabaseName` or some similar syntax (can't recall right now).

[2018-09-07 18:46] thellebuyck opened #3989 "Copy-DbaDatabase Database Count Check"
---
name: Copy-DbaDatabase Database Count Check
about: Rather than checking the number of remaining databases on the source server (see code snippet below in Tech Details section), change this to check if the database to be migrated is a system database or a user database.

---

### Summary of new feature

* Change this to evaluate whether or not the source database is a system database

### Propo

[2018-09-07 18:48] sqllensman commented on #3671
I guess you mean Select-DefaultView using an InputObject or similar.  I can see Get-DbaComputerSystem does smething like this so I will try creating a non breaking update that can return borh the correct names and the misspelled names

[2018-09-07 23:38] CJChristensen opened #3992 "Copy-dbadatabase in newest version (0.9.412) isn't associated with the module along with other commands."
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

## Expected Behavior
Running c

[2018-09-08 11:13] sqllensman commented on #3671
The code can be fixed while continuing to return the misspelled names using something like:

                # Set up the custom object
                # Includes mispelled properties BackupThresshold and RestoreThresshold for backward compatiability.
                $null = $collection.Add([PSCustomObject]@{
                        ComputerName          = $server.ComputerName

[2018-09-08 12:35] sqllensman commented on #1082
If all that is wanted is to create a script to export the table data then this can be acheived via something like:

$options = New-DbaScriptingOption
$options.ScriptSchema = $false
$options.ScriptData = $true
$options.IncludeDatabaseContext  = $true

$obj = Get-DbaTable -SqlInstance lensmansb -Database AdventureWorks2014 -Table [HumanResources].[Department]

Export-DbaScript -InputObject $obj -Scr

[2018-09-08 16:14] sqllensman commented on #3822
This is a more general case of issue raised in Issue #3237

The problem is that Microsoft has again chosen to not consistently update the SMO library.

As per investigation in #3237 the missing values all have a value in the Configuration.Properties collection but don't have a matching property in Configuration class.

The issue is that the Name returned by Get-DbaSpConfigure is the Property name

[2018-09-09 00:28] wsmelton commented on #3671
I would just say we correct the misspelled property names...not really much use in keeping them around. It is only a breaking change if they were used to begin with and I can't recall anyone bring it up in another issue.

I'd prefer to just correct the spelling vs having two with the same value. It is something when we get to 1.0 release we likely won't remember to correct anyway.

[2018-09-09 00:35] wsmelton commented on #659
@mvillegascuellar this is related to security changes that happened starting with 2016. The unsafe assemblies are no longer allowed by default in SQL Server 2016+. You can get [more details here](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-assembly-transact-sql?view=sql-server-2016).

You will need to adjust the configuration in the documentation linked and then should be able to

[2018-09-09 00:35] #659 closed

[2018-09-09 00:38] wsmelton commented on #3821
The output for all the copy commands was updated to output an object. If that is not sufficient please open a new issue with the details.

[2018-09-09 00:38] #3821 closed

[2018-09-09 00:39] wsmelton commented on #3659
I have not looked at the command in a while but recall it did show databases completed. @gbargsley if this is still an issue please update this issue.

[2018-09-09 00:39] #3723 closed

[2018-09-09 00:42] wsmelton commented on #2919
Being that we use the same library I don't see this being correct-able. For the most part we advertise that dbatools does not play well with the other modules.

I have not tested any of it since new releases have come around. Do we still need to look into this one, or just close?

[2018-09-09 09:59] Stuart-Moore commented on #3992
Hi @CJChristensen - unfortunately your repro code has disappeared. Could you add it please so we test it properly

[2018-09-09 12:09] #3958 closed

[2018-09-09 12:10] #3671 closed

[2018-09-09 17:25] koglerk opened #4003 "Installer Function for SqlWatch?"
### Summary of new feature

Given that [SqlWatch prefers a DACPAC deployment](https://sqlwatch.io/docs/installation/dacpac-deployment/), and dbatools has `Publish-DbaDacpac`, should we offer an installer function similar to `Install-DbaFirstResponderKit` and `Install-DbaMaintenanceSolution`?

At my day job, I have a need to automate the deployment of SqlWatch across my SQL Servers. I'd be happy to

[2018-09-09 17:51] marcingminski commented on #4003
Hi,

Thank you for your interest in SQLWATCH!

This has been on my to-do list for some time. I think this would be a better fit for dbatools rather than the SQLWATCH repo for a number of reasons:
1. SQLWATCH already offers a number of standard ways it can be deployed to a single server
1. Multi-server management using PowerShell is what dbatools have been designed for.
1. I feel it would be duplic

[2018-09-09 17:59] potatoqualitee commented on #4003
yep! i agree, it belongs in dbatools. I just realized that's where @tootblan posted the issue, unsure if you thought it was in SqlWatch, @marcingminski. either way, i'd love to see supporting commands for SqlWatch in dbatools 🌮

[2018-09-09 18:01] tootblan commented on #4003
Thank you both for weighing in so quickly! I'll see if I can get it coded and have a PR submitted by the end of this coming week.

[2018-09-09 18:04] marcingminski commented on #4003
Good deal, I will focus on building SQLWATCH then. Thank you!

[2018-09-09 18:11] potatoqualitee commented on #4003
sounds fab @tootblan !

[2018-09-09 18:18] potatoqualitee commented on #3982
np. just gotta fix the .htaccess and we should be mostly set.

If there is a way to detect our current images / videos available on the dbatools site and auto inject into the docs, that'd be awesome /cc @niphlod

[2018-09-09 22:34] niphlod commented on #3982
how can images / videos be maintained by anyone ? we reached (quite long ago) the limit where there's no manpower available to keep up with the changes. Granted, compiling by hand a wordpress page makes the result nicer but we need to face the truth that having docs in both the sourcecode AND the site is unmaintainable. If we *do* want images and videos, they should be included in the inline help,

[2018-09-10 12:03] gbargsley commented on #3659
![image](https://user-images.githubusercontent.com/169602/45296351-64f3f000-b4c7-11e8-9245-a0a647a2c79d.png)

![image](https://user-images.githubusercontent.com/169602/45296360-6b826780-b4c7-11e8-8d12-90bc99ca0d3b.png)

![image](https://user-images.githubusercontent.com/169602/45296387-85bc4580-b4c7-11e8-974c-ae1e7d71aa8d.png)

In ISE or command line it shows percent of a backup complete, but it d

[2018-09-10 12:12] potatoqualitee commented on #3982
It's true. A lot of our current images are very out of date 🤔

[2018-09-10 12:29] gamarcon opened #4004 "DBATools: Import-DbaCsvToSql : The '++' operator works only on numbers. The operand is a 'System.IO.FileInfo'"
Reference: [https://dbatools.io/functions/import-dbacsvtosql/]

Trying to impact a few information into SQL Server using DBA Tools, and I get the error when I attempt to import - The rest of the script works fine, except for the Import-csv:

_Import-DbaCsvToSql : The '++' operator works only on numbers. The operand is a 'System.IO.FileInfo'. At line:5 char:5_

Query I am using to export and import

[2018-09-10 12:34] potatoqualitee commented on #3992
0.9.412 hardcore bombed, my apologies- a character was missing which caused the import to fail. Please download the latest version.

[2018-09-10 12:35] potatoqualitee commented on #3951
excellent news. thanks so much!

[2018-09-10 12:35] #3951 closed

[2018-09-10 13:52] ClaudioESSilva commented on #3982
It's too strange if we add the URL (video/image) to the function help? :thinking:
That way would render on the docs page.

[2018-09-10 13:54] potatoqualitee commented on #3982
I think we could have, similar to Author a Screenshot: and Video: in the notes

[2018-09-10 13:59] potatoqualitee commented on #3982
shawn just made a great point - that we can do text, much more managable.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/invoke-command?view=powershell-6

![image](https://user-images.githubusercontent.com/8278033/45301975-65fe3f00-b512-11e8-926f-5fc2d794ac69.png)

[2018-09-10 15:37] JonGod303 commented on #3897
I'm having the same issue. I get an error stating

I've tried entering the path with or without the final \ and with and without quotes and still getting the same error.

[2018-09-10 20:13] potatoqualitee opened #4006 "add new xe template"
add and credit sander stad
[code]

[2018-09-11 10:34] #4006 closed

[2018-09-11 15:17] niphlod commented on #3982
I'm lost but whatever "suite" we may use to generate docs from inline help
basically means writing such inline help with mardown. Given markdown has
been created for the exact purpose of looking good even when not
"rendered", we can do whatever we want. Maybe for images/gif/videos we
*could* figure out a nice name for the asset to be embedded, but if we
wanna do text, no problems either.

Il lun 1

[2018-09-11 19:22] gwojan opened #4012 "The latest dbatools takes almost 4 times longer to load than 0.9.400"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

[code]

[2018-09-12 08:16] knudsole opened #4015 "Import-DbaCsvToSql fails to load data in Sql server when user defined data types"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[2018-09-12 13:09] tootblan commented on #4003
The SQLWATCH [DACPAC deploy documentation](https://sqlwatch.io/docs/installation/dacpac-deployment/dacpac-deployment-using-command-line/) indicates the property `RegisterDataTierApplication` should be set to `$True` when the DACPAC is published. The best way I can see to do that would be to modify the XML used as a template in `New-DbaDacProfile`:

[code]

In the code above, I've added `$RegisterD

[2018-09-12 15:59] matt-darwin opened #4017 "Set-DbaPrivilege does not set the privilege if no users are currently assigned that privilege"
## Steps to Reproduce

On a server where there is a right with no users assigned (Lock Pages In Memory in my example):-
![image](https://user-images.githubusercontent.com/29404748/45436636-2c147080-b6ab-11e8-9bae-49a7c72dc6b3.png)

`Set-DbaPrivilege -Computer [Yourcomputer] -type LPIM`

## Expected Behavior

Expect the right to be assigned.

## Actual Behavior

The function appears to work, but no

[2018-09-12 17:12] ben-thul opened #4020 "Get-DbaSqlProductKey does not return a product key for SQL 2016 instances"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

The product key

[2018-09-12 20:28] sqllensman commented on #3964
This has been fixed and can be closed

[2018-09-12 20:34] niphlod commented on #3964
closing as requested

[2018-09-12 20:34] #3964 closed

[2018-09-12 20:35] sqllensman commented on #3923
@SQLDBAWithABeard

I have created Pull request to add the requested functionality. Have added both options to filter by Schema, Table and no or objects.

While testing I noticed that
(a) The procedure errors when used against a database with collation different to Server
(b) The code from the TigerToolbox was incorrect for Partitioned tables. The procedure sp_estimate_data_compression_savings retu

[2018-09-13 14:35] #4004 closed

[2018-09-13 19:57] AlreadyPicked opened #4023 "Find-DbaInstance not returning anything"
I'm attempting to find all SQL instances on my ActiveDirectory but started first with a fixed list of only one server in a text file and doing this: Get-Content $PSScriptRoot\servers.txt | Find-DbaInstance

Nothing is being returned and the server has 2 instances on it.

What could I be doing wrong?

Thanks.

[2018-09-14 10:31] sqllensman commented on #3822
Further investigation indicates that
(a) The current SMO class being used not only does not include all Properties that are available in sys.configurations it also includes Properties that don't exist . Eg SqlMailXPsEnabled property was removed from SQL Server 2012 but still present in SMO.

(b) There seems 1 to 1 correspondence between the entries in sys.configurations and the Configuration.Prope

[2018-09-14 10:36] potatoqualitee commented on #4012
thanks for the report! are you starting with a fresh session each time? the second time will always run faster, even with -Force

[2018-09-14 11:51] gwojan commented on #4012
Yes. Each test is done in a brand new PowerShell session.

[2018-09-14 13:01] potatoqualitee commented on #4012
thank you, can you please use -verbose and tell me where it stalls?

[2018-09-14 13:54] gwojan commented on #4012
It appears to stall right at:

`VERBOSE: Loading module from path 'C:\Program Files\WindowsPowerShell\Modules\dbatools\0.9.418\dbatools.psm1'.`

then zips right through exporting all the functions.

[2018-09-14 14:07] gwojan commented on #4012
FYI, I just tested v0.9.419 and the import times are consistently taking at least 10 seconds as opposed to the previous 8.5 seconds.

[2018-09-14 17:14] #4020 closed

[2018-09-14 19:09] wsmelton commented on #3822
We have no control over what is returned or not returned by SMO. It will have to be decided whether we stick with SMO for the commands or move them to T-SQL for consistency.

[2018-09-16 15:33] tootblan commented on #4003
The parameter in the previous comment was updated to use a hashtable as proposed. PR coming shortly.

[2018-09-16 18:58] #3822 closed

[2018-09-16 19:42] wsmelton opened #4031 "Export-SpConfigure does not allow path relative to instance"
Test path does not validate that the path could be local to the instance and not on the server. We support this in other export commands and should include that in this one as well.

This would mean that the import equivalent should support it as well.

[code]

[2018-09-16 20:08] sqllensman commented on #4031
Not exactly clear on what this issue is.
I have pull request currently open to modify this function and so could incorporate necessary changes

[2018-09-16 20:12] wsmelton commented on #4031
Your PR is already merged.

The path passed in in the current command assumes it is local to the machine the script is running on and not the remote instance. (Use of Test-Path does not support remote validation.)

[2018-09-16 21:34] #3923 closed

[2018-09-17 09:10] potatoqualitee commented on #4012
Thank you. I'm experiencing issues too. Check out `[Sqlcollaborative.Dbatools.dbaSystem.DebugHost]::ImportTime`

0.9.400
![image](https://user-images.githubusercontent.com/8278033/45614542-27183e00-ba6a-11e8-8988-90afaacfb9ab.png)

Current version
![image](https://user-images.githubusercontent.com/8278033/45614546-2c758880-ba6a-11e8-9c6d-51571c210272.png)

Our runspaces are freaking out and runnin

[2018-09-17 09:18] potatoqualitee commented on #4012
These are developer import times, which bypass allcommands.ps1, btw.

[2018-09-17 09:20] potatoqualitee commented on #4012
Windows 7 x86, though? 4.5 second import, no runspace issues :(
![image](https://user-images.githubusercontent.com/8278033/45614989-87f44600-ba6b-11e8-8df3-d7a086f2320c.png)

[2018-09-17 10:14] cusco opened #4035 "Backup-DbaDatabase with -CompressBackup flag, not compressing when being ran from task scheduler"
Hello.

I'm finding a weird situation. My command is:
`Backup-DbaDatabase -SqlInstance sqlcore -BackupDirectory "E:\bk" -Type Full -FileCount 1 -CreateFolder -Database perfMasterFile -CompressBackup`

If I run it from a power shell prompt, the backup is compressed.
If I save this to a script.ps1 and run it from task scheduler, the backup is not compressed.

I can't understand why

What other infor

[2018-09-17 10:57] Stuart-Moore commented on #4035
Hmm, can't repro this on command line. Using latest version of prod:
![image](https://user-images.githubusercontent.com/5613670/45618981-8e84bc80-ba6f-11e8-9640-1e3e92ce7280.png)

Could you post the entire contents of script.ps1 please. It might be loading a different version of the module than you're running on the command line

And could you confirm which version of the module you're running, ju

[2018-09-17 11:03] cusco commented on #4035
Hello

The script contains:
`Backup-DbaDatabase -SqlInstance sqlcore -BackupDirectory "E:\bk" -Type Full -FileCount 1 -CreateFolder -Database perfMasterFile -CompressBackup

Remove-DbaBackup -BackupFolder "e:\bk\perfMasterFile" -RetentionPeriod 3h -BackupFileExtension trn
Remove-DbaBackup -BackupFolder "e:\bk\perfMasterFile" -RetentionPeriod 3h -BackupFileExtension bak
`

How do I check the versio

[2018-09-17 11:14] Stuart-Moore commented on #4035
unless you're pulling versions from git, then this should tell you what the default would be `get-module dbatools -ListAvailable`

How are you checking if the backup is compressed or not?

[2018-09-17 14:19] cusco commented on #4035
`ModuleType Version    Name
---------- -------    ----
Script     0.9.380    dbatools`

The backup ran in a power shell instance, by hand, resulted in a file of 300GB, while the same but not compressed resulted in 900GB. The nightly file is always 900ish GB.
I haven't verified it in any other way

[2018-09-17 15:03] gwojan commented on #4012
@potatoqualitee Neat! I didn't know about `[Sqlcollaborative.Dbatools.dbaSystem.DebugHost]::ImportTime`...

With that being said I have been testing against several different servers and have not been able to reproduce the issue. I was beginning to think it was an environmental issue with my laptop which is Windows 10, 1803 so I'm glad you were able to repro it.

The servers in my tests have been

[2018-09-18 09:43] potatoqualitee commented on #4012
thanks @gwojan - so you can only repro on windows 10 correct? so far, me too

[2018-09-18 09:51] potatoqualitee commented on #4012
wow, so from what i can see, the module is getting loaded a bunch of times within import-module

![image](https://user-images.githubusercontent.com/8278033/45679583-35815b00-bb39-11e8-8b3d-9e932b92f90e.png)

[2018-09-18 11:04] potatoqualitee commented on #4012
k, that got fixed, now back to the weird runspaces taking forever

[2018-09-19 02:10] JimPeabbles opened #4039 "Install-module dbatools completes, but all commands not recognized as the name of a cmdlet"
### Before submitting a bug report:

- [ ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [ ] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Install-Module dbatools
Get-DbaDatabaseSpace :

[2018-09-19 13:48] wsmelton opened #4042 "Support PowerShell Core 6.1"
### Summary of new feature

Research and document what will have to be adjusted/updated in order for us to support PowerShell Core. It is clear that not all commands are going to work because the whole SMO library has not been converted to .NET Core.

### Proposed technical details (if applicable)

- Look at what will have to happen for the import process
- Organization on the two versions of SMO

[2018-09-19 13:49] wsmelton commented on #4042
Creating this to start the discussion being that PS Core 6.1 was released.

// @potatoqualitee @FriedrichWeinmann @niphlod

[2018-09-19 16:36] #4031 closed

[2018-09-19 17:48] potatoqualitee opened #4046 "Test-DbaBackupInformation tries to create directories for read-only calls"
I recall looking at the logic before and couldn't see why but this should not happen when exporting

![image](https://user-images.githubusercontent.com/8278033/45771219-d4df4480-bc44-11e8-9bcb-f34e515d8296.png)

[2018-09-20 13:41] Zhunya opened #4048 "Extend Test-DbaLastBackup pipe support [BackupHistory]"
### Summary of new feature

* Add support for `[Sqlcollaborative.Dbatools.Database.BackupHistory]` from pipe or variable.

### Latest version of dbatools as of writing

* 0.9.431

[2018-09-20 17:02] gwojan commented on #4012
@potatoqualitee, I noticed a Twitter post that sounded like this issue might be fixed but I'm still seeing really long load times on my Windows 10 laptop with the v0.9.431 release. Any word?

[2018-09-20 18:03] potatoqualitee commented on #4012
hey there, that was for another issue. still unsure about this one. debugging it will be pretty advanced so may take some time to solve :(

[2018-09-20 18:12] Stuart-Moore commented on #4035
Still trying to repo this.
Is the test db encrypted? And is there any chance you've got multiple versions of dbatools installed? We did fix a bug a week or so around encryption and compression, so just wondering if it's a throwback to that.

[2018-09-20 18:15] Stuart-Moore commented on #3966
No response for 14 days, closing as not a dbatools issue.

[2018-09-20 18:15] #3966 closed

[2018-09-20 19:35] nanoDBA opened #4050 "Install-DbaMaintenanceSolution: Add support for separate locations for Full, Diff, Log, and System Database Backups"
### Summary of new feature

* Add support for utilizing separate locations for Full, Diff, Log, and System Database backups when creating jobs for Ola Hallengren's maintenance solution when the **-InstallJobs** switch parameter is called.  This functionality is not currently provided in Ola's MaintenanceSolution.sql script.  A single variable, @BackupDirectory , is used.

### Proposed technical de

[2018-09-20 20:56] #3968 closed

[2018-09-20 20:58] #4046 closed

[2018-09-20 21:10] jrob24 opened #4052 "Import-DbaCsvToSql: the '++' operator works only on numbers. The operand is a 'System.String'"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

## Expected Behavior

Import d

[2018-09-21 01:44] jasonmcboyd opened #4053 "Relative paths do not work with Export-DbaDacPackage command"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

Create a dacpac

[2018-09-21 11:46] #4053 closed

[2018-09-21 14:15] Stuart-Moore commented on #4048
Thanks, I don't get onto slack that often so don't always see the origins of issues.

Would it be better to modify Test-DbaLastBackup to take multiple instances?

Would save adding another pathway through the function? Could be implemented as just another loop around the core db loop? Probably faster and more memory efficient than using a pipeline?

[2018-09-23 22:27] tootblan commented on #4003
OK @marcingminski I'm officially stuck.

I've got functions written to install and uninstall SQLWATCH and I've got Pester tests for both. You can see them [in this branch](https://github.com/tootblan/dbatools/tree/Install-DbaSQLWATCH) if you like.

I can run `Install-DbaSQLWATCH` and specify a database name of `SQLWATCH` and everything works great. But when I try to specify any other database name

[2018-09-23 22:40] marcingminski commented on #4003
Hi, nah you should be able to use any database name, there shouldn’t be anything hardocded in the agent but I’ll double check. I need to improve the way I create agent jobs anyway. Which version are you using?

[2018-09-23 22:46] tootblan commented on #4003
@marcingminski version 1.2.6839.42002.

[2018-09-23 22:50] marcingminski commented on #4003
Yeah there’s a bug, I just looked at the code. Apologies. I’ll fix that tommorrow. You can try with previous version 1.1 (in releases) that should work with any database name.

[2018-09-23 22:59] tootblan commented on #4003
No worries. I'll wait till tomorrow and do some final testing.

[2018-09-24 23:06] marcingminski commented on #4003
Hi, Fixed. There were two bugs actually, one to do with hardcoded database name and one with primary key violation due to missing `snapshot_type_id` for new indexes collector. These fixes were both in the PostDeploy script - which, as I found out today, do not trigger Dac build and therefore do not increase build count (I have been doing this for the past few years and never noticed). The result w

[2018-09-25 06:32] bielawb opened #4065 "Import-DbaRegisteredServer fails in a weird way when import file contains data already present in CMS."
I was trying to use Import-DbaRegisteredServer to make sure that my CMS config is described and can be easily reset to expected values. Unfortunately, it fails when used in that fashion with a warning (ouch) and without any explanation about potential reason (double-ouch).

## Steps to Reproduce
[code]

## Expected Behavior

I would expect an error message (so that I can -ErrorAction Stop) with a

[2018-09-25 23:53] potatoqualitee commented on #4012
do me a favor? run this on the fast import machines and the slow import machines, tell me what it says

`[AppDomain]::CurrentDomain.GetAssemblies() | Where-Object { $_.Fullname -like "Microsoft.SqlServer.XE*,*" }`

[2018-09-26 08:07] potatoqualitee commented on #4012
Should be 0.9.403 that breaks. I found the offending commit. Load time jumps from 7 seconds to timeouts.

Just not sure what to do about it, yet. It has to do with

https://github.com/sqlcollaborative/dbatools/commit/9d8ef7a4b6272c89cb0bd0e0f331aa8946eb46b7

![image](https://user-images.githubusercontent.com/8278033/46065470-6e8d8100-c172-11e8-8466-8751d74abfc6.png)

`git reset bcbc7b7 --hard`
clo

[2018-09-26 08:40] potatoqualitee commented on #4012
hoooh, figured it out. that was an adventure

[2018-09-26 09:13] cusco commented on #4035
Hello,
The database is not encrypted. I re-installed with "Invoke-Expression (Invoke-WebRequest https://dbatools.io/in)" - using windows server 2012, both with my user, and administrator.

It updated.

The task scheduler is set to run as my user (which is a domain admin).

The output file is still around 900GB.

I'm not sure what else I can do to provide you with debugging info

[2018-09-26 10:54] #4012 closed

[2018-09-26 12:54] githubsqltoolsse opened #4073 "Install-DbaWhoIsActive throws batch parser error."
### Before submitting a bug report:

- [ x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ x] Verified this bug is not already reported in an issue
- [ ?] Verified errors are not related to permissions
- [ x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior

I expect to

[2018-09-26 13:06] potatoqualitee commented on #4073
thank you for the report.

right after it fails, can you do an `$error[0] | select *` and tell us what it says?
tks

[2018-09-26 13:12] githubsqltoolsse commented on #4073
Hi,
That gave me some more details. (This looks interesting  .FileNotFoundException: Could not load file or assembly 'Microsoft.SqlServer.BatchParser.dll')

This is the output from the command:

PSMessageDetails      :
Exception             : System.Exception: Exception calling "ExecuteNonQuery" with "1" argument(s): "ExecuteNonQuery fa
                        iled for Database 'maintenance'. " --

[2018-09-26 13:18] gwojan commented on #4012
😄

@potatoqualitee, do you sleep!? 😉 I didn't have Interwebz access last night because... Comcast... Sigh. I was going to do your tests first thing this morning and then I see my inbox!

I guess the only question I still have is why this only occurs on Windows 10?

[2018-09-26 13:53] potatoqualitee commented on #4012
i did not sleep much last night ;) I couldn't pull myself away; that issue and the XE issue was driving me crazy.

I actually do not know why that particular line caused the slow down, though I suspected it would be one or all of the 4 config commands.

If I had to guess, that line threw the import into an infinite loop because of some internals that are beyond me, though @FriedrichWeinmann may kn

[2018-09-26 15:20] potatoqualitee opened #4076 "Install-DbaInstance"
Mike Wells made the popular SPADE script set to help automate the install of SQL Server. I'm looking to do something similar in dbatools. Got any suggestions?

First one of my own is to auto build a config ini based on an existing SQL Server's configs. I'm thinking the following:

* New-DbaInstallConfigIni that accepts SqlInstance or Version
* Install-DbaInstance that works remotely, accepts the i

[2018-09-26 15:48] potatoqualitee commented on #4076
Also this is for my reference: https://natethedba.wordpress.com/2017/08/04/automating-sql-installation/

[2018-09-26 16:46] EnjoyinMoss commented on #3897
Encountered this issue today and checked the class [System.IO.FileInfo] - it definitely doesn't contain a method called TrimEnd.

[2018-09-26 16:58] greenmtnsun commented on #4076
One of my biggest problems with creating INI files is the MANY options that are available and getting them right.  If you were able to get all available configuration options into the module, with all of the workable options as well, that would be a MAJOR slam dunk for silent installs.

[2018-09-26 17:17] potatoqualitee commented on #3897
seems pretty straight forward, i'll take a look, thanks for the ping

[2018-09-26 17:44] niphlod opened #4079 "Get-DbaBuildReference, fetch online index throws error"
posted on the channel from Ken Grissom.
[code]

good old tls.

[2018-09-26 19:27] EnjoyinMoss opened #4083 "Backup-DbaDbCertificate 'Could not load BatchParser'"
## Steps to Reproduce

[code]

## Expected Behavior

## Actual Behavior

                        System.Management.Automation.MethodInvocationException: Exception calling "Export" with "4" argument(s): "Export failed for Certificate
                        'tdeCert'. " ---> Microsoft.SqlServer.Management.Smo.FailedOperationException: Export failed for Certificate 'tdeCert'.  --->

[2018-09-26 19:59] #4079 closed

[2018-09-26 20:20] awickham10 commented on #4073
Issue #4083 also reports a similar error re: Microsoft.SqlServer.BatchParser.dll

[2018-09-26 20:29] potatoqualitee commented on #4073
ah ha! i knew it came up recently. strange  how it's all at once now. i recall us having this issue in the past and it was unresolved cuz it seemed related to x86 but #4083 reported they're running x64. currently cant repro on win10 x64. can you try @awickham10 ?

[2018-09-26 22:26] kkgrissom opened #4086 "dbabuildreference –update WARNING: [12:39:12][Get-DbaBuildReferenceIndexOnline] Couldn't download updated index from https://sqlcollaborative.github.io/assets/dbatools-buildref-index.json"
### Before submitting a bug report:

- [ ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [ ] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

[code]

Download latest JSON files fro

[2018-09-26 23:31] awickham10 commented on #4073
This seems like a reasonable place to start looking. I wasn't able to reproduce it either (Win10 x64 against 2019 Ubuntu).

https://social.technet.microsoft.com/wiki/contents/articles/35832.sql-server-troubleshooting-could-not-load-file-or-assembly-microsoft-sqlserver-batchparser.aspx

[2018-09-26 23:36] awickham10 commented on #4035
What's the program/script and arguments set to on the task scheduler action?

[2018-09-27 06:08] niphlod commented on #4086
fixed via https://github.com/sqlcollaborative/dbatools/commit/17d1ef7f85cc7e6c00f94d730d055aa18cae01dd

[2018-09-27 06:08] #4086 closed

[2018-09-27 13:56] willtb opened #4087 "Copy-DBALinkedServer does not copy network name of linked server"
### Before submitting a bug report:

- [ ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [ ] Verified this bug is not already reported in an issue
- [ ] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Create a linked server via the GUI or T-SQL.
E

[2018-09-27 14:05] potatoqualitee commented on #4087
thanks for the T-SQL - it's exactly what I needed. I'll take a look soon. hit me up if I havent addressed this in a week

[2018-09-27 14:41] cusco commented on #4035
Hello

Action: Start a program
Program/script: powershell.exe

Add arguments (optional): C:\scripts\sql-backup\bkDbFull_perfMasterFile.ps1

image with snip below:
![image](https://user-images.githubusercontent.com/2995711/46153793-ba702100-c26b-11e8-809e-d33aa1e7bf77.png)

[2018-09-27 16:09] awickham10 commented on #4035
You could setup some logging in your script. Just output the Backup-DbaDatabase output to a text file or CSV - then you could at least see if the parameter is being honored or not. It seems really odd that it wouldn't be accepting a parameter.

[code]

[2018-09-27 16:11] cusco commented on #4035
will do, will have something tomorrow to look at

[2018-09-27 16:36] willtb commented on #4087
Thanks for the quick response! I'll keep on the lookout for the update.
Don't work too hard :)

On Thu, 27 Sep 2018 at 15:06, Chrissy LeMaire <notifications@github.com>
wrote:

[2018-09-27 18:41] potatoqualitee opened #4089 "r.exe"
explore including r.exe or Rterm.exe or RScript.exe to do some simple excel imports/exports (and maybe more?)

we can wrap the syntax in PS `heroes = read_excel("data/heroes_information.xlsx", skip = 2)`

No excel required.

[2018-09-28 08:06] janeztr commented on #3225
Hi, same here.
But it only fails on one database (same) out of seven.

`Copy-DbaDatabase -Source $SourceInstance -Destination $DestinationInstance -BackupRestore -NetworkShare $BackupSharedFolderUNC -Database $DB -ReuseSourceFolderStructure  -WithReplace -Force -Verbose:$Verbose`

`WARNING: [09:25:34][Copy-DbaDatabase] Failure attempting to restore DW_Metadata to GENINGDWHTEST01 | System.Data.SqlC

[2018-09-28 10:03] cusco commented on #4035
Hello, here is the csv output. It shows compression

`"BackupComplete","BackupFile","BackupFilesCount","BackupFolder","BackupPath","DatabaseName","Notes","Script","Verified","ComputerName","InstanceName","SqlInstance","Database","UserName","Start","End","Duration","Path","TotalSize","CompressedBackupSize","CompressionRatio","Type","BackupSetId","DeviceType","Software","FullName","FileList","Positi

[2018-09-28 10:09] cusco commented on #4035
it shows

TotalSize: 999,53 GB
CompressedBackupSize: 956,90 GB
CompressionRatio: 1,04

This means it is being compressed? :/

[2018-09-28 10:19] Zhunya commented on #4035
Check with RESTORE HEADER, you will see:

 CompressedBackupSize | BackupSize
------------|-------------
 222967395328 | 53444629211

[2018-09-28 12:28] awickham10 commented on #4035
Yeah, I would say it is being compress but there is something within the database that is causing poor backup compression. Are you using page or row encryption in the database? The minimal amount of compression you're getting for the backup leads me to believe the data is already compressed. You'll only get a minimal amount of compression for the backup if that is the case.

[2018-09-28 12:40] Carsten3000 opened #4090 "Hyphen in Windows name breaks dbatools"
An Windows name that ends with an hyphen breaks dbatools.

## Steps to Reproduce

[code]

## Expected Behavior

Using the hostname and ip work equally.

## Actual Behavior

Only calling the server by his ip works.

This forced me to do a dbamigration with the ip, even with the ip i got 2 errors:

[code]
[code]

## Environmental data

 - PowerShell:
PSVersion                      5.1.14393.2485
PSE

[2018-09-28 12:46] potatoqualitee commented on #4090
hello fred, can you please add support for a dash at the end of the server name? apparently, it's legal

[2018-09-28 12:48] wsmelton commented on #4090
Are you saying that your naming convention has computer names that will end with a dash?

[2018-09-28 12:52] Carsten3000 commented on #4090
I think this happend more by accident.

[2018-09-28 12:55] wsmelton commented on #4090
Understood.

Overall, I will let @FriedrichWeinmann answer, but trying to cover every possible special character that a server name could end in I don't think is reasonable, or necessary. Majority of environments are not going to use special characters at the end of a server name because there are other tools that would also have issues. (e.g. most cloud providers limit the characters and naming i

[2018-09-28 12:57] potatoqualitee commented on #4090
it's not so much every possible combo, but what's legal and what's not. i believe fred followed a guide for legal names, and this did not show up, but its clearly possible

[2018-09-28 14:00] gwojan commented on #4012
@potatoqualitee. Ugh. With build `0.9.427` it looks like we've regressed. I'm back to 10+ second load times.

`Waiting for runspaces to finish        00:00:08.2205204 09/28/2018 09:56:53 09/28/2018 09:57:01`

[2018-09-28 14:01] potatoqualitee commented on #4012
not unexpected, it was fixed in like .439. try updating to the latest

[2018-09-28 16:12] cusco commented on #4035
BackupSize             : 1073242366976
CompressedBackupSize   : 1027464804060

OK, I believe it is being compressed, just a little.

I'm not using any kind of compression in the dbms.

I will double check, not sure when, if I can make a manual backup with compression and have a smaller output file.

Anyway, thank you all for your attention, and sorry to bother you what resulted to be a non-issue!

[2018-09-28 18:37] gwojan commented on #4012
@potatoqualitee, Never mind. I screwed up. I have a function that imports the `dbatools` module and automatically restarts my transcript because `dbatools` is still killing active transcripts when it loads. My script was explicitly calling `0.9.427`. 😦

[2018-09-29 08:14] potatoqualitee opened #4094 "new cluster commands to support other HA commands"
Get-Cluster
Gets information about one or more failover clusters in a given domain.

Get-ClusterAccess
Gets information about permissions that control access to a failover cluster.

Get-ClusterAvailableDisk
Gets information about the disks that can support Failover Clustering and are visible to all nodes, but are not yet part of the set of clustered disks.

Get-ClusterCheckpoint
Retrieves a crypto

[2018-09-29 08:18] potatoqualitee commented on #4094
only gonna do the useful (to me) ones

[2018-09-29 10:06] potatoqualitee commented on #4094
Wait, no. I'm gonna just use this as a template.

![image](https://user-images.githubusercontent.com/8278033/46244509-21aee200-c3e0-11e8-86b0-c1e88986a649.png)

[2018-09-29 10:14] potatoqualitee opened #4096 "Reproducible issues with Get-DbaCmObject"
can repro in our lab

[code]

works! fab. let me examine another class.

[code]
broken, okay nbd, wait, what did MSCluster_Disk say again?

[code]
But that just worked? Maybe the server went offline?

Close PS, Open PS

![image](https://user-images.githubusercontent.com/8278033/46244593-33dd5000-c3e1-11e8-9c83-b49e18abfef4.png)

Our caching is too aggressive I guess? I did the above twice with rep

[2018-09-29 10:18] potatoqualitee commented on #4096
![image](https://user-images.githubusercontent.com/8278033/46244626-bbc35a00-c3e1-11e8-8663-a05c2d5104b4.png)

forgot the last pic

[2018-09-29 10:27] potatoqualitee commented on #4094
Get-CimAssociatedInstance sample code

[code]

tho ill likely default to:
.getrelated()
http://blog.netnerds.net/2013/07/powershell-v3-get-storage-information-for-clustered-sql-servers/

[2018-10-01 07:32] potatoqualitee commented on #4096
Thanks so very much, and I totally understand. I know you're super busy and appreciate the time you'll take fixing it.

I'm also curious if we can make the error message more informative. For instance, in our lab, kerberos is super broken on `sqlcluster`. Cim will give me an informative message, but our cm commands do not:

![image](https://user-images.githubusercontent.com/8278033/46275360-ed1465

[2018-10-01 11:09] cjmcneill opened #4099 "Test-DbaDbCompression - PercentScan and PercentUpdate fields are always NULL"
PercentScan and PercentUpdate fields are always NULL resulting in incorrect recommendations for Compression Type.

## Steps to Reproduce
 test-dbadbcompression SQLInstanceName | Out-GridView

## Expected Behavior
Expect to see numeric percentage values for PercentScan and PercentUpdate fields

## Actual Behavior
Always see NULL values for PercentScan and PercentUpdate fields

## Fix required
Issue

[2018-10-01 14:38] potatoqualitee opened #4101 "Supressed error in Stop-Message"
This one as well just shows up as `WARNING: [16:32:30][New-DbaEndpoint] Failure | Exception calling "Create" with "0" argument(s): "Create failed for Endpoint 'endpoint-2018-10-01T16-32-30'. "`

![image](https://user-images.githubusercontent.com/8278033/46295447-5bc2e400-c598-11e8-9a97-458588b2933d.png)

[2018-10-01 16:47] kwiknick commented on #3350
What is the version of Pester you all have standardized on?  I could start writing some of these tests this week, but want to make sure I'm not using Pester 4.5.0 and you all are using version 3.

[2018-10-01 16:57] niphlod commented on #3350
we install from choco so it's pretty recent (what we run is `choco install pester`)

[2018-10-01 17:03] potatoqualitee opened #4102 "Candidates to remove"
There are some commands that perhaps shouldn't belong. Are there one or more commands that come to mind that we should consider removing for 1.0?

This question is open to all and would also like @niphlod's input.

[2018-10-01 17:07] potatoqualitee commented on #4102
Long ago, someone mentioned `Test-DbaOptimizeForAdHoc` but then I saw a ton of people use/like it in our referrals.

[2018-10-01 18:31] potatoqualitee commented on #3350
thanks so much @kwiknick - you may find that this list is outdated. It would also be useful to have it updated or regenerated for the tests that are missing 👍

[2018-10-01 18:57] niphlod commented on #3350
there's [BOH](https://sqlcollaborative.github.io/boh) for that (if a `get-childitem .\tests\` is too hard )

[2018-10-01 19:16] niphlod commented on #4102
starting from the fact that input is sought to reduce the maintenance burden (because with 50 active devs this wouldn't be an issue whatsoever)...

first round _could_ be anything GUI-related or interactive (e.g. show-dbadatabaselist).
second round anything _still_ not healthy and not touched in 300 days (enableexception and aliases do not count). Roughly it means that nobody wants to "adopt" it.

[2018-10-01 19:22] niphlod commented on #3982
I think we can definitely close this, @potatoqualitee ?

[2018-10-01 19:41] niphlod commented on #4102
don't take this towards functions you are the author of. we mostly adore you for everything that got created within and around dbatools 😍
However, **IF** something is gotta go, these are my rationales.

first round rationale:
As for the "tooling that module provides" I'd go towards being consistent. We do lot of batch processing, cms-wise gets and sets, massive migrations, copy-world and as such.

[2018-10-01 19:49] potatoqualitee commented on #4102
LOL thank you 🤗 Each command that is merged, with the exception of Backup/Restore that I could never handle myself, I adopt in the event that it's abandoned. I'm always eager for someone to take ownership, however. So it' not that I wrote it, but that we accepted it.

1. You make a good point, and perhaps the Show commands can be moved to a dbatools-gui module. It wouldn't work in Linux anyway, so

[2018-10-01 19:57] niphlod commented on #4102
3. thanks for the proposal but winter is coming (and with it my birthday, and with that the rig). To be fair my brain got drained by other things at work and I could not spend too much time as a DBA as I would have wanted. With the rig done, it means that I'll be too damn sad to have spent such $ to be left alone and it'll push me having fun again with dbatools ( #illbeback )

[2018-10-01 20:34] lanlanzeliu opened #4103 "Add -Wait parameter to Start-DbaAgentJob"
---
name: Add -Wait parameter to Start-DbaAgentJob :bomb:
about: I would like to see Start-DbaAgentJob support a -Wait parameter so that it waits for the job to finish before returning context to the user/program

---

### Summary of new feature

* I would like Start-DbaAgentJob to support a -Wait parameter so that it waits for the job to finish before returning context to the user/program.

### P

[2018-10-01 20:38] Adam-Wenger commented on #4103
@niphlod Here is the issue we spoke about in DbaTools Slack. Thanks for considering.

[2018-10-01 21:42] niphlod commented on #4103
I think the second problem can be solved waiting exponentially till 5 minutes, which is a sane default that leaves more "needy users" in resolving their "problem" with 3 additional lines . With -Wait there's also -Timeout to be considered, at least watching from other examples in PS world.
The more "urgent" is design-wise what to do with the status and/or the error. @wsmelton any ideas ?

[2018-10-01 21:44] potatoqualitee commented on #4103
what if Wait was an int that defaulted to 0, you can use Test-Bound to determine if it was specified I believe

[2018-10-01 21:44] #3780 closed

[2018-10-01 21:50] niphlod commented on #4103
just for the sake of keeping consistency in PSworld, isn't -Wait usually a switch ?  `-Wait 600` for "wait at most 600 secs" isn't something I've seen elsewhere

[2018-10-01 21:59] potatoqualitee commented on #4103
Yes, it's usuaally a switch.  when seconds are added in, it's usually WaitFor, I believe

[2018-10-01 23:31] #3896 closed

[2018-10-02 00:10] sqllensman commented on #4103
There is not native support for this in SQL Agent but requires polling to test job status. In my environment we implement a stored procedure to do this. One thing I noted is that need at least 15 seconds wait time to avoid weird false positives.

[2018-10-02 12:30] wsmelton commented on #4102
There are options being looked at for `Show-Command` or equivalent to be brought into PowerShell Core.

If you are going to take the route to make dbatools fully cross-platform and write in stone that if a command won't work in PS Core then it won't go into the module; a lot of commands will have to be removed. Microsoft is not likely to port every SMO library over to PS Core. Any library you pull

[2018-10-02 12:35] wsmelton commented on #4102
With PRs we are not enforcing our standards. If we don't want the extra leg work required to "fix" commands then they should not have been merged unless all of it was fixed initially. Then you reinforce with the author better practices for coding and they learn something in the process. If it was merged without applying the standards then are we going to punish the author for this and have the com

[2018-10-02 12:52] niphlod commented on #4102
we don't wanna punish anyone but we need to face the fact that if 1.0 requires some standards to be followed it's either:
- reviewing what is not compliant
- dropping the unfortunate function from 1.0
- not release 1.0

[2018-10-02 14:53] Adam-Wenger commented on #4103
/facepalm - Thanks @niphlod, sorry for wasting your time.

[2018-10-02 14:57] potatoqualitee commented on #4103
LOL whoops, I didn't even remember that and the history suggests i added it 😆

[2018-10-02 15:02] niphlod commented on #4103
if _only_ all feature request could go like this one 💃  . closing!

[2018-10-02 15:02] #4103 closed

[2018-10-02 18:15] Adam-Wenger opened #4106 "Copy-DbaDbTableData doesn't copy to correct table if >1 table with same name in different schemas"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (0.9.450)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Copy-DbaDbTableData doesn't copy to correct table if ther

[2018-10-02 19:17] awickham10 opened #4107 "Set-DbaLogin Slow - Get-DbaRoleMember Necessary in Output?"
### Before submitting a bug report:
- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
[code]

## Actual Behavior
The Get-DbaRoleMember

[2018-10-03 14:31] #4039 closed

[2018-10-03 15:29] niphlod commented on #4107
given there's AddRole and RemoveRole I'd say it's needed.

[2018-10-03 15:32] potatoqualitee commented on #4107
thanks for taking a look niph, i was about to say remove it :/ that's a huge hit. Perhaps move the roles out to commands of their own?

[2018-10-03 15:42] niphlod commented on #4107
design-wise get-dbarolemember is not a good call.
Improvements for this usecase, from "fast fix/small deal" to "slower fix/complete rewrite/premature optimization is the root of all evil":
- pass `-Database master` to it, it'll probably get waaaay more snappier, as it won't loop over all user databases
- introduce another parameter to get-dbarolemember (such as `-NoDbRole`) which skips the loop ov

[2018-10-03 18:17] jpomfret commented on #4099
Hey there,
When the PercentScan and PercentUpdate are null it should just go off of the RowEstimatePercentOriginal and PageEstimatePercentOriginal to make suggestions. Do you get no suggestions at all?

![image](https://user-images.githubusercontent.com/981370/46430455-f77a5e80-c716-11e8-81de-6723e34f4065.png)

[2018-10-03 19:01] awickham10 commented on #4107
I added the ```-Database master``` in PR #4117. I'll keep evaluating other performance improvements (e.g. calling only once per instance). That did make a significant difference though. Thanks @niphlod!

[2018-10-03 19:01] #4107 closed

[2018-10-03 19:31] cjmcneill commented on #4099
Hi Jess,

The issue is that the PercentScan and PercentUpdate columns are always NULL for all tables and indexes even though I know that there is activity occurring on them, see below. I think the piece of code that calculates these values and updates ##testdbacompression has an incorrect join.

INNER JOIN ##testdbacompression tmp ON OBJECT_ID(tmp.TableName) = i.[object_id] will never work correct

[2018-10-03 21:07] nvarscar opened #4119 "Invalid path error when using Export-DbaDacpac to the network share"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

[code]

## Expected Behavior
Create file as ex

[2018-10-03 21:09] nvarscar commented on #4119
@jasonmcboyd please let me know if the solution works on your end as expected - I'll PR it later.

[2018-10-03 21:33] jasonmcboyd commented on #4119
@nvarscar Looks good from my side.

[2018-10-04 07:31] cjmcneill commented on #4099
Hi Jess,

I looked a bit closer into this and it appears to be when tables are not in the default dbo schema that we get this issue. If tables are in dbo then OBJECT_ID(tmp.TableName) will work correctly however when they are not in the default dbo schema it won't, the full schemaname.tablename needs to be supplied to the OBJECT_ID function when objects are outside of dbo.

Thanks,
Chris

[2018-10-04 13:51] #4035 closed

[2018-10-04 13:55] awickham10 commented on #3862
@jpomfret and I were talking about this a few weeks ago - would be cool to see Ola's maintenance recreated as a PowerShell command instead of stored proc!

[2018-10-04 14:36] awickham10 commented on #3862
I was thinking a full recreation, not just invoking Ola's scripts. Tons of work, probably not much benefit other than not having to have Ola's maintenance installed everywhere.

[2018-10-04 14:47] jpomfret commented on #4099
Ah you're spot on, issue is with schema's other than dbo. Fix is incoming, thanks for reporting!

[2018-10-04 15:45] niphlod commented on #3862
at the very worst you can install, run, uninstall. But I really don't see the benefit of reinventing the wheel given there are no shortcomings on both ola's and tiger's tsql routines....

[2018-10-04 16:51] jpomfret commented on #3698
Great news @MikeyBronowski you're not crazy!! I have no idea why but I am now sometimes able to reproduce this error. Just submitted a PR that should resolve this. If you are able to test and confirm that would be super.

[2018-10-04 17:59] awickham10 opened #4128 "Break Out Get-DbaRoleMember into Get-DbaDbRoleMember and Get-DbaServerRoleMember?"
---
name: Break out Get-DbaRoleMember into Get-DbaDbRoleMember and Get-DbaServerRoleMember
---

### Summary of new feature
In order to get server level role members you have to execute ```Get-DbaRoleMember -SqlInstance server1 -Database master -IncludeSystemLevel```. If you don't specify ```-Database master``` you'll end up with slow performance because you'll be getting back all database level ro

[2018-10-04 18:42] niphlod commented on #4128
hum...... maybe the shortest friction path is renaming get-dbarolemember to get-dbadbrolemember, deprecate -includesystemlevel (to be removed after 1.0) and create a brand new get-dbaserverrolemember ? Also, we'd port everything to 1.0 readyness in the process, get-dbarolemember has some road to cover for 1.0 ^__^

[2018-10-04 18:42] niphlod commented on #4128
/cc @potatoqualitee , @wsmelton for directions

[2018-10-04 18:44] #4119 closed

[2018-10-04 18:44] awickham10 commented on #4128
Yeah, definitely needs some 1.0 updating (messaging, test-bound, etc.). I'm happy to take this on if that is the route we're wanting to go.

[2018-10-04 19:14] niphlod commented on #4128
let's wait a day or two for the big guns to weight in, then with a plan the work can be started.

[2018-10-04 19:15] awickham10 commented on #4128
Yup, sure thing.

[2018-10-04 20:16] wsmelton commented on #4128
I tried that route and was turned down but can't recall why.

[2018-10-04 20:17] #4099 closed

[2018-10-04 20:19] wsmelton commented on #4128
Some discussion was here https://github.com/sqlcollaborative/dbatools/pull/2700#discussion_r151960785

[2018-10-04 20:35] awickham10 commented on #4128
"We certainly need to examine the RoleMember function(s). The existing one can be improved, no doubt. We have to decide whether we combine or split the Database and Server Role members."

I'd say we're at a point where there is a use case to get server level role membership only and the current ```Get-DbaRoleMembership``` doesn't provide that ability. In order to provide that functionality we woul

[2018-10-04 20:36] wsmelton commented on #4128
I'm fine with spilling them out.

[2018-10-04 22:34] awickham10 commented on #4128
I put a draft out to take a look at. I'll describe some of the changes over there so the discussion is in one place.

[2018-10-05 08:54] Rici11 opened #4134 "Copy-DbaTableData - Issues with Azure SQL as Source ( Reference to database and/or server name not supported)"
- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [x] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Hello!

I'm facing an issue when using Copy-DbaTableData with a SQL Azure as the Sou

[2018-10-05 18:43] Adam-Wenger commented on #4106
Still exists in 0.9.455

[2018-10-06 04:47] sqllensman commented on #4106
The $DestinationTable  would also need to be wrapped in square brackets [ ]
eg $DestinationTable = '[' + $sqltable.Schema + '].[' + $sqltable.Name + ']'

Also looking at the code the Table parameter is described as accepting a three part name. However as the code also enforces that a database be passed then this does not seem to add any value. If the Table is passed with a database name that diffe

[2018-10-06 09:40] potatoqualitee commented on #4076
https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server-using-a-configuration-file?view=sql-server-2017

[2018-10-06 14:25] potatoqualitee opened #4140 "Backup-DbaDatabase - allow backup to null"
to assist with AG seeding per request of John Martin, but I'm also going to start working on AG commands and would like to use it.

[2018-10-06 14:36] Stuart-Moore commented on #4140
Already implemented.

On Sat, 6 Oct 2018 at 15:25, Chrissy LeMaire <notifications@github.com>
wrote:

[2018-10-06 14:37] potatoqualitee commented on #4140
oh yay! I looked for `$null` in the code but didn't find anyting obvious. I'll look for regular null, sorry.

[2018-10-06 14:37] #4140 closed

[2018-10-06 14:40] potatoqualitee commented on #4140
so sorry, can you give me some hints ? I looked again and can't figure it out. I also tried some sample backups with no luck.

[2018-10-06 14:51] Stuart-Moore commented on #4140
Sorry documented it in test 🙄

 Backup-DbaDatabase -SqlInstance $script:instance1 -Database master -BackupFileName NUL

Will fix up the cbh when I get back to Nottingham.

[2018-10-06 14:54] potatoqualitee commented on #4128
Thanks much, I'm merging in some small test fixes. Can you check the one I set to skip in Set-DbaLogin, please?

I'm glad it failed - made me take a closer look and I'm thinking that the Set-DbaLogin does too much. Should we have Add/Remove-DbaDbRole and Add/Remove-DbaDbRole ?

`Get-DbaLogin | Add-DbaServerRole`
`Get-DbaLogin | Add-DbaDbRole` and `Get-DbaDbUser | Add-DbaDbRole`

[2018-10-06 15:01] potatoqualitee commented on #4140
thanks so much! passed the info on

[2018-10-06 15:07] potatoqualitee commented on #4128
i can also see why it was done - it's in the SMO

`$l.AddToRole($role)`

[2018-10-07 01:53] potatoqualitee commented on #3804
resolved :D

[2018-10-07 01:53] #3804 closed

[2018-10-09 06:28] dallyhorton opened #4157 "Copy-DbaSsisCatalog broken due to $sourceConnection variable"
### Before submitting a bug report:

- [x] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [x] Verified this bug is not already reported in an issue
- [x] Verified errors are not related to permissions
- [ ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce

Just try to copy some SSIS packages from one c

[2018-10-09 12:33] awickham10 commented on #4128
I haven't forgotten this - I'll probably get a chance to look at it tomorrow.

[2018-10-10 01:42] kwiknick commented on #3350
Thanks for the response.  I have to say, that BOH is pretty slick.  I'll start chipping away at a test here and there.  Thanks for the clarity on the Pester version.

[2018-10-10 02:56] #3594 closed

[2018-10-10 02:59] wsmelton commented on #3572
@dyard12 can you let is know if this issue still occurs on the latest release of the module?

I believe the conversion error has been fixed in a release since this issue was posted

[2018-10-10 03:01] #3557 closed

[2018-10-10 03:01] #3553 closed

[2018-10-10 03:03] wsmelton commented on #3467
Which ones are you saying you want @potatoqualitee ?

The time out is already available.

[2018-10-10 03:06] #3465 closed

[2018-10-10 03:14] wsmelton commented on #3928
https://github.com/sqlcollaborative/dbatools/blob/development/functions/Get-DbaWsfcCluster.ps1

[2018-10-10 03:14] #3928 closed

[2018-10-10 03:15] wsmelton commented on #3817
Closing this as not supportable.

[2018-10-10 03:15] #3817 closed

[2018-10-10 03:30] wsmelton commented on #3552
I'm going to close this one @potatoqualitee because I don't feel this in-scope for the module, even after the cluster commands have been built. If you feel it is by all means open it back up.

For a user to even have rights to modify these permissions requires delegation control, and if they have that correctly configured, they can handle this with the AD module. This has nothing to do with cluste

[2018-10-10 03:30] #3552 closed

[2018-10-10 03:33] #3237 closed

[2018-10-10 03:38] wsmelton commented on #3184
@frank687 maybe I'm missing something but I see this as by design. Copy commands do not have logic included (and would be out of scope) to have it validate if any given AD login is valid. We do not handle dependencies in the copy/migration commands. I would see this needing testing before you go to copy the logins, and a normal maintenance task for security to find logins no longer valid/in use.

[2018-10-10 03:38] #3184 closed

[2018-10-10 03:40] wsmelton commented on #3165
Closing this issue as limitations on SMO. If we went with the query method it would cause issues supporting piping for the associated set command.

If felt different further discussion can be done and reopen this issue.

[2018-10-10 03:40] #3165 closed

[2018-10-10 03:41] wsmelton commented on #3163
This should be fixed (recall Fred addressed this in one of his magical PRs). If not please reopen a new issue with details and logs.

[2018-10-10 03:41] #3163 closed

[2018-10-10 03:42] #2818 closed

[2018-10-10 05:12] sqllensman commented on #3163
Tested on 0.9.472 and all issues are still present.

I actually have a Pull Request ready to fix / work around the issues.  I will raise a new issue and submit the fix.

[2018-10-10 05:58] #2775 closed

[2018-10-10 05:59] #3619 closed

[2018-10-10 06:27] #3313 closed

[2018-10-10 09:39] RichieBzzzt commented on #3948
Funnily enough I was just thinking about this. I'm wondering if it would be safer to create 2 new functions as I think it would be easier to read the function without having to factor in where we would need to make the changes based on it being a dacpac or a bacpac, and whether we were importing/exporting.

As bacpacs also support data extraction on a per table basis, I wonder if we would want to

[2018-10-10 09:49] sqllensman opened #4173 "Issues with Get-DbaOperatingSystem retreiving Powershell and PowerPlan information"
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Run Get-DbaOperatingSystem against any of the f

[2018-10-10 12:29] potatoqualitee commented on #4042
Thanks, Shawn. @FriedrichWeinmann - would you have any time to look into this? We've engaged the SQL Team about adding more core, but need a proof of concept to show what we're still missing and ask for prioritization.

We can handle the changes to the module psm1, but need help with the DLL.

![image](https://user-images.githubusercontent.com/8278033/46736211-bcd57080-cc98-11e8-8c84-6988c7792cf4.

[2018-10-10 15:54] #4173 closed

[2018-10-10 20:53] nvarscar commented on #3948
Hey @RichieBzzzt thanks for reaching out!
I've started working on this one - you can check the current progress here - https://github.com/nvarscar/dbatools-nvarscar/blob/bac-dac-pac/functions/Export-DbaDacPackage.ps1
So far, I was able to seamlessly unite both Export and Extract functionality, as well as switch to the native SMO, which also allowed me to add -Table parameter to both Dacpac & Bacpa

[2018-10-11 11:38] daniel-merchant opened #4182 "Read-DbaXEFile keeps locks on XE Files"
## Steps to Reproduce
E.g. create an extended event logging to a file on the SQL server
[code]

[code]

## Expected Behavior
You should be able to delete the XE file when the XE session is stopped.

## Actual Behavior
The PowerShell delete statement fails because powershell is keeping a lock on the XE file

[2018-10-11 13:48] estraffen opened #4184 "Remove-DbaDbUser - Variables in Foreach loop not clearing with each iteration"
### Before submitting a bug report:

- [X ] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X ] Verified this bug is not already reported in an issue
- [X ] Verified errors are not related to permissions
- [X ] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Hello,

When removing multiple users with R

[2018-10-11 13:55] #4182 closed

[2018-10-11 14:01] potatoqualitee commented on #2217
can we plz leave in the 4 simples? 🙏

[2018-10-11 18:05] #4184 closed

[2018-10-11 18:40] MikeyBronowski commented on #3698
@jpomfret That's really great news - you are the first one who said I am not crazy :-)

I will look at the thing later.

[2018-10-11 19:51] MikeyBronowski commented on #3698
@jpomfret Just ran it on my SQL 2016 where version#0.9.431 gave me an error with node/edge columns and #0.9.475 went through without warnings/errors.

I will check that on older SQLs too.

[2018-10-11 22:00] #2217 closed

[2018-10-12 10:15] camillagaardsted opened #4192 "Connect-DbaInstance only returns a result for the first instance if I list several"
The Connect-DbaInstance accepts a list of sql instances for the parameter SqlInstance according to the documentation (-SqlInstance <DbaInstanceParameter[]>), but the cmdlet only returns a result for the first instance I specify in a list of names.

Here is an example - I have two instances running on my local machine:

Connect-DbaInstance 'localhost','localhost\cgsql'  | Select instancename,editio

[2018-10-12 12:27] MikeyBronowski commented on #3542
@gbargsley I see the function in the module, but wondering if that's finished?

Would be great to have chance to actually create alerts using that function.

[2018-10-12 12:57] ruudvandebeeten opened #4194 "Cannot convert argument "srv""
### Before submitting a bug report:

- [X] Ensure you are able to reproduce it on the latest released version (_we release often_)
- [X] Verified this bug is not already reported in an issue
- [X] Verified errors are not related to permissions
- [X] Can reproduce in a clean PowerShell session (_clean = `powershell -NoProfile`_)

## Steps to Reproduce
Running script below in Powershell ISE.

[code]

[2018-10-12 12:57] gbargsley commented on #3542
That would typically be a separate function.  So New-DbaAgentAlert or similar.

[2018-10-12 15:09] jpomfret commented on #3698
Awesome @potatoqualitee, ok to close this now?

[2018-10-12 17:47] jpomfret commented on #3114
I believe these issues are all resolved @js0505 can you confirm my thoughts?
- It only uses `Write-Message` and `Stop-Function` for messaging (should address failure reasons and illegal cmdlets)
- Server connections use `Connect-SqlInstance` so looks ok to me
- no longer configured to accept pipeline

Not sure what you mean on database connections, but take a quick look if you can and then hopeful

[2018-10-12 17:55] jpomfret commented on #2819
I believe this is resolved, index and stats name are returned in output now. @wsmelton or @PianoMatt  ok to close?
![image](https://user-images.githubusercontent.com/981370/46885583-67c76500-ce26-11e8-941f-4737a8aaf7b1.png)

[2018-10-13 02:56] joshcorr commented on #4102
@niphlod if you don't mind I am willing to help with working on tests. It seems like that is one of the key things keeping the project from v1.0. I was about to start making a unit test for each cmdlet that doesn't currently have one (using the [Dbatools template](https://github.com/sqlcollaborative/dbatools-templates/blob/master/tests/Verb-Noun.Tests.ps1)), so at least we are validating all curre

[2018-10-13 13:10] potatoqualitee opened #4198 "Fix cap on Restore-DbaDatabase"

[2018-10-13 13:32] Stuart-Moore commented on #4198
Cap?
On Sat, 13 Oct 2018 at 14:10, Chrissy LeMaire <notifications@github.com>
wrote:

[2018-10-13 14:54] Stuart-Moore commented on #4194
Afraid I can't replicate that:
![image](https://user-images.githubusercontent.com/5613670/46906705-9f561000-ceff-11e8-8f43-64efc05cc86e.png)

Could you rerun this with $instance.GetType() after each statement so we can see if the type changes

Neither command modifies the $InstanceName in my example, and I neither command does that anyway as far as I know.

[2018-10-13 17:59] wsmelton opened #4199 "Invoke-DbaDbClone support for additional parameters"
### Summary of new feature

Patching for SQL Server 2014 and 2016 provided two additional parameters. The syntax of the command is now:

`DBCC CLONEDATABASE (source_database_name, target_database_name)[WITH [NO_STATISTICS][,NO_QUERYSTORE]] `

Requires the following:

- NO_STATISTICS = SQL Server 2014 SP2 CU3 (`12.0.5538`) and SQL Server 2016 Service Pack 1
- NO_QUERYSTORE = SQL Server 2016 Service

[2018-10-14 00:37] jpomfret commented on #2819
I don't disagree, it was like that when I found it 😊.I can change it, add a column to the output when '-includestats' but that would be a breaking change for people currently using it?

[2018-10-14 01:29] wsmelton commented on #2819
Yep... Sure would be but most of 1.0 if going to break many things ;)

[2018-10-14 15:09] #4199 closed

[2018-10-14 15:16] potatoqualitee commented on #4198
whoops! the description didn't come thru. junky mobile client. Just submitted a PR useDestinationDefaultDirectories -> UseDestinationDefaultDirectories

[2018-10-14 15:45] potatoqualitee commented on #4194
Thanks so much for looking into this, Stuart!

[2018-10-14 15:57] #4198 closed

[2018-10-14 16:12] potatoqualitee commented on #4192
Thank you so much for this detailed report! I've implemented the suggested fixes and have submitted a PR. It should be in master within a few hours 👍

[2018-10-14 19:26] niphlod opened #4206 "Internal Command to ensure utf-8 without BOM everywhere"
### Summary of new feature

Make an internal command that rewrites the content of a dir of .ps1 files without the utf8 BOM header.

### Proposed technical details (if applicable)

https://gist.github.com/arebee/6d105da5fdcfcc74160b

Also, make a CI test so it doesn't happen again....

[2018-10-14 22:39] #4157 closed

[2018-10-15 00:18] joshcorr commented on #3350
Re-opening this issue as there are still a lot of tests that need to be created.

[2018-10-15 00:40] wsmelton commented on #3350
You need to create issues for each test because each commit you reference this issue with as fixed, will automatically close it again.

[2018-10-15 00:41] wsmelton commented on #3350
Or at most group them potentially with like commands (Set, Get, etc.) if that is possible.

[2018-10-15 06:44] ruudvandebeeten commented on #4194
Thank you for your reply.

$instance.GetType() does not return anything.

[2018-10-15 07:02] niphlod commented on #3350
yep, but don't bother keeping this open. When you "targeted" a/some function(s), open an issue, assign it to yourself (so other won't work on the same thing) and on the PR you can reference that.

[2018-10-15 07:37] #3350 closed

[2018-10-15 09:13] LeoKurz opened #4215 "Show-DbaServerFileSystem not using SqlCredential parameter"
I'm trying to use the "Show-DbaServerFileSystem" with the -SqlCredential parameter. No matter if I use a variable with a valid credential object or if I ask for if within the commandlet with "(Get-Credential)", I alwas get an error message that the user who is running the script cannot connect (because he has no rights). Obviously the commandlet doesn't use the credentials provided by the paramete

[2018-10-15 10:16] #4215 closed

[2018-10-15 10:19] potatoqualitee commented on #4215
Thanks for the report. The fix is now in master and the PowerShell gallery

[2018-10-15 12:09] LeoKurz commented on #4215
Wow, that was lightning fast, thank you!
__Leo

[2018-10-15 12:14] MikeyBronowski commented on #578
Trying to get running jobs and duration.

Below gives me the names, but there is not duration (as mentioned in this thread)
`Get-DbaRunningJob -SqlInstance $sqlserver `

That one has the duration, but seems like an overkill to get only running jobs (takes long time on busy instance and filtering does not really change that).
Get-DbaAgentJobHistory -SqlInstance $sqlserver -NoJobSteps -StartDate '20

[2018-10-15 12:32] wsmelton commented on #4102
`Get-DbaRunningJob` should be gone...all this does is create a custom object of a subset of properties from the `$server.JobServer.jobs` class. `Get-DbaAgentJob` returns the full SMO object and has the same information, there is nothing special being done in that running job command outside of just filtering.

[2018-10-15 13:29] #3965 closed

[2018-10-15 13:46] Susja opened #4219 "Is dbatools right for me?"
Hello Folks,
I'm writing first time and hence I have a kind of 'generic' question regarding dbatools.
I'm using sql mostly to run some queries and get data and very little to administer it. Hence I'm using SSMS and Toad and it serves my need.
I hit dbatools recently, downloaded it and played around a little bit. It looks interesting for me.
Well my 'generic' question is: will it help me to enhance

[2018-10-15 19:53] #1955 closed

[2018-10-15 19:54] #1986 closed

[2018-10-15 19:55] #1999 closed

[2018-10-15 19:56] #1985 closed

[2018-10-15 19:59] niphlod commented on #2333
my historical memory is playing tricks on me or this has been done ?

[2018-10-15 19:59] #2358 closed

[2018-10-15 20:07] niphlod commented on #2402
closed via https://github.com/sqlcollaborative/dbatools/commit/27ceb7124b3e41b6198d1112ec5604ee3a6c3a91#diff-f6bcafef9459d3aabf5fda70c7280d7f

[2018-10-15 20:07] #2402 closed

[2018-10-15 20:09] #2551 closed

[2018-10-15 20:11] niphlod commented on #2485
major refactoring happening in https://github.com/sqlcollaborative/dbatools/issues/4128

[2018-10-15 20:11] #2485 closed

[2018-10-15 20:13] niphlod commented on #2655
https://docs.dbatools.io/#Export-DbaScript was born. Feel free to reopen in case you're missing something from it

[2018-10-15 20:13] #2655 closed

[2018-10-15 20:14] niphlod commented on #2480
seems to be fixed. @CharterSteel , feel free to reopen if there are lingering bugs

[2018-10-15 20:14] #2480 closed

[2018-10-15 20:16] niphlod commented on #2707
@Stuart-Moore : I feel this has been already done but please check and, in case, close ^_^

[2018-10-15 20:16] #2615 closed

[2018-10-15 20:39] niphlod commented on #2833
refer to the [goodies](https://github.com/sqlcollaborative/dbatools/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22Availability+Groups%22+) to keep updated

[2018-10-15 20:39] #2833 closed

[2018-10-15 20:45] #3982 closed

[2018-10-15 20:48] niphlod commented on #2894
not really a problem for Get-DbaCmsRegServer rather for "executors" who don't really know how to cook a non-standard "plain" connection. A newer more "recent" issue has been posted on the same "base problem"... will try to see if we can get invoke-dbaquery on board for it and then use it throughout the module (at least for install-). Keep updated on the issue and reporting your concerns at https:/

[2018-10-15 20:48] #2894 closed

[2018-10-15 20:51] #3075 closed

[2018-10-15 20:56] niphlod commented on #3235
fixed already

[2018-10-15 20:56] #3235 closed

[2018-10-15 20:57] niphlod commented on #3191
@danglade : closing this, feel free to reopen if you got any doubts (or hang out on our Slack channel ^_^)

[2018-10-15 20:57] #3191 closed

[2018-10-15 20:57] #1756 closed

[2018-10-15 20:58] niphlod commented on #1924
@potatoqualitee : last warning (or feel free to assign to a WP editor of your choice)

[2018-10-15 20:59] #2500 closed

[2018-10-15 21:00] #3351 closed

[2018-10-15 21:00] #3364 closed

[2018-10-15 21:03] #3373 closed

[2018-10-15 21:05] niphlod commented on #3379
I feel we already closed this a long ago. @awickham10 feel free to reopen in case the performance is still bad

[2018-10-15 21:05] #3379 closed

[2018-10-15 21:06] #2829 closed

[2018-10-15 21:06] #3462 closed

[2018-10-15 21:07] niphlod commented on #3441
@zippy1981 : I'd feel like closing this, can you take a look and, if already "handled", close ?

Thanks

[2018-10-15 21:10] niphlod commented on #1825
same as #1924 : @potatoqualitee : last warning (or feel free to assign to a WP editor of your choice)

[2018-10-16 03:15] joshcorr commented on #3350
Will do @niphlod!

[2018-10-16 03:21] joshcorr opened #4228 "Add UnitTest for parameters where existing tests only covered integrations"
### Summary of new feature
While working on #3350 I noticed that a fair amount of the tests I did not touch had integration tests, but no unit tests for checking existing parameters. Theses need to be added so that all cmdlet tests are in a consistent state.

### Proposed technical details (if applicable)

Working from the [Test Template](https://github.com/sqlcollaborative/dbatools-templates/blob

[2018-10-16 12:00] wsmelton commented on #4219
While the module is meant for more around administering we have found some are using it in some fashion as well for executing queries. If you need to do something with that data after you run a query (e.g. exporting to CSV, filtering to send to another source) PowerShell in general can be useful to learn and utilize.

The general premise around what tool you use is based purely on preferences:

If

[2018-10-16 12:05] wsmelton commented on #4206
Couldn't we just take the PSSA rule and check for false?

[2018-10-16 12:06] #567 closed

[2018-10-16 12:19] niphlod commented on #4206
need to re-test extensively but from my recall it just whines about utf-8-nonbom when an extended ascii character is in the code. If no funny characters are around, it doesn't whine no matter the BOM, hence "no consinstency".

In any case, we ruled some time ago to NOT have bom (and we mass-rewrote everything stripping the BOM everywhere). It resurfaced not because of a "steer in directions" but f

[2018-10-16 16:50] joshcorr opened #4233 "Fix PSScriptAnalyzerRule - PSAvoidUsingCmdletAliases"
### Summary of new feature

There are about 10 cmdlets breaking the `PSAvoidUsingCmdletAliases` script analyzer rule, which could be impacting cmdlet performance as well as our BOH.

### Proposed technical details (if applicable)

Replace the aliases (ex. `Show-DbaDatabaseList`) with the proper cmdlets (ex. `Show-DbaDbList`). Other cases are using `foreach` in a pipe, or `select` instead of `Selec