[2022-01-03 14:33] wsmelton commented on #8039
I do not see this issue, it shows and loads the proper page...

![image](https://user-images.githubusercontent.com/11204251/147942725-33009aa7-9da8-4ea0-aad0-e84812dae533.png)

[2022-01-03 14:33] #8039 closed

[2022-01-03 16:06] wsmelton commented on #8035
Our logging lives for the duration of the PowerShell session in order to capture and process the messages each command may fire.

If in UD the pwsh.exe process lives forever then I'd say the proper fix for this would be to disable our logging for your sessions.

[2022-01-03 16:47] FriedrichWeinmann commented on #8035
Found the issue and fixed it in #8048 .
Due to forgetting to handle a boolean output value in the logging it would very, very slowly accumulate. Run that long enough and you have memory issues 😅

[2022-01-03 18:23] potatoqualitee commented on #8035
HELLLL YEAHHHH! Sweet as hell. i was just gonna throw in a bunch of garbage collections 🤣 . Thanks so much @FriedrichWeinmann!

[2022-01-03 19:06] wsmelton commented on #8035
Might not hurt to make that a big notice on the release that it fixes this memory leak issue @potatoqualitee

[2022-01-04 12:10] janszedc commented on #8035
@FriedrichWeinmann  @potatoqualitee Been running my Powershell Universal dashboard (service) all night and overall memory on my box has been capped at 70%. Newest version of DBATools seems to have fixed the problem. Thank you for your help!

[2022-01-04 12:33] andreasjordan commented on #8044
Looks good to me. Would you like to open a pull request for that or should I do it?

[2022-01-04 14:49] andreasjordan commented on #8037
The error "Error occurred while establishing connection to AAEXTTESTDB" looks like it is coming from the source and not the destination. Is that correct?
Is `$jobs = Get-DbaAgentJob -SqlInstance aatestdb` working?

[2022-01-04 14:51] andreasjordan commented on #8036
So can we close this?

[2022-01-04 15:11] mattcargile commented on #8036
Well it would be nice to either handle the line endings differently or not at all (i.e return the full text as a blob of text ).

[2022-01-04 15:16] andreasjordan commented on #8036
So removing the
[code]
in line 144?

That would be ok for me. Would you like to open the pull request or should I do it?

[2022-01-04 15:30] mattcargile commented on #8036
Sounds good. Yeah I can open the PR.

[2022-01-04 15:48] mattcargile commented on #8036
So for this below line. Should we create two copies of the `$row.TextBody` The `StoredProcedureTextFound` property needs the split. So I don't think we can get away with trying to resolve the line ending split in a better way. I guess we could normalize all the line endings prior to generating the `$spTextFound`.

https://github.com/sqlcollaborative/dbatools/blob/31af4729245f8073ddec3f8453b20ef165

[2022-01-04 16:16] FriedrichWeinmann commented on #8035
Excellent and thank you for confirming.
And happy to help ... after all, I'm the criminal that implemented the bug to begin with ;)

[2022-01-04 20:23] janszedc commented on #8035
@FriedrichWeinmann perhaps I spoke to soon as I have been testing all day and will randomly see memory spike to 99% fairly quickly. It is difficult to say if this is DBATools related at this point or Powershell Universal. Something is still not releasing memory. @psott Have you been able to test on your end with the DBATools 1.1.48?

[2022-01-04 20:41] adamdriscoll commented on #8035
If you are able, feel free to take a memory dump of the PSU process and I can analyze it and let you know what's using the memory. I can share a dropbox folder that you can drop the file in since it will be very large. Zipping the file will compress it significantly.

[2022-01-04 22:39] mikeblas commented on #8039
This issue still repros for me.  The "500 commands" link goes to https://dbatools.io/functions/  , which is 404.  It does *not* go to /commands/

If I look at the source for the page, here is what I see:

[code]

[2022-01-04 23:09] potatoqualitee opened #8051 "New command request: Remove-DbaDbTable"
### Summarize Command's Functionality

Any chance that someone can bust out a PR for `Remove-DbaDbTable` this week? We need it for `dbatools in a Month of Lunches` and we'm currently knee-deep in edits. Right now, our alternative is ().Drop() which isn't pretty :(

We just need a PR to add it to the book, not an approval. We hope to have most edits done by Sunday.

Thank you for your consideration

[2022-01-04 23:16] janszedc commented on #8035
I can do that first thing tomorrow morning. Shoot me a link to the Dropbox once created. Also, do you want a dump file of the service itself or the pwsh.exe it spins up for the dashboard? Or both?

[2022-01-04 23:18] adamdriscoll commented on #8035
Both would probably be handy. I'll need an email address to share the dropbox link with. You can email me at adam[at]ironmansoftware.com.

[2022-01-04 23:18] janszedc commented on #8035
Sending now. Thanks

[2022-01-05 03:05] gwojan commented on #8039
FWIW, I can repro the issue right from my phone by following the link on the getting started page.

[2022-01-05 04:43] #8040 closed

[2022-01-05 07:40] andreasjordan commented on #8051
I can do that.

[2022-01-05 09:24] PowerDBAKlaas opened #8053 "Get-DbaDbFile add Database ID"
### Summarize Functionality

The true identifier of a database is it's ID.
Since a DB can be renamed, there can be mismatches in historical data.

Just adding the DB_ID() to the output columns in the query + adding it to the PS obj properties should do it.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2022-01-05 14:23] tomaustin700 opened #8054 "EnableException doesn't seem to do anything when using Restore-DbaDatabase"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi,

We are using Restore-DbaDatabase within a Powershell script within some Azure DevOps pipelines and due to the amount of concurrent pipelines we could have we have seen issues with Restore-DbaDatabase failing due to deadlocking. I have tried to handle this by catching the exception and retrying however it seems t

[2022-01-05 15:29] andreasjordan commented on #8039
For me, the link goes to https://dbatools.io/functions (without / at the end) and is redirected to https://dbatools.io/commands/ without any problems:

![image](https://user-images.githubusercontent.com/66946165/148243614-13ef283f-1cbb-4dc4-bc06-02197e5adcd5.png)

[2022-01-05 15:32] AndiM1976 opened #8055 "find-dbadbgrowthEvent with convertto-dbatimeline"
### Summarize Functionality

Hi,
I tried to use find-dbadbgrowthEvent with convertto-dbatimeline (find-dbadbgrowthEvent -sqlinstance <inst> | convertto-dbatimeline| out-file <file.html> ).
PS throw an error with unsupport input data. Please expand dbatools cmdlet with this feature.

Cheers Andi

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Detai

[2022-01-05 16:41] wsmelton commented on #8039
The link issue on the site is we had `https://dbatools.io/functions/` and when migrated to GitHub the ending `/` won't redirect. That has been fixed across the site now.

[2022-01-05 17:23] adamdriscoll commented on #8035
Here's what I'm seeing in the dump. There is a static variable that is maintaining a dictionary that contains script blocks. We might need to look at the `ConfigurationHost.Validation` variable and dispose of unused scriptblocks.

![image](https://user-images.githubusercontent.com/1256531/148260696-254b306e-2766-45d6-b060-936ba293431c.png)

Those script blocks reference an execution console that i

[2022-01-05 17:24] adamdriscoll commented on #8035
There are also 200 dictionaries each with 39,900 items in them.

![image](https://user-images.githubusercontent.com/1256531/148261236-ff1865fc-79ab-4c21-b4df-7ae0d66440e9.png)

[2022-01-05 19:02] FriedrichWeinmann commented on #8035
Thank you very much for processing that.
We keep - by default - 1024 LogEntry items in memory, but there is no reason for the callstack to be that size. Going to fix that without loss of functionality from a logging/debugging perspective.
The scriptblocks are a bit more of an interesting matter, as they should theoretically all point at the internal session state of the main runspace (which would

[2022-01-05 20:21] mikeblas commented on #8039
Yay! Looks like it's fixed.

But why is the redirect necessary?

[2022-01-06 11:00] andreasjordan opened #8057 "Use ClearAndInitialize to improve performance"
### Summarize Functionality

We implemented ClearAndInitialize to improve performance in Get-DbaDbView in #8042.

Background info (https://github.com/sqlcollaborative/dbatools/pull/8042#issuecomment-1003418389):

Write up from SMO team for those interested:

https://github.com/microsoft/sqlmanagementobjects/wiki/Refresh-vs-ClearAndInitialize

Let's use this issue to plan implementing ClearAndIniti

[2022-01-06 11:03] #8036 closed

[2022-01-06 11:12] andreasjordan commented on #8057
Let me share a small snippet from a code I use when rebuilding all indexes to build page checksums. To be able to have a nice progress bar, I work with DataSpaceUsed and IndexSpaceUsed. To improve performance I get these properties for all tables at once with ClearAndInitialize:

[code]

[2022-01-06 14:01] tkronawitter opened #8058 "Invoke-DbaDbLogShipping -Force switch breaks transaction log shipping"
### Verified issue does not already exist?

Yes

### What error did you receive?

Using the -Force parameter for Invoke-DbaDbLogShipping will render the resulting secondary log shipping configuration inoperable.

The copy job on the secondary server will fail with the error:
`Error: The specified agent_id %s or agent_type 1 do not form a valid pair for log shipping monitoring processing.(.Net SqlC

[2022-01-06 14:26] tkronawitter commented on #8058
Looking at the code I found that New-DbaLogShippingSecondaryPrimary sets the montitor server to the secondary server ($sqlInstance) if the force switch is used.
[code]
This seems to be the problem and as far as I can tell is not correct.

A potential fix could be:
[code]
What do you think? Input is much appreciated.

Side note: The -force switch would not be used in this function anymore.

[2022-01-07 01:43] RandyInMarin opened #8059 "New-DbaDbTable a varchar column default should not always be quoted (e.g., newid())"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error.

### Steps to Reproduce

[code]
$columnMap = @(
	@{ 'Name' = "Id"; 'Type' = 'int'; 'Identity' = $true }
	@{ 'Name' = 'Value'; 'Type' = 'varchar'; 'MaxLength' = 36; 'Nullable' = $true; 'Default' = 'NEWID()' }
	@{ 'Name' = 'Note'; 'Type' = 'varchar'; 'MaxLength' = 50; 'Nullable' = $true }
	@{ 'Name' = 'Create

[2022-01-07 15:36] spiralcb opened #8060 "Get-DbaDbTable | Export-DbaScript"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [16:30:54][Export-DbaScript] InputObject is of type System.Management.Automation.PSObject which is not a SQL Management Object. Only SMO objects are supported

### Steps to Reproduce

Get-DbaDbTable -SqlInstance <instance_name> -SqlCredential <sqllogin> -Database <dbname> | Export-DbaScript -FilePath tables.

[2022-01-07 17:47] jpomfret opened #8061 "Backup-DbaDatabase: Issue with path output when running on Windows against a container"
### Verified issue does not already exist?

Yes

### What error did you receive?

The path returned from `Backup-DbaDatabase` is incorrect when running from a Windows OS client against a container:

[code]

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Tested on both these dbatools versions and both return the issue described:

[2022-01-07 19:49] RandyInMarin commented on #8059
Hi, I did not want to wait for a fix, so I added code for a DefaultEx property in my local copy of allcommands.ps1.  I'll adapt to the new version when it's available.

[code]
This worked as expected.  NEWID() was an expression for one column and a quoted string for the other.

[code]

[2022-01-08 09:12] FriedrichWeinmann commented on #8035
Alright, next version that should at least resolve Adam's findings in #8062

[2022-01-08 09:43] potatoqualitee commented on #8061
This goes back to a bug that I found and tried to fix. @Stuart-Moore has code in there where it seems that the path has to be resolved, but when you mix Mac/Linux as the PowerShell Host and then Windows/Linux as the SQL Server host, it gets complicated.

I do not know how to resolve this issue. It doesn't break anything, but it is inaccurate.

[2022-01-09 02:56] potatoqualitee commented on #6223
This will be added shortly. You are correct in that it was half-done.

[2022-01-09 04:41] potatoqualitee opened #8064 "Combo command for TDE"
### Summarize Command's Functionality

Setting up TDE from scratch is a ton of steps. I'll be creating a combo command (like new-dbaavailabitygroup) to do everything including backing up the certs. if anyone has a name for a suggestion, please let me know.

the idea is that it'll tde every database on the server if `-All` is specified.

### Is there a command that is similiar or close to what you

[2022-01-09 05:05] potatoqualitee commented on #8064
Combo remove too

[2022-01-10 06:13] Zhunya commented on #7906
Thank you all, all works now!

[2022-01-10 06:13] #7906 closed

[2022-01-10 15:22] tkronawitter commented on #8064
Is New-DbaDbTransparentDataEncryption to obvious/long?

Removal needs to wait for decryption of the data too.
So maybe:
Get-DbaDbTransparentDataEncyption
Remove-DbaDbTransparentDataEncryption

And while we are at it Set-DbaDbDatabaseEncryptionKey cycle the DEK?

[2022-01-10 15:44] potatoqualitee commented on #8064
Oh, thank you, @tkronawitter! I ended up going with `Start-DbaDbEncryption`. You can see the PR here: https://github.com/sqlcollaborative/dbatools/pull/8063

[2022-01-10 22:22] cfradenburg opened #8066 "Set-DbaAgentSchedule rename a schedule even with Whatif"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error, Schedule was renamed when it shouldn't have been.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

The `$JobSchedule.Rename($NewName)` command is outside a ShouldProcess block which is what's causing this. The rest of the property changes don't ta

[2022-01-11 10:55] #7896 closed

[2022-01-11 11:18] #5890 closed

[2022-01-11 11:18] #8051 closed

[2022-01-11 12:12] #8026 closed

[2022-01-11 13:13] potatoqualitee commented on #8035
Hey @janszedc  - sorry that was an autoclose. Release 1.1.50 is what you're looking for, as it has Fred's most recent changes.

[2022-01-11 13:14] potatoqualitee commented on #8035
I'll keep this open until we receive confirmation that the changes work.

[2022-01-11 13:48] janszedc commented on #8035
@adamdriscoll It looks like this has to do with defining endpoints/schedules within the dashboard page itself (above the content). I managed to capture this image after saving/auto-deploying my dashboard code several times and you can see all the powershell sessions:
![image](https://user-images.githubusercontent.com/49908138/148954135-7ee9e22e-9939-48b5-84f1-4bde7e58c594.png)

As soon as I commen

[2022-01-11 14:58] janszedc commented on #8035
No problem. Just updated to 1.1.50 and am testing now.

[2022-01-11 17:30] krahi600 commented on #6396
I just installed SQL Server 2019 enterprise edition and encountered the same thing. I have 4 extra model db files in the default directory.

model_msdbdata.mdf
model_msdblog.ldf
model_replicatedmaster.ldf
model_replicatedmaster.mdf

[2022-01-11 17:42] potatoqualitee opened #8069 "Find-DbaOrphanedFile does not work with SQL on Linux"
### Verified issue does not already exist?

Yes

### What error did you receive?

wrong output

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe)

### PowerShell Host Version

Name                           Value
----

[2022-01-12 22:37] DBA-Jason opened #8070 "Invoke-DbaDbDataGenerator - String data longer than supported column definition"
### Verified issue does not already exist?

Yes

### What error did you receive?

String or binary data would be truncated in table 'SQL_Admin.dbo.Testing', column 'SomeTextOrWhatever'. Truncated value: 'JnpR2tGN568hKjTs74uoupZ90n8tcC59GPrxvlI7bamu2WTpEJYojTNtyp0OunKDa9L42v7WwwnudEheETZDNR0Wc89fu3NYzTt2'.
The statement has been terminated.
At C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0

[2022-01-12 23:04] DBA-Jason commented on #8070
I'm seeing this and wondering if this is an older release:
...C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.109...

But I checked the module version before running and as part of posting this issue so...

[2022-01-13 06:13] andreasjordan commented on #8070
Yes, you are definitiy running a very old version. Please update to the latest version.

[2022-01-13 15:34] janszedc commented on #8035
I have been closely monitoring memory consumption and while I am not seeing any rapid spikes, I am still noticing memory very slowly creeping closer to 100% as the day goes on. I restarted my service this morning so memory could be released and will watch again to see what it looks like a few hours from now. Currently using version 1.1.50.

[2022-01-13 16:36] janszedc commented on #8035
@potatoqualitee I actually set all my variables to $NULL after they have been used and run garbage collection afterwards. I can add `[System.Gc]::Collect()` as well though.

[code]

[2022-01-13 16:41] potatoqualitee commented on #8035
@janszedc i recall there being potential scoping issues, like maybe it has to be our commands and not yours. but! try adding that garbage collection command 3 times. i dont know why it takes 3, but that's been my experience

[2022-01-13 17:33] DBA-Jason commented on #8070
This can be closed. Sorry!

[2022-01-13 17:33] #8070 closed

[2022-01-13 17:39] andreasjordan commented on #8002
Will close this now. Issue can be reopened in needed.

[2022-01-13 17:39] #8002 closed

[2022-01-14 09:55] potatoqualitee opened #8076 "Notice: Get-DbaDbEncryption likely to undergo breaking changes"
### Summarize Functionality

This is to let everyone know that `Get-DbaDbEncryption` will likely have breaking changes in an upcoming release.

Now that I better understand how TDE works, it'll likely combine all of the db outputs into one db output. So instead of 3 objects which show the basics, it'll be like `EncryptorType: Asymmetric key` then the `Encryptor` column will have that Asymmetric ke

[2022-01-14 12:31] SQLDBAWithABeard opened #8077 "XESessionTemplate commands not working on Ubuntu 20.04 or GitHub Runner"
### Verified issue does not already exist?

Yes

### What error did you receive?

 pwsh 7.2.0> Get-DbaXESessionTemplate
Get-ChildItem: /home/robadmin/.local/share/powershell/Modules/dbatools/1.1.52/allcommands.ps1:39714
 Line |
39714 |              $files = Get-ChildItem "$(Join-DbaPath $directory *.xml)"
      |                       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      | Cannot

[2022-01-15 11:29] potatoqualitee commented on #8077
interesting! It's because the folder is named XEtemplates but i didnt think that powershell cared.

[2022-01-15 12:32] #8077 closed

[2022-01-15 19:16] potatoqualitee commented on #8061
there is a parameter that i cant think of right now that's like [io.file] that accepts both text and the results of get-childitem, perhaps we can use that to "Expand" but damn, it may just be the same OS expansion, k, nevermind.

[2022-01-16 01:29] potatoqualitee opened #8081 "Backup encryption doesn't work when database is piped in"
### Verified issue does not already exist?

Yes

### What error did you receive?
I'm on a case-sensitive instance, no idea if that makes a difference.

this does not work:

[code]

this does work
[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows Pow

[2022-01-17 13:06] potatoqualitee commented on #8064
done

[2022-01-17 13:06] #8064 closed

[2022-01-17 14:45] janszedc commented on #8035
@potatoqualitee I added more GC statements last week, but still saw the memory leak issue this morning so I decided to "clutter" up my dashboard by adding them everywhere and it caused a lot of NULL REFERENCE EXCEPTIONS =[ ... although to be fair I did not see the issue go away. I will keep messing with it on my end though.

[2022-01-17 18:45] potatoqualitee commented on #8035
interesting that there are downsides! that does point to it being us in our runtime.

[2022-01-17 19:04] potatoqualitee commented on #8081
fixed it! Had to move stuff from begin to process

[2022-01-17 19:04] #8081 closed

[2022-01-17 19:05] potatoqualitee commented on #8061
fixed! my brain was working tonight 🧠 🥳

[2022-01-17 19:05] #8061 closed

[2022-01-17 19:07] potatoqualitee commented on #8055
Thanks @AndiM1976 ! cool idea. @marcingminski would you be able to take a look?

[2022-01-17 19:09] potatoqualitee opened #8090 "Auto copy master key for AG database adds"
### Summarize Functionality

I just created `Copy-DbaDbCertificate` and added it to `Start-DbaMigration`. It was suggested that it'd be awesome to help enable auto setup of encrypted databases on AGs. Maybe it belongs in Copy-DbaDatabase as well 🤔

@andreasjordan any chance you can take a look? Start-DbaDbEncryption works with the containers at https://dbatools.io/docker

### Is there a command th

[2022-01-17 19:11] potatoqualitee commented on #8090
hmmm im doing a private presentation tomorrow at 9, i may jump in and submit a PR if i cant resist 😅

[2022-01-17 19:13] TheSQLGuru commented on #8037
this works, and lists out all 13 agent jobs on aaexttestdb:
Get-DbaAgentJob -SqlInstance aaexttestdb

this still throws the given error:
Copy-DbaAgentJob -Destination "atsqlext\aaexttestdb,14340" -Source aaexttestdb

WARNING: [13:12:18][Copy-DbaAgentJob] Error occurred while establishing connection to aaexttestdb | Object reference not set to an instance of an object.

that same step also fails if

[2022-01-17 19:13] andreasjordan commented on #8090
I can try, but this week might get a bit busy...

[2022-01-17 19:16] andreasjordan commented on #8037
Have you tried to first create the connections and then use them?
[code]

[2022-01-17 19:19] TheSQLGuru commented on #8037
Same error

[2022-01-17 19:25] TheSQLGuru commented on #8037
Here is the top section of code:

    begin {
        if ($Source) {
            try {
                $InputObject = Get-DbaAgentJob -SqlInstance $Source -SqlCredential $SourceSqlCredential -Job $Job -ExcludeJob $ExcludeJob
            } catch {
                Stop-Function -Message "Error occurred while establishing connection to $Source" -Category ConnectionError -ErrorRecord $_ -Target $Sourc

[2022-01-17 19:28] TheSQLGuru commented on #8037
Could it be related to this:

 [DbaInstanceParameter]$Source

?? That seems to be the only thing that I am not actually testing by calling the Get-DBAAgentJob line explicitly

[2022-01-17 19:30] andreasjordan commented on #8037
This is the normal way in all commands. Will try to reproduce in my lab tomorrow...

[2022-01-17 19:48] andreasjordan commented on #8037
Ok, I read the original issue again. You run this with PowerShell 3 on a windows server 2012? I don't have a lab for that, with current PowerShell and OS the command runs fine. Do you have a box with current OS level where you can install dbatools and try again? If not, I'm not able to help you with this issue.

[2022-01-17 19:55] #8058 closed

[2022-01-17 19:56] TheSQLGuru commented on #8037
I do not have access to an environment with a higher level powershell/OS that can execute the necessary operations to perform this migration.

I will stop trying to use dbatools for this evolution, and switch to other means.

Thanks for your time!

[2022-01-17 19:58] andreasjordan commented on #8037
@potatoqualitee - Do you have a windows server 2012 with PS3 to test this? I have no idea where the problem is.

[2022-01-17 20:38] potatoqualitee commented on #8037
I do and will check, well I have win7 with psv3.

@TheSQLGuru can you also try without the instance name and just use the port? from my testing and experience, seems like it's not required

![image](https://user-images.githubusercontent.com/8278033/149834352-d3029d3b-f2f5-4399-b92e-5c6f835cb137.png)

[2022-01-17 21:19] potatoqualitee opened #8091 "add minimum .net version of 4.6.2 to manifest"
### Summarize Functionality

add minimum .net version of 4.6.2 to manifest

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

add minimum .net version of 4.6.2 to manifest

[2022-01-17 21:36] andreasjordan commented on #8090
Ok, my lab is  up and running...

I think copying the master cert will be a seperate step, because we need much more information than provided in Add-DbaAgDatabase. Example: With automatic seeding we don't have a shared path to transfer the certificate. And we need the passwords.

[2022-01-17 21:38] potatoqualitee commented on #8037
[code]

i can repo but its not even failing on the named instance, it's failing on any. this'll be rough but I'll look when i get a moment. Till then you can export then import with our export commands, perhaps

[2022-01-17 21:45] potatoqualitee commented on #8037
Works:

[code]

Also works
[code]

I'll probably have to ask twitter, this i weird.

[2022-01-17 21:47] potatoqualitee commented on #8090
ahhhh okay, we can add it in new-dbaavailabilitygroup since its a combo command anyway

[2022-01-17 21:48] potatoqualitee commented on #8090
i also want to ask the SMO team if it's possible to just copy in memory, that'd be nice. but when i checked i believe it was "get" and not "get;set"

[2022-01-17 21:55] potatoqualitee commented on #8090
asked: https://github.com/microsoft/sqlmanagementobjects/issues/76

[2022-01-17 22:15] marcingminski commented on #8055
Can you share your code?

[2022-01-17 23:06] potatoqualitee opened #8092 "Copy-DbaDbCertificate - failure may occur if private key is not exportable"
### Summarize Functionality

https://twitter.com/sporri/status/1483211202968924160

Interesting! So the certs we make in sql are "self signed". if someone imports an external non-private key exportable cert, there's nothing i can do about it so this is just an issue basically saying i gotta update the docs.

### Is there a command that is similiar or close to what you are looking for?

No

### Tec

[2022-01-17 23:13] potatoqualitee commented on #8037
btw @andreasjordan - if youre ever interested, the win7 azurevm is ideal for psv3 testing

[2022-01-18 18:37] cogsciapps opened #8094 "Add checking if indirect checkpoint (target_recovery_time_in_seconds) is turned on in Invoke-DbaDBUpgrade for MS SQL Server 2016+"
### Summarize Functionality

Indirect checkpoint was introduced in MS SQL 2016+ and is on by default, it is an proven improvement over the automatic checkpoint in older versions. However, if a database is restored from a backup of an older version, the option stays the same as being off.

It would be great if Invoke-DbaDBUpgrade could include a checking if this option is turned on for MSSQL 2016+.

[2022-01-18 18:40] potatoqualitee commented on #8090
Ohh check it out, @andreasjordan ! Someone responded with this link, I think it'll be great for Copy-DbaDbCertificate https://docs.microsoft.com/en-us/sql/t-sql/functions/cert-id-transact-sql?view=sql-server-ver15

[2022-01-18 20:11] TheSQLGuru commented on #8037
OOOH! I wasn't even aware of the pipe-able Export-DBAScript function!

I'm sorry I broke things, but I am happy that it wasn't me doing something
stoopid! 🙃

Best of luck finding a root cause and coming up with an easy-to-implement
fix!

Kevin G. Boles
SQL Server Consultant
SQL Server MVP 2007 - 2012
Indicium Resources, Inc.
@TheSQLGuru

On Mon, Jan 17, 2022 at 3:38 PM Chrissy LeMaire ***@***.***>

[2022-01-18 22:03] potatoqualitee commented on #8037
The Export scripts are awesome! You should check out `Export-DbaInstance`, it's fabulous for Disaster Recovery https://dbatools.io/dr

Also, I figured out that this works in PSv3, so weird.

[code]

[2022-01-19 09:55] potatoqualitee commented on #8092
Wait, great point but the way dbatools creates certs, they have private keys. If you import a cert externally, there's not much i can do and i can only assume SMO will will error out with a good error message.

[2022-01-19 12:06] marcingminski commented on #8055
Hi there, I had a look.
Looks like the `ConvertTo-DbaTimeLine` has been made to only accept input from certain commands as below.
I will see if I can make it to accept arbitrary input

[code]

[2022-01-19 17:06] #8044 closed

[2022-01-19 19:05] wgshef opened #8100 "Backup-DBADatabase with piped in databases and using -ReplaceInName creates empty servername, causing error"
### Verified issue does not already exist?

Yes

### What error did you receive?

SQL Server cannot check if V:\\Backup\<MyDBName>\Full exists. You can try disabling this check with -IgnoreFileChecks

### Steps to Reproduce

Get-DBADatabase -SqlInstance . -RecoveryModel Full | Backup-DbaDatabase -Path V:\servername\Backup\dbname\backuptype -FilePath dbname-backuptype-timestamp.bak -ReplaceInName -

[2022-01-19 20:58] potatoqualitee commented on #8100
oops, we forgot to ask what version of dbatools you are using. Please confirm.

[2022-01-19 21:16] potatoqualitee commented on #8100
I may have fixed this in one of the very recent releases

[code]

[2022-01-20 03:30] wgshef commented on #8100
Hi Chrissy,
I'm running 1.1.44. When I run Update-Module dbatools, it fails with an
"access denied" error message.
When running in Verbose mode, it returns:
VERBOSE: Hash for package 'dbatools' does not match hash provided from the
server.
Then everything disappears out of the download folder.

In Debug mode, it's then looking to run/open dbatools.nupkg after this, so
the error message makes sense

[2022-01-20 05:43] code-atom commented on #8014
the preview version of dacfx with this fix is now available in nuget.org.
https://www.nuget.org/packages/Microsoft.SqlServer.DacFx/160.5323.3-preview

[2022-01-20 07:09] potatoqualitee commented on #8100
Whoa! Okay I see it.

![image](https://user-images.githubusercontent.com/8278033/150290283-ba7c1d62-b76f-4467-bc13-3fbfd23b31b5.png)

I should be able to fix that, brb

[2022-01-20 07:09] potatoqualitee commented on #8100
oh wait lol i mkdir'd on my own comp

[2022-01-20 07:10] potatoqualitee commented on #8100
Okay now it acts as I expected it to, let me reread your expectation of how it should work.
![image](https://user-images.githubusercontent.com/8278033/150290424-57c24cd1-be3d-4ade-a64f-3e431fe24563.png)

[2022-01-20 07:12] potatoqualitee commented on #8100
is your server a named instance?

[2022-01-20 07:18] techvslife commented on #8014
@code-atom
Thanks, the issue is incorporating the fix into dbatools:

[2022-01-20 07:32] potatoqualitee commented on #8014
sweet! thank you both so much. I'll see what I can do.

[2022-01-20 08:26] potatoqualitee commented on #8100
does that directory exist?

[2022-01-20 08:46] potatoqualitee opened #8102 "Add Runspaces to Start and Stop-DbaDbEncryption"
### Summarize Functionality

They can take a while, run async

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2022-01-20 10:55] andreasjordan commented on #8090
So not using `Backup-DbaDbCertificate` and `Restore-DbaDbCertificate` anymore? Good idea. But I would need some time to implement and test - don't have that this week. Maybe on the weekend...

[2022-01-20 11:28] potatoqualitee commented on #8090
Right! If it's possible. Seems possible 🤔

[2022-01-20 11:29] potatoqualitee commented on #8090
Make that part an internal command so we can potentially reuse it elsehwere

[2022-01-20 15:31] janszedc commented on #8035
This only occurs when a user (myself) has the dashboard/webpage open. Even if it is running, I don't notice any memory leak issues. If I leave the webpage open and do not touch it, memory rises slowly.. but as soon as I start clicking around which causes refreshes I can see memory start to spike fast. At this point I have gotten rid of all garbage collection commands as I did not notice any improv

[2022-01-20 15:44] potatoqualitee commented on #8035
Hmmm seeing this, @FriedrichWeinmann and @adamdriscoll would yall say it's in UD, then?

[2022-01-20 16:11] wgshef commented on #8100
1. Not a named instance.
2. Yes, the directory already exists (well, up until the path has the
database name).
3. In the command that you are using, replace "-Path C:\temp\sqlcs" with
"-Path C:\temp\servername". That placeholder for "servername" is supposed
to be replaced with the server's actual name automatically. Just like
"dbname" gets the database name, and "backuptype" get the backup type, a

[2022-01-20 16:29] potatoqualitee commented on #8100
ah aha! thank you, this is one of the commands that im more hands off and dont know the details. this is important, however, I'll ask @Stuart-Moore to take a look as I'm backed up with the encryption stuff I'm doing.

[2022-01-20 17:03] wgshef commented on #8100
Sounds good, thanks!

Here's a screenshot:
[image: image.png]
When you run Backup-DbaDatabase by itself, the "servername" is being
replaced with "WS-P7740". Ignore the path not existing warning - that's
deliberate to get this message to show that the "servername" was replaced.

When you pipe databases into Backup-DbaDatabase, the "servername" becomes
an empty string, creating an invalid path.

On

[2022-01-20 20:17] lowlydba opened #8104 "Make DbaService commands use uniform param for 'SqlInstance'"
### Verified issue does not already exist?

Yes

### What error did you receive?

Start/Stop/Restart/Get-DbaService all use `InstanceName` instead of the standard `SqlInstance` for the instance parameter. I am assuming it can/should be in line with all other commands by using SqlInstance instead, or in addition to, InstanceName.

https://github.com/dataplat/dbatools/blob/8a63f160a675704f32859d3117

[2022-01-20 20:20] techvslife commented on #8014
@potatoqualitee
This may not be of help, but in case it is, please note this comment from the DacFx site:

[https://githubmemory.com/repo/microsoft/DacFx/issues/33?page=2](url)

[2022-01-20 20:21] nvarscar commented on #8104
InstanceName is a string parameter, you can't alias SqlInstance to it. You should alias ComputerName instead, which would accept both computer name and specific instance if needed. You could then check in the code whether the instance name was passed as a part of `-SqlInstance` parameter, and if `-InstanceName` wasn't specified, use the the instance name derived from the SqlInstance parameter.

Bu

[2022-01-20 22:11] potatoqualitee opened #8105 "Add certs/keys export to Export-DbaInstance"
### Summarize Functionality

Add securepassword then use that to expodrts certs and keys automagically

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

_No response_

[2022-01-21 15:15] Stuart-Moore commented on #8100
The issue is that it's written to take a SqlInstance object as pipeline input, not a Database object.

It should be fixable, just trying to find a way that isn't lots of if/else bodging. I'll have a look over the weekend

[2022-01-21 20:58] wsmelton commented on #8104
If we are going to do this to the service commands it should be done across the board. We use `Computer` for those commands that are operating at the OS level, and then if SQL comes into play we add the `InstanceName`

We do this for a number of commands, not just the service ones:

![image](https://user-images.githubusercontent.com/11204251/150599230-9b1f88a9-aec2-475e-b41f-e1d796bf9942.png)

[2022-01-21 21:00] wsmelton commented on #8104
This change should include updating any referenced commands that call a service command. Our commands should not depend on alias parameter names:

![image](https://user-images.githubusercontent.com/11204251/150599350-f5ee47e7-9f71-4790-ae5e-0fcd87a112cb.png)

[2022-01-22 19:43] andreasjordan commented on #8104
Yes, more than once I had to add more lines of code to my scripts because of these two parameters `-ComputerName` and `-InstanceName`instead of just one `-SqlInstance`. I would be happy to review a pull request for that. Call me if you need any help or advice.

[2022-01-22 21:24] wgshef opened #8109 "Restore-DbaDatabase - add ability to perform diff/log restores on existing database"
### Summarize Functionality

Scenario:
Multiple databases are in an Availability Group
One of the replicas needs some extended maintenance work.
This replica is removed from the AG (and those affected databases are now in the restoring state).
After the maintenance, the replica is added back to the Availability Group.
Now we want to bring those databases up-to-date by restoring diff/log backups to

[2022-01-22 21:33] wgshef opened #8110 "Get-DbaDbRestoreHistory - Add ability to get restore history by restore type"
### Summarize Command's Functionality

I would like to be able to get the last restore that was performed by the restore type (Full, Diff, Log, etc). Can get the absolute last restore with the -Last parameter, but no way to restrict output by restore type.

Work-around: Get-DbaDbRestoreHistory | Where-Object {$_.RestoreType -eq 'Log'} | Sort-Object BackupFinishDate -Descending | Select -First 1

A

[2022-01-23 20:18] potatoqualitee commented on #8105
Copy-DbaDatabase will need to see if a database is encrypted, and copy the cert using the new copy master cert command, so it will also need new params as well.

[2022-01-26 00:06] #8092 closed

[2022-01-26 04:17] lancasteradam opened #8112 "New-DbaLinkedServer: allow for updates to the security context setting"
### Summarize Functionality

When creating or editing a linked server there are options for specifying the security context for logins that are not explicitly mapped. These settings are visible in SSMS on the linked server dialog (lower portion of the dialog) and can be programmatically set using sp_addlinkedsrvlogin and sp_droplinkedsrvlogin.

For this feature request the New-DbaLinkedServer shou

[2022-01-26 10:06] fmabx opened #8114 "Install-DbaSqlWatch -LocalFile can't handle manually downloaded file"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Management.Automation.ItemNotFoundException: Der Pfad
                        "C:\Users\username\AppData\Local\Temp\dbatools_software_download_1774043985.zip" kann nicht
                        gefunden werden, da er nicht vorhanden ist.

[2022-01-26 11:28] Stuart-Moore commented on #8109
Have you tried using the `-continue` parameter? As long as the dbs are in standby/restoring states then it should apply further backups.

[2022-01-26 14:45] gpollokoff opened #8116 "Error in Test-DBAConnection when using FQDN for server"
### Verified issue does not already exist?

Yes

### What error did you receive?

When using the FQDN of a server, the TcpPort test fails because it does not use the FQDN.  This is true even if commands.resolve-dbanetworkname.bypass is set to True.

### Steps to Reproduce

[code]
Test-DBAConnection -SqlInstance Server.domain.corp

### Are you running the latest release?

Yes

### Other details or

[2022-01-26 15:28] andreasjordan opened #8117 "Invoke-CommandWithFallback - Fallback not working"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

Update-DbaInstance with -Credential but in an unelevated PowerShell and CredSSP not configured.

### Are you running the latest release?

Yes

### Other details or mentions

I want to test the fallback but noticed that it always failed.

I think the reason is that we restart WinRM but

[2022-01-26 15:34] andreasjordan commented on #8117
Oh, the error if thrown while restarting the service. I'll dig for some more minutes...

[2022-01-26 15:45] andreasjordan commented on #8117
Ok, found we root cause and have a fix for Restart-WinRMService:

[code]

[2022-01-26 15:57] awickham10 opened #8118 "Get-DbaPrivilege Produces No Output in Remote Session"
### Verified issue does not already exist?

Yes

### What error did you receive?

Some or all identity references could not be translated.
    + CategoryInfo          : NotSpecified: (SVDSQLMORPH1:String) [], Exception
    + FullyQualifiedErrorId : dbatools_Get-DbaPrivilege

### Steps to Reproduce

Running remotely with -ComputerName returns the appropriate information.
![image](https://user-image

[2022-01-26 17:09] freerider75 opened #8119 "Add-DbaDbRoleMember not honoring -Confirm switch?"
### Verified issue does not already exist?

Yes

### What error did you receive?

Performing the operation "Adding User MyUser to role: [db_datawriter] in database [MyDatabase]" on target "[Instance]".
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "Y"):

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

[2022-01-26 17:15] andreasjordan commented on #8119
The code says:

[code]

That's why the default value of -Confirm is $true.

So this is intended and not a bug.

[2022-01-26 17:16] andreasjordan commented on #8119
`-Confirm:$false` will suppress the prompts.

[2022-01-26 17:33] niphlod commented on #8119
jm2c, @freerider75 : this is the default behaviour of Powershell, dbatools just adheres to the standard. -Confirm is a "global thingy" in Powershell and must be treated by every module in the same way (even if at first it seems counterintuitive to have to pass -Confirm:$false to NOT require any confirmations)

[2022-01-26 17:49] freerider75 commented on #8119
Thank you, I'm no ps guru; actually, as @niphlod wrote the -Confirm param is really ambiguous.

[2022-01-26 17:49] #8119 closed

[2022-01-26 18:12] janszedc commented on #8035
Commenting for visibility as I am still experiencing this issue. Any help or ideas on what I can try is much appreciated =]

[2022-01-26 20:26] cdbunch72 opened #8120 "CompressBackup option to Add-DbaAgDatabase"
### Summarize Functionality

When using the manual seeding mode with backup and restore it would be nice to have the option to compress the backup as the shared path may not be as large as the regular backup location.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

When calling Backup-DbaDatabase in the Add-DbaAgDatabase function it would

[2022-01-27 03:32] wgshef commented on #8109
No I didn’t, because of the docs. They state that “WithReplace” will be set, which will replace the existing databases.

-Continue
If specified we will to attempt to recover more transaction log backups onto database(s) in Recovering or Standby states When specified, WithReplace will be set to true.

-WithReplace
Switch indicated is the restore is allowed to replace an existing database.

————————

[2022-01-27 13:11] wsmelton commented on #8035
Have you tried disabling our logging? Running from the dashboard it won't server much purpose.

[2022-01-30 16:38] #8117 closed

[2022-01-31 13:13] janszedc commented on #8035
@adamdriscoll When I take the same script and run it in a while loop locally on the same box hosting PSU, I do not see the memory leak whatsoever. It seems there are memory leak issues related to both the dashboards piece of PSU and the Scripts/Scheduling component of PSU. Anything else I can do on my end to help track this down?

[2022-01-31 16:19] adamdriscoll commented on #8035
@janszedc  - I opened a new issue on the PSU issue repo to track this since it's related to PSU. I think I will have to do some additional debugging on my end to see what's causing this issue in PSU. It's likely has to do runspace management in PSU. I have some ideas and will let you know next steps.

[2022-01-31 16:27] janszedc commented on #8035
@adamdriscoll Based on my research I was thinking the same regarding runspaces. At this point I've covered my scripts in explicit GC statements, $null'd out variables, and disabled DBA Tools logging so it must have something to do with runspaces not releasing memory properly. Thanks for looking into this!

[2022-01-31 16:27] #8035 closed

[2022-01-31 19:53] #8112 closed

[2022-01-31 20:47] BeginTry commented on #8119
May I offer a suggestion: add another example to the docs (https://docs.dbatools.io/Add-DbaDbRoleMember) that shows how to suppress the confirmation? I probably would have found it there before reviewing the source code and/or going to the #dbatools Slack channel. 😀

For instance:
`Add-DbaDbRoleMember -SqlInstance localhost -Database DEMODB -Role db_owner -User user1 -Confirm:$false`

[2022-02-02 14:23] Stuart-Moore commented on #8109
That looks like something that should have been an internal comment has gone public. Under the hood we use $WithReplace to turn off some of the file checking, which is needed in this case. But with Continue it doesn't remove the db.

I'll fix the CBH up to make it less confusing

[2022-02-02 21:49] #8109 closed

[2022-02-02 22:00] wsmelton commented on #8120
I would recommend this be added as an input object to pass advanced parameters to the Backup call. In place of us having to add all the possible parameters the command accepts to this AG command.

[code]

Each call to `Backup-DbaDatabase` would adding that splatted object: `@AdvancedBackupParams`

https://github.com/dataplat/dbatools/blob/bbccbfb77b376c684c5f5a23350f9f7dd5608311/functions/Add-DbaA

[2022-02-03 06:32] techvslife commented on #8014
fyi, the new dacpac release is available here:
(https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-download?view=sql-server-ver15)

However installing the new version did not solve the dbatools "strong-name signing" error.

[2022-02-03 08:51] andreasjordan commented on #8120
Good idea, will put that on my to do list...

[2022-02-03 08:55] ALZDBA opened #8133 "add the attribute "IsUnique" to Find-DbaDbDuplicateIndex"
### Summarize Functionality

Can you please add the attribute "IsUnique" to Find-DbaDbDuplicateIndex ? ( not as a comparison criteria, but as metadata. I've noticed on our db, people have dropped indexes blindly picking one of the reported ones. Dropping a unique index has its implications to the data model !
[DBATools - Find-DbaDbDuplicateIndex - IsUnique.ps1.txt](https://github.com/dataplat/dbat

[2022-02-03 09:00] potatoqualitee commented on #8014
Thanks, @techvslife. There's nothing within our toolset that uses or requires strong name signing. It's something with SMO or sqlpackage. Unless you replaced the DLLs in your copy of dbatools, your external installation would not have an impact. I'll take a look when I get a moment, perhaps I can update SMO while I'm at it too.

Chrissy

[2022-02-03 11:41] andreasjordan commented on #8114
A fix is one its way...

[2022-02-03 12:22] andreasjordan commented on #8120
I had some spare minutes...

[2022-02-03 16:25] andreasjordan commented on #8133
Thanks for the Feature Request - as you've already provides the code, I just opened a pull request for that.

[2022-02-03 16:32] andreasjordan commented on #8118
Can you run the command with -Verbose to see where the execption is thrown?

[2022-02-03 16:36] awickham10 commented on #8118
![image](https://user-images.githubusercontent.com/7840633/152386394-1067f03e-8a55-49b5-abc8-54123a182610.png)

[2022-02-03 16:43] andreasjordan commented on #8118
I think we should add a try-catch to Convert-SIDToUserName.

But can you try to use `$ErrorActionPreference = 'Continue'`? Maybe that helps - I can not test that at the moment.

[2022-02-03 16:51] andreasjordan commented on #8116
This is a bit tricky. We connect to the instance using Connect-DbaInstance and then use Get-DbaTcpPort to get the port. The full name goes to Connect-DbaInstance, but the returned Server SMO only knows the short name. So Get-DbaTcpPort can only open a new TCP connection using the short name.

Can you use Get-DbaTcpPort with the full name to get the port information?

[2022-02-03 16:54] andreasjordan commented on #8116
As Get-DbaTcpPort opens a new connection anyway, we should call the command with $instance instead of $server. Will open a pull request for that.

[2022-02-03 16:56] MikeyBronowski opened #8137 "Set-DbaAgentAlert - renames an alert even with Whatif"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error, Alert was renamed when it shouldn't have been.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Similar to #8066

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe), Windows PowerShell ISE (powershell_

[2022-02-03 17:12] awickham10 commented on #8118
No change in behavior when changing ErrorActionPreference. I moved ```Convert-SIDToUserName``` to a try/catch and that does fire off the catch block, and then outputs the expected results.

[2022-02-03 17:14] andreasjordan commented on #8118
What should we do in the catch block? Use Write-Warning or silently ignore?

[2022-02-03 17:26] awickham10 commented on #8118
What do you think about adding SID to the output object, excluding unresolvable SIDs by default but warning (to maintain backwards compatibility), and then having an IncludeOrphanedSids switch that would include them in the output with a null User property?

i.e.
[code]

[code]

[2022-02-03 17:39] andreasjordan commented on #8059
I will open a pull request for that. But I will only add DefaultEx and not change the code for Default to avoid a breaking change.

[2022-02-03 17:41] MikeyBronowski opened #8140 "Set-DbaAgentJobStep - renames a step even with Whatif"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error, Alert was renamed when it shouldn't have been.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Similar to #8066, #8137

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe), Windows PowerShell ISE (powe

[2022-02-03 17:44] andreasjordan commented on #8118
Sounds good to me.

[2022-02-04 09:33] #8114 closed

[2022-02-04 09:34] #8120 closed

[2022-02-04 09:35] #8133 closed

[2022-02-04 09:36] #8116 closed

[2022-02-04 09:42] #8140 closed

[2022-02-04 09:43] #8137 closed

[2022-02-05 02:46] drstonephd commented on #8059
This will still leave an issue if a string value for a date is passed as a default to a datetime.  We can add extra quotes as a work around.  For example, '''2030-01-01'''.  It will be confusing because the extra quotes are not needed for string types and needed for non-string types.

There is a more serious issue than just an error.  The SMO create call will create the table even if it fails to c

[2022-02-06 11:38] andreasjordan commented on #8059
Ok, before I open a new PR, let's talk about what it should include.

First of all, I don't see much use cases for this command. What is the value in building an array of hashtables opposed to just run a "CREATE TABLE ..." with all I need in one query? This said, I don't what to put too much time in there...

To not have a breaking change, I would not touch the code for "Default".

I added "Defaul

[2022-02-06 11:52] potatoqualitee commented on #7864
Reading through this suggests that a whole lot more is going on than our compression command. @utirpan are you loading Microsoft's `SqlServer` or `SQLPS` module in the same session? Does the problem happen when you `Get-process *powershe* | Stop-Process` then starting it again via `powershell -noprofile`?

I was thinking perhaps it was a .NET issue but your .NET exceeds requirements

[code]

Can y

[2022-02-06 12:08] potatoqualitee commented on #8059
I agree about `DefaultExpression` and prefer that one, and I like the extra attempt at the end 💯

[2022-02-06 15:56] andreasjordan commented on #8059
Neither `.Dop()` nor `.DropIfExists()` work as expected. I think this is another problem inside of the SMO...

So I will have to test if table exists at the beginning (to prevent dropping an existing table) and then try to use Remove-DbaDbTable at the end...

So should I just rename "DefaultEx" to "DefaultExpression"? Or add "DefaultExpression"?

[2022-02-06 16:42] andreasjordan commented on #8059
Ok, PR is open, please have a look at #8150.

[2022-02-06 16:52] andreasjordan commented on #8060
Sorry, I can not reproduce the issue. @potatoqualitee can you have a look?

[2022-02-06 17:00] andreasjordan commented on #8054
You can not repro the issue like that. The warning you are getting is really only a warning followed by a return:
https://github.com/dataplat/dbatools/blob/f9f49af365b8a79256bde3633988f1d8c6195423/functions/Restore-DbaDatabase.ps1#L674-L677

What is the text of the warning you are getting in your original issue? Then we can have a look at that part of the code.

[2022-02-06 17:15] tomaustin700 commented on #8054
@andreasjordan Hi, this is the error we are seeing
[code]

[2022-02-07 09:54] #8110 closed

[2022-02-07 10:16] andreasjordan commented on #8118
Will you open a pull request for that?

[2022-02-07 10:26] andreasjordan commented on #8054
So here it failes:
https://github.com/dataplat/dbatools/blob/b052b92c84a5cc13c821cb8fa266f8fd4295407a/functions/Invoke-DbaAdvancedRestore.ps1#L371-L377

This command is called here using EnableException:
https://github.com/dataplat/dbatools/blob/b052b92c84a5cc13c821cb8fa266f8fd4295407a/functions/Restore-DbaDatabase.ps1#L741-L745

So I don't see any reason why there is no Exception raised.

[2022-02-07 10:31] andreasjordan commented on #8054
Maybe you can test the property ExitError of the returned object as a workaround? It should hold the error message.

[2022-02-07 10:31] andreasjordan commented on #8054
Maybe @Stuart-Moore can help?

[2022-02-07 11:34] #7864 closed

[2022-02-07 16:50] andreasjordan opened #8152 "Exception text is wrong"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [17:44:41][Invoke-DbaQuery] [sql01] Failed during execution | Error connecting to [sql01]: Invalid object name 'xyz'.

The issue is, that the part "Error connecting to [sql01]: " should not be added - as this is not a connection error. There are other commands that show the same behavior - this one is just t

[2022-02-07 17:02] andreasjordan commented on #8152
Ok, @FriedrichWeinmann - sorry to mention you, just found the root cause and will open a PR with the solution.

[2022-02-07 17:45] andreasjordan commented on #8054
I played a little bit with the code - but I can not reproduce the issue. Invoke-DbaAdvancedRestore is always throwing an exception if I do an impossible restore.

Just to be sure: What is your current version of dbatools?

Are you getting any other commands to throw an exception? Like `Invoke-DbaQuery -SqlInstance sql01 -Query "SELECT * FROM xyz" -EnableException` with a correct SqlInstance but a

[2022-02-07 18:58] Read20 opened #8155 "Invoke-DbaDbLogShipping -CompressBackup doesn't work"
### Verified issue does not already exist?

Yes

### What error did you receive?

There is no error that occurs.  When using Invoke-DbaDbLogShipping and setting the -CompressBackup parameter to true, it doesn't actually apply the setting.  Below is the verbose output.  You can see the compress backup setting is being set to 1 but the SQL query that is executed doesn't include "@backup_compression

[2022-02-07 19:13] andreasjordan commented on #8155
Thanks for reporting this - fix is on its way...

[2022-02-07 23:27] techvslife commented on #8014
@potatoqualitee, Thank you. I checked the dlls packaged in the new version of dacpac (I mean in the .net core zip file also downloadable from the same site:
https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-download?view=sql-server-ver15
),
but it I didn't see any obvious way to upgrade the files used by dbatools to the new version.

Ditto for the new smo files here:
https://www.nug

[2022-02-08 09:00] tomaustin700 commented on #8054
Hi @andreasjordan
Dba tools version is `1.0.153 `. Running the `Invoke-DbaQuery` you gave does produce an error so that's all good. The problem we have is the restore deadlock error is happening very intermittently (one/twice a month) so it can be hard to do any further debugging with it as we don't know when it's going to happen.

[2022-02-08 09:03] andreasjordan commented on #8054
Sorry, to say - your version is very old. If you still have problems with the current version I can have a deeper look.

[2022-02-08 16:09] lowlydba opened #8158 "Invoke-DbaQuery: Support 'NOEXEC' mode"
### Summarize Functionality

Add functionality to Invoke-DbaQuery to prefix the query supplied with [`NOEXEC`](https://docs.microsoft.com/en-us/sql/t-sql/statements/set-noexec-transact-sql?view=sql-server-ver15). This would allow the command to be used for parsing/compiling error checking, and help to round out the lack of `WhatIf` capabilities like most other commands have.

Full disclosure, I'm

[2022-02-08 16:44] lowlydba commented on #8104
I won't have time soon to work on this, so if anyone else wants to pick it up, feel free to 🙏🏻

[2022-02-08 18:10] niphlod commented on #8158
hum, interesting angle.
note to remember: we execute batches, so the dance of noexec must be done for each batch.
as for how much this is going to be useful .... I get that you can "discover" errors earlier but the point of -WhatIf (on PS's side) and -DryRun on a query you don't execute misses my brain by a lot ....
Given that I can somehow see how the NOEXEC dance can be useful for "pre-elaborati

[2022-02-08 18:49] lowlydba commented on #8158
...

I think there are two angles: being able to WhatIf (either literally or effectively) the function and the query.

1. For the function, NOEXEC could be implemented via WhatIf and allow for some of the same benefits for other functions by allowing you to run the command safely and "pre-elaborate" errors:
  - Is my SqlInstance valid?
  - Does the database exist on the host?
  - Is the database a

[2022-02-08 19:18] andreasjordan commented on #8104
We can not use an alias as a ComputerName 'sql01' is now "get all instances on sql01", SqlInstance 'sql01' has to be "get only the default instance on sql01".
But have look at the linked pull request and give feedback.

[2022-02-09 02:29] mattcargile commented on #7789
I just got the same issue when running on Windows Server 2016 over PSRemoting

[code]

I'm piping `Get-ChildItem` output into `Read-DbaXEFile`. Server is on `.NET Framework 4.7.3468.0`.

[2022-02-09 08:49] potatoqualitee commented on #7789
That's such a good command, it does everything so nicely. But I'm so limited on my DLL knowledge. @mattcargile can you open a new session, load ONLY the latest version of Microsoft's `SqlServer` module, try it there and let me know if it works? If not, then I can file an issue on their GitHub

[2022-02-09 08:49] potatoqualitee commented on #7789
Sorry to be clear, let me know if `Read-SqlXEvent -FileName $filename` works without dbatools

[2022-02-09 15:47] wsmelton commented on #7789
You will need to install .NET 4.6 for it likely work.

[2022-02-09 16:13] potatoqualitee commented on #7789
They are already on  `4.7.3468.0` -- doesn't that encompass 4.6? if not, horror show lol

[2022-02-09 16:43] #8104 closed

[2022-02-09 16:48] #8152 closed

[2022-02-09 17:11] andreasjordan commented on #8094
The corresponding SMO property is TargetRecoveryTime:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.management.smo.database.targetrecoverytime

So there is no problem implementing this, I can open a pull request for that.
I would NOT add a switch to disable it, so it would be done always like changing the compatibility level.

But what do the others think? Are there votes against

[2022-02-09 18:10] wsmelton commented on #7789
No, major versions are not backward compatible in .NET.

[2022-02-09 22:24] mattcargile commented on #7789
I was also using `Invoke-Command -AsJob` as well as `Start-Job` while over a `PSSession`. I was able to get it to work by calling my code interactively within a `PSSession`. I even switched servers to use `Windows 2012 R2 Standard` which is also on `.NET Framework 4.7.3890.0`. The main difference is running interactively and the Windows Server versions. I was also switch between my local powershel

[2022-02-10 18:39] tkwj opened #8163 "Update-DbaServiceAccount with piped in Get-DbaService output from a named instance fails to update Engine"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

In running this on a server with Agent and Engine. Agent worked but Engine fails to update.
This is broken since version 1.1.47 I believe this issue relates to #8030.
I suspect this section:
https://gi

[2022-02-11 06:18] andreasjordan commented on #8163
Thanks for reporting this and thats for the analysis - that helps a lot. I will try to provide a fix for that today.

[2022-02-11 06:28] nvarscar commented on #8094
I agree that the main purpose of this command is to fix all the leftover legacy settings, so this should be also included. As far SMO vs TSQL, the former is always preferred to adhoc sql code.

[2022-02-11 08:51] andreasjordan commented on #8094
Ok, I started to code that, feedback on the pull request is welcome.

[2022-02-11 10:52] asterix67 opened #8168 "PowerShell Studio and DBATools"
### Verified issue does not already exist?

No

### What error did you receive?

There is the debug :

DEBUG: [11:00:02][Register-DbaRunspace] Registering runspace: dbatools-logging
DEBUG: [11:00:02][Start-DbaRunspace] Starting runspace: dbatools-logging
DEBUG: [11:00:03][Register-DbaRunspace] Registering runspace: dbatools-teppasynccache
DEBUG: [11:00:03][Start-DbaRunspace] Starting runspace: dba

[2022-02-11 11:42] andreasjordan commented on #8168
@asterix67 As it works outside of PowerShell Studio - maybe you also ask Sapien for help?

[2022-02-11 12:33] asterix67 commented on #8168
If you tried with the DBATools version 1.1.8, it's work in PowerShell Studio.
Since version 1.1.9, it doesn't work.

[2022-02-11 12:41] andreasjordan commented on #8168
There are only two changes in 1.1.9:
* #7677
* #7678

@potatoqualitee - do you see a connection to this issue?

[2022-02-11 15:58] wsmelton commented on #8168
PS Studio has it's own host within the tool (just like VS Code does). Only a few folks on the project I think still use that tool to debug it.

[2022-02-11 16:08] lowlydba opened #8170 "Set-DbaResourceGovernor incorrect param name"
### Verified issue does not already exist?

Yes

### What error did you receive?

Set-DBaResourceGovernor uses 'Credential' instead of 'SqlCredential':

https://github.com/dataplat/dbatools/blob/0fa687769467977507470edf3d37c739696a5f90/functions/Set-DbaResourceGovernor.ps1#L15-L16

### Steps to Reproduce

N/A

### Are you running the latest release?

_No response_

### Other details or mentions

_

[2022-02-11 20:21] SelectDBA opened #8173 "Copy-DbaAgentJob fails against SSAS job steps as it can't find the database on the destination"
### Verified issue does not already exist?

Yes

### What error did you receive?

"Job is dependent on database: <lists SSAS DBs>".  The databases exist on the destination, so it looks like the function is looking for database engine databases, and not SSAS databases.

### Steps to Reproduce

Setup a job with a job step of type "SQL Server Analysis Services Query", point it at a local database, an

[2022-02-13 02:22] potatoqualitee commented on #8091
lol ty

[2022-02-14 07:23] asterix67 commented on #8168
Ok.
I'll write SAPIEN.
Thank you.

[2022-02-15 09:20] #8173 closed

[2022-02-15 09:21] #8163 closed

[2022-02-15 09:22] #8170 closed

[2022-02-15 10:06] asterix67 commented on #8168
Hello,

I wrote to SAPIEN.

Here, them message :
`The error message comes from the module, not from PowerShell Studio or PowerShell itself.

We are not limiting or modifying any data structures or sizes within the module. We never modify anything in any module,
so you will need to contact the vendor of the module about this.

I only pointed out to try the previous version because I remembered that

[2022-02-15 10:34] andreasjordan commented on #8168
I don't have PowerShell Studio. So I can not reproduce the issue. So I can not analyse the problem. So I can not provide a fix.

We release very often, so there are sometimes only small changes. If you can tell us exactly what version is the last that works and the first that does not work - we might have a chance to identify the problem.

Please have a look at the branch of #8169 - if you are abl

[2022-02-15 10:52] asterix67 commented on #8168
Thank you.

I give you the versions and the debug (in both version) in the branch of [#8169](https://github.com/dataplat/dbatools/pull/8169).

[2022-02-15 13:09] wsmelton commented on #8168
@FriedrichWeinmann lived in PS Studio at one point and authored most of his work in the module from it.

He is only one I know that may still be using it @potatoqualitee

[2022-02-15 16:10] lowlydba opened #8178 "Add-DbaAgReplica doesn't add req 'NT AUTHORITY\SYSTEM' perms"
### Verified issue does not already exist?

Yes

### What error did you receive?

When creating a new AG, `New-DbaAvailabilityGroup` handles adding the necessary `NT AUTHORITY\SYSTEM` permissions for both the primary and all secondary replicas:

https://github.com/dataplat/dbatools/blob/afc87cb27e21fd08c30c847a9e64718672d7317a/functions/New-DbaAvailabilityGroup.ps1#L548-L557

But `Add-DbaAgReplica

[2022-02-15 16:18] lowlydba commented on #8178
I can do a quick PR if copying and pasting the permissioning from the other function is acceptable.

[2022-02-15 16:29] andreasjordan commented on #8178
Let me have a look...

[2022-02-15 16:46] andreasjordan commented on #8178
I would be ok to add the parameter to Add-DbaAgReplica with the same definition as in New-DbaAvailabilityGroup:
[code]

[2022-02-15 16:48] andreasjordan commented on #8178
And please have a second look at New-DbaAvailabilityGroup - are there more parts that need to be moved to Add-DbaAgReplica?

[2022-02-15 16:59] lowlydba commented on #8178
That does seem ideal 👍🏻 . Defaulting to WSFC sounds good.

Will do. I think everything else that is necessary is good - this was born out of some issues we had in a DR exercise and the only issue of its kind, so I'm fairly confident everything else split correctly between the two.

[2022-02-15 16:59] andreasjordan commented on #8178
Setting the grant for SeedingMode Automatic could be another issue. This is also set in New-DbaAvailabilityGroup, not in Add-DbaAgReplica. But in case Add-DbaAgDatabase is used this is no problem as this grant is set there. It would only be a problem if a user adds a replica and then adds a database with T-SQL.

[2022-02-15 17:15] ajansveld opened #8179 "Invoke-DbaQuery segfaults on Linux with PowerShell 7.2 when using Kerberos auth"
### Verified issue does not already exist?

Yes

### What error did you receive?

Segmentation fault (core dumped)
EXIT STATUS 139

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

This is a known issue: https://github.com/dotnet/SqlClient/issues/1390.
It was fixed in Microsoft.Data.SqlClient v4.0.1, can we upgrade the bundled package to

[2022-02-15 17:28] lowlydba commented on #8178
Seems like all three have it and do it differently:

https://github.com/dataplat/dbatools/blob/afc87cb27e21fd08c30c847a9e64718672d7317a/functions/New-DbaAvailabilityGroup.ps1#L627-L634

https://github.com/dataplat/dbatools/blob/4e6a64689fa2935feff323019f3d1ef462f30d7d/functions/Add-DbaAgDatabase.ps1#L270-L274

https://github.com/dataplat/dbatools/blob/4e6a64689fa2935feff323019f3d1ef462f30d7d/funct

[2022-02-15 19:07] andreasjordan commented on #8178
As we try to use SMO whenever possible, `.GrantAvailabilityGroupCreateDatabasePrivilege($AvailabilityGroup)` should be the way (that was my last change).

I think `Grant-DbaAgPermission` has at least one issue: Search for $perm in the code...

If you have time to open a pull request I'll be happy to review it. Otherwise I will try to find some time later this week.

[2022-02-15 19:08] andreasjordan commented on #8178
Maybe we address one issue at a time, so maybe just start with the original NT AUTHORITY\SYSTEM issue...

[2022-02-16 09:21] andreasjordan commented on #8168
User feedback is mostly in the linked pull request, but I would like to summarize here.

Root cause was the combination of #7677 and the user script that used `[Reflection.Assembly]::LoadWithPartialName("Microsoft.SqlServer.Smo") | Out-Null` to load "C:\Windows\Microsoft.Net\assembly\GAC_MSIL\Microsoft.SqlServer.Smo\v4.0_15.0.0.0__89845dcd8080cc91\Microsoft.SqlServer.Smo.dll" before importing dbat

[2022-02-16 09:29] potatoqualitee commented on #8168
excellent writeup! the check could be added to the psm1 so that it happens just once. we already do a check for sqlps there and can add it around that area.

[2022-02-16 11:08] asterix67 commented on #8168
Ok.
Thank you for your help.
I think I can close this issue

[2022-02-16 11:48] wsmelton commented on #8168
We should be explicitly loading that DLLs from our path.

That should then on import cause an error if sqlps or sqlserver module already loaded it.

[2022-02-19 16:18] lancasteradam opened #8183 "Add DatabaseID to the return object for relevant commands"
### Summarize Functionality

As noted in #8053 if the database name has been changed it can cause matching issues when comparing historical data.

For this feature request the goal is to identify which other commands would benefit from adding the DatabaseID to the return object. For example, the Get-DbaDb* commands.

### Is there a command that is similiar or close to what you are looking for?

No

[2022-02-20 11:42] #8178 closed

[2022-02-20 11:47] #8053 closed

[2022-02-20 11:48] #8094 closed

[2022-02-20 23:19] mattcargile opened #8186 "Invoke-DbaQuery - `$null` Handling When `$Err` Defined In Session"
### Verified issue does not already exist?

Yes

### What error did you receive?

Output from `$error[0] | select *`
[code]

Output from `$error[0].exception.innerexception.errorrecord | select *`

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

Maybe the below line could be moved into the `catch` block above?

https://github.com

[2022-02-21 07:13] andreasjordan opened #8187 "Find-DbaInstance - Add SqlInstance to default output"
### Summarize Functionality

Add SqlInstance to default output.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2022-02-21 10:28] andreasjordan commented on #8186
Thanks for the bug report, initialization of $Err was missing. Opened a pull requst for that.

[2022-02-21 11:00] #8186 closed

[2022-02-21 11:03] #8187 closed

[2022-02-21 15:10] tomaustin700 commented on #8054
Hi @andreasjordan, we've updated to the latest version of dbatools and unfortunately we are still seeing the same issue.

[2022-02-21 16:07] andreasjordan commented on #8054
Thanks, will try to come up with more ideas how to analyse this.

[2022-02-21 16:10] mattcargile commented on #7707
Still a bug. Parameter should be removed.

[2022-02-21 17:16] markallisongit opened #8190 "New-DbaCredential should support no passwords"
### Summarize Functionality

The best way to back up a Managed Instance database to blob storage is to use a Managed Identity. In T-SQL this is achieved with:

[code]
The backup to URL then works with something like:

[code]

It would be great if `New-DbaCredential` could support this functionality.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical D

[2022-02-21 17:27] andreasjordan commented on #8190
Thanks for the feature request. Let me copy and adopt some code from the command to see if it really works like it should:

[code]

Please try that and see if the credential is created.

@ClaudioESSilva - If you work on this: There is a bug in line 153: $Identity must be changed to $cred

[2022-02-21 17:29] andreasjordan commented on #8190
More issues: $Name is declared as an array, but is used in line 132 as `$currentCred = $server.Credentials[$Name]`.

[2022-02-21 17:31] andreasjordan commented on #8190
`$currentCred.Drop()` in line 138 should be put inside a $Pscmdlet.ShouldProcess() to support -WhatIf.

[2022-02-21 23:11] ClaudioESSilva commented on #8190
@andreasjordan thanks for pointing out those problems.

I have fixed

and

regarding

It's not clear to me why we are using an array (same for $Identity) and not a single value.
By default, in case we don't pass the `-Name` it will assume the `-Identity` value which is ok for me.

Probably putting it as a single value and not an array would be better, but will we break someone's code? 😟

I have al

[2022-02-22 08:07] niphlod commented on #8158
sorry if it's taking a bit, I'm trying different variations. We'll go for a new switch separate from -Confirm -Whatif because they pop up in the Verbose output and it's not going to be a tight fit with the Verbose output of this command which has a special behaviour different from any other function.

[2022-02-22 16:22] JDA65 opened #8192 "Add-DbaAGDatabase - Restores in the default locations"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.InvalidOperationException: Cannot force the member with name "PSStandardMembers" and type "MemberSet" to be added. A member with that name and type already exists, and the existing
                        member is not an instance extension.
TargetObject

[2022-02-22 17:17] andreasjordan commented on #8192
Does the command throw an error? The Verbose output looks like everything works fine...

Or do you just complain about the "wrong" location of the database files after the restore? That is "by design" as we only use `$backups | Restore-DbaDatabase -SqlInstance $replicaServerSMO[$replicaName] -NoRecovery -TrustDbBackupHistory -EnableException`.

But as we introduced the parameter -AdvancedBackupPar

[2022-02-22 17:37] JDA65 commented on #8192
Thanks for the quick response

After posting the perceived issue, I change the SeedMode to Auto and it worked as expected. The database went to the same path as where the backup was created.

I was always under impression that that when you placed a database in the AG Group (Always On) that it had to replicate the folder structure. At least if you use SMSS to add a database to the AG, it will bark

[2022-02-22 17:51] SQLDBAWithABeard opened #8193 "Consistency on credential parameter name on multiple commands"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error really.
Writing the demo code for the SQLBits Training Day and we are using `PSDefaultParameters`. I had set one for the `DestinationSqlCredential` parameter but then got a failure with  `Test-DbaLastBackup`.

Checking the code it looks like
- `Test-DbaLastBackup`
- `Remove-DbaDatabaseSafely `
- ~~`Invoke-Db

[2022-02-23 00:49] wsmelton commented on #8193
Test-DbaLastBackup

https://github.com/dataplat/dbatools/blob/b00a92ff78d32a8d3f2731462d0bdd16302bc3e1/functions/Test-DbaLastBackup.ps1#L268

Remove-DbaDatabaseSafely

https://github.com/dataplat/dbatools/blob/b00a92ff78d32a8d3f2731462d0bdd16302bc3e1/functions/Remove-DbaDatabaseSafely.ps1#L164

Invoke-DbaDbLogShipping

This would stay as-is because it is being used for calling `Invoke-Command2` un

[2022-02-23 09:38] SQLDBAWithABeard commented on #8193
Thank you for checking those, excellent spot on the logshippnig command.

[2022-02-23 20:25] wsuhoey opened #8195 "Import-Module 1.1.73 fails with Assembly with same name is already loaded. Microsoft.SqlServer.XE.Core.dll"
### Verified issue does not already exist?

Yes

### What error did you receive?

Could not import C:\Program
     | Files\WindowsPowerShell\Modules\dbatools\1.1.73\bin\smo\coreclr\Microsoft.SqlServer.XE.Core.dll

**********************
PowerShell transcript start
Start time: 20220223113713
Username: OBERTO\sqlsvcdev
RunAs User: OBERTO\sqlsvcdev
Configuration Name:
Machine: KED-SQL01 (Microsoft Wi

[2022-02-23 21:42] wsuhoey commented on #8195
Some additional information.
I tried rolling back to an older version that I know works in Production, 1.1.21.
Curiously, I still get the error on that older version in my Dev environment (where this error is happening).
Two things I can think of, the Dev environment has PS 7.2.1, and the Test and Prod environments are on PS 7.1.3 and PS 7.1.4, respectively.

So maybe it's a PS 7.2.1 issue?

[2022-02-23 23:05] wsuhoey commented on #8195
I've tried to uninstall PS 7.2.1 on the affected server, downgrading to PS 7.2.0, then 7.1.5, then 7.1.4 (which Prod uses) and the error still persists. I'm not sure how else to troubleshoot this :(

[2022-02-23 23:08] wsuhoey commented on #8195
On a related note, after downgrading to 7.1.4 (probably also was in 7.1.5 but I didn't check), the .NET framework seems to now be:
`.NET 5.0.9`

[2022-02-23 23:16] wsuhoey commented on #8195
Another strange point of interest... when I do `Import-Module dbatools` myself in an RDP session, it imports fine. So perhaps it's something to do with the Agent Job and Service Account?

[2022-02-23 23:54] wsuhoey commented on #8195
I decided to add the below commands to the `Test Import-Module dbatools.ps1` file before the `Import-Module`:

[code]

[2022-02-24 11:10] #8158 closed

[2022-02-24 18:28] wsuhoey commented on #8195
I had to downgrade dbatools to 1.0.114 (a version I know that works in other environment) and I don't get that error from agent job :(

[2022-02-24 18:29] wsuhoey commented on #8195
So any ideas why it's trying to load the \bin\smo\coreclr\Microsoft.SqlServer.XE.Core.dl 3 times?

[2022-02-25 00:39] mattcargile commented on #8195
I get this too with the below.

[code]

#### Config
Windows Server 2012 R2
dbatools 1.1.74
pwsh.exe 7.1.4

[2022-02-25 17:34] wondisha commented on #7428
WARNING: [11:29:28][Get-DbaRepDistributor] All replication commands need SQL Server Management Studio installed and are therefore currently not supported.
WARNING: [11:29:28][Get-DbaRepDistributor] Could not load replication libraries

does this mean I have to run being on server where replication is configured?

[2022-02-25 17:38] andreasjordan commented on #7428
No, just on an server where SQL Server Management Studio is installed.

[2022-02-25 17:46] wondisha commented on #7428
So what are those errors,I did run it on two machines where SSMS is already installed

[2022-02-25 17:48] andreasjordan commented on #7428
Which version of SSMS is installed? Let me quote my original statement: "But Replication.dll has dependencies and need Microsoft.SqlServer.Smo.dll with Version=14.0.0.0, but we now ship version 15 with dbatools. Version 14 is only installed if SSMS 17 is installed on the system." So you need SSMS 17 to have the needed dll.

[2022-02-25 17:52] wondisha commented on #7428
SSMS 18

[2022-02-25 17:54] andreasjordan commented on #7428
So you need to install SSMS 17...

[2022-02-25 17:58] GithubPGA opened #8202 "Import-DbaCsv -AutoCreateTable not create Nvarchar but varchar"
### Verified issue does not already exist?

Yes

### What error did you receive?

Hi Team,
When i use Import-DbaCsv -AutoCreateTable , table are created with varchar data type instead of Nvarchar.
in the file from Github "import-dbacsv.ps1"
/Import-DbaCsv.ps1dbatools/Import-DbaCsv.ps1 at development · dataplat/dbatools

Line 359 : $sqldatatypes += "[$column] varchar(MAX)"

could you update with Nv

[2022-02-25 18:12] andreasjordan commented on #8192
@potatoqualitee - What do you think: Should we also add `-AdvancedRestoreParams` and an example on how to reuse the source folder structure? Or should we change the command to always use `-ReuseSourceFolderStructure` when restoring? The later would change the behavoir, but for a typical AG, having the same folder structure on all replicas is best practice (I think).

[2022-02-25 18:17] potatoqualitee commented on #8192
I soooo want to say the second one (all of my test AGs had the same folder structures), but I'm concerned it'd be such a big deviation. @niphlod @jpomfret @wsmelton what do you all think?

[2022-02-25 18:22] JDA65 commented on #8192
Food for thought here:
Using the Seeding: Automatic is does use the folder structure.
But the Seeding: Manual where it does the backup/restore is does not do it.

I would think that either method should produce the same end result.

[2022-02-25 18:25] potatoqualitee commented on #8192
i do like that there's a precedent 👌🏼  im leaning heavy yes now

[2022-02-25 18:25] andreasjordan commented on #8192
And as you mentioned the SSMS wizard would do the same. It's only our restore command that defaults NOT to reuse the folder structure but place the files in the default location. The "normal" RESTORE DATABASE T-SQL defaults to reuse the folder structure as well.

[2022-02-25 18:28] potatoqualitee commented on #8192
ah great, okay, please implement if you would like 🙏🏼 . i often prefer doing it how SSMS does it unless we can make things more convenient.

[2022-02-25 18:29] andreasjordan commented on #8192
Ok, will open a pull request.

[2022-02-25 20:43] wsuhoey commented on #8195
Despite it saying trying to load from `C:\Program Files\WindowsPowerShell\Modules\dbatools\1.1.xx\bin\smo\coreclr\Microsoft.SqlServer.XE.Core.dll` ?

You're saying it loads it from `C:\Windows\Microsoft.NET\assembly\GAC_64\Microsoft.SqlServer.XE.Core\v4.0_14.0.0.0__89845dcd8080cc91\Microsoft.SqlServer.XE.Core.dll` first, then later again tries to load it from dbatools' packaged dll?

[2022-02-25 20:51] #8192 closed

[2022-02-25 21:16] mattcargile commented on #8195
That is my guess.

When I commented out the `XE.Core` from the `$names` variable in `libraryimport.ps1` for the `Core` `if` block . The import of the module was successful and the loaded assemblies, after the fact, showed that location. I'm assuming some other `.dll` that is loaded prior is auto loading the `XE.Core` somehow but only on Server builds of Windows.

My next steps, if I get to it, wou

[2022-02-26 13:45] andreasjordan commented on #8193
I personally would consider this a bug as the name of the parameter is "wrong". We don't have those rules written down, but "Destination", "Source" (and others) should always be just prefixes. And we use "Credential" to login to a computer (mostly via Invoke-Command2) and "SqlCredential" to login to a sql server instance. The user should be able to rely on it, even when some users will have to cha

[2022-02-26 14:10] SQLDBAWithABeard commented on #8193
How do you define two different Sql Credentials for two different instances though?

[2022-02-26 14:37] andreasjordan commented on #8193
I don't understand. Within the same command? Give me an example.

[2022-02-26 15:18] SQLDBAWithABeard commented on #8193
Something like this? Or any of the copy commands.

Test-DbaLastBackup -SourceSqlInstance sql1 -SourceSqlCredential $cred -DestinationSqlInatance sql2 -DestinationSqlCredential $cred2

[2022-02-26 15:21] andreasjordan commented on #8193
"SourceSqlCredential" and "DestinationSqlCredential" are totally ok. "Source" and "Destination" are the prefixes and "SqlCredential" tells us that it is used to login to the corresponding "(Source|Destination)SqlInstance".

[2022-02-26 16:45] SQLDBAWithABeard commented on #8193
I think we are on the same side 😉

[2022-02-26 19:17] CrazySwimmer opened #8205 "Get-DbaBackupInformation and Get-DbaDbBackupHistory return inconsistent values"
### Verified issue does not already exist?

Yes

### What error did you receive?

I noticed that the value of some properties are not standard to both functions. Below is a table summarizing what I get, with the obvious inconsistencies marked in **bold**.

| Property Name    | `Get-DbaBackupInformation` | `Get-DbaDbBackupHistory`
| :---              | :---: | :---: |
| InstanceName     | **always

[2022-02-27 10:15] jpomfret commented on #8192
Just catching up but makes sense to me - looks like a good improvement!

[2022-03-01 11:01] AndiM1976 opened #8206 "New-DbaAvailabilityGroup on German SQL Instance"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [11:53:02][New-DbaAvailabilityGroup] Failure adding cluster service account permissions | Error connecting to [vm-x\anwendung]: Suchen des Anmeldung-Objekts "NT AUTHORITY\SYSTEM" ist nicht möglich, weil das Objekt nicht vorhanden ist oder Sie nicht die erforderliche Berechtigung haben.
Suchen des Anmeldung-O

[2022-03-01 11:07] andreasjordan commented on #8206
Hi! Thanks for reporting this. Although I am from Germany, I unfortunately only have English systems in my lab. Will have a look soon and provide a fix for that.

[2022-03-01 11:51] AndiM1976 commented on #8206
@andreasjordan Two german Andreas working on the same issue ;-)

[2022-03-01 12:48] andreasjordan commented on #8206
Maybe we get name of system account with `(New-Object System.Security.Principal.SecurityIdentifier("S-1-5-18")).Translate([System.Security.Principal.NTAccount])`?

But what if the system running dbatools is german and the server running sql server is english? We will have to test...

[2022-03-01 13:19] andreasjordan commented on #8206
Are you on the latest version? We moved some of the security stuff around. Please update dbatools and try again. It will probably fail again, but just to be sure where to look...

[2022-03-01 16:24] andreasjordan commented on #8206
Hi @AndiM1976 can you test that code on your german system?

[code]

It only works if you already have the login [NT-AUTORITÄT\SYSTEM] but should find the login and grant the permissions.

To check the permissions:

[code]

[2022-03-01 21:47] alexgurman opened #8207 "Unable to specify SqlCredential"
### Verified issue does not already exist?

Yes, does NOT exist

### What error did you receive?

Export-DbaUser: Cannot process argument transformation on parameter 'SqlCredential'. userName

Full details:
PS C:\Program Files\PowerShell\7>  $error[0] | select *

PSMessageDetails      :
Exception             : System.Management.Automation.ParameterBindingArgumentTransformationException: Cannot pro

[2022-03-02 03:28] tboggiano opened #8208 "Test-DbaDbQueryStore excludes checking the msdb"
### Verified issue does not already exist?

Yes

### What error did you receive?

Returns a null array message if you try to check msdb.  BY defaults excludes all systems dbs but you can enable Query Store on the msdb via T-SQL not the GUI, so I think this function should be setup to allow checking the msdb.  When updated the other Query Store functions I include the msdb in the logic.

### Steps

[2022-03-02 08:09] AndiM1976 commented on #8206
Hi @andreasjordan ,
thanks for working on that.
Your Script don't throw an error. I think it should add an new login for NT AUTHORITY\SYSTEM. But it didn't.
new-dbaavailabiltiygroup shows the error from yesterday.

Any idea?

[2022-03-02 08:13] andreasjordan commented on #8206
New-DbaAvailabilityGroup will work until we ship the fix.

This script should not add the login - adding the login only works on english systems.

Let's do small steps: What's the output of `$server.EnumServerPermissions('NT-AUTORITÄT\SYSTEM') | Format-Table`?

[2022-03-02 08:29] andreasjordan commented on #8206
Better not reply by mail - I just deleted the last comment as it was only your mail footer...

[2022-03-02 08:45] AndiM1976 commented on #8206
@andreasjordan Please alter my instances with fake names.

[2022-03-02 08:49] andreasjordan commented on #8206
Ok, removed server names and not relevant error messages.

[2022-03-02 13:36] JDA65 opened #8209 "Backup-DbaDatabase"
### Verified issue does not already exist?

Yes

### What error did you receive?

Not really an error, but more function didn't work as expected based upon using Microsoft SQL Module.

WARNING: [08:27:11][Backup-DbaDatabase] Backup Failed | The target database, 'Columbus_Master', is participating in an availability group and is currently not accessible for queries. Either data movement is suspen
d

[2022-03-02 16:31] AndrewBuis opened #8210 "Copy-DBADbTableData - Ignore Computed Columns"
### Verified issue does not already exist?

Yes

### What error did you receive?

Currently, the Copy-DBADbTableData will attempt to copy all columns from the source table to the destination table. It doesn't work when the destination table contains a computed column. This will prevent any data from copying to the destination, giving a warning (not a error):
WARNING: [11:16:33][Copy-DbaDbTableData

[2022-03-02 16:33] niphlod commented on #8210
that's the same thing would happen for bulk load (which is what Copy-DbaDbTableData uses) so .... what would you expect ?

[2022-03-02 16:50] AndrewBuis commented on #8210
I know you can use the query parameter for it to use instead of the default "SELECT * FROM TestTable".
So instead, use something like this query as the default instead:
[code]

[2022-03-02 16:57] AndrewBuis commented on #8210
Or add that as a new option -IgnoreComputedColumns in order to not change legacy scripts.

[2022-03-02 17:04] niphlod commented on #8210
the problem is not on the source, but on the dest.
selecting from computed columns has no limits whatsoever, the problem is that inserting into them is not.
And, "legacy scripts" are definitely not to worry about, since this is a request for a new feature, not a bug.

[2022-03-02 17:06] tboggiano commented on #8208
I've actually got this coded already and can put in the PR if this is determined something we considered to be a bug.  I'm also trying to fix this because it is affecting a check that was written for dbachecks so I need to fix this to fix that or fix that in a different way.

[2022-03-02 17:18] niphlod commented on #8210
Adding that the same "feature" should reside also on Write-DbaDbTableData's side, which has the same underlying limits.
IMHO a better suited "please copy the data over the best you can, I dunno even what can be written" function should be created which can be written to accomodate this and any other subtle intricacies, accepting all the necessary performance penalties, of dealing with copying data

[2022-03-04 13:05] ACALVETT commented on #8207
Hi,

This is expected, the help states that PowerShell credentials are accepted. The PSCredential type has username and password properties but sqlCredential has userID and password properties and because of the mismatch you get the error.

You can use the following instead of get-credentials

`$secpasswd = ConvertTo-SecureString 'myFakePassword' -AsPlainText -Force
$mycreds = New-object -typename

[2022-03-04 13:15] abhishekrnair opened #8217 "dbatools not working in sql version 2014"
### Verified issue does not already exist?

Yes

### What error did you receive?

PS C:\Users\Administrator> Get-DbaDatabase -SqlInstance localhost
WARNING: [12:21:15][Get-DbaDatabase] Failure | Error connecting to [localhost]: Method not found: '!!0[] System.Array.Empty()'.

### Steps to Reproduce

[code]
Get-DbaDatabase -SqlInstance localhost

### Are you running the latest release?

_No respons

[2022-03-04 14:43] MWHeier opened #8218 "Get-DecryptedObject.ps1 internal function issue."
### Verified issue does not already exist?

Yes

### What error did you receive?

The SQL select command below returns multiple rows which match the thumbprint:

SELECT substring(crypt_property,9,len(crypt_property)-8) as smk FROM sys.key_encryptions WHERE key_id=102 and (thumbprint=0x03 or thumbprint=0x0300000001)

Our issue could have been caused by past migrations where the master database was

[2022-03-05 02:12] EklipZgit commented on #8014
I'm running into this as well where we're using PS 7.2 in our company environment. Running the command under 5.2 seems to work but would be nice if the dbatools module used the newer DacFx lib that doesn't have this issue

[2022-03-05 14:34] potatoqualitee commented on #8014
it'll be a lil bit before i can get back to this :/ tho im eager for a sollution as well. ping me in 2 weeks if i have not, please 🙇🏼

[2022-03-05 14:38] #8206 closed

[2022-03-07 16:35] ACALVETT commented on #8217
I see you get an error returning the .NET Framework Version as well which suggests a problem on your machine.

What do you get if you run.
[code]
Have you tried running the command from another host?

[2022-03-07 18:10] tboggiano commented on #1599
I'm going to try to start working through all the Availability Group tickets, I figure I would start with the oldest one.  Can you provide me more details on what you want to see from the history?

[2022-03-08 17:37] andreasjordan commented on #2190
I don't have a set of tests in mind - that's why I have not worked on that. I have started Test-DbaAvailabilityGroup in a way that "Test-" is like "Test if the AG is in correct status to do X" with X beeing "Adding a new database" as a starting point.

The other direction could be a general health status - so using the DMVs and the health columns to report problems like the dashboard in SSMS. But

[2022-03-08 17:48] andreasjordan commented on #8218
I can code that - no problem. But I would like to hear what the others say: @potatoqualitee ?

[2022-03-08 17:50] MWHeier commented on #8218
It appears regenerating the master key will resolve this issue but I will perform more testing. Very unlikely any change needs to be made but thank you in advance. Mark
________________________________
From: Andreas Jordan ***@***.***>
Sent: Tuesday, March 8, 2022 11:49:05 AM
To: dataplat/dbatools ***@***.***>
Cc: Heier, Mark ***@***.***>; Author ***@***.***>
Subject: Re: [EXT] [dataplat/dbatools]

[2022-03-08 17:52] andreasjordan commented on #8218
Just in case:

[code]

could be changed to

[code]

[2022-03-09 00:10] tboggiano commented on #2190
OK.  So, we could have a switches:

- AddDatabase
- HealthCheck
- ReadyToFailover
- ReadyToConfigure

is what I can see taking an initial look at ways I can see to use this command.  Don't know if those things should be in separate functions to keep it clearer or if we want it all in one function. The later would require the FailoverCluster PowerShell module though.  Some checks are in dbachecks f

[2022-03-09 01:12] tboggiano commented on #2610
I'd like to add DateLastModified to Get-DbaAgentJob to support the comparison of dates between jobs?

[2022-03-09 01:18] tboggiano commented on #2610
For comparing logins I would like to add the modifed date from sys.server_prinipals to Get-DbaLogin?

[2022-03-09 05:16] abhishekrnair commented on #8217
PSChildName                                                                          Version
-----------                                                                          -------
v2.0.50727                                                                           2.0.50727.4927
v3.0                                                                                 3.0.30729.4926
Windows Commun

[2022-03-09 08:07] #8208 closed

[2022-03-09 08:09] potatoqualitee commented on #8218
great solution, @andreasjordan !

[2022-03-09 12:01] potatoqualitee commented on #8217
Thank you for helping troubleshoot, @ACALVETT! There is indeed a dependency on .NET 4.6.2, as the newer versions of SMO have bug fixes and new features that we needed and the newer versions require .NET 4.6.2

This is described in https://github.com/dataplat/dbatools/releases/tag/v1.1.0

If you can't upgrade to .NET 4.6.2, you can still use the older version of dbatools we released on July 13, 202

[2022-03-09 12:03] potatoqualitee commented on #8217
Our manifest actually requires .NEt 4.6.2 but it seems it's not enforced :(

[code]

[2022-03-09 16:42] ACALVETT commented on #8209
Hi,

I recreated the problem using a secondary that is not readable.

The problem is caused by the fact dbaTools is retrieving the data & log file paths just before initiating the backup. The file paths are then used later in the backup verification process.

This is also going to be a problem if the database is not readable for any reason so i think a way to maintain this functionality would be t

[2022-03-09 17:17] ACALVETT commented on #8209
Actually i see there is a call to Get-DbaDbBackupHistory already and that also contains the required filelist in the necessary format so its a very small change to use it.

I will make the change and see what the dev team says

[2022-03-09 17:46] JDA65 commented on #8209
I don't understand why is this relevant to process?

When you create the AG Group - you can specified where backups happen by default. But all of by testing, I found that
the Backup-SqlDatabase command would work from either (Primary or Secondary servers).

In the backup command, we specify the server, database and backup file. What does history have to do with a new backup?

[2022-03-09 18:35] ACALVETT commented on #8209
Hi,

If you set verify to true there is a section of code that then calls a restore with appropriate parameters and one of those is the filelist so we need it but we need to change how we get it so as to avoid your error.  Get-DbaDbBackupHistory has the filelist and is already being called which is why i proposed using it.

[2022-03-10 18:21] packfan73 opened #8225 "Issue with Get-DbaDatabase -NoFullBackup and Compare-DbaCollationSensitiveObject"
### Verified issue does not already exist?

Yes

### What error did you receive?

Compare-DbaCollationSensitiveObject : Cannot bind argument to parameter 'Value' because it is null.
At C:\Program Files\WindowsPowerShell\Modules\dbatools\1.1.65\allcommands.ps1:22813 char:109
+ ... bject -Property Name -In -Value $lastCopyOnlyBackups.Database -Collat ...
+                                     ~~~~~~~

[2022-03-11 07:13] ACALVETT commented on #8225
I can reproduce on the latest build and it only occurs when there are no databases without a full backup which then leads to a null being passed to Compare-DbaCollationSensitiveObject.

This functionality was introduced recently in #7945 so we just need to decide on the best approach for null handling. @chightow Do you have any comments on this issue? I was thinking test for null before calling Co

[2022-03-11 16:28] ACALVETT commented on #8225
I think the simplest way to fix this is to make the value parameter of Compare-DbaCollationSensitiveObject not mandatory as it does not affect the output of the function.

[2022-03-12 16:07] #8209 closed

[2022-03-13 14:17] tkwj commented on #7824
This is a bit of both bug and feature request. I’ve experienced this several times and found a “broken” mail profile/account after migrations. As a workaround I’d typically run an Export-DbaCredential to get the cleartext passwords, and then enter them manually.
In a run of Start-SqlMigration with a basic authentication SMTP account, you end up with two credentials on the destination for every mai

[2022-03-13 20:35] lowlydba opened #8231 "Install-DbaMaintenanceSolution: SqlInstance returned as object instead of typical string"
### Verified issue does not already exist?

Yes

### What error did you receive?

This function returns non-standard output by returning the $instance object instead of just the instance name:

https://github.com/dataplat/dbatools/blob/99c7b57e27a1c029e68f2e0a310b33a892f54cb5/functions/Install-DbaMaintenanceSolution.ps1#L373-L378

Most functions just use

[code]

Happy to open a PR if this is an a

[2022-03-13 20:49] lowlydba opened #8232 "New-DbaAgentJob: Inconsistent result name with Set-DbaAgentJob"
### Verified issue does not already exist?

Yes

### What error did you receive?

New-DbaAgentJob returns the raw SMO object:

https://github.com/dataplat/dbatools/blob/7ba983930a8d955ac373afdfaea0b8fdc71a03a9/functions/New-DbaAgentJob.ps1#L412-L413

which includes `IsEnabled` as a property.

But Set/Get-DbaAgentJob uses a formatted version:

https://github.com/dataplat/dbatools/blob/7ba983930a8d9

[2022-03-14 06:25] abhishekrnair commented on #8217
I tried with version 1.0.173 - but still getting the same error

PS C:\Users\abhishek.nair> Get-Module

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.0.173    dbatools                            {Select-DbaObject, Set-DbatoolsConfig, Add-DbaAgDatabase, Add-DbaAgListener...}
Script

[2022-03-14 12:11] #8225 closed

[2022-03-14 12:13] potatoqualitee commented on #8217
Wow, interesting. Can you try from a brand new window and see if it's resolved in a new session, @abhishekrnair ? If so, then we'll dig deeper.

[2022-03-14 12:14] potatoqualitee commented on #7824
Sweet, i'd totally copy that password. Looking forward to that merge 👍🏼

[2022-03-14 16:56] #7824 closed

[2022-03-15 06:21] abhishekrnair commented on #8217
Tried that as well, still no luck @potatoqualitee

[2022-03-15 06:35] #8100 closed

[2022-03-15 06:36] #8231 closed

[2022-03-15 06:45] potatoqualitee commented on #8217
Mmm, I'm not sure I'll be able to assist as this is an issue that deals with DLLs and that's not my forte. It's not ideal but perhaps downgrade to something like 1.0.100 until someone with better library skills picks this up? @FriedrichWeinmann got any time to take a look, by chance? 🙇🏼

[2022-03-15 07:16] abhishekrnair commented on #8217
JFYI, I tried 1.0.100 and nothing changed

[2022-03-15 07:21] potatoqualitee commented on #8217
that's actually good news in a way, it points to a system issue (tho wait, it can be repro'd wth, maybe it's SMO?). can you go back to [0.9.834](https://www.powershellgallery.com/packages/dbatools/0.9.834) and see what happens?

[2022-03-15 08:53] abhishekrnair commented on #8217
PS C:\Users\abhishek.nair> Import-Module 'C:\Program Files\WindowsPowerShell\Modules\dbatools'
Get-Module

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.9.834    dbatools                            {Select-DbaObject, Set-DbatoolsConfig, Add-DbaAgDatabase, Add-DbaAgListener...}
Scrip

[2022-03-15 09:15] ACALVETT commented on #8217
Not sure where to take this but I could repo the original problem but I can not repo using 1.0.173

[2022-03-15 10:21] abhishekrnair commented on #8217
I am doing offline install - what is the procedure of removing module, is there anything additional steps other replacing the existing folder

[2022-03-15 12:15] ACALVETT opened #8240 "Set-DbaNetworkCertificate - Assign permissions to Service SID"
### Summarize Functionality

Currently permissions are being granted to the service account however a better approach i feel is to grant to the Sql Service SID as documented in technical details section.

Granting to the service SID will prevent loss of permissions should the service account change.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical D

[2022-03-15 14:38] wgshef commented on #8100
Using dbatools version 1.1.44

On Tue, Mar 15, 2022 at 2:35 AM Chrissy LeMaire ***@***.***>
wrote:

[2022-03-15 20:25] jemmiegod opened #8241 "AV software blocking dbatools import - flagging as malicious"
### Verified issue does not already exist?

Yes

### What error did you receive?

ParserError: C:\...\PowerShell\Modules\dbatools\1.1.80\allcommands.ps1:1
Line |
   1 |  ### DO NOT EDIT THIS FILE DIRECTLY ###
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | This script contains malicious content and has been blocked by your antivirus software.

### Steps to Reproduce

- Open a new PowerShell

[2022-03-15 21:42] ACALVETT commented on #8217
Replace folder should be enough, you can also do an import-module from another path which is something i do, eg

[code]

[2022-03-16 06:48] abhishekrnair commented on #8217
PS C:\Users\Administrator> Import-module C:\Temp\dbas\dbatools\dbaTools.psm1

PS C:\Users\Administrator> Get-Module

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     **0.0**        dbaTools                            {Select-DbaObject, Set-DbatoolsConfig, Add-DbaAgDatabase, Add-DbaAgList

[2022-03-16 18:33] salvbing opened #8244 "Update-DbaInstance Hang on setup.exe and remove temporary files"
### Verified issue does not already exist?

No

### What error did you receive?

$UpdateDbaInstanceSplat = @{
    Credential = $credential
    ComputerName = "$Target_ServerName"
    Path = "\\NetworkShare\AutoPatch"
    ExtractPath = "E:\TempUpdate"
    Version = "CU15"  }
Update-DbaInstance @UpdateDbaInstanceSplat -confirm:$true -Verbose -Restart
VERBOSE: [12:03:50][Invoke-Program] Starting proc

[2022-03-16 19:28] ACALVETT opened #8245 "Add-DbaComputerCertificate - Private key missing"
### Verified issue does not already exist?

Yes

### What error did you receive?

I ran Add-DbaComputerCertificate and when i checked the certificate the private key was missing. I deleted certificate and tried again but get the same issue.

Running certutil -repairstore my <thumbprint> fixes the problem and private key is created

### Steps to Reproduce

[code]

### Are you running the latest rel

[2022-03-17 23:13] SQLScott opened #8249 "Bug in Test-DbaMaxMemory with InstanceCount?"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error...see "Steps to reproduce" section.

### Steps to Reproduce

A few times now I have run the the Test-DbaMaxMemory cmdlet on some systems that have a single instance on them, but this cmdlet tells me I have 2 instances and recommends memory based on that. I dug into the code here in the repo, and I believe th

[2022-03-18 11:46] MURTAGH1974 commented on #6049
Tried this command this moring and i am getting the same referenced error

Copy-DbaSsisCatalog -Source $SourceServer -Destination $DestinationServer

WARNING: [11:40:40][Invoke-ProjectDeployment] Failed to deploy project. | Could not load file or assembly 'Microsoft.SqlServer.IntegrationServices.Common.ObjectModel, Version=15.100.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91' or one of its

[2022-03-19 17:59] ACALVETT commented on #8249
So i took a look at your output and you do have 2 instances installed. One is called MSSQLSERVER and the other is SSRS although SSRS is not a database engine :)

If you run the below you will see the object being counted and the 2 instances.

`
$serverService = Get-DbaService -ComputerName x
$serverService | Where-Object State -Like Running | Where-Object InstanceName | Group-Object InstanceName
`

[2022-03-20 09:49] potatoqualitee commented on #8249
Thank you, @ACALVETT! The problem I see is that we have a formula for SQL Engines from Jonathan Kehayias , but no formulas for SSRS, etc. If any reputable blog has a calculation, I'd be happy to consider.

[2022-03-20 15:49] ACALVETT commented on #8249
So if the formulae is just for the SQL engine perhaps the instance logic should reflect that and only count engine instances? In the given scenario the memory calculation is going to be wrong due to the incorrect instance count.

It also begs the question if other components like SSRS should be reported back as potentially impacting the calculation?

Maybe someone else has seen other memory calcul

[2022-03-21 14:52] lowlydba opened #8250 "[Request] - 'sp_SetAutoSAPasswordAndDisable' like command"
### Summarize Command's Functionality

A security command that would provide the functionality of the undocumented [sp_SetAutoSAPasswordAndDisable](https://www.mssqltips.com/sqlservertip/2006/secure-and-disable-the-sql-server-sa-account/) and more.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

#### Potential features

* Use a random GUID

[2022-03-22 02:09] wsmelton commented on #8250
This is more environmental to a given users configuration. We offer commands that can be combined to perform the operation but don't really see a reason it needs to be in the module. It would be something for dbachecks to host IMO (if it doesn't already).

We also do not use undocumented stored procedures because we can't ensure the functionality stays between versions. (We may have a few exceptio

[2022-03-22 02:14] wsmelton commented on #8249
The calculation is a best effort. SSRS being on the machine can greatly play into performance issues because of how memory management works for that service. I'd say a ⚠️ message would be good addition to say as much.

[2022-03-22 02:17] wsmelton commented on #8241
I don't believe there is much we can do about this. There are certain issues with Defender as well flagging it too that I don't think have been fully fixed yet.

[2022-03-22 02:21] wsmelton commented on #8217
Please import using the psd1 and not the psm1 file.

[2022-03-22 22:56] vanillagranilla opened #8251 "Copy-DbaDatabase issue with restoring additional log files ( -Continue ) after scheduled differential backup completes"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [15:48:02][Copy-DbaDatabase] Failure attempting to restore jimdata to localhost | Microsoft.Data.SqlClient.SqlError: The log in this backup set begins at LSN 43000001796000001, which is too recent to apply to the database. An earlier log backup that includes LSN 43000001791200001 can be restored.

### Steps

[2022-03-22 23:19] vanillagranilla commented on #8251
-Verbose output:

[code]

[2022-03-23 00:25] mattcargile commented on #7882
Not sure it this needs to be pursued. I think it would be a convenient test usage.

[2022-03-23 07:54] ACALVETT commented on #8249
Sounds good, will put in a pull request

[2022-03-23 16:37] vanillagranilla commented on #8251
I've narrowed it down to line 1200 in Copy-DbaDatabase:

`Get-DbaDbBackupHistory -SqlInstance $sourceServer -Database $dbName -IncludeCopyOnly -Last` always includes the latest differential backup, even when we've previously restored another diff and logs.

The command gets the right files if I use the `-IgnoreDiffBackup` flag.

[2022-03-23 22:29] pizzeria3000 opened #8252 "Make private key non-exportable after import"
### Summarize Functionality

The private key is always exportable after creating a new certificate with New-DbaComputerCertificate. It would be great if it was possible to choose if the key should be exportable or not on the target machine.

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

This is where a change would be needed I suppose:

[2022-03-24 10:50] smholvoet opened #8253 "Restore-DbaDatabase lacks LogicalName parameter"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

This parameter is mentioned in the [docs](https://docs.dbatools.io/Restore-DbaDatabase) (example 14), as well as in the examples mentioned in the [cmdlet](https://github.com/dataplat/dbatools/blob/324d

[2022-03-24 11:30] andreasjordan commented on #8253
The parameter `-LogicalName`is part of the command `Rename-DbaDatabase` - as it is written in the docs.

[2022-03-24 11:42] smholvoet commented on #8253
Ok, sorry for that... it seems like I'm blind 😎

Is there however a way to assign these files a different name _before_ restoring? I'm running into an issue where a previously restored backup conflicts with the new backup:

[code]

[2022-03-24 12:27] smholvoet commented on #8253
I wrongfully assumed that parameter would change the database name to the original database name which was backupped. So this will replace the naming of the `.mdf` and `.ldf.` files with whatever I specify in the `-DatabaseName`?

[2022-03-24 12:46] andreasjordan commented on #8253
Yes.

[2022-03-24 12:47] #8253 closed

[2022-03-24 22:27] lowlydba opened #8256 "Set-DbaAgentSchedule - No output returned"
### Verified issue does not already exist?

Yes

### What error did you receive?

Command returns no output.

Not sure if it should return all schedules by the schedule name passed in, or only ones that apply to the job(s) passed in with the schedule name.

### Steps to Reproduce

[code]

### Are you running the latest release?

_No response_

### Other details or mentions

_No response_

### What

[2022-03-28 02:54] techvslife commented on #8014
Just checking back on this (as you requested). Thanks.

[2022-03-28 14:35] lowlydba commented on #8250
Sounds fair. I forget dbachecks exists sometimes 😓

[2022-03-28 14:35] #8250 closed

[2022-03-29 08:57] #8240 closed

[2022-03-30 00:28] sqlposh opened #8265 "Add ability to find LocalDB instances with Find-DbaInstance"
### Summarize Functionality

Find-DbaInstance doesn't seem to detect any localdb instances, which to me should be in scope since localdb is basically service-less express edition.  It would be great to see this functionality in Find-DbaInstance. (see technical details)

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

One can run `sqllocaldb

[2022-03-30 03:42] ben-thul opened #8266 "Add parameter to Get-DbaEstimatedCompletionTime to filter tasks that actually report progress"
### Summarize Functionality

Most commands in T-SQL don't populate percent_complete or estimated_completion_time in sys.dm_exec_requests. As written, Get-DbaEstimatedCompletionTime returns information for all sessions with an active request. On a busy server, that could be thousands of rows.

My proposal is to either:

* Change the default behavior of the cmdlet to exclude rows `WHERE percent_comp

[2022-03-30 20:03] paschott opened #8268 ""unable to load DLL 'Microsoft.Data.SqlClient.SNI.dll'" errors with pwsh and credentials"
### Verified issue does not already exist?

Yes

### What error did you receive?

Started getting "unable to load DLL 'Microsoft.Data.SqlClient.SNI.dll' " errors w/ dbatools in pwsh when trying to run commands using credentials.

e.g., `Get-DbaMaxMemory machinename -SqlCredential $cred` throws that error.

I seem to get it whenever passing in a credential w/ a dbatools function, but that same cred

[2022-03-31 03:23] Dave-QLD opened #8269 "Copy-DbaDatabase... database collation (SQL_Latin1_General_CP1_CI_AS) preventing restore."
### Verified issue does not already exist?

No

### What error did you receive?

When using the command "_Copy-DbaDatabase_" to migrate some 14 databases I am hitting the problem whereby three of the databases fail the restore process while the other 11 databases have no issues, and the only difference I can find is the database collation, with the failing databases having a collation of "_SQL_Lat

[2022-03-31 22:21] paschott commented on #8268
Quick note - `Get-DbaDiskSpace` seems to work with the -Credential parameter, but `Get-DbaMaxMemory` does not work with a credential parameter.  Tested using the same credential and the same target machine using pwsh.

[2022-04-01 03:55] mattcargile opened #8270 "`Invoke-DbaQuery` Doesn't Respect `-Verbose:$false` Syntax"
### Verified issue does not already exist?

Yes

### What error did you receive?

Error wasn't received. Verbose output is printed using both `-Verbose:$false` and `-Verbose:$true` syntax.  I wouldn't expect Verbose output to be printed using `-Verbose:$false` syntax.

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

I found the issue bec

[2022-04-01 04:07] mattcargile commented on #8244
Are you able to `Enter-PSSession $Target_ServerName` successfully from your localhost? Or are you running the `Update-DbaInstance` from the box that SQL Server is sitting on ( e.g. `Install-Module dbatools` lives on the server)?

[2022-04-01 05:18] andreasjordan commented on #8270
To remove the missing object messages, use the parameter `-OnlyScript` with the suitable "Install-*" script for your servers. That's what I do (and that's why I introduced this parameter).

[2022-04-01 06:10] mattcargile commented on #8270
Hmm. I do want all of them. Do you figure out the best order when you make your Install function call like when you pass them in?

I'd have to go through all the scripts to see which one should be installed first to prevent the warnings which would be kind of tedious. It appears without the `-OnlyScript` parameters the files install based on whatever the default directory order is from `Get-ChildI

[2022-04-01 08:28] niphlod commented on #8205
For a lot of those the difference is that get-dbabackupinformation fetches info from files, and a few of those cannot be calculated.
e.g. msdb "knows" that db size is x and the compressed backup is x*0.7, so it can give you the compression percentage. The backup file doesn't store the "uncompressed size" .

[2022-04-01 09:20] CrazySwimmer commented on #8205
Hi Simone,

Thanks for the feedback!

In your opinion, is any effort worthwhile here?
Despite those two functions using different sources, the columns "Type" and "FileList" could still be made more consistent.
Also, what do you think about `Get-DbaBackupInformation` returning the *backup_set_uuid* instead of the *backup_set_id* in a column called **BackupSetId** ?

Let me know what you think. I'd

[2022-04-01 09:37] niphlod commented on #8205
I feel that maybe @Stuart-Moore can weigh in on those, not sure if it's something intended or just a hiccup.

[2022-04-02 03:15] alevyinroc opened #8273 "Service restart warning (or full restart) with Set-DbaNetworkCertificate"
### Summarize Functionality

When setting a new certificate for network encryption, `Set-DbaNetworkCertificate` should warn the user that the new certificate will not be used until the SQL Server engine service is restarted.

Additional idea/feature - add a `-Restart` switch parameter which will invoke `Restart-DbaService` on the target instance.

### Is there a command that is similiar or close t

[2022-04-02 04:45] ajaydwivedi-angelone commented on #4946
I am facing this error with Write-DbaDbTableData function.
[code]

[2022-04-02 09:16] potatoqualitee commented on #4946
Thank you for the report @ajaydwivedi-angelone. What settings did you set for the original $Distributorobject?

@andreasjordan would you be able to take a look?

[2022-04-02 13:52] andreasjordan commented on #4946
I'll take a look.

[2022-04-02 15:25] andreasjordan commented on #4946
I can not repro the problem at the moment. @ajaydwivedi-angelone can you please run the command with `-Verbose`?

[2022-04-03 04:38] ajaydwivedi-angelone commented on #4946
Want to highlight fact that my scenario involves cross domain servers. The remove SQL Server can only be connected using IP not name as name does not resolve.

Below is output with verbose & debug -

[code]

[2022-04-03 10:01] andreasjordan commented on #4946
Thanks for the details. To dig deeper we need to introduce a new step to first change the connection context and test the resulting connection before using Write-DbaDbTableData.

So please run this:
[code]
If this works, you could try to use this in the next command:
[code]

You could also try to use `-Database $DbaDatabase -NonPooledConnection` while creating `$Distributor`, so that the connectio

[2022-04-03 12:22] ajaydwivedi-angelone commented on #4946
Executed
[code]

Below is output -
[code]

I removed & recreated variable $Distributor like below -
[code]
Getting below error -

[code]

[2022-04-03 12:38] andreasjordan commented on #4946
The last one is interesting: It looks like `$DistributorConfig` is already a connected SMO. Can you tell me more about `$DistributorConfig`? The parameter SqlInstance has to be a string like the IP address.

[2022-04-03 14:05] ajaydwivedi-angelone commented on #4946
I have added all Servers with IP & ```@@serverName``` values as DisplayName for Registered Server Groups using SQL Credentials.

So I scan $DistributorIP value across Registered Servers and create Server Object using ```Connect-DbaInstance```.

[code]

[2022-04-03 14:54] andreasjordan commented on #4946
I would like to eleminate the use of registered servers. Can you connect to the instance without using `Get-DbaRegisteredServer`?

[2022-04-03 15:45] ajaydwivedi-angelone commented on #4946
```Invoke-DbaQuery``` is working fine. Not sure why not ```Write-DbaDbTableData```.

![image](https://user-images.githubusercontent.com/101084432/161434925-64543713-9cf8-4c4b-b6d9-f8cef58e06c0.png)

Sure. I'll utilize **PSCredential** with ```SqlCredential``` parameter to accomplish same. Thank you so much for helping me out here.

[2022-04-03 15:50] andreasjordan commented on #4946
Invoke-DbaQuery may not force a change of the connection context. Write-DbaDbTableData forces a non pooled connection and sets a database context. And that is not working properly. In any case we can only try to find a workaround as the issue is probably related on how the SMO is handling the connections. We can't do anything about that.

So I would like to see if you can open a non pooled connect

[2022-04-04 00:29] bigbearzhu opened #8275 "Get-DbaKbUpdate not working"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

try `Get-DbaKbUpdate -Name KB4577194 -Verbose` with latest dbatools, currently 1.1.85.

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe)

### Powe

[2022-04-04 00:40] bigbearzhu opened #8276 "Test-DbaBuild - Add a switch to exclude on demand builds"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

`Test-DbaBuild -Build 13.0.6300 -Latest`

### Are you running the latest release?

Yes

### Other details or mentions

13.0.6404 ([KB5006943](https://duckduckgo.com/?q=kb5006943)) is an on demand build which not every one need, also it won't have a download link in microsoft update cat

[2022-04-04 04:29] danpousson commented on #8179
I get the same error from docker

[2022-04-04 07:08] andreasjordan commented on #8275
There is probably an issue with the webserver - it sometimes works, and sometimes not.

This is my verbose output when it works:
[code]

But in any case the output is empty. So maybe the way microsoft provides the information has changed in the last days.

I will have a look...

[2022-04-04 07:19] andreasjordan commented on #8275
This is how we search for the links:
[code]

But now the links look like this: https://catalog.s.download.windowsupdate.com/c/msdownload/update/software/updt/2020/10/sqlserver2019-kb4577194-x64_a09e2537b854ae384d965e998e53ce33cdc34f16.exe

Will update the regex...

[2022-04-04 07:55] PowerDBAKlaas commented on #7822
Hi Mikey

thanks for this: the profile-account association is indeed missing and interesting.
Since in both cases the associations are fetched via a method, I assume it adds some searching. If this is minimal, I'm in favour of the way you demo. If the delay is noticeable, it's better to only provide it with a switch param, or indeed put it in a separate function.
Do you have some metrics about the

[2022-04-04 08:03] PowerDBAKlaas opened #8278 "Get-DbaDbMailServer runs nested loops"
### Verified issue does not already exist?

No

### What error did you receive?

No error, just too many objects

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

I have 8 sql servers in the $sqlcollection, and 9 DBMailAccounts,
and get 72 DBMailServers returned.

### What PowerShell host was used when producing this error

VS Code (integ

[2022-04-04 08:11] andreasjordan commented on #8278
This is by design. If you need a unique list of mail servers accross all the instances, you would have to filter that yourself.

[2022-04-04 08:14] PowerDBAKlaas commented on #8278
The intended design is to return 9 duplicates of each object?
Why is that?

[2022-04-04 08:20] andreasjordan commented on #8278
Sorry, I don't have an environment to test that.

To get the mail server for each sql server this code is used: `$mailserver = $server.Mail`. So it looks like this returns 9 objects for each sql server. Is that correct? Can you tell me more about the content of `$server.Mail`. Maybe that helps me to understand the issue.

But we likely need a contributur with a simmilar configuration...

[2022-04-04 09:26] PowerDBAKlaas commented on #8278
I'm sorry, my description was not clear. I have 9 mail servers in total, not on each sql server.
`$sqlcollection` holds 8 sql servers
[code]

[2022-04-04 11:07] Franky1522 commented on #6372
I have the same problem, When I used Copy-DbaLinkedServer with only 1 linked Server, I received this alert. I check if I have new Linked Server everyday so I received this alert daily. Any Fix to this problem?

[2022-04-04 11:13] andreasjordan commented on #6372
Just to be sure: Are you on the latest version of dbatools?
And how should we fix the problem? There can only be one DAC. If there is already a DAC, there is nothing we can do about it.

[2022-04-04 11:44] Franky1522 commented on #6372
Yes, I did last week. And I have just done it again.
I dont know how solve the problem. But I dont understand why the process generates more than 1 DAC connection.
It`s curious because if I execute it a second time after a short time, the alert does not go off.

[2022-04-04 11:54] wsmelton commented on #6372
Please open a new one and provide all the requested details with your issue.

[2022-04-04 13:41] wsmelton opened #8280 "Get-DbaInstanceProtocol does not properly use Credential input"
### Verified issue does not already exist?

Yes

### What error did you receive?

Run the command noted only gives you this warning:
[code]

Running test on internal call made by this command gives further details (the cred object is not passed to the Get-DbaCmObject command.

[code]

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

We ar

[2022-04-04 13:42] #8275 closed

[2022-04-04 13:55] mganci350 opened #8281 "Add DbaToolsConfig Item for "Trust certificate" to use when psremoting.pssession.usessl' -Value $true or add addition parameter to psremoting.pssession.usessl to enable Trust Cert"
### Summarize Functionality

Requesting new Feature:
This behavior is observed on dbatools  V 1.1.75
Remote Connections Failing due to The SSL certificate is signed by an unknown certificate authority.
Need a parameter to enable "TrustCerticate"  (found in Connect-DbaInstance) or  -SkipCACheck  for Remote Server Connections
Example:
When using  Update-DbaInstance  against a remote Server with only

[2022-04-04 15:42] Franky1522 opened #8283 "[Bug] Copy-DbaLinkedServer is improperly using DAC and generating error"
### Verified issue does not already exist?

Yes

### What error did you receive?

Logon Could not connect because the maximum number of '1' dedicated administrator connections already exists. Before a new connection can be made, the existing dedicated administrator connection must be dropped, either by logging off or ending the process. [CLIENT: 127.0.0.1]

### Steps to Reproduce

I have a ps1 Fil

[2022-04-04 21:29] paschott commented on #8268
Same behavior w/ v1.1.86 and pwsh.exe.

[2022-04-04 21:48] MikeyBronowski commented on #7822
Hey, @PowerDBAKlaas sorry no metrics for that.

[2022-04-04 22:18] sbsmool opened #8285 "Start-DbaDbEncryption cmdlet NOT FOUND"
My dbatools version is 1.1.84. I could not find the cmdlet Start-DbaDbEncryption to encrypt database as mentioned in documentation. Even the online book has an example with this cmdlet, but however, when I type "Start-Dba", I only see the cmdlet options as shown in the screenshot below. When can this feature be expected to be working again?

![image](https://user-images.githubusercontent.com/69294

[2022-04-05 00:18] #8285 closed

[2022-04-05 06:39] potatoqualitee commented on #8285
That looks like you're using the ISE, which I don't know much about. You may need to `Import-Module dbatools` to get that working. There are a number of Start-Dba commands that should show up.

![image](https://user-images.githubusercontent.com/8278033/161693961-bb8a25ca-a986-470e-842a-1e7806860e3f.png)

[2022-04-05 09:39] Franky1522 commented on #8283
I try your workaround, but it fails. I use -Force too.

This is Verbose:
[Connect-DbaInstance] Server object passed in, will do some checks and then return the original object
[Connect-DbaInstance] String is passed in, will build server object from instance object and other parameters, do some checks and then return the server object
[Connect-DbaInstance] authentication method is 'local integrated

[2022-04-05 09:43] andreasjordan commented on #8283
I don't see the failure here. "LinkedServer1 successfully copied" looks like it has copied the linked server.

[2022-04-05 09:52] Franky1522 commented on #8283
The process works, the problem is that I received this error on SQL Server ERRORLOG:
Error 17810, Severity 20, State 2
Logon Could not connect because the maximum number of '1' dedicated administrator connections already exists. Before a new connection can be made, the existing dedicated administrator connection must be dropped, either by logging off or ending the process. [CLIENT: 127.0.0.1]
And

[2022-04-05 17:49] Tisit opened #8287 "Invoke-DbaQuery adds spurious newlines when running query consisting of multiple batches"
### Verified issue does not already exist?

Yes

### What error did you receive?

Run script:
[code]

Next try to script out this procedure for SSMS. You will get a warning that line endings are inconsistent.
Additionally there is an empty line between GO and CREATE now. This newline won't appear, if I run the SQL in SSMS directly.

### Steps to Reproduce

See What error did you receive

### Are y

[2022-04-05 18:59] lowlydba opened #8288 "Set-DbaLogin: Returns 'LoginName' instead of 'Name' in defaults"
### Verified issue does not already exist?

Yes

### What error did you receive?

`Set-DbaLogin` returns `LoginName` in the default property set, versus `Name` which is returned by `Get-DbaLogin` (and `New-DbaLogin`). It looks like this was added as a backwards compatibility property, but probably doesn't need to be the default one returned as its inconsistent.

https://github.com/dataplat/dbatool

[2022-04-06 07:07] #8280 closed

[2022-04-06 07:07] #8278 closed

[2022-04-06 07:12] niphlod commented on #8287
that wouldn't work in some cases.
Requiring that Invoke-DbaQuery honours batch separators AND doesn't change the literal string imho is kinda of an outreach, also, if you want character-by-character idempotency, just use $database.Query(yourstatements).
Once again, Invoke-DbaQuery is for running queries, not complex statements. It's working on a completely different interface and is NOT a replacem

[2022-04-06 07:15] #8288 closed

[2022-04-06 10:17] #8249 closed

[2022-04-06 13:31] SQLScott commented on #8249
HI Acalvett. Thank you. As I mentioned/asked in my original post, that was my original question. Should the check be just against engine instances or should the detection of another instance of something be valid? I even provided examples of the queries that could be used. However, a simple message stating that other services are running is sufficient along with the actual count of engine services

[2022-04-06 13:54] ACALVETT commented on #8249
Hi @SQLScott

I think the update gives exactly what you want, It filters on engine so the instance count represents engines and you get a message if another component is detected

[code]

[2022-04-06 14:41] sbsmool commented on #8285
Does it make a difference if it just PowerShell or PowerShell ISE? I used Import-Module dbatools and also updated dbatools to its latest version.

Let me try this on PowerShell only.

Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chrissy LeMaire ***@***.***>
Sent: Tuesday, April 5, 2022 12:39:23 AM
To: dataplat/dbatools ***@***.***>
Cc: sbsmool ***@*

[2022-04-06 15:01] sbsmool commented on #8285
Here is what I get in PowerShell after updating to latest version.

[X]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ***@***.*** ***@***.***>
Sent: Wednesday, April 6, 2022 8:40:52 AM
To: dataplat/dbatools ***@***.***>; dataplat/dbatools ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [dataplat/dbatools] Start-DbaDbEncryption cmdlet NOT FOUND (Issue #8285)

[2022-04-06 15:12] arsqldba opened #8290 "Could Copy-DbaAgentJob include the ability to alter the @schedule_uid or @job_id to be unique?"
### Summarize Functionality

While it's not an issue if the same job has the same @schedule_uid or @job_id and it's on different servers, when rolling up reporting it's often nice to have those be unique in some cases.

This may not even be possible, but I thought I'd present the topic to see.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

[2022-04-06 15:25] Tisit commented on #8287
I mean, sure I can use alternatives to workaround this issue. But from position of an end user I wouldn't expect such behavior.

[2022-04-06 15:28] niphlod commented on #8290
dunno perfectly the internals of this specific command but the verb `Copy-` "dictates" that what's in the source ends up untouched on the dest. If the requirement is altering the entity before it gets pushed to the dest, then it's definitely not a job for `Copy-` but for a `Get-` then `Set-`

[2022-04-06 15:42] niphlod commented on #8287
It's not strictly about alternatives, it's just the wrong tool for the job ^_^ .
We tried to signal its intended usecase renaming it from Invoke-SqlCmd2 to something more apt, but, again, this is "yet another cornercase scenario", which is "Using it to create procedures ".
Invoke-DbaQuery has another intended purpose and covers a lot of things SMO doesn't.
If we can find a better regex then fine,

[2022-04-06 18:23] awickham10 commented on #8118
I've submitted a PR for this, which is different than what we discussed. After looking at how the command was written it would require quite a bit of rewrite to make it function that way (at least that I can come up with). Instead I wrapped the SID translation in a try/catch and do not return a username if the SID cannot be translated.

[2022-04-06 23:36] corelevel opened #8292 "Restore-DbaDatabase"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [19:02:40][Restore-DbaDatabase] No backups passed through.
 This could mean the SQL instance cannot see the referenced files, the file's headers could not be read or some other issue

### Steps to Reproduce

$Instance = 'REDALERT'

$SrcDatabase = '2clone'
$DstDatabase = '2clone_copy'

$Path = 'C:\Temp'

$Bac

[2022-04-07 00:07] sbsmool commented on #8285
Here is the screenshot
[X]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shawn Melton ***@***.***>
Sent: Wednesday, April 6, 2022 11:34:50 AM
To: dataplat/dbatools ***@***.***>
Cc: sbsmool ***@***.***>; Author ***@***.***>
Subject: Re: [dataplat/dbatools] Start-DbaDbEncryption cmdlet NOT FOUND (Issue #8285)

There is no screenshot in your post.

—
Reply to this

[2022-04-07 00:10] sbsmool commented on #8285
I sent it again, but seems like copy/paste didn't work. I have attached with this email.[Image.jpeg]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ***@***.*** ***@***.***>
Sent: Wednesday, April 6, 2022 6:07:15 PM
To: dataplat/dbatools ***@***.***>; dataplat/dbatools ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [dataplat/dbatools] Start-DbaDbEncryption cmd

[2022-04-07 01:44] wsmelton commented on #8285
Please provide the image this issue via GitHub's site (we don't use email).

[2022-04-07 03:02] sbsmool opened #8293 "Cmdlet not found"
I couldn't find cmdlet for database encryption : Start-DbaDbEncryption. I have updated dbatools to the latest version.

We are in the process of encrypting databases and this cmdlet would be very helpful. Even online book has example on it, but I am struggling to find this function.

![8ABA1DEE-7514-452E-A16D-CE7B99BDADC3](https://user-images.githubusercontent.com/69294166/162111750-11c4d4b8-48be-

[2022-04-07 06:55] potatoqualitee commented on #8293
Hey Sbs,
Thank you for the screenshot. This part can be confusing (tho I hear future version of .NET may help) -- you still have the older version of dbatools in memory.

![image](https://user-images.githubusercontent.com/8278033/162137943-bed28dc7-381c-437e-aa5a-bab01f8e1c43.png)

While you can often use `Import-Module dbatools -Force` to import the latest version, this this case, we changed some

[2022-04-07 06:55] #8293 closed

[2022-04-07 07:02] andreasjordan commented on #8292
Might not solve your issue, but I would use there commands:
[code]

This way Backup-DbaDatabase generates the filename and save it inside of the $backup object. Passing that to Restore-DbaDatabase will restore the exact backup.

[2022-04-07 09:51] Franky1522 commented on #8283
Hi, I executed that and i saw the timestamp. It seems that the problem is in the DAC Connection by powershell, not in the copy of the linked Server. I executed that and I continue with the error.
Get-Date
$dac = Connect-DbaInstance -SqlInstance $Source -DedicatedAdminConnection
$dac | Disconnect-DbaInstance
Get-Date

[2022-04-07 10:19] andreasjordan commented on #8283
When is the error reported, while opening or while closing the DAC?
[code]

[2022-04-07 10:58] Franky1522 commented on #8283
The error occurs opening the DAC.

[2022-04-07 11:00] andreasjordan commented on #8283
Is the DAC opened successfully? What is the output of `$dac`?

Next we should check if there is already a DAC when we try to open one.

[2022-04-07 11:11] andreasjordan commented on #8283
To list the currently connected DAC:

[code]

Before opening the DAC, there should not be any result.

[2022-04-07 21:21] Rodric75 opened #8294 "Publish-DbaDacPackage throws exception calling ImportBacpac, Microsoft.Isam.Esent.Interop.EsentInstanceUnavailableException"
### Verified issue does not already exist?

Yes

### What error did you receive?

System.Management.Automation.MethodInvocationException: Exception calling "ImportBacpac" with "4" argument(s): "This instance cannot be used because it encountered a fatal error" ---> Microsoft.Isam.Esent.Interop.EsentInstanceUnavailableException: This instance cannot be used because it encountered a fatal error
   a

[2022-04-08 05:56] andreasjordan commented on #8283
Ok, if I read this correct:
* There was no DAC at the biginning at 17:37:12
* The DAC was successfully created and was there at 17:37:13
* The DAC was successfully disconnected at 17:37:28

Did you see an error in the ERRORLOG? If yes, at what time?

[2022-04-08 06:11] #8118 closed

[2022-04-08 07:00] Franky1522 commented on #8283
Yes, I see and error on ERRORLOG at 17:37:13.
Maybe "Connect-DbaInstance -SqlInstance $Source -DedicatedAdminConnection" tries to create more than 1 connection like SSMS, and generates the error?

[2022-04-08 16:35] lowlydba opened #8295 "Enable/Disable-DbaAgHadr don't look up ComputerName and SqlInstance"
### Verified issue does not already exist?

Yes

### What error did you receive?

Both Enable-DbaAgHadr and Disable-DbaAgHadr don't connect to SQL to properly look up the ComputerName and InstanceName, which can lead to inconsistent results depending on how the SqlInstance is passed in (i.e. "localhost" vs actual instance)

https://github.com/dataplat/dbatools/blob/05b91475db7db2b25a49bc1b4b54e3af

[2022-04-08 19:05] salvbing commented on #8244
This is executed from separate server than the target.   My NOTE:The temporary Files do not get deleted, but the patch was successful - even though it Says FALSE.   I have not investigated Enter-PSSession.
I did open a ticket with Microsoft Support and have since updated to 1.1.83 dbatools and my experience with Update-DbaInstance is now different - something is changed, and we havent gotten a han

[2022-04-08 22:18] corelevel commented on #8292
Yeap, that works for my case.
But still not sure why it doesn't work pipelining.
Thanks!

[2022-04-08 22:28] MattHubble commented on #8292
It looks like $BackupFullFileName will be set to C:\Temp2clone.bak since $path doesn't have a trailing backslash, keeping Restore-DbaDatabase from finding the backup file.

[2022-04-08 22:36] corelevel commented on #8292
I was thinking the same when I checked pasted script. But backslash is there.
For some reason, it doesn't become visible on Github.

[2022-04-08 23:10] MattHubble commented on #8292
I was just able to reproduce it with the \ added back to $Path.

DEBUG: 65868 | [15:46:16][Restore-DbaDatabase] Unverified input, full scans - C:\Temp\2clone.bak
DEBUG: 20253 | [15:46:16][Get-DbaBackupInformation] Starting
DEBUG: 20254 | [15:46:16][Get-DbaBackupInformation] Parameters bound: SqlInstance, SqlCredential, Path, DirectoryRecurse, MaintenanceSolution, IgnoreDiffBackup, IgnoreLogBackup,

[2022-04-09 00:29] corelevel commented on #8292
Yeah, probably you are right. The backup file was not visible when I ran the query under [cloner] login.

[2022-04-09 20:24] nohwnd opened #8296 "Running build.ps1 shows that HelpOut is missing"
### Verified issue does not already exist?

Yes

### What error did you receive?

![image](https://user-images.githubusercontent.com/5735905/162590427-573b2815-9c57-4ef3-9086-da8b9f7cd1ca.png)

### Steps to Reproduce

[code]

### Are you running the latest release?

_No response_

### Other details or mentions

I just cloned your repo and run .\build.ps1 and HelpOut is missing for the build. It sh

[2022-04-09 20:26] nohwnd commented on #8296
I spoke too soon, I installed it and I see this now:

![image](https://user-images.githubusercontent.com/5735905/162590565-8871414b-ccd0-4735-94d9-f252cc513e83.png)

 Still seems to build fine. I can work with that.

[2022-04-11 06:06] potatoqualitee commented on #6223
oh, yes, this is now implemented in `Start-DbaDbEncryption` (all dbs on an instance + backups) and `Enable-DbaDbEncryption` (db)

[2022-04-11 13:46] PowerDBAKlaas opened #8298 "Get-DbaDBMailConfig runs nested loops"
### Verified issue does not already exist?

No

### What error did you receive?

no error, just too many objects

probably same issue as in Get-DbaDBMailServer:
Get-DbaDbMailServer runs nested loops #8278

@andreasjordan

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this

[2022-04-12 10:53] alhandra commented on #8217
Hi, also reproduced this on windows 2012 r2 with sql 2012

[2022-04-12 13:04] potatoqualitee commented on #8217
@alhandra can you run this and let us know what it says? i think the answer will be to update .NET to 4.6+

[code]

[2022-04-13 16:08] lowlydba opened #8302 "Get-DbaBackupInformation - Sizes are incorrectly summed"
### Verified issue does not already exist?

Yes

### What error did you receive?

Incorrect size results from the command. For a striped full backup, it looks like it is summing the compressed/backup size for all files when each file contains the proper value for the group:

https://github.com/dataplat/dbatools/blob/05b91475db7db2b25a49bc1b4b54e3af9b7a45fc/functions/Get-DbaBackupInformation.ps1#L3

[2022-04-13 19:26] wmcliffusat opened #8303 "Watch-DbaDbLogin Databaseid = 0."
### Verified issue does not already exist?

Yes

### What error did you receive?

databaseid returns 0 for several process.

### Steps to Reproduce

SQL: This is the code from the powershell script.

  SELECT
                s.login_time AS [LoginTime]
                , s.login_name AS [Login]
                , ISNULL(s.host_name,N'') AS [Host]
                , ISNULL(s.program_name,N'') AS [Prog

[2022-04-13 23:37] #8295 closed

[2022-04-15 15:36] drounsville opened #8306 "An attempt was made to load a program with an incorrect format. (0x8007000B)"
### Verified issue does not already exist?

Yes

### What error did you receive?

2022-04-14T16:33:26.908 [Warning] WARNING: [16:33:26][Connect-DbaInstance] Failure | Error connecting to [<ServerFQDN]: An attempt was made to load a program with an incorrect format. (0x8007000B)
2022-04-14T16:33:27.160 [Warning] WARNING: [16:33:26][Get-DbaDatabase] Failure | An attempt was made to load a program wi

[2022-04-15 17:09] niphlod commented on #8207
@alexgurman : I'm closing this, feel free to reopen in case of additional issues

[2022-04-15 17:09] #8207 closed

[2022-04-15 17:13] niphlod commented on #8269
hum, seems that the history query for those three has some kind of issue ..... do you still have the dbs around ? (for next week though, holidays are starting ^_^ )

[2022-04-15 17:15] niphlod commented on #8296
@nohwnd : build.ps1 is not meant to be run by anyone if not @potatoqualitee doing a release. There's nothing to build to use dbatools.

[2022-04-15 17:15] #8296 closed

[2022-04-16 08:25] potatoqualitee commented on #8296
Oh yeah, I don't use that. We can probably delete it.

This is what I use to "build"

https://github.com/potatoqualitee/releases/actions/workflows/dbatools.yml

As far as the dbatools.dll goes, I build that using Visual Studio 😬

[2022-04-17 15:22] wsmelton commented on #8306
Did anything change other than the version of dbatools you are using in your Function?

If you can share the base project for the function deployment so that we can attempt replication in our Azure tenant? (Azure Function plan/tier being used, settings files, etc.)

[2022-04-18 23:46] drounsville commented on #8306
Hi, Shawn.
Thanks for the follow up, but you can go ahead and close the issue.

This one was on me...  When I set up the function app, I didn't notice that I had set it up as 32-bit.  I guess my test environment was 64-bit.  I changed the current one to 64-bit, and was able to successfully connect to the database and list the databases.

I love the DBATools tool set, and am happy that it wasn't an

[2022-04-19 00:07] wsmelton commented on #8306
I wonder if we can put in a check on import to detect what architecture the module was loaded into? I'm not sure how clean it would be but recall this is detail in a system variable somewhere. If we detect it is not x64 just spit out a warning about "not all things are as you believe" or something.

// @potatoqualitee @andreasjordan

[2022-04-19 22:42] Dave-QLD commented on #8269
Hello,

Yes I am still able to replicate the problem for the time being, as I have only done the rehearsal migration at this stage, with no set date for the final migration cutover at this stage, so for now I can try something different (e.g. fix) if that is what you are thinking?...

David.

From: Simone Bizzotto ***@***.***>
Sent: Saturday, 16 April 2022 3:14 AM
To: dataplat/dbatools ***@***.***

[2022-04-20 07:16] niphlod commented on #8269
frankly I'm thinking about tracking down whatever is happening on that system and see if we can work around it. From the error log it seems that some of the queries to fetch the backup history are erroring out...

[2022-04-20 11:07] nohwnd commented on #8296
Ah okay, using restore, build, and test scripts (or subset of that) in root is rather common way to give people way to do those basic tasks. I probably should have checked out contribution guide first.

[2022-04-20 13:51] ClaudioESSilva commented on #8269
@Dave-QLD can you please run the following command:
`Get-DbaDbBackupHistory -SqlInstance $source_MSSQL -Database "<one failed db>" -IncludeCopyOnly -Last -Debug`

I'm adding the `-Debug` parameter so the T-SQL that will be run can be outputted to the console.

Then with those, hopefully, we can run it on the instance and check where the error is. (I don't have access to any 2008 RTM at the moment)

[2022-04-20 14:56] paschott commented on #8268
I was able to load the file in the dbatools bin\smo folder by using "add-type" for the file, but still get an Access Denied error when trying to use the `-SqlCredential` option with dbatools.

[2022-04-20 16:47] richardimenes opened #8310 "rename-dbalogin fails to rename dbusers"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Management.Automation.RuntimeException: Cannot index into a null array.
                           at CallSite.Target(Closure , CallSite , Object , String )
                           at System.Dynamic.UpdateDelegates.UpdateAndExecute2[T0,T1,TRet](CallSite site,

[2022-04-20 19:20] MBRasmussen opened #8311 "Get-SqlInstanceUpdate - Invalid credentials"
### Verified issue does not already exist?

Yes

### What error did you receive?

WARNING: [20:49:17][Get-DbaCmObject] [<hostname>] Invalid connection credentials
WARNING: [20:49:17][Get-SqlInstanceUpdate] Failed to determine the arch of <hostname>, using x64 by default

### Steps to Reproduce

[code]
$cred = Get-Credential
Invoke-Command -ComputerName computer1 -ScriptBlock {Update-DbaInstance -C

[2022-04-20 20:02] Dave-QLD commented on #8269
Your understanding of what is happening is better than mine… I wasn’t aware the command would even be concerned about backup history given the use of the “-BackUpRestore” parameter, I thought this parameter meant the script took a new copyonly backup.

David

From: Simone Bizzotto ***@***.***>
Sent: Wednesday, 20 April 2022 5:17 PM
To: dataplat/dbatools ***@***.***>
Cc: David Shaw ***@***.***>; Au

[2022-04-20 20:18] ClaudioESSilva commented on #8269
@Dave-QLD that is right. Looking into the code, only when you use `-UseLastBackup` it will call the `Get-DbaDbBackupHistory`.
However, looking into the `console.log` you have uploaded it points to that command and the columns/code that errors, it's used on that command.
Hence my attempt to double-check if it fails in the same way.

[2022-04-20 20:31] Dave-QLD commented on #8269
Thank you… I am just running what you have asked for… will have it for you soon.

Thank you.
David

From: Cláudio Silva ***@***.***>
Sent: Thursday, 21 April 2022 6:19 AM
To: dataplat/dbatools ***@***.***>
Cc: David Shaw ***@***.***>; Mention ***@***.***>
Subject: Re: [dataplat/dbatools] Copy-DbaDatabase... database collation (SQL_Latin1_General_CP1_CI_AS) preventing restore. (Issue #8269)

This e

[2022-04-20 20:57] Dave-QLD commented on #8269
Well now I am really confused… in order to replicate the problem I ran my originally script first for the three databases that gave me the original problems and… it worked. The databases copied and restored successfully.  The only thing I know is different is that my college rebooted this server recently for Microsoft Updates.

So that means, I must have been wrong about individual database collat

[2022-04-20 21:09] ClaudioESSilva commented on #8269
That is interesting indeed!
Which updates were done? Anything related with SQL Server? Or still 2008 RTM?

It's OK to put this on pause until you run it again.
Please let us know when you have done it and what was the result.

Regarding the output, my idea would be to run the T-SQL (the bigger one) on the server to check if the same error (that appeared on the log) happens. But I believe now would

[2022-04-20 23:59] ben-thul commented on #8310
Does it work for you if you change that line to `$db = $databases | where-object Name -eq $db.DBName;`?

[2022-04-21 03:47] Dave-QLD commented on #8269
Well I don’t know what to say… I have done numerous more testing and all have worked, I even added in the -Force parameter with the command “Copy-DbaDatabase” to see what would happen and well now I can’t break it, it works every time… which is good, but also disappointing, because now I don’t know why the error occurred in the first place, something I am guessing you have seen/experienced for you

[2022-04-21 07:40] niphlod commented on #8269
@Dave-QLD no problem, it's largely better to have feedback, either positive or negative, than no feedback at all. Come back if you notice further issue and we'll see what's going on

[2022-04-21 07:40] #8269 closed

[2022-04-21 07:59] richardimenes commented on #8310
It seems like that resolves the issue and that the compare is done correctly. The database users are now renamed correctly.

[2022-04-21 10:11] AlejandroPR opened #8312 "Copy-DbaLogin Permissions sync only Server Roles and Server securables"
### Summarize Functionality

We have a system where logins gets created regularly. We are using copy-dbalogin to sync logins between nodes in Availability groups.
With a large number of databases copy-dbalogin performs slower than we would like.
When using the -ExcludePermissionSync , performance is great but server permissions are not carried over.

It would be helpful if the function has an opti

[2022-04-21 14:39] ben-thul commented on #8310
Congrats! If you're comfortable doing it, I'd submit a pull request that references this issue.

[2022-04-21 14:42] richardimenes commented on #8310
Not entirely comfortable, but there is a lot of good documentation here and I want to learn this process, so let me give it a shot. :)

[2022-04-21 20:21] Dave-QLD commented on #8269
Thank you for the support… greatly appreciated.

From: Simone Bizzotto ***@***.***>
Sent: Thursday, 21 April 2022 5:41 PM
To: dataplat/dbatools ***@***.***>
Cc: David Shaw ***@***.***>; Mention ***@***.***>
Subject: Re: [dataplat/dbatools] Copy-DbaDatabase... database collation (SQL_Latin1_General_CP1_CI_AS) preventing restore. (Issue #8269)

This email originated from outside Queensland Health. D

[2022-04-22 13:37] gassyelmo commented on #8014
yes, same!

[2022-04-22 18:46] techvslife commented on #8014
@potatoqualitee
btw, I don't see a way of pinging you, except to post a message here.

[2022-04-23 14:15] dbaduck opened #8313 "New-DbaDiagnosticAdsNotebook contains an extra curly brace at the bottom '}' makes it invalid JSON"
### Verified issue does not already exist?

Yes

### What error did you receive?

No error creating the diagnostic ADS notebook and it can be opened in ADS, but when using Invoke-SQLNotebook it throws an error that it is invalid JSON.  I checked it out and it is indeed an extra closing } brace.  Once I removed that curly brace I could invoke-sqlnotebook without error of the JSON.

### Steps to Rep

[2022-04-23 15:27] potatoqualitee commented on #8014
its true, ive been setting this notification as unread bc im burned out :( not sure when i'll be up for the in-depth exploration but it may be a bit

[2022-04-23 16:38] wsmelton commented on #8014
I can try and look at this this coming week.

I'll see if I can get a configuration added where users can have the module reference an external version of the DLL going forward if they want.

[2022-04-24 17:51] Memoi opened #8315 "No data in output file after Restore-DBADatabase with invoke-command using New-PSSession"
### Verified issue does not already exist?

No

### What error did you receive?

Hello,

I execute a scriptblock inside an invoke-command with the session parameter to another server (SQL).

The scriptblock do a write-information / warning / host just before the restore command and the output are displayed in the console and go in the log file (start-Transcript) then after the restore command ever

[2022-04-25 07:26] imaginetobe opened #8316 "New-DbaDbMaskingConfig: Table name not included in filename when using -Table parameter"
### Verified issue does not already exist?

Yes

### What error did you receive?

The parameter help for Path indicates that the table name should be appended to the filename if Table parameter is used

https://github.com/dataplat/dbatools/blob/41eccc4d9cf9f80bef680df4e1cb1677a4742e42/functions/New-DbaDbMaskingConfig.ps1#L41-L43

but the function code doesn't seems to include this

https://github.

[2022-04-26 17:25] salvbing commented on #8244
I am at 1.1.88 Now, for a short time (2 weeks or so) there were no HANGS.  Now there are new patches to install and I am getting the hangs back.  It is right inbetween the bootstrap log and the REMOVE TEMP FILES.   Wish there was some pointers to how to figure out why it is hanging.

VERBOSE: [11:35:13][Find-SqlInstanceUpdate] Using filter [SQLServer2019*-KB5011644-*x64*.exe] to check for updates

[2022-04-26 21:21] mattcargile commented on #8244
Not sure. One could grab `procmon` from the `sysinternals` toolset. It can be installed with `choco install sysinternals` using Chocolatey package manager. Or you can grab it in a zip archive online. You can filter on the `powershell` and `setup` process to see if something is hung or if there is some registry key or file being written to. Maybe there is some Microsoft telemetry going on hanging i

[2022-04-29 09:57] potatoqualitee commented on #8316
thank you, @imaginetobe - @sanderstad can you take a look?

[2022-04-29 09:59] potatoqualitee commented on #8316
actually this seems easy, ill derrr it

[2022-04-29 10:24] potatoqualitee commented on #8315
hey @Memoi - perhaps you're encountering an error that you can't see on your side.

This works for me:

![image](https://user-images.githubusercontent.com/8278033/165927046-5c89bb65-9871-4340-9a1d-9b4939a3bcac.png)

Throw an `| Out-String` or `| Out-Host` at the end of your restore command to see if a warning is getting gobbled up.

[code]

Granted, I'm not using CredSSP.

Does this work for you?

[2022-04-29 10:24] #8315 closed

[2022-04-29 10:33] potatoqualitee commented on #8311
Thank you! Will be fixed in an upcoming PR

[2022-04-29 10:43] potatoqualitee commented on #8306
mmm there are a number of arches that are supported, including arm. when i saw this title, i knew it'd be an arch problem. we can just address it in future issues, i think

[2022-04-29 10:43] #8306 closed

[2022-04-29 10:58] potatoqualitee commented on #8310
My pleasure. My apologies for the steamroll -- I was going to give it more time but I have a rare burst of energy and wanted to take advantage.

I personally use GitHub Desktop, you may like it too https://desktop.github.com. What I like about it is that it allows you to ease into fully understanding the whole process by making it visual.

[2022-04-29 11:03] potatoqualitee commented on #8281
🤔  @ClaudioESSilva can you please take a look? btw @mganci350 you can also set the cert trust for all sql connections in option in lieu of using the param

[2022-04-29 11:20] potatoqualitee commented on #8265
This is very cool. @FriedrichWeinmann any interest in adding this? if not, maybe we can do it in pure powershell after the dll processing.

[2022-04-29 16:12] tboggiano opened #8327 "Repair-DbaDbOrphanUser to accept piping from Get-DbaRegServer"
### Summarize Command's Functionality

I tried to do this:

Get-DbaRegServer -SQLInstance CMSServerName |  Repair-DbaDbOrphanUser -RemoveNotExisting

and it does nothing, I figured it would take all my instances from my CMS server and fix my orphaned users for my CIS audit yet I had to write a ForEach like below to accomplish this, maybe this is a bug, but since I didn't get an error, I but it as

[2022-04-29 16:38] rickobsitnik opened #8328 "Remote debugging"
### Summarize Command's Functionality

Any way to debug script blocks of Invoke-Command or a better solution to it so it can be debug? Write-host or Add-Content just isn't enough. This would be a great collection of tools.

### Is there a command that is similiar or close to what you are looking for?

No

### Technical Details

_No response_

[2022-04-29 19:53] MrRichWray opened #8329 "Get-DbaInstanceProperty - Error Writing to a Database Table"
### Verified issue does not already exist?

No

### What error did you receive?

WARNING: [12:42:01][ConvertTo-DbaDataTable] Failed to add property Value from @{ComputerName=RWRAYPC; InstanceName=V19DEV01; SqlInstance=RWRAYPC\V19DEV01; PropertyType=Setting; Name=DefaultFile; Value=D:\V19DEV01\MSSQL15.V19DEV01\MSSQL\DATA\; Type=string; Writable=True; Readable=True; Expensive=False; Dirty=False; Ret

[2022-04-30 09:23] ClaudioESSilva commented on #8281
Yes, I will take a look and come back here 😊

[2022-04-30 09:32] andreasjordan commented on #8329
The parameter `-AutoCreateTable` uses the first row to "guess" the data types. So in your case you have to create the table yourself with the suitable data types.

[2022-04-30 09:32] #8329 closed

[2022-04-30 09:39] andreasjordan commented on #8328
Have a look at the code of Get-DbaFirewallRule. That might give you an idea how to handle remote debug or verbose output.

https://github.com/dataplat/dbatools/blob/e6997bfc5b472309da6498d6001f1acaf63ae2ce/functions/Get-DbaFirewallRule.ps1#L90-L148

https://github.com/dataplat/dbatools/blob/e6997bfc5b472309da6498d6001f1acaf63ae2ce/functions/Get-DbaFirewallRule.ps1#L156-L161

But let me ask: What w

[2022-04-30 10:07] andreasjordan commented on #8327
Sorry to say: It works on my maschine.

[2022-04-30 10:23] andreasjordan commented on #8312
I think this would need a change of `Update-SqlPermission` as the mappings are handled there. Maybe a new switch parameter `-NoDatabaseMapping` to skip some parts.

Maybe I find time to have a deeper look, but let's first ask the other contributors what they think.

[2022-04-30 10:46] andreasjordan commented on #8298
Thanks for the report and sorry for the delay. Fix is on its way...

[2022-04-30 10:53] andreasjordan commented on #8302
I think we can only get the size from the first file and have opened a PR for that. Or am I overlooking something?

[2022-04-30 11:28] tboggiano commented on #8327
That is sad, you can close issue if my code I gave above is correct and I'll try to figure out what mine is doing.

[2022-04-30 17:27] lowlydba commented on #8302
Yeah that should work as an approach! 👍🏻

[2022-05-01 07:58] #8327 closed

[2022-05-01 08:01] andreasjordan commented on #8292
Hi @corelevel - so can we close this issue or is there still a problem?

[2022-05-01 08:03] andreasjordan commented on #8290
I agree with @niphlod - so can we close this issue?

[2022-05-01 08:07] andreasjordan commented on #8287
So I will close this for now - but you can reopen the issue if needed.

[2022-05-01 08:07] #8287 closed

[2022-05-01 08:15] andreasjordan commented on #8283
Sorry for the delay - was on vacation. I still can not reproduce the issue in my lab. So what can we do next?

[2022-05-01 08:25] andreasjordan commented on #8276
@niphlod / @MikeyBronowski - can you have a look at this?

[2022-05-01 08:41] andreasjordan commented on #8273
Thanks for the feature request, just opened a PR for that.

[2022-05-01 08:44] andreasjordan commented on #8270
Hi @niphlod - can you have a look at this? I think you are the expert for Invoke-DbaQuery.

[2022-05-01 08:53] andreasjordan commented on #8266
I agree with the request and as the command name indicates, I would only return rows with a positive estimated_completion_time value.
What do you think @potatoqualitee ?

[2022-05-02 05:59] #8311 closed

[2022-05-02 06:00] #8316 closed

[2022-05-02 06:02] #8310 closed

[2022-05-02 06:03] #8273 closed

[2022-05-02 06:08] #8298 closed

[2022-05-02 06:53] potatoqualitee commented on #8266
yes thank you

[2022-05-02 06:54] Franky1522 commented on #8283
No problem, If you try to execute "Connect-DbaInstance -SqlInstance $Source -DedicatedAdminConnection",
Can you check your ERRORLOG and see if you receive an error?
I try it on a SQL Server Always On Cluster too and I received the same problem.

[2022-05-02 06:55] andreasjordan commented on #8283
I have done that and I receive no error.

[2022-05-02 08:56] potatoqualitee commented on #6663
added a note 📓

[2022-05-02 08:56] #6663 closed

[2022-05-02 09:22] MrRichWray commented on #8329
Still didn't work.

[2022-05-02 09:27] andreasjordan commented on #8329
What error message did you receive this time? Can you share the CREATE TABLE?

[2022-05-02 13:06] MrRichWray commented on #8329
CREATE TABLE dbo.DbaTools_InstanceProperty (
               ComputerName VARCHAR(128) NULL,
               SqlInstance VARCHAR(128) NULL,
               PropertyType VARCHAR(64) NULL,
               PropertyName SYSNAME NULL,
               [Value] VARCHAR(1024)NULL,
               [LoadDate] [datetime] NOT NULL,
               [LoadedBy] [varchar](64) NOT NULL
);
GO

ALTER TABLE dbo.DbaTools_Inst

[2022-05-02 15:47] Franky1522 commented on #8283
I dont know how i can help you to replicate the problem.

[2022-05-02 15:55] andreasjordan commented on #8283
Maybe some other contributor can help you with this. @potatoqualitee - any ideas?

[2022-05-02 16:03] andreasjordan commented on #8266
Please have a look at my PR and give feedback...

[2022-05-02 16:32] andreasjordan commented on #8256
I opened a PR for that.

[2022-05-02 17:17] ClaudioESSilva commented on #8283
hi @Franky1522

do you have more than one NIC on that server?

Can you check on the error message if the IP of the "Could not connect because...[CLIENT: **XXX.XXX.XXX.XXX**]" entry is the same that you can see on the "The dedicated administrator connection is in use by "ad\user" on "server". [CLIENT: **XXX.XXX.XXX.XXX**] ?

When connecting via dbatools I get two errors (with `::1` and the other wi

[2022-05-03 10:45] ClaudioESSilva commented on #8281
Hi @mganci350 ,

They have, when using the `New-PSSessionOption` we already have it for the `-IncludePortInSPN` parameter.

I have added support for
[code]

The full configuration names are:
[code]

The default is `$false` but you can change it using `Set-DbaToolsConfig`

Can you please test it using the https://github.com/dataplat/dbatools/tree/TrustCert_SkipCheck branch?

I have submitted PR #83

[2022-05-03 15:45] salvbing commented on #8244
What can I do to see if I am hanging on invoke-program  $ps.WaitForExit()?

[2022-05-03 16:28] andreasjordan commented on #8329
You have to cast the value to a string before using `Write-DbaDataTable`.

Use `@{ Name = "Value"; Expression = { [string]$_.Value } }` inside of `$ParamsSelectObject`.

Then it works on my lab.

[2022-05-03 17:15] MrRichWray commented on #8329
Thank you!

I tried this earlier but my cast syntax was incorrect.

Thank you thank you!
This was a very big deal for us.

Richard Wray
SQL Server/Azure Cloud Database Administrator

From: Andreas ***@***.***>
Sent: Tuesday, May 3, 2022 12:28 PM
To: ***@***.***>
Cc: Richard ***@***.***>; ***@***.***>
Subject: Re: [dataplat/dbatools] Get-DbaInstanceProperty - Error Writing to a Database Table (Issu

[2022-05-03 18:02] mattcargile commented on #8244
Uh. You could run the function in debug mode in VS Code or in the shell with `Set-PSBreakpoint`.

[2022-05-03 19:56] #8281 closed

[2022-05-04 07:45] mwgevans115 opened #8337 "New-DbaDbTable doesn't validate table names or work with two part names"
### Verified issue does not already exist?

Yes

### What error did you receive?

Table objects created with invalid names

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell Core (pwsh.exe)

### PowerShell Host Version

Name                           Val

[2022-05-04 08:30] niphlod commented on #8337
may I ask "invalid how" ? i.e. what happened vs what you expect .

[2022-05-04 09:20] mwgevans115 commented on #8337
It created a table with the square brackets in the name. I would expect them to be removed.
It also created a table with name "[schema].[table name]" I would expect this to have the brackets removed and be separated into schema and table.
I didn't try a three part name, but assume this also wouldn't work as expected.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________

[2022-05-04 12:12] niphlod commented on #8337
Hum, I don't think we expect neither support to have names quoted by square brackets, you need to use the "bare string" .... powershell doesn't need escaping for strings so why should this command ? (Also, what if you want to create a table name containing brackets? We'd have to calculate escapes beforehand and we really don't need the added complexity, at least for the usecases so far).

So, not

[2022-05-04 12:29] mwgevans115 commented on #8337
OK, I used it because I pass the same variable into queries as table name, and other statement.

As to if it is a bug, it is certainly inconsistent with other functions such as Get-DbaDBTable. If you run the following code twice it fails.

$Database = 'Database'
$Table = '[T1]'
If (Get-DbaDbTable -SqlCredential $SourceCredentials -SQLInstance $SourceInstance -Table $Table -Database $Database) {

[2022-05-04 15:37] niphlod commented on #8337
hum, yeah but you're using the same stringed variable for totally different needs.
Get-DbaDbTable is a bit more flexible letting you pass to -Table the quoted names (if you don't want to specify -Schema separately) but surely works even without brackets. It is made so because it basically encapsulates the "find me this" functionality.

Once you use Get-DbaDbTable to "find" it, you should use its p

[2022-05-04 21:17] niphlod commented on #8337
ah right, it's the other way around. But then .... is Get-DbaDbTable not working with the unescaped table ?

[2022-05-05 07:13] PowerDBAKlaas commented on #8298
Thank you, @andreasjordan
don't apologize, you're making a huge difference! We're glad and thankful for the massive contribution.

[2022-05-05 08:12] mwgevans115 commented on #8337
Yes, Get-DbaTable works with both escaped and unescaped table names, and with two part names.

I tend to always use escaped names having previously got my fingers burned without. As I say it is possible to work around the issue, but I just kind of expected the same approach to parameters across the module.

[2022-05-05 08:53] niphlod commented on #8337
ok, now I get it. I think it should be doable give we already abstracted away the parsing on Get-ObjectNameParts .

[2022-05-05 12:52] chuckh1958 opened #8338 "Get-DbaRegServer error if -SQLCredential is a Windows Account"
### Verified issue does not already exist?

Yes

### What error did you receive?

InvalidOperation: C:\Program Files\PowerShell\Modules\dbatools\1.1.89\allcommands.ps1:56134:17
 Line |
56134 |  …             $servers += ($serverstore.DatabaseEngineServerGroup.GetDe …
      |                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      | You cannot call a method on a null-valued e

[2022-05-05 12:55] chuckh1958 commented on #8338
Get-Module DBATools | select Version

Version
-------
1.1.89

[2022-05-05 15:04] salvbing commented on #8328
I am having issues in Invoke-Program with Update-DbaInstance.  Can I  copy/create my own function Invoke-Program that would be used and I could get into debug there?
How long is the $ps.WaitForExit() going to wait?

[2022-05-06 14:56] andreasjordan commented on #8328
You would have to change the code in the module folder before loading the module. Normally, only allcommands.ps1 is loaded, so you have to change that. Better option is to fork the repo to your github account, modify the code there and checkout to the target server. Then import that code, because when the import sees the .git directory, it uses the indivudual files with the commands.

But this goe

[2022-05-06 15:15] andreasjordan commented on #8338
The command uses the following code:
[code]

The error is raised in the last line, so `$serverstore.DatabaseEngineServerGroup` seems to be `$null`. Can you run the code and see if this raises the same error and then have a look at `$serverstore.DatabaseEngineServerGroup` and `$serverstore`.

I hope that helps us find the root cause.

[2022-05-06 15:37] andreasjordan commented on #8251
Just coded that - can you test it?

[2022-05-06 16:20] andreasjordan commented on #8245
The command `New-DbaComputerCertificate` uses simmilar code, main difference are the X509KeyStorageFlags when using the Import() method: Add- uses ` [System.Security.Cryptography.X509Certificates.X509KeyStorageFlags]::DefaultKeySet` (line 110) while New- uses `"Exportable,PersistKeySet"` (line 366).

But there is an open issue #8252 with a suggestion to change that.

So best way would be to find a

[2022-05-06 16:23] andreasjordan commented on #8241
We shipped some updates so this is probably not the case anymore. So I will close this.

[2022-05-06 16:25] andreasjordan commented on #8217
Let me close this for now, but we can reopen if needed.

[2022-05-06 16:25] #8217 closed

[2022-05-06 16:41] andreasjordan commented on #8202
As we use NVARCHAR in Write-DbaDbTableData, I think we should do the same in Import-DbaCsv...

[2022-05-06 16:43] andreasjordan commented on #8202
And the documentation already talks about nvarchar(max)...

[2022-05-06 18:35] chuckh1958 commented on #8338
I got the error on the last line.

PS >$instance="IT-DB-P-04"
PS > $me=Get-Credential

PowerShell credential request
Enter your credentials.
User: mydomain\myuser
Password for user mydomain\myuser: **********

PS > $serverstore = Get-DbaRegServerStore -SqlInstance $instance -SqlCredential $me
PS > $serverstore.DatabaseEngineServerGroup.GetDescendantRegisteredServers()
InvalidOperation: You cannot

[2022-05-07 21:25] lowlydba opened #8345 "Add-DbaAgReplica: Add SessionTimeout param"
### Verified issue does not already exist?

Yes

### What error did you receive?

Not error, just a disparity between Set-DbAgReplica which allows for configuring this, and Add-DbaAgReplica which does not.

### Steps to Reproduce

N/A

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

PowerShell

[2022-05-08 15:25] #8193 closed

[2022-05-08 15:25] #8202 closed

[2022-05-08 15:26] #8218 closed

[2022-05-09 09:48] AdieBe opened #8449 "https://docs.dbatools.io/Get-DbaMemoryCondition out of date URL"
The URL in this command reference
https://support.microsoft.com/en-us/help/918483/how-to-reduce-paging-of-buffer-pool-memory-in-the-64-bit-version-of-sq
is redirected to
https://docs.microsoft.com/en-US/sql/relational-databases/errors-events/mssqlserver-17890-database-engine-error?view=sql-server-ver15

The redirect URL does not contain a reference to the command.
I found a reference to the T-SQL

[2022-05-09 17:25] vanillagranilla commented on #8251
Tested successfully.

[2022-05-10 07:22] #8345 closed

[2022-05-10 09:46] andreasjordan commented on #8338
Ok, so this looks like there are no registered servers. That is nothing dbatools can do anything about.

[2022-05-10 09:52] andreasjordan commented on #8338
To get the information, `Get-DbaRegServerStore` does this:

[code]

Maybe there is an issue when using windows authentication.

Can you run the powershell session under the windows user you would like to connect with? Then you don't need the -SqlCredential parameter.

[2022-05-10 10:00] andreasjordan commented on #8338
Maybe I found a solution.

Can you please run this and see if it works?
[code]

[2022-05-10 10:00] andreasjordan commented on #8338
Difference is that we change `$server.ConnectionContext.SqlConnectionObject` to `$server.ConnectionContext`.

[2022-05-10 10:05] andreasjordan commented on #8328
Hi @rickobsitnik - is there anything we can do here? Otherwise I would like to close this issue.

[2022-05-10 12:23] #8251 closed

[2022-05-10 12:33] salvbing commented on #8328
Wish I could set $ps.WaitForExit() to 15 minutes.

[2022-05-10 12:42] #8313 closed

[2022-05-10 13:54] andreasjordan commented on #8338
Ok, I'll open a PR for that.

[2022-05-10 16:54] chuckh1958 commented on #8338
Thank you. Hopefully update-module will be fixed by then too. I tried to run it for dbatools but get an error that it can’t find the NuGet package provider even though I can see that version 2.8.5.208 is installed.

From: Andreas Jordan ***@***.***>
Sent: Tuesday, May 10, 2022 9:55 AM
To: dataplat/dbatools ***@***.***>
Cc: Hamilton, Chuck ***@***.***>; Author ***@***.***>
Subject: Re: [dataplat/db

[2022-05-10 20:11] lowlydba opened #8349 "Set-DbaAgentSchedule: Update FrequencySubdayType options"
### Verified issue does not already exist?

Yes

### What error did you receive?

It looks like the parameter validation updates from https://github.com/dataplat/dbatools/issues/6636 / https://github.com/dataplat/dbatools/pull/6872 never made it into Set-DbaAgentSchedule, so it still doesn't accept some of the values output by Get-DbaAgentSchedule.

### Are you running the latest release?

Yes

[2022-05-11 09:20] #8338 closed

[2022-05-11 09:22] #8256 closed

[2022-05-11 17:33] andreasjordan commented on #8328
Ok, here is the doumentation: https://docs.microsoft.com/de-de/dotnet/api/system.diagnostics.process.waitforexit?view=net-6.0

So we could use WaitForExit(Int32) to have a timeout.

But @salvbing - can you open a new feature request for that?

[2022-05-16 06:23] potatoqualitee commented on #8281
Thanks again for this claudio 🙇🏼

[2022-05-16 10:16] potatoqualitee commented on #7515
sometimes stuart gets free cycles, let's hold off to closed this until that time comes up.

[2022-05-16 10:43] #7882 closed

[2022-05-16 10:44] potatoqualitee commented on #7882
I loved the suggestion and added it as an Example -- i think a lot of ppl will find this handy. Works on both remote and local. Thank you including the solution from @andreasjordan as well.

I did accidentally push to Development. If anything fails, I'll create another PR and fix it before next release.

[2022-05-16 10:56] potatoqualitee commented on #8245
thanks for the tips, @andreasjordan -- i've submitted a PR for each of the commands listed in the issues.

[2022-05-16 10:57] ksl28 opened #8354 "[Copy-DbaCredential] Failed to decrypt credentials on"
### Verified issue does not already exist?

Yes

### What error did you receive?

PSMessageDetails      :
Exception             : System.Exception: Exception calling "Open" with "0" argument(s): "A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL S

[2022-05-16 13:08] ksl28 opened #8355 "Sync-DbaAvailabilityGroup: You cannot call a method on a null-valued expression"
### Verified issue does not already exist?

Yes

### What error did you receive?

If i execute Sync-DbaAvailabilityGroup, it runs through all the checks, but then fails at the end with "Sync-DbaAvailabilityGroup: You cannot call a method on a null-valued expression"

Ive tested with both specifying the credential set, and using Windows Integrated login.

PSMessageDetails      :
Exception

[2022-05-16 20:29] tfrijsewijk commented on #8195
I'm having similar errors when running DBATools from a Windows Docker container.

[code]

[2022-05-17 11:07] #8245 closed

[2022-05-17 12:04] #8303 closed

[2022-05-17 13:25] #8302 closed

[2022-05-18 07:40] kborowinski opened #8357 "Import module fails with concurrent update on non-concurrent collection exception"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

I have infrastructure testing module that requires *dbatools* and thus imports it in module manifest:
![image](https://user-images.githubusercontent.com/16168755/168983789-7e39488a-337f-4695-bd9b-8a5e60148db5.png)

 The problem is that once a while (like 1 in 10 times) I get following

[2022-05-18 13:03] pshorechip opened #8358 "Size data without labels Get-DbaDBSpace and Get-DBABackupHistory"
### Summarize Functionality

Please add a switch such as -RawSize to DBADbSpace and DBABackupHistory which would allow for the output of the various size columns to come without a text label, reporting the size in KB is fine as a default. This would allow for the easy import of the data into a spreadsheet or database without having to strip off the label. Additionally, this would allow us to combi

[2022-05-18 14:57] kborowinski commented on #8357
It just happened again, this time on *PowerShell Core 7.2.4*:
![pwsh_7_2_4_dbatools_exception](https://user-images.githubusercontent.com/16168755/169072418-b64024ba-de2d-4da8-a1fd-8cf84387288c.jpg)

Exception:
[code]

[2022-05-18 18:38] mattcargile opened #8359 "Update `Microsoft.Identity.Client.dll` From `4.14` To Newer Version"
### Summarize Functionality

When importing `dbatools` prior to `MicrosoftPowerBIMgmt` ( uses v`4.25` ) or `PnP.PowerShell` ( uses v`4.36` ), `pwsh` loads the [`4.14` version ](https://github.com/dataplat/dbatools/blob/development/bin/smo/coreclr/Microsoft.Identity.Client.dll)and then I am not able to connect. See [this issue](https://github.com/microsoft/powerbi-powershell/issues/308) on the Powe

[2022-05-19 07:13] conseilit commented on #6960
Hi
I've the same issue with version 1.1.95.
The action is InstallFailoverCluster and the same error is returned.
The setting 'AGTSVCSTARTUPTYPE' is not allowed when the value of setting 'ACTION' is 'InstallFailoverCluster'.

I tried to update the ps1 file to remove the two parameters, for SQL Server and for the SQL Agent, the problem still occurs.

[2022-05-19 07:24] andreasjordan commented on #6960
Can you provide all parameters that you use with Install-DbaInstance?
Any maybe have a look at: https://github.com/dataplat/dbatools/discussions/7447

[2022-05-19 07:50] conseilit commented on #6960
Yes, I've seen the 7447 page.

$paramsInstallFailoverCluster = @{
    SaveConfiguration     = 'D:\InstallScripts'
    ComputerName          = $SQL1
    InstanceName          = $clusterSqlInstance

    Configuration      = @{
        ACTION                     = 'InstallFailoverCluster'
        FAILOVERCLUSTERNETWORKNAME = $clusterSqlName
        FAILOVERCLUSTERDISKS       = "DataSQL"
        FAILO

[2022-05-19 07:56] andreasjordan commented on #6960
Are you sure running the lastest release?

This is the relevant code:

[code]

So AGTSVCSTARTUPTYPE is only set, if $Configuration.ACTION is not set.

So I assume that you are not running the correct code. What does `Get-Module dbatools` return?

[2022-05-19 09:23] conseilit commented on #6960
That's correct.

![image](https://user-images.githubusercontent.com/35958968/169244423-cb44eb48-438f-4f71-9392-1479a30083c8.png)

Looking at the summary.txt file, the action is set. And also the startup type.
User Input Settings:
  ACTION:                        InstallFailoverCluster
  AGTDOMAINGROUP:                <empty>
  AGTSVCACCOUNT:                 Conseilit\gMSAprevoir
  AGTSVCPASSWORD:

[2022-05-19 10:47] andreasjordan commented on #6960
I just this morning installed a failover cluster at a client - so "works on my maschine". So I'm out of ideas at the moment.

[2022-05-19 11:37] conseilit commented on #6960
I'm also very confused.
Finally, I succeed to install the FCI, but not with gMSA, not the deal here.
I’ve added the following lines of code just after the check to support the FCI.

                 if ($Configuration.ACTION -in 'PrepareFailoverCluster', 'InstallFailoverCluster') {
                    $config.$mainKey.Remove('AGTSVCSTARTUPTYPE')
                    $config.$mainKey.Remove('SQLSVCS

[2022-05-19 22:41] patgag opened #8360 "Invoke-DbaQuery -QueryTimeout 0 : Timeout seems to be fixed at 10 minutes no matter what we do"
### Verified issue does not already exist?

Yes

### What error did you receive?

We use Invoke-DbaQuery in Azure automation and we specify that we don't want any timeout (-QueryTimeout paremeter). The execution is raising a timeout after 10 minutes.
Error message is:
[21:54:47][Invoke-DbaQuery] [xxxxx.database.windows.net] Failed during execution | The wait operation timed out

Just so you know,

[2022-05-20 06:46] niphlod commented on #8360
hi @patgag , are you sure you're on a supported plan of Azure functions that can last more than 10 minutes ? The serverless one [has an imposed timeout of 10 minutes](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout), nothing to do with dbatools.

[2022-05-20 16:59] WeyardWiz commented on #5278
@sanderstad hey Sander, is there any update to this? I really would like logshipping solution to azure blob storage, and this dbatools cmdlet would be just perfect if it has option to store not just to a file share (e.g. network drive), but to azure blob storage as well. let us choose the storage option, this would literally make the cmdlet a masterpiece! Ive also [requested](https://github.com/da

[2022-05-20 19:49] patgag commented on #8360
Well, I'm not the technical resource in this but I know one thing for sure:
1. We tried putting a 2 hours timeout instead of 0 (-QueryTimeout parameter) and it worked
2. We tried rolling back to a previous version with query timeout 0 and it worked too

So, if the same environment and the same code work for a previous version and not the lastest one, it might has a breaking change.
We are not usin

[2022-05-21 04:33] potatoqualitee commented on #7763
hey weyard! generally, sander takes care of this set of commands, i'll ping him and see whats up.

[2022-05-21 05:45] j0nathontayl0r commented on #8195
Adding my own experience with this bug, though I'm not certain it's the same. I'm configuring a Windows SQL build using Packer which uses WinRM to invoke commands against a remote server.

During the `Import-Module "dbatools"` command through WinRM. I get:

[code]

[2022-05-22 23:10] techvslife commented on #8014
@potatoqualitee It's staggering the amount of uncompensated (and inadequately acknowledged!) work that goes into this project!
@wsmelton Thanks, that would be a great solution. My understanding is that if one is using a .net 6 based powershell (such as the latest powershell 7.x versions), only the updated DacFX dlls will work. (I'm less clear on what happens with smo.)

[2022-05-23 07:13] potatoqualitee commented on #8014
oh, @techvslife -- sorry I should have reported. This is now fixed and can be found in the latest version. Works for Windows, Mac and Linux.

[2022-05-23 07:14] #8014 closed

[2022-05-23 13:24] StefanC162 opened #8362 "Find-DbaOrphanedFile not working as expected when file name start with a space"
### Verified issue does not already exist?

Yes

### What error did you receive?

The file is listed as orphaned and the leading space in the file name is removed in the output.
But the files is not orphaned (the database is ONLINE).

### Steps to Reproduce

Create a database where the datafile has leading space.

### Are you running the latest release?

_No response_

### Other details or mention

[2022-05-23 16:58] ClaudioESSilva commented on #8362
Hi @StefanC162 thanks for the report.
I can confirm it, it happens with lead or trailing spaces.

The problem happens because we are trimming the spaces from the filename here:

https://github.com/dataplat/dbatools/blob/39edb63d6d8808230f282a4c8b4d1a4d3c6feb15/functions/Find-DbaOrphanedFile.ps1#L132

If we remove this line, the match will happen and the data file won't appear anymore (as long as t

[2022-05-23 17:43] ClaudioESSilva commented on #8349
Hi @lowlydba thanks for reporting it!

I will submit a fix 😃

[2022-05-23 18:29] ClaudioESSilva commented on #8358
Hi @pshorechip ,

dbatools has many configurations that allow each user to adjust them to their needs.
The output of the sizes is one of those.

For your case, you can achieve the result by setting the `formatting.size.style` configuration to `Plain`
[code]

Then you can rerun the command and you will see the value without the label.

Make sure you read this blog post https://dbatools.io/size/ to

[2022-05-23 18:31] pshorechip commented on #8358
Thank you!

From: Cláudio Silva ***@***.***>
Sent: Monday, May 23, 2022 2:30 PM
To: dataplat/dbatools ***@***.***>
Cc: Peter Shore ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [dataplat/dbatools] Size data without labels Get-DbaDBSpace and Get-DBABackupHistory (Issue #8358)

Hi @pshorechip<https://urldefense.com/v3/__https:/github.com/pshorechip__;!!F-_fg4Nv8w!XqMI8UFfnViSo250qGI4GfH

[2022-05-24 06:42] #8362 closed

[2022-05-24 09:59] ClaudioESSilva opened #8366 "Get-DbaUserPermission - collation conflict"
### Verified issue does not already exist?

No

### What error did you receive?

WARNING: [21:18:24][Get-DbaUserPermission] Failed to create or use STIG schema for database [Collation] on
localhost | Cannot resolve the collation conflict between "Latin1_General_CI_AI" and
"SQL_Latin1_General_CP1_CI_AS" in the equal to operation.

### Steps to Reproduce

1. Create a new database with a collation th

[2022-05-24 11:48] #8349 closed

[2022-05-24 12:05] #8366 closed

[2022-05-24 13:19] ksl28 opened #8368 "Register-DbatoolsConfig dont register in Registry"
### Verified issue does not already exist?

Yes

### What error did you receive?

There is no error output, but config is never applied.

Execute the following commands to replicate
Set-DbatoolsConfig -FullName logging.errorlogenabled -Value $false | Register-DbatoolsConfig -Scope SystemMandatory
Get-DbatoolsConfig -FullName logging.errorlogenabled
_The value is now False, close your Powershell co

[2022-05-24 14:42] AvdbergDB opened #8369 "DBADacOption Bacpac Publish uses invalid typeName Microsoft.SqlServer.Dac.DacImportOptions"
### Verified issue does not already exist?

No

### What error did you receive?

I cant use the needed options using dbatools, because the wrong typename is used (importoptions, which have nothing to do with publishing a dacpac or bacpac file!). The correct typename should be DacDeployoptions.
The same error is also present in publish-dbadacpackage:
when used together we get a not so nice error:

[2022-05-24 14:48] andreasjordan opened #8370 "New-DbaDbUser - Failed to add user to msdb"
### Verified issue does not already exist?

Yes

### What error did you receive?

"Error occurred while establishing a connection to msdb"

### Steps to Reproduce

[code]

### Are you running the latest release?

Yes

### Other details or mentions

_No response_

### What PowerShell host was used when producing this error

Windows PowerShell (powershell.exe)

### PowerShell Host Version

-

### SQ

[2022-05-24 14:48] andreasjordan commented on #8370
Will have a look later...

[2022-05-24 14:48] andreasjordan commented on #8370
Workaround `Invoke-DbaQuery -SqlInstance $sqlInstance -Database msdb -Query "CREATE USER [test]"` worked.

[2022-05-24 17:07] andreasjordan commented on #8370
This is the code that throws:

[code]

So it's definitly a wrong error message. It should be only a warning, if any.

[2022-05-25 00:55] jakub-auger opened #8371 "Connect-DbaInstance with universal MFA using a user@domain login not working"
### Verified issue does not already exist?

No

### What error did you receive?

Error connecting to [xxxxxxxxx-ondemand.sql.azuresynapse.net]: Windows logins are not supported in
this version of SQL Server.

### Steps to Reproduce

set up an azure db (eg synapse serverless) using AAD interactive as the authentication type
the docs say to use Connect-DbaInstance when using AD with universal MFA bu

[2022-05-25 07:30] andreasjordan commented on #8370
There are even more issues with this command, maybe I completly refactor the command...

@OsirisDBA: As you are the author - would you like to be involved? Do you have time to look at the code?

[2022-05-25 09:30] andreasjordan commented on #8370
Started the refactoring...

[2022-05-25 14:48] robison-scott opened #8373 "Pathing issue when using DBAtools from Ubuntu"
### Verified issue does not already exist?

No

### What error did you receive?

I have redacted the domain, but here is the debug output

DEBUG: [14:29:13][Connect-DbaInstance] Starting process block
DEBUG: [14:29:13][Connect-DbaInstance] Immediately checking for Azure
DEBUG: [14:29:13][Test-Azure] Test for Azure is negative
DEBUG: [14:29:13][Connect-DbaInstance] Starting loop for 'S02.DOMAIN.LOC

[2022-05-25 14:55] nathanlbell opened #8374 "Write-DBADBDataTable Throwing error: Cannot find an overload for "SqlBulkCopy" and the argument count: "3"."
### Verified issue does not already exist?

Yes

### What error did you receive?

New-Object : Cannot find an overload for "SqlBulkCopy" and the argument count: "3".
At C:\Program Files\WindowsPowerShell\Modules\dbatools\1.1.88\allcommands.ps1:85143 char:21
+ ... $bulkCopy = New-Object Microsoft.Data.SqlClient.SqlBulkCopy($server.C ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-05-25 15:46] nathanlbell commented on #8374
Last known working issue was in 1.1.15 any version 1.1.16 and above throws the error.

[2022-05-25 15:51] potatoqualitee opened #8375 "Connect-DbaInstance does not work in Core when installed on a server with 2022"
### Verified issue does not already exist?

Yes

### What error did you receive?

[code]

### Steps to Reproduce

1. Install SQL Server 2022 CTP
2. Install PowerShell Core
3. Install dbatools

Connect-DbaInstance localhost

### Are you running the latest release?

Yes

### Other details or mentions

Works in 5.1, works on a machine w/o 2022 installed, works after 2022 is uninstalled

### What Powe

[2022-05-25 15:55] potatoqualitee commented on #8375
This seems to be an issue with 2022 and not us

[code]

i dont understand enough to say

[2022-05-26 04:21] WeyardWiz commented on #7763
Thanks Chrissy, any update from sander?

[2022-05-26 08:25] potatoqualitee commented on #7763
yes, sorry. he said it's a great idea but will take a lot of work and changes so may take a bit. @jpomfret -- I believe you recently wrote about this topic, any interest in adding some blog storage support?

[2022-05-26 08:42] jpomfret commented on #7763
Hey @potatoqualitee - I would love to, a little swamped with Grillen & PSConfEU at the moment, but I'll chat with Sander and see what we can do :)

[2022-05-26 10:09] sanderstad commented on #7763
@jpomfret Let's do that!

@WeyardWiz Sorry for not replying earlier but it's been pretty busy and this change is going to take some work but we'll work on it :)

[2022-05-26 13:39] #7812 closed

[2022-05-26 21:07] #8370 closed

[2022-05-28 02:46] WeyardWiz commented on #7763
Awesome thanks, looking forward to it guys!

[2022-05-29 18:38] tboggiano commented on #6444
I'm going to start actively working on this.  @andreasjordan I've been told you are to ask questions on AGs.

[2022-05-29 18:40] techvslife commented on #8014
@potatoqualitee Thanks, I confirm this all works now!

[2022-05-30 09:13] andreasjordan commented on #6444
Yes, I would be happy to help.

[2022-05-31 13:22] potatoqualitee commented on #8374
Interesting, thank you for the report. The thing that changed between the two versions was:

[code]

to
[code]

Zero idea why your specific environment is having issues. What type of authentication are you using?

I will put in a throw/catch. That should fix it /cc @andreasjordan

[2022-05-31 13:25] andreasjordan commented on #8374
Maybe an issue with the version of the (already) loaded dll - we had this some time ago and I'll try to find the code to analyse this...

[2022-05-31 13:28] potatoqualitee commented on #8374
Agreed - @nathanlbell can you close PowerShell entirely and try with each of the versions with a freshly closed/reopend window?

[2022-05-31 13:34] potatoqualitee commented on #8374
hmm yeah, looks like it was updated to show a warning in 1.1.72

https://github.com/dataplat/dbatools/commit/57e3715bf351448a1ecd683085d74c637e03aea6

[2022-05-31 14:00] AbdulRehman1982 opened #8379 "Skip Monitor server configuration in Invoke-DbadbLogshipping"
### Summarize Command's Functionality

Dear sir,

how I can skip or uncheck monitor server configuration while invoke-Dbadblogshipping command

### Is there a command that is similiar or close to what you are looking for?

Yes

### Technical Details

how I can skip or uncheck monitor server configuration while invoke-Dbadblogshipping command

[2022-05-31 17:58] consciouspnm opened #8380 "Get-DbaAgHadr has issues if a default instance (non named)"
### Verified issue does not already exist?

Yes

### What error did you receive?

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Exception: The network path was not found ---> Microsoft.Data.SqlClient.SqlException: A network-related or instance-specific error occurred while
                        establishing a connection to SQL Server. The server was not foun

[2022-05-31 19:09] lowlydba commented on #8195
To add some more interesting data - I've got a github workflow that has a matrix for sql server versions. The only difference between the two jobs is that one is using SQL 2017 and the other SQL 2019. I only get a problem on the 2017 version:

https://github.com/lowlydba/dba-multitool/actions/runs/2417094275

[code]

[2022-05-31 21:46] consciouspnm commented on #8380
MSSQLSERVER is the name of the default, non named instance, so SSMS connects with just the server name. I’ll try your query when I get in tomorrow but I tried local host and the server name and while they didn’t error as dns resolved them, the output didn’t seem correct. I.e didn’t have any reference to hadr

[2022-06-01 06:22] potatoqualitee commented on #8380
Correct, in dbatools as well. For instance, this is not valid:

![image](https://user-images.githubusercontent.com/8278033/171340342-2071e2e4-db32-468d-a6aa-0bc7d3a2ee51.png)

When you type `Get-DbaAgHadr -SqlInstance MSSQLSERVER` that's essentially what you are doing.

localhost may work, depending on your certificate setup. it doesn't on my machine, for instance. here's the output you should see

[2022-06-01 10:06] consciouspnm commented on #8380
There are inconsistencies in the instance naming between commands
If I install sql with `$Result = Install-Dbainstance -Version 2019 -Path $SQLMedia -InstanceName $SQLInstance `

then if $SQLInstance is the server name (SERVERA) I get an instance called SERVERA\SERVERA, If $SQLInstance is MSSQLSERVER I get a default instance so can connect via SSMS to just the server name.  In SQL Config Manager t

[2022-06-01 12:27] potatoqualitee commented on #8380
Thank you. It can be confusing, but a default instance is indeed called `MSSQLSERVER` under the hood. We generally don't need to care about that detail and we just call the machine by its hostname when trying to connect. For example, `server01` or `server02`. SQL Server will respond on port 1433 when it's a default instance.

A named instance is when a SQL Server instance is installed with a speci