[2019-05-29 16:35] potatoqualitee commented on #5636
manually maintained. When i add a new command to the index, i test to see if it works then add it to a specific export collection. so if its xplat, then it works on linux, if it's just in the windows collection, then it's windows only.

[2019-05-29 16:45] wsmelton commented on #5636
Do you want to use the tags to accomplish this?

[2019-05-29 16:53] potatoqualitee commented on #5636
Yeah i think we have to

[2019-05-29 17:34] potatoqualitee opened #5637 "[Bug] New-DbaComputerCertificate -SelfSigned throws error"
![image](https://user-images.githubusercontent.com/8278033/58578273-b2c4aa00-8248-11e9-9bd7-a45b267469a2.png)

] C:\WINDOWS\system32> New-DbaComputerCertificate -SelfSigned
Get-DbaCmObject : A positional parameter cannot be found that accepts argument 'Win32_OperatingSystem'.
At C:\github\dbatools\functions\New-DbaComputerCertificate.ps1:132 char:41
+ ... lishCodes -notcontains (Get-DbaCmObject Wi

[2019-05-29 18:05] potatoqualitee opened #5639 "Support DocumentEncryptionCert for AlwaysEncrypted"
in new-dbacomputercertificate. sholdnt be too hard

[2019-05-29 18:08] zippy1981 commented on #5639
We probably just want the two extensions here:

[code]

More color commentary here: https://justdaveinfo.wordpress.com/2015/10/15/always-on-encrypted-generating-certificates-and-column-encryption-key-encrypted_value/

[2019-05-29 18:11] #5637 closed

[2019-05-29 18:14] rubens-mosaic opened #5640 "RESOLVED! / dbatools.Types.ps1xml cannot be loaded because its operation is blocked by software restriction policies, such as those created by using Group Policy."
Hi guys,

A long, long... LONG time ago I encountered a problem that's taken me forever to resolve so I wanted to post the fix.  In a nuthsell, I was getting dbatools specific errors similar to this.  "Find-DbaCommand : The 'Find-DbaCommand' command was found in the module 'dbatools', but the module could not be loaded. For more information, run 'Import-Module dbatools'."

When I tried importing t

[2019-05-29 20:06] potatoqualitee commented on #5640
Thank you so much for letting googlers know! I have somenoe right now with a similar issue that i'm about to point them here, see if it helps 💯

[2019-05-29 20:06] #5640 closed

[2019-05-29 20:18] #5634 closed

[2019-05-29 20:18] potatoqualitee commented on #5634
will be resolved in 1.0, which will be released in 20 days 💯

[2019-05-30 09:42] #5632 closed

[2019-05-30 10:02] potatoqualitee commented on #5213
🏆 🏆 🏆 🏆 🏆 🏆 vv

[2019-05-30 10:02] #5213 closed

[2019-05-30 10:41] potatoqualitee opened #5647 "Backup/Restore - standardize Path / FilePath but leave in aliases"

[2019-05-30 10:59] potatoqualitee commented on #5370
this has been fixed in the prerelease branch and will be available when we go 1.0 on June 20 👍

[2019-05-30 10:59] #5370 closed

[2019-05-30 11:07] potatoqualitee commented on #5647
restore was already done! backup has been addressed in latest PR

[2019-05-30 11:07] #5647 closed

[2019-05-30 12:32] michalporeba opened #5650 "Greedy AG creation - again"
### Environmental information

[code]

#### SQL Server:
[code]

### Report

`New-DbaAvailabilityGroup` again pulls in all databases to a newly created availability group if no specific databases were provided. This was solved previously in #5075

#### Errors Received

There are no errors

#### Steps to Reproduce

Run something like this
`New-DbaAvailabilityGroup -Primary mytestinstance -Name TestA

[2019-05-30 12:39] potatoqualitee commented on #5650
fixing in dev and pushing out momentarily to gallery

[2019-05-30 12:46] potatoqualitee commented on #5650
Sorry about that. I believe what happened wa the PR was pushed to master and I did not notice, nor did I sync it back to Dev, so it only ever existed in master. Getting this fixed immediately then will ensure it's in `prerelease`. if you could write a regression test, that would be 🙇

[2019-05-30 12:54] michalporeba commented on #5650
I have a fix with some extra unit tests to make sure it stays fixed

[2019-05-30 12:59] michalporeba commented on #5650
You are way too fast for normal people :). Thank you.

Let's see if my integration tests work, I cannot run them locally at the moment so I'm waiting to hear back from the build pipeline.

[2019-05-30 13:02] potatoqualitee commented on #5650
🐰 🚤  ;) Thank you!

[2019-05-30 13:51] potatoqualitee commented on #5650
now in master/gallery 💯

[2019-05-30 13:51] #5650 closed

[2019-05-30 16:41] njordur commented on #5631
Yes I can make it working in T-SQL
``
CREATE DATABASE MIRRORED_DATABASE_SS ON
( NAME = MIRRORED_DATABASE_data,
 FILENAME = 'I:\SQLDATA\MIRRORED_DATABASE_SnapShot.ss')
AS SNAPSHOT OF MIRRORED_DATABASE;
``

I think the problem is when New-DbaDbSnapshot tries to create it its checking if the database in question is accessible. A mirrored database is of course never directly accessible but can be snap

[2019-05-30 17:32] potatoqualitee commented on #5631
excellent info, thank you!

[2019-05-30 18:52] potatoqualitee opened #5653 "force encryption commands still have blueoutput"
change to write progress helper

[2019-05-30 19:04] zippy1981 commented on #1292
Doing #5639 brings us closer to this.

[2019-05-30 19:12] zippy1981 commented on #1292
The thing is the sqlerver module makes the CMKs, CEKs and encrypts the columns. So what do we want to achieve?

* [ ] Get an unencrypted CEK from the DB
* [ ] Get-DbaColumnMasterKeys should query sys,column_master_keys and see if it can retrieve the key (and have a -IncludeCert to actually include the Cert as a property
* [ ] Invoke-DbaRotateCMK would take a Certificate or CMK as a parameter, rota

[2019-05-30 21:48] #5341 closed

[2019-05-31 00:23] potatoqualitee opened #5657 "[Bug] Invoke-DbaDbDataMasking / Config not working?"
i dont know if it's just my laptop but I am having a hell of a time getting things to work.

Can you try this against AdventureWorks2014?

Specifically, BirthDate and
[code]

[code]

Issues are:

WARNING: [02:20:37][Get-DbaRandomizedValue] Invalid randomizer sub type

And the Progress Bar does not advance.

Remove  the BirthDate column, then I get a constraint error.

Also, if I cancel the command

[2019-05-31 00:25] ClaudioESSilva commented on #4938
After talking with @potatoqualitee , we think that 2 different tables (different definitions) piped should not be support (at least right now).

However the example that @wabby80 shared should work! it's the same table definition so it should work!

If you guys can give it a try would be nice :-)

[2019-05-31 00:39] potatoqualitee commented on #5657
tried from demo as well - restored db using restore-dbadatabase then renamed and ran WWI_Masked2_Corrected.tables.json.
![image](https://user-images.githubusercontent.com/8278033/58673758-1fc16800-834d-11e9-8a15-adac01dfcc00.png)

[2019-05-31 01:01] potatoqualitee commented on #5657
this one too? is it just me?
![image](https://user-images.githubusercontent.com/8278033/58674508-6ebccc80-8350-11e9-9b63-94fec95b90a1.png)

[2019-05-31 01:12] potatoqualitee commented on #5422
here are the impacted files (probably)

maybe just throw in an `if ($force) { $ConfirmationPreference = "None" }` ?

[code]

[2019-05-31 01:14] potatoqualitee opened #5658 "[Bug] whatif issue with stop-dbaprocess"
[code]

[2019-05-31 01:17] wsmelton commented on #5422
Seems to be only way around it...

https://powershell.org/forums/topic/proper-use-of-confirmimpact-and-a-force-parameter/

[2019-05-31 01:35] potatoqualitee commented on #5653
done 💯

[2019-05-31 01:36] #5653 closed

[2019-05-31 01:51] potatoqualitee commented on #5446
@ClaudioESSilva - can you test if your fix fixes this?

[2019-05-31 07:49] dczarny commented on #5446
It did. I haven't had any issues since piping directly to it.

Thank you,
Derek Czarny

________________________________
From: Chrissy LeMaire <notifications@github.com>
Sent: Thursday, May 30, 2019 8:51:19 PM
To: sqlcollaborative/dbatools
Cc: dczarny; Mention
Subject: Re: [sqlcollaborative/dbatools] ConvertTo-DBATable and Write-DBADbTableData not writing data to table (#5446)

@ClaudioESSilva<htt

[2019-05-31 08:48] #4938 closed

[2019-05-31 08:48] #5658 closed

[2019-05-31 09:05] potatoqualitee commented on #5541
@StartAutomating - can you take a look at this? I tried for a few minutes but could not progress much at all. I added a couple commits to https://github.com/sqlcollaborative/dbatools/tree/xplatxe

[2019-05-31 10:13] #5617 closed

[2019-05-31 10:26] potatoqualitee commented on #4647
no longer on hold,a nyone who wnats to take this please do

[2019-05-31 10:46] #5631 closed

[2019-05-31 18:05] potatoqualitee opened #5665 "[Bug] Copy-dbalogin - stop if force is used when truelogin is not in login list"

[2019-05-31 19:46] SQLDBAWithABeard opened #5666 "[Bug] Test-DbaDbCompatability uses Credential parameter and fails when a SQL Cred is passed"
So I am looking at getting dbachecks running on Core (shhh ;-) ) and got this error when using SqlAuth for Test-DbaDbCompatability

### Environmental information
[code]
[code]

### Report

#### Errors Received

[code]

#### Steps to Reproduce

Running

````Test-DbaDbCompatibility -SqlInstance 'localhost,15591' -Credential sqladmin````

returns the error above. Tested on PS 5.1, 6.2 and on WSL

Set

[2019-06-03 15:42] MLinck opened #5673 "[Bug] Invoke-DbaDbClone server version check failed"
### Environmental information

[code]

#### SQL Server:

[code]

### Report

#### Errors Received

[code]

#### Steps to Reproduce

PowerShell for Windows 5.1 (5.1.14393.2636)
MS SQL Server 2016 SP1 (13.0.4001.0)
with an instance XXXX

1. administrative PowerShell window
2. this command:
	Get-DbaDatabase -SqlInstance localhost -Database XXXX | Invoke-DbaDbClone -CloneDatabase XXXX_Clone | Out-Grid

[2019-06-04 01:26] kilasuit opened #5676 "[Architecture Decision] Split dbatools into a group of smaller modules much like Az PowerShell"
This is a mere suggestion so feel free to discard this because it likely will be a fair amount of rearchitecting to achieve

I think that dbatools has reached a point where it actually makes sense to split the module in a similar manner to the Az PowerShell module where dbatools itself actually wouldn't contain any commands but would have multiple smaller modules that are importable independent of

[2019-06-04 12:57] shaneis commented on #5676
Interesting idea... I'm not even sure how feasible this is but I will say this is not the first I've heard of people asking if they can only get a subset of the commands e.g. the commands dealing with SQL Server Agent

🤔

[2019-06-04 14:32] sanderstad commented on #5676
It would require a significant amount of work and testing to separate the commands.
It is going to be difficult in some scenarios because  i.e. the migration commands use lots of commands.
You would still need to load the majority of the smaller modules toblet it work.

Not shooting this down, just saying what I see could potentially be a problem

[2019-06-04 17:56] dczarny commented on #5439
I had a chance to look at this, but don't know how to debug to confirm.  In the Invoke-DbaDbLogShipping.ps1 file down near line 1704, there the following code.  This looks to be in the section that is dealing with the secondary monitor server that is overriding the previous statements:

                            New-DbaLogShippingSecondaryDatabase -SqlInstance $destInstance `

[2019-06-04 18:45] Angrboda2 opened #5678 "Export Xel to JSON for the purpose of ingesting to Elasticsearch easily"
### Summary of new feature

There is an existing function to export XelToCsv. I would like to ingest XE data into an ElasticSearch index, which is very simply to do from a JSON format. If dbatools could export from a .Xel to a .JSON that would be awesome. (Maybe there is an even better approach of directly sending from a .XEL into logstash or ElasticSearch directly)

### Proposed technical details

[2019-06-04 20:32] caderoux opened #5679 "[Bug] Export-DbaScript using ScriptBatchTerminator = $true results in empty files"
### Environmental information

[code]

#### SQL Server:

[code]

### Report

`Export-DbaScript` using `ScriptBatchTerminator = $true` results in empty files

#### Errors Received

None

#### Steps to Reproduce
[code]

#### Expected Behavior

Generate scripts

#### Actual Behavior

One script is empty when ScriptBatchTerminator = $true

[2019-06-04 21:56] wsmelton commented on #5679
This seems to be associated with the parameter `-BatchSeparator` and the logic we have for building the script object. It does not account for when the script object is passed in. In some way we are overwriting or possibly just corrupting the scripting settings that are expected.

[2019-06-04 22:08] mrothwell opened #5680 "Error with Invoke-DbaQuery -SqlCredential when called from web app"
Invoke-DbaQuery is not using the SqlCredential when called from C# web app.

$SourceUsername   = 'MYDOMAIN\myAdUserName'
$SecureIntPw      = Get-Content "C:\Scripts\Security\myAdUserName.txt" | ConvertTo-SecureString
$SourceCredential = new-object -typename System.Management.Automation.PSCredential -argumentlist $SourceUserName, $SecureIntPw

$mytest = Invoke-DbaQuery -SqlInstance $BackupInstance

[2019-06-05 08:06] Zhunya opened #5681 "[Bug] Invoke-DbaDbDecryptObject"
### Environmental information

[code]

#### SQL Server:
[code]

### Report

Object not decrypted.

#### Errors Received

[code]

#### Steps to Reproduce

1. Have object with curly bracets in name ("{")
2. Run command
[code]

#### Expected Behavior

Have object decrypted in E:\Temp folder

#### Actual Behavior

Got error

[2019-06-05 09:18] sanderstad commented on #5681
Will take a look at it

[2019-06-05 09:50] GeorgePalacios opened #5682 "[Bug] Add-DbaAgDatabase targets restore at Primary server rather than secondary"
### Environmental information

#### PowerShell version:

#### dbatools Module version:

#### SQL Server:

[code]

### Report

#### Errors Received

[code]

#### Steps to Reproduce

`Add-DbaAgDatabase -SqlInstance "SERVER1" -Database testAGJoin -AvailabilityGroup Test_AG -SeedingMode Manual -SharedPath "\\Shared\Path"`

#### Expected Behavior

It should add the database do the AG, back it up, then

[2019-06-05 09:57] GeorgePalacios commented on #5682
It would appear based on the error that the RESTORE operation is trying to overwrite the PRIMARY database! (Eek)

 Server 'lds-mp2idtsql01' is our primary - the RESTORE operation should be happening on lds-mp2idtsql02

[2019-06-05 12:47] rcomm commented on #5682
I have ran in to this exact same error/scenario today. It does appear to be trying to restore over the Primary database.

[2019-06-05 16:16] pasqualeceglie opened #5683 "Sync-DbaAvailabilityGroup -Login"
### Environmental information

#### SQL Server:

[code]

### Report

#### Errors Received
Even if I specify -Login option for only one login, the command was execute for all logins in my instance

#### Steps to Reproduce

#### Expected Behavior
Only one login is synced

#### Actual Behavior
All logins are processed

[2019-06-05 18:25] wsmelton commented on #5682
Your command to reproduce shows `SERVER1` but your error has different server names referenced. Please clarify what server name you are trying to pass to the command.

As well, restoring to the primary would be expected if the server passed in was a secondary replica, the database can only be "added" to the AG via the primary and then restored/seeded to all replicas.

[2019-06-05 18:26] wsmelton commented on #5682
@rcomm if you are trying to add a replica as a sync for a database that is already in the AG the `Add-DbaAgDatabase` will not work for that scenario.

[2019-06-05 21:28] wsmelton commented on #5682
So that would basically mean we are not able to determine the proper replica names on that AG.

Can you run the following on your primary and tell me if it returns the proper secondary server names (meaning the name used to connect to that instance):

[code]

[2019-06-06 07:29] rcomm commented on #5682
Yeah that returns the details of the secondary replica in my AG. Nothing seems to look out of place in the output.

[2019-06-06 07:50] GeorgePalacios commented on #5682
Think I've found the problem.

` $null = $allbackups[$db] | Restore-DbaDatabase -SqlInstance $replica.Parent.Parent -WithReplace -NoRecovery -TrustDbBackupHistory -EnableException`

That's the code for the restore

[code]

If I then run the above code, it returns the PRIMARY server not the SECONDARY. Incidentally so does `$secondaryReplicas.Parent `

[2019-06-06 08:07] rcomm commented on #5682
@GeorgePalacios - so it seems that $secondaryReplicas is actually being set to the correct replica name (the secondary), however $secondaryReplicas.Parent.Parent returns the Primary Replica.

[2019-06-06 08:08] GeorgePalacios commented on #5682
@rcomm exactly - the problem is that the bottom level object is an AvailabilityGroupReplica, the parent of which is the AG itself, the parent of which is the PRIMARY - this makes sense in my head.

I'm not sure on the best fix here - we need to use that secondary object to get the SQL Instance SMO object OR find it from the PRIMARY.

[2019-06-06 09:48] indented-automation opened #5684 "Set-DbaLogin and New-DbaLogin have slightly different parameter names"
### Summary of new feature

Set-DbaLogin and New-DbaLogin should use the same parameter names where possible.

### Proposed technical details (if applicable)

New-DbaLogin uses PasswordPolicy and PasswordExpiration.
Set-DbaLogin uses PasswordPolicyEnforced.
SMO uses PasswordPolicyEnforced and PasswordExpirationEnabled.

The parameters across the different commands should be aligned. Perhaps in lin

[2019-06-06 15:20] PreacherCmdLets opened #5685 "Invoke-DbaDbLogShipping - Failure reading backup header"
- Slack Community Channel: https://sqlcommunity.slack.com/messages/C1M2WEASG/ (get an invite: https://dbatools.io/slack/)
- Documentation within the module: `Get-Help <command>`

WARNING: [10:08:49][Get-DbaBackupInformation] Failure reading backup header | The media family on device '\\location\Test\FullBackup_Test_PreLogShipping_20190606100839.bak' is incorrectly formed. SQL
Server cannot process

[2019-06-06 15:21] PreacherCmdLets commented on #5685
Both the instance is on same version and location of the .ldb & .mdf are same

[2019-06-07 14:11] garethnewman opened #5688 "[Bug] Restore-DbaDatabase backup size calc"
### Environmental information
[code]

[2019-06-07 14:24] potatoqualitee commented on #5688
thanks gareth! any chance you can tackle this one? stuart has been out for a while.

[2019-06-07 14:31] garethnewman commented on #5688
Yes, I suspect there is an internal function being called as a quick CTRL+F didn't find what I was looking for. I'll sort it, should be simple enough once I find it.

[2019-06-07 14:34] potatoqualitee commented on #5688
thanks so much 🙇

[2019-06-07 15:39] #5684 closed

[2019-06-07 15:39] #5379 closed

[2019-06-07 18:08] potatoqualitee commented on #5683
thank you for the report, ill take a look early next week and this will be resolved for 1.0

[2019-06-07 18:20] potatoqualitee commented on #5676
Interesting thread/issue. I've explored this before and at this point, there are no plans to split dbatools into submodules due to speed & logistical reasons and my personal preference. @StartAutomating has plans to explore implementing splitting the module by using `Import-Module -ArgumentList`. That I am open to.

[2019-06-07 18:24] potatoqualitee commented on #5676
will close but keep an eye out in a few months for updates

[2019-06-07 18:24] #5676 closed

[2019-06-07 19:28] sanderstad commented on #5415
Closing this issue. New patterns can be added later on using the JSON file

[2019-06-07 19:28] #5415 closed

[2019-06-07 19:38] potatoqualitee commented on #5681
thanks, will close since it'll be merged momentarily 👍

[2019-06-07 19:38] #5681 closed

[2019-06-07 20:09] potatoqualitee commented on #5308
thanks @sanderstad - will close as assumed fixed

[2019-06-07 20:17] potatoqualitee commented on #5666
thanks for the solution, will be fixed in 1.0

[2019-06-07 20:17] #5666 closed

[2019-06-07 20:40] sanderstad commented on #5657
The part where you try to use a masking configuration file to generate data will not work.
The config files for both commands are different

[2019-06-08 06:30] potatoqualitee commented on #5673
thanks, got the fix and will be released on june 20 with dbatools 1.0 💯

[2019-06-08 06:30] #5673 closed

[2019-06-08 07:31] potatoqualitee commented on #5680
This likely has to do with Kerberos delegation and double hop. I'd be interested in the solution, but C# is out of our scope and it works on PowerShell. Ultimately, however, I think this will solve your problem: https://blogs.technet.microsoft.com/askds/2008/06/13/understanding-kerberos-double-hop/

[2019-06-08 07:31] #5680 closed

[2019-06-08 07:37] potatoqualitee commented on #5680
oh, also try sql auth. that is not subject to double hop issues.

[2019-06-08 18:33] potatoqualitee commented on #5679
Please check prerelease and let me know if that fixes your issue 👍  It fixes a couple otehrs so i merged

[2019-06-08 18:36] potatoqualitee commented on #5402
@sqllensman - you gonna take care of this? it likely won't be on my radar. the issue probably comes from the fact that it includes dependencies. so some sort of tracker would have to be implemented.

[2019-06-08 18:36] potatoqualitee commented on #5600
any chance you got some time for this @FriedrichWeinmann ?

[2019-06-08 18:37] potatoqualitee commented on #5600
It's just the help/examples

[2019-06-08 18:38] potatoqualitee commented on #5620
any chance you'll have time before 1.0, @nvarscar ? if not, i'll take it off the todo

[2019-06-08 18:58] wsmelton commented on #5600
A bit of reading and think I might be able to get this done this weekend.

[2019-06-08 19:03] potatoqualitee commented on #5682
I like that. Thank you all. Any chance you can get to this within 48 hours, @GeorgePalacios ? I'd be happy to accept a PR.

[2019-06-08 19:04] potatoqualitee commented on #5600
sweet, thank you shawn!

[2019-06-08 19:06] potatoqualitee commented on #5624
gonna merge when done ✔️

[2019-06-08 19:06] #5624 closed

[2019-06-08 19:06] sqllensman commented on #5402
Yes. I am working on an Export-DbaDatabase command that will replace this command with a more general command. Should be done sometime this week.

[2019-06-08 19:19] potatoqualitee commented on #5683
I just noticed too that required information for a bug report has been left out, particularly the version of dbatools which is perhaps the most important information. Showing the exact command that is used is also helpful.

Ultimately, I am unable to repro.

![image](https://user-images.githubusercontent.com/8278033/59151383-680a1580-8a32-11e9-99a6-2a71382e4d41.png)

If you continue to experience

[2019-06-08 19:19] #5683 closed

[2019-06-08 19:27] potatoqualitee commented on #5402
awesome!! thank you 🙇 how did your session go?

[2019-06-08 19:41] potatoqualitee commented on #5657
Thanks much, will close this issue. Is it possible to detect if a person tried to do what I did? Perhaps add some metadata to the top of that json?

[2019-06-08 19:41] #5657 closed

[2019-06-08 20:17] potatoqualitee commented on #5422
hey @ClaudioESSilva - do you think you'll have this one done by 1.0?

[2019-06-08 20:59] #5665 closed

[2019-06-08 21:12] potatoqualitee commented on #5685
Hello @PreacherCmdLets  - we no longer accept bug reports that do not use the bug report template. The information we request is information that helps us solve the problem. Please create a new bug report following the format.

https://github.com/sqlcollaborative/dbatools/issues/new?assignees=&labels=%5Bbugs+life%5D&template=Bug_Report.md&title=%5BBug%5D

[2019-06-08 21:12] #5685 closed

[2019-06-08 21:13] potatoqualitee commented on #5449
@FriedrichWeinmann any chance you can get to this before June 20?

[2019-06-08 21:39] caderoux commented on #5679
I think this fixes it.  There is an unrelated issue with the SET options and line breaks, I will have to investigate and submit a separate bug on that.

[2019-06-08 21:46] potatoqualitee commented on #5679
thanks so much

[2019-06-08 22:00] sanderstad commented on #5657
That is probably a good idea. I'll make an issue for that to make sure those config files have some extra meta data and that the data masking and generation do check on that

[2019-06-08 22:00] caderoux commented on #5679
Nope, I'm still seeing the same behavior with the test case above, but I'm not sure I removed and installed from prerelease quite right.

[code]

Gives:

GoodFile:

[code]
BadFile:

[code]

[2019-06-08 22:04] sanderstad opened #5697 "Extra meta data for masking and data generation configurations"
### Summary of new feature

The configurations for the data masking and data generation are based on each other both are inherently different. Someone could make the mistake to use the wrong kind of file.

To prevent this there should be extra metadata in the configurations that makes clear what kind of file it is.

### Proposed technical details (if applicable)

1. Create extra data that shows th

[2019-06-08 22:05] sanderstad commented on #5697
All the configurations people made are going to need the extra metadata.
That's why it's labeled as a breaking change.

[2019-06-08 22:07] potatoqualitee commented on #5697
thank you, will be noted in the release!

[2019-06-08 22:13] potatoqualitee commented on #5679
🤔  prerelease does not work the same way, since Path was changed. Got a few more changes to make, this will be enough to address the issue, thank you.

[2019-06-09 00:21] wsmelton commented on #5600
Yeah, just reference that the help for all of our cmdlets are located in [this file](https://github.com/sqlcollaborative/dbatools/blob/prerelease/en-us/dbatools-help.xml).

It is very convoluted but [documented here](https://docs.microsoft.com/en-us/powershell/developer/help/how-to-create-the-cmdlet-help-file) so I will work on cleaning this up and getting the help on these cmdlets to match format

[2019-06-09 00:21] wsmelton commented on #5600
It may take me a bit more than this weekend but will have this done well before the deadline for 1.0. @potatoqualitee

[2019-06-09 03:44] wsmelton commented on #5600
So just caught that the `dbatools-help.xml` is the file @StartAutomating, I believe auto generated. So if I'm to update the help on that do I need to just edit that file or do we need to create the help in a different way that won't effect auto-generating that help file in the future?

[2019-06-09 09:54] potatoqualitee commented on #5600
dbatools-help.xml will indeed be auto generated, im unsure how it mixes in. that was part of the headache.

[2019-06-09 09:55] potatoqualitee commented on #5600
This is the exporter btw

[code]

[2019-06-09 10:12] wsmelton commented on #5600
For PowerShell to pick up the xml help file for a given snapin, as our dbatools.dll is considered, it has to be named <snapin>-help.xml hence `dbatools-help.xml`. PowerShell picks up the fact that the help should be pulled from that file instead of gathering it up from each function.

Since we are auto-generating that content I'll have to guess look into the C# project to see if that is where the

[2019-06-09 13:21] GeorgePalacios commented on #5682
Shouldn't be a problem - it may only be a partial fix as I'm having real problems when the secondary is on a non-standard port and the browser service is disabled - struggling to find the correct port number as it doesn't appear to be exposed anywhere.

Other than that for instances where the port is standard or the browser service is enabled the fix should work fine - will see what I can come up

[2019-06-09 13:31] sqlpadawan commented on #5241
To recreate the issue, an AD account is added as a login on the server, then the account is removed from AD (so, the real world scenario. AD admins clean up AD, leaving orphaned AD accounts on the SQL Servers because the previous DBA didn't use AD groups). The problem only occurs when sp_validatelogins returns rows and the table hasn't been created (so the -AutoCreateTable doesn't work).

[2019-06-09 20:16] wsmelton commented on #5241
This issue would be closed by design. We can't auto create a table on an empty object because we can't detect data types and property names.

If you invoke a query and get nothing back PowerShell does not work the same as SSMS she show an empty result set with column names. PS just see null.

[2019-06-10 01:09] sqlpadawan commented on #5241
Ok, but to clarify, the error happens when the target table does not exist, records are returned by the stored procedure, and -AutoCreateTable is used.

[2019-06-10 08:23] potatoqualitee commented on #5241
I tried that but can never get anything to return in `EXEC [sys].[sp_validatelogins]`. As mentioned above, I added an AD user to the sql server as a login, then i deleted the AD User from AD, and still nothing was returned 👎  This was tested on an on-prem server.

[2019-06-10 11:02] #5688 closed

[2019-06-10 12:19] JonasNjopOlsson commented on #5536
Thank you for the feedback. This seemed a rather odd behaviour to me as well so I am half expecting this to be some sort of bug related to the PowerShell version in use on these servers.

I will look into upgrading to both the latest version of dbatools and, if the problem persists, perhaps to a later version of PowerShell on the servers in question. They are production servers however so I will h

[2019-06-10 12:23] ClaudioESSilva commented on #5422
Hi @potatoqualitee, hope so! Will pick this tonight!

[2019-06-10 12:38] potatoqualitee commented on #5536
thank much, please reopen or comment if you continue to encounter issues 👍

[2019-06-10 12:38] #5536 closed

[2019-06-10 12:57] garethnewman commented on #5043
@nvarscar working for me, give it another try?

PS C:\Dev\dbatools> Get-WUFileByID -KB 4495256 -SearchCriteria 'SQL Server*'

    Directory: C:\Dev\dbatools

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----       10/06/2019     13:56      748919880 sqlserver2016-kb4495256-x64_f1b206222329d623c55c8fac16851a76b6247df3.exe

[2019-06-10 13:16] potatoqualitee opened #5701 "[Bug] add-dbaagdatabase uses english for date comparison"

[2019-06-10 13:25] GeorgePalacios opened #5702 "[Bug] Add-DbaAgDatabase tries to modify seeding mode on SQL 2014"
### Environmental information

#### PowerShell version:

PSVersion                      5.1.17134.765
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.765
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

#

[2019-06-10 13:27] #5682 closed

[2019-06-10 13:55] sanderstad opened #5703 "Masking - Add support for actions"
### Summary of new feature

Some masking asks to make sure that the data does not get changed so drastically that reports no longer work.
Another type of masking that can be done is to add or subtract values from the original value i.e.
- Subtract 100.00 from the revenue
- Add 30 days to a date

### Proposed technical details (if applicable)

To do this we need to add another piece of information

[2019-06-10 14:12] potatoqualitee opened #5704 "Linux and DbaComputerCertificate"
Seems like we can do this similarly mayybe using a different approach

Until then, don't export it to Linux.

[code]

This could maybe be it? https://github.com/jitbit/AspNetSaml/issues/9
[code]

[2019-06-10 15:38] ClaudioESSilva commented on #5422
If you agree, I will implement using the following:

at the `begin` block I will put:
[code]

Next, if we are calling any other command will change to use:
[code]

This way:
 - If `-Force` is used no prompt will be done
 - If `-Force` is NOT used, the prompt will be done but just once (I mean, no confirmation messages will pop up for the subsequent commands)

@potatoqualitee @wsmelton  What you th

[2019-06-10 15:39] mrothwell commented on #5680
Sql auth would require that I create a new user on every instance.  I'd rather not have to do that.

[2019-06-10 15:47] mrothwell commented on #5680
Also, it's marked as "done" in 1.0.  Is this issue fixed in 1.0 or is it considered a "non-issue" and needs to be solved via sql auth or kerberos double hop?

[2019-06-10 15:48] potatoqualitee commented on #5680
it was a troubleshooting suggestion, not an implementation suggestion. i avoid sqlauth when possible so it's basically to prove the issue is double hop and not dbatools.

as for your second request, it'll need to be solved externally unless you can prove otherwise. which i'm open to, tho I'm fairly certain this is a double hop issue.

[2019-06-10 16:00] potatoqualitee opened #5706 "[Bug] - Import-DbaRegServer doesn't properly import subgroups"
repro :(

[code]

![image](https://user-images.githubusercontent.com/8278033/59208593-abd35b00-8ba9-11e9-8971-536037b526dd.png)

[2019-06-10 16:02] mrothwell commented on #5680
I just tested using sql_auth, still got the same result when ran through the webapp.
So, does that prove that it's not a double hop issue?  I cant imagine it being double hop issue anyway, as it's a single hop from the server executing the powershell to the sql server.  The exact same hop as when I execute the powershell interactively.

[2019-06-10 16:49] potatoqualitee commented on #5680
that just may! can you issue a `Get-DbaProcess -SqlInstance sqlserver -Login sqluseraccount | Select-Object -Property  * -ExcludeProperty ClientNetAddress, LastQuery` and screenshot the results? Something like this:

![image](https://user-images.githubusercontent.com/8278033/59209148-ed183a80-8baa-11e9-9688-827c7d965d2c.png)

IIS running as the app pool makes it double hop. You'll find it'll login

[2019-06-10 17:31] wsmelton commented on #5680
Chrissy, my thought was try running a command in a runspace. That is what the C# is going to to use to execute the code, it creates a runspace to execute the PowerShell thread. So it won't be a hop but loss of context.... Just spit balling.

[2019-06-10 17:32] JustinGrote opened #5707 "[Bug]ConvertTo-DbaDataTable Memory Leak"
### Environmental information

[code]

#### SQL Server:

[code]

### Report

When doing a large object array in convertto-dbadatatable, the memory is never released even if the variable is unset and GC is collected. It even persists if the module is unloaded, only way I can free the memory is to completely kill the process.

For a large dataset, my powershell process ends up consuming 6+GB of memo

[2019-06-10 18:26] potatoqualitee commented on #5680
i was thinking that too, and even started creating the code but then i realize that we do need that extra hop. im not sure what to make run my runspace? agent, perhaps?

[2019-06-10 18:35] potatoqualitee commented on #5707
Thanks for the report!

@FriedrichWeinmann - any chance you can take a look? I'll have no idea.

[2019-06-10 18:36] wsmelton commented on #5680
Agent should work since that is within another process running...I would think that would be similar to the web app.

[2019-06-10 18:57] #5422 closed

[2019-06-10 20:57] potatoqualitee commented on #5541
there's this which can be peeked upon using dnspy https://www.powershellgallery.com/packages/SqlServer.XEvent/1.3 or adding the DLL thta makes it work when sql is installed locally

[2019-06-10 23:12] potatoqualitee opened #5719 "Add-DbaRegServer, etc should work for local too"
smo appears the same, so let's ee how this works out

[2019-06-10 23:12] potatoqualitee commented on #5719
and connection strings? make local docker work with vredential or connstring

[2019-06-12 11:33] ClaudioESSilva opened #5732 "Return more properties about Login (Get-DbaLogin)"
### Summary of new feature
Add more properties about the login using `LoginProperty` T-SQL function.
Namely:
[code]

### Proposed technical details (if applicable)
Add to `Get-DbaLogin` all properties that [LoginProperty](https://docs.microsoft.com/en-us/sql/t-sql/functions/loginproperty-transact-sql?view=sql-server-2017) T-SQL function returns and which are not by default on the SMO object.

Exam

[2019-06-12 15:16] gbargsley commented on #5576
I found another instance where this issues exists and I cannot clear it.  I ran a full on the DB, but the command is not picking it up.
<img width="1910" alt="Capture" src="https://user-images.githubusercontent.com/169602/59363669-28c21a00-8cfb-11e9-9a68-e62f83528cfa.PNG">

[2019-06-12 20:19] potatoqualitee commented on #5719
done and done

[2019-06-12 20:19] #5719 closed

[2019-06-12 20:25] potatoqualitee opened #5735 "need to fix azure auth for non-tokens"
![image](https://user-images.githubusercontent.com/8278033/59383697-c00d8880-8d60-11e9-9a7c-84295b7c7897.png)

ouf, all broken

[2019-06-12 20:35] potatoqualitee commented on #5735
yay it was me, y azure tenant was stored

[2019-06-12 20:35] #5735 closed

[2019-06-13 13:16] gbargsley commented on #5576
So I was playing around with params and functions and found this.  If I put in the latest fork, it returns the latest and correct backups.  Not sure if that might point to an issue or help troubleshoot.

`[10:55:27][1.35 s] C:\Users\gbargsley\Documents\GitHub\DBA_Team> Get-DbaBackupHistory -SqlInstance CPINFSQL01 -Database caArchive -LastFull -RecoveryFork 'dcf18d61-a5db-4d6f-b0fe-ba01d75b39c9'
Ge

[2019-06-13 16:55] potatoqualitee commented on #5576
Thank you @gbargsley.  @nvarscar or @Stuart-Moore - do either of you have the time to address this within the next 4 days? if not, no problem, we can move it to a later release.

[2019-06-13 19:04] potatoqualitee opened #5739 "last good check db for azure"
detect if azure or sql server 2017 and above and run this

` SELECT DATABASEPROPERTYEX('abc', 'LastGoodCheckDbTime')`

[2019-06-13 22:07] brunobbc opened #5742 "Add-DbaAgDatabase - Conversion error"
### Environmental information

#### SQL Server:

sql Microsoft SQL Server 2016 (SP2) (KB4052908) - 13.0.5026.0 (X64)   Mar 18 2018 09:11:49   Copyright (c) Microsoft Corporation  Developer Edition (64-bit) on Windows Server 2016 Standard 10.0 <X64> (Build 14393: ) (Hypervisor)
/* REPLACE WITH output of @@VERSION */
[code]

[2019-06-13 22:14] potatoqualitee commented on #5742
thanks for the report. unfortunately, it was not completed properly, specifically  i dont know what version of dbatools you are using. please ensure you are on the latest version because some things have been fixed recently. Please list what version you are using by using code included in the bug report template.

[2019-06-13 22:14] #5742 closed

[2019-06-14 06:45] sanderstad opened #5743 "Test log shipping configuration before it's executed"
### Summary of new feature

When you run the Invoke-DbaDbLogShipping there is a chance that along the way the user did not configure all the parts correctly resulting in an error.
Restarting the command is not that difficult but it's better to do some sort of check to see if the configuration will work.

### Proposed technical details (if applicable)

We need another command to test the configurat

[2019-06-14 14:41] brunobbc opened #5744 "[Bug] Add-DbaAgDatabase - Conversion error"
### Report
SELECT @@VERSION

SQL Server:
sql Microsoft SQL Server 2016 (SP2) (KB4052908) - 13.0.5026.0 (X64) Mar 18 2018 09:11:49 Copyright (c) Microsoft Corporation Developer Edition (64-bit) on Windows Server 2016 Standard 10.0 (Build 14393: ) (Hypervisor)

gmo dbatools -List | select name, path, version | fl -force | Out-String

Name    : dbatools
Path    : C:\Program Files\WindowsPowerShell\Mo

[2019-06-15 02:56] #4891 closed

[2019-06-16 12:47] #5706 closed

[2019-06-17 06:28] GrahamDBA commented on #3471
I tried to solve this error when using : Copy-DbaDatabase

First I found man sessions of Windows PowerShell_ISE open so I killed them.
Then I found the error disappeared when I used the most simplest for of the commands.
But it failed when I included some PowerShell functions of my own.
So copied over the essential functions I required and I removed the include line and it worked fine.

[2019-06-17 08:13] mrjohnsen opened #5748 "Copy-DbaDatabase | Conversion failed"
Not able to use Copy-DbaDatabase with backup/restore method. Failing with "Verify service account access" and "Conversion failed when converting date and/or time from character string". I have confirmed service account permissions so there is not problem there. Here is the log:

Copy-DbaDatabase -Source sourceserver -Destination destinationserver -Database databasename -BackupRestore -Sharedpath \

[2019-06-17 08:32] potatoqualitee commented on #5748
@mrjohnsen - thanks for the bug report. Unfortunately, this issue does not follow the bug report format and will be closed per #5438

It will also be helpful to know which host you are using to run the command - ie. powershell.exe, ISE, VSCode, etc.

[2019-06-17 08:32] #5748 closed

[2019-06-17 08:41] potatoqualitee commented on #5744
Thanks for the report! I'll take a look today or tomorrow.

[2019-06-17 08:49] potatoqualitee opened #5749 "Emergency Issue: Backup-DbaDatabase conversion problem"
Can someone please take a look at Backup-DbaDatabase prior to 1.0?

We're getting a number of issues about it:

#5748
#5744
#5742
#5308
#5024

5024 has the most detail

https://github.com/sqlcollaborative/dbatools/issues?utf8=%E2%9C%93&q=is%3Aissue+conversion

[2019-06-17 09:18] potatoqualitee commented on #5748
Can you please let us know your locale in the new issue as well? like `en-us`.

[2019-06-17 09:18] potatoqualitee commented on #5744
hello what is your locale? `fr-fr` ?

[2019-06-17 09:20] potatoqualitee commented on #5308
@garyhampson  you there? Can you please let us know your locale as well? like `en-us`.

[2019-06-17 09:33] mrjohnsen opened #5751 "[Bug] Copy-DbaDatabase | Conversion failed"
### Environmental information

Run below command, paste results below:
#### PowerShell version:
PSVersion                      5.1.14393.2969
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.2969
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3

[2019-06-17 10:17] potatoqualitee commented on #5744
okay, this seems unrelated to the other issues we are having and seems more related to duplicate SMO loading. Please confirm if you can get this to happen if:

from powershell.exe

[code]

This appears to be an SMO conflict, perhaps due to a manual loading of SMO or the SQLServer/SQLPS module. Loading different versions of SMO cannot be supported.

[2019-06-17 11:00] potatoqualitee commented on #5751
awesome, thank you for the complete report! we have a fix coming in for this today.

[2019-06-17 11:02] potatoqualitee commented on #5751
can you please confirm that the engine has the alternative locale? does powershell have an alterantive locale as well?

[2019-06-17 12:05] #5751 closed

[2019-06-17 12:06] potatoqualitee commented on #5024
should be fixed now! 👍

[2019-06-17 12:06] #5024 closed

[2019-06-17 12:06] potatoqualitee commented on #5751
Thanks, should be fixed now! the fix will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:08] potatoqualitee commented on #5749
Thanks to everyone who helped! The fix is included in #5753 which will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:08] #5749 closed

[2019-06-17 12:08] potatoqualitee commented on #5748
The fix is included in #5753 which will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:08] potatoqualitee commented on #5742
The fix is included in #5753 which will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:09] potatoqualitee commented on #5308
if it was a locale issue, the fix is included in #5753 which will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:09] potatoqualitee commented on #5024
The fix was included in #5753 which will be released with dbatools 1.0 on Thursday morning 💯

[2019-06-17 12:10] potatoqualitee commented on #5744
considering closed as my suggestion above should address the issue. if not, please let me know and i'll reopen 👍

[2019-06-17 12:10] #5744 closed

[2019-06-17 12:22] potatoqualitee opened #5754 "Read-DbaXEFile fails for some ppl"
In lieu of this for 1.0, let's try to load the DLLs from the GAC if the regular way doesn't work.

https://github.com/sqlcollaborative/dbatools/issues/5541

[2019-06-17 13:48] potatoqualitee opened #5756 "[Bug] Add-DbaRegServer not adding if group is specified"
After https://github.com/sqlcollaborative/dbatools/pull/5755 is merged, can you take a look at `Add-DbaRegServer` ? Adding to any group is not working

![image](https://user-images.githubusercontent.com/8278033/59609166-302c5d80-9117-11e9-9276-a28b32dd2665.png)

[2019-06-17 13:57] potatoqualitee commented on #5754
New-Object : Cannot find type [Microsoft.SqlServer.XEvent.Linq.QueryableXEventData]: verify that the assembly containing this type is loaded.
At C:\Program Files\WindowsPowerShell\Modules\dbatools\0.9.828\allcommands.ps1:79635 char:21
+ ...     $enum = New-Object Microsoft.SqlServer.XEvent.Linq.QueryableXEven ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-06-17 16:48] nvarscar commented on #5576
Hey @potatoqualitee, I'll be able to jump on it only in about couple weeks if that's fine. Moving is never fun.

[2019-06-17 16:49] potatoqualitee commented on #5576
no prob, moving is the worst! good luck

[2019-06-17 16:53] nvarscar commented on #5620
The command doesn't support installing custom hotfixes with default parameters, only SPs and CUs. If you want a custom KB to be installed, please use the `-KB` parameter.

[2019-06-17 16:53] #5620 closed

[2019-06-17 18:05] #5756 closed

[2019-06-17 18:13] potatoqualitee commented on #5620
Sweet, thanks for the response, @nvarscar 👍

[2019-06-17 18:21] potatoqualitee commented on #5754
it only loads from the gac 🤷‍♀  so i put a fail if it's not loaded. i should maybe revisit this one.

[2019-06-17 18:21] #5754 closed

[2019-06-17 19:52] #5600 closed

[2019-06-17 19:53] #5439 closed

[2019-06-17 20:21] potatoqualitee commented on #5600
done-arama

[2019-06-17 20:39] potatoqualitee opened #5766 "Final Checks"
- [x]  Check that the big commands work in win7
- [x]  Check that the big commands work on sql2000
- [x]  works when imported as a regular user and not a dev
- [x]  works with core
- [x] x86
- [x]  works with strict signing policy
- [x] All commands have been imported from functions
- [x] rename sander's commands

[2019-06-17 20:53] potatoqualitee opened #5767 "Explore for copy-dbadbtabledata"
https://stackoverflow.com/questions/11658143/how-to-set-smo-scriptingoptions-to-guarantee-exact-copy-of-table

[2019-06-17 21:36] potatoqualitee commented on #5679
man i literally have no idea. i just tried all kinds of ways and cannot figure out a way to get this to work. i'm leaning bug but i'm not entirely convinced. the sample code i found on the web lead to @ClaudioESSilva's export-sqluser LOL

this is the last bug of the home stretch - claudio you got it in you? i just tried to no avail 👎

[2019-06-17 21:44] nvarscar commented on #5043
Apparently this function errors out when running on PS6.0+ by default:
[code]
I'm not sure if there are any plans to support Core edition. Can anyone who has an experience with Invoke-WebRequest in 6.0+ check if the script can be ported to 6.0 at all?

[2019-06-18 07:26] potatoqualitee opened #5772 "Errors on Core on lInux"
[code]

[2019-06-18 12:06] ClaudioESSilva commented on #5679
I also start to think this is a bug @potatoqualitee . Tried a bunch of combinations and having the `$options.ScriptBatchTerminator = $true` leads to strange outputs.

I will try to dig a little bit more (after DataGrillen) but in the meantime, @caderoux you can workaround using the `-BatchSeparator` parameter.

[code]
This will give you a nice formated output.

[code]

[2019-06-18 13:09] SQLDataCloud opened #5775 "DB Page Verification"
### Summary of new feature

In the same way that Test-DbaDbCollation/Test-DbaDbCompatibility function, maybe a feature like Test-DbaDbPageVerify that would check all databases on a given instance where db page verification is set to anything other than CHECKSUM.

### Proposed technical details (if applicable)
Something along the lines of following: (sorry if this is in wrong format/process, not do

[2019-06-18 13:22] ddraillantclark opened #5776 "Add-DbaDbRoleMember"
### Summary of new feature

New command to add an existing Db User to a Database or Application Role of a Database.

For example, you have already created a user with this command:
`New-DbaDbUser -SqlInstance sqlserver2017 -Database DB1 -Username JohnSmith`
and you want to add him to db_owners with a command like this:
`Add-DbaDbRoleMember -SqlInstance sqlserver2017 -Database DB1 -Username JohnSmi

[2019-06-18 13:44] ahmetrende opened #5777 "Timeout parameter for Copy-DbaDbTableData"
Hi,

When using Copy-DbaDbTableData with -Query parameter and it takes long time (> 30 secs) it is timed out. -bulkCopyTimeOut cannot cover this issue.

We need query timeout like Invoke-dbaquery

[2019-06-18 13:48] potatoqualitee commented on #5772
fixed

[2019-06-18 13:48] #5772 closed

[2019-06-18 13:51] potatoqualitee commented on #5776
@ClaudioESSilva created this command! It will be publicly available on Thursday 💯

[2019-06-18 13:51] #5776 closed

[2019-06-18 14:04] potatoqualitee commented on #5679
thanks claudio!

[2019-06-18 14:09] potatoqualitee opened #5779 "Pester Tests for Developers"
- [x] Force function name to match filename
- [x] Tests.ps1 file exists per command
- [ ] Fail on `::new(` since it is not supported in PS3. But allow Certificates & aztoken because I'm not rewriting those yet.

More soon as I remember them.

[2019-06-18 14:16] ClaudioESSilva commented on #5776
Just a quick note. It does not cover `Application Roles`...yet 😃

That should be, maybe, another command. `Add-DbaDbApplicationRoleMember`.
We keep in touch!

[2019-06-18 14:17] potatoqualitee commented on #5776
thanks claudio, shall we reopen?

[2019-06-18 14:18] ClaudioESSilva commented on #5776
@ddraillantclark can you please open a new one just regarding the `Application Roles` feature?
Thank you!

[2019-06-18 14:19] potatoqualitee commented on #5776
ty 👍

[2019-06-18 14:20] ddraillantclark commented on #5776
Will do.  Thanks!

[2019-06-18 14:27] garethnewman opened #5780 "Update-DbaInstance extra support for R & Python installs"
For SQL 2017 ML (R & Python) - they release separate CAB files for the R & Python parts of the engine. Update-DbaInstance doesn't know what to do with these.

I think it will be as simple as putting the files in the same directory as the installer, but will need logic added so field are not being copied over unless they are needed.

if version = 2017
check if R & Python are installed
if they are,

[2019-06-18 14:32] ddraillantclark opened #5781 "Grant permissions on a database Application Role to an existing Db User"
### Summary of new feature

New/updated command to grant permissions to an existing Db User on an Application Role of a Database.

### Proposed technical details (if applicable)

`Add-DbaDbRoleMember -SqlInstance sqlserver2017 -Database DB1 -Username JohnSmith -Role my_app_role -Permission Control`

Current workaround using Invoke-DbaQuery
[code]

### Latest version of dbatools as of writing

0.9.

[2019-06-18 15:50] #5702 closed

[2019-06-18 16:21] potatoqualitee commented on #5766
Works on Linux

![image](https://user-images.githubusercontent.com/8278033/59701404-de0e3980-91f5-11e9-9379-253761a31526.png)

[2019-06-18 16:28] potatoqualitee commented on #5766
Works as regular user import

![image](https://user-images.githubusercontent.com/8278033/59701911-de5b0480-91f6-11e9-8965-7a97673d8d6c.png)

[2019-06-18 16:29] potatoqualitee commented on #5766
works with strict signing policy

![image](https://user-images.githubusercontent.com/8278033/59701994-0d717600-91f7-11e9-9564-798ee6dde4d2.png)

[2019-06-18 17:34] potatoqualitee commented on #5766
works on old with sql2000 as well
![image](https://user-images.githubusercontent.com/8278033/59706117-0ef36c00-9200-11e9-8b71-fa7ac90cd0a4.png)

[2019-06-18 17:35] potatoqualitee commented on #5766
Thanks @ClaudioESSilva for your assistance with the command list!

[2019-06-18 17:35] #5766 closed

[2019-06-18 17:41] potatoqualitee opened #5786 "blog post"
in no specific order yet
just my notes

- [ ] HelpOut
- [ ] RenameHelper
- [ ] New Commands
- [ ] Change command names
- [ ] Confirmation of what works (win7/2000/azure,etc)
- [ ] Azure Support Details
- [ ] Book info
- [ ] GitHub Sponsorship

@ClaudioESSilva - any suggestions?

[2019-06-18 19:32] wsmelton commented on #5514
Ref: https://docs.microsoft.com/en-us/dotnet/api/managedbatchparser

[2019-06-18 21:55] potatoqualitee opened #5788 "do a github release"
gotta do 1.0 in releases, ill forget so listing it here @ClaudioESSilva and @SQLDBAWithABeard please remind me when we go live!

[2019-06-18 21:58] potatoqualitee commented on #5786
gonna close cuz i got my outline

[2019-06-18 21:58] #5786 closed

[2019-06-19 02:03] alevyinroc commented on #5400
@potatoqualitee can this issue be closed?

[2019-06-19 04:09] joshcorr commented on #5766
Were we removing the Test-DbaDeprecatedFeature calls for any parameters that were removed?

[2019-06-19 05:30] potatoqualitee commented on #5766
yes, shit did i miss that?

[2019-06-19 05:31] potatoqualitee commented on #5400
yes! thank you

[2019-06-19 05:31] #5400 closed

[2019-06-19 05:33] potatoqualitee commented on #5766
oh good, no, test-dbadeprecation is different from Test-DbaDeprecatedFeature which tests sql server dep features. we've removed all dbatools deprecation tests

[2019-06-19 17:12] jayvdb opened #5790 "[Bug] Invoke-DbatoolsFormatter on unix adds DOS EOL"
### Environmental information

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [x] Other (please specify)

[code]

## Expected Behavior

On Linux, a .ps1 file should usually be stored with a unix EOL.

Ideally the reformatter keeps the same EOL as the input file.

I am new at using unix pwsh, so there may be some meta settings which I could configure to prevent this.

If so, it seem

[2019-06-19 18:04] jayvdb commented on #5790
I've only just started using pwsh & dbatools, mostly for its nice solution for https://github.com/PowerShell/PSScriptAnalyzer/issues/775 , and I have seen there were bugfixes regarding unix/dos etc for this. https://github.com/sqlcollaborative/dbatools/issues/4373 and https://github.com/sqlcollaborative/dbatools/issues/4409

This issue described above was found with the pwsh listed above, and dbat

[2019-06-19 20:29] niphlod commented on #5790
confirmed, as for now it assumes the developer use it on windows platform. I'll fix it once dbatools 1.0 is released

[2019-06-19 21:20] #5790 closed

[2019-06-20 04:30] OwainEsau opened #5793 "[Bug] Warning errors on Write-DbaDBTableData"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

### Report

Everything is run in powershell.exe by calling a .ps1 script. It is definitely not a permissions issue this is on localhost.

#### Host used

- [x] powershell.exe
- [ ] VS Code
- [ ] ISE
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue wi

[2019-06-20 12:52] Zhunya opened #5794 "Rename `Get-DbaBackupHistory`"
### Summary of new feature

* Make its name related to `DB` - `Get-DbaDbBackupHistory`

[2019-06-20 13:00] wsmelton commented on #5793
@OwainEsau please update to 1.0 release and let us know if you still have problems.

However, being that your culture on your machine would you mind grabbing the details of this command and providing them:

[code]

[2019-06-20 13:44] Zhunya commented on #5793
On Windows 10 different computer in ru-Ru its all english names

[code]

[2019-06-20 14:21] sqllensman commented on #5679
I have had changes to resolve this issue that I wasn't able to complete due to work pressure.

Pull request has been created.

[2019-06-20 14:56] ClaudioESSilva commented on #5679
Thanks @sqllensman!

[2019-06-20 18:12] janis-veinbergs opened #5796 "[Bug] Copy-DbaInstanceAudit - Cannot bind argument to parameter 'Path' because it is null."
### Environmental information

[code]

#### SQL Server:

[code]
### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

Source has only 1 audit that logs to Security log
[code]
Executed:
[code]

However, I didn't have executed:
```auditpol /set /subcategory:"application generated" /success:enable

[2019-06-20 18:46] flagmanchris opened #5797 "ConvertTo-DbaTimeline - Only add instance name with multiple instances"
### Summary of new feature

ConvertTo-DbaTimeline currently adds the instance name to the job\backup history labels. This should only be done with mulitple instances (as suggested by by comments in the function)

### Proposed technical details

Check if the input was a single instance in the end block of the function and remove the server name from the rows (alternatively just repeat the processin

[2019-06-20 23:05] flagmanchris opened #5799 "[Bug] Error with multiple commands in VSCode Powershell Integrated Console: Could not load file or assembly 'Microsoft.Azure.Services.AppAuthentication' or one of its dependencies"
### Environmental information
[code]

#### SQL Server:

[code]

### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)
- [ ] Still buggy in powershell.exe

Only happens using powershell integrated console in VSCode

#### Errors Received

[code]

#### Steps to Reproduce

Attempt to use command e.g. `Get-DbaDatabase -SqlInstance localhost:1433 -SqlCrede

[2019-06-20 23:48] OwainEsau commented on #5793
Same issue with 1.0. The output of that command is:

[code]

[2019-06-21 04:38] jayvdb opened #5800 "[Bug] Invoke-DbatoolsFormatter behaves strangely in allcommands.ps1"
### Environmental information

(AppVeyor CI default worker; vs 2015 & 2017 images both tested)
[code]

### Report

It looks like the `allcommands.ps1` copy of Invoke-DbatoolsFormatter is broken, not having the same regexes as appear in the function `Invoke-DbatoolsFormatter.ps1`.

[code]

vs in allcommands.ps1
[code]

My guess is that `<#..#>` is getting swallowed by some post-processor.  A bit ir

[2019-06-21 09:11] potatoqualitee commented on #5794
thanks bud

[2019-06-21 09:19] #5797 closed

[2019-06-21 09:22] #5679 closed

[2019-06-21 11:22] #5794 closed

[2019-06-21 12:50] garethnewman opened #5803 "[Bug] Update-DbaInstance - Current SP version SQL2016SP2 is not the latest"
dbatools v1.0.4* updated
ps v5.1

When using Update-DbaInstance against SQL Server 2016 CU6

I got this warning:-
WARNING: [13:22:12][Get-SqlInstanceUpdate] Current SP version SQL2016SP2 is not the latest available. Make sure to upgade to latest SP level before applying latest CU.

The instance has 2016 SP2 CU6:-
Microsoft SQL Server 2016 (SP2-CU6) (KB4488536) - 13.0.5292.0

And CU7 in the share f

[2019-06-21 14:18] jayvdb opened #5804 "Implement StrictMode"
I am surprised that dbatools codebase isnt using `Set-StrictMode` anywhere.

I think it would be helpful to surface errors in CI, and avoid bugs.

e.g. I can see that there are a few uses of `$psVersionTable.Platform`, which would cause errors on some versions of Powershell if `Set-StrictMode` is enabled because they do not have `.Platform`.  Granted the current usages of `$psVersionTable.Platform

[2019-06-21 14:37] niphlod commented on #5804
isn't checking with PSSA enough ?

[2019-06-21 15:02] wsmelton commented on #5804
We avoid most syntax and best practice bugs using Pester with PSSA. Setting strict mode has to much of an enforcing nature that would cause more pain than worth in troubleshooting.

Majority of the bugs we have had reported over the years would not be solved by use of that command.

[2019-06-21 15:09] wsmelton commented on #5804
Appreciate the feedback but use of strict mode is not going to be implemented in this project

[2019-06-21 15:09] #5804 closed

[2019-06-21 15:22] jayvdb commented on #5804
I believe it would have caught https://github.com/sqlcollaborative/dbatools/issues/5800

[2019-06-21 17:53] codeunitone opened #5806 "Export-DbaInstance exports password in clear text"
### Environmental information

[code]

#### SQL Server:

[code]

### Report

Running Export-DBAInstance is exporting the password of the linked server credentials in clear text.

#### Host used

- [x ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

There is no error

#### Steps to Reproduce

Run: Export-DbaInstance

#### Expected Behavior

Linked Server

[2019-06-21 17:58] codeunitone commented on #5806
I see two options here

1. introduce a parameter -ExcludePasswords to Export-DbaInstance to parameterize either you want to have passwords exported in clean text or not.
2. Just add -ExcludePassword when calling Export-DbaLinkedServer from Export-DbaInstance function

[2019-06-22 10:38] wsmelton commented on #5806
If you don't export the password for a given object then creation of that object cannot be accomplished. What purpose is there in not including the password?

[2019-06-22 10:39] wsmelton commented on #5806
Re-reading, the note on hashed passwords will only work for logins. There is no mechanism in SQL Server to create a hash for the linked server object and have that hash converted in order to create the linked server.

[2019-06-22 10:58] wsmelton commented on #5799
I'm not able to reproduce this in my environment with VS Code Insiders.

If you can provide the `Help > about` info and also run this command and provide the output `code-insiders --list-extensions` or `code --list-extensions`.

[2019-06-22 12:15] codeunitone commented on #5806
My purpose of that function is to aumatcally export an instance and put in source control. And I do not won't to have passwords in my repository. I can work around that by doing a search and replace after the export. But in my opinion passwords should not be exposed as a default behaviour.

[2019-06-22 15:10] potatoqualitee commented on #5806
hey @codeunitone - claudio told me about your idea and i think it's fab. It would be:

* Export-DbaLogin (-ExcludePasswordHash)
* Export-DbaLinkedServer (-ExcludePassword)
* Export-DbaCredential (-ExcludePassword)
* Export-DbaInstance - (-ExcludePassword) (covers both)

I understand your position about the default, and it's true regarding Export-DbaLinkedServer and Credential, but those are breaki

[2019-06-22 19:23] flagmanchris commented on #5799
VSCode insiders:
[code]

[code]

[2019-06-22 21:09] flagmanchris commented on #5799
tried previous version of dbatools and it also doesn't work on that (was working previously); some something to do with vscode insiders.....

[2019-06-23 08:29] potatoqualitee commented on #5799
Oh wow, it is! It works for me in regular Code, no problem yet I had the same DLL loading issue in Insiders.

I have zero idea how to even address this. @TylerLeonhardt any idea where to start troubleshooting this issue?

[2019-06-23 15:23] wsmelton commented on #5799
Can you provide the output of your path environment within your PA terminal of VS Code Indsiders?

[2019-06-23 15:37] potatoqualitee commented on #5799
I uninstalled it because it was too unstable for me :/

[2019-06-23 15:42] wsmelton commented on #5806
@potatoqualitee why not just make it a configuration item instead of adding on a parameter/testing? Just say either configuration called `IncludePasswordExports` and we set it to true by default.

[2019-06-23 15:51] potatoqualitee commented on #5806
We can do that in addition to parameters 👍  I don't expect most ppl will use our config systems and would prefer to use them as a backup and not primary source.

[2019-06-23 15:53] wsmelton commented on #5799
@flagmanchris can you provide your path output, and possibly the NET frameworks you have installed?

You can use this gist to gather the details: https://gist.github.com/wsmelton/48cb0fbd4a1516227b52b8bd55b49751

[2019-06-24 00:26] JohnCasSQL opened #5808 "[Bug] Add-DbaAgDatabase "Could not connect to instance""
### Environmental information

[code]

#### SQL Server:
[code]

## Report

Things to consider:
- Errors received are not related to permissions?
Dont believe so.  I see activity on the secondary under my sa login.

- Have you tried the same command using powershell.exe instead of a hosted powershell instance like ISE or VS Code?

I am using the powershell under the admin command line .
I have run:

[2019-06-24 00:55] wsmelton commented on #5808
There does not appear to be any information provided in this issue.

If the requested information can be provided we can look more into the problem.

[2019-06-24 01:15] JohnCasSQL commented on #5808
please... I was editing it!

[2019-06-24 07:50] GeorgePalacios commented on #5808
I'll have a look at this

[2019-06-24 07:54] GeorgePalacios commented on #5808
@JohnCasSQL  I think I may have found the problem - $SQLCredential is being used to try to connect to the secondary rather than $SecondarySQLCredential - could you run the command with -verbose and post the output so I can confirm that's your problem please?

[2019-06-24 07:59] JohnCasSQL commented on #5808
Here is the $error

 $Error
Could not connect to instance <server\instance>
At C:\Program Files\WindowsPowerShell\Modules\dbatools\allcommands.ps1:79716 char:9
+         throw $records[0]
+         ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], Exception
    + FullyQualifiedErrorId : dbatools_Add-DbaAgDatabase

Import-Module : Could not load file or assembly 'Microsoft.SqlSe

[2019-06-24 08:01] GeorgePalacios commented on #5808
@JohnCasSQL could you check your SQL Error log for the secondary server? You should see a login failure when you ran the command.

[2019-06-24 08:19] JohnCasSQL commented on #5808
Hi George, in actualy fact I do not - and I did look :), that is what led me to use the Credentials.  We have the same domain, the credential is valid at both servers.   I run profiler (dont shoot me) - I can actually see it connect on the secondary and see t-sql coming through - then the error.

[2019-06-24 08:21] potatoqualitee commented on #5808
Thank you @GeorgePalacios - I did try on my docker instance but both use the same u/p. And the hostname would probably work too.

@JohnCasSQL - can you please do `$error[1]` and so on up to 10 or whatever until you get the error that gives more detail about `Could not connect to instance`?

[2019-06-24 08:24] JohnCasSQL commented on #5808
@potatoqualitee
@GeorgePalacios

PS M:\> $error[1] | select *

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Exception: Could not connect to instance ICU-SQCBK7A001\ICU_SITE09
TargetObject          :
CategoryInfo          : NotSpecified: (:) [Write-Error], Exception
FullyQualifiedErrorId : dbatools_Add-DbaAgDatabase,Stop-Function
ErrorDetails          : Could

[2019-06-24 08:28] GeorgePalacios commented on #5808
@JohnCasSQL why are you passing in a SecondaryCredential if it's a domain account that has access to both out of interest?

[2019-06-24 08:32] JohnCasSQL commented on #5808
At the start I was passing no credentials.   Then I got the error, so tried the primary for the credential, same error, then the seocndary for the credential, same error.

I just tried now withouth the 2nd credential - the error is tha same as above.

SInce it does appear as though it is connecteing (accorrding to the SQL trace), I am wondering if the error about the not being able to connect to t

[2019-06-24 08:39] JohnCasSQL commented on #5808
![image](https://user-images.githubusercontent.com/52141986/60004104-515cf300-96af-11e9-8f36-b7982800157b.png)

[2019-06-24 08:52] GeorgePalacios commented on #5808
@JohnCasSQL  thanks a lot. We think we've found the problem.

[2019-06-24 08:54] JohnCasSQL commented on #5808
@GeorgePalacios I will test :)

[2019-06-24 11:34] garethnewman commented on #5803
UPDATE:- tried a few other instances and get a similar message.
[Get-SqlInstanceUpdate] Current SP version SQL2014SP3 is not the latest available. Make sure to upgade to latest SP level before applying latest CU.
[Get-SqlInstanceUpdate] Current SP version SQL2016SP2 is not the latest available. Make sure to upgade to latest SP level before applying latest CU.

[2019-06-24 12:12] GeorgePalacios commented on #5803
I'll have a look - have a sneaky feeling the issue is more to do with Get-DbaBuildReference return values.

[2019-06-24 12:16] #5808 closed

[2019-06-24 12:25] potatoqualitee commented on #5800
interesting! thank you. @StartAutomating can you please take a look?

[2019-06-24 12:38] potatoqualitee commented on #5796
hah! thanks for the thorough report and the grats, @janis-veinbergs. we'll take a look when we get some time.

[2019-06-24 13:00] potatoqualitee opened #5810 "New-DbaEndPoint Lacks good examples and has incaccurate example"
Add this one: New-DbaEndpoint -SqlInstance localhost\named2017 -Type DatabaseMirroring -Port 5055

Remove second one

[2019-06-24 13:20] garethnewman commented on #5803
Thanks George!

[2019-06-24 13:26] #5788 closed

[2019-06-24 13:26] potatoqualitee commented on #5788
:tada:

[2019-06-24 14:36] #5810 closed

[2019-06-24 14:55] cfradenburg opened #5812 "New-DbaAgentJobStep erros when used with -WhatIf [Bug]"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

#### Steps to Reproduce

New-DbaAgentJob

[2019-06-24 16:16] kmramsey commented on #5399
I don't think this should be stale.

[2019-06-24 17:38] mokadar commented on #5024
awesome:) Thanks for your great help Chrissy,

man. 17. jun. 2019 kl. 14:09 skrev Chrissy LeMaire <notifications@github.com

[2019-06-24 18:23] garyhampson opened #5813 "Watch-DbaToolsUpdate references Install-DbaWatchUpdate instead of Install-DbatoolsWatchUpdate"
### Environmental information

Name    : dbatools
Path    : C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.4\dbatools.psd1
Version : 1.0.4

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [X] powershell.exe
- [X] ISE
- [X] VS Code
- [X] Other (Azure Data Studio)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with po

[2019-06-24 19:19] potatoqualitee commented on #5800
will fix with the following, likely tomorrow

[code]

[2019-06-24 19:19] potatoqualitee commented on #5800
Thanks to @StartAutomating for the solution

[2019-06-24 19:24] potatoqualitee commented on #5813
thanks for the detailed info and provided solution @garyhampson !

[2019-06-24 19:52] #5813 closed

[2019-06-24 22:04] JohnCasSQL commented on #5808
all working!  Thanks!

[2019-06-25 06:05] MarkMathiesen opened #5816 "Get-DBADBSPACE returns different data size values."
Function returns different size types for the the same field.  IE. one record may return in MB whereas the another returns in GB or KB.  This is inconsistent and requires more coding to accommodate the varying degrees of size.

[2019-06-25 07:00] potatoqualitee commented on #5816
Hey Mark. Sorry, we really need to blog about this (any takers?) We use a really cool data type that shows pretty human readable values, but when expanded, can give you nearly every usable value. Check it out

`Get-DbaDbSpace -SqlInstance sql2017 -Database master | Select -First 1 | Select -ExpandProperty UsedSpace`

![image](https://user-images.githubusercontent.com/8278033/60076371-accac780-9727

[2019-06-25 07:01] #5816 closed

[2019-06-25 07:03] potatoqualitee opened #5817 "Need blogpost about dbasize"
If anyone uses dbasize regularly, or in a fun way, would you be up for blogging about it at dbatools.io/blog? We need to better inform our users of how to use it.

`Get-DbaDbSpace -SqlInstance sql2017 -Database master | Select -First 1 | Select -ExpandProperty UsedSpace`

![image](https://user-images.githubusercontent.com/8278033/60076461-ec91af00-9727-11e9-9985-0e611f79f935.png)

This example is

[2019-06-25 07:15] shaneis commented on #5817
I told @reitse about this for his command on dbatools the last day.

If he doens't want to chat about this, then I will 👍

[2019-06-25 07:41] wsmelton commented on #5817
Should cover use of the configuration settings as well. I can provide some details around that if needed.

[2019-06-25 08:00] reitse commented on #5817
@shaneis Something must have slipped my mind in the last days. I'm using the Get-DbaDbFile commandlet and can't remember the DbaDbSpace remark.

Here's a weird idea, a blog in the form of an interview where you explain the benefits and config settings where i'm using the knowledge to build the other command? Or is this to far out of the box...

[2019-06-25 09:52] #5800 closed

[2019-06-25 11:19] garethnewman commented on #5803
Just testing some more, I ran Get-DbaBuildReference and it returns:-
Build          : 13.0.5292
NameLevel      : 2016
SPLevel        : SP2
CULevel        : CU6
KBLevel        : 4488536
BuildLevel     : 13.0.5292
SupportedUntil : 14/07/2026 00:00:00
MatchType      : Exact
Warning        :

but Update-DbaInstance returns warning:-

[Get-SqlInstanceUpdate] Current SP version SQL2016SP2 is not the lat

[2019-06-25 12:28] garethnewman commented on #5803
OK I found it and fixed it, but I am not sure why it stopped working.

basically this:-
if ($currentVersion.SPLevel -notcontains 'LATEST')

I am not sure where 'LATEST' comes from at the moment. But if I compare currentSP to targetSP then that will be ok I think.

if ($currentVersion.SPLevel -ne $targetSP)

I'll test and raise a PR if I wrap my head around the 'LATEST' thing.

[2019-06-25 12:41] wsmelton commented on #5803
The `SPLevel` is a property that comes from `Get-DbaBuildReference`

[2019-06-25 12:46] niphlod commented on #5803
Halt. We removed "latest" because test-dbabuild is the one carrying the
info already. Having it in get-dbabuildreference was redundant

Il mar 25 giu 2019, 14:41 Shawn Melton <notifications@github.com> ha
scritto:

[2019-06-25 12:49] DBATergooi opened #5818 "Invoke-DbaDBPiiScan misses some fields in scan."
Powershell version:
Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14409.1005
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Se

[2019-06-25 12:52] garethnewman commented on #5803
are you happy with if ($currentVersion.SPLevel -ne $targetSP) @niphlod ?

[2019-06-25 13:08] niphlod commented on #5803
it's as good as you remember to update accordingly if test-dbabuild gets changed .... ^_^ I'd go for using test-dbabuild alltogether

[2019-06-25 13:36] DBATergooi commented on #5818
Just tried the same on a different Database (RVC Clinical Assistant), and again it misses the Name in tables with Pii in it, like patients tables, tables containing Pii about Doctors. When it does pick up a field named Name, it identifies it as a zip-code, probably based on the contents of the field.

Regards,
M. Diehl
DBA Tergooi Ziekenhuis

[2019-06-25 14:03] sanderstad commented on #5818
Because the names are not part of the know name patterns it starts to look at the content and indeed defines it as a zipcode because the ID probably looks like an US zipcode.

In added the names to the patterns in the mean time. That's not yet in production yet and needs to be tested.

[2019-06-25 15:46] wsuhoey opened #5822 "[Bug] Regression on Import-DbaCsv - field header not found"
### Environmental information

[code]

### Report

Regression in Import-DbaCsv in 1.05.
Same script that is failing in 1.05 works in 0.9.834.

#### Host used

- [X] powershell.exe
- [X] ISE
- [X] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [X] Still buggy in powershell.exe

#### Errors

[2019-06-25 15:48] wsuhoey commented on #5822
Adding attachment for sample csv data.
[sample_csv.txt](https://github.com/sqlcollaborative/dbatools/files/3326128/sample_csv.txt)

[2019-06-25 19:04] #5803 closed

[2019-06-25 22:24] niphlod commented on #5779
this is a breeze with the newest PSSA. Lemme see if the latest has still problems with formatting

[2019-06-25 23:16] brovoldt commented on #5799
I am having this same issues where I can use DBATools in the ISE window or built in Powershell console but in VSCode it does not work.

Here is my output of my path from the command window in VSCode

C:\Program Files (x86)\Common Files\Oracle\Java\javapath
C:\Program Files (x86)\Intel\iCLS Client\
C:\Program Files\Intel\iCLS Client\
C:\ProgramData\Oracle\Java\javapath
C:\WINDOWS\system32
C:\WINDOW

[2019-06-26 07:43] potatoqualitee commented on #5799
Thanks to all who filed an issue. Please check out 1.0.8 and let me know if that solves the problem.

[2019-06-26 08:09] jayvdb opened #5829 "Allow choosing a style setting for Invoke-DbatoolsFormatter"
### Summary of new feature

`Invoke-DbatoolsFormatter` currently only uses `CodeFormattingOTBS` setting, which is hard-coded inside the code.

These settings have some odd inconsistencies in the definition itself, which are only exposed when the setting definition is used with the linter instead of the reformatter.  See https://github.com/PowerShell/PSScriptAnalyzer/issues/769

As a result, I can

[2019-06-26 08:13] jayvdb opened #5830 "Invoke-DbatoolsFormatter: Allow Unix EOLs on Windows"
### Summary of new feature

Taking https://github.com/sqlcollaborative/dbatools/issues/5790 one step further, I also would like Unix EOLs on Windows, to be used in conjunction with `git config --global core.autocrlf false`, otherwise `git diff` on Windows is noisy with stderr that it will replace EOLs when committing, and `autocrlf` was also confusing other tools.

### Proposed technical details (

[2019-06-26 08:20] potatoqualitee commented on #5829
Thanks for the report, Jay. @niphlod can you take a look?

[2019-06-26 08:22] potatoqualitee commented on #5812
Thanks for the report! @sanderstad can you take a look?

[2019-06-26 09:20] potatoqualitee commented on #5799
Ahh hold a moment for 1.0.9, missed a spot

https://github.com/sqlcollaborative/dbatools/blob/development/internal/scripts/smoLibraryImport.ps1#L154

[2019-06-26 09:35] #5818 closed

[2019-06-26 11:25] jayvdb commented on #5830
An even better solution would be to detect the existing EOLs, either from the files themselves, or by using the `git config`.

It would also be reasonable to raise this upstream for PSSA to provide a solution, as it is already inspecting the file, so it wouldnt be too difficult for them to keep the existing EOLs, or have a setting/rule which controlled EOLs.

[2019-06-26 12:39] sqllensman commented on #5380
This actually does not do anything in current code as all scripts are written to a sub directory that includes a timestamp.
Line 173: $path = Join-DbaPath -Path $Path -Child "$($server.name.replace('\', '$'))-$timenow"

The file can never exist prior to being written.

Also for  code paths where same file is being updated with additional content eg Resource Governor, Policy Management etc then App

[2019-06-26 12:44] potatoqualitee commented on #5380
That is the Default behavior. But my intention was to allow them to be as specific as they'd like with Path and FilePath, which would benefit from -Append

[2019-06-26 13:06] sqllensman commented on #5380
As the code is currently written
FilePath parameter is unused
Path parameter is used to create a new Sub Directory that has SQL instance name and a timestamp.

As the SqlInstance parameter is an array, then it needs something like this to handle more than 1 instance being passed into the function.

The concept of having an Append switch would only make sense if there is also an option to create th

[2019-06-26 13:10] potatoqualitee commented on #5380
damn, i lost track of what i was doing there. thanks for reopening, ill take a closer look and fix.

[2019-06-26 13:15] niphlod commented on #5829
ahum.... lemme be straight. What Invoke-DbatoolsFormatter has been created for is to be able to format consistently all our codebase.
There have been countless hours passed discussing how to place a bracket or how to properly case begin, process and end block and, really, it didn't really close the deal (not even creating a wiki about codestyle).
Requiring PR reviewers to remember and adhere to al

[2019-06-26 13:23] potatoqualitee commented on #5829
i got the feeling that Jay is using your 💣  tool to fix his own non-dbatools related code.

[2019-06-26 13:24] sqllensman commented on #5380
I was looking at this function in terms of fixing issues with #5402 but I have difficulty in seeing how having an Append switch makes much sense or can be reliably implemented

The only reliable way that I can think of to achieve this is if all data was written to a single file. In this case you could implement Append logic but would also want to implement a NoClobber switch to ensure you are not

[2019-06-26 13:24] wsmelton commented on #5829
Yeah, to be clear the purpose of this command is for our module and our module alone. We didn't create this command to help other modules or code formatting needs; nor do we plan on changing it. It is meant to help the code reviewers and maintainers of this module.

[2019-06-26 13:24] potatoqualitee commented on #5829
But if he is using it to fix his own code, that is an unexpected but cool use-case ❄️ . Throwing in one param for style does not seem to be a big burden for us.

[2019-06-26 13:27] potatoqualitee commented on #5380
Good points, thank you. @SvenLowry - how did you imagine the append would work?

[2019-06-26 15:00] SvenLowry commented on #5380
I had intended to use it to "backup" the SQL instance config - each week run Export-DBAInstance for all the SQL instances and overwrite the previous files.
Currently, If I run
`Export-DbaInstance -SQLInstance "WEBSQL2" -Path "C:\SQLConfigBackup\WEBSQL2"`
It writes out all the files, then when I run the command again, it appends the config for each file to the same file - see attached example for S

[2019-06-26 15:04] potatoqualitee commented on #5380
Thank you very much, Sven! @sqllensman would you be able to address this request? Or does it already work. Can you try with

`Export-DbaInstance -SQLInstance WEBSQL2 -Path C:\SQLConfigBackup\WEBSQL2 -Append:$false` Sven?

[2019-06-26 15:16] SvenLowry commented on #5380
Is the writing to a time stamped folder newer than 0.9.804? I've just updated the dbatools module to test, and it now does write out to a subfolder inside "C:\SQLConfigBackup\WEBSQL2" - e.g.: ""C:\SQLConfigBackup\WEBSQL2\WEBSQL2-06262019161051" so doing -Append:$False has no effect.

[2019-06-26 15:30] alevyinroc commented on #5822
It appears that this happens when `-UseColumnDefault` is specified and the table being written to doesn't already exist

[2019-06-26 15:31] jayvdb commented on #5829
Ya, I am mis-using your tool, because the raw formatter tool is unusable without a wrapper.

I appreciate that you are using this to ensure your own codebase is nicely styled and avoiding all of those silly style discussions.  I am from @coala , and that is exactly the use case that we build tools for: enforcing style in CI.  However @coala has no support for Powershell atm, and I needed a linter/

[2019-06-26 15:55] niphlod commented on #5829
aha, now I get it, thanks for the clarification. we kept things separate (formatting and syntax-checking) in order to be agile and not scare the newbies away.
You're right though (if I grasped the thread): if you ask scriptanalyzer to check for formatting (also), it clashes with the very format invoke-formatter creates for the same settings.
Need to put my head into this and possibly also the bug

[2019-06-26 16:17] wsuhoey commented on #5822
But the table I'm writing to does exist already, and I've been using this code in production for a couple weeks now, writing data successfully. Until 1.x :(

[2019-06-26 16:59] shaneis commented on #5817
I think that's a great idea but I would say you'd need to interview @wsmelton or @potatoqualitee as they'd have a deeper well of knowledge than I would.
You'd get a much better interview that way 👍

[2019-06-26 20:46] flagmanchris commented on #5799
Sorry for the dealy I've not been able to get back on this computer. I installed dbatools 1.0.9 but this didn't resolve issue. I updated windows insider after that which did resolve the issue.
Thanks,
Chris

[2019-06-26 20:52] SolidCactus commented on #5799
1.0.9 didn't do the trick for me unfortunately.

I'm not on Windows Insider so I'm wondering part of that update is doing the trick for @flagmanchris?

[2019-06-26 21:48] mrothwell commented on #5680
just checking in to see if there is anything new on this?

Today, I tried to publish to my localhost with iis running.  My thinking was that since the web browser and the web server were on the same machine, there would be no "double hop".  No joy.  Still logging into the db as the machine rather than the user defined.

[2019-06-27 00:20] jpomfret commented on #5806
Also looking at using Export-DbaInstance and throwing in source control. Added param `-ExcludePassword` to both `Export-DbaLogin` and `Export-DbaInstance`.

Realise now I didn't follow your naming... let me know if I should change it.

PR #5833 is open for it

[2019-06-27 08:02] GrzegorzOpara opened #5835 "Importing dbatools module into Azure Automation Account"
Has anyone managed to import dbatools module into Azure Automation Account? I tried to do it in several ways, but every time the installation fails:

- different versions checked from 1.0.0 to the latest 1.0.9
- from portal using Automation Accounts -> Automation modules -> Browse Gallery
- from portal using Automation Accounts -> Automation modules -> import from file

Every time I got:

As you c

[2019-06-27 08:11] wsmelton commented on #5835
What region is your Automation Account in @GrzegorzOpara

[2019-06-27 08:28] wsmelton commented on #5835
Azure Automation in the process of importing the module to your account will validate the module in the Azure Sandbox environment. Let me see if I can pull the details of that and verify if anything changed.

[2019-06-27 08:35] wsmelton commented on #5835
Reference data, seems Azure Sandbox is now on Windows 10 build with PowerShell 5.1

[code]

[2019-06-27 08:53] wsmelton commented on #5835
Ok so it seems we do have an issue with the module changes. I've been able to successfully import 0.9.828 but importing 1.0.0 or higher breaks and will not import; no matter what region I use for the account.

I'll have to check with Microsoft on this to figure out what is going on. Our module is properly setup and written with regards to the manifest.

[2019-06-27 10:25] GrzegorzOpara commented on #5835
@wsmelton thanks a ton for the prompt reply!

I am using West Europe region and I confirm that version 0.9.828 works like a harm!

[2019-06-27 11:15] shaneis commented on #5775
😁 Oi @keypersltd ! Don't blame me!

I don't think the `.Where({})` and the `.ForEach({})` format works on the earlier versions of PowerShell that dbatools supports so it'll need to be re-written.

That being said, I've heard this being asked for a few times lately so I like it 👍

[2019-06-27 13:32] potatoqualitee commented on #5799
i got some error logs and will be taking a look today :thu

[2019-06-27 13:49] #5812 closed

[2019-06-27 13:55] potatoqualitee commented on #5680
@mrothwell - i did not receive any sample code so didn't pursue it. i could do it in agent, but it's not as exact.

[2019-06-27 15:06] brovoldt commented on #5822
I am running into the same issue this was working in 0.9.834 but after upgrading to 1.0.9 I get the above error.  If I uninstall dbatools and install version 0.9.834 the -column switch does work again.

[2019-06-27 16:56] flagmanchris commented on #5799
I managed somehow to get mine broken again without doing anything! If you want me to provide any info let me know. I've not really any idea where to start looking at it myself. Not really causing a problem though as easy to work around it :)

[2019-06-27 17:54] potatoqualitee commented on #5799
Can you all also follow this thread and gather the info they are looking for? I will too: https://github.com/PowerShell/vscode-powershell/issues/2052#issuecomment-506426081

[2019-06-27 19:27] kmramsey opened #5836 "[Bug] Test-DbaLastBackup - backup history is getting corrupted"
### Environmental information

[code]

#### SQL Server:
[code]

### Report

I believe I have reviewed the things to consider.

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

No err

[2019-06-28 04:18] Teutenberg opened #5837 "[Bug] Error thrown when Import-Module dbatools"
### Report
Executing PowerShell as "NT Authority\SYSTEM" fails to Import-Module dbatools.
NT Authority\SYSTEM is used when running scripts from scheduled tasks, or in my case from Octopus Deploy where the service is running under local system.

### Environmental information
[code]
#### Host used
- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
[code]

[2019-06-28 13:39] shaneis opened #5838 "Invoke-DbatoolsRenameHelper renames Connect-DbaInstance to Connect-DbaInstance[Bug]"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report
The `$commandrenames` hash has this line
[code]

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Re

[2019-06-28 15:20] potatoqualitee opened #5839 "azure function idea for dbatools"
![image](https://user-images.githubusercontent.com/8278033/60352818-f6860d00-99c8-11e9-917a-e596a04e9425.png)

perhaps some commit detector on changelog.md

[2019-06-28 16:24] haroldnorton opened #5840 "[Bug] Export-DbaUser is enumerating and displaying the current directory contents"
When running the cmdlet, whatever folder is the current directory, the contents are being dumped to the host screen at the end.

[2019-06-28 18:55] mrothwell commented on #5680
@potatoqualitee, I just sent you an email with the VS code and PS script.

In the meantime, I have been playing around with some settings and found that in IIS, I went to the app pool I'm using and changed the "identity" to use my username/password.  This seems to take care of my issue, but not really a good idea if I were to deploy this to a real IIS server and not just my PC running IIS.

[2019-06-28 19:25] potatoqualitee commented on #5680
Thanks - I still have not received the zip successfully.

The hop is between services. Have you explored double hop solutions like enabling kerberos delegation?

[2019-06-28 19:30] mrothwell commented on #5680
[SqlToolsTest.zip](https://github.com/sqlcollaborative/dbatools/files/3340583/SqlToolsTest.zip)

[2019-06-28 19:31] mrothwell commented on #5680
I did play around with kerberos by doing some searches.  Didn't really gain anything.  If you know of a good place to walk me through the kerberos delegation, please send it to me.

[2019-06-28 19:39] potatoqualitee commented on #5680
Thanks, zip worked here 💯

This tutorial looks closest to what I setup

https://support.jetglobal.com/hc/en-us/articles/115009137148-Jet-Dashboard-Builder-Configuring-Windows-IIS-Double-Hop-Settings

And this tool is recommended for troubleshooting tho I never used it. The tutorial above should be adequate tho.

https://github.com/SurajDixit/KerberosConfigMgrIIS/releases

[2019-06-29 11:38] sqllensman commented on #5840
The code has following statement at end of function

Get-ChildItem -Path $script:pathcollection.Path

This does not seem correct.
Should be using
Get-ChildItem -Path $FilePath and only calling this if $Passthru is not specified

[2019-06-29 12:18] #5840 closed

[2019-06-29 12:41] sqllensman commented on #5380
Hi @SvenLowry

Is there any circumstance where you would actually want Append to be True?
The default behaviour is to overwrite files which is why I am unsure if an Append flag is actually necessary.

Also, do you need an option to write to a directory without a timestamp?
For example
[code]

[2019-06-30 21:08] Teutenberg commented on #5837
Bug found in version 1.0.9 - PowerShell Install-Module dbatools:dbatools version 1.0.9
Bug not present in version 0.9.834 - PowerShell Install-Module dbatools:dbatools version 0.9.834

[2019-07-01 01:53] wsmelton commented on #5837
This is coming from a default path that we set for the configuration.

[2019-07-01 05:01] wsmelton commented on #5837
Reference to PR for background #5532

[2019-07-01 05:04] wsmelton commented on #5837
Full error stack for this error:

[code]

[2019-07-01 07:21] potatoqualitee commented on #5837
Does $home exist?

[2019-07-01 07:23] potatoqualitee commented on #5837
yes, it does k brb

[2019-07-01 07:25] potatoqualitee commented on #5837
hmmmm gotta work through this a bit more

![image](https://user-images.githubusercontent.com/8278033/60418005-29efb400-9be2-11e9-9991-7702ee560a10.png)

[2019-07-01 08:13] wsmelton commented on #5837
`$home` will exist under system accounts but it is a hidden system folder that you won't be able to access outside the service account's context.

[2019-07-01 08:17] wsmelton commented on #5837
On Windows machine OS @cl you can get different results as to where that `MyDocuments` path will take you....

This is Windows 10 1903 build:
![image](https://user-images.githubusercontent.com/11204251/60421104-c461ee80-9c06-11e9-8821-a6eb1486fc4e.png)

[2019-07-01 08:21] potatoqualitee commented on #5837
that may be because it's null and you are in system32. can you paste out the env variable without the ls?

[2019-07-01 08:25] wsmelton commented on #5837
It is null... I don't have a Documents folder in that hidden directory...

![image](https://user-images.githubusercontent.com/11204251/60421641-e27c1e80-9c07-11e9-9082-141b592ce7d9.png)

[2019-07-01 08:26] potatoqualitee commented on #5837
k ty!

[2019-07-01 09:13] #5837 closed

[2019-07-01 10:31] potatoqualitee commented on #5837
@Teutenberg can you please test 1.0.11?

[2019-07-01 13:49] potatoqualitee commented on #5799
An idea is to move those new DLLs to a completely new folder. It seems the integrated terminal is loading it even though we didn't say to do so.

[2019-07-01 16:53] SQLGB opened #5844 "Get-DbaErrorLogin listed on commands page but apparently does not exist"
### Environmental information
PSVersion                      5.1.14409.1018
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14409.1018
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

### dbatools Module versio

[2019-07-01 17:23] potatoqualitee commented on #5844
indeed that is true, thank you. i have updated the page 💯

[2019-07-01 17:55] SQLGB commented on #5844
@potatoqualitee FYI, same issue for these 8 commands:

Test-DbaDbDataGeneratorConfiguration
Get-DbaInstanceRole
New-DbaInstanceRole
Remove-DbaInstanceRole
Select-DbaObject
Get-DbaInstanceRoleMember
Find-DbaUnusedIndex
Set-DbatoolsConfig

[2019-07-01 18:00] SQLGB commented on #5844
Minor correction - these two are apparently found via get-command, but the online help pages don't exist...

Select-DbaObject
Set-DbatoolsConfig

[2019-07-01 18:08] potatoqualitee commented on #5844
Thanks so very much, @SQLGB I am unsure how I'm going to get the cmdlet help into there. @niphlod can you offer any suggestions? It exists in Get-Help, can we smash it into the json? @ClaudioESSilva would you be able to take a look at the webpage?

[2019-07-01 19:41] potatoqualitee opened #5846 "Rolling AOAG Upgrade Checklist"
from Rick Obsitnik on linkedin: https://www.linkedin.com/feed/update/urn:li:activity:6551487533283364864

[aoag.pdf](https://github.com/sqlcollaborative/dbatools/files/3347087/aoag.pdf)

[2019-07-02 07:42] prochnowc opened #5848 "[Bug] dbatools fails on linux in docker container with missing bogus.dll"
### Environmental information

[code]

#### SQL Server:

not applicable

### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce

[code]

#### Ex

[2019-07-02 07:47] SQLDBAWithABeard opened #5849 "Invoke-DbaRenameHelper doesnt rename Test-DbaDbVirtualLogFile to Measure-DbaDbVirtualLogFile[Bug]"
### Environmental information

[code]

#### SQL Server:
N/A
### Report

updating dbachecks and @shaneis ran rename helper but it hasnt renamed the  Test-DbaDbVirtualLogFile command to  Measure-DbaDbVirtualLogFile

#### Expected Behavior

to have  Test-DbaDbVirtualLogFile renamed
#### Actual Behavior

It wasn't !!

[2019-07-02 08:05] #5838 closed

[2019-07-02 10:57] RemkoD commented on #5799
I encounter this error in Visual Studio Code **and** once in PowerShell ISE. Because i primary work in VSC I encounter the error there more often. Usually I can fix the issue by recycling the PowerShell session. One time this work-around didn't work and I had to restart my machine.

We load the dbatools module from a 'scripttoprocess' script while importing one of our own modules. We use the Force

[2019-07-02 11:06] potatoqualitee commented on #5799
Thank you for the report, @RemkoD. Did you encounter this error in PowerShell ISE since 1.0.0?

[2019-07-02 11:20] RemkoD commented on #5799
@potatoqualitee, Currently I'm implementing dbatools in our tooling to replace SQL related cmdlets from various modules. I haven't worked with a version before 1.0.0. I have this issue since I've started to work with the dbatools module. I love what I've seen from the dbatools module so far. This bug is the only issue on my list. Unfortunately a nasty bug.

[2019-07-02 12:39] paschott opened #5850 "[Bug] Start-DbaMigration - "WARNING: [10:24:01][Get-DbaAvailabilityGroup] Availability Group (HADR) is not configured for the instance: TargetServer.""
### Environmental information

[code]

#### SQL Server:
[code]

[code]

### Report
When running Start-DbaMigration, I get warnings about "Get-DbaAvailabilityGroup" for my databases. As far as I know, neither the source nor destination have AG set up for any databases.

#### Host used

- [ ] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe w

[2019-07-02 13:32] sqllensman commented on #5552
The cause of this error is the code at Line 371

$null = Add-Content -Value "ALTER RESOURCE GOVERNOR RECONFIGURE" -Path "$Path\$stepCounter-resourcegov.sql"

This should be
$null = Add-Content -Value "ALTER RESOURCE GOVERNOR RECONFIGURE" -Path "$Path\$fileCounter-resourcegov.sql"

The numbering of file is determined by $fileCounter and not $stepCounter.

[2019-07-02 20:50] lazarith commented on #5799
I am getting the same error randomly after upgrading dbatools as well.  In vscode and ISE when trying to execute Invoke-DBAQuery command.

dbatools Version 1.0.12 installed in user profile

Powershell on Windows 10
Name                           Value
PSVersion                      5.1.17134.765
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVers

[2019-07-02 23:10] potatoqualitee commented on #5850
Found it, thank you!

[code]

[2019-07-02 23:26] potatoqualitee commented on #5799
Thanks @lazarith - the PowerShell team is currently looking into this, so hopefully we'll get some movement soon. Until then, you can restart your VS Code until it works again. Or this is what I'm doing basically default to powershell.exe thoo u lose the benefits of integrated terminal, but i dont use them anyway)

https://twitter.com/sqldbawithbeard/status/1143446045730529286

https://twitter.com

[2019-07-02 23:43] #5850 closed

[2019-07-03 08:16] Nullh opened #5853 "[Bug] Import-DbaCsv Imports header row by default"
### Environmental information

#### PowerShell version:

[code]

#### dbatools Module version:

[code]

#### SQL Server:
[code]

### Report

Import-DbaCsv imports the first row of data, even if it's header data.

The help for the -NoHeaderRow flag specifies it should use the first row of the import file as a header row by default, but behaviour is the same if this flag is specified or not.

The sa

[2019-07-03 08:21] Nullh commented on #5853
I guess the root problem is that I have no way of importing a csv file with column headers without also importing the headers.

[2019-07-03 08:48] #5552 closed

[2019-07-03 13:05] mikepetrak opened #5855 "Possible [Bug] with New-DbaAvailabilityGroup: "The property 'SeedingMode' cannot be found on this object...""
### Environmental information

Name    : dbatools
Path    : C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.9\dbatools.psd1
Version : 1.0.9

[code]

#### SQL Server:

[code]

[code]

### Report

- Have you tried the same command using powershell.exe instead of a hosted powershell instance like ISE or VS Code? Yes, got the same error in powershell.exe.

#### Host used

- [X] powershell.exe

[2019-07-03 14:23] potatoqualitee opened #5856 "FilePath not honored in Export-DbaRegServer"
it keeps being a directory

[2019-07-03 14:36] wsmelton commented on #5856
`Export-DbaCsv` is a command in the module?

[2019-07-03 14:37] potatoqualitee commented on #5856
LOL oops thank you, regsrever

[2019-07-03 15:57] Nullh commented on #5853
Looks like there's not been any changes to LumenWorks.Framework.IO 4, so guessing it's not that.
Logic around populating $FirstRowHeader looks fine too!

Thought I'd test this and it look like the -Delimiter parm isn't working right either. If I switch commas to semicolons in my test file and set the delimiter to ';' everything comes in as a single column. I'm guessing the parameters being added t

[2019-07-03 15:59] rliebau commented on #5853
I am experiencing the same issue on 1.0.12. I upgraded directly from 0.9.834. This function was working properly on 0.9.834.

[2019-07-03 16:05] Nullh commented on #5853
For ref looking like commit [8d237c659eaf56acb06f4052690cf9e679d1593b](https://github.com/sqlcollaborative/dbatools/commit/8d237c659eaf56acb06f4052690cf9e679d1593b#diff-99eb8e9a00ab259773527d850773db43) might be the change that's causing the problem.

[2019-07-03 16:44] Nullh commented on #5853
Just realised I’m an idiot that can’t read Powershell! xD
Looks like the properties added to the $reader object aren’t being passed to the Csvreader constructor. Having a crack at making that work!

[2019-07-03 20:11] dylan-azucena opened #5859 "New-DbaAvailabilityGroup - add option to force IPs in endpoint urls"
### Summary of new feature

Currently, `New-DbaAvailabilityGroup` will create replicas in an availability group with host names instead of IP addresses, even if IP addresses are supplied as `-Primary` and `-Secondary`. Using IP addresses is desirable in cases where you don't want to rely on dns or hostname consistency.

### Proposed technical details (if applicable)

T-SQL allows creating an avail

[2019-07-04 10:37] Nullh commented on #5853
For some reason any constructor in CsvReader that used encoding didn't seem to work!
Rather than have a go at fixing LumenWorks.Framework.IO.Csv.CsvReader I've moved encoding to the creation of the System.IO.StreamReader object, which seems to solve the encoding problem. Then I could just pass our vars to the CsvReader constructor and was able to run imports with a combination of vars properly.

[2019-07-04 13:25] #5848 closed

[2019-07-04 13:26] #5376 closed

[2019-07-04 13:36] Doessing opened #5861 "Rename-DbaDatabase -FileName -Preview incorrectly renames files with -preview"
-Preview
Shows the renames without performing any operation (recommended to find your way around this function parameters ;-) )

I ran this command:
Get-DbaDatabase -SqlInstance Sql2017 -Database MDG | Rename-DbaDatabase -DatabaseName "<DBN>-backup" -FileName "<FNN>-backup" -Move -Preview | Select-Object *

After fidling around with the correct settings - running the command multiple times always

[2019-07-04 14:12] triglavan opened #5862 "Sync Logins between servers with drop operations"
### Summary of new feature

Creating script for removing logins from secondary MS AOHAG servers, which are not present on the primary MS AOHAG (AlwaysOn High Availability Group)

### Proposed technical details (if applicable)

We have 3 MS SQL servers that are connected over AOHAG. On first we have one primary AG and on second we also have one primary AG. In this AG groups are different databases

[2019-07-04 15:48] niphlod commented on #5861
can you consistently reproduce ?
looking at the code there's `if (!$Preview) {` in all the right places...
BTW: "I now have a datatabase file named ......" >> you have the physical name of the file changed or the logical file name ?

[2019-07-05 07:39] Nullh commented on #5853
Pulled the latest update and the header row is now only imported if I use the -NoHearRow arg. Also fixed the problem with the delimiter arg not being recognised, so closing.

[2019-07-05 07:39] #5853 closed

[2019-07-05 10:36] potatoqualitee opened #5864 "Build ref"
do we not support hotfixes and if not, can we?

it's messing with my sexy new command 😅

![image](https://user-images.githubusercontent.com/8278033/60717184-73f9d200-9f21-11e9-9774-d606719f228e.png)

[2019-07-05 10:53] wsmelton commented on #5864
I'm not sure I follow. If you are referring to 4494351 not being in the build file it is because no one has added it.

[2019-07-05 10:59] potatoqualitee commented on #5864
oh, i did not see hotfixes on /builds so figured hotfixes were not a part of the setup

[2019-07-05 11:35] potatoqualitee commented on #5822
this should be fixed in the latest version. Please reopen if that is not the case 💯

[2019-07-05 11:35] #5822 closed

[2019-07-05 13:30] #5337 closed

[2019-07-05 13:37] potatoqualitee commented on #5799
@flagmanchris - can you delete app.config in bin\ and tell me if that fixes it? renaming it did not, but i cannot repro after deleting the file entirely (??)

[2019-07-05 17:19] flagmanchris commented on #5799
@potatoqualitee I've removed app.config and it appears to be working. I'll test out a little more and let you know

[2019-07-05 18:59] jpomfret commented on #5777
Hey @ahmetrende - I tried to replicate this and couldn't using version '1.0.9'. Can you let me know the code you ran that you got an error?

I ran the following and moved 21million rows in 6.5 mins.
[code]

[2019-07-06 07:17] flagmanchris commented on #5799
Renaming or removing the file seem to fix it every time for me; putting the file back breaks it :)

[2019-07-06 09:15] potatoqualitee commented on #5799
sooo happy to hear! can you try the latest release? i removed the file and now write to disk dynamically

[2019-07-06 18:55] flagmanchris commented on #5799
Is this v1.0.15 master? I've tried that but I'm getting the error again :(

[2019-07-07 12:06] potatoqualitee commented on #5799
💔 i'm out of ideas

[2019-07-08 08:40] SvenLowry commented on #5380
Being able to write to a specific folder and specific files  (so the same set of files are maintained each time the script is run) is what we're looking for.

[2019-07-08 09:20] sqllensman commented on #5380
Thanks for clarification. This will require an option to exclude the timestamps and also maintain a consistent name for individual files.

[2019-07-08 13:21] Nullh opened #5868 "[Bug] Impmort-DbaCsv Does Not Import Files With a Schema Specified In The Filename To That Schema"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [x] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

No errors thrown

#### Steps to Reproduc

[2019-07-08 13:25] RemkoD commented on #5799
I've just got the error again (still on 1.0.11 though).  I've ran a few tests.

1. The module DbaTools worked fine in my PowerShell session.
2. I've recreated my PS session (killed and starting a new powershell process) to have a 'clean' session.
3. Imported DbaTools the same way as before, now I receive the error.

I've noticed that the dll 'Microsoft.Azure.Services.AppAuthentication' is actually

[2019-07-08 13:45] #5868 closed

[2019-07-08 14:57] Crucial2K opened #5871 "Invoke-DbaDbLogShipRecovery enhancements..."
### Invoke-DbaDbLogShipRecovery has missing features.

invoke-DbaDbLogShipRecovery only checks for a recent copy of a transaction log before recovering the target. To have a more complete tool ideally there should be options to:

- Take a final tlog backup;
- Copy/restore the final backup to the target;
- Once complete disable transaction log shipping at the source (therefore include the target)

[2019-07-08 20:02] s-hamzee opened #5874 "[Bug]"
[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

[code]

[2019-07-08 21:32] wsmelton commented on #5874
Documentation states for the database provided...

https://docs.dbatools.io#/New-DbaDbUser

[2019-07-08 21:32] #5874 closed

[2019-07-08 21:35] wsmelton commented on #5874
In addition the error provided states the login you tried to add does not exist on the domain or SQL Server instance cannot find it.

If you find further errors pertaining to the command itself that are not environmental please open a new issue. (It also helps to provide a proper title.)

[2019-07-08 22:14] jaredfaulkner opened #5875 "[Bug] Get-DbaSchemaChangeHistory fails in instances with case-sensitive collations"
### Environmental information

[code]

#### SQL Server:
[code]
### Report

#### Host used

- [x ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

PSMessageDetails      :
Exception             : System.Ma

[2019-07-09 02:01] OwainEsau opened #5876 "Property DatabaseName cannot be changed or read after a connection string has been set."
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

The error message i have seen before but i thought it was fixed?

It is on Invoke-DBAQuery when trying to use SQLCredentials:

```WARNING: [11:54:33][Invoke-DbaQuery] [SERVERADDRESS] Failed during execution | Property DatabaseName cannot be changed or read after a connection string has been set.```

This p

[2019-07-09 09:08] wsmelton commented on #5876
So you are calling the invoke command successfully without the database parameter. Then making a second call with the database parameter and received the error?

Are you connecting to the same server?

Can you update the module to the latest release to verify if the but persists beyond the latest version you are running?

[2019-07-09 09:16] niphlod commented on #5864
We do have hotfixes, they're the ones not marked as rtm or SP or CU

Il ven 5 lug 2019, 12:59 Chrissy LeMaire <notifications@github.com> ha
scritto:

[2019-07-09 09:20] potatoqualitee commented on #5864
ah kk ty!

[2019-07-09 09:20] #5864 closed

[2019-07-09 09:27] potatoqualitee commented on #5844
ping @niphlod

[2019-07-09 13:34] jaredfaulkner commented on #5875
The following case-sensitive version of the query in $Sql resolves the issue for me:
[code]

[2019-07-09 13:46] potatoqualitee commented on #5875
hayle yeah, thank you for the solution, jared! are you interested in submitting the Pull Request, perchance?

[2019-07-09 17:50] #5875 closed

[2019-07-10 00:10] OwainEsau commented on #5876
@wsmelton I am on the latest release yes. Server address remains the same i omitted the database name and was trying to just specify the database in the Query ```FROM [database].dbo.database``` etc. Didnt realise i couldn't do that with an Azure SQL server so i added the database parameter which is when i got this error. Restarting the PowerShell session doesnt resolve the error

[2019-07-10 06:04] niphlod commented on #5844
Assign this to me, I'll take a look ASAP

Il mar 9 lug 2019, 11:27 Chrissy LeMaire <notifications@github.com> ha
scritto:

[2019-07-10 09:35] BilliousBT opened #5881 "Suggestion for Get-DbaDbMirror"
Would be useful to natively filter on database, so it can be used to pass stuff through without extensive filtering.

I am using it to automate the decommissioning of the mirroring partners as part of a migration and the mirror is broken.

(Alternative add an option to remove-dbadbmirror that cleans up the orphaned pairs)

[2019-07-10 10:07] bertvanlandeghem opened #5882 "[Bug] New-DbaDbTable: Column Length not set correctly for string data type."
### Environmental information
#### PowerShell version:

Name                           Value
----                           -----
PSVersion                      5.1.15063.1805
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.1805
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
P

[2019-07-10 10:28] potatoqualitee commented on #5882
thanks so much, bert! appreciate the proposed solution as well. any interest in submitting the Pull request/fix?

[2019-07-10 10:29] potatoqualitee commented on #5844
thanks niph!

[2019-07-10 10:30] bertvanlandeghem commented on #5882
OK, will do.

[2019-07-10 12:05] bertvanlandeghem commented on #5882
Closed by #5883.

[2019-07-10 12:05] #5882 closed

[2019-07-10 12:15] potatoqualitee opened #5884 "Discussion: Autodetect Proxy Server and set in Invoke-TlsWebRequest?"
This is what I'm doing in another module

[code]

[2019-07-10 14:43] BilliousBT opened #5886 "[Bug] Remove-DbaDbMirror - Documentation Examples Refers to Set-DbaDbMirror"
The documentation page at: https://docs.dbatools.io/#Remove-DbaDbMirror

has this for examples:

Examples

Example: 1
PS C:\> **Set-DbaDbMirror** -SqlInstance localhost
Returns all Endpoint(s) on the local default SQL Server instance

Example: 2
PS C:\> **Set-DbaDbMirror** -SqlInstance localhost, sql2016
Returns all Endpoint(s) for the local and sql2016 SQL Server instances

[2019-07-10 15:41] imyourdba opened #5887 "Repair-DbaDbOrphanUser Contained Database Message"
Looks like we are getting a message that if a database is Contained then it can't have orphaned users.  But if the user was mapped as a normal user to a login at the server level, then it can definitely be orphaned.  Not all users in a Contained database have to be contained, it just gives them the option to be so.

WARNING: [10:24:16][Repair-DbaDbOrphanUser] Database '[blah]' is a contained datab

[2019-07-10 15:50] imyourdba opened #5888 "Copy-DbaDatabase Add Destination Folder Parameter"
### Summary of new feature

I was using Copy-DbaDatabase recently and needed to restore to a different drive letter than was the default in the instance configuration.  I ended up using the command, then detaching the database, moving the files and then reattaching.  It would be nice to have a parameter to allow us to provide the restore path to be used.

### Proposed technical details (if applica

[2019-07-10 18:27] JanK-Orb opened #5889 "[Bug] Grant-DbaAgPermission doesn't perform GRANT"
### Environmental information

[code]

#### SQL Server:

[code]

### Report
A bug:
line 114 :     if ($perm -contains "CreateAnyDatabase") {
At this point $perm is undefined, parameter should be named $Permission

Could also consider changing the ALTER statement by wrapping the $ag parameter with [] to allow non-alphanumeric characters in AG names.
ALTER AVAILABILITY GROUP [$ag] GRANT CREATE ANY D

[2019-07-10 18:34] kmramsey commented on #5836
Would someone mind trying to reproduce this problem and confirm it?  Thanks!

[2019-07-10 19:12] JanK-Orb commented on #5889
Please note that once this issue is fixed, we'll no longer enter our `elseif ($Login)`  at line 129, and we'll not populate `$InputObject` with the list of accounts passed in. That means the entire section starting at line 144, `foreach ($account in $InputObject) {` will no longer execute.

[2019-07-10 19:42] JanK-Orb opened #5890 "Extend Add-DbaAgReplica to perform Backup/Restore"
### Summary of new feature

Either extend  Add-DbaAgReplica to perform Backup/Restore, or create a new command to allow joining of a Replica to an existing AG via the Backup/Restore method (Seeding = Manual)

### Proposed technical details (if applicable)

Relevant code could be extracted from https://github.com/sqlcollaborative/dbatools/blob/master/functions/Add-DbaAgDatabase.ps1

It may be best

[2019-07-10 19:53] jaredfaulkner opened #5891 "[Bug] Exception in Get-DbaRegServer.ps1 caused by incorrect path to APPDATA"
### Environmental information
[code]
### Report
The $Home variable used on line 118 does not necessarily lead to the APPDATA location in certain profiles using folder redirection.

[code]
perhaps should be
[code]

#### Host used

- [x ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issu

[2019-07-10 23:49] wsmelton commented on #5884
Could you just use `[System.Net.WebRequest]::GetSystemWebproxy()` to get it instead of looking at the regkey?

https://docs.microsoft.com/en-us/dotnet/api/system.net.webrequest.getsystemwebproxy?view=netframework-4.8#System_Net_WebRequest_GetSystemWebProxy

[2019-07-11 00:26] wsmelton commented on #5876
Confirmed latest release, 1.0.20, includes this bug...

![image](https://user-images.githubusercontent.com/11204251/61013538-a6a03200-a348-11e9-9e03-aecdce589472.png)

[2019-07-11 06:09] potatoqualitee commented on #5889
Thanks for the report, @JanK-Orb ! Any chance you would be able to fix this issue? I will not have time until at least next week.

[2019-07-11 06:13] potatoqualitee commented on #5876
Anyone have time to fix this one? It seems important and I'm knee deep in another project.

[2019-07-11 06:14] potatoqualitee commented on #5891
thanks so much, Jared! Any chance you can fix this one too? 😅 I'm knee deep in a work project.

[2019-07-11 15:29] jaredfaulkner commented on #5891
No problem.
<http://jaredfaulkner.net?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Jared Faulkner
https://jaredfaulkner.net
<https://jaredfaulkner.net?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>

On Thu, Jul 11, 2019 at 1:14 AM Chrissy LeMaire <notifications@github.com>
wrote:

[2019-07-11 18:08] potatoqualitee commented on #5891
you're awesome! 💪 Thank you so very much

[2019-07-11 18:13] #5891 closed

[2019-07-14 18:48] alevyinroc opened #5894 "Install-DbaMaintenanceSolution fails to install jobs, reports success"
### Environmental information

#### Powershell version:
[code]
#### dbatools module version:

[code]
#### SQL Server:
[code]

### Report

`Install-DbaMaintenanceSolution -SqlInstance $SQL16 -Database Master -BackupLocation c:\sqlbackup\sql16  -CleanupTime 25  -InstallJobs -Verbose;`

Fails to to install Agent jobs, but tables and stored procedures are created. Function returns `Success`

[code]

#

[2019-07-14 19:00] alevyinroc opened #5895 "Set-DbaPowerPlan doesn't accept pipeline input from Test-DbaPowerPlan"
### Environmental information

#### Powershell version:
[code]
#### dbatools module version:

[code]
#### SQL Server:
[code]
### Report
When attempting to use `Test-DbaPowerPlan | Set-DbaPowerPlan` in a manner similar to `Test-DbaMaxMemory | Set-DbaMaxMemory', an error is produced and the expected action does not happen

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (ple

[2019-07-15 11:38] potatoqualitee opened #5896 "Connect-DbaInstance does not catch exception at $serverconn.Connect()"
-disableexception still throws the exception

[2019-07-15 14:10] potatoqualitee opened #5897 "Add Jeffrey Snover's tweet quote to dbatools.io homepage and /secure"
https://twitter.com/jsnover/status/1148555448985014278

[2019-07-15 16:44] niphlod commented on #5876
thought it was a problem on invoke-dbaquery but it seems is originated from connect-dbainstance in the first place....

try

$server = connect-dbainstance -sqlinstance azure -databasename 'whatever'
$server.connectioncontext.executescalar("select db_name()")

[2019-07-15 18:03] nvarscar commented on #5526
Thanks stale bot, I'll try to finally remember to fix it.

[2019-07-15 22:53] niphlod commented on #5876
@wsmelton , @OwainEsau , @potatoqualitee : would you please give #5898 a try ?

[2019-07-15 22:55] niphlod commented on #5884
this would probably work just for "fixed" proxies. Evaluating, e.g., a PAC file would be .... a better fix, if .net has already a method for it ?

[2019-07-15 23:16] potatoqualitee opened #5899 "Help community write a persuasive paper for recalcitrant potential adopters"

[2019-07-15 23:24] wsmelton commented on #5899
This seems like an Microsoft Flow thing that could be done....or some AI stuff: dbatools.cool (like the powershell.cool Beard did).

[2019-07-15 23:25] potatoqualitee commented on #5884
thx wassa pac and would this negatively impact users or just not cover enough of them?

[2019-07-15 23:37] potatoqualitee commented on #5899
haha! that'd be awesome

https://twitter.com/i/web/status/1150911040076443648

Need to add that and Snover's quote to /secure
https://github.com/sqlcollaborative/dbatools/issues/5897

[2019-07-15 23:38] #5897 closed

[2019-07-16 00:11] potatoqualitee commented on #5899
https://twitter.com/SirWill/status/1150918379579985922

[2019-07-16 00:56] niphlod commented on #5884
https://en.wikipedia.org/wiki/Proxy_auto-config

[2019-07-16 01:17] alevyinroc commented on #5894
Additional note: Error only happens if `-Solution All` is used. When the individual solutions are installed, everything works properly. It appears to be an issue with the temp table `#Config` being dropped between invocations of `$null= $db.Query($query)` after `MaintenanceSolution.sql` is split on `GO`

[2019-07-16 01:59] alevyinroc commented on #5894
With much thanks to @cjsommer, a better repro:

[code]

[2019-07-16 07:06] potatoqualitee opened #5900 "write articles for databasejournal.com"
https://www.databasejournal.com/search.html?q=dbatools is 0 D:

[2019-07-16 12:35] potatoqualitee opened #5901 "Get-DbaBuildReference -> Get-DbaBuild"
Motion to add a perma alias to Get-DbaBuildReference and rename it to Get-DbaBuild.

Anyone remember why we kept `Reference` ?

[2019-07-16 14:37] #5849 closed

[2019-07-16 16:30] SQLDBAWithABeard commented on #5849
Thank you @jpomfret  @potatoqualitee

[2019-07-16 16:55] JuleSQL opened #5904 "Test-DbaLastBackup $totalsize of DB backup wrong when -MaxSize parameter used. Possibly pinpointed issue"
### PowerShell Version:

[code]

### DBATools Version:

[code]

### Environmental information

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] VS Code

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received
The backup size for <Database> ( MB) exceeds

[2019-07-16 17:16] JuleSQL opened #5905 "Test-DbaLastBackup Output for if else statement possibly using wrong variable"
### PowerShell Version:

[code]

### DBATools Version:

[code]
### Environmental information

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] VS Code

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received
No error, variable for the backup size was not

[2019-07-16 23:43] simonmckenzie opened #5906 "[Bug]: Infinite loop when not masking unique columns in a table where HasUniqueIndex is true"
### Environmental information

[code]

[code]

#### SQL Server:
[code]

### Report

#### Host used

- [X] powershell.exe
- [X] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [X] Still buggy in powershell.exe

#### Errors Received

Script uses all memory on system, then terminates

[2019-07-17 03:39] simonmckenzie opened #5907 "[Bug] Very slow masking performance with large tables"
### Environmental information

[code]

[code]

#### SQL Server:
[code]

### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

Very slow performance when trying to mask tables of reasonable size (~6K items)

#### Steps to Reproduce

[code]

[code]

[code]

#### Expected Behavior

It won't take that long to mask 6000 rows
#### Ac

[2019-07-17 09:37] simonmckenzie commented on #5907
I have vague memories of working with `DataSets`, and perhaps a faster way would be to create a new row in the destination table, set the `ItemArray`, then call `AcceptChanges` on it, something like this:

[code]

Here's where it is in GitHub: https://github.com/sqlcollaborative/dbatools/blob/cd7a897cf042666e3bdbd18b6fdefb77dd4991fd/functions/ConvertTo-DbaDataTable.ps1#L307

[2019-07-17 13:20] #5876 closed

[2019-07-17 16:27] pattere opened #5909 "issue trying to get start-dbamigration to run"
I am not a big powershell user.  But, I am working with dbatools to test it for some upcoming SQL server migrations.  I am starting with the line below on a test server:
[code]

* I do have open connections to both database servers, the local one, and the on to be migrated, in SSMS.
* Where Z:\ is a mapped drive to a backup location on the server to be migrated.  With a sub-directory for each data

[2019-07-17 18:55] alevyinroc commented on #5894
`Install-DbaMaintenanceSolution` connects to the target instance as follows:

```$server = Connect-SqlInstance -SqlInstance $instance -SqlCredential $SqlCredential -NonPooled```

`Install-DbaWhoIsActive` does this:

```$server = Connect-SqlInstance -SqlInstance $instance -SqlCredential $SqlCredential```

I need to test this out but it appears that the issue may be the `-NonPooled` switch. Do we ne

[2019-07-17 20:57] wsmelton commented on #5835
This is still broke even after @potatoqualitee removed some troublesome DLLs. I'm still waiting on response from team at Microsoft.

[2019-07-17 21:02] potatoqualitee commented on #5835
Noooooooooo 💔

[2019-07-17 21:05] wsmelton commented on #5835
Yep, not sure if no response is coming from they are involved with Inspire event this week or not. I'm seeing if I can backdoor some stuff to get more verbose output from the Azure Sandbox, see if it will tell me why it won't validate it properly.

[2019-07-18 01:54] wsmelton commented on #5907
Performance issues are subjective to many environmental configurations that we will never be able to fully duplicate. I don't have a 2008 instance handy to try your example but on SQL Server 2017 Linux container it runs in 5.1 seconds.

[2019-07-18 02:00] simonmckenzie commented on #5907
That's surprising and disappointing! The slow lines identified here don't even touch the database - is this going to be related to the version of the .NET framework in use?

[2019-07-18 02:02] wsmelton commented on #5909
A shared path needs to be a UNC share. A mapped drive cannot be seen across two different SQL Server instances.

As well, use of the admin share `\\servername\D$` will not work if the service account for SQL Server (both instances) has access to it as well. You will need to utilize a network share that both service accounts for SQL Server can physically access and read/write to them.

[2019-07-18 02:09] wsmelton commented on #5907
Not likely because I ran the test on the same build of PowerShell and Windows 10 you provided. The only difference is SQL Server from my view, but I don't know what hardware specs your server is on.

`Measure-Command` will add overhead in order to calculate the timing. So not sure how much that is messing with your results. You might add something like:

[code]

[2019-07-18 03:10] alevyinroc opened #5912 "Make Expand-DbaDbLogFile question clearer (or remove)"
### Summary of new feature

If the `TargetLogSize` parameter passed into `Expand-DbaDbLogFile` matches the suggested target log size, don't prompt the user for an override.

Example:

[code]

### Proposed technical details (if applicable)

Perform an additional test in the `if` block starting on line 418 to check that the suggested and requested log sizes are different. If they are not different,

[2019-07-18 03:36] wsmelton commented on #5912
Why do we even make a suggestion? I don't think the command should have that logic at all, it goes more into a test command.

[2019-07-18 05:32] simonmckenzie commented on #5907
Hi @wsmelton, I tried using your recommendation, and the results are similar:

| Merge time (ms) |  ToTable time (ms) |  Destination rows |  Source rows |
|-----------------|--------------------|-------------------|--------------|
|                 |                    |                   |              |
| 4.2399          |  250.8369          |  0                |  6000        |
| 3.9563

[2019-07-18 05:48] sanderstad commented on #5907
@simonmckenzie I will look into it. Like @wsmelton says, it has to be something in either your SQL server configuration or SQL server version.

[2019-07-18 07:45] LeSnowTiger opened #5913 "[Bug] Get-DbaAvailabilityGroup into Export-DbaScript throws unknown property Name"
### Environmental information
[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce
Pipe Get-

[2019-07-18 15:15] scinobe opened #5914 "Install-DbaInstance Bug/Enhancement"
When specifying the InstancePath, I attempted to use the root of a drive (G: and G:\) with the assumption that the default path would be created for me...

G:\MSSQL13.MSSQLSERVER\MSSQL\Data\

However, I got an error stating invalid characters in the InstancePath - G:""
It would be very useful to be able to only enter the root of a data drive in order to have the install continue, if possible.  But

[2019-07-18 16:15] wsmelton commented on #5913
The information provided shows a culture of `us_english` but your errors are not in English. Can you provide the culture of your SQL Server machine and the machine used to run the commands? As well it would be helpful if the error information can be converted to English.

[2019-07-18 16:26] LeSnowTiger commented on #5913
Thanks for responding.
I've translated and edited the original error which was in german. Please tell me if I missed something.

Culture of PowerShell:
German (Swiss)

Culture of SQL:
us_english

[2019-07-18 18:27] IdrisArslanian opened #5915 "Issue with Write-DbaDbTableData for Azure SQL DBs"
We recently updated Dbatools and all of a sudden, the function Write-DbaDbTableData started telling us the Azure SQL DB we were previously writing to no longer exists.  When we reverted to version 0.9.818, it worked as before.  Have the relevant compare section screenshot:
![image](https://user-images.githubusercontent.com/4398552/61481963-145ae800-a95f-11e9-9920-3fd543bea9dc.png)

[2019-07-18 18:45] potatoqualitee commented on #5914
Thank you for the report! I love that you referred to it as a **procedure** ala 1995 when we used to hang out every day in gym class.

[2019-07-18 18:52] scinobe commented on #5914
I have a lot going on right now :-P

On Thu, Jul 18, 2019 at 11:45 AM Chrissy LeMaire <notifications@github.com>
wrote:

[2019-07-18 21:14] potatoqualitee opened #5916 "update-dbainstance verbose should be warn"
"is already the latest available" should be a warn instead of verbose so that the person can know why the updater quit

[2019-07-19 06:59] jomi50 opened #5917 "Add-DbaAgDatabase - Add Wait switch based on Sync status"
### Summary of new feature
I am running a synchronous AlwaysOn cluster and when I use Add-DbaAgDatabase the command returns sucessfully even when the secondary databases SynchronizationState is still NotSynchronizing/Initializing. I do not really want to continue with my skript until the database is in sync and a "-wait" switch (cherry on top would be a wait timeout) would make live easier.

### P

[2019-07-22 05:46] ahmetrende commented on #5777
Hi @jpomfret ,
Thanks for comment. But;

If the query is complex and longer than 30 secs. It will be timed out for my examples.

I'll try again different methods. Thanks!

[2019-07-22 14:40] ttoennies opened #5919 "Option to pass compatibility to Get-DbaDbCompatibility as an integer."
Get-DbaDbCompatibility returns compatibility as a string while Set-DbaDbCompatibility needs an integer.  Please consider adding a switch to Get-DbaDbCompatibility so that an integer could be returned which allow us to write a command such as this:

$Comp = Get-DbaDbCompatibility -SqlInstance psqlb7sm102 -Database master

Set-DbaDbCompatibility -SqlInstance psqlb7sm102 -Database MyUserDB -TargetCom

[2019-07-22 14:45] ttoennies commented on #5919
Get-DbaDbCompatibility returns compatibility as a string while Set-DbaDbCompatibility needs an integer.  Please consider adding a switch to Get-DbaDbCompatibility so that an integer could be returned which allow us to write a command such as this:

$Comp = Get-DbaDbCompatibility -SqlInstance psqlb7sm102 -Database master

Set-DbaDbCompatibility -SqlInstance psqlb7sm102 -Database MyUserDB -TargetCom

[2019-07-22 15:48] wsmelton commented on #5919
I see it as stating that Set command needs to support the string value returned by the get command to support proper piping.

The set command has the conversion code already in it we just don't allow the property and type correctly.

[2019-07-22 16:00] ttoennies commented on #5919
The documentation suggests that the Set command needs the value as an integer; so how would the piping work?

This command:

Get-DbaDbCompatibility -SqlInstance server01 -Database master | Set-DbaDbCompatibility -SqlInstance server01 -Database userdb

produces this error:

Set-DbaDbCompatibility : The input object cannot be bound to any parameters for the command either because the command does no

[2019-07-22 16:28] wsmelton commented on #5919
The Set command has to be rewritten.

[2019-07-22 18:24] mmaagk642 opened #5920 "Watch-DbaDbLogin not working due to incorrect module reference for cms"
### Environmental information

PSVersion                      5.1.14393.3053
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.3053
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

Name    : dbatools
Path

[2019-07-23 06:49] sanderstad commented on #4578
This is probably not going to be in RTM for a while.
Especially because the functionality was removed from SSMS.
dbatools has commands for handling this.

Closing the request

[2019-07-23 06:49] #4578 closed

[2019-07-23 10:29] sanderstad commented on #5906
I'm not sure why this happens at your instance. After running the steps this was my result

![image](https://user-images.githubusercontent.com/6154981/61705048-5613d600-ad45-11e9-8084-c9240e709334.png)

[2019-07-23 13:09] tboggiano commented on #4364
Question for 2019 features I should just go ahead and add.  The new CUSTOM query capture mode.  If they are copy settings to a lower version of SQL do we want to say you can't copy settings to this version of SQL Server of display a warning saying that setting was not set and copy the other settings.

[2019-07-23 13:13] wsmelton commented on #4364
I would not add 2019 features until it is RTM.

[2019-07-23 13:17] tboggiano commented on #4364
OK.  Bummer, I'll just save that code for later then.

[2019-07-23 13:20] habibhammy opened #5922 "Get-DbaDbMirror minimal permissions"
Hi DBATOOLS Community,

I'm facing a little issue on the Get-DbaDbMirror command and I would like your help on it.

The issue is permission related. Actually, I've developed a SQL Statistic tool based on PS module and when deploying the InfoSec team in my company pushed us to use granular permissions for the service account running the statistics instead of just granting sysadmin role. Therefore I

[2019-07-23 14:14] wsmelton commented on #4364
If it can be added in a manner that allows it to be commented out, with note "not until RTM" that would be fine by me.

[2019-07-23 15:36] ttoennies commented on #5919
I know you stated that the Set command needs to be rewritten... but it seems like changing the Get command is less problematic... here is an option to consider.

function Get-DbaDbCompatibility {
    <#
    .SYNOPSIS
        Displays the compatibility level for SQL Server databases.
    .DESCRIPTION
        Get the current database compatibility level for all databases on a server or list of datab

[2019-07-23 20:24] davey2412 opened #5924 "[Bug] Get-DbaDBBackupHistory filelist includes dropped files."
### Environmental information

[code]

#### SQL Server:

[code]

### Report

#### Host used

- [ X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

#### Steps to Reproduce

create database test;
GO

USE

[2019-07-23 23:39] simonmckenzie commented on #5906
I wish I knew! I just did a clean run (running version `1.0.23` this time) , following my repro steps, and it still happened. Is there any more diagnostic information you need from me?

![screenshot of invoke plus memory usage](https://user-images.githubusercontent.com/17579442/61754546-f413a900-adf6-11e9-9d87-ea66d0a2583c.png)

[2019-07-24 06:03] hanksithebest opened #5925 "[Question] Can we use New-DbaDatabase to create a database with multiple data file in Primary group ?"
I have tested the different parameters but it's failed.

for example, i would like to create a database DB1 with db101.mdf and db102.ndf  with same file group Primary. but it looks failed

Do your guys have any clue for that ?

[2019-07-24 09:10] hanksithebest commented on #5925
I think the only way to fix this is to create database with TSQL......

[2019-07-24 12:31] wsmelton commented on #5925
Yes the command should support creating a database with multiple files in both primary and secondary file group. However the way it is written does not allow for the primary file group to have multiple, but also has a bug on creating multiple files in a secondary file group (it doesn't actually create the file group).

If you want to submit a bug report with the details required someone can take a

[2019-07-24 12:31] #5925 closed

[2019-07-24 17:31] #5912 closed

[2019-07-24 17:37] potatoqualitee commented on #4578
sounds good ty, what you did was this but better

[2019-07-24 21:56] SQLGB commented on #5374
Commenting to prevent auto-closure after appearance of stale bot.  Issue still exists.  Hopefully it can be addressed in the future?

[2019-07-25 02:11] hanksithebest commented on #5925
I would like to try to adjust the code , could you tell me where i need to change ? i found function new-dbadatabase in all_commands.ps1 and new-dbadatabase.ps1 .  i tried debug and it lead me to all_commands.ps1 , then should i change the code in all_commands.ps1 only ?

[2019-07-25 02:24] wsmelton commented on #5925
You can check out [contributing guide](https://dbatools.io/contribute) if you would like to submit a PR to address the bug.

We combine all the function ps1 files into all_commands.ps1 for the version of the module that we publish to the PowerShell Gallery. To debug the code would be easiest to pull down the repository and work on the individual function file itself.

[2019-07-25 16:47] alevyinroc opened #5927 "Test-DbaLastBackup fails against multiple DBs"
### Environmental information

[code]

Dbatools version:
[code]

#### SQL Server:
[code]
### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

[code]

#### Steps to Reproduce

`Test-DbaLastBackup -SqlInstance MyInstance -Database DB1,DB2 -Verbose`

#### Expected Behavior
Last backups for DB1 & DB2 are restored & tested

#### Ac

[2019-07-25 22:46] mbobke opened #5928 "[Bug]`Test-DbaConnection` authenticating with current Windows account despite `$Credential` being passeddential` and `"
__Please excuse the sanitation that I performed on the outputs below, I didn't want to include company information such as domain and hostnames.__

### Environmental information

[code]

#### SQL Server:

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicat

[2019-07-25 22:47] #5928 closed

[2019-07-25 22:47] mbobke commented on #5928
I'm reopening this on a separate account.

[2019-07-25 22:49] mcbobke opened #5929 "[Bug] Test-DbaConnection uses current Windows account for TcpPort check despite specifying $SqlCredential and $Credential"
__Please excuse the sanitation that I performed on the outputs below, I didn't want to include company information such as domain and hostnames.__

### Environmental information

[code]

#### SQL Server:

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicat

[2019-07-25 22:50] mcbobke commented on #5928
#5929 is the new issue.

[2019-07-26 12:22] habibhammy commented on #5922
Hi,

Sorry to raise this subject again. Can you please give me some help?

Many Thanks.

@potatoqualitee   @niphlod   @wsmelton    @joshcorr

[2019-07-26 18:52] jpomfret opened #5930 "[Bug] Export-DbaScript fails for Extended Events Sessions"
### Environmental information

[code]

Output of `Get-Culture`
[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

[code]

#### Ste

[2019-07-26 19:55] pollusb opened #5931 "[Bug] Export-DbaLogin does not transform single quote in object name"
### Environmental information

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received
The genereted script is invalid because a job name has a single quote in it's name.

#### Steps to Reproduce
Here's a line from the output file which generate the bug while trying to run.
[code]
#### Exp

[2019-07-26 20:52] abjoseph opened #5933 "[Bug] New-DbaAzAccessToken - Non-Existent switch in E.g for Connect-DbaInstance when using AzAccessToken."
### Environmental information

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce

1. Install-Modu

[2019-07-28 22:54] #5930 closed

[2019-07-30 09:24] #5931 closed

[2019-07-31 14:43] jay-butler opened #5939 "[Bug]Import-Module in VS17 produces "Parameter Not Found" error in 1.0.26"
### Environmental information

[code]

#### dbatools Module version:
[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [ ] VS Code
- [x] Other (please specify)
Visual Studio 2017 Community
If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.e

[2019-07-31 14:53] #5924 closed

[2019-07-31 19:57] jay-butler commented on #5939
I have been doing more troubleshooting with this one. I have tried uninstalling dbatools and forcing an install of various older versions. In some cases, VS works, but in most it throws the above errors on Import-Module. Next, I am going to uninstall PowerShell Tools for Visual Studio extension and re-install it.

[2019-07-31 21:31] wsmelton commented on #5939
I use PoshTools but not with VS 2017 so can't verify this right off. I'm on VS 2019 and it has no issues that I have seen.

Do you have the same issue if you repeat your test using PoshTools in VS Code?

[2019-07-31 21:37] nocentino opened #5940 "Backup-DbaDatabase will not take a database object as a parameter for -Parameter [Bug]"
### Environmental information

#### PowerShell version:
[code]
#### dbatools Module version:
[code]

#### SQL Server:
[code]

#### Host used

- [X] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

none

#

[2019-07-31 21:48] wsmelton commented on #5940
This is actually be design and common across commands in the module. Use of that main parameter for a given command is meant to accept an array of values, not a full SMO Object. Your use of capturing the full database object would be akin to piping and would require the use of the `-InputObject` parameter.

These two commands are equivalent...
[code]

[code]

[2019-07-31 21:52] nocentino commented on #5940
Ah, I see. I was confused by the type of the -Database parameter being Object[] and assumed SMO Database Object. Thanks for the quick reply!

[2019-07-31 23:33] sirsql commented on #5927
I am unable to reproduce this issue. Is it possible that some permissions may have been altered on the specific backup folder or files?

TSQL
[code]
PS
`test-dbalastbackup  -SqlInstance localhost -Database Test,Test2 -verbose`

[2019-07-31 23:41] sirsql commented on #5922
@habibhammy  - Couple of questions:

- Have you attempted to not output the information to the variable to see if this throws a specific error?
 - Have you attempted to run profiler on the target with it filtered to the account you are using in an attempt to see what errors get thrown (using with RPC starting/RPC ending, Errors in profiler selection). This might provide more detail on what permiss

[2019-08-01 00:07] sirsql commented on #5895
You are already piping in the computer from Test-DbaPowerPlan into Set-DbaPowerPlan so there is no need to add the -ComputerName parameter.

Try:
`Test-DbaPowerPlan -ComputerName localhost | Set-DbaPowerPlan`
Alternatively you could call
`Set-DbaPowerPlan -ComputerName localhost`
This would change the plan if it needed changing to High Performance, otherwise it would null op.

[2019-08-01 02:14] joshcorr commented on #5922
I would add...
Have you tried running these two lines of code from `Get-DbaDbMirror` under the reduced credentials?

[code]

[2019-08-01 09:17] potatoqualitee commented on #5940
If it failed silently, that's a bug eh

[2019-08-01 09:19] potatoqualitee commented on #5939
@jay-butler - can you install 1.0.26 is any other way? Either via Save-Module or by downloading the nuget and extracting from dbatools.io/gallery? This generally happens when the installer failed.

[2019-08-01 09:26] potatoqualitee commented on #5909
Shawn is correct. If Z is mapped, it's only mapped for the account that created it. Once you've got permissions set properly for the network share, then you'd need to run a `Test-DbaPath` using the credentials of the SQL Server service accounts to ensure they've got access.

[2019-08-01 09:26] #5909 closed

[2019-08-01 15:38] jay-butler commented on #5939
Thanks for the quick responses. @wsmelton I actually did test this on a coworker's machine using VS17 Pro and on my box in PowerShell ISE. But, I did not have VS Code installed on my box yet. @potatoqualitee I went through uninstalling and reinstalling manually as you suggested, but the problem persisted. That got me thinking about what could have changed. I was just making some relatively minor c

[2019-08-01 15:41] habibhammy commented on #5922
Hi all,

Thanks for your suggestions.

@sirsql for your questions :
1-Have you attempted to not output the information to the variable to see if this throws a specific error?
==> yes and no error is coming.
2-Have you attempted to run profiler on the target with it filtered to the account you are using in an attempt to see what errors get thrown (using with RPC starting/RPC ending, Errors in profi

[2019-08-01 16:31] joshcorr commented on #5922
Okay, could you drop the object you are getting for $dbs (and redact it if needed). Think we are having issues with the filter on this cmdlet with the `Where-Object`. Looking at it in my own area as well to confirm.

[2019-08-01 21:26] jay-butler commented on #5939
Issue is resolved. One of the private functions in the _dbatools_ (_Write-Message_) had a name collision with one of the functions in my own module. I had assumed that all _dbatools_ functions used the _Verb-Dba_ prefix convention, but now realize that only applies to the public/exported functions. I changed the naming convention in my own module to prevent further collisions.

[2019-08-01 21:26] #5939 closed

[2019-08-02 08:45] habibhammy commented on #5922
@joshcorr Here is the $dbs object I'm getting with the service account.
[dbs_var.xlsx](https://github.com/sqlcollaborative/dbatools/files/3460375/dbs_var.xlsx)

[2019-08-02 13:58] wsmelton commented on #5940
@potatoqualitee this is the way other commands will handle this as well. It is not a silent failure though.

https://github.com/sqlcollaborative/dbatools/blob/4795e7b2b8827ccfd3ebce664005239e48c11341/functions/Backup-DbaDatabase.ps1#L248-L250

The object being passed in is taken as-is in the filter line and therefore returns nothing.

[2019-08-02 14:01] nocentino commented on #5940
If a tree falls in the woods, does anybody hear it? 🤔

[2019-08-02 14:02] wsmelton commented on #5919
We need to keep the data intact as SMO outputs it just for reference. Another property may be added like `CompatibilityNum` or something, but it is best to handle the Set command to know how to translate it for pipeline support. The set command itself is already mapping the "Version10" pattern to a numeric value, it just not do that for the input object.

[2019-08-02 16:38] joshcorr commented on #5922
Looks like the `MirroringPartner` stuff is NULL because of permissions..

Looking at [Microsoft Docs](https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-database-mirroring-transact-sql?view=sql-server-2017) for the `sys.database_mirroring` objects
[code]

[2019-08-05 02:04] wsmelton commented on #5917
I would expect default behavior to actually wait for the good state to be returned, so I would see this as a bug. However I would see it beneficial to have it tied to a parameter like `-Wait` until it sees that good state. Some builtin commands for PS do this similar behavior. The timing will vary between environments greatly based on hardware, network bandwidth and such; so having it featured aga

[2019-08-05 10:09] wsmelton opened #5944 "New-DbaDirectory missing space on xp proc call"
Space does not exists between the path being passed to the proc and the proc name:

https://github.com/sqlcollaborative/dbatools/blob/cd7a897cf042666e3bdbd18b6fdefb77dd4991fd/functions/New-DbaDirectory.ps1#L81

The Test should be updated as well if it is not already testing this scenario.

[2019-08-05 11:24] andrew-bickerton opened #5945 "Sync-DbaAvailabilityGroup - doesn't connect to Replicas using custom port"
### Environmental information
#### PowerShell version:
[code]

#### dbatools Module version:
[code]

#### SQL Server:
[code]

[code]

### Report
When using Sync-DbaAvailabilityGroup as:
[code]

Response received is:
WARNING: [12:12:44][Sync-DbaAvailabilityGroup] Error occurred while establishing connection to  | Access is denied

Through monitoring I've been able to determine that Sync-DbaAvailabi

[2019-08-05 11:45] wsmelton commented on #5945
This is a bug in SMO that we cannot fix because the port number for secondary instances is not known or available for the data stored for a given replica in SQL Server. We have no way of accurately getting the port number so if you are using custom ports the workaround you provided is the only way it can work.

We may want to add that as an example in the documentation if it is not already to help

[2019-08-05 11:47] wsmelton commented on #5945
Just a small note the SQL Server DSC module has this same issue and actually prevents some cases of building AGs utilizing DSC because of it. (I'm not aware if they have come up with any workaround for it either so far.)

[2019-08-05 12:22] andrew-bickerton commented on #5945
Thanks for the clarification @wsmelton I thought as much (when working with the AG through SSMS, it exhibits similar behaviour - have to connect to each replica individually by going into Custom connections...)

That said, I would say the response of:
[code]
is a minor bug as it doesn't provide details as to what it was trying to connect to and where the failure occurred.

[2019-08-05 15:45] potatoqualitee commented on #5940
can this be fixed by

[code]

[2019-08-05 15:49] usoxster opened #5946 "Build Reference Updates"
How often does the build reference get updated?
I need to apply the latest SQL 2016 & 2017 updates but it appears dbatools-buildref-index.json needs to include the following:
Thanks!

2016:
        {
            "Version": "13.0.5382",
            "KBList": "4510807"
        },
        {
            "Version": "13.0.5426",
            "KBList": "4505830"
        }

2017:
        {
            "Ver

[2019-08-05 15:50] potatoqualitee commented on #5939
excellent news, thanks for the update ⭐️

[2019-08-06 18:05] ClaudioESSilva opened #5948 "[Bug] URL from docs website to GitHub code not correct for the configuration commands"
The https://docs.dbatools.io web site has the link on the bottom that points to here (GitHub) this works perfectly for all commands except for the ones within `Configuration` [folder](https://github.com/sqlcollaborative/dbatools/tree/development/functions/configuration)

For this commands the url points to:
https://github.com/sqlcollaborative/dbatools/tree/development/functions/

but it should be:

[2019-08-06 18:19] wsmelton commented on #5948
Huh, why do we have those in a separated folder?

[2019-08-06 19:11] ClaudioESSilva commented on #5948
Good question @wsmelton .

I also found that `Set-DbatoolsConfig` is not showing up on the docs website

![image](https://user-images.githubusercontent.com/19521315/62569225-49839780-b886-11e9-8fbc-e4ce21154846.png)

[2019-08-06 19:13] wsmelton commented on #5948
Yeah, the set command not showing up is known issue. That command is a cmdlet so the help is in the dbatools library itself. The way we build the data for `Find-DbaCommand` is not picking up the help due to the scoping issues.

[2019-08-06 19:14] ClaudioESSilva commented on #5948
I was to slow editing my previous entry 😄

[2019-08-06 19:17] wsmelton commented on #5948
That ps1 file is just for importing the cmdlet. The code and help for it exists within the dbatools.dll file.

[2019-08-07 00:07] sirsql commented on #5916
@potatoqualitee do you mean the following in Get-SqlInstanceUpdate?
`Write-Message -Message "$($currentVersion.Build) on computer [$($computer)] is already the latest available." -Level Verbose`

[2019-08-07 01:39] #5477 closed

[2019-08-07 01:58] simonmckenzie commented on #5906
This is marked as "need more info" - is there any info which I can give to you in order to aid investigation?

[2019-08-07 02:10] wsmelton commented on #5916
@sirsql that is the right one.

[2019-08-07 11:51] joshcorr commented on #5922
@habibhammy Any word on if this resolved your issue?

[2019-08-07 11:59] joshcorr commented on #4647
Updated list of cmdlets that need resolve-path for core support
[code]

[2019-08-07 12:03] ttoennies opened #5949 "Use of Test-DbaLoginPassword command"
How do I pass a list of bad passwords using the -Dictionary variable?  I created a file that had 3 bad passwords and insured that all of them were used by accounts on different SQL Servers.  I then ran this statement

$BadPasswords = get-content "C:\temp\BadPassword.txt"
Test-DbaLoginPassword -SqlInstance $Inst -Dictionary $BadPasswords

and none of the logins with bad passwords in the BadPassword

[2019-08-07 12:10] habibhammy commented on #5922
Hi,

Sorry for not coming back on this before. I had a lot of workload and I did not had time to test it.

So thanks a lot @joshcorr for your lead. Actually, the **VIEW ANY DATABASE** Permission resolved the problem for me.

Many Thanks.

[2019-08-07 12:10] #5922 closed

[2019-08-07 12:50] wsmelton commented on #4647
@joshcorr you can just update Chrissy's post instead of adding a new one.

As well, it will be cleaner and easier for folks to understand if we simply list the files (single entry per), and then provide the workaround that is required. This way first contributors may be more welcome to join. We need to decide how we are to support xplat paths in our code (which I know some already do, so maybe jus

[2019-08-07 13:02] wsmelton commented on #5949
What does your `BadPassword.txt` file look like?

[2019-08-07 14:03] ttoennies commented on #5949
Thanks very much for getting back to me.

______________________________________________________

Tim Toennies

ttoennies@hotmail.com

618-570-9665

________________________________
From: Shawn Melton <notifications@github.com>
Sent: Wednesday, August 7, 2019 8:02 AM
To: sqlcollaborative/dbatools <dbatools@noreply.github.com>
Cc: Tim Toennies <ttoennies@hotmail.com>; Author <author@noreply.github.

[2019-08-07 17:18] joshcorr commented on #4647
Okay, I was just running the code Chrissy put in the thread. Will clean it up.

[2019-08-08 11:34] #5916 closed

[2019-08-08 12:13] alevyinroc commented on #5927
@sirsql can you try against a remote instance, not `localhost`?

[2019-08-09 02:14] tburnsBB opened #5952 "Write-DbaDataTable can't find database that has - in the name."
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [ ] powershell.exe
- [x ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

writeErrorStream      : True
PSMessageD

[2019-08-09 03:34] wsmelton commented on #5946
This information was already added in #5942

[2019-08-09 03:34] #5946 closed

[2019-08-09 03:41] wsmelton commented on #5946
Regarding how often the file is updated; it is updated as we get around to it and then as releases are pushed to the gallery.

[2019-08-09 03:56] wsmelton commented on #5949
I'm not able to duplicate your issue on SQL Server 2017 with the latest release. My test setup:

[code]

`C:\temp\badpassword.txt` contents:
[code]

![image](https://user-images.githubusercontent.com/11204251/62753109-bbe3ab80-ba2f-11e9-8d65-eb9d30629d3c.png)

[2019-08-09 12:45] yugioh0716 opened #5953 "Export-DbaLinkedServer can't get decrypt password"
### Environmental information
#### Powershell Version

#### Dbatools Version

#### OS Version

#### Domain or WORKGROUP

#### SQL Server:

####Database Engine

### Report
Use Export-DbaLinkedServer can not export file include linked server decrypt password
/* For security reasons the linked server remote logins password is changed with ######## */

I try to use administrator to run Export-DbaLinke

[2019-08-09 13:26] wsmelton commented on #5953
@yugioh0716 this is a best effort attempt to try and decrypt the password. Are you running this locally on the server or from a remote machine? In most environments the only way this works is to run this on the local source server.

[2019-08-09 13:33] yugioh0716 commented on #5953
@wsmelton I running the command in the local source SQL server, and I try to running the command in different SQL Server and get the same issue.

[2019-08-09 14:08] wsmelton commented on #5953
Your information shows you are working on a WORKGROUP computer, not a server part of a domain? If that is true then the method we use to attempt to decrypt the password will not work. There are remote commands in PowerShell that just won't work in a WORKGROUP environment.

[2019-08-09 14:14] yugioh0716 commented on #5953
@wsmelton My SQL Server is standalone installation in Windows Server 2016 not join domain, but I run the command in local source Server, I do not use remote command . The command is not work in workgroup SQL server?

[2019-08-09 14:48] wsmelton commented on #5953
I understand your setup but the method we use account for remote calling of code. In a WORKGROUP machine those commands will not function. So we cannot support decyrpting passwords in a WORKGROUP setup.

[2019-08-09 14:48] #5953 closed

[2019-08-12 15:39] jpomfret commented on #5806
@potatoqualitee, @wsmelton - can this be closed? ExcludePassword param is now available on both Export-DbaLogin and Export-DbaInstance

[2019-08-12 15:43] jpomfret opened #5957 "[Bug] - Export-DbaLogin plural param ExcludeDatabases"
### Environmental information

[code]
### Report

`Export-DbaLogin` parameter is plural, believe it should be changed from `-ExcludeDatabases` to `-ExcludeDatabase`.
Would be a breaking change.

I can go ahead and submit the PR if you want - any special handling for breaking changes like this?

[2019-08-12 15:55] ClaudioESSilva opened #5958 "[Bug] Invoke-DbaDbShrink | -StepSize do not support large values"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce

[code]

#### Ex

[2019-08-12 16:16] wsmelton commented on #5958
Just need to bump up the type of the Parameter to `int64`.

[2019-08-12 16:29] #5806 closed

[2019-08-12 16:50] potatoqualitee commented on #5957
boo thank you. unsure how that got by. yes, please change it to exlcudedatabase then alias to plural 👍

[2019-08-12 17:18] jpomfret commented on #5957
Ok so it's actually a switch... so is plural appropriate here?

[code]

[2019-08-12 17:36] wsmelton commented on #5957
No it should be singular, all parameters are singular.

[2019-08-12 18:06] potatoqualitee commented on #5957
.PARAMETER ExcludeDatabase
        If this switch is enabled, mappings for databases will not be exported.

[Alias("ExcludeDatabases")]
[string[]]$ExcludeDatabase,

oughta do it

[2019-08-12 18:07] potatoqualitee commented on #5806
yes ty 🙇

[2019-08-13 08:19] #5957 closed

[2019-08-13 08:24] potatoqualitee opened #5962 "[Bug] Get-DbaPfDataCollectorSet has issue with remote computers"
[885.03 ms] C:\github\kbupdate> Get-DbaPfDataCollectorSet -ComputerName sql2017
WARNING: [10:23:36][Get-DbaPfDataCollectorSet] Failure | A positional parameter cannot be found that accepts argument 'System.Collections.Hashtable'.
[14.99 ms] C:\github\kbupdate>

[2019-08-13 08:25] potatoqualitee commented on #5962
jk! There's an issue in the current branch

[2019-08-13 08:25] #5962 closed

[2019-08-13 17:38] GuruIwI opened #5964 "[Bug] Get-DbaUserPermission not working on SQL Server with Latin1_General_CI_AI Collation"
### Environmental information

#### PowerShell version:
[code]
#### dbatools Module version:
[code]
#### SQL Server:

[code]
### Report

Noticed this issue on a production DB.
Have tried on multiple servers and able to reproduce the issue on a working test DB by changing the collation.

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other tha

[2019-08-14 02:44] wsmelton opened #5966 "[Bug] New-DbaAzAccessToken broken in PS 6+"
### Environmental information

[code]
### Report

Command fails to run on PowerShell 6.2
#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

#### Errors Received

 System.Management.Automation.PSArgumentException: Cannot find type [PSObjectIRenewableToken]: verify that the assembly containing this type is loaded.
                           at System.Managemen

[2019-08-14 03:31] potatoqualitee opened #5967 "[Bug] SqlCredential doc needs updating across the board"
we now offer more than just windows and sql.

[2019-08-14 03:31] potatoqualitee opened #5968 "[Bug] dbainstanceparameter no longer supports .\instance"

[2019-08-14 10:24] GeorgePalacios opened #5970 "[Bug] Error when using (Connect-DBAInstance).JobServer through Azure Release agent"
### Environmental information

#### dbatools Module version:

Name    : dbatools
Path    : C:\Program Files\WindowsPowerShell\Modules\dbatools\1.0.26\dbatools.psd1
Version : 1.0.26

[code]

#### SQL Server:

[code]

[code]

### Report

I've been tracking this issue for a few weeks now and am at a loss as to how to move this forward.

For a bit of background we're using Azure Pipeline Release Agent

[2019-08-14 10:44] potatoqualitee commented on #5970
Hey George,
I've seen conversations like this before where everything works except jobs.

https://twitter.com/jdanton/status/1148408925558992896

It's always a permissions issue. Try it with a super admin, and see what you get.

[2019-08-14 11:57] GeorgePalacios commented on #5970
Thanks Chrissie - it was permissions after all. The error messages did not indicate this in any way which is why we were confused.

[2019-08-14 11:57] #5970 closed

[2019-08-14 12:21] rishidang200 opened #5971 "Features missing: Install-DbaInstance additional support for client-side tools and Analysis Service"
- Slack Community Channel: https://sqlcommunity.slack.com/messages/C1M2WEASG/ (get an invite: https://dbatools.io/slack/)
- Documentation within the module: `Get-Help <command>`
- Database Administrator on Stack Exchange network, dbatools tag: https://dba.stackexchange.com/questions/tagged/dbatools
- StackOverflow dbatools tag: https://stackoverflow.com/questions/tagged/dbatools

Issue: Features m

[2019-08-14 15:04] wsmelton commented on #5971
We currently do support installation of SSAS. Client Tools I'm not seeing support for that, but I also do not install those on servers (may just be me).

[2019-08-14 15:24] wsmelton commented on #5968
It seems (the way I'm reading) to be from a period being provided that it is local, and switches it to use NP protocol, based on the warning I get:
[code]

https://github.com/sqlcollaborative/dbatools/blob/653f7afcd0b36bfbd0c2f2c14582ae39d852638f/bin/projects/dbatools/dbatools/Parameter/DbaInstanceParameter.cs#L260-L265

[2019-08-14 15:31] rishidang200 commented on #5971
Thanks, Shawn. I am able to install CONN & BC after modifying some of the functions and JSON files.
It gives an option to select the SSAS feature, however, It gets failed with error :
You must provision the system with at least one system administrator (even after running command using sysadmin)

[2019-08-14 15:51] wsmelton commented on #5971
If you have the code to adjust support for client tool installation then you are more than welcome to submit it in a PR for review.

On SSAS, requires system administrator account be provided for the server. This is not sysadmin in SQL Server instance.

[2019-08-14 16:50] rngrr opened #5972 "dbatools cannot connect to WinRM over HTTPS"
Hello,

Out DBA's are having issues running Update-DBAInstance against servers where WinRM only listens on HTTPS. They receive following error:

PS C:\> Update-DbaInstance -ComputerName <Redacted FQDN> -Path <Redacted NetworkShare> -Version SQLXX -Credential Domain\Username -Whatif

WARNING: [09:14:31][Update-DbaInstance] Error while looking for SQL Server installations on <Redacted FQDN> |
Connec

[2019-08-14 17:00] rngrr commented on #5972
Wireshark points to dbatools connecting to 5985 by default (which is http winrm port). if you have both http (5985) and https (5986) - it will work. If you only have https (5986) - it won't work, because it is not even attempting.

[2019-08-14 18:18] potatoqualitee commented on #5972
@ClaudioESSilva - i think you added support for something similar. was it this? if not, would you be able to add it?

[2019-08-14 18:40] potatoqualitee commented on #5968
The issue I think, arose from another request where i asked if the weird WSUS named pipes format could be supported.

There's a duplication of the name

I think the fix is easy, I just haven't had the concentration to fix
![image](https://user-images.githubusercontent.com/8278033/63046893-96ddb580-bed3-11e9-9ad4-dce1b559e021.png)

[2019-08-14 19:38] blinneric opened #5973 "Copy-DBADatabase Performance"
If a Copy-DBADatabase command is called on a instance with many databases, then it doesn't perform well.  I've included the section that causes the most grief at the bottom.

It first creates a temp table with one row per database/backup type combo.  On my largest instance this is over 6000 rows.  It then uses that table in a series of inline select statements.  It consistently runs over 30 second

[2019-08-14 21:31] wsmelton commented on #5973
What command did you pull that T-SQL from?

[2019-08-14 22:25] ClaudioESSilva commented on #5972
Hey @rngrr,

From your description it seems that you need to use the PsRemote option `-UseSSL`.

You can do a test by running a simple remote command using New-PsSession

[code]

The native way to test it is to get the current development brach (we have added this option as a configuration but not yet in the gallery) , import the module and run
[code]
This will make the internal `Invoke-Command2`

[2019-08-14 23:15] wsmelton commented on #5972
@ClaudioESSilva your feature addition was published to the Gallery already. It is available in 1.0.31+ builds.

[2019-08-15 02:17] wsmelton commented on #5973
Appreciate the detailed information however our module does not explicitly execute the T-SQL shown. This is code that is being generated by SMO under the covers, and not something we can control. I will say the performance the module has around instances with database count over 1k can be extreme. In those situations we have no real control and it is something you would have to work around with yo

[2019-08-15 02:17] #5973 closed

[2019-08-15 02:22] blinneric commented on #5973
That is a bummer.  I appreciate your effort in looking at the issue for me.

[2019-08-15 02:24] wsmelton commented on #5967
We do?

[2019-08-15 04:16] wsmelton commented on #5973
Just know some of us feel your pain 😁 ....

[2019-08-15 04:38] wsmelton commented on #1336
Closing this as a good portion of the module runs in PS Core now which can be installed on Linux.

[2019-08-15 04:38] #1336 closed

[2019-08-15 04:58] wsmelton commented on #1656
One thing to consider on reading the Windows Event log is permissions and access. It requires a login access to the server, where reading the ERRORLOG can be done via SQL Login at minimum; or 'sa' account. I'd say we would need to weigh it based on accessibility and common usage.

I'd prefer to use Windows Event log because it is much more efficient and is easier to filter on what you want to find

[2019-08-15 05:06] wsmelton commented on #1796
This command no longer exists. `Copy-DbaAgentSchedule -ScheduleName` should support all schedules.

[2019-08-15 05:06] #1796 closed

[2019-08-15 06:35] potatoqualitee commented on #5967
yes, we offer MFA in azure, sillz

[2019-08-15 06:52] wsmelton commented on #5967
I don't think that would be more than just adding examples. A credential is still a credential.... Or maybe I need to see what you mean by updating the docs :grinning:

[2019-08-15 07:26] potatoqualitee commented on #5967
![image](https://user-images.githubusercontent.com/8278033/63079157-ebb61600-bf3d-11e9-8a40-ec35eb774bf5.png)

Perhaps something like

[2019-08-15 07:59] #5964 closed

[2019-08-15 08:10] ClaudioESSilva commented on #5972
Thanks for the correction!

[2019-08-15 10:35] potatoqualitee opened #5977 "[Bug] ClientAlias"
remove dbaclientalias only outputs last computer's info when multiple are passed

get-dbaclientalias may not work on super old stuf. it returns objects but no values

[2019-08-16 09:46] potatoqualitee commented on #5977
will be fixed in next pr. no idea but the objects with no values

[2019-08-16 09:46] #5977 closed

[2019-08-16 09:47] potatoqualitee commented on #5972
Will close as fixed - just gotta download the newest version and use the recommended approach. Thanks all!

[2019-08-16 09:47] #5972 closed

[2019-08-16 11:03] #5967 closed

[2019-08-16 13:07] rngrr commented on #5972
It works like a charm!!

I tried on 1.0.20 and it worked!

Thank you so much.

[2019-08-16 15:40] potatoqualitee commented on #5701
stalebot it wasnt even open

[2019-08-16 21:03] wsmelton opened #5982 "[New Command] Add-DbaRoleMember for managing membership of server roles"
Will add current logins to the provided roles. Will also include support for the two server roles included in Azure SQL/DW (`dbmanager` and `loginmanager`)

[2019-08-16 21:31] wsmelton commented on #5982
Examples I have so far:

[code]

[2019-08-17 03:59] sqllensman commented on #5952
Hi @tburnsBB

I tried this command using a simple setup like
$svc = Get-DbaService -ComputerName $server
Write-DbaDbTableData -SqlInstance $server -SqlCredential $Cred -Database "db-name-with-dashes" -Table "dbo.table" -InputObject $svc

and this completed without issue

Are you able to run the command using the Verbose switch?

Just before the error you are reporting occurs the Fully Qualified Ta

[2019-08-17 06:57] rishidang200 commented on #5971
Thanks, Shawn. I shall submit it soon. However, for the installation of SSAS, I am providing system admin account.

[2019-08-17 08:05] potatoqualitee commented on #5464
good point bot

[2019-08-17 08:05] #5464 closed

[2019-08-19 14:19] #5982 closed

[2019-08-20 03:39] wsmelton commented on #5948
This has been fixed.

[2019-08-20 03:39] #5948 closed

[2019-08-20 03:53] wsmelton commented on #5927
Your error or warning message shows a named instance, but command to test does not. Can you clarify whether this works on either or is only having issues on named instance?

The only difference with this command being executed locally or remote is how the path is dealt with... If you are using a local path as your message shows I would expect that to have a problem. The remote destination installe

[2019-08-20 12:49] alevyinroc commented on #5927
It definitely fails on named instances. I haven't been able to complete a test against a default instance yet because SMO falls over with the number of databases on that one. Still working on that.

[2019-08-20 19:59] mmaagk642 commented on #5920
Hey guys, can i get an update on this? it is really affecting my ability to log logins from my servers and now that it is over a month without any login info, i would like to see if there was a timeline in getting it fixed.

[2019-08-20 21:41] wsmelton commented on #5920
We've been tied up with work projects and personal life.

If you would like to fix it yourself you are more than welcome to submit a PR. If you want to just fix it locally find and replace `Get-DbaRegServerName` for `Get-DbaRegServer`.

[2019-08-20 22:21] mmaagk642 commented on #5920
Thanks Shawn. I seen the issue and replaced it in the watch-dbadblogin fm and it still wasn’t working. Bit I can dig through the rest of the files and find it and fix it. Thanks for getting back to me so quickly.

Sent from my iPhone

[2019-08-21 08:08] #5944 closed

[2019-08-21 13:16] #5920 closed

[2019-08-21 13:57] potatoqualitee opened #5988 "[Bug] Resolve-NetBiosName is unnecessary and breaks commands in complex envs"
Due to it returning incompelte network names, whatever uses `Resolve-NetBiosName` should either trust the user and use `.ComputerName` or `Resolve-DbaNetworkName` should be used in its place.

[code]

[2019-08-22 06:44] pauby opened #5989 "[Bug] Import-Module fails to import dbatools when it is a RequiredModule in the manifest"
### Environmental information

[code]

Note the dbatools version installed is the one that works for me. I have tried 1.0.0, 1.0.32 and 1.0.34 that don't work.

#### SQL Server:
This isn't related to SQL Server.

### Report

I have a very bizarre issue with dbatools that I'm struggling to understand. I have two modules - module_a and module_b. module_a has module_b as a `RequiredModule` in the man

[2019-08-23 04:28] nvarscar commented on #5914
1) InstancePath (and most other parameters) literally translates to the setup parameters of the native SQL Server installer. I believe, it should be possible to install to the root of the drive - try specifying the path like this: `G:\`. However, I would not recommend it due to disk ACLs being slightly different by default than the folder, which might lead to surprises further on.
As for validatio

[2019-08-23 04:28] #5914 closed

[2019-08-23 14:20] garethnewman commented on #5919
It seems it expects and Smo.Database object, so this for example works:-

`Get-DbaDatabase -SqlInstance localhost\dev2016 -Database master | Set-DbaDbCompatibility -SqlInstance localhost\dev2016 -Database testdb`

I am a noob at this but I think Get-DbaDbCompatibility is outputting a custom object, so I would think Get-DbaDbCompatibility needs to change to output a normal Smo.Database object? Then

[2019-08-23 17:00] kmramsey commented on #5399
Pretty please keep this issue alive.

[2019-08-23 18:16] wsmelton commented on #5399
We need to see the LSNs of those backups because as stated, we do not go by dates on the backups in our commands. We look at whether forks occurred in the backups of any given database:

https://github.com/sqlcollaborative/dbatools/blob/1b58e85313709510577a9695c8ee6dbe5e113bd5/functions/Get-DbaDbBackupHistory.ps1#L262-L293

[2019-08-23 19:19] kmramsey commented on #5399
You guys understand this better than I do. Are you saying this ticket is not needed?  Do you need me to give you something to investigate?

[2019-08-23 19:40] wsmelton commented on #5399
Run the query below on a database you have that is showing "bad" information. If you get any results back that is why the results from our command are going to be inconsistent.
[code]

[2019-08-26 17:04] garyhampson opened #5993 "Install-DbaWhoIsActive needs updating to point to https://github.com/amachanic/sp_whoisactive/releases"
### Summary of new feature

Since Adam Machanic has created a GitHub project for sp_whoisactive, the Install-DbaWhoIsActive function should be repointed to his repo.  (See http://whoisactive.com/downloads/ for notification of move to GitHub)

### Proposed technical details (if applicable)

https://github.com/amachanic/sp_whoisactive/releases

### Latest version of dbatools as of writing

1.0.33

[2019-08-27 08:33] #5993 closed

[2019-08-27 16:42] pauby commented on #5989
@wlansdowne Post code between three backticks - so 3 backticks, newline, post your code, newline, 3 backticks.

[2019-08-27 19:41] akirasankun opened #5997 "[Bug] Invoke-DbaQuery - return master database used command GO"
[code]

[2019-08-27 20:28] #5997 closed, assigned to nobody

[2019-08-27 22:07] SQLGB opened #5998 "Get-DbaCmObject: Possible error handling issue / never-ending loop"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce

[code]

[2019-08-28 08:17] sanderstad commented on #5871
The command was originally written for the situation that you have to fail over because the primary is not available.
I wonder in which situation you would want to use it in a way that the primary is still active? Maybe in a migration scenario?

[2019-08-28 08:21] sanderstad commented on #5278
I'm exploring this scenario and I don't thinks there is such a big latency in there if done correctly.
What I would like to do is, in case the blob storage is being used, is to copy the files to the local server in the backup job on the primary and the copy job on the secondary.
It does involve a lot of working parts though and this will not be an easy feature, but I'll get it to work.

[2019-08-28 20:35] SQLGB opened #6003 "Get-DbaService may return duplicate results when multiple SSRS instances exist"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

### Report

#### Host used

- [x] powershell.exe
- [x] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

[code]

#### Steps to Reproduce

When MyServer e

[2019-08-28 23:14] sirsql commented on #5887
@ClaudioESSilva any concerns if I pick this up off your plate?

[2019-08-29 05:22] ClaudioESSilva commented on #5887
No @sirsql . Go ahead.
Thanks

[2019-08-29 13:01] wsmelton commented on #6003
Please run the command with verbose output and append that to your post.

[2019-08-29 14:49] SQLGB commented on #6003
@wsmelton Inserted -verbose output into "Actual Behavior" section above.

[2019-08-29 15:38] jmwithers1986 opened #6004 "[Feature] Ability to set permissions on a custom server-level role or database role"
First, i would like to say big thanks all those involved in DBATOOLS!

I've used quite a few of the different commands now but i seem to of come across one that doesn't exist.

I used New-DbaDbRole to create a custom database role but i can't see a parameter or another command to assign permissions to that role i.e. GRANT EXECUTE TO db_executor.

Instead, I had to use SQLCMD::
Invoke-Sqlcmd -Serve

[2019-08-29 15:48] jmwithers1986 commented on #6004
First, i would like to say big thanks all those involved in DBATOOLS!

I've used quite a few of the different commands now but i seem to of come across one that doesn't exist.

I used New-DbaDbRole to create a custom database role but i can't see a parameter or another command to assign permissions to that role i.e. GRANT EXECUTE TO db_executor.

Instead, I had to use SQLCMD::
Invoke-Sqlcmd -Serve

[2019-08-29 18:15] wsmelton commented on #6004
@jmwithers1986 at this time we do not have any commands for setting permissions on a given role/login/user.

[2019-08-29 20:19] jmwithers1986 commented on #6004
Shame, I'll have to use SQLCMD for now.
Keep up the good work!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shawn Melton <notifications@github.com>
Sent: Thursday, August 29, 2019 7:16:01 PM
To: sqlcollaborative/dbatools <dbatools@noreply.github.com>
Cc: Jay Withers <withersj888@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [sqlcollabora

[2019-08-29 20:20] dylan-azucena opened #6006 "Sync-DbaLoginPermission - Kerberos error when passing SQL login credentials"
### Environmental information

[code]

#### SQL Server:

[code]

### Report

When running `Sync-DbaLoginPermission` with valid SQL login credentials for source and destination:
[code]

#### Host used

- [ ] powershell.exe
- [ ] ISE
- [x] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] S

[2019-08-29 23:54] wsmelton commented on #6004
Why would you need to use `Invoke-Sqlcmd`? Note that using dbatools and sqlserver module together will give you various issues on our module, they do not play well together in the same session.

You can always use `Invoke-DbaQuery` to run one-off queries or SQL files.

[2019-08-30 10:27] schittli opened #6007 "-force would be useful for Restore-DbaDatabase"
**Thanks a lot for this really great PowerShell Module!,**
while T-SQL still behaves like a decades-old technology, dbatools brings a refreshing breeze into the SQL Server world.
I hope that you are paid by Microsoft, because dbatools brings a great product improvement, which is essential when choosing a modern DB Server.

### Summary of new feature

Because most PowerShell commands support `-forc

[2019-08-30 15:35] wsmelton commented on #6007
While this is true implementing `Force` parameter in restore command itself is difficult to implement. When you look at all the operations we handle in doing the restore and the various situations that can prevent any of those operations from completing; becomes a large task to maintain and ensure consistency. Not exactly simply like overwriting a file or just dropping a snapshot.

[2019-08-30 17:35] schittli commented on #6007
Thank you very much for your appraisal of this suggestion!

[2019-08-30 19:24] cfradenburg opened #6008 "Invoke-DbaQuery doesn't use credential if DbaInstance used[Bug]"
### Environmental information

[code]

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [X] powershell.exe
- [ ] ISE
- [X] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [ ] Still buggy in powershell.exe

#### Errors Received

#### Steps to Reproduce

PS C:\> whoami

[2019-08-30 20:21] cfradenburg commented on #6008
I took a look at this and the `GetDatabaseConnection` method on lines 281 and 315 drop the credential.  I think replacing that with the following will fix it but I won't have time to test it today.

[code]

[2019-08-30 22:31] wsmelton commented on #6008
That method doesn't drop it, the purpose of that is to get the connection string with the database included.

We had to implement this for some reason around Azure if I recall, but can remember.

Any change made has to ensure this function still works against Azure SQL...just FYI.

[2019-09-02 14:37] mjbarlow1985 opened #6010 "Copy-DbaDatabase "ALTER DATABASE" error when specifying -NewName [Bug]"
### Environmental information

[code]

#### SQL Server:

[code]

[code]

### Report

#### Host used

- [x] powershell.exe
- [ ] ISE
- [ ] VS Code
- [ ] Other (please specify)

If anything other than powershell.exe was used, please confirm that you can duplicate the issue with powershell.exe

- [x] Still buggy in powershell.exe

#### Errors Received

User does not have permission to alter database

[2019-09-02 20:04] JoDouglass commented on #5365
I _think_ this is actually a pretty easy fix, but I know very, very little about configuration.ps1, so I don't want to submit this as an edit without checking...

I consistently get this error if I'm using a non-interactive account as a proxy in the SQL Server Agent to run any PoSh script. It doesn't seem to cause any problems, but it gunks up the agent history and has confused my colleagues a few

[2019-09-02 20:20] wsmelton commented on #5365
It won't be something we can skip using if the variables don't return anything. The paths are required for persisting some data we use and the DLL is also written to the profile of the account using the module.

It will take a bit more than just checking if they have a path before using them, we have to replace them with something else.

[2019-09-02 20:26] JoDouglass commented on #5365
It's already doing that - it just does it in the wrong order, I think. Currently it does this:
Try standard method > fail > check if null > use alternative

I'm suggesting this:
Check if null > use alternative

Either way, if $Env:LocalAppData and $EnvAppData are not null, they will be used. And if they are null, [Environment]::GetFolderPath("LocalApplicationData") and [Environment]::GetFolderPath

[2019-09-02 22:55] wsmelton commented on #5365
Steps to reproduce on local dev machine, which don't think we would be able to duplicate this in Appveyor (or even Actions):

1. Create Windows Login
2. Open `gpedit.msc`
3. Add login to following: `Computer Configuration > Windows Settings > Security Settings > Local Policies > User Rights Assignment > Deny log on locally`
4. Create Credential for this login in SQL Server:

[code]
5. Create SQL A

[2019-09-02 23:39] wsmelton commented on #5365
@JoDouglass in a non-interactive login `$env:LOCALAPPDATA` and `[Environment]::GetFolderPath("LocalApplicationData")` are both going to be null. Those are profile specific paths. A non-interactive login means it is denied local login and hence neither of those paths are going to exists.

Further testing. The issue this causes is a non-interactive login, one denied local access, literally means it

[2019-09-03 07:47] JoDouglass commented on #5365
Oh, weird - I tested yesterday and [Environment]::GetFolderPath("LocalApplicationData") and [Environment]::GetFolderPath("ApplicationData") both worked - they pointed to C:\Users\Default\AppData.

I'll double check and make sure no one's fiddled the account I was testing with, it was non-interactive but maybe someone has changed it.

[2019-09-03 07:53] wsmelton commented on #5365
We definitely do not want to use `C:\Users\Default`. That is a template for any new user profile on a given machine. Anything you put in there will end up in every profile on the machine.

[2019-09-03 08:27] firthro opened #6011 "Could you please include the minimum DB permissions required for users to execute the commands"
I wish to grant the team who patch SQL Server the righr permissiosn to evaluate the health of the server before and after using DBATools.  To that end is it possible to include the minimum permissions for commands such as Get-DbaAvailabilityGroup , please.

[2019-09-03 08:33] wsmelton commented on #6011
I'm afraid that is not realistic for us to accomplish. We utilize SMO and in order to know the exactly list of permissions required to run any given commands would take an enormous effort.

In most situations SMO is querying DMVs and majority of those require permissions like `VIEW ANY DEFINITION` or `VIEW ANY DATABASE`. I can only suggest starting with those and testing through each one.

[2019-09-03 08:42] firthro commented on #6011
Thanks for the quick reply.

I had applied the basics, added the groups as user to every database, plus the below.  I’ll try further.

USE master
GRANT VIEW SERVER STATE TO [xyz\group]
GRANT EXECUTE on sys.xp_readerrorlog  TO [xyz\group]
GRANT EXECUTE on sys.xp_enumerrorlogs TO [xyz\group]

USE [msdb]
GO
EXEC sp_addrolemember N'SQLAgentReaderRole', N'[xyz\group]
'
EXEC sp_addrolemember N'db_datare

[2019-09-03 10:17] JoDouglass commented on #5365
Ouch, I did not know that, thanks for the heads up. Think I need to have a chat about how we're setting up service accounts here.

The other issue I have at the moment is that the account I was initially trying to use isn't an Administrator, and not being able to write into C:\Windows\Temp is breaking some functions. I've given the account read/write permissions to that folder, and the script now

[2019-09-03 14:40] mjbarlow1985 commented on #5998
This sounds very similar to an issue i have running  Get-DbaWsfcCluster. This in turn runs Get-DbaCmObject  -Namespace root\MSCluster -ClassName MSCluster_Cluster. It just hangs. Whilst i suspect there may be an issue on the machine. I cant handle it because it just hangs. My job has unintentionally ran for days over the weekend, it would just not stop.  Ill keep my eye on this....

[2019-09-03 15:42] SQLGB commented on #5998
@mjbarlow1985 Nice to know it's not just me.

I scanned the "allcommands.ps1" file and found references to Get-DbaCmObject in 35 commands / functions (some of which are "external helper" functions); potentially all would be impacted by the reported issue:
[code]

[2019-09-03 16:42] wsmelton commented on #5998
I'm not aware of any method in CIM to track that a server is allowing connection but not responding in a proper way.

@FriedrichWeinmann may know how we can better handle this situation.

[2019-09-03 17:54] FriedrichWeinmann commented on #5998
Well ... it sure is a bug in Get-DbaCmObject and I'll look into it right away.
@SQLGB: Thank you for the very thorough description, much appreciated and it will help :)

Just for reference: The 15 minutes timeout is something slightly different:
By default, when all connections fail, it marks the server as unreachable. If you try to connect to it again right away (as many of our more complex comma

[2019-09-03 18:06] FriedrichWeinmann commented on #5998
Found the issue. And the culprit was ... me, alas :(
When I was dealing with the last error handling problem I did a full refactor of the error classification and for hell's sake forgot to include a default action.
So whenever it would have an unaccounted for error - I accounted for every single error code in the CIM system, so it'd take some issue outside of it, as this one was - it would have ju

[2019-09-03 18:26] SQLGB commented on #5998
@FriedrichWeinmann Thanks for the status update and your quick response to the issue!

[2019-09-04 01:32] #6011 closed

[2019-09-04 01:34] wsmelton commented on #6003
@SQLGB Fred just fixed a bug in the CIM command that may have attributed to this issue...or at least I'd like to confirm. Can you pull the latest from dev and try the command against this server for me?

[2019-09-04 03:10] SQLGB commented on #6003
@wsmelton FYI, this is the first time I've tried doing a manual download and install of the dev branch, but I'm pretty sure I did it correctly.  However, the revisions to Get-DbaCmObject seem to help neither the issue I reported via 5998 or have any impact on this issue.  I'll be happy to try to test again tomorrow if you've got any tips or suggestions, or perhaps it would be easier if the Get-Dba

[2019-09-04 04:53] wsmelton commented on #6003
So importing only the psd1 from the download, the issue still exists?

[2019-09-04 04:59] SQLGB commented on #6003
@wsmelton I’ll try that in the morning.  Earlier I downloaded the entire dev branch zip and used that.  I did see the new code in the error handling section, but as I mentioned earlier, it didn’t seem to help with the issue.

[2019-09-04 05:27] wsmelton commented on #5998
Reopening after talking with SQLGB via another issue #6003 (think these are related in some fashion based on the output.

[2019-09-04 16:01] SQLGB commented on #6003
@wsmelton Might need some help / clarification here.  While importing only the psd1 this morning, I noticed that the Get-DbaCmObject code in allcommands.ps1 does not match the code in Get-DbaCmObject.ps1 -- shouldn't they be the same?

[2019-09-04 16:05] cfradenburg commented on #6008
If I call `$server.ConnectionContext.Copy()` the ConnectAsUsername is preserved (at least in ad hoc code, it appears to drop it if I call it inside the function) but doing `$server.ConnectionContext.Copy().GetDatabaseConnection($Database)` removes that.  I follow the intent but I think there's an unwanted side effect there.

Everything I've tried either doesn't allow the database name to be change

[2019-09-04 16:11] SQLGB commented on #6003
@wsmelton My prior comment was based on dev branch state as of about 14 hours ago; I see that 1.0.39 has been released since that time; testing that now.

[2019-09-04 16:19] SQLGB commented on #6003
@wsmelton Good and bad news.  Release 1.0.39 fixes issue 5998, but has no impact on 6003.

[2019-09-04 16:23] SQLGB commented on #5998
@wsmelton I think you can re-close 5998; release 1.0.39 appears to have resolved this issue based on my initial tests.  The output below is an example of Get-DbaCmObject now recognizing a failure with Cim over WinRM and then moving on to the next option:

[code]

[2019-09-04 19:31] wsmelton commented on #6003
When you use the module from the repository `allcommands.ps1` is not used and will not match. That file is only rebuild for pushing to master.

[2019-09-04 19:33] #5998 closed

[2019-09-04 19:44] SQLGB commented on #6003
@wsmelton OK, thanks.

I realize I'm getting a little off the topic and intent of this issue report, but, if I download the dev zip file, unzip it, rename the folder to dbatools, copy it to...
[code]
... then import via...
[code]
... should that allow me to successfully use that dev code, or am I missing something here?  Because that's essentially what I did last night, and it seemed like the revi

[2019-09-04 19:46] wsmelton commented on #6003
You can just download and extract to `C:\temp` if you want, then just do `Import-Module C:\temp\dbatools.psd1`.

[2019-09-04 19:50] wsmelton commented on #6003
I do not have a machine with SSRS installed right now so will have to get one setup before I can work and debug the command with this one. I know we had to adjust this command for SSRS 2016 because it went to a standalone install, the ComputerManagement you get with SQL Server 2016 does not have the ability to detect it anymore.

[2019-09-04 19:53] SQLGB commented on #6003
@wsmelton Yeah, I recall that; I'm the one who logged issue https://github.com/sqlcollaborative/dbatools/issues/3349.

[2019-09-04 22:36] Chago2016 opened #6014 "Get-DbaDbBackupHistory produces error when acting on case-sensitive instance"
### Environmental information

[code]
#### SQL Server:
Microsoft SQL Server 2016 (SP1) (KB3182545) - 13.0.4001.0 (X64)   Oct 28 2016 18:17:30   Copyright (c) Microsoft Corporation  Developer Edition (64-bit) on Windows Server 2016 Datacenter 6.3 <X64> (Build 14393: ) (Hypervisor)

### Report

Running Get-DbaDbBackupHistory against an instance with a case-sensitive collation issues two errors befor